@media(max-width: 1690px) {
    .spec-title_text {
        padding-left: 100px;
    }
}
@media(max-width: 1380px) {
    .header-logo {
        -ms-flex: 0 0 34%;
        flex: 0 0 34%;
        max-width: 34%;
    }
    .header-links {
        -ms-flex: 0 0 66%;
        flex: 0 0 66%;
        max-width: 66%;
    }
    .header-list {
        font-size: 14px;
    }
    .main-right {
        display: none;
    }
    .main-left {
        -ms-flex: 0 0 34%;
        flex: 0 0 34%;
        max-width: 34%;
    }
    .main-center {
        -ms-flex: 0 0 66%;
        flex: 0 0 66%;
        max-width: 66%;
    }
    .spec-image {
        max-height: 34px;
        top: 5px;
    }
}
@media(max-width: 1120px) {
    .header-list {
        font-size: 12px;
    }
    .main-left {
        display: none;
    }
    .main-center {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media(max-width: 992px) {
    .header-image {
        width: 100%;
    }
    .header-list {
        justify-content: flex-start;
    }
    .header-item {
        width: 25%;
    }
    .footer-list {
        display: block;
        text-align: center;
    }
}
@media(max-width: 768px) {
    .header-logo {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .header-image {
        max-width: 300px;
    }
    .header-links {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .header-wrap {
        float: none;
    }
    .header-list {
        display: block;
        text-align: left;
    }
    .header-item {
        width: 100%;
    }
    main {
        background-image: none;
    }
    main .content {
        padding: 0;
    }
    .double-two {
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .two-item {
        width: 100%;
        margin: 10px 15px;
    }
    .double-sec .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .newszp {
        margin: 10px 0;
    }
    .spec-title h2 {
        padding-left: 100px!important;
    }
    .footer-list {
        display: none;
    }
    .footer-copy {
        margin-top: 20px;
        font-size: 14px;
    }
}
@media(max-width: 425px) {
    .spec-image {
        display: none;
    }
    .spec-title h2 {
        padding-left: 0!important;
    }
    .useful-item {
        width: 100%;
    }
}