/* Fonts 
    LeagueSpartan Bold - Sans Serif
    PlayfairDisplay Bold -  serif;
    PlayfairDisplay Regular -  serif;
    Poppins Light - sans-serif;
*/
@font-face {
    font-family: 'LeagueSpartan-Bold';
    src: url(../fonts/LeagueSpartan-Bold.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins-Light';
    src: url(../fonts/Poppins-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Main */
body {
    font-family: 'Poppins-Light', Arial, Helvetica, sans-serif;
}
.content {
    max-width: 1390px;
    padding: 0 25px;
    margin: 0 auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, strong, b {
    font-family: 'PlayfairDisplay-Regular', 'Times New Roman', Times, serif;
}
h2 {
    font-size: 62px;
    padding: 0;
    margin: 10px 0;
}
.hidden {
    visibility: hidden;
    width: 0;
    padding: 0;
    margin: 0;
    height: 0;
}
.text-center {text-align: center;}

/* Header */
header {
    margin: 20px 0;
}
/* Menu */
.header-body {
    display: flex;
    align-items: center;
}
.nav-list {
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'LeagueSpartan-Bold', Arial, Helvetica, sans-serif;
    display: flex;
    margin-left: 150px;
}
.nav-item {
    margin: 10px 20px;
}
.nav-link {
    color: #0b0c11;
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
    color: #0b0c11;
    text-decoration: underline;
}

/* Sections */
.escape-item {
    padding-left: 240px;
    align-items: center;
    position: relative;
}
.escape-text {
    position: absolute;
    top: 320px;
    width: 600px;
    left: 0;
}
.escape-picture {
    min-width: 100%;
}
.escape-small {
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #5da8ef;
}
.escape-image {
    box-shadow: 
    -15.898px 25.441px 65px 0px rgba(11, 12, 17, 0.278);
    width: 100%;
}
.escape-descr {
    font-size: 14px;
    color: #8f8f8f;
}
.quote {
    font-size: 26px;
    text-align: center;
    margin-top: 150px;
}
.quote-author {
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333333;
    margin-top: 20px;
    text-align: center;
    background-image: url(../img/quote-author-bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 150px;
    margin-bottom: 40px;
}
.more-body {
    display: flex;
    margin-top: 100px;
}
.more-left_image {
    height: 370px;
    width: 600px;
}
.more-left_text {
    font-size: 14px;
    color: #616161;
    max-width: 550px;
    margin: 50px;
}
.more-button {
    margin-top: 20px;
}
.more-link {
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid #8cc1f3;
    color: #333333;
    font-size: 9px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    font-family: 'LeagueSpartan-Bold', Arial, Helvetica, sans-serif;
}
.more-link:hover,
.more-link:focus {
    border-bottom: 1px solid transparent;
}
.more-right {
    position: relative;
    top: -50px;
}
.more-right-img {
    box-shadow: 
    -2.121px -2.121px 35px 0px rgba(0, 0, 0, 0.275);
}
.more-right_play {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 220px;
}
.shop {
    background-image: url(../img/shop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 120px 0;
}
.shop-small {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.shop-title {
    font-size: 26px;
    margin: 0;
    padding: 0;
    font-family: 'PlayfairDisplay-Regular', 'Times New Roman', Times, serif;
}
.shop-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-item {
    display: flex;
    align-items: center;
    margin: 20px;
}
.shop-price {
    font-size: 20px;
    color: #ce60a8;
    margin-top: 30px;
}
.shop-link {
    text-decoration: none;
    color: #333333;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'LeagueSpartan-Bold', Arial, Helvetica, sans-serif;
}
.shop-link:hover,
.shop-link:focus {
    text-decoration: underline;
}
.shop-all {
    margin-top: 20px;
}
.shop-more {
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid hsl(209, 81%, 75%);
    color: hsl(0, 0%, 20%);
    font-size: 9px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    font-family: 'LeagueSpartan-Bold', Arial, Helvetica, sans-serif;
}
.shop-more:hover,
.shop-more:focus {
    border-bottom: 1px solid transparent;
}
.point {
    background-image: url(../img/point-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 60px 0;
}
.point-body {
    display: flex;
}
.point-body-second {
    width: 70%;
    margin: 120px auto 90px auto;
}
.point-text {
    padding: 50px;
    font-size: 14px;
    color: #616161;
}
.point-num {
    line-height: 1;
    font-size: 120px;
    color: #f8f8f8;
    font-family: 'LeagueSpartan-Bold', Arial, Helvetica, sans-serif;
}
.point-title {
    margin-top: -40px;
    margin-bottom: 40px;
    font-size: 42px;
    color: #333333;
    font-family: 'PlayfairDisplay-Bold', 'Times New Roman', Times, serif;
    background-image: url(../img/point-title-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding-bottom: 10px;
}
.point-text-left {
    order: -1;
}
.point-more {
    margin-top: 40px;
}
.point-link {
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid hsl(209, 81%, 75%);
    color: hsl(0, 0%, 20%);
    font-size: 9px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    font-family: 'LeagueSpartan-Bold', Arial, Helvetica, sans-serif;
}
.point-link:hover,
.point-link:focus {
    border-bottom: 1px solid transparent;
}
.point-picture {
    position: relative;
}
.point-picture-decor {
    color: #616161;
    font-family: 'LeagueSpartan-Bold', Arial, Helvetica, sans-serif;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px 0;
    position: absolute;
    left: -60px;
    top: 25px;
    transform: rotate(-90deg);
}
.point-picture-decor2 {
    position: absolute;
    right: -60px;
    top: 25px;
    left: auto;
}
.point-result {
    letter-spacing: 2px;
    color: #616161;
    margin-top: 20px;
    text-align: center;
    background-image: url(../img/quote-author-bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 150px;
    margin-top: 30px;
    font-size: 14px;
}
.result-title {
    padding: 0;
    margin: 0;
    font-size: 42px;
    font-family: 'PlayfairDisplay-Bold', 'Times New Roman', Times, serif;
}
.point-descr {
    margin: 20px 0;
}
.point-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.point-field {
    padding: 0 20px;
    width: 600px;
    height: 50px;
    text-transform: uppercase;
    background-color: #f5f5f5;
    border: 1px solid #efefef;
}
.point-buttom {
    background-image: none;
    background-color: #5da8ef;
    width: 52px;
    height: 52px;
    border: 1px solid #5da8ef;
    cursor: pointer;
}
.camp {
    margin-top: 80px;
}
.camp-body {
    display: flex;
    align-items: center;
}
.camp-text {
    margin-left: 50px;
}
.camp-small {
    color: #616161;
    font-family: 'LeagueSpartan-Bold', Arial, Helvetica, sans-serif;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 10px 0;
}
.camp-adress {
    margin: 50px;
    font-size: 32px;
    font-family: 'PlayfairDisplay-Bold', 'Times New Roman', Times, serif;
}
.camp-link {
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid hsl(209, 81%, 75%);
    color: hsl(0, 0%, 20%);
    font-size: 9px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    font-family: 'LeagueSpartan-Bold', Arial, Helvetica, sans-serif;
}
.camp-link:hover,
.camp-link:focus {
    border-bottom: 1px solid transparent;
}

/* Footer */
footer {
    margin: 80px 0;
}
.footer-list {
    justify-content: center;
    margin: 20px 0;
}
.social-list-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.soclal-item {
    margin: 10px; 
}
.author-link {
    text-decoration: none;
    border-bottom: 1px solid hsl(209, 81%, 75%);
    color: hsl(0, 0%, 20%);
    letter-spacing: 2px;
    padding-bottom: 5px;
}
.author-link:hover,
.author-link:focus {
    border-bottom: 1px solid transparent;
}
