//----------------------------------------------------//
// ICONS											  //
//----------------------------------------------------//
/* DEFAULT */
.icon-tooltip {
	@include sprite($tooltip-white);
}
.icon-tooltip-violet {
	@include sprite($tooltip-violet);
}
.icon-tooltip-gray {
	@include sprite($tooltip-gray);
}
.icon-after-info {
	@include sprite($arrow-violet-right-small);
}


.icon-search-gray {
	@include sprite($search-gray);
}


.icon-soc-vk {
	@include sprite($soc-vk-white);
}
.icon-soc-fb {
	@include sprite($soc-fb-white);
}
.icon-soc-tw {
	@include sprite($soc-tw-white);
}
.icon-soc-inst {
	@include sprite($soc-inst-white);
}
.icon-soc-odn {
	@include sprite($soc-odn-white);
}

.icon-soc-vk-gray {
	@include sprite($soc-vk-gray);
}
.icon-soc-fb-gray {
	@include sprite($soc-fb-gray);
}
.icon-soc-tw-gray {
	@include sprite($soc-tw-gray);
}
.icon-soc-inst-gray {
	@include sprite($soc-inst-gray);
}
.icon-soc-odn-gray {
	@include sprite($soc-odn-gray);
}

.icon-menu-gray {
	@include sprite($menu-gray);	
}
.icon-mail-gray {
	@include sprite($mail-gray);	
}
.icon-help-gray {
	@include sprite($help-gray);	
}
.icon-user-gray {
	@include sprite($user-gray);	
}

.icon-phone-white-large {
	@include sprite($phone-white-large);
}
.icon-mail-white-large {
	@include sprite($mail-white-large);
}
.icon-mail-white-medium {
	@include sprite($mail-white-medium);
}
.icon-mail-pink-medium {
	@include sprite($mail-pink-medium);
}
.icon-time-white-large {
	@include sprite($time-white-large);
}
.icon-place-white-large {
	@include sprite($place-white-large);
}

.icon-checked-white {
	@include sprite($checked-white);
}
.icon-checked-pink {
	@include sprite($checked-pink);
}

.icon-heart-white {
	@include sprite($heart-white);	
}
.icon-heart-gray {
	@include sprite($heart-gray);
}
.icon-heart-gray-medium {
	@include sprite($heart-gray-medium);
	opacity: 0.57;
}
.icon-heart-pink {
	@include sprite($heart-pink);	
}

.icon-agency-letter-white {
	@include sprite($agency-letter-white);
}
.icon-agency-letter-pink {
	@include sprite($agency-letter-pink);	
}

.icon-education-gray {
	@include sprite($education-gray);
}

.icon-arrow-gray-bottom-toright {
	@include sprite($arrow-gray-bottom-toright);
}
.icon-arrow-gray-top-toright {
	@include sprite($arrow-gray-top-toright);
}
.icon-arrow-round-violet-left {
	@include sprite($arrow-round-violet-left);
}

.icon-arrow-left-white-small {
	@include sprite($arrow-left-white-small);
}
.icon-arrow-right-white-small {
	@include sprite($arrow-right-white-small);
}
.icon-arrow-left-gray-small {
	@include sprite($arrow-left-gray-small);
}
.icon-arrow-right-gray-small {
	@include sprite($arrow-right-gray-small);
}

.icon-arrow-left-gray {
	@include sprite($arrow-left-gray);	
}
.icon-arrow-right-gray {
	@include sprite($arrow-right-gray);	
}

.icon-star-gray {
	@include sprite($star-gray);		
}

.icon-member {
	@include sprite($member);
}
.icon-exclude-pink {
	@include sprite($exclude-pink);	
}

.icon-notdoing {
	@include sprite($notdoing);
}
.icon-doing {
	@include sprite($doing);
}
.icon-doing-blue {
	@include sprite($doing-blue);
}
.icon-notdoing-blue {
	@include sprite($notdoing-blue);
}
.icon-formoney {
	@include sprite($formoney);
}

.icon-play {
	@include sprite($play);
}

.icon-soc-btn-fb-white {
	@include sprite($soc-btn-fb-white);
}
.icon-soc-btn-odn-white {
	@include sprite($soc-btn-odn-white);
}
.icon-soc-btn-vk-white {
	@include sprite($soc-btn-vk-white);
}
.icon-warning-round-violet {
	@include sprite($warning-round-violet);	
}
.icon-arrow-toright-gray {
	@include sprite($arrow-toright-gray);
}
.icon-arrow-toright-pink {
	@include sprite($arrow-toright-pink);
}
.icon-lock-black-small {
	@include sprite($lock-black-small);
}
.icon-close-red {
	@include sprite($close-red);
}
.icon-close-white {
	@include sprite($close-white);
}
.icon-map-ico {
	@include sprite($map-ico);
}
.icon-eyes-close-gray {
	@include sprite($eyes-close-gray);
}
.icon-eyes-open-gray {
	@include sprite($eyes-open-gray);
}
.icon-info-blue {
	@include sprite($info-blue);
}
.icon-comment-white {
	@include sprite($comment-white);
}
.icon-soc-odn-small {
	@include sprite($soc-odn-small);
}
.icon-soc-fb-small {
	@include sprite($soc-fb-small);
}
.icon-pay-qiwi {
	@include sprite($pay-qiwi);
}
.icon-pay-yandex {
	@include sprite($pay-yandex);
}
.icon-pay-visa {
	@include sprite($pay-visa);
}
.icon-pay-bank {
	@include sprite($pay-bank);
}
/* DEFAULT END */

/* STYLES */
.icon-offer {
	width: 39px;
	height: 39px;
	border-radius: 50%;
	background: $gray5;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 11px;
		top: 7px;

		@include sprite($fingerup-white);
	}
}
.icon-round-checked-green {
	position: relative;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	background: $green3;

	&:before {
		content: '';
		position: absolute;
		left: 11px;
		top: 3px;

		@include sprite($checked-white-large);
	}
}
/* STYLES END */

.lk-nav-user-ico {
	width: 22px;
	height: 22px;
}
.lk-nav-anketa-ico {
	width: 19px;
	height: 22px;
}
.lk-nav-calendar-ico {
	width: 19px;
	height: 19px;
}
.lk-nav-case-ico {
	width: 21px;
	height: 19px;
}
.lk-nav-heart-ico {
	width: 22px;
	height: 19px;
}
.lk-nav-star-ico {
	width: 24px;
	height: 21px;
}
.lk-nav-like-ico {
	width: 16px;
	height: 18px;
}
.lk-nav-mail-ico {
	width: 22px;
	height: 18px;
}
.lk-nav-pay-ico {
	width: 25px;
	height: 18px;
}
.lk-nav-info-ico {
	width: 23px;
	height: 23px;
}
.plus-ico {
	width: 28px;
	height: 28px;
}
.edit-ico {
	width: 17px;
	height: 17px;
}
.vk-ico {
	width: 28px;
	height: 16px;
}
.smile-happy-ico {
	width: 21px;
	height: 21px;
}
.smile-sad-ico {
	width: 21px;
	height: 21px;
}

.photo-load-ico {
	width: 33px;
	height: 21px;
}