@@include('template/layout/head.html')
<body ontouchstart>
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper-main">
	<div class="wrapper">
		@@include('template/layout/header-loginned-with-search.html') 

		<!-- content -->
		<div class="content" role="main">
			<!-- profile -->
			<div class="profile js-fix-cont-pro">
				<div class="container">
					<!-- profile__left -->
					<div class="profile__left">
						<!-- profile__image -->
						<div class="profile__image js-max-top-block-pro">
							<img src="pic/agency-full/agency-full-01.jpg" alt="" class="profile__image-img">
						</div>
						<!-- profile__image end -->
						
						<div class="js-fix-block-pro">
							<!-- profile__contacts -->
							<div class="profile__contacts">
								<ul class="profile__contacts-list">
									<li class="profile__contacts-list-item">
										<div class="profile__contacts-item profile__contacts-item--place">
											<div class="profile__contacts-item-title">Наш адрес:</div>
											<div class="profile__contacts-item-text">Москва, Центральный р-н., ул. Ленина 60<br> м. Сокольники <span class="round-item profile__contacts-item-text-round" style="background:#F66789;">1</span></div>
											<a href="#" class="profile__contacts-item-link js-profile-place-scroll">Посмотреть на карте</a>
										</div>
									</li>
									<li class="profile__contacts-list-item">
										<div class="profile__contacts-item profile__contacts-item--time">
											<div class="profile__contacts-item-title">Время работы офиса:</div>
											<div class="profile__contacts-item-text">Понедельник – Пятница: 09:00 – 19:00<br> 
											Суббота – Воскресенье: выходной</div>
										</div>
									</li>
								</ul>
								<div class="profile__contacts-buttons">
									<a href="#" data-href="#popup-agency" class="btn btn-pink profile__contacts-buttons-btn js-popup-link">Связаться с агентством и<br> заказать няню</a>
								</div>
							</div>
							<!-- profile__contacts end -->
							<a href="#" class="btn btn-border-gray2 btn--icon-heart-left profile__addtofav js-change-data-text" data-disable="Добавить в избранные" data-active="Удалить из избранных" style="display: block">
								<span class="icon-heart-gray-medium btn__icon"></span>
								<span class="btn__text btn__text--middle">Добавить в избранное</span>
							</a>
							<div class="share share--justify">
								<ul class="share__list">
									<li class="share__list-item">
										<a href="#" class="icon-vk-gray share__list-item-link"></a>
									</li>
									<li class="share__list-item">
										<div class="share-item">
											<a href="#" class="icon-ok-gray share__list-item-link"></a>
										</div>
									</li>
									<li class="share__list-item">
										<div class="share-item">
											<a href="#" class="icon-fb-gray share__list-item-link"></a>
										</div>
									</li>
									<li class="share__list-item">
										<div class="share-item">
											<a href="#" class="icon-twitter-gray share__list-item-link"></a>
										</div>
									</li>
									<li class="share__list-item">
										<div class="share-item">
											<a href="#" class="icon-google-gray share__list-item-link"></a>
										</div>
									</li>
									<li class="share__list-item">
										<div class="share-item">
											<a href="#" class="icon-gmail-gray share__list-item-link"></a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- profile__left end -->

					<!-- profile__right -->
					<div class="profile__right">
						<!-- profile__head -->
						<div class="profile__head">
							<div class="profile__head-left">
								<h1 class="profile__title">Агенство “Меганянь”</h1>
								<div class="profile__sticker">Агентство нянь</div>
							</div>
							<div class="profile__head-right">
								<div class="profile__date">30.06.2016</div>
							</div>
						</div>
						<!-- profile__head end -->

						<!-- profile__meta -->
						<div class="profile__meta">
							<span class="profile__founded">Год основания: <strong>1960</strong></span>
							<div class="profile__rating">
								<div class="stars profile__meta-stars">
									<div class="stars__inner" style="width:80%;"></div>
								</div>
								<a href="#" class="profile__rating-title js-profile-rating-scroll">6 отзывов 3 рекомендации</a>
							</div>
						</div>
						<!-- profile__meta end -->

						<!-- features -->
						<div class="features">
							<ul class="features-list">
								<li class="features-list__item">
									<div class="feature feature--expirience">5 лет успешной<br> работы</div>
								</li>
								<li class="features-list__item">
									<div class="feature feature--reviews">Есть отзывы</div>
								</li>
								<li class="features-list__item">
									<div class="feature feature--verified">Данные<br> проверены</div>
								</li>
								<li class="features-list__item">
									<div class="feature feature--nanny">50 нянь в<br> каталоге</div>
								</li>
							</ul>
						</div>
						<!-- features end-->

						<!-- agency__desc -->
						<div class="profile__desc">
							<div class="profile__desc-text">
								<h2>Подробнее об агенстве</h2>
								<p>Меганянь - агенство по подбору английских нянь и гувернанток, а также часть уникального Центра Билингвального Развития Ребенка, включающего в себя три английских детских сада English Nursery School в Москве и Подмосковье. Мы работаем по строгим британским стандартам отбора персонала. Мы пошагово курируем весь процесс подбора и размещения кандидатов, помогая им оформить рабочую визу для работы в России. Более подробную информацию вы можете найти на нашем сайте.</p>
								<h2>Услуги</h2>
								<p>Осуществляем индивидуальный подбор нянь и гувернанток по Москве и Московской области. </p>
								<h2>Членство в профессиональных организациях и союзах</h2>
							</div>

							<!-- characteristics -->
							<div class="characteristics">
								<ul class="characteristics-list">
									<li class="characteristics-list__item">
										<div class="characteristic characteristic--member">Член ассоциации "няни России"</div>
									</li>
									<li class="characteristics-list__item">
										<div class="characteristic characteristic--member">Партнер союза "Агенства России и Казахстана”</div>
									</li>
								</ul>
							</div>
							<!-- characteristics end -->
							
							<!-- conditions -->
							<div class="conditions">
								<ul class="conditions-list">
									<li class="conditions-list__item">
										<div class="condition condition--purse">
											<div class="condition__title">Предоплата:</div>
											<div class="condition__text">Не требуется</div>
										</div>
									</li>
									<li class="conditions-list__item">
										<div class="condition condition--percent">
											<div class="condition__title">Комиссия за подбор персонала с нанимателя:</div>
											<div class="condition__text condition__text--small">Комиссию за подбор персонала платит наниматель в размере 7% после совершения найма</div>
										</div>
									</li>
									<li class="conditions-list__item">
										<div class="condition condition--percent">
											<div class="condition__title">Комиссия за трудоустройство с работника:</div>
											<div class="condition__text condition__text--small">Комиссия в размере 7% взымается после того как будет оплачен первый гонорар</div>
										</div>
									</li>
								</ul>
							</div>
							<!-- conditions end -->

							<div class="profile__desc-text">
								<h2>Политика замены няни</h2>
								<p>Мы - команда практикующих семейных психологов и психотерапевтов. Используем уникальные
								авторские методы подбора и оценки нянь. Мы обучаем родителей и нянь: - психологически грамотному взаимодействию с ребенком - методикам раннего развития и умелому и компетентному их применению.</p>
							</div>
						</div>
						<!-- agency__desc end -->

						<!-- ratings -->
						<div class="ratings">
							<div class="ratings-head">
								<ul class="ratings-head-list">
									<li class="ratings-head-list__item">620 настоящих отзывов</li>
									<li class="ratings-head-list__item">5 рекомендаций</li>
								</ul>
							</div>
							<div class="ratings-content">
								<div class="ratings-content__main">
									<div class="rating-item rating-item--indent-bottom">
										<div class="rating-item__title rating-item__title--pink">Общая оценка:</div>
										<div class="stars rating-item__stars">
											<div class="stars__inner" style="width:100%;"></div>
										</div>
									</div>
								</div>
								<ul class="ratings-list">
									<li class="ratings-list__item">
										<div class="rating-item">
											<div class="rating-item__title">Соответствие описанию:</div>
											<div class="stars rating-item__stars">
												<div class="stars__inner" style="width:60%;"></div>
											</div>
										</div>
									</li>
									<li class="ratings-list__item">
										<div class="rating-item">
											<div class="rating-item__title">Восприятие ребенком:</div>
											<div class="stars rating-item__stars">
												<div class="stars__inner" style="width:60%;"></div>
											</div>
										</div>
									</li>
									<li class="ratings-list__item">
										<div class="rating-item">
											<div class="rating-item__title">Общение:</div>
											<div class="stars rating-item__stars">
												<div class="stars__inner" style="width:80%;"></div>
											</div>
										</div>
									</li>
									<li class="ratings-list__item">
										<div class="rating-item">
											<div class="rating-item__title">Профессионализм:</div>
											<div class="stars rating-item__stars">
												<div class="stars__inner" style="width:80%;"></div>
											</div>
										</div>
									</li>
									<li class="ratings-list__item">
										<div class="rating-item">
											<div class="rating-item__title">Порядочность нянь:</div>
											<div class="stars rating-item__stars">
												<div class="stars__inner" style="width:60%;"></div>
											</div>
										</div>
									</li>
									<li class="ratings-list__item">
										<div class="rating-item">
											<div class="rating-item__title">Пунктуальность:</div>
											<div class="stars rating-item__stars">
												<div class="stars__inner" style="width:60%;"></div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- ratings end -->

						<!-- comments -->
						<div class="comments">
							<ul class="comments-list">
								<li class="comments-list__item">
									<div class="comment">
										<div class="comment__left">
											<div class="comment__image">
												<a href="#">
													<img src="pic/comment/comment-01.jpg" alt="" class="comment__image-img">
												</a>
											</div>
											<div class="comment__author"><a href="#">Анастасия</a></div>
										</div>
										<div class="comment__right">
											<div class="comment__right-top">
												<div class="comment__right-top-left">
													<div class="stars comment__right-top-left-stars">
														<div class="stars__inner" style="width:80%;"></div>
													</div>
												</div>
												<div class="comment__right-top-right">
													<div class="comment__date">06 января 2016</div>
												</div>
											</div>
											<div class="comment__right-bottom">
												<ul class="comment-messages-list">
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--plus">Появляясь на свет, наш ребенок становится гражданином пространства, обыкновенного, привычного нам трехмерного пространства.</div>
													</li>
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--minus">Не обнаружено!</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="comments-list__item">
									<div class="comment">
										<div class="comment__left">
											<div class="comment__image">
												<a href="#">
													<img src="pic/comment/comment-02.jpg" alt="" class="comment__image-img">
												</a>
											</div>
											<div class="comment__author"><a href="#">Дарья</a></div>
										</div>
										<div class="comment__right">
											<div class="comment__right-top">
												<div class="comment__right-top-left">
													<div class="comment__type">Рекомендация</div>
												</div>
												<div class="comment__right-top-right">
													<div class="comment__date">06 января 2016</div>
												</div>
											</div>
											<div class="comment__right-bottom">
												<div class="comment-message">Сервис позволяет просматривать множество анкет зарегистрированных соискателей, среди которых Вы сможете выбрать квалифицированную няню для ребенка. Благодаря сайту у Вас есть возможность самостоятельно выйти на связь с понравившимся Вам кандидатом.</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- comments end -->

						<!-- pagination -->
						<div class="pagination">
							<div class="pagination__title">Показано 1 - 20 объявлений из 50</div>
							<ul class="pagination-list">
								<li class="pagination-list__item">
									<a href="#" class="pagination__link pagination__link--active">1</a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link">2</a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link">3</a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link pagination__link--right"></a>
								</li>
							</ul>
						</div>
						<!-- pagination end -->
					</div>
					<!-- profile__right end -->
				</div>
			</div>
			<!-- profile end -->
			
			<!-- contacts-map -->
			<div class="contacts-map">
				<div class="map" id="contacts-map"></div>
			</div>
			<!-- contacts-map end -->
		</div>
		<!-- content end -->
		
		<div class="footer-spacer"></div>
	</div>


<!-- popup-wrap -->
<div class="popup-wrap">
	<div class="popup-wrap__table">
		<div class="popup-wrap__table-cell">
			@@include('template/blocks/popup-agency.html')
			@@include('template/blocks/popup-message-sended.html')

			<div class="popup-wrap__overlay js-popup-close"></div>
		</div>
	</div>
</div>
<!-- popup-wrap end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</div>
<!-- wrapper end -->
<script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
</body>
</html> 
 