@@include('template/layout/head.html')
<body ontouchstart>
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper-main">
	<div class="wrapper wrapper--noindent">
		@@include('template/layout/header-loginned-transparent.html') 

		<!-- content -->
		<div class="content" role="main">
			<!-- main -->
			<div class="main">
				<div class="main__cell">
					<div class="container">
						<h1 class="main__title">Родители и няни здесь находят друг друга</h1>
						<em class="main__desc">Для родителей: лучшие проверенные няни без посредников, комиссий и платных подписок<br> 
						Для нянь: отличные вакансии напрямую от родителей для работы</em>
						<div class="main__buttons">
							<div class="main__buttons-item">
								<a href="#work" class="btn btn-border-white main__buttons-item-btn js-scrollto">Как это работает</a>	
							</div>
							<div class="main__buttons-item">
								<div class="main__buttons-item-title">Нет времени искать няню?</div>
								<a href="#" class="btn btn-border-pink main__buttons-item-btn">Оставить заявку</a>
							</div>
						</div>
					</div>
				</div>

				<div class="main__bottom">
					<div class="container">
						@@include('template/blocks/search-error.html')
					</div>
				</div>
			</div>
			<!-- main end -->

			<!-- capabilities -->
			<div class="capabilities">
				<div class="container">
					<h2 class="capabilities__title">Уход за детьми и их воспитание — это захватывающее и ответственное занятие</h2>
					<ul class="capabilities-list">
						<li class="capabilities-list__item">
							<div class="capability">
								<div class="capability__image">
									<div class="capability__image-cell">
										<img src="pic/capability/capability-01.png" alt="" class="capability__image-img">
									</div>
								</div>
								<h3 class="capability__title">Заполняте свою<br> персональную анкету</h3>
							</div>
						</li>
						<li class="capabilities-list__item">
							<div class="capability">
								<div class="capability__image">
									<div class="capability__image-cell">
										<img src="pic/capability/capability-02.png" alt="" class="capability__image-img">
									</div>
								</div>
								<h3 class="capability__title">Отстлеживайте заявки,<br> получайте заказы</h3>
							</div>
						</li>
						<li class="capabilities-list__item">
							<div class="capability">
								<div class="capability__image">
									<div class="capability__image-cell">
										<img src="pic/capability/capability-03.png" alt="" class="capability__image-img">
									</div>
								</div>
								<h3 class="capability__title">Получайте<br> достойный заработок</h3>
							</div>
						</li>
					</ul>
					<div class="capabilities__buttons">
						<a href="#" class="btn btn-violet capabilities__buttons-btn">Оцените возможности</a>
					</div>
				</div>
			</div>
			<!-- capabilities end -->

			<!-- work -->
			<div class="work" id="work">
				<div class="container">
					<h2 class="work__title">Как это работает</h2>
					<ul class="work-list">
						<li class="work-list__item">
							<div class="work-item">
								<div class="work-item__image">
									<div class="work-item__image-cell">
										<img src="pic/work/work-01.png" alt="" class="work-item__image-img">
									</div>	
								</div>
								<h3 class="work-item__title">Находите нужных нянь</h3>
								<p class="work-item__text">Задайте параметры поиска, просматривайте анкеты и цены, читайте проверенные отзывы о нянях либо просто оставьте заявку</p>
							</div>
						</li>
						<li class="work-list__item">
							<div class="work-item">
								<div class="work-item__image">
									<div class="work-item__image-cell">
										<img src="pic/work/work-02.png" alt="" class="work-item__image-img">
									</div>	
								</div>
								<h3 class="work-item__title">Нанимайте лучшую няню</h3>
								<p class="work-item__text">Предлагайте работу выбранным няням, общайтесь, подтверждайте либо отклоняйте свои предложения и ищите без посредников</p>
							</div>
						</li>
						<li class="work-list__item">
							<div class="work-item">
								<div class="work-item__image">
									<div class="work-item__image-cell">
										<img src="pic/work/work-03.png" alt="" class="work-item__image-img">
									</div>	
								</div>
								<h3 class="work-item__title">Получайте свободное время</h3>
								<p class="work-item__text">Занимайтесь йогой, спортом,
								своими делами либо отдыхайте пока ребенок под присмотром опытной, квалифицированной няни</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!-- work end -->

			<!-- users -->
			<div class="users">
				<div class="container">
					<h2 class="users__title">Наши пользователи</h2>
					<ul class="users-list">
						<li class="users-list__item">
							<div class="user-item">
								<a href="#" class="user-item__top">
									<div class="user-item__image">
										<img src="pic/users/users-01.png" alt="" class="user-item__image-img">
										<div class="user-item__image-caption">
											<div class="user-item__name">Наталия</div>
											<div class="user-item__text">Нашла для своего годовалого Алеши няню, которая помогает им уже второй год</div>		
										</div>
									</div>
								</a>
							</div>
						</li>
						<li class="users-list__item">
							<div class="user-item">
								<a href="#" class="user-item__top">
									<div class="user-item__image">
										<img src="pic/users/users-02.png" alt="" class="user-item__image-img">
										<div class="user-item__image-caption">
											<div class="user-item__name">Светлана</div>
											<div class="user-item__text">Подрабатывает репетитором в свободное от занятий в университете время, что позволяет ей оплачивать свое образование</div>
										</div>
									</div>
								</a>	
							</div>
						</li>
						<li class="users-list__item">
							<div class="user-item">
								<a href="#" class="user-item__top">
									<div class="user-item__image">
										<img src="pic/users/users-03.png" alt="" class="user-item__image-img">
										<div class="user-item__image-caption">
											<div class="user-item__name">Александр</div>
											<div class="user-item__text">Открыл частный детский сад, более половины воспитанников привели родители, нашедшие его через интернет</div>
										</div>
									</div>
								</a>	
							</div>
						</li>
					</div>
				</div>
			</div>
			<!-- users end -->

			<!-- content-bottom-search -->
			<div class="content-bottom-search">
				<div class="container">
					<h3 class="content-bottom-search__title">Не хватает свободного времени на важные дела? Найдите няню прямо сейчас!</h3>
					@@include('template/blocks/search.html')
				</div>
			</div>
			<!-- content-bottom-search end -->

			<!-- content-bottom -->
			<div class="content-bottom">
				<div class="container">
					<h3 class="content-bottom__title">Мы не кадровое агентство, а современный интернет-портал, где родители и няни находят друг друга быстро и без посредников</h3>
					<div class="content-bottom__buttons">
						<a href="#" class="btn btn-pink content-bottom__buttons-btn">Опубликовать<br> вакансию для няни</a>
						<a href="#" class="btn btn-violet content-bottom__buttons-btn">Разметить анкету и найти<br> работу няней</a>
					</div>
				</div>
			</div>
			<!-- content-bottom end -->
		</div>
		<!-- content end -->
		
		<div class="footer-spacer"></div>
	</div>


@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</div>
<!-- wrapper end -->
</body>
</html> 