@@include('template/layout/head.html')
<body ontouchstart>
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper-main">
	<div class="wrapper">
		@@include('template/layout/header-loginned.html') 

		<!-- content -->
		<div class="content" role="main">
			<div class="container">
				<div class="inform-page">
					<div class="content-box js-fix-cont">
						<div class="content-box__left js-fix-block">
							<div class="side-menu">
								<h3 class="side-menu__title">Статьи и советы о: </h3>
								<ul class="side-menu__list">
									<li class="side-menu__list-item">
										<a href="#inform-tab-1" class="side-menu__list-item-link js-aside-tab-link">Нянях</a>
									</li>
									<li class="side-menu__list-item">
										<a href="#inform-tab-2" class="side-menu__list-item-link js-aside-tab-link">Домработницах</a>
									</li>
									<li class="side-menu__list-item">
										<a href="#inform-tab-3" class="side-menu__list-item-link js-aside-tab-link">Сиделках</a>
									</li>
									<li class="side-menu__list-item">
										<a href="#inform-tab-4" class="side-menu__list-item-link js-aside-tab-link">Репетиторах</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="content-box__right">
							<div id="inform-tab-1" class="js-aside-tab-block">
								<div class="inform">
									<div class="inform__left">
										<div class="inform__left-hold">
											<h1 class="inform__heading">Полезная информация для родителей и нянь</h1>
											<p class="inform__text">В данном разделе собрана вся полезная информация для всех родителей, важные советы о том как выделить для себя больше свободного времени и наконец то занятся спортом или другими полезными делами.</p>
										</div>
										<span class="inform__bottom">Всего опубликовано <span class="inform__bottom-info">6850 статей</span> на разные темы</span>
									</div>
									<div class="inform__right">
										<img src="img/info.png" alt="Inform" class="inform__right-img">
									</div>
								</div>
								<div class="helpful js-helpful-container">
									<ul class="helpful__list js-helpful-list">
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-01.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-02.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-03.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-04.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-05.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-06.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-07.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-08.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-09.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
									</ul>
									<div class="helpful__buttons">
										<a data-path="back/helpful-list.html" href="#" class="btn btn-border-gray helpful__buttons-btn js-helpful-ajax">показать еще публикации</a>
									</div>
								</div>
							</div>
							<div id="inform-tab-2" class="js-aside-tab-block">
								<h1 class="inform__heading">Домработницах</h1>
								<div class="helpful js-helpful-container">

									<ul class="helpful__list js-helpful-list">
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-01.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-02.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-03.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-04.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-05.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-06.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-07.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-08.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-09.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
									</ul>
									<div class="helpful__buttons">
										<a data-path="back/helpful-list.html" href="#" class="btn btn-border-gray helpful__buttons-btn js-helpful-ajax">показать еще публикации</a>
									</div>
								</div>
							</div>
							<div id="inform-tab-3" class="js-aside-tab-block">
								<div class="inform">
									<div class="inform__left">
										<div class="inform__left-hold">
											<h1 class="inform__heading">Сиделках</h1>
											<p class="inform__text">В данном разделе собрана вся полезная информация для всех родителей, важные советы о том как выделить для себя больше свободного времени и наконец то занятся спортом или другими полезными делами.</p>
										</div>
										<span class="inform__bottom">Всего опубликовано <span class="inform__bottom-info">6850 статей</span> на разные темы</span>
									</div>
									<div class="inform__right">
										<img src="img/info.png" alt="Inform" class="inform__right-img">
									</div>
								</div>
							</div>
							<div id="inform-tab-4" class="js-aside-tab-block">
								<div class="inform">
									<div class="inform__left">
										<div class="inform__left-hold">
											<h1 class="inform__heading">Полезная информация для Репетиторах</h1>
											<p class="inform__text">В данном разделе собрана вся полезная информация для всех родителей, важные советы о том как выделить для себя больше свободного времени и наконец то занятся спортом или другими полезными делами.</p>
										</div>
										<span class="inform__bottom">Всего опубликовано <span class="inform__bottom-info">6850 статей</span> на разные темы</span>
									</div>
									<div class="inform__right">
										<img src="img/info.png" alt="Inform" class="inform__right-img">
									</div>
								</div>
								<div class="helpful js-helpful-container">
									<ul class="helpful__list js-helpful-list">
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-01.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
										<li class="helpful__list-item">
											<div class="helpful-item">
												<div class="helpful-item__image-hold">
													<a href="#" class="helpful-item__image-link">
														<img src="pic/info/photo-05.png" alt="helpful" class="helpful-item__image">
													</a>
												</div>
												<div class="helpful-item__holder">
													<h2 class="helpful-item__head-hold">
														<a href="#" class="helpful-item__head">Как найти себе психолога "по душе": взгляд психотерапевта</a>
													</h2>
													<span class="helpful-item__info">Решив обратиться за консультацией или за помощью психолога, вы оказываетесь перед огромным полем возможностей. По данным разных исследователей ... <a class="icon-after-info"></a></span>
												</div>
											</div>
										</li>
									</ul>
									<div class="helpful__buttons">
										<a data-path="back/helpful-list.html" href="#" class="btn btn-border-gray helpful__buttons-btn js-helpful-ajax">показать еще публикации</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- content end -->
		
		<div class="footer-spacer"></div>
	</div>


<!-- popup-wrap -->
<div class="popup-wrap">
	<div class="popup-wrap__table">
		<div class="popup-wrap__table-cell">
			@@include('template/blocks/popup-login.html')
			@@include('template/blocks/popup-registration.html')

			<div class="popup-wrap__overlay js-popup-close"></div>
		</div>
	</div>
</div>
<!-- popup-wrap end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</div>
<!-- wrapper end -->
<script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
</body>
</html> 
 