@@include('template/layout/head.html')
<body ontouchstart>
@@include('template/layout/oldbrowser.html')


		@@include('template/layout/header-loginned.html')

		<!-- content -->
		<div class="content lk" role="main">
			<!-- lk aside -->
			@@include('template/blocks/lk-aside.html', {
				"help": "true"
			})
			<!-- lk aside end -->

			<!-- lk content -->
			<div class="lk-content lk-help-content">
				<div class="lk-content__position">
					<div class="lk-content__item">
						<div class="lk-content__top">
							<h2 class="lk-content__title">Ответы на часто задаваемые вопросы</h2>
						</div>
						<p class="lk-content__text">За эти годы в агентство обратилось огромное  число семей. Это наши постоянные клиенты, которые приходят к нам и рекомендуют  нас своим друзьям. Мы постоянно совершенствуем нашу работу, используя новейшие психологические и рекрутинговые  разработки. За столь продолжительное время работы мы  накопили бесценный опыт в сфере  подбора персонала.</p>
					</div>
					<div class="lk-content__item js-section lk-help-content__item" id="lk-help-main">
						<div class="lk-content__top">
							<h2 class="lk-content__title">Основная информация</h2>
						</div>
						<ul class="questions__list lk-help__question">
							<li class="questions__list-item">
								<div class="questions-item">
									<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как правильно заполнить анкету няни на сайте?</span></h3>
									<div class="questions-item__content js-questions-inner">
										<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
									</div>
								</div>
							</li>
							<li class="questions__list-item">
								<div class="questions-item">
									<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как получить хороший отзыв и оценку?</span></h3>
									<div class="questions-item__content js-questions-inner">
										<p class="questions-item__text">Поработав в семье, вы можете запросить у вашего Работодателя рекомендательное письмо или можете попросить его оставить отзыв о Вашей работе, а также оценить Ваши наилучшие качества и навыки. Более 96% Родителей ответили, что наличие положительных отзывов и рекомендаций о няне является главным приоритетом при выборе няни и оплате более высокой заработной платы.</p>
									</div>
								</div>
							</li>
							<li class="questions__list-item">
								<div class="questions-item">
									<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как начать работу няней у вас на сайте?</span></h3>
									<div class="questions-item__content js-questions-inner">
										<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
									</div>
								</div>
							</li>
							<li class="questions__list-item">
								<div class="questions-item">
									<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне разместить объявление о поиске няни?</span></h3>
									<div class="questions-item__content js-questions-inner">
										<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="lk-content__item js-section lk-help-content__item" id="lk-help-advice">
						<div class="lk-content__top">
							<h2 class="lk-content__title">Полезные советы</h2>
						</div>
						<ul class="questions__list lk-help__question">
							<li class="questions__list-item">
								<div class="questions-item">
									<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как правильно заполнить анкету няни на сайте?</span></h3>
									<div class="questions-item__content js-questions-inner">
										<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
									</div>
								</div>
							</li>
							<li class="questions__list-item">
								<div class="questions-item">
									<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как получить хороший отзыв и оценку?</span></h3>
									<div class="questions-item__content js-questions-inner">
										<p class="questions-item__text">Поработав в семье, вы можете запросить у вашего Работодателя рекомендательное письмо или можете попросить его оставить отзыв о Вашей работе, а также оценить Ваши наилучшие качества и навыки. Более 96% Родителей ответили, что наличие положительных отзывов и рекомендаций о няне является главным приоритетом при выборе няни и оплате более высокой заработной платы.</p>
									</div>
								</div>
							</li>
							<li class="questions__list-item">
								<div class="questions-item">
									<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как начать работу няней у вас на сайте?</span></h3>
									<div class="questions-item__content js-questions-inner">
										<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
									</div>
								</div>
							</li>
							<li class="questions__list-item">
								<div class="questions-item">
									<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне разместить объявление о поиске няни?</span></h3>
									<div class="questions-item__content js-questions-inner">
										<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="lk-content__item js-section" id="lk-help-write">
						<div class="lk-content__top">
							<h2 class="lk-content__title">Написать в службу поддержки</h2>
						</div>
						<form class="lk-help-form js-lk-help-form" action="back/ajax-form.php">
							<span class="lk-help-form__text">Если у Вас возникли дополнительные вопросы - напишите нашим специалистам.</span>
							<textarea name="text_name" class="input input--textarea lk-help-form__textarea" placeholder="Напишите сообщение ..."></textarea>
							<button data-href="#popup-email-confirm-message" type="submit" class="btn btn-pink lk-help-form__submit">Отправить собщение</button>
						</form>
					</div>
				</div>
			</div>
			<!-- lk content end -->
		</div>
		<!-- content end -->

 
<!-- popup-wrap -->
<div class="popup-wrap">
	<div class="popup-wrap__table">
		<div class="popup-wrap__table-cell">
			@@include('template/blocks/popup-email-confirm-message.html', {
				"mod": "lk-help-popup",
				"text": "Ваше сообщение принято. В ближайшее время мы Вам ответим"
			})
			<div class="popup-wrap__overlay js-popup-close"></div>
		</div>
	</div>
</div>
<!-- popup-wrap end -->                   


@@include('template/layout/lk-footer-head.html')

</body>
</html> 


