@@include('template/layout/head.html')
<body ontouchstart>
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper-main">
	<div class="wrapper">
		@@include('template/layout/header-loginned.html') 

		<!-- content -->
		<div class="content" role="main">
			<div class="container container--small">
				<div class="news-full">
					<div class="news-full__top">
						<h1 class="news-full__title">Надежный и самый лучший способ найти няню</h1>
						<div class="news-full__date">Опубликовано: 28 ноября 2016</div>
						<img src="pic/news/photo-01.jpg" alt="" class="news-full__image">
					</div>
					<article class="news-full__article static-content">
						<p class="size-xlarge">Чтобы получить свой персональный доступ ко всей необходимой информации,  советуем пройти регистрацию на сайте и разместить Ваше частное объявление о поиске няни – это увеличит шансы найти няню в Киеве в ближайшее время.</p>
						<p>После этого у Вас появляется персональная возможность просматривать анкеты зарегистрированных кандидатов и связываться с ними самостоятельно В анкете няня указывает такие немаловажные нюансы как уровень образования, опыт работы с детьми, а также описывает их личностные характеристики. В том случае, если Вас интересует няня в Киеве, которая проживала бы по соседству, советуем воспользоваться специальным параметром фильтра. Вам необходимо только лишь указать район проживания няни и другие критерии поиска, после чего сайт автоматически отсортирует для вас анкеты потенциальных нянь, которые будут отвечать Вашим требованиям.</p>
						<p class="size-large"><b>Для того, чтобы начать поиск достойной работы, необходимо всего лишь зарегистрироваться на этом сайте и создать анкету с подробным описанием опыта работы и знаний.Если вам действительно требуется няня без посредников, тогда сайт НашаНяня – это то, что Вам нужно. В частном объявлении о поиске помощника необходимо указать полный список обязанностей потенциальной няни, график и место работы, а также другие рабочие моменты, которые могут повлиять на решение кандидата.</b></p>
						<p>На сайте зарегистрированы сотни квалифицированных помощниц по хозяйству, которые готовы приступить к работе уже сейчас. В своих персональных анкетах домработниц всегда указана подробная информация о навыках работы с бытовыми приборами, техникой, предыдущем опыте работы. </p>
						
						<blockquote>Если вам действительно требуется няня без посредников, тогда сайт НашаНяня – это то, что нужно. В частном объявлении о поиске помощника необходимо указать список обязанностей потенциальной няни, график и место работы, а также другие рабочие моменты, которые всегда могут очень повлиять на решение кандидата о выборе сответствующей няни. 

						<div class="blockquote-author">
							<div class="blockquote-author__name">Алексей Ветров</div>
							<div class="blockquote-author__state">Директор сервиса</div>
						</div>
						</blockquote>

						<p>Анкетная база домработниц ежедневно обновляется и дает Вам возможность самостоятельно подобрать помощницу по хозяйству с проживанием или без, на полный рабочий день или частичную занятость. Вам необходимо только лишь указать район проживания няни и другие критерии поиска.</p>
						<ul>
							<li>Домработницы и помощницы по хозяйству</li>
							<li>Работа для нянь и домработниц без посредников </li>
							<li>Просмотрите анкеты нянь, сиделок и домработниц</li>
							<li>Разместите объявление о своей вакансии</li>
							<li>Просматривайте подробную информацию в анкетах нянь</li>
							<li>Няни, гувернантки, сиделки и медработники</li>
						</ul>
						<p>Для того, чтобы начать поиск достойной работы, Вам необходимо всего лишь зарегистрироваться на сайте и создать пернальную анкету с подробным описанием опыта работы и знаний. Тысячи зарегистрированных работодателей всегда смогут ознакомиться с анкетой и пригласить на собеседование. После регистрации Вы так же всегда сможете ознакомиться с сотнями вакансий от прямых работодателей и связываться с ними напрямую для предложения Ваших квалифицированных услуг. База данных вакансий нянь и домработниц постоянно обновляется. Для того, чтобы снова начать поиск достойной работы, необходимо всего лишь зарегистрироваться на сайте и создать анкету с подробным описанием опыта работы и знаний. </p>
					</article>
					<div class="share">
						<div class="share__title">Поделитесь ссылкой с другом:</div>
						<ul class="share__list">
							<li class="share__list-item">
								<a ontouchstart href="#" class="icon-vk-gray share__list-item-link"></a>
							</li>
							<li class="share__list-item">
								<div class="share-item">
									<a ontouchstart href="#" class="icon-ok-gray share__list-item-link"></a>
								</div>
							</li>
							<li class="share__list-item">
								<div class="share-item">
									<a ontouchstart href="#" class="icon-fb-gray share__list-item-link"></a>
								</div>
							</li>
							<li class="share__list-item">
								<div class="share-item">
									<a ontouchstart href="#" class="icon-twitter-gray share__list-item-link"></a>
								</div>
							</li>
							<li class="share__list-item">
								<div class="share-item">
									<a ontouchstart href="#" class="icon-google-gray share__list-item-link"></a>
								</div>
							</li>
							<li class="share__list-item">
								<div class="share-item">
									<a ontouchstart href="#" class="icon-gmail-gray share__list-item-link"></a>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<!-- content-bottom-search -->
			<div class="content-bottom-search content-bottom-search--gray">
				<div class="container">
					<h3 class="content-bottom-search__title">Не хватает свободного времени на важные дела? Найдите няню прямо сейчас!</h3>
					@@include('template/blocks/search.html')
				</div>
			</div>
			<!-- content-bottom-search end -->
		</div>
		<!-- content end -->
		
		<div class="footer-spacer"></div>
	</div>


@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</div>
<!-- wrapper end -->
</body>
</html> 