@@include('template/layout/head.html')
<body ontouchstart>
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper-main">
	<div class="wrapper">
		@@include('template/layout/header-with-search.html') 

		<!-- content -->
		<div class="content" role="main">
			<!-- profile -->
			<div class="profile profile--large profile--nanny profile--vacancy">
				<div class="container">
					<!-- profile__left -->
					<div class="profile__left">
						<!-- profile__vacancy-image -->
						<div class="profile__vacancy-image">
							<img src="pic/profile-vacancy/profile-vacancy-01.jpg" alt="" class="profile__vacancy-image-img">
						</div>
						<!-- profile__vacancy-image end -->
					</div>
					<!-- profile__left end -->

					<!-- profile__right -->
					<div class="profile__right">
						<!-- profile__head -->
						<div class="profile__head">
							<h1 class="profile__title">Виктория Ивановна</h1>
							<div class="profile__sticker">Родитель</div>
							<div class="profile__date">30.06.2016</div>
						</div>
						<!-- profile__head end -->

						<!-- profile__meta -->
						<div class="profile__meta">
							<div class="profile__rating">
								<div class="stars profile__meta-stars">
									<div class="stars__inner" style="width:100%;"></div>
								</div>
								<a href="#" class="profile__rating-title js-profile-rating-scroll">6 отзывов 3 рекомендации</a>
							</div>
						</div>
						<!-- profile__meta end -->

						<!-- profile__place -->
						<div class="profile__place">
							<ul class="profile__place-list">
								<li class="profile__place-list-item">
									<div class="profile__place-item">Москва, Центральный р-н, Сокольники <div class="round-item profile__place-item-round" style="background:#F8678B;">1</div></div>
								</li>
								<li class="profile__place-list-item">
									<a href="#" class="profile__place-item-link js-profile-place-scroll">Посмотреть на карте</a>
								</li>
							</ul>
						</div>
						<!-- profile__place end -->

						<!-- ratings -->
						<div class="ratings">
							<div class="ratings-head">
								<ul class="ratings-head-list">
									<li class="ratings-head-list__item">6 настоящих отзывов</li>
									<li class="ratings-head-list__item">5 рекомендаций</li>
								</ul>
							</div>
							<div class="ratings-content">
								<div class="ratings-content__main">
									<div class="rating-item rating-item--indent-bottom">
										<div class="rating-item__title rating-item__title--pink">Общая оценка:</div>
										<div class="stars rating-item__stars">
											<div class="stars__inner" style="width:100%;"></div>
										</div>
									</div>
								</div>
								<ul class="ratings-list">
									<li class="ratings-list__item">
										<div class="rating-item">
											<div class="rating-item__title">Общение:</div>
											<div class="stars rating-item__stars">
												<div class="stars__inner" style="width:60%;"></div>
											</div>
										</div>
									</li>
									<li class="ratings-list__item">
										<div class="rating-item">
											<div class="rating-item__title">Исполнение финансовых<br> обязательств:</div>
											<div class="stars rating-item__stars">
												<div class="stars__inner" style="width:60%;"></div>
											</div>
										</div>
									</li>
									<li class="ratings-list__item">
										<div class="rating-item">
											<div class="rating-item__title">Порядочность:</div>
											<div class="stars rating-item__stars">
												<div class="stars__inner" style="width:60%;"></div>
											</div>
										</div>
									</li>
									<li class="ratings-list__item">
										<div class="rating-item">
											<div class="rating-item__title">Характер ребенка:</div>
											<div class="stars rating-item__stars">
												<div class="stars__inner" style="width:60%;"></div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<!-- ratings end -->

						<!-- comments -->
						<div class="comments">
							<ul class="comments-list">
								<li class="comments-list__item">
									<div class="comment">
										<div class="comment__left">
											<div class="comment__image">
												<a href="#">
													<img src="pic/comment/comment-01.jpg" alt="" class="comment__image-img">
												</a>
											</div>
											<div class="comment__author"><a href="#">Анастасия</a></div>
										</div>
										<div class="comment__right">
											<div class="comment__right-top">
												<div class="comment__right-top-left">
													<div class="stars comment__right-top-left-stars">
														<div class="stars__inner" style="width:80%;"></div>
													</div>
												</div>
												<div class="comment__right-top-right">
													<div class="comment__date">06 января 2016</div>
												</div>
											</div>
											<div class="comment__right-bottom">
												<ul class="comment-messages-list">
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--plus">Появляясь на свет, наш ребенок становится гражданином пространства, обыкновенного, привычного нам трехмерного пространства.</div>
													</li>
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--minus">Не обнаружено!</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="comments-list__item">
									<div class="comment">
										<div class="comment__left">
											<div class="comment__image">
												<a href="#">
													<img src="pic/comment/comment-02.jpg" alt="" class="comment__image-img">
												</a>
											</div>
											<div class="comment__author"><a href="#">Дарья</a></div>
										</div>
										<div class="comment__right">
											<div class="comment__right-top">
												<div class="comment__right-top-left">
													<div class="comment__type">Рекомендация</div>
												</div>
												<div class="comment__right-top-right">
													<div class="comment__date">06 января 2016</div>
												</div>
											</div>
											<div class="comment__right-bottom">
												<div class="comment-message">Сервис позволяет просматривать множество анкет зарегистрированных соискателей, среди которых Вы сможете выбрать квалифицированную няню для ребенка. Благодаря сайту у Вас есть возможность самостоятельно выйти на связь с понравившимся Вам кандидатом.</div>
											</div>
										</div>
									</div>
								</li>
								<li class="comments-list__item">
									<div class="comment">
										<div class="comment__left">
											<div class="comment__image">
												<a href="#">
													<img src="pic/comment/comment-01.jpg" alt="" class="comment__image-img">
												</a>
											</div>
											<div class="comment__author"><a href="#">Анастасия</a></div>
										</div>
										<div class="comment__right">
											<div class="comment__right-top">
												<div class="comment__right-top-left">
													<div class="stars comment__right-top-left-stars">
														<div class="stars__inner" style="width:80%;"></div>
													</div>
												</div>
												<div class="comment__right-top-right">
													<div class="comment__date">06 января 2016</div>
												</div>
											</div>
											<div class="comment__right-bottom">
												<ul class="comment-messages-list">
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--plus">Появляясь на свет, наш ребенок становится гражданином пространства, обыкновенного, привычного нам трехмерного пространства.</div>
													</li>
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--minus">Не обнаружено!</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="comments-list__item">
									<div class="comment">
										<div class="comment__left">
											<div class="comment__image">
												<a href="#">
													<img src="pic/comment/comment-01.jpg" alt="" class="comment__image-img">
												</a>
											</div>
											<div class="comment__author"><a href="#">Анастасия</a></div>
										</div>
										<div class="comment__right">
											<div class="comment__right-top">
												<div class="comment__right-top-left">
													<div class="stars comment__right-top-left-stars">
														<div class="stars__inner" style="width:80%;"></div>
													</div>
												</div>
												<div class="comment__right-top-right">
													<div class="comment__date">06 января 2016</div>
												</div>
											</div>
											<div class="comment__right-bottom">
												<ul class="comment-messages-list">
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--plus">Появляясь на свет, наш ребенок становится гражданином пространства, обыкновенного, привычного нам трехмерного пространства.</div>
													</li>
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--minus">Не обнаружено!</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="comments-list__item">
									<div class="comment">
										<div class="comment__left">
											<div class="comment__image">
												<a href="#">
													<img src="pic/comment/comment-01.jpg" alt="" class="comment__image-img">
												</a>
											</div>
											<div class="comment__author"><a href="#">Анастасия</a></div>
										</div>
										<div class="comment__right">
											<div class="comment__right-top">
												<div class="comment__right-top-left">
													<div class="stars comment__right-top-left-stars">
														<div class="stars__inner" style="width:80%;"></div>
													</div>
												</div>
												<div class="comment__right-top-right">
													<div class="comment__date">06 января 2016</div>
												</div>
											</div>
											<div class="comment__right-bottom">
												<ul class="comment-messages-list">
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--plus">Появляясь на свет, наш ребенок становится гражданином пространства, обыкновенного, привычного нам трехмерного пространства.</div>
													</li>
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--minus">Не обнаружено!</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- comments end -->

						<!-- pagination -->
						<div class="pagination">
							<div class="pagination__title">Показано 1 - 20 объявлений из 50</div>
							<ul class="pagination-list">
								<li class="pagination-list__item">
									<a href="#" class="pagination__link pagination__link--active">1</a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link">2</a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link">3</a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link pagination__link--right"></a>
								</li>
							</ul>
						</div>
						<!-- pagination end -->
					</div>
					<!-- profile__right end -->
				</div>
			</div>
			<!-- profile end -->
			
			<!-- contacts-map -->
			<div class="contacts-map">
				<div class="map" id="contacts-map"></div>
			</div>
			<!-- contacts-map end -->
		</div>
		<!-- content end -->
		
		<div class="footer-spacer"></div>
	</div>


<!-- popup-wrap -->
<div class="popup-wrap">
	<div class="popup-wrap__table">
		<div class="popup-wrap__table-cell">
			@@include('template/blocks/popup-login.html')
			@@include('template/blocks/popup-registration.html')
			@@include('template/blocks/popup-registration2.html')
			@@include('template/blocks/popup-restore-password.html')
			@@include('template/blocks/popup-restore-password-success.html')
			
			@@include('template/blocks/popup-vacancy.html')
			@@include('template/blocks/popup-message-sended2.html')

			<div class="popup-wrap__overlay js-popup-close"></div>
		</div>
	</div>
</div>
<!-- popup-wrap end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</div>
<!-- wrapper end -->
<script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
</body>
</html> 
 