@@include('template/layout/head.html')
<body ontouchstart>
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper wrapper--noindent">
	<div class="container">

		<style>
			.container {
				max-width: 100%;
			}
			.popup-wrap {
				display: block;
				position: static;

			}
			.popup {
				display: inline-block;
				vertical-align: top;
				transform: none;
				margin-bottom: 10px;
			}
		</style>

		<a href="#" data-href="#popup-registration" class="js-popup-link">popup-registration</a>
		<a href="#" data-href="#popup-registration2" class="js-popup-link">popup-registration2</a>
		<a href="#" data-href="#popup-registration2-default" class="js-popup-link">popup-registration2-default</a>
		<a href="#" data-href="#popup-registration2-confirm" class="js-popup-link">popup-registration2-confirm</a>
		<a href="#" data-href="#popup-email-confirm" class="js-popup-link">popup-email-confirm</a>
		<a href="#" data-href="#popup-email-confirm2" class="js-popup-link">popup-email-confirm2</a>
		<a href="#" data-href="#popup-email-confirm-message" class="js-popup-link">popup-email-confirm-message</a>
		
		<a href="#" data-href="#popup-addphoto" class="js-popup-link">popup-addphoto</a>
		<a href="#" data-href="#popup-addphoto-social" class="js-popup-link">popup-addphoto-social</a>

		<a href="#" data-href="#popup-addphoto-success" class="js-popup-link">popup-addphoto-success</a>
		<a href="#" data-href="#popup-continue" class="js-popup-link">popup-continue</a>

		<a href="#" data-href="#popup-addlogo" class="js-popup-link">popup-addlogo</a>
		<a href="#" data-href="#popup-email-confirm2" class="js-popup-link">popup-email-confirm2</a>
		<a href="#" data-href="#popup-addlogo-success" class="js-popup-link">popup-addlogo-success</a>

		<a href="#" data-href="#popup-login" class="js-popup-link">popup-login</a>
		<a href="#" data-href="#popup-restore-password" class="js-popup-link">popup-restore-password</a>
		<a href="#" data-href="#popup-restore-password-success" class="js-popup-link">popup-restore-password-success</a>
		<a href="#" data-href="#popup-message-sended" class="js-popup-link">popup-message-sended</a>
		<a href="#" data-href="#popup-message-sended2" class="js-popup-link">popup-message-sended2</a>

		<a href="#" data-href="#popup-registration-success" class="js-popup-link">popup-registration-success</a>
		<a href="#" data-href="#popup-registration-success-default" class="js-popup-link">popup-registration-success-default</a>
		<a href="#" data-href="#popup-registration-success2" class="js-popup-link">popup-registration-success2</a>
		
		<a href="#" data-href="#popup-nanny" class="js-popup-link">popup-nanny</a>
		<a href="#" data-href="#popup-registration-complete" class="js-popup-link">popup-registration-complete</a>

		<a href="#" data-href="#popup-agency" class="js-popup-link">popup-agency</a>
		<a href="#" data-href="#popup-vacancy" class="js-popup-link">popup-vacancy</a>
		<a href="#" data-href="#popup-registration2-parents" class="js-popup-link">popup-reg-parents</a>
		<a href="#" data-href="#lk-popup-contacts" class="js-popup-link">lk-popup-contacts</a>
		<a href="#" data-href="#popup-video" class="js-popup-link">popup-video</a><br><br>


		<!-- popup-wrap -->
		<div class="popup-wrap">
			<div class="popup-wrap__table">
				<div class="popup-wrap__table-cell">
					@@include('template/blocks/popup-registration.html')
					@@include('template/blocks/popup-registration2.html')
					@@include('template/blocks/popup-registration2-default.html')
					@@include('template/blocks/popup-registration2-confirm.html')
					<br>
					@@include('template/blocks/popup-email-confirm.html')
					@@include('template/blocks/popup-email-confirm2.html')
					@@include('template/blocks/popup-email-confirm-message.html')
					@@include('template/blocks/popup-addphoto.html')
					@@include('template/blocks/popup-addphoto-social.html')
					<br>
					@@include('template/blocks/popup-addphoto-success.html')
					@@include('template/blocks/popup-continue.html')
					

					<br>
					@@include('template/blocks/popup-login.html')
					@@include('template/blocks/popup-restore-password.html')
					@@include('template/blocks/popup-restore-password-success.html')
					
					<br>
					@@include('template/blocks/popup-nanny.html')
					@@include('template/blocks/popup-message-sended.html')
					@@include('template/blocks/popup-message-sended2.html')

					<br>
					@@include('template/blocks/popup-agency.html')
					@@include('template/blocks/popup-vacancy.html')
					

					<br>
					@@include('template/blocks/popup-addlogo.html')
					@@include('template/blocks/popup-email-confirm2.html')
					@@include('template/blocks/popup-addlogo-success.html')

					<br>
					@@include('template/blocks/popup-registration-success.html')
					@@include('template/blocks/popup-registration-success-default.html')
					@@include('template/blocks/popup-registration-success2.html')
					@@include('template/blocks/popup-registration-complete.html')

					<br>
					@@include('template/blocks/popup-registration-parents.html')

					<br>

					@@include('template/blocks/popup-video.html')
					
					@@include('template/blocks/lk-popup-contacts.html')
	
					<div class="popup-wrap__overlay js-popup-close"></div>
				</div>
			</div>
		</div>
		<!-- popup-wrap end -->
	</div>
</div>
<!-- wrapper end -->

@@include('template/layout/footer-head.html')
</body>
</html> 