@media (max-width: 1240px) {
  .checkme-left {
    width: 70%;
  }
  .checkme-right {
    width: 30%;
  }
  .checkme-lbl-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .checkme-lbl-item:nth-child(1) {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .checkme-deli {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .checkme-deli-lbl {
    display: block;
    padding: 10px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .checkme-deli-round {
    top: 2px;
  }
  .checkme-field-num {
    margin-left: 0;
  }
  .checkme-show {
    margin-top: 20px;
  }
  .checkme-subitem {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .checkme-picture {
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
    margin-right: 20px;
    margin-bottom: 20px;
    width: calc(22% - 20px);
  }
  .checkme-name {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    width: 58%;
  }
  .checkme-delete {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 20%;
    text-align: right;
    margin-left: auto;
  }
  .checkme-delete-btn {
    margin-left: auto;
    padding: 20px 0;
  }
  .checkme-plusmin {
    width: 70%;
  }
  .checkme-price {
    width: 30%;
    text-align: right;
  }
  .plusmin {
    margin-right: auto;
  }
  .plusmin-body {
    width: 184px;
  }
  .plusmin-btn {
    padding: 20px 37px;
  }
  .recommend {
    width: 100%;
  }
}

@media (max-width: 980px) {
  .checkme-banner {
    display: none;
  }
  .checkme-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .checkme-left {
    width: 100%;
  }
  .checkme-right {
    width: 100%;
  }
  .checkme-final {
    position: static;
  }
}

@media (max-width: 750px) {
  .checkme-lbl-item:nth-child(2) {
    margin-bottom: 10px;
  }
  .checkme-images {
    position: absolute;
    top: 9px;
    left: 227px;
  }
  .checkme-image {
    min-width: 70px;
    width: 70px;
    height: 67px;
  }
  .checkme-picture {
    margin-bottom: 13px;
  }
  .checkme-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 13px;
  }
  .checkme-delete {
    margin-bottom: 13px;
    position: relative;
    top: -10px;
  }
  .recommend-list {
    overflow-x: scroll;
  }
  .recommend-item {
    min-width: 326px;
  }
  .plusmin-btn {
    padding: 16px 37px;
  }
}

@media (max-width: 510px) {
  .checkme {
    padding-top: 15px;
  }
  .checkme-select {
    width: 100%;
  }
  .checkme-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #2A3342;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .checkme-first {
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .checkme-item {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .checkme-subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  .checkme-warning {
    font-weight: 400;
    font-size: 13px;
    line-height: 130%;
  }
  .checkme-delivery {
    border-top: 1px solid #E2E2E2;
    padding-top: 17px;
    margin-top: 30px;
    overflow: hidden;
  }
  .checkme-delivery-body {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .checkme-delivery-top {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .checkme-delivery-bottom {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #E2E2E2;
  }
  .checkme-delivery-select {
    width: 100%;
  }
  .checkme-lbl-hide {
    margin-bottom: 10px;
    width: calc(50% - 14px);
  }
  .checkme-lbl-hide-one {
    width: calc(70% - 14px);
  }
  .checkme-lbl-hide-thue {
    width: calc(30% - 14px);
  }
  .checkme-lbl-text {
    width: auto;
  }
  .checkme-field-num {
    width: 100%;
  }
  .checkme-field-dd {
    width: 30%;
  }
  .checkme-field-ccv {
    width: 30%;
  }
  .checkme-deli {
    margin-bottom: 0;
  }
  .checkme-table {
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .checkme-subitem {
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .checkme-picture {
    width: calc(25% - 20px);
  }
  .checkme-name {
    width: 55%;
    padding-right: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .checkme-delete-icon {
    margin-right: 7px;
    top: -2px;
  }
  .checkme-plusmin {
    width: 60%;
  }
  .checkme-price {
    width: 40%;
  }
  .recommend {
    margin: 30px 0 50px 0;
  }
  .recommend-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 0;
  }
  .recommend-title::before {
    content: none;
  }
  .recommend-list {
    margin: 0 -15px 15px -15px;
  }
}

@media (max-width: 415px) {
  .checkme-name {
    width: 50%;
    font-size: 14px;
  }
  .checkme-delete {
    width: 25%;
  }
  .checkme-plusmin {
    width: 50%;
  }
  .checkme-price {
    width: 50%;
  }
  .checkme-link {
    margin-bottom: 10px;
  }
  .checkme-deli-image {
    width: 30px;
  }
  .plusmin-body {
    width: 130px;
  }
  .plusmin-btn {
    padding: 16px 26px;
  }
}

@media (max-width: 350px) {
  .checkme-lbl {
    font-size: 14px;
  }
  .checkme-deli {
    font-size: 14px;
  }
  .checkme-images {
    top: 13px;
    left: 210px;
  }
  .checkme-image {
    min-width: 60px;
    width: 60px;
    height: 60px;
  }
  .checkme-price {
    font-size: 17px;
  }
  .checkme-old {
    font-size: 14px;
  }
  .recommend-item {
    min-width: 300px;
  }
}
/*# sourceMappingURL=media.css.map */