@media(max-width: 1240px) {
    .checkme {
        &-left {
            width: 70%;
        }
        &-right {
            width: 30%;
        }
        &-lbl {
            &-list {
                flex-wrap: wrap;
            }
            &-item {
                &:nth-child(1) {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        }
        &-deli {
            flex-wrap: wrap;
            &-lbl {
                display: block;
                padding: 10px 0;
                box-sizing: border-box;
            }
            &-round {
                top: 2px;
            }
        }
        &-field {
            &-num {
                margin-left: 0;
            }
        }
        &-show {
            margin-top: 20px;
        }
        &-subitem {
            flex-wrap: wrap;
            justify-content: flex-start;
        }
        &-picture {
            order: -3;
            margin-right: 20px;
            margin-bottom: 20px;
            width: calc(22% - 20px);
        }
        &-name {
            order: -2;
            width: 58%;
        }
        &-delete {
            order: -1;
            width: 20%;
            text-align: right;
            margin-left: auto;
            &-btn {
            margin-left: auto;
                padding: 20px 0;
            }
        }
        &-plusmin {
            width: 70%;
        }
        &-price {
            width: 30%;
            text-align: right;
        }
    }
    .plusmin {
        margin-right: auto;
        &-body {
            width: 184px;
        }
        &-btn {
            padding: 20px 37px;
        }
    }
    .recommend {
        width: 100%;
    }
}
@media(max-width: 980px) {
    .checkme {
        &-banner {
            display: none;
        }
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
        }
        &-final {
            position: static;
        }
    }
}
@media(max-width: 750px) {
    .checkme {
        &-lbl {
            &-item {
                &:nth-child(2) {
                    margin-bottom: 10px;
                }
            }
        }
        &-images {
            position: absolute;
            top: 9px;
            left: 227px;
        }
        &-image {
            min-width: 70px;
            width: 70px;
            height: 67px;
        }
        &-picture {
            margin-bottom: 13px;
        }
        &-name {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 13px;
        }
        &-delete {
            margin-bottom: 13px;
            position: relative;
            top: -10px;
        }
    }
    .recommend {
        &-list {
            overflow-x: scroll;
        }
        &-item {
            min-width: 326px;
        }
    }
    .plusmin {
        &-btn {
            padding: 16px 37px;
        }
    }
}
@media(max-width: 510px) {
    .checkme {
        padding-top: 15px;
        &-select {
            width: 100%;
        }
        &-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            color: #2A3342;
            border-bottom: 1px solid #E2E2E2;
            padding-bottom: 15px;
            box-sizing: border-box;
        }
        &-first {
            padding: 0;
            box-shadow: none;
        }
        &-item {
            width: 100%;
            margin-top: 7px;
            margin-bottom: 7px;
        }
        &-subtitle {
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
        }
        &-warning {
            font-weight: 400;
            font-size: 13px;
            line-height: 130%;
        }
        &-delivery {
            border-top: 1px solid #E2E2E2;
            padding-top: 17px;
            margin-top: 30px;
            overflow: hidden;
            &-body {
                box-shadow: none;
            }
            &-top {
                padding-top: 0;
                padding-left: 0;
                padding-right: 0;
            }
            &-bottom {
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;
                border-bottom: 1px solid #E2E2E2;
            }
            &-select {
                width: 100%;
            }
        }
        &-lbl {
            &-hide {
                margin-bottom: 10px;
                width: calc(50% - 14px);
                &-one {
                    width: calc(70% - 14px);
                }
                &-thue {
                    width: calc(30% - 14px);
                }
            }
            &-text {
                width: auto;
            }
        }
        &-field {
            &-num {
                width: 100%;
            }
            &-dd {
                width: 30%;
            }
            &-ccv {
                width: 30%;
            }
        }
        &-deli {
            margin-bottom: 0;
        }
        &-table {
            padding: 0;
            box-shadow: none;
        }
        &-subitem {
            border-bottom: 1px solid #E2E2E2;
            padding-bottom: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
        }
        &-picture {
            width: calc(25% - 20px);
        }
        &-name {
            width: 55%;
            padding-right: 15px;
            box-sizing: border-box;
        }
        &-delete {
            &-icon {
                margin-right: 7px;
                top: -2px;
            }
        }
        &-plusmin {
            width: 60%;
        }
        &-price {
            width: 40%;
        }
    }
    .recommend {
        margin: 30px 0 50px 0;
        &-title {
            &::before {
                content: none;
            }
            font-weight: 700;
            font-size: 18px;
            line-height: 21px;
            margin-bottom: 0;
        }
        &-list {
            margin: 0 -15px 15px -15px;
        }
    }
}
@media(max-width: 415px) {
    .checkme {
        &-name {
            width: 50%;
            font-size: 14px;
        }
        &-delete {
            width: 25%;
        }
        &-plusmin {
            width: 50%;
        }
        &-price {
            width: 50%;
        }
        &-link {
            margin-bottom: 10px;
        }
        &-deli {
            &-image {
                width: 30px;
            }
        }
    }
    .plusmin {
        &-body {
            width: 130px;
        }
        &-btn {
            padding: 16px 26px;
        }
    }
}
@media(max-width: 350px) {
    .checkme {
        &-lbl {
            font-size: 14px;
        }
        &-deli {
            font-size: 14px;
        }
        &-images {
            top: 13px;
            left: 210px;
        }
        &-image {
            min-width: 60px;
            width: 60px;
            height: 60px;
        }
        &-price {
            font-size: 17px;
        }
        &-old {
            font-size: 14px;
        }
    }
    .recommend {
        &-item {
            min-width: 300px;
        }
    }
}