@media(max-width: 1320px) {
    .content .row {
        flex-wrap: wrap;
        margin: 0 -15px;
        justify-content: center;
    }
    .content .col-6,
    .content .col-5,
    .content .col-7,
    .content .col-12 {
        width: 95%;
    }
    .content .col-3 {
        width: 46%;
    }
    footer .row {
        flex-wrap: nowrap!important;
    }
}
@media(max-width: 1040px) {
    .author {
        display: block;
        text-align: center;
        margin: 30px 0;
    }
    .author-image {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .sidebar-list {
        font-size: 14px;
    }
    .content .row {
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .content .col-6,
    .content .col-5,
    .content .col-7,
    .content .col-12,
    .content .col-3 {
        width: 100%;
    }
    .table-responsive {
        overflow-x: scroll;
    }
    .stat-table {
        max-width: 1000px;
    }
    .stat-table th, .stat-table td {
        padding: 5px;
    }
    .graphics-body {
        flex-wrap: wrap;
    }
    .graphics-text,
    .graphics-picture {
        width: 100%;
    }
    footer {
        padding-top: 20px;
        padding-bottom: 0;
    }
    footer .row {
        flex-wrap: wrap!important;
    }
    footer .col-8,
    footer .col-4 {
        width: 100%;
        text-align: center;
    }
    .footer-list {
        justify-content: center;
        margin: 10px 0;
    }
}
@media(max-width: 768px) {
    .main-body {
        padding-top: 80px;
    }
    /* Menu Icon */
    .cont {
        display: inline-block;
        cursor: pointer;
        margin-top: 6px;
        margin-left: 6px;
    }
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #ffffff;
        margin: 6px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 8px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    .change .bar2 {opacity: 0;}
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }
    .topnav {
        display: none;
    }
    .topnav .icon,
    .responsive-icon {
        display: block;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: -50px;
    }
    .topnav.responsive {
        display: block;
    }

    .header-item {
        padding-top: 5px;
    }
    .header-logo {
        background-color: transparent;
        box-shadow: none;
    }
    .header-title,
    .header-text {
        display: none;
    }
    .header-links {
        justify-content: flex-end;
    }
    .header-logo {
        width: 43%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header-links {
        width: 57%;
    }
    .navigation {
        min-width: 250px;
        padding: 20px;
        z-index: 2000;
    }
    main {
        position: relative;
    }
    .sidebar {
        position: absolute;
        left: 0;
        top: 80px;
        height: 100%;
        z-index: 2000;
        width: 50%;
        min-width: 280px;
    }
    .content {
        width: 100%;
    }
    .footer-list {
        display: block;
        text-align: center;
    }
    .footer-item {
        margin: 10px 0;
    }
    .unit-body,
    .total-picture {
        padding: 20px;
    }
    .totat-per {
        padding-left: 20px;
        padding-right: 20px;
    }
    .graphics-title {
        margin-top: 0;
    }
    .stat-list {
        font-size: 14px;
    }
    .stat-item {
        margin: 5px 0;
    }
    .stat-checks {
        width: 20px;
        height: 20px;
        position: relative;
        top: 6px;
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
@media(max-width: 425px) {
    .header-item {
        margin: 0 10px;
    }
    .graphics-body {
        font-size: 16px;
    }
    .table-responsive {
        overflow-x: scroll;
        max-width: 250px;
    }
    .stat-buttons {
        display: block;
    }
    .stat-right {
        margin-top: 20px;
    }
    .analitycs-text {
        font-size: 14px;
    }
    .analitycs-info {
        flex-wrap: wrap;
    }
    .info-picture,
    .info-text {
        width: 100%;
    }

}
@media(max-width: 375px) {
    .table-responsive {
        overflow-x: scroll;
        max-width: 200px;
    }
    .sidebar {
        position: absolute;
        left: 0;
        height: 100%;
        z-index: 1000;
        width: 70%;
    }
}