@media (max-width: 1820px) {
    .header-logo {
        order: -1;
        -ms-flex: 0 0 50%;
		flex: 0 0 50%;
        max-width: 50%; 
        text-align: left!important;
    } 
    .header-menu {
        order: 2;
        -ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
    }
    .header-weeks {
        order: 1;
        -ms-flex: 0 0 50%;
		flex: 0 0 50%;
        max-width: 50%;
        text-align: right!important;
        padding-right: 20px;
    }
    .catalog-decor {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        display: flex;
        position: absolute;
        top: 200px;
        right: 50px;
    }
    .hundred-body {
        margin-top: 0;
    }
}
@media (max-width: 1420px) {
    .hundred-decor, 
    .hundred-decorr,
    .catalog-decor {
        display: none;
    }
    .ball-down {
        right: 50px;
    }

    .ball-text {
        margin-right: 0;
    }
    .ball {
        max-width: 100%;
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .ball-down {
        text-align: right;
        position: relative;
        top: 0;
        right: 0;
    }
    .ball-text {
        margin-right: -70px;
    }
    .catalog-ody {
        justify-content: center;
    }
    .catalog-item {
        width: 47%;
    }
}
@media (max-width: 1199px) {
    .nav-back {
        display: block;
    }
    .nav {
        font-size: 16px;
        text-align: center;
        display: block;
    }
    .navbar-link {
        display: block;
        width: 100%;
    }
    .ball-image {
        display: none;
    }
    .hundred-body .col-5,
    .hundred-body .col-7 {
        -ms-flex: 0 0 100%;
		flex: 0 0 100%;
        max-width: 100%;
        padding: 0 20px;
    }
    .hundred-body .col-5 {
        margin-top: 400px;
    }
    .info {
        top: -60px;
        justify-content: flex-start;
        width: 100%;
        right: auto;
        left: 0;
    }
    .hundred-list {
        padding-left: 40px!important;
    }
    .hundred-list-second {
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .image-center {
        text-align: center;
        padding: 0;
    }
    .hundred-image {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 720px;
    }
    .button {
        margin-left: 0;
    }
    .hello-image {
        display: none;
    }
}
@media (max-width: 1024px) {
    h2 {
        font-size: 24px;
    }
    header {
        padding-bottom: 20px;
    }
    .catalog-item {
        width: 100%;
    }
    .info {
        display: none;
    }
    .hundred-body .col-5 {
        margin-top: 0;
    }
    .hundred-image {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        max-width: 400px;
        max-height: 400px;
    }
}
@media (max-width: 768px) {
    .ball {
        display: block;
        position: relative;
        text-align: center;
    }
    .ball-up {
        display: block;
        text-align: center;
    }
    .ball-text {
        margin-top: 50px;
        margin-right: 0;
        width: 100%;
    }
    .ball-down {
        text-align: center;
        z-index: 600;
        margin-top: -50px;
    }
    .hello-text {
        width: 100%;
        height: auto;
        background-image: none;
        background-color: #ffffff;
        padding: 40px;
        margin: 20px 0;
        font-size: 18px;
        border-radius: 30px;
        border: 5px solid #f39200;
    }
    .modal-title {
        font-size: 24px;
    }
    .hello-button {
        top: 20px;
    }
}
@media (max-width: 660px) {
    .content {
        padding: 0 10px;
    }
    .header-logo {
        order: -1;
        -ms-flex: 0 0 100%;
		flex: 0 0 100%;
        max-width: 100%;
        text-align: center!important;
        margin-bottom: 10px;
    }
    .header-weeks {
        order: 1;
        -ms-flex: 0 0 100%;
		flex: 0 0 100%;
        max-width: 100%;
        text-align: center!important;
        padding-right: 0;
        margin: 10px 0;
    }
    .catalog-item {
        padding: 40px 0;
        margin: 10px 0;
    }
    .catalog-image {
        width: 280px;
        height: 280px;
    }
    .catalog-title img {display: none;}
    .catalog-item .hidden {
        visibility: visible;
        width: auto;
        height: auto;
        margin: 10px 0;
        font-size: 22px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.4);
    }
    .hundred-descr {
        font-size: 18px;
    }
    .hundred-list {
        font-size: 18px;
    }
    .button-link {
        font-size: 16px;
        padding: 20px 40px;
    }
}

@media (max-width: 430px) {
    .header-weeks_big {
        font-size: 20px;
    }
    .header-weeks_small {
        font-size: 30px;
    }
    .ball-text {
        width: 100%;
    }
    .hundred-image {
        max-width: 280px;
        max-height: 260px;
    }
    .button-link {
        font-size: 16px;
        padding: 15px 20px;
    }
    .hello-text {
        padding: 20px;
    }
}


