/* Шрифты */
@font-face {
    font-family: 'GothamPro';
    src: url(../fonts/GothamPro.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro-Medium';
    src: url(../fonts/GothamPro-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro-Bold';
    src: url(../fonts/GothamPro-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro-Black';
    src: url(../fonts/GothamPro-Black.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'StudioScriptCTT';
    src: url(../fonts/StudioScriptCTT.ttf);
    font-weight: normal;
    font-style: normal;
}


/* Основные стили */
html{overflow-x: hidden;}
body {
    background-color: orange;
    font-family: 'GothamPro', Helvetica, sans-serif;
    overflow-x: hidden;
}
.page1 {
    background-color: #e9b700;
}
.container-fluid {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.row {
    padding: 0;
    margin: 0;
}
.content {
    max-width: 1920px;
    padding: 0 20px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'GothamPro-Black', Helvetica, sans-serif;
}
h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
}
.hidden {
    visibility: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    font-size: 0;
}

/* Шапка */
header {
    padding-top: 30px;
    padding-bottom: 50px;
}

/* Иконка навигации */
.nav-back {
    display: none;
}
.arrow-back {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 15px;
    top: 5px;
}
.menu {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Меню */
.navbar {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'GothamPro-Medium', Helvetica, sans-serif;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 -15px;
}
.navbar-item {
    border-bottom: 3px solid transparent;
    margin: 10px 15px;
    padding-bottom: 5px;
}
.navbar-item:hover,
.navbar-item:focus {
    border-bottom: 3px solid #ffffff;
}
.navbar-link, 
.navbar-link:hover, 
.navbar-link:focus {
    color: #ffffff;
    text-decoration: none;
}
.header-weeks {
    margin-top: -10px;
    padding-right: 160px;
}
.header-weeks_big {
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'GothamPro-Bold', Helvetica, sans-serif;
    line-height: 1.2;
}
.header-weeks_small {
    margin-top: 20px;
    line-height: 1;
    font-size: 40px;
    color: #ffffff;
    font-family: 'StudioScriptCTT', 'Times New Roman', Times, serif;
}

/* Попап */
.info {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 250px;
}

.info-text {
    position: relative;
    z-index: 500;
    top: 160px;
    right: -170px;
    font-family: 'GothamPro-Black', Helvetica, sans-serif;
    padding-left: 0;
    padding-top: 70px;
    text-align: center;
    font-size: 32px;
    background-image: url(../img/info-text.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 620px;
    height: 280px;
}
.info-text div {
    margin-left: -60px;
}
.info-image {
    position: relative;
    z-index: 400;
}
  
/* Декорации */
.hundred-decor  {
    opacity: 0.5;
    background: radial-gradient(circle closest-side,
        transparent 20%, transparent 50%, 
        #daa015 50%,  #daa015 88%, 
        transparent 88%, 
        transparent 100% 
    );
    width: 1300px;
    height: 1300px;
    position: absolute;
    z-index: -100;
    top: -340px;
    right: -220px;
}
.hundred-decorr  {
    opacity: 0.8;
    background: radial-gradient(circle closest-side,
        transparent 20%, transparent 50%, 
        #e0a30f 50%,  #e0a30f 88%, 
        transparent 88%, 
        transparent 100% 
    );
    width: 1300px;
    height: 1300px;
    position: absolute;
    z-index: -100;
    top: -340px;
    right: -340px;
}
.hundred-decor1 {
   background-image: url(../img/hundred-decor1.png);
   position: absolute;
   right: -40px;
   top: 800px;
   width: 300px;
   height: 300px;
   background-repeat: no-repeat;
   background-position: center;
}
.hundred-decor2 {
   background-image: url(../img/hundred-decor2.png);
   position: absolute;
   right: -30px;
   top: 1300px;
   width: 250px;
   height: 250px;
   background-repeat: no-repeat;
   background-position: center;
}
.catalog-decor1 {
    background-image: url(../img/in-smile2.png);
    position: absolute;
    right: -20px;
    top: 500px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
 }
 .catalog-decor2 {
    background-image: url(../img/in-smile3.png);
    position: absolute;
    right: 50px;
    top: 1000px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
 }
 .catalog-decor {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    display: flex;
    position: absolute;
    top: 50px;
    right: 150px;
}
.catalog-decor_text {
    background-image: url(../img/in-smile4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 410px;
    height: 330px;
    padding-top: 0;
    font-weight: bold;
    padding-top: 3px;
    margin-top: -250px;
    margin-right: -60px;
}
.catalog-decor_close {
    margin-right: 10px;
    margin-top: 0;
    text-align: right;
}
.decor-link {
    font-weight: normal;
    font-size: 48px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.833;
    text-align: center;
    background-image: linear-gradient(180deg, #f3e9a2, #d28a21);
    padding: 6px 15px;
    border-radius: 100%;
    box-shadow: inset 0px 0px 12px 1px #bd7f03;
    transition: all 0.5s;
}
.decor-link:hover,
.decor-link:focus {
    color: #ffffff;
    text-decoration: none;
    box-shadow: inset 0px 0px 12px 4px #896924;
}
.ball {
    max-width: 800px;
    position: absolute;
    right: 0;
    bottom: 40px;
}
.ball-up {
    display: flex;
}
.ball-text {
    background-image: url(../img/ball-popup3.png);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    width: 410px;
    height: 310px;
    padding-top: 60px;
    margin-top: -100px;
    margin-right: -70px;
    position: relative;
    z-index: 400;
}
.ball-down {
    text-align: right;
    position: relative;
    top: -40px;
    right: 140px;
}
.ball-button {
    margin-top: 50px;
    margin-right: 10px;
}

/* Секции */
.catalog {
    padding-bottom: 40px;
}
.catalog .content {
    position: relative;
}
.catalog-body {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    font-size: 24px;
}
.catalog-item {
    width: 33%;
    margin: 80px 10px;
    position: relative;
}
.catalog-title {
    letter-spacing: 2px;
    position: absolute;
    top: -50px;
    width: 100%;
    left: -10px;
}
.catalog-title1 {left: -80px;}
.catalog-title2 {left: -70px;}
.catalog-title3 {left: -40px;}
.catalog-title5 {left: -80px;}
.catalog-title7 {left: -30px;}

.catalog-title span {
    height: 300px;
    position: absolute;
    width: 100%;
    left: 0;
    top: -35px;
    transform-origin: bottom center;
}

.catalog-image {
    opacity: 0.66;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 10px solid #ffffff;
    background-color: #d7ba45;
    transition: all 0.5s;
}
.catalog-item:hover .catalog-image,
.catalog-item:focus .catalog-image {
    opacity: 1;
}
.catalog-button {
    margin-top: -50px;
    position: relative;
    z-index: 400;
}
.catalog-link {
    font-size: 24px;
    font-family: 'GothamPro-Medium', Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.833;
    text-align: center;
    background-image: linear-gradient(180deg, #f3e9a2, #d28a21);
    padding: 20px 60px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 12px 1px #bd7f03;
    transition: all 0.5s;
  }
  .catalog-link:hover,
  .catalog-link:focus {
      color: #ffffff;
      text-decoration: none;
      box-shadow: inset 0px 0px 12px 4px #896924;
  }

.hundred .content {
    position: relative;
}
.hundred-body {
    margin-top: -150px;
}
.hundred-descr {
    font-size: 26px;
}
.hundred-list {
    padding: 0 0 0 20px;
    margin: 0;
    font-size: 26px;
}
.hundred-image {
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background-color: #ffffff;
    margin-top: -60px;
    margin-bottom: 80px;
    border: 10px solid #ffffff;
}
.hundred-list-second {
    padding: 0 160px 0 120px;
}
  .button {
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: -160px;
  }
  .button-link {
    font-size: 24px;
    font-family: 'GothamPro-Medium', Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.833;
    text-align: center;
    background-image: linear-gradient(180deg, #f3e9a2, #d28a21);
    padding: 20px 60px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 12px 1px #bd7f03;
    transition: all 0.5s;
  }
  .button-link:hover,
  .button-link:focus {
      color: #ffffff;
      text-decoration: none;
      box-shadow: inset 0px 0px 12px 4px #896924;
  }

/* Модальные окна */
.hello-modal {
    background-color: rgba(230, 157, 39, 0.9); 
    background-image: url(../img/wow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hello-modal .modal-dialog {
   max-width: 100%;
}
.modal-content {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    border: 0;
}
.modal-footer {
   border: 0;
}
.hello {
   display: flex;
   justify-content: center;
}
.hello-text {
   width: 740px;
   height: 550px;
   font-size: 32px;
   padding-top: 70px;
   padding-left: 30px;
   padding-right: 30px;
   background-image: url(../img/hello-text.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'GothamPro-Medium', Helvetica, sans-serif;
   text-align: center;
   position: relative;
   z-index: 400;
}
.hello-image {
   position: relative;
   top: 320px;
   right: -50px;
}
.modal-title {
   font-family: 'GothamPro-Black', Helvetica, sans-serif;
   font-size: 32px;
}
.hello-button {
   text-align: center;
   position: relative;
   top: -100px;
   z-index: 1000;
}
  