/* Шрифты */
@font-face {
    font-family: 'GothamPro';
    src: url(../fonts/GothamPro.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro-Medium';
    src: url(../fonts/GothamPro-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro-Bold';
    src: url(../fonts/GothamPro-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro-Black';
    src: url(../fonts/GothamPro-Black.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'StudioScriptCTT';
    src: url(../fonts/StudioScriptCTT.ttf);
    font-weight: normal;
    font-style: normal;
}


/* Основные стили */
html{overflow-x: hidden;}
body {
    background-color: orange;
    font-family: 'GothamPro', Helvetica, sans-serif;
    overflow-x: hidden;
}
.content {
    max-width: 1920px;
    padding: 0 20px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'GothamPro-Black', Helvetica, sans-serif;
}
h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
}

/* Шапка */
header {
    padding-top: 30px;
    padding-bottom: 50px;
}

/* Меню */
.navbar {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'GothamPro-Medium', Helvetica, sans-serif;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 -15px;
}
.navbar-item {
    border-bottom: 3px solid transparent;
    margin: 10px 15px;
    padding-bottom: 5px;
}
.navbar-item:hover,
.navbar-item:focus {
    border-bottom: 3px solid #ffffff;
}
.navbar-link, 
.navbar-link:hover, 
.navbar-link:focus {
    color: #ffffff;
    text-decoration: none;
}
.header-weeks {
    margin-top: -10px;
}
.header-weeks_big {
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'GothamPro-Bold', Helvetica, sans-serif;
    padding-right: 160px;
    line-height: 1.2;
}
.header-weeks_small {
    margin-top: 20px;
    line-height: 1;
    font-size: 40px;
    color: #ffffff;
    font-family: 'StudioScriptCTT', 'Times New Roman', Times, serif;
    padding-right: 160px;
}

/* Попап */
.info {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 250px;
}

.info-text {
    position: relative;
    z-index: 500;
    top: 160px;
    right: -170px;
    font-family: 'GothamPro-Black', Helvetica, sans-serif;
    padding-left: 0;
    padding-top: 70px;
    text-align: center;
    font-size: 32px;
    background-image: url(../img/info-text.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 620px;
    height: 280px;
}
.info-text div {
    margin-left: -60px;
}
.info-image {
    position: relative;
    z-index: 400;
}
  
/* Декорации */
.hundred-decor  {
    opacity: 0.5;
    background: radial-gradient(circle closest-side,
        transparent 20%, transparent 50%, 
        #daa015 50%,  #daa015 88%, 
        transparent 88%, 
        transparent 100% 
    );
    width: 1300px;
    height: 1300px;
    position: absolute;
    z-index: -100;
    top: -540px;
    right: -620px;
}
.hundred-decor1 {
   background-image: url(../img/hundred-decor1.png);
   position: absolute;
   right: -40px;
   top: 800px;
   width: 300px;
   height: 300px;
   background-repeat: no-repeat;
   background-position: center;
}
.hundred-decor2 {
   background-image: url(../img/hundred-decor2.png);
   position: absolute;
   right: -30px;
   top: 1300px;
   width: 250px;
   height: 250px;
   background-repeat: no-repeat;
   background-position: center;
}

/* Секции */
.hundred .content {
    position: relative;
}
.hundred-body {
    margin-top: -150px;
}
.hundred-descr {
    font-size: 26px;
}
.hundred-list {
    padding: 0 0 0 20px;
    margin: 0;
    font-size: 26px;
}
.hundred-image {
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background-color: #ffffff;
    padding: 10px;
    margin-top: -60px;
    margin-bottom: 80px;
}
.hundred-list-second {
    padding: 0 160px 0 120px;
}
  .button {
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: -160px;
  }
  .button-link {
    font-size: 24px;
    font-family: 'GothamPro-Medium', Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.833;
    text-align: center;
    background-image: linear-gradient(180deg, #f3e9a2, #d28a21);
    padding: 20px 60px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 12px 1px #bd7f03;
    transition: all 0.5s;
  }
  .button-link:hover,
  .button-link:focus {
      color: #ffffff;
      text-decoration: none;
      box-shadow: inset 0px 0px 12px 4px #896924;
  }
  
  
  