/* Шрифты */
@font-face {
    font-family: 'GothamPro';
    src: url(../fonts/GothamPro.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro-Medium';
    src: url(../fonts/GothamPro-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro-Bold';
    src: url(../fonts/GothamPro-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro-Black';
    src: url(../fonts/GothamPro-Black.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'StudioScriptCTT';
    src: url(../fonts/StudioScriptCTT.ttf);
    font-weight: normal;
    font-style: normal;
}


/* Основные стили */
html{
    overflow-x: hidden;
    -ms-overflow-style: none;
}
body {
    background-color: orange;
    font-family: 'GothamPro', Helvetica, sans-serif;

}
.page1 {
    background-color: #e9b700;
}
.page2 {background-color: #b62f28;}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
}
.row {
    padding: 0;
    margin: 0;
}
.content {
    max-width: 1920px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'GothamPro-Black', Helvetica, sans-serif;
}
h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 36px;
}
.hidden {
    visibility: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    font-size: 0;
}

/* Шапка */
header {
    padding-top: 30px;
    padding-bottom: 50px;
}

/* Иконка навигации */
.nav-back {
    display: none;
    cursor: pointer;
}
.arrow-back {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 15px;
    top: 5px;
}
.menu {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 7px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Меню */
.navbar {
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'GothamPro-Medium', Helvetica, sans-serif;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 -15px;
    list-style: none!important;
}
.navbar-item {
    border-bottom: 3px solid transparent;
    margin: 10px 15px;
    padding-bottom: 5px;
}
.navbar-item:hover,
.navbar-item:focus,
.navbar-item.active {
    border-bottom: 3px solid #ffffff;
}
.navbar-link, 
.navbar-link:hover, 
.navbar-link:focus {
    color: #ffffff;
    text-decoration: none;
}
.header-weeks {
    margin-top: -10px;
    padding-right: 160px;
}
.header-weeks_big {
    font-size: 40px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'GothamPro-Bold', Helvetica, sans-serif;
    line-height: 1.2;
}
.header-weeks_small {
    margin-top: 20px;
    line-height: 1;
    font-size: 40px;
    color: #ffffff;
    font-family: 'StudioScriptCTT', 'Times New Roman', Times, serif;
}

/* Попап */
.info {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 250px;
}

.info-text {
    position: relative;
    z-index: 500;
    top: 160px;
    right: -170px;
    font-family: 'GothamPro-Black', Helvetica, sans-serif;
    padding-left: 0;
    padding-top: 70px;
    text-align: center;
    font-size: 32px;
    background-image: url(../img/info-text.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 620px;
    height: 280px;
}
.info-text div {
    margin-left: -60px;
}
.info-image {
    position: relative;
    z-index: 400;
}
  
/* Декорации */
.hundred-decor  {
    opacity: 0.5;
    background: radial-gradient(circle closest-side,
        transparent 20%, transparent 50%, 
        #daa015 50%,  #daa015 88%, 
        transparent 88%, 
        transparent 100% 
    );
    width: 1300px;
    height: 1300px;
    position: absolute;
    z-index: -100;
    top: -340px;
    right: -220px;
}
.hundred-decorr  {
    opacity: 0.8;
    background: radial-gradient(circle closest-side,
        transparent 20%, transparent 50%, 
        #e0a30f 50%,  #e0a30f 88%, 
        transparent 88%, 
        transparent 100% 
    );
    width: 1300px;
    height: 1300px;
    position: absolute;
    z-index: -100;
    top: -340px;
    right: -340px;
}
.hundred-decorr-red {
    background: radial-gradient(circle closest-side,
    transparent 20%, transparent 50%, 
    #ab271d 50%,  #ab271d 88%, 
    transparent 88%, 
    transparent 100% 
);
}
.hundred-decor1 {
   background-image: url(../img/hundred-decor1.png);
   position: absolute;
   right: -40px;
   top: 800px;
   width: 300px;
   height: 300px;
   background-repeat: no-repeat;
   background-position: center;
   z-index: -10;
}
.hundred-decor2 {
   background-image: url(../img/hundred-decor2.png);
   position: absolute;
   right: -30px;
   top: 1300px;
   width: 250px;
   height: 250px;
   background-repeat: no-repeat;
   background-position: center;
   z-index: -10;
}
.catalog-decor1 {
    background-image: url(../img/in-smile2.png);
    position: absolute;
    right: -20px;
    top: 500px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;
 }
 .catalog-decor2 {
    background-image: url(../img/in-smile3.png);
    position: absolute;
    right: 50px;
    top: 1000px;
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -10;
 }
 .catalog-decor {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    display: flex;
    position: absolute;
    top: 50px;
    right: 150px;
}
.catalog-decor_text {
    background-image: url(../img/in-smile4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 410px;
    height: 330px;
    padding-top: 0;
    font-weight: bold;
    padding-top: 3px;
    margin-top: -250px;
    margin-right: -60px;
}
.catalog-decor_close {
    margin-right: 10px;
    margin-top: 0;
    text-align: right;
}
.decor-link {
    font-weight: normal;
    font-size: 48px;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.833;
    text-align: center;
    background-image: linear-gradient(180deg, #f3e9a2, #d28a21);
    padding: 6px 15px;
    border-radius: 100%;
    box-shadow: inset 0px 0px 12px 1px #bd7f03;
    transition: all 0.5s;
}
.decor-link:hover,
.decor-link:focus {
    color: #ffffff;
    text-decoration: none;
    box-shadow: inset 0px 0px 12px 4px #896924;
}
.ball {
    max-width: 800px;
    position: absolute;
    right: 0;
    bottom: 40px;
}
.ball-up {
    display: flex;
}
.ball-text {
    background-image: url(../img/ball-popup3.png);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    width: 410px;
    height: 310px;
    padding-top: 60px;
    margin-top: -100px;
    margin-right: -70px;
    position: relative;
    z-index: 400;
}
.ball-down {
    text-align: right;
    position: relative;
    top: -40px;
    right: 140px;
}
.ball-button {
    margin-top: 50px;
    margin-right: 10px;
}

/* Секции */
section {
    font-size: 26px;
}
.catalog {
    padding-bottom: 40px;
}
.catalog .content {
    position: relative;
}
.catalog-body {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    font-size: 24px;
}
.catalog-item {
    width: 33%;
    margin: 80px 10px;
    position: relative;
}
.catalog-title {
    letter-spacing: 2px;
    position: absolute;
    top: -50px;
    width: 100%;
    left: -10px;
}
.catalog-title1 {left: -80px;}
.catalog-title2 {left: -70px;}
.catalog-title3 {left: -40px;}
.catalog-title5 {left: -80px;}
.catalog-title7 {left: -30px;}

.catalog-title span {
    height: 300px;
    position: absolute;
    width: 100%;
    left: 0;
    top: -35px;
    transform-origin: bottom center;
}

.catalog-image {
    opacity: 0.46;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 10px solid #ffffff;
    background-color: #d7ba45;
    transition: all 0.5s;
}
.catalog-item:hover .catalog-image,
.catalog-item:focus .catalog-image {
    opacity: 1;
}
.catalog-button {
    margin-top: -50px;
    position: relative;
    z-index: 400;
}
.catalog-link {
    font-size: 24px;
    font-family: 'GothamPro-Medium', Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.833;
    text-align: center;
    background-image: linear-gradient(180deg, #f3e9a2, #d28a21);
    padding: 20px 60px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 12px 1px #bd7f03;
    transition: all 0.5s;
  }
  .catalog-link:hover,
  .catalog-link:focus {
      color: #ffffff;
      text-decoration: none;
      box-shadow: inset 0px 0px 12px 4px #896924;
  }

.hundred .content {
    position: relative;
}
.hundred-body {
    margin-top: -150px;
}
.hundred-descr {
    font-size: 26px;
}
.hundred-list {
    padding: 0 0 0 20px;
    margin: 0;
    font-size: 26px;
}
.hundred-image {
    width: 700px;
    height: 700px;
    border-radius: 100%;
    background-color: #ffffff;
    margin-top: -60px;
    margin-bottom: 80px;
    border: 10px solid #ffffff;
}
.hundred-list-second {
    padding: 0 160px 0 120px;
}
  .button {
      margin-top: 60px;
      margin-bottom: 60px;
      margin-left: 0;
  }
  .button-link {
    font-size: 24px;
    font-family: 'GothamPro-Medium', Helvetica, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 0.833;
    text-align: center;
    background-image: linear-gradient(180deg, #f3e9a2, #d28a21);
    padding: 20px 60px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 12px 1px #bd7f03;
    transition: all 0.5s;
  }
  .button-link:hover,
  .button-link:focus {
      color: #ffffff;
      text-decoration: none;
      box-shadow: inset 0px 0px 12px 4px #896924;
  }

/* Страница шара */
  .eightball {
    margin-top: -100px;
}
.eightball .content {
    position: relative;
}
.eightball-decor {
    position: absolute;
    right: 350px;
    top: -50px;
    z-index: -10;
}
.eightball-body {
   display: flex;
}
.eightball-right {
   margin-top: 150px;
   margin-left: 150px;
}
.stars-text {
    width: 640px;
    height: 460px;
    font-size: 32px;
    background-image: url(../img/stars-text.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding-top: 100px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'GothamPro-Black', Helvetica, sans-serif;
}
.stars-image {
   position: relative;
   left: 30px;
   top: -60px;
   z-index: -10;
}
.eightball-card {
    text-align: center;
}
.eightball-button {
   margin-top: 20px;
}
.eightball-link {
    display: block;
    line-height: 1;
    border-radius: 50px;
}

/* Страница рецепты */
.recipes-body {
    width: 80%;
    align-items: center;
    margin: 20px 0;
}
.recipes-image {
    width: 420px;
    height: 420px;
    border-radius: 100%;
    border: 10px solid #ffffff;
}
.recipes-image-large {
    width: 570px;
    height: 570px;
    margin-bottom: 50px;
}

/* Таймер */
.timer-decor {
    position: absolute;
    right: 30px;
    top: 220px;
    z-index: -10;
}
.timer-body {
    display: flex;
    width: 600px;
    margin-top: -150px;
}
.timer-text {
    background-image: url(../img/timer-text.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-size: 23px;
    width: 620px;
    height: 810px;
    color: #444444;
    padding-top: 40px;
    padding-left: 80px;
    padding-right: 80px;
}
.timer-title {
    font-size: 32px;
}
.timer-descr {
    margin: 10px 0;
}
.timer-list {
    padding: 0;
    margin: 0;
}
.timer-image {
    position: relative;
    top: -150px;
    left: 120px;
    z-index: -10;
}

/* Таймер: Форма */
.timer-form label {
    font-size: 32px;
    font-family: 'GothamPro-Medium', Helvetica, sans-serif;
}
.timer-field {
    padding: 10px 15px;
    border-radius: 10px;
    width: 100%;
    border: 4px solid #f39200;
    margin-bottom: 10px;
}
.timer-field-big {
    padding: 20px 15px;
}
.timer-field-small {
    width: auto;
    padding: 5px 10px;
    max-width: 200px;
}

/* Таймер: Форма селект */
.timer-control {
    background-image: none;
    background-color: #ffffff;
}
.timer-dropdown {
    width: 100%;
    margin-top: -65px;
    top: -50px;
    font-size: 24px;
    border: 4px solid #f39200;
    border-radius: 10px;
    color: #4c4948;
}
.timer-dropdown_item {
    padding: 5px 20px;
}
.timer-dropdown_item:hover,
.timer-dropdown_item:focus {
    background-color: #e7cb87;
    cursor: pointer;
}

/* Таймер: Радиобатоны */
.radio-wrap {
    display: flex;
    align-items: flex-start;
}

.radiolabe {
    display: block;
    position: relative;
    padding-right: 40px;
    margin-right: 60px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radiolabe input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 8px;
    right: -35px;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #f39200;
}

/* On mouse-over, add a grey background color */
.radiolabe:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiolabe input:checked ~ .checkmark {
    background-color: #ffffff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiolabe input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiolabe .checkmark:after {
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f39200;
}
.radiolabe {
    text-transform: uppercase;
    font-size: 20px;
}
.timer-radio {
    margin-left: 20px;
    margin-right: 60px;
    width: 20px;
    height: 20px;
}

/* Таймер: Форма футер */
.form-footer {
    display: flex;
    align-items: center;
}
.form-footer_item {
    margin-right: 40px;
}
.form-footer-button {
    margin-top: 20px;
}


/* Открытка */
.epost-body {
    display: flex;
    margin-top: -180px;
}
.epost-decor {
    position: absolute;
    z-index: -10;
    right: 180px;
    top: 470px;
}
.epost-image {
     position: relative;
     right: 120px;
     top: 180px;
     z-index: -100;
}
.epost-text {
     font-size: 23px;
     background-image: url(../img/epost-text.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     width: 1400px;
     height: 470px;
     padding-top: 40px;
     padding-left: 40px;
     padding-right: 340px;
}
.epost-items {
    display: flex;
    margin: 0 -50px;
    flex-wrap: wrap;
}
.epost-item {
    margin: 30px 50px;
    text-align: center;
}
.epost-img {
    width: 440px;
    height: 250px;
    border-radius: 20px;
    border: 8px solid #ffffff;
}
.epost-button {
    margin-top: -20px;
}

/* Видео-благодарности */
.videos-body {
    margin-top: -120px;
    display: flex;
}
.videos-title {
    font-size: 26px;
    text-align: center;
}
.videos-text {
    font-size: 21px;
    background-image: url(../img/videos-text.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1270px;
    height: 460px;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 100px;
}
.videos-numbers {
    padding-left: 20px;
}
.videos-image {
    position: relative;
    left: -120px;
    top: -50px;
    z-index: -10;
}
.videos-button {
    text-align: center;
    margin-top: -45px;
    margin-left: -60px;
}
.videos-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -25px;
}
.videos-item {
    border: 8px solid #ffffff;
    border-radius: 30px;
    margin: 70px 50px;
    padding: 30px;
    position: relative;
    color: #ffffff;
    text-align: center;
}
.videos-icon {
    position: absolute;
    top: -35px;
    left: -35px;
}
.videos-item_title {
    font-size: 22px;
    text-transform: uppercase;
    color: #ffffff;
    margin-left: 30px;
    text-align: left;
}
.videos-all {
    border: 8px solid #ffffff;
    border-radius: 30px;
}
.videos-self {
    position: relative;
}
.videos-all {
    width: 400px;
    height: 300px;
}
.self-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 120px;
    opacity: 0.8;
    transition: all 0.5s;
    cursor: pointer;
}
.self-icon:hover,
.self-icon:focus {
    opacity: 1;
}
.videos-item_button {
    position: relative;
    z-index: 10;
    top: 50px;
}
/* Модальные окна */
.hello-modal {
    background-color: rgba(230, 157, 39, 0.9); 
    background-image: url(../img/wow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hello-modal .modal-dialog {
   max-width: 100%;
}
.modal-content {
    background-color: transparent;
    width: 100%;
    margin: 0 auto;
    border: 0;
}
.modal-footer {
   border: 0;
}
.hello {
   display: flex;
   justify-content: center;
}
.hello-text {
   width: 740px;
   height: 550px;
   font-size: 32px;
   padding-top: 70px;
   padding-left: 30px;
   padding-right: 30px;
   background-image: url(../img/hello-text.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'GothamPro-Medium', Helvetica, sans-serif;
   text-align: center;
   position: relative;
   z-index: 400;
}
.hello-image {
   position: relative;
   top: 320px;
   right: -50px;
}
.modal-title {
   font-family: 'GothamPro-Black', Helvetica, sans-serif;
   font-size: 32px;
}
.hello-button {
   text-align: center;
   position: relative;
   top: -100px;
   z-index: 1000;
}
.epost-hello {
    position: relative;
}
.epost-modal_image {
    position: relative;
    top: 600px;
    left: 100px;
}
.epost-modal_text {
    background-image: url(../img/epost-modal_wrap.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1330px;
    height: 790px;
    padding: 80px 80px;
    text-align: left;
}
.epost-modal_button {
    margin-top: -70px;
}
.videos-modal_text {
    font-size: 23px;
    background-image: none;
    width: 100%;
    height: auto;
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    background-color: #ffffff;
    border: 8px solid #f39200;
    border-radius: 50px;
    min-width: 700px;
}
.videos-modal-title {
    font-size: 32px;
}
.videos-modal_button {
    text-align: center;
    margin: 60px 0;
}
.videos-modal_text label{
    margin: 20px 0;
    width: 100%;
}
.videos-modal_image {
    top: 600px;
    z-index: -10;
}
.videos-modal_link {
    color: #444444;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 1px solid #444444;
}
.videos-modal_link:hover,
.videos-modal_link:focus {
    text-decoration: none;
    color: #444444;
    border-bottom: 1px solid transparent;
}