/* Шрифты */
@font-face {
    font-family: 'GothamPro';
    src: url(../fonts/GothamPro.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro-Medium';
    src: url(../fonts/GothamPro-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro-Bold';
    src: url(../fonts/GothamPro-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'StudioScriptCTT';
    src: url(../fonts/StudioScriptCTT.ttf);
    font-weight: normal;
    font-style: normal;
}


/* Основные стили */
body {
    background-color: orange;
    font-family: 'GothamPro', Helvetica, sans-serif;
}