@media(max-width: 1280px) {
    .reviews-slider {
        width: 85%;
        margin: 0 auto;
    }
}
@media(max-width: 1170px) {
    .header-body .col-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .header-body .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        order: 1;
    }
    .header-nav {
        justify-content: space-between;
    }
    .nav-link {
        padding-left: 0;
        padding-right: 0;
    }
    .header-phone {
        justify-content: flex-end;
    }
    .whyus-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .whyus-item {
        width: 35%;
    }
    .propose-list,
    .works-list,
    .more-list {
        justify-content: center;
    }
    .footer-down .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer-copy {
        order: 1;
        text-align: center;
    }
}
@media(max-width: 1024px) {
    header {
        background-position: left top;
        padding-bottom: 40px;
    }
    .prev-body .col-7 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .prev-descr {
        margin-right: 0;
    }
    .pref-manage {
        margin-left: auto;
        margin-right: auto;
    }
    .prev {
        padding: 50px 0 0 0;
    }

}
@media(max-width: 768px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 32px;
    }
    .manage-fielde-exp {
        font-size: 18px!important;
    }
    .header-nav {
        display: none;
    }
    .whyus-item {
        width: 40%;
        font-size: 16px;
        margin: 10px 10px;
    }
    .whyus-title {
        font-size: 20px;
    }
    .propose-item {
        width: 210px;
        margin:  10px 5px;
    }
    .propose-image {
        height: 110px;
    }
    .propose-text {
        padding: 10px 15px;
    }
    .propose-title {
        font-size: 14px;
    }
    .propose-price {
        font-size: 12px;
    }
    .prev-descr {
        font-size: 18px;
    }
    .propose-btns {
        font-size: 12px;
        display: flex;
    }
    .propose-yes {
        padding: 7px 25px;
        font-size: 12px;
        margin: 0 0 0 10px;
    }
    .propose-more {
        margin: 0;
    }
    .ready-body .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .ready-body h2 {
        text-align: center!important;
    }
    .pref-manage-line {
        flex-wrap: wrap;
    }
    .manage-line_item {
        width: 100%;
    }
    .pref-btn {
        margin-top: 0;
    }
    .manage-button-pref {
        width: 100%;
    }
    .footer-up .col-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .header-nav-small {
        display: flex;
        margin-top: 40px;
    }
    .header-nav-small .nav-link {
        padding-left: 0;
    }
    .works-menu {
        flex-wrap: nowrap;
        font-size: 12px;
    }
    .works-menu_item {
        margin: 0;
    }
    .works-button {
        padding: 10px 5px;
    }
    .works-item {
        margin: 10px;
    }
    .works-image {
        width: 210px;
        height: 140px;
    }
    .ready-image {
        margin-bottom: 50px;
        max-width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
    footer {
        margin-top: 0;
    }
    .header-nav-small {
        font-size: 14px;
    }
    .footer-list {
        font-size: 12px;
    }
    .footer-item {
        margin: 10px 0;
    }
    .footer-copy {
        margin-top: 10px;
        font-size: 14px;
    }
    .modal-body-propose {
        padding: 15px 20px;
        font-size: 16px;
    }
    .modal-image {
        max-height: 310px;
    }
    .propose-title-modal {
        font-size: 30px;
    }
    .propmod-title {
        display: block;
    }
    .propose-price-modal {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .manage-button-modal {
        font-size: 18px!important;
        box-shadow: none;
        padding: 8px 30px!important;
        margin-top: 0;
    }
    .propmod-text {
        font-size: 16px;
    }
    .works-menu {
        display: block;
    }
    .single-title {
        font-size: 24px;
    }
    .single .col-3,
    .single .col-9 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .single .col-3 {
        margin-top: 20px;
    }
    .single .col-9 {
        order: -1;
    }
    .single-list {
        margin-left: 20px;
    }
}
@media(max-width: 560px) {
    .header-body .col-3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .header-phone,
    .header-body .col-6 {
        display: none;
    }
    .more-item {
        margin: 0 10px;
        width: 100%;
    }
    .more-title {
        padding-bottom: 5px;
        margin-bottom: 5px;
    }
    .more-button_link {
        font-size: 22px;
        padding: 14px 45px;
    }
    .reviews-slider {
        width: 75%;
    }
    .ready-picture {
        display: none;
    }
    .single-image {
        max-width: 100%;
        float: none!important;
        margin: 0 0 10px 0!important;
    }
}
@media(max-width: 490px) {
    .header-nav-small {
        display: none;
    }
    h2 {
        font-size: 24px;
    }
    .whyus-list {
        margin: 0 0 40px 0;
    }
    .whyus-item {
        width: 100%;
        text-align: center;
    }
    .whyus-icon {
        margin-left: 0;
    }
    .pref-manage {
        padding: 30px 20px;
    }
    .more-title_exz {
        font-size: 18px;
    }
    .more-price {
        font-size: 18px;
    }
    .footer-list {
        display: block;
        text-align: center;
    }
    .footer-item {
        display: block;
        margin: 20px 0;
    }
    .footer-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .manage-wrp {
        padding: 20px 0;
    }
    .manage-title-modal {
        font-size: 28px!important;
    }
    .single {
        padding: 20px 0 40px 0;
    }
    .single-title {
        font-size: 20px;
    }
     
    /* Стили всплывающего окна */
    #bg_popup {
        display: block;
        position: fixed;
        z-index: 99999;
        right: 0;
        bottom: 0;
        width: 100%;
    }
}