/* Шрифты */

@font-face {
    font-family: 'ProximaNova-Regular';
    src: url(../fonts/ProximaNova-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url(../fonts/ProximaNova-Semibold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Bold';
    src: url(../fonts/ProximaNova-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calibri-Bold';
    src: url(../fonts/calibrib.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Основные стили */

body {
    color: #373737;
    font-family: 'ProximaNova-Regular', Arial, Helvetica, sans-serif;
    line-height: 1.3;
}
.container-fluid, .row {
    padding: 0;
    margin: 0;
}
.content {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    transition: 0.5s;
}
h1, h2, h3, h4, h5, h6, strong, b {
    font-family: 'ProximaNova-Bold', Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 48px;
    line-height: 1;
}
h2 {
    font-size: 48px;
    text-align: center;
}

/* Шапка и меню */
header {
    background-image: url(../img/header-bg2.jpg);
    background-size: inherit;
    background-repeat: no-repeat;
    background-position: center top;
}
.header-single {
    background-position: left top;
    padding-bottom: 0;
}
header .content {
    padding: 0;
}
.header-body {
    padding: 20px 0;
    align-items: center;
}
.header-link {
    line-height: 1;
    color: #4c7ef2;
    font-size: 30px;
    font-family: 'Calibri-Bold', Arial, Helvetica, sans-serif;
}
.header-link:hover,
.header-link:focus {
    color: #4c7ef2;
    text-decoration: none;
}
.header-nav {
    display: flex;
    font-size: 18px;
    color: #373737;
    padding-left: 10px;
    padding-top: 10px;
}
.nav-link {
    color: #373737;
    padding-left: 20px;
    padding-right: 20px;
}
.nav-link:hover,
.nav-link:focus {
    text-decoration: underline;
}
.header-phone {
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-top: 5px;
}
.phone-image {
    margin-right: 20px;
}
.phone-num {
    font-size: 16px;
    color: #373737;
    font-family: 'ProximaNova-Semibold', Arial, Helvetica, sans-serif;
}
.phone-num_link {
    color: #373737;
}
.phone-num_link:hover,
.phone-num_link:focus {
    color: #373737;
}
.phone-back_link {
    color: #4c7ef2;
}
.phone-back_link:hover,
.phone-back_link:focus {
    color: #4c7ef2;
    text-decoration: underline;
}

/* Секции */

.prev {
    padding: 190px 0 210px 0;
}
.prev-descr {
    margin-top: 20px;
    font-size: 24px;
    margin-right: 150px;
    margin-bottom: 0;
}
.prev-descr span {
    color: #4c7ef2;
}
.pref-manage {
    margin-top: 40px;
    color: #373737;
    text-align: center;
    max-width: 390px;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.139);
}
.manage-title {
    font-size: 28px;
    margin-bottom: 20px;
}
.manage-field {
    color: #949494;
    font-size: 18px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 12px 20px;
    border-width: 2px;
    border-color: rgb(232, 232, 232);
    border-style: solid;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    outline: none;
}
.manage-btn {
    margin-top: 8px;
}
.manage-button {
    padding: 12px 20px!important;
    font-size: 18px!important;
    background-color: #4a7cf0;
    color: #ffffff;
    cursor: pointer;
    outline: none!important;
    border-color: #4a7cf0;
}
.manage-button:hover,
.manage-button:focus {
    background-color: transparent;
    color: #4a7cf0;
}
.whyus {
    padding: 80px 0 0 0;
}
.whyus-list {
    display: flex;
    margin: 40px -15px;
}
.whyus-item {
    font-size: 18px;
    margin: 10px 15px;
}
.whyus-icon {
    margin-bottom: -40px;
    height: 160px;
    margin-left: -40px;
}
.whyus-title {
    font-size: 24px;
    font-family: 'ProximaNova-Semibold', Arial, Helvetica, sans-serif;
}
.propose {
    padding: 0;
}
.propose-list {
    margin: 40px -15px;
    display: flex;
    flex-wrap: wrap;
}
.propose-item {
    width: 360px;
    margin: 25px 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.139);
}
.propose-image {
    width: 100%;
    height: 195px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.propose-text {
    padding: 15px 25px;
}
.propose-title {
    font-size: 22px;
}
.propose-price {
    font-size: 18px;
    margin-top: 20px;
}
.propose-btns {
    font-size: 18px;
    margin: 0 -10px;
}
.propose-yes {
    margin: 0 10px;
    cursor: pointer;
    color: #ffffff;
    border: 2px solid #4a7cf0;
    outline: none!important;
    padding: 7px 35px;
    border-radius: 20px;
    font-family: 'ProximaNova-Semibold', Arial, Helvetica, sans-serif;
    background-image: linear-gradient( 90deg, rgb(66,116,231) 0%, rgb(76,126,242) 100%);
}
.propose-yes:hover,
.propose-yes:focus {
    color: #4a7cf0;
    background-image: none;
    background-color: transparent;
}
.propose-more {
    margin: 0 10px;
    color: #4c7ef2;
    background-color: transparent;
    border: 0;
    outline: none!important;
    cursor: pointer;
}
.propose-more:hover,
.propose-more:focus {
    text-decoration: underline;
}
.more {
    padding: 30px 0;
}
.more-list {
    margin: 30px -15px 30px -15px;
    display: flex;
    flex-wrap: wrap;
}
.more-item {
    margin: 30px 15px;
    width: 360px;
}
.more-title {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.more-title_exz {
    font-family: 'ProximaNova-Semibold', Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 22px;
}
.more-price {
    color: #4c7ef2;
    font-size: 22px;
}
.more-button_link {
    font-size: 24px;
    padding: 14px 67px;
    border-radius: 30px;
    border: 2px solid #4c7ef2;
    color: #ffffff;
    background-image: linear-gradient( 90deg, rgb(66,116,231) 0%, rgb(76,126,242) 100%);
    box-shadow: 7px 12.124px 51px 0px rgba(71, 121, 237, 0.224);
}
.more-button_link:hover,
.more-button_link:focus {
    background-image: none;
    color: #4c7ef2;
    text-decoration: none;
}
.reviews {
    padding: 65px 0;
}
.reviews-slider {
    margin: 80px -20px 10px -20px;
}
.reviews-item {
    width: 260px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.139);
    margin: 10px 20px;
}
.reviews-image {
    width: 100%;
}
.works {
    padding: 0;
}
.works-menu {
    font-size: 18px;
    text-align: center;
    border-radius: 30px;
    display: flex;
    width: auto;
    justify-content: center;
    margin: 45px 0;
    border-radius: 30px!important;
}
.works-menu_item {
    margin: 0 10px;
}
.works-button {
    color: #4c7ef2;
    padding: 10px 45px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    width: 100%;
    display: block;
    border-radius: 30px;
}
.works-button:hover,
.works-button:focus,
.works-button.active {
    background-color: #4c7ef2;
    color: #ffffff;
    text-decoration: none;
}
.works-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}
.works-item {
    margin: 15px 10px;
}
.works-image {
    width: 360px;
    height: 240px;
    border-radius: 15px;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.139);
}
.ready {
    padding: 50px 0;
}
.ready-body {
    align-items: center;
    padding: 0;
}
.ready-image {
    width: 100%;
    margin-top: 40px;
    margin-left: -10px;
}
.prev-descr-ready {
    font-size: 24px;
    margin-right: 0;
}
.pref-wrap {
    margin: 25px 0;
}
.pref-manage-line {
    display: flex;
    justify-content: space-between;
}
.manage-line_item {
    width: 48%;
}
.pref-btn {
    margin-top: 20px;
}
.manage-button {
    font-size: 24px!important;
    margin-top: 10px;
    padding: 10px 40px!important;
    border-radius: 30px;
    border: 2px solid #4c7ef2;
    font-family: 'ProximaNova-Semibold', Arial, Helvetica, sans-serif;
    box-shadow: 7px 12.124px 51px 0px rgba(71, 121, 237, 0.224);
}

/* Внутренняя страница */

.single {
    padding: 40px 0 60px 0;
}
.single-title {
    margin-bottom: 10px;
}
.single-image {
    max-width: 370px;
    width: 100%;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.139);
}
.single-image-left {float: left; margin-right: 20px;}
.single-image-right {float: right; margin-left: 10px;}
.single-image-center {
    margin: 10px 0;
}
.single-button {
    margin-top: 30px;
}
.footer-single {
    margin-top: 0;
}
.single-list {
    float: left;
    list-style-type: initial;
    list-style: disc;
    font-size: 16px;
}
.single-list_item {
    margin: 5px 0;
}
.single-list_link {
    color: hsl(222, 86%, 62%);
}

/* Футер */
footer {
    margin-top: 140px;
    font-size: 15px;
}
.footer-up {
    align-items: center;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 5px;
    margin: 10px 20px;
    border-bottom: 2px solid #ebebeb;
}
.footer-up .col-6 {
    padding: 0;
}
.header-nav-small {
    font-size: 15px;
    justify-content: space-between;
}
.header-nav-small .nav-link {
    padding-left: 0;
    padding-right: 0;
}
.footer-down {
    align-items: center;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
}
.footer-list {
    margin: 0 -10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
.footer-item {
    display: flex;
    align-items: center;
    margin: 10px;
}
.footer-icon {
    margin-right: 10px;
}
.footer-link {
    color: #373737;
}
.footer-link:hover,
.footer-link:focus {
    color: #373737;
}

.slick-track {padding-top: 0;}
.slick-prev:before, .slick-next:before 
{ font-family: "slick"; font-size: 60px; line-height: 1; color: #000; opacity: 1; 
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: url(../img/arrow-left.png); }
[dir="rtl"] .slick-prev:before { content: url(../img/arrow-right.png); }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto;}
.slick-next:before { content: url(../img/arrow-right.png); }
[dir="rtl"] .slick-next:before { content: url(../img/arrow-left.png); }
.slick-prev, .slick-next {
    top: 37%;
}
.slick-prev {left: -25px; z-index: 9999;}
.slick-next {right: -25px; z-index: 9999;}

/* Модальные окна */
.modal-dialog-propose {
    max-width: 750px;
}
.modal-content {
    border-radius: 10px;
}
.manage-wrp {
    padding: 30px 20px;
    color: #373737;
    font-size: 18px;
}
.manage-title-modal {
    font-size: 36px!important;
}
.manage-button-wrp {
    box-shadow: none;
}
.modal-body-propose {
    padding: 20px 45px;
    font-size: 22px;
}
.propose-price-modal {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 25px;
}
.modal-picture {
    position: relative;
}
.modal-image-close {
    position: absolute;
    right: 15px;
    top: 15px;
}
.modal-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -3px;
    max-height: 350px;
}
.propmod-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.propose-title-modal {
    font-size: 40px;
}
.manage-button-modal {
    margin: -10px 0 0 0;
    padding: 12px 50px!important;
}