@media (max-width: 1160px){
	.main-results, .sidebar {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	.main-results {
		padding: 20px 15px 0 15px;
	}
	.sidebar {
		padding-right: 15px;
		order: 1;
	}
}
@media (max-width: 992px) {
	.navbar-toggler {
		margin-left: -7px;
		margin-top: -2px;
		color: #fff;
	}
	.nav-back {
		display: block;
		position: absolute;
		right: 0;
		margin-right: 15px;
		cursor: pointer;
		font-size: 18px;
	}
	.navbar {
		display: block;
		text-align: center;
	}
	.navbar-link {
		padding: 10px 0;
		width: 100%;
		display: block;
	}
	.navbar-dropdown_body {
		flex-wrap: wrap;
		justify-content: flex-start;
		position: relative;
	}
	.navbar-dropdown_item {
		margin: 30px;
	}
	.navbar .dropdown-menu {
		position: relative;
		margin-bottom: 15px;
	}
	.destination {
		padding: 10px 0 0 0;
		font-size: 15px;
	}
	.destination .col-8, .destination .col-4 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		text-align: left!important;
		margin-bottom: 10px;
	}
	.main-results {padding-top: 0;}
	.subscribe-body {
		flex-wrap: wrap;
		justify-content: center;
	}
	.subscribe-body_item {
		margin: 10px;
	}
	footer .col-3 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
		text-align: center;
	}
	.footer-social {
		justify-content: center;
		padding: 0;
		border-left: 0;
	}
}
@media (max-width: 768px){
	.header-phones {
		display: none;
	}
	.header-logo, .header-login {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	footer .col-3 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
}
@media (max-width: 680px){
	header {padding: 15px 0 0 0;}
	.header-logo, .header-login {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center!important;
		margin-bottom: 20px;
	}
	nav {padding-top: 0;}
	.destination-body {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.destination-destination {width: 100%; margin-bottom: 10px;}
	.destination-all {border-right: 0;}
	.destination-box {margin: 0 6px 0 0;}
	.main-info_what {display: none;}
	.main-info {flex-wrap: wrap;}
	.main-info_price {margin-left: 0;}
	.main-title {
		flex-wrap: wrap;
		justify-content: center;
		padding: 11px 20px;
	}
	.main-title_h {
		margin-bottom: 10px;
		width: 100%;
	}
	.main-title_button {
		width: 100%;
	}
	.main-dropdown_body {flex-wrap: wrap;}
	.subscribe-body {
		justify-content: center;
		text-align: center!important;
	}
	.subscribe-body_item {
		width: 100%;
	}
	.subscribe-body_check {justify-content: center;}
}
@media (max-width: 410px){
	.main-slider_body {float: none;}
	.main-info {
		justify-content: center;
	}
	.main-info div {
		padding: 0; 
	}
	.main-details_first {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
	.sidebar-passagers_people div {
		padding: 0 5px;
	}
	.main-details_text {width: 100%; margin-bottom: 10px;}
	.main-details_second {text-align: center; margin: 0;}
	.main-details_btng {margin: 5px 0;}
	.destination-list {padding: 0;}
	.main-checkboxs_item {width: 100%;}
	.main-filters {
		flex-wrap: wrap;
		justify-content: center;
	}
	.main-filters_drop {margin: 20px 20px 0 20px;}
	.pagination-link {padding: 0px 6px;}
}