
/* Общие стили */
body {
    color: #000033;
}
.container-fluid {
    padding: 0;
}
.content {
    max-width: 1170px;
    padding: 0 20px;
    margin: 0 auto;
}
.row {padding: 0;}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a, :hover {
    transition: all 0.6s;
}
a, a:hover {
    color: #000033;
}

/* Шапка сайта */
header {
    background: #000033;
    color: #ffffff;
    padding: 15px 0;
}
.header-logo {padding-top: 5px;}
.header-phones {padding-left: 5px;}
.header-list {margin-left: 80px;}
.header-list_item {
    margin: -4px 0 0 58px;
    font-size: 14px;
    padding: 0;
}
.header-list_item-big {
    font-size: 17px;
    font-weight: bold;
    margin: 0;
}
.header-list_link, .header-login_link {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
}
.header-list_link:hover {
    color: #ffffff;
    background: none;
}
.header-login_link:hover {
    color: #000033;
    background: #ffffff;
}
.header-login {
    font-size: 13px;
    margin-top: -5px;
}

.header-login_left {padding-right: 5px;}
.header-login_link {
    text-transform: uppercase;
}

/* Стили выпадающих списков */

.dropdown-menu {
    border: 0;
}
.dropdown-body {
    padding: 10px 30px;
    font-size: 14px;
}
.dropdown-body_item {
    margin-bottom: 30px;
}
.dropdown-body_item label {
    font-size: 14px;
    color: #000033;
}
.dropdown-item_title {
    text-transform: uppercase;
    color: #000033;
    font-size: 18px;
    margin-bottom: 10px;
}
.header-form_item {
    width: 100%;
    border: 1px solid #d0d1d8;
    border-radius: 5px;
    padding: 8px 10px;
    margin-bottom: 20px;
}
.dropdown-confirm_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-confirm_link {
    text-decoration: underline;
}
.dropdown-confirm_link:hover {
    text-decoration: none;
}
.dropdown-rights_text {
    font-size: 13px;
}

/* Навигация */
.nav-back {
    display: none;
}
nav {
    padding-top: 20px;
    background: #000033;
    color: #ffffff;
}
.navbar {
    padding: 17px 0 10px 0;
    margin: 0 -15px;
    position: relative;
}
.navbar-item {
    color: #ffffff;
    font-size: 14px;
}
.navbar-link {
    color: #ffffff;
    padding: 10px 10px 11px 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.navbar-link:hover {
    background: #ffffff;
    color: #000033;
}
.navbar-dropdown {
    width: 100%;
    box-shadow: 1px 4px 10px 1px #d8d1d0;
    background-color: #fff!important;
    background: url(../img/navbar-ship.png) right bottom no-repeat;
}
.navbar-dropdown_body {
    display: flex;
    padding: 10px 20px 60px 20px;
}
.navbar-dropdown_item {
    margin: 0 30px;
}
.navbar-dropdown_title {
    text-transform: uppercase;
    font-size: 16px;
}
.dropdown_list_str {
    margin: 3px 0;
}
.navbar .dropdown-toggle::after {
    margin-right: 6px;
}
/* Секция сортировки */

.destination {
    padding: 20px 0 15px 0;
    font-size: 15px;
}
.destination-body {
    display: flex;
    align-items: center;
}
.destination-all {
    padding-right: 20px;
    border-right: 1px solid #000033;
}
.destination-box {
    margin: 0 6px 0 18px;
    width: 13px;
    height: 13px;
}
.destination-show {
    text-transform: uppercase;
    font-size: 14px;
}
.destination-sort {
    text-transform: uppercase;
    padding-right: 10px;
}
.destination-list {
    border-radius: 5px;
    padding: 2px 10px;
    font-size: 14px;
    border: 1px solid #d8d1d0;
}

/* Сайдбар */

.sidebar {
    padding-right: 35px;
    order: -1;
}
.main-results {
    padding: 0px 5px 0px 0px;
}
.main-sidebar {
    border: 1px solid #d8d1d0;
    border-radius: 5px;
}
.main-sidebar_title {
    background: #000033;
    color: #ffffff;
    padding: 15px 10px;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;
}
.main-body {
    padding: 0 15px 10px 15px;
}
.sidebar-lbl {
    font-size: 14px;
    margin-left: 15px;
    font-weight: bold;
    margin-top: 10px;
}
.main-control {
    width: 100%;
    padding: 7px 10px;
    border-radius: 5px;
    background: #fafafa;
    border: 1px solid #d8d1d0;
    cursor: pointer;
}
.main-control_large {text-transform: uppercase;}
.btn.main-control:hover {
    background: #000033;
    color: #fafafa;
}
.accordeon-title {
    background: #f8f9fb;
    padding: 10px 15px;
    margin: 10px 0;
    border-top: 1px solid #d8d1d0;
    border-bottom: 1px solid #d8d1d0;
    font-weight: bold;
 
}
.accordeon-title a {
    color: #000033;
    text-decoration: none;
    background: url(../img/sidebar-icon_down.png) right no-repeat;
    display: block;
    width: 100%;
}
.main-dates {
    display: flex;
    justify-content: space-between;
    margin: 10px -20px;
}
.main-dates_item {
    margin: 0 20px;
}
.main-dates_check {
    font-size: 14px;
    display: flex;
    align-items: center;
}
.main-dates_inp {
    width: 13px;
    height: 13px;
    border: 1px solid #d8d1d0;
    background: none;
}
.main-dates_extend {
    padding-left: 5px;
}
.sidebar-nights {
    margin: 10px 0 0 0;
}
.main-checkboxs {
    text-transform: uppercase;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    color: #9999ad;
}
.main-checkboxs-inp {
    width: 20px;
    height: 20px;
}
.main-checkboxs_item {
    display: flex;
    width: 50%;
    margin: 10px 0;
    font-size: 14px;
}
.main-checkboxs_item span {padding-left: 10px;}
.main-checkboxs_active {color: #000033;}
.checkbox_list {
    color: #9999ad;
    display: flex;
    flex-wrap: wrap;
    margin: 10px -10px 0 -10px;
}
.checkbox_list-item {
    display: flex;
    margin: 10px;
}
.checkbox_list-item span {padding-left: 10px;}
.checkbox_list-active {color: #000033;}
.main-filters {
    border-top: 1px solid #d8d1d0;
    display: flex;
    justify-content: flex-start;
    padding: 15px 0;
    align-items: center;
}
.main-filters_status, .main-filters_drop {
    margin: 0 5px;
}
.main-body_special {
    font-size: 14px;
    margin-left: 12px;
    margin-top: 15px;
}
.main-filters_btn {
    font-size: 14px;
}
.main-filters_btn img {
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -2px;
}

/* Стили выпадающего списка в сайдбаре */
.sidebar-dropdown {
    box-shadow: 0 0 10px 1px #cccccc;
    border: 1px solid #cccccc;
    width: 100%;
}

.main-control.dropdown-toggle::after {
    float: right;
    margin-top: 10px;
}

.sidebar-passagers {
    padding: 0 10px;
    font-size: 14px;
}
.sidebar-passagers_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}
.sidebar-passagers_people {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 -10px;
}
.sidebar-passagers_people div {
    padding: 0 10px;
}
.sidebar-passagers_number {
    font-size: 22px;
}
.sidebar-passagers_link {
    border: 2px solid #000033;
    text-decoration: none!important;
    border-radius: 99px;
    font-weight: bold;
    opacity: 0.6;
}
.sidebar-passagers_link:hover {
    opacity: 1;
}
.passagers_link-minus {
    padding: 1px 11px 4px 11px;
}
.passagers_link-plus {
    padding: 1px 9px 4px 9px;
}
.sidebar-passagers_small {
    font-size: 13px;
    margin: 10px 0;
    text-align: center;
}
.sidebar-passagers_ready {
    text-align: center;
   
}
.passagers-ready_link {
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}
.passagers-ready_link:hover{
    text-decoration: none;
}

.sidebar-dropdown_where {
    padding: 0 10px;
    text-transform: uppercase;
    font-size: 14px;
}
.sidebar-dropdown_port {
    padding: 0 10px;
}
.sidebar-dropdown_destination {
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    
}
.sidebar-dropdown_destination:last-child {
    border-bottom: none;
}
.sidebar-dropdown_destination:hover {
    background: #f8f9fb;
    cursor: pointer;
}
.sidebar-dropdown_destination div {
    margin-left: 5px;
}

/* Основные стили */

.main-content {
    border: 1px solid #d8d1d0;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px #d8d1d0;
    margin-bottom: 20px;
}
.main-title {
    background: #ea4833;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 40px 11px 20px;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
    font-size: 16px;
}
.main-title_h {
    font-size: 19px;
    padding: 0;
    margin: 0;
}
.main-title_button {
    padding: 2px 10px 2px 10px;
    background: #ffffff;
    border: 1px solid #d8d1d0;
    border-radius: 5px;
    cursor: pointer;
}
.main-slider_item {
    background-size: cover!important;
    padding: 10px 100px;
    display: flex;
    justify-content: flex-end;
}
.main-slider_body {
    width: 190px;
    float: right;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    font-size: 14px;
    border: 1px solid #d8d1d0;
}
.main-slider_name, .main-slider_desc {
    padding: 0;
    margin: 0;
}
.main-slider_name {
    font-size: 12px;
    font-weight: bold;
}
.main-slider_desc {
    margin-top: -5px;
}
.main-slider_date {
    font-size: 20px;
    font-weight: bold;
}
.main-info {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 0 0;
    margin: 10px 20px;
    border-top: 1px solid #d8d1d0;
    align-items: center;
}
.main-what_item {
    font-size: 14px;
    margin: 5px 0;
}
.main-what_item img {margin-right: 10px;}
.main-info_price {
    margin-left: 60px;
}
.main-info_price-dollar {
    font-size: 28px;
    color: #a7a7a7;
    font-weight: normal;
    text-decoration:line-through;
}
.main-info_current {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-info_current-from {
    border-right: 1px solid #d8d1d0;
    margin: 10px 10px 10px 0;
    padding-right: 10px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: right;
    line-height: 1.1;
}
.main-current-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d8d1d0;
    padding: 10px 0;
}
.current-price {
    font-size: 29px;
    margin: 0 10px;
}
.current-what {
    text-align: right;
    font-size: 14px;
    margin-left: 10px;
    line-height: 1.1;
}
.main-info_category {
    padding: 0 20px 10px 20px;
}
.main-category-name {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    font-size: 13px;
}
.main-category-descr {
    font-size: 14px;
    margin: 0;
    padding-bottom: 0;
}
.main-table-bd {
    margin: 0 20px;
}
.main-table_wrap {
    width: 100%;
    font-size: 14px;
    text-align: center;
}
.main-table_head th {
    background: #ea4833;
    color: #ffffff;
    padding: 5px 0;
    font-weight: normal;
    border: 1px solid #d8d1d0;
}
.main-table_empty {
    background: none!important;
    border: 0!important;
}
.main-table_body td {
    padding: 12px 0;
    border: 1px solid #d8d1d0;
}
.main-table_paraplaw {width: 130px;}
.main-dates_date {
    background: #000033;
    color: #ffffff;
    font-size: 16px;
}
.main-dates_price {
    background: url(../img/main-mark.png) right top no-repeat;
    font-size: 16px;
    font-weight: bold;
}
.main-details {
    padding: 0 20px;
}
.main-details_first {
    margin: 20px 0;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.main-details_text {margin-top: -3px;}
.main-details_bell {
    background: url(../img/main-bell.png) no-repeat;
    width: 35px;
    height: 35px;
    margin-left: 5px;
}
.main-details_bell:hover {background: url(../img/main-bell2.png) no-repeat;}
.main-details_star {
    background: url(../img/main-star.png) no-repeat;
    width: 35px;
    height: 35px;
    margin-left: 3px;
}
.main-details_star:hover {background: url(../img/main-star2.png) no-repeat;}
.main-details_second {
    margin: 10px 0;
}
.main-details_btng {
    padding: 8px 20px;
    border: 1px solid #d8d1d0;
    background: #fdfdfd;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}
.main-details_btng:hover {
    background: #000033;
    color: #fdfdfd;
}
.main-details_btng-active {
    background: #ff6c00;
    color: #ffffff;
    font-weight: normal;
    padding: 8px 32px;
    font-size: 16px;
}
.main-details_btng-active:hover {
    background: #ffffff;
    color: #ff6c00;
}
.main-details_btng-nonactive {
    background: #ffd3b2;
    color: #ffffff;
}

.main-deside {
    margin: 20px;
}
.main-dropdown {
    padding: 20px;
}
.main-dropdown_body {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.main-dropdown_body a {
    text-decoration: none!important;
}
.main-deside_btn {
    background: #000033;
    color: #ffffff;
}
.main-dropdown_body-item {
    border: 1px solid #cccccc;
    margin: 5px;
    padding: 10px 20px;
    text-align: center;
    background-color: #fafafa!important;
}
.main-dropdown_chop {
    background: url(../img/main-mark.png) right top no-repeat;
}
.main-dropdown_body-month {
    font-weight: bold;
}
.main-dropdown_body-year {font-weight: bold;}
.main-dropdown_body-price {padding-top: 80px;}
.main-dropdown_chop .main-dropdown_body-price {padding-top: 40px;}

/* Пагинация */

.main-pagination {
    margin: 30px 0;
    font-weight: bold;
}
.pagination-list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagination-item {
    margin: 0 3px;
    font-size: 18px;
}
.pagination-item_arrows {
    margin: 0;
}
.pagination-link {
    padding: 5px 12px;
    color: #000033;
    border-radius: 30px;
}
.pagination-link_active, .pagination-link:hover  {
    text-decoration: none;
    background: #000033;
    color: #ffffff;
}
.pagination-hide {
    opacity: 0.65;
}
.pagination-arrows img {
    margin-top: -1px;
}
.pagination-arrows:hover {
    background: none;
}
.pagination-arrows:hover .pagination-hide {
    opacity: 1;
}

/* Секция подписки */

.subscribe {
    border-top: 1px solid #d0d1d8;
    margin: 20px 0 0 0 ;
    padding: 18px 0;
    font-size: 14px;
}
.subscribe-body {
    display: flex;
    align-items: center;
}
.subscribe-body_item {
    margin-right: 40px;
}
.subscribe-body_title {
    text-transform: uppercase;
    color: #000033;
    font-weight: bold;
}
.subscribe-body_input {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #000033;
    width: 230px;
}
.subscribe-check {
    margin-left: -8px;
}
.subscribe-body_check {
    font-size: 11px;
    display: flex;
    align-items: center;
}
.subscribe-check_in {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
.subscribe-button {
    color: #d0d1d8;
    background: #000033;
    padding: 2px 22px;
    border: 0;
    cursor: pointer;
    border-radius: 3px;
    font-size: 15px;
}
.subscribe-button:hover {
    color: #000033;
    background: #d0d1d8;
}

/* Подвал сайта */

footer {
    background: #000033;
    color: #d0d1d8;
    padding: 40px 0;
}
.footer-list {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.footer-list_item {
    margin: 10px 0;
}
.footer-list_item a {
    color: #d0d1d8;
}
.footer-social {
    display: flex;
    flex-wrap: wrap;
    padding: 0 50px;
    border-left: 1px solid #d0d1d8;
    margin-top: 15px;
}
.footer-social_link {
    margin: 10px;
    opacity: 0.65;
}
.footer-social_link:hover {
    opacity: 1;
}
.footer-course, .footer-adress, .footer-mail {
    font-size: 12px;
}
.footer-course, .footer-adress, .footer-mail {
    margin: 10px 0;
}
.footer-mail_link, .footer-mail_link:hover {
    color: #d0d1d8;
}

/* Стили слайдера */

.main-slider .slick-track {padding-top: 0;}
.main-slider .slick-prev:before, .main-slider .slick-next:before 
{ font-family: "slick"; font-size: 60px; line-height: 1; color: #000; opacity: 1; 
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.main-slider .slick-prev:before { content: url(../img/arrow-left.png); }
[dir="rtl"] .main-slider .slick-prev:before { content: url(../img/arrow-right.png); }

[dir="rtl"] .main-slider .slick-next { left: -10px; top: 70px; right: auto;}
.main-slider .slick-next:before { content: url(../img/arrow-right.png); }
[dir="rtl"] .main-slider .slick-next:before { content: url(../img/arrow-left.png); }
.main-slider .slick-prev, .main-slider .slick-next {
    top: 40%;
}
.main-slider .slick-prev {left: 30px; z-index: 100;}
.main-slider .slick-next {right: 40px; z-index: 100;}