@media(max-width: 1420px){
	 .news-body_table .col-6, .invest .col-6, .refers .col-4 {
		max-width: 100%;
		flex: 0 0 100%;
		}
	.refers-body {
		min-height: auto;
	}
		.invest-item_body {
			min-height: auto;
		}
	.table-sm {
		font-size: 13px;
	}
	.profile-twobuttons .col-6 {
		max-width: 50%;
		flex: 0 0 50%;
	}
	.main-invest {
		min-height: auto;
	}
}

@media(max-width: 920px){
	.header-phone {display: none;}
	header .col-4 {
		max-width: 50%;
		flex: 0 0 50%;
		}
	header .col-2 {
		max-width: 50%;
		flex: 0 0 50%;
		}
	.sidebar, .news, .news-item_preview, .news-item_text, .refers .col-4 {
		max-width: 100%;
		flex: 0 0 100%;
		margin: 0;
		padding: 0;
	}
	.news {
		order: -1;
	}
	.sidebar {
		order: 0;
	}
	.news-body {
		margin: 0;
		padding: 0;
	}
	.news-item_preview, .news-item_text {
		max-width: 100%;
		flex: 0 0 100%;
		margin: 0;
		padding: 5px 10px;
	}
	.invest .col-6 {padding: 0;}
}

@media(max-width: 768px){
	.header-phone, .nav-decor, footer {display: none;}

	.nav-back {
		display: block;
		position: absolute;
		right: 0;
		margin-right: 10px;
		cursor: pointer;
	}
	nav {
		text-align: left;
	}
	nav li {
		padding: 5px 0;
		text-align: center;
	}
	.navbar-collapse {display: block;}
	.type-body_twobuttons .col-6 {
		max-width: 100%;
		flex: 0 0 100%;
		text-align: center!important;
	}
	.type-body_twobuttons .justify-content-end {
		justify-content:  center!important;
	}
}
@media(max-width: 480px){
	.header-logo img {
		width: 230px;
	}
	.header-user img {
		width: 50px;
	}
	header .fa-user {
		color: #fff;
		font-size: 24px;
		margin: 0;
		background: #4b5f82;
		padding: 10px 12px;
		border-radius: 90px;
		border: 2px solid #fff;
	}
	.pay2-hide {display: none;}
	td.table-button {
		width: auto;
		padding: 10px 0 10px 10px!important;
		text-align: right;
	}
	.invest-table_first {
		width: 80px;
	}
	.type-body_search .col-3, .type-body_search .col-9{
		max-width: 100%;
		flex: 0 0 100%;
	}
}
@media(max-width: 425px){
	
}