@media (max-width: 1600px) {
  body {
    font-size: 24px;
  }
  .header {
    margin: 45px 0;
  }
  .logo {
    margin-top: -20px;
  }
  .logo-image {
    width: 200px;
  }
  .phones {
    font-size: 34px;
  }
  .nav-btn {
    top: -2px;
    right: 10px;
  }
  .nav-icon {
    min-width: 50px;
    width: 50px;
    height: 50px;
  }
  .nav-drop {
    top: 50px;
    right: 15px;
  }
  .social {
    position: relative;
    top: -75px;
  }
  .social-list {
    text-align: right;
    margin-right: -5px;
  }
  .social-icon {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
  .projects-nav {
    margin-top: 40px;
  }
  .projects-title {
    font-size: 40px;
  }
  .projects-descr {
    font-size: 30px;
  }
  .projects-list {
    margin: 25px -20px;
  }
  .projects-image {
    height: 275px;
  }
  .projects-row {
    display: block;
    text-align: center;
  }
  .projects-left {
    width: 100%;
    margin-bottom: 20px;
  }
  .projects-right {
    width: 100%;
    text-align: center;
  }
  .wedo-picture {
    margin-right: 25px;
  }
  .wedo-icon {
    min-width: 75px;
    width: 75px;
    height: 75px;
  }
  .wedo-subtitle {
    margin-top: 7px;
    font-size: 34px;
  }
  .wedo-text {
    font-size: 24px;
  }
  .wedo-more {
    margin-top: 0;
  }
}

@media (max-width: 1320px) {
  body {
    font-size: 22px;
  }
  h2 {
    font-size: 34px;
  }
  .phones-list {
    display: block;
  }
  .phones-decor {
    display: none;
  }
  .social {
    top: -125px;
  }
  .projects {
    margin-top: -280px;
  }
  .projects-title {
    font-size: 37px;
  }
  .projects-descr {
    font-size: 27px;
  }
  .projects-nav {
    font-size: 22px;
  }
  .projects-image {
    height: 200px;
  }
  .projects-info {
    font-size: 28px;
  }
  .wedo-more {
    margin-top: 100px;
  }
  .wedo-link {
    min-width: 430px;
    padding: 20px 25px;
    font-size: 24px;
    margin: 15px 10px;
  }
  .footer {
    min-height: auto;
  }
  .footer-descr {
    font-size: 28px;
  }
  .footer-more {
    font-size: 26px;
  }
}

@media (max-width: 992px) {
  .header {
    margin: 70px 0;
  }
  .logo-image {
    width: 200px;
  }
  .phones {
    font-size: 26px;
  }
  .nav-icon {
    min-width: 40px;
    width: 40px;
    height: 45px;
  }
  .social {
    position: static;
  }
  .social-list {
    margin-top: 0;
  }
  .social-icon {
    min-width: 25px;
    width: 25px;
    height: 25px;
  }
  .projects {
    margin-top: -160px;
  }
  .projects-title {
    font-size: 28px;
  }
  .projects-descr {
    font-size: 20px;
  }
  .projects-nav {
    font-size: 20px;
    margin-top: 75px;
  }
  .projects-list {
    margin-left: -15px;
    margin-right: -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .projects-item {
    width: calc(50% - 30px);
    margin: 5px 15px;
  }
  .projects-image {
    height: 250px;
  }
  .wedo {
    margin-top: 50px;
  }
  .wedo-picture {
    margin-right: 15px;
  }
  .wedo-icon {
    min-width: 50px;
    width: 50px;
    height: 50px;
  }
  .wedo-subtitle {
    font-size: 22px;
  }
  .wedo-text {
    font-size: 18px;
  }
  .wedo-more {
    margin-top: 50px;
  }
  .wedo-link {
    min-width: 340px;
    font-size: 19px;
  }
  .footer {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .footer-image {
    width: 150px;
  }
  .footer-descr {
    font-size: 22px;
  }
  .footer-more {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
  .header {
    position: relative;
  }
  .header-row {
    display: block;
  }
  .header-left {
    width: 100%;
  }
  .header-right {
    width: 100%;
    position: static;
  }
  .logo-image {
    width: 125px;
  }
  .phones {
    min-width: 300px;
    text-align: left;
    position: absolute;
    top: 83px;
    left: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 0;
  }
  .nav-btn {
    top: 7px;
  }
  .projects {
    margin-top: -80px;
  }
  .projects-title {
    font-size: 26px;
  }
  .projects-descr {
    font-size: 20px;
  }
  .projects-nav {
    font-size: 16px;
    display: block;
    text-align: center;
    margin-top: 30px;
  }
  .projects-nav-item {
    margin: 10px;
  }
  .projects-nav-item:after {
    content: none;
  }
  .projects-list {
    margin: 20px -15px;
  }
  .projects-image {
    height: 200px;
  }
  .projects-more-link {
    font-size: 16px;
  }
  .projects-info {
    font-size: 18px;
  }
  .wedo {
    margin-top: 30px;
  }
  .wedo-item {
    width: 100%;
  }
  .wedo-more {
    margin-top: 0;
  }
  .wedo-link {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .projects-item {
    width: 100%;
  }
  .projects-image {
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .projects-info {
    font-size: 16px;
  }
  .wedo-wrapper {
    display: block;
    text-align: center;
  }
  .wedo-link {
    min-width: auto;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 0 10px 0;
  }
  .footer-descr {
    font-size: 20px;
  }
  .footer-more {
    max-width: 100%;
    font-size: 18px;
  }
}
/*# sourceMappingURL=media.css.map */