@media(max-width: 1600px) {
    body {
        font-size: 28px;
    }
    .logo {
        &-image {
            width: 250px;
        }
    }
    .phones {
        font-size: 34px;
    }
    .nav {
        &-btn {
            top: -2px;
            right: 10px;
        }
        &-icon {
            min-width: 50px;
            width: 50px;
            height: 50px;
        }
        &-drop {
            top: 50px;
            right: 15px;
        }
    }
    .social {
        &-list {
            text-align: right;
            margin-right: -5px;
        }
        &-icon {
            min-width: 30px;
            width: 30px;
            height: 30px;
        }
    }
    .projects {
        &-title {
            font-size: 48px;
        }
        &-descr {
            font-size: 35px;
        }
        &-image {
            height: 275px;
        }
        &-row {
            display: block;
            text-align: center;
        }
        &-left {
            width: 100%;
            margin-bottom: 20px;
        }
        &-right {
            width: 100%;
            text-align: center;
        }
    }
    .wedo {
        &-picture {
            margin-right: 25px;
        }
        &-icon {
            min-width: 75px;
            width: 75px;
            height: 75px;
        }
        &-subtitle {
            margin-top: 7px;
            font-size: 34px;
        }
        &-text {
            font-size: 24px;
        }
        &-more {
            margin-top: 0;
        }
    }
}
@media(max-width: 1320px) {
    body {
        font-size: 22px;
    }
    h2 {
        font-size: 34px;
    }
    .phones {
        &-list {
            display: block;
        }
        &-decor {
            display: none;
        }
    }
    .projects {
        margin-top: -280px;
        &-title {
            font-size: 37px;
        }
        &-descr {
            font-size: 27px;
        }
        &-nav {
            font-size: 22px;
        }
        &-image {
            height: 200px;
        }
        &-info {
            font-size: 28px;
        }
    }
    .wedo {
        &-more {
            margin-top: 100px;
        }
        &-link {
            min-width: 430px;
            padding: 20px 25px;
            font-size: 24px;
            margin: 15px 10px;
        }
    }
    .footer {
        min-height: auto;
        &-descr {
            font-size: 28px;
        }
        &-more {
            font-size: 26px;
        }
    }
}
@media(max-width: 992px) {
    .header {
        margin: 70px 0;
    }
    .logo {
        &-image {
            width: 200px;
        }
    }
    .phones {
        font-size: 26px;
    }
    .nav {
        &-icon {
            min-width: 40px;
            width: 40px;
            height: 45px;
        }
    }
    .social {
        &-list {
            margin-top: 0;
        }
        &-icon {
            min-width: 25px;
            width: 25px;
            height: 25px;
        }
    }
    .projects {
        margin-top: -160px;
        &-title {
            font-size: 28px;
        }
        &-descr {
            font-size: 20px;
        }
        &-nav {
            font-size: 20px;
            margin-top: 75px;
        }
        &-list {
            margin-left: -15px;
            margin-right: -15px;
            flex-wrap: wrap;
        }
        &-item {
            width: calc(50% - 30px);
            margin: 5px 15px;
        }
        &-image {
            height: 250px;
        }
    }
    .wedo {
        margin-top: 50px;
        &-picture {
            margin-right: 15px;
        }
        &-icon {
            min-width: 50px;
            width: 50px;
            height: 50px;
        }
        &-subtitle {
            font-size: 22px;
        }
        &-text {
            font-size: 18px;
        }
        &-more {
            margin-top: 50px;
        }
        &-link {
            min-width: 340px;
            font-size: 19px;
        }
    }
    .footer {
        margin-top: 50px;
        padding-bottom: 50px;
        &-image {
            width: 150px;
        }
        &-descr {
            font-size: 22px;
        }
        &-more {
            font-size: 20px;
        }
    }
}
@media(max-width: 768px) {

}