@media (max-width: 1240px) {
    .header-map {display: none;}
    .header-text {
        -ms-flex: 0 0 100%;
		flex: 0 0 100%;
        max-width: 100%;
        padding: 0 20px;
        justify-content: center;
    }
    .timechange .content {
        padding: 0;
    }
    .cources .content {
        padding: 0;
    }
    .timechange-body {
        margin-top: 0;
        font-size: 28px;
    }
    .calculate-body {
        font-size: 18px;
    }
}
@media (max-width: 992px) {
    .calculate-body {
        font-size: 28px;
    }
    .calculate-list {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -10px;
    }
    .calculate-item {
        margin: 10px 0;
        text-align: center;
    }
    .calculate-item-title {
        width: 100%;
    }
    .calculate-item-numbers {
        width: 100%;
    }
    .calculate-inp {
        max-width: 98%;
        padding: 5px;
        width: 100%;
    }
    .calculate-item-res {
        text-align: center;
        margin: 10px 10px;
    }
    .calculate-item-act {
        text-align: center;
        margin: 10px 20px;
    }
    .info, .news {
        -ms-flex: 0 0 100%;
		flex: 0 0 100%;
        max-width: 100%;
    }
    .news {
        order: 1;
        padding-left: 20px;
    }
    .news-more {
        text-align: center;
    }
}
@media (max-width: 860px) {
    h1.head-title {font-size: 28px;}
    .cources-body {font-size: 18px;}
    .calculate-act {font-size: 22px;}
    .flags-list {
        justify-content: center;
    }
    .flags-item-max {
        order: 1;
        width: 100%;
        text-align: center;
    }
    .info-item {width: 50%;}
}
@media (max-width: 767px) {
    h2 {font-size: 28px;}
    .header-text {
        flex-wrap: wrap;
        text-align: center!important;
    }
    .header-info {
        justify-content: center;
    }
    .header-logo, .header-menu {
        -ms-flex: 0 0 100%;
		flex: 0 0 100%;
        max-width: 100%;
    }
    nav {padding: 10px 0;}
    .nav-back {
        display: block;
        position: absolute;
        left: 20px;
        margin-top: -30px;
        font-size: 24px;
        color: hsl(14, 100%, 50%)
    }
    .nav-button {
        position: absolute;
        right: 0px;
        margin-top: -30px;
        font-size: 24px;
        color: hsl(14, 100%, 50%)
    }
    .header-list {
        display: block;
        max-width: 100%!important;
    }
    .head-item {
        margin: 10px 0;
        width: 100%;
    }
    .head-link {
        color: #848484;
        text-decoration: none;
        border-bottom: 0;
        display: block;
        width: 100%;
    }
    .head-link:hover,
    .head-link:focus {
        color: #9ab60c;
        text-decoration: none;
        border-bottom: 0;
    }
    .timechange-body {
        margin-top: 0;
        font-size: 20px;
    }
    .cources-body {font-size: 14px;}
    .cources-calculate {
        font-size: 16px;
        text-align: justify;
    }
    .qr-item {
        -ms-flex: 0 0 100%;
		flex: 0 0 100%;
        max-width: 100%;
    }

    .footer-list {
        display: block;
        margin: 0;
    }
    .footer-item {
        text-align: center!important;
        margin-top: 20px;
    }
}
@media (max-width: 600px) {
    .logo-desc {font-size: 20px;}
    .header-info {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-phone, .header-time {
        width: 100%;
        text-align: center!important;
        margin-right: 0
    }
    .header-time {margin-top: 18px;}
    .timechange-body {
        font-size: 16px;
        padding: 20px 0;
    }
    .info-item {width: 100%;}
    .qr-item {
        margin: 20px 0 20px 0;
        display: block;
        text-align: center;
    }
    .qr-image {
        margin: 0 0 10px 0;
    }
    .cources-footer {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        font-size: 14px;
    }
    .cources-footer_buy {
        margin-top: 0;
        padding-left: 0;
        margin-bottom: 20px;
    }
    .second-end {
        text-align: center;
    }
    .form-field {
        margin: 10px 0 20px 0;
    }
}
@media (max-width: 430px) {
    h2 {
        font-size: 24px;
        text-align: center;
    }
    .news h3 {
        font-size: 20px;
    }
    .content {
        padding: 0 10px;
    }

    .timechange-body {
        font-size: 14px;
    }
    .calculate-body {
        font-size: 24px;
    }
    .calculate-item-res {
        margin: 10px 5px;
    }
    .qr-link {font-size: 20px;}
    .info img {
        float: none!important;
        width: 100%!important;
        margin: 0!important;
        padding-bottom: 10px;
    }
    .news {padding-left: 10px;}
}