/* Шрифт */
@font-face {
    font-family: 'GothamPro';
    src: url(../fonts/GothamPro.otf);
    font-weight: normal;
    font-style: normal;
}

/* Основные стили */
body {
    font-family: 'GothamPro', Arial, sans-serif;
}
.container-fluid, .row {
    padding: 0;
    margin: 0;
}
.content {
    max-width: 1180px;
    padding: 0 20px;
    margin: 0 auto;
}
.hidden {
    visibility: hidden;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}
a {
    color: #9ab60c;
    text-decoration: underline;
    transition: all 0.5s;
}
a:hover,
a:focus {
    color: #9ab60c;
    text-decoration: none;
}
h1.head-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 34px;
    padding: 0;
    font-weight: bold;
}
h2 {
    border-bottom: 2px solid #737373;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 38px;
    color: #3e3e3c;
    text-align: left;
}

/* Шапка сайта */
header {
    background: #f7f7f7;
}
.header-body .col-5,
.header-body .col-7 {
    padding-right: 0;
}
.header-map {
    background-image: url(../img/map-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-text {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    box-shadow: 10px -20px 10px 10px #f7f7f7;
    position: relative;
    z-index: 1;
}
.head-title,
.logo-desc,
.header-adress,
.header-info {
    margin: 3px 0;
}
.logo-desc {
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
}
.header-adress {
    color: #9ab60c;
    font-size: 20px;
}
.header-under {
    border-bottom: 1px solid #9ab60c;
}
.header-mail_link {
    text-decoration: none;
    border-bottom: 1px solid #9ab60c;
}
.header-mail_link:hover,
.header-mail_link:focus {
    border-bottom: 1px solid transparent;
}
.header-info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.header-phone {
    font-size: 16px;
    margin-right: 20px;
    margin-top: 10px;
}
.header-phone_link {
    color: #000;
    text-decoration: none;
    font-size: 22px;
}
.header-time {
    text-transform: uppercase;
}
.header-time_work {font-size: 20px;}

/* Главное меню */
.nav-back {
    display: none;
    cursor: pointer;
}
.header-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    color: #848484;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-end;
    max-width: 300px;
    align-items: center;
}
.head-item {
    margin: 10px;
    width: 42%;
}
.head-link {
    color: #848484;
    text-decoration: none;
    border-bottom: 1px solid #848484;
}
.head-link:hover,
.head-link:focus {
    color: #9ab60c;
    text-decoration: none;
    border-bottom: 1px solid #9ab60c;
}
.head-link_icon, 
.head-link_icon:hover,
.head-link_icon:focus {
    border-bottom: 0;
}
.header-icons {
    opacity: 0.8;
}
.header-icons:hover,
.header-icons:focus {
    opacity: 1;
}
.map-frm {
    min-height: 400px;
}

/* Секции */

.cources-body {
    background-image: linear-gradient(180deg, #565656, #111211);
    padding: 10px 20px 0 20px;
    color: #ffffff;
    font-size: 24px;
    box-shadow: 0 10px 10px 5px #c7c7c7;
    margin-bottom: 20px;
}
.cources-table {
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.cources-table th {
    font-weight: normal;
}
.cources-buysell {
    font-weight: normal;
    font-size: 18px;
}
.cources-line {
    border-bottom: 1px solid #7e7f7f;
}
.cources-val {
    text-align: left;
    font-weight: normal;
}
td:nth-child(3) {
    border-right: 2px solid #dcdcdc;
}
td:nth-child(5) {
    border-right: 2px solid #dcdcdc;
}
.cources-footer {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cources-footer_buy {
    margin-top: -20px;
    padding-left: 10px;
}
.cources-footer_link {
    color: #ffffff;
    background-color: #9ab60c;
    padding: 5px 10px;
    font-size: 22px;
    border-radius: 5px;
    border: 1px solid #9ab60c;
    text-decoration: none;
}
.cources-footer_link.active, 
.cources-footer_link:hover,
.cources-footer_link:focus {
    color: #9ab60c;
    text-decoration: none;
    background-color: #ffffff;
}
.cources-second {
    margin: 20px 0;
}
.cources-green {
    color: hsl(70, 88%, 38%);
}
.second-small {
    font-size: 16px;
}
.second-end {
    text-align: left;
}
.form-field {
    border-radius: 10px;
    background-image: url(../img/bg_form-buy_sold.png);
}
.calculate-inp {
    max-width: 200px;
    padding: 5px;
}
.calculate-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    align-items: center;
}
.calculate-item {
    align-self: center;
}

 /* Стили выпадающего списка */

 .main-control {
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    background-image: linear-gradient(180deg, #f0f0f0, #c9c9c9);
    cursor: pointer;
}
.dropdown_port {
    font-size: 18px;
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-width: 350px;
    max-height: 250px;
    overflow-y: scroll;
}
.dropdown-destination {
    padding: 5px;
}
.dropdown-destination:hover,
.dropdown-destination:focus {
    background-color: #c9c9c9;
    cursor: pointer;
}
.dropdown-img {
    width: 35px;
    height: 25px;
}
.dropdown-small {font-size: 12px;}

.cources-calculate {
    background-color: #111211;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 20px;
}
.cources-footer_det {
    color: #ff3d00;
}
.calculate-body {
    font-size: 30px;
    margin-bottom: 10px;
    line-height: 1;
}
.calculate-act {
    color: #ffffff;
    background-color: #9ab60c;
    padding: 5px 10px;
    font-size: 25px;
    border-radius: 5px;
    border: 1px solid #9ab60c;
    text-decoration: none;
}
.calculate-link.active, 
.calculate-link:hover,
.calculate-link:focus {
    color: #565656;
    text-decoration: none;
}
.calculate-act:hover,
.calculate-act:focus {
    color: #9ab60c;
    background-color: #ffffff;
}
.calculate-intlink {
    color: #ff3d00;
    text-decoration: none;
}
.calculate-intlink:hover,
.calculate-intlink:focus {
    text-decoration: underline;
}

.flags-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.flags-container {
    position: relative;
     
 }
 .flags-hidden {
    display: none;
    position: absolute;
    margin: 0 20px;
    background-image: linear-gradient(180deg, #9ab60c, #768b09);
    color: #ffffff;
    font-size: 16px;
    padding: 10px;
    top: -10px;
    left: -30px;
    z-index: -1000;
    border-radius: 10px;
    min-width: 150px;
    }
 .flags-container:hover .flags-hidden {
    display: block;
    z-index: 100;
 }
 .flags-container:hover .flags-img {
    position: relative;
    z-index: 200;
    }
 .flags-value {
     margin-left: 70px;
     margin-top: 5px;
 }
.flags-all {
    color: #ffffff;
    background-color: #9ab60c;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #9ab60c;
    text-decoration: none;
}
.flags-all:hover,
.flags-all:focus {
    color: #9ab60c;
    background-color: transparent;
}

.flags-item {
    margin: 20px;
} 
.flags-item-max {
    background-image: none;
}
.flags-ten {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
}
.flags-link, 
.flags-link:hover,
.flags-link:focus {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.flags-img {
    margin-right: 5px;
}
.flags-table {
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin-top: 20px;
    border: 1px dotted #ffffff;
}
.flags-table thead {
    border-bottom: 1px dotted #ffffff;
}
.flags-table_bord {
    border-right: 1px dotted #ffffff;
}
.flags-table th, .flags-table td {
    padding: 10px;
}
.flags-price {
    font-weight: bold;
    font-size: 16px;
}

.qr {
    background-color: #f7f7f7;
    padding: 20px 0;
}
.qr-body {
    text-align: center;
}
.qr-item {
    margin: 20px 0 20px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.qr-image {
    margin-top: -10px;
    margin-right: 30px;
}
.qr-code {
    margin-top: 10px;
}
.qr-link {
    color: #228d57;
    font-size: 28px;
    border-bottom: 1px solid #228d57;
    text-decoration: none;
}
.qr-link:hover,
.qr-link:focus {
    border-bottom: 1px solid transparent;
}

.timechange-body {
    background-color: #9ab60c;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
    margin-top: -139px;
    font-size: 38px;
    position: relative;
    z-index: 1000;
}



/* Содержимое страницы */

.main {
    color: #595959;
}

.info {
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
}
.info-image {
    float: right;
    margin-top: 5px;
    margin-left: 20px;
}
.info-list {
    color: #9ab60c;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}
.info-item {
    width: 32%;
    margin: 10px 0;
    letter-spacing: 1.2px;
}

/* Сайдбар */
.news {
    order: -1;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.news h3 {
    font-size: 22px;
    margin-bottom: 20px;
}
.news-item {
    margin: 20px 0;
}
.news-item p {
    text-align: justify;
}
.news-link {
    color: #000000;
    text-decoration: none;
}
.news-more {
    font-size: 22px; 
    text-align: right;
    margin-top: 10px;
}
.news-more_link {
    padding-left: 5px;
}

/* Стили навигации в сайдбаре */
.sidelinks-list {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    background-color: #575656;
    color: #ffffff;
    font-size: 20px;
    border: 1px solid #bab9b9;
}
.sidelinks-item {
    border-top: 1px solid #818080;
    border-bottom: 1px solid #818080;
    padding: 10px 20px;
}
.sidelinks-act {
    color: #ffffff;
    text-decoration: none;
}
.sidesmall-list {
    list-style: none;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 30px;
}
.sidesmall-link {
    color: #d2d2d2;
    text-decoration: none;
}
.sidesmall-link:hover,
.sidesmall-link:focus {
    text-decoration: underline;
}

/* Подвал */
footer {
    background-color: #f7f7f7;
    color: #6e6e6e;
    border-top: 3px solid #008e53;
    padding: 20px 0;
    font-size: 12px;
}
.footer-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: flex-end;
    font-size: 16px;
}
.footer-link {
    text-decoration: none;
    color: #6e6e6e;
}
.footer-link:hover, 
.footer-link:focus {
    text-decoration: underline;
}