/* Fonts */

@font-face {
    font-family: 'Merriweather-Black';
    src: url(../fonts/Merriweather-Black.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-Bold';
    src: url(../fonts/Merriweather-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-BoldItalic';
    src: url(../fonts/Merriweather-BoldItalic.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-HeavyItalic';
    src: url(../fonts/Merriweather-HeavyItalic.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-Italic';
    src: url(../fonts/Merriweather-Italic.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-Light';
    src: url(../fonts/Merriweather-Light.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-LightItalic';
    src: url(../fonts/Merriweather-Black.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Merriweather-Regular';
    src: url(../fonts/Merriweather-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

.row{
    display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
    padding: 0 15px;
}

.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}

/* Main */
body {
    font-family: 'Merriweather-Regular', 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    color: #3c3c3c;
}
.content {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10px;
}
h1 {
    font-size: 40px;
    font-family: 'Merriweather-Light', 'Times New Roman', Times, serif;
    margin-top: 350px;
    padding: 0 40px;
}
h1, h2 {
    font-size: 40px;
    font-family: 'Merriweather-Light', 'Times New Roman', Times, serif;
    background-image: url(../img/title-bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 60px;
    text-align: center;
}
h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Merriweather-Bold', 'Times New Roman', Times, serif;
}
h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Merriweather-Regular', 'Times New Roman', Times, serif;
    font-weight: normal;
}

/* Header */
header {
    background-image: url(../img/header-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 970px; 
}

/* Menu */
.nav-list {
    margin-top: 40px;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.nav-item {
    padding: 20px;
}
.nav-link {
    text-decoration: none;
    padding: 10px;
    border: 1px solid transparent;
    color: #3c3c3c;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    border: 1px solid #3c3c3c;
}

/* Sections */
.whywe {
    background-color: #fac50f;
    background-image: url(../img/whywe-bg.png);
    background-repeat: repeat;
    padding: 40px 0;
}
.whywe-list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.whywe-item {
    text-align: center;
    margin: 0 20px;
    padding: 0 50px;
}
.new {
    padding: 40px 0;
}
.new-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}
.new-item {
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    width: 500px;
}
.new-image {
    width: 250px;
    height: 250px;
    margin: -2px 0;
}
.new-text {
    width: 250px;
    text-align: center;
}
.new-text-left {
    order: -1;
}
.new-title {
    font-size: 18px;
    font-family: 'Merriweather-Bold', 'Times New Roman', Times, serif;
    background-image: url(../img/h4-bg.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    padding-bottom: 20px;
    margin-top: 0;
}
.new-desc {
    font-size: 16px;
}
.new-price {
    font-size: 18px;
    font-weight: bold;
}
.us {
    background-color: #eeefef;
    font-size: 30px;
    padding: 40px 0;
}
.us-body {
    align-items: center;
}
.us-left {
    padding: 0 80px;
}
.us-han {
    float: right;
}
.us-image {
    width: 100%;
}
.menus {
    padding: 40px 0;
}
.menus-list {
    margin: 20px 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.menus-item {
    padding: 20px;
}
.menus-link {
    text-decoration: none;
    padding: 10px;
    border: 1px solid transparent;
    color: #3c3c3c;
}
.menus-link:hover,
.menus-link:focus,
.menus-link.active {
    border: 1px solid #3c3c3c;
}
.menus-table {
    width: 100%;
    margin: 20px 0;
}
.menus-table td {
    padding: 15px 0;
    font-size: 18px;
}
.table-descr {
    font-size: 14px;
    font-style: italic;
}

/* Footer */
footer {
    background-color: #eeefef;
    background-image: url(../img/footer-bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0 20px 0;
}
footer .content {
    position: relative;
}
.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-item {
    width: 50%;
    margin: 20px 0;
}
.footer-item-big {
    width: 100%;
    margin: 40px 0;
}
.form-list {
    display: flex;
    flex-wrap: wrap;
    margin: -40px 0 0 -40px;
    justify-content: space-between;
    max-width: 700px;
}
.form-item {
    width: 37%;
    margin: 40px;
}
.form-item-big {
    width: 100%;
    margin: 20px 40px;
}
.form-field {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    font-style: italic;
}
.footer-link {
    color: #3c3c3c;
    text-decoration: none;
}
.footer-link:hover,
.footer-link:focus {
    color: #3c3c3c;
    text-decoration: underline;
}
.form-act {
    margin-top: 40px;
}
.form-button {
    background-image: none;
    background-color: transparent;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #3c3c3c;
    color: #3c3c3c;
    cursor: pointer;
}
.form-button:hover,
.form-button:focus {
    background-color: #3c3c3c;
    color: #eeefef;
}
.footer-copy {
    margin-top: 80px;
}
.footer-social {
    position: absolute;
    bottom: -10px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
}
.social-item {
    margin: 0 10px;
    border: 1px solid #3c3c3c;
    width: 40px;
    height: 40px;
    text-align: center;
}
.social-item:hover,
.social-item:focus {
    border: 1px solid transparent;
}
.social-link {
    display: block;
    width: 100%;
    margin-top: 7px;
}


