@media (max-width: 1420px) {
  .info-body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .info-text {
    margin-top: 0;
  }
  .info-image {
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .nav-link {
    padding: 23px 6px;
  }
  .special-list {
    grid-gap: 10px;
  }
  .special-picture {
    margin: 2px 5px;
  }
  .better-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .better-item {
    width: 44%;
    padding-left: 105px;
  }
  .cats-top {
    display: block;
  }
  .cats-top .col-7,
  .cats-top .col-5 {
    width: 100%;
  }
  .cats-top .col-5 {
    margin-top: 20px;
  }
  .sort-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 5px;
  }
  .sort-item {
    margin-left: 0;
    margin-right: 37px;
  }
  .cats-item {
    width: 33%;
  }
  .help-form-body {
    display: block;
    text-align: center;
  }
  .help-btn {
    margin-top: 10px;
    margin-left: 0;
  }
}

@media (max-width: 992px) {
  .header-mobile-link {
    display: inline;
  }
  .header-top {
    display: none;
  }
  .header-bottom-left,
  .header-bottom-center {
    display: none;
  }
  .basket-list {
    margin: 0;
    display: inline-block;
    position: absolute;
    top: 21px;
    right: 52px;
  }
  .basket-item {
    margin: 0;
  }
  .basket-item:first-child {
    display: none;
  }
  .basket-btn {
    position: relative;
  }
  .basket-icon-thue {
    background-image: url(../img/basket-icon-thue-mobile.png);
    width: 20px;
    height: 19px;
  }
  .basket-text {
    position: absolute;
    top: -1px;
    right: 1px;
    font-size: 0;
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: red;
    border-radius: 50%;
    max-width: 5px;
    margin-left: 0;
  }
  .nav {
    margin-top: 0;
    height: 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 10px;
  }
  .nav-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .nav-body .col-9,
  .nav-body .col-3 {
    width: 100%;
  }
  .nav-body .col-3 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .nav-list {
    display: none;
  }
  .find {
    display: none;
  }
  .header-search {
    display: inline-block;
    position: absolute;
    top: 21px;
    right: 93px;
  }
  .header-search-icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/header-search-icon.png);
  }
  .header-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 15px;
  }
  .header-menu-icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/header-menu-icon.png);
  }
  /* Sections */
  .cats-decor {
    right: 0;
  }
  .special {
    margin: 20px 0;
  }
  .special-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 730px;
    margin: 0 auto;
  }
  .special-item {
    width: 49%;
    margin: 0;
    padding: 0;
  }
  .special-item:first-child {
    width: 100%;
  }
  .special-image {
    width: 100%;
  }
  .better-item {
    width: 41%;
  }
}

@media (max-width: 768px) {
  .special-decor-thue {
    right: 0;
  }
  .info-body:after {
    left: 249px;
  }
}
/*# sourceMappingURL=media.css.map */