/* Fonts */
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url(../fonts/Raleway-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url(../fonts/Raleway-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url(../fonts/Raleway-ExtraBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Black';
  src: url(../fonts/Raleway-Black.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-SemiBold';
  src: url(../fonts/Raleway-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Light';
  src: url(../fonts/Raleway-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1300px;
}

body {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #283d57;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 30px;
}

/* Header */
.header {
  padding: 30px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-mobile {
  display: none;
}

.header-close {
  display: none;
}

.header-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  font-size: 16px;
  color: #283d57;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -22px;
}

.header-list-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-item {
  margin: 10px 22px;
  position: relative;
}

.header-link {
  color: #283d57;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
}

.header-link:hover, .header-link:focus {
  color: #895da2;
}

.drop {
  position: absolute;
  top: 25px;
  left: 0;
  display: none;
}

.drop.show {
  display: block;
}

.drop-right {
  left: auto;
  right: 0;
}

.drop-body {
  -webkit-box-shadow: 0px 5px 12px 1px rgba(40, 61, 87, 0.2);
          box-shadow: 0px 5px 12px 1px rgba(40, 61, 87, 0.2);
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 250px;
  background-color: #ffffff;
}

.drop-btn:after {
  content: '';
  display: inline-block;
  min-width: 6px;
  width: 6px;
  height: 5px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/drop-icon.png);
  position: relative;
  top: -4px;
  margin-left: 7px;
}

.drop-list {
  font-size: 15px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.drop-item {
  margin: 5px 0;
}

.drop-link {
  color: #283d57;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid #939eab;
}

.drop-link:hover, .drop-link:focus {
  border-bottom: 1px solid transparent;
}

/* Sections */
.promo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/promo-bg.jpg);
  color: #edf1f5;
  padding: 124px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.promo-block {
  max-width: 600px;
}

.promo-title {
  font-size: 24px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
}

.promo-descr {
  font-size: 18px;
  font-family: "Raleway-Black", Arial, Helvetica, sans-serif;
  line-height: 1.7;
}

.promo-subtitle {
  font-size: 24px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
}

.promo-act {
  max-width: 360px;
}

.promo-more {
  margin-top: 76px;
}

.promo-more-link {
  font-size: 20px;
  color: #edf1f5;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 20px;
  background-color: #895da2;
}

.promo-more-link:hover, .promo-more-link:focus {
  background-color: #996eb3;
}

.tech {
  padding: 70px 0;
}

.tech-list {
  margin: 45px -25px 25px -25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tech-item {
  width: 33.3333%;
}

.tech-wrapper {
  padding: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tech-icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat;
}

.tech-icon-one {
  background-image: url(../img/tech-icon-one.png);
}

.tech-icon-thue {
  background-image: url(../img/tech-icon-thue.png);
}

.tech-icon-three {
  background-image: url(../img/tech-icon-three.png);
}

.tech-subtitle {
  color: #0a203f;
  font-size: 20px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  min-height: 50px;
}

.tech-text {
  line-height: 1.6;
}

.tech-more {
  margin-top: 15px;
  margin-left: -10px;
  margin-right: -10px;
}

.tech-more-link {
  font-size: 20px;
  display: inline-block;
  margin: 7px 10px;
  color: #edf1f5;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 22px;
  background-color: #895da2;
}

.tech-more-link:hover, .tech-more-link:focus {
  background-color: #996eb3;
}

.fog {
  margin: 17px 0 100px 0;
}

.fog-row {
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
}

.fog-left {
  background-color: #283d57;
  color: #ededed;
  padding: 30px 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 364px;
  line-height: 1.6;
}

.fog-right {
  padding: 0 0 0 0;
}

.fog-title {
  color: #ffffff;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.fog-video {
  position: relative;
  text-align: center;
}

.fog-video-btn {
  position: absolute;
  top: 42.5%;
  left: 0;
  width: 100%;
  text-align: center;
}

.fog-video-icon {
  display: inline-block;
  width: 76px;
  height: 54px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/fog-video-icon.png);
}

.fog-image {
  width: 100%;
  height: 364px;
  margin-bottom: -5px;
}

.program-nav {
  color: #283d57;
  font-size: 18px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.program-nav-item {
  width: 31.3333%;
}

.program-nav-item:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 6px;
  background-color: #895da2;
  margin-bottom: -6px;
}

.program-nav-item.active .program-nav-link,
.program-nav-item:hover .program-nav-link,
.program-nav-item:focus .program-nav-link {
  background-color: #895da2;
  color: #ffffff;
  border: 1px solid #895da2;
}

.program-nav-link {
  width: 100%;
  display: inline-block;
  padding: 31px 20px;
  text-decoration: none;
  color: #283d57;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.program-tabs {
  margin: 40px 0;
}

.program-content {
  padding: 20px 0;
  display: none;
}

.program-content.active {
  display: block;
}

.program-subtitle {
  display: inline;
  color: #283d57;
  font-size: 20px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  margin-top: 0;
  border-bottom: 1px solid #dbcee3;
  padding-bottom: 5px;
  line-height: 1.8;
}

.program-sublist {
  margin-top: 25px;
  max-width: 700px;
  line-height: 1.5;
}

.program-subitem {
  margin: 10px 0;
}

.program-image {
  max-width: 327px;
  width: 100%;
}

.useful {
  margin: 64px 0;
}

.useful-descr {
  font-size: 16px;
  letter-spacing: 0.2px;
  margin: 10px 0;
}

.useful-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 27px -20px;
}

.useful-item {
  margin: 20px;
  width: 18.3333%;
}

.useful-image {
  width: 100%;
  max-width: 230px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
}

.useful-link {
  color: #1c2840;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.useful-link:hover, .useful-link:focus {
  border-bottom: 1px solid #1c2840;
}

.clients {
  margin-top: 70px;
}

.clients-body {
  background-color: #f6f6f6;
  padding: 53px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clients-title {
  margin-top: 0;
}

.clients-list {
  margin-top: 38px;
  margin-bottom: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.clients-picture {
  width: 150px;
  height: 100px;
  text-align: center;
  border: 1px solid #bcbcbc;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-arrows {
  margin: 0px -8px;
}

.clients-arrow {
  margin: 0 5px;
}

.clients-icon {
  display: inline-block;
  width: 40px;
  height: 22px;
  background-position: center;
  background-repeat: no-repeat;
}

.clients-icon-left {
  background-image: url(../img/clients-icon-left.png);
}

.clients-icon-right {
  background-image: url(../img/clients-icon-right.png);
}

.banners {
  margin-top: 80px;
}

.banners-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banners-image {
  width: 100%;
  height: 100%;
  max-width: 198px;
  max-height: 198px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -5px;
}

/* Footer */
.footer {
  background-color: #283d57;
  color: #ffffff;
  padding: 75px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-form-title {
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 0;
}

.footer-field {
  width: 100%;
  max-width: 300px;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 13px;
  font-size: 14px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  margin-top: 8px;
}

.footer-field::-webkit-input-placeholder {
  color: #283d57;
}

.footer-field:-ms-input-placeholder {
  color: #283d57;
}

.footer-field::-ms-input-placeholder {
  color: #283d57;
}

.footer-field::placeholder {
  color: #283d57;
}

.footer-title {
  display: inline;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  border-bottom: 1px solid #895da2;
  padding-bottom: 8px;
}

.footer-btn {
  margin-top: 19px;
  color: #edf1f5;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 20px;
  background-color: #895da2;
}

.footer-btn:hover, .footer-btn:focus {
  background-color: #996eb3;
}

.footer-block {
  padding-left: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-list {
  margin-top: 25px;
}

.footer-item {
  margin: 4px 0;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-link:hover, .footer-link:focus {
  border-bottom: 1px solid #949eab;
}

.footer-link-mail {
  border-bottom: 1px solid #949eab;
}

.footer-link-mail:hover, .footer-link-mail:focus {
  border-bottom: 1px solid transparent;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 25px -8px 0 -8px;
}

.social-item {
  margin: 5px 8px;
}

.social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-icon-one {
  background-image: url(../img/social-icon-one.png);
}

.social-icon-thue {
  background-image: url(../img/social-icon-thue.png);
}

.social-icon-three {
  background-image: url(../img/social-icon-three.png);
}

/* Pages */
.ask {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/ask-bg.jpg);
  background-size: cover;
  padding: 103px 0 154px 0;
  color: #edf1f5;
}

.ask-body {
  max-width: 600px;
}

.ask-title {
  font-size: 30px;
  font-family: "Raleway-ExtraBold", Arial, Helvetica, sans-serif;
}

.ask-more {
  margin-top: 70px;
}

.ask-more-link {
  font-size: 20px;
  color: #edf1f5;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 20px;
  background-color: #895da2;
}

.ask-more-link:hover, .ask-more-link:focus {
  background-color: #996eb3;
}

.faq {
  margin: 89px 0 112px 0;
}

.faq-title {
  text-align: center;
}

.faq-list {
  margin-top: 59px;
}

.faq-item {
  margin: 10px 0;
  border-bottom: 1px solid #aeaeae;
}

.faq-btn {
  font-size: 16px;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 10px 50px 7px 0;
  color: #283d57;
  position: relative;
  width: 100%;
  text-align: left;
  letter-spacing: 0.33px;
}

.faq-btn::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/faq-btn-after.png);
  position: absolute;
  right: 0;
  top: 13px;
  margin-top: 0;
}

.faq-content {
  display: none;
  font-size: 14px;
  padding: 16px 20px 40px 28px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  max-width: 940px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.faq-content.active {
  display: block;
}

.feedback {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/feedback-bg.jpg);
  background-size: cover;
  padding: 103px 0 186px 0;
  color: #edf1f5;
}

.feedback-title {
  font-size: 30px;
  font-family: "Raleway-ExtraBold", Arial, Helvetica, sans-serif;
}

.feedback-list {
  margin-top: -5px;
  font-size: 16px;
}

.feedback-item {
  margin: 10px 0;
}

.feedback-link {
  text-decoration: none;
  color: #edf1f5;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.feedback-link:hover, .feedback-link:focus {
  border-bottom: 1px solid #edf1f5;
}

.feedform {
  margin: 89px 0 104px 0;
}

.feedform-title {
  text-align: center;
}

.feedform-form {
  max-width: 800px;
  margin: 26px auto;
}

.feedform-list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feedform-item {
  margin: 14px 15px;
  width: 45.7%;
}

.feedform-item-full {
  width: 100%;
}

.feedform-field {
  border-width: 1px;
  border-color: #aeaeae;
  border-style: solid;
  background-color: white;
  height: 47px;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  width: 100%;
}

.feedform-field-area {
  height: 140px;
  padding: 25px 20px;
}

.feedform-field::-webkit-input-placeholder {
  color: #4f5255;
}

.feedform-field:-ms-input-placeholder {
  color: #4f5255;
}

.feedform-field::-ms-input-placeholder {
  color: #4f5255;
}

.feedform-field::placeholder {
  color: #4f5255;
}

.feedform-more {
  margin-top: 30px;
  text-align: center;
}

.feedform-more-btn {
  font-size: 20px;
  color: #edf1f5;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 12px 49px;
  background-color: #895da2;
}

.feedform-more-btn:hover, .feedform-more-btn:focus {
  background-color: #996eb3;
}

.policy {
  text-align: center;
  margin: 24px auto 24px auto;
  max-width: 210px;
  font-size: 12px;
  color: #999999;
}

.policy-icon {
  display: inline-block;
  width: 11px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/policy-icon.png);
  margin-bottom: 0;
}

.policy-text {
  margin-top: 0px;
}

.policy-link {
  color: #999999;
  text-decoration: none;
  border-bottom: 1px solid #999999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.policy-link:hover, .policy-link:focus {
  border-bottom: 1px solid transparent;
}

.research {
  background-color: #011b3c;
  padding: 30px 0 59px 0;
  color: #ffffff;
}

.research-title {
  font-size: 30px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
}

.research-descr {
  max-width: 850px;
  font-size: 18px;
  margin-top: -9px;
  line-height: 1.6;
  letter-spacing: 0.1px;
}

.research-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 35px 0;
}

.research-item {
  margin-right: 40px;
}

.research-sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.research-subitem {
  margin: 20px 15px;
}

.research-subimage {
  width: 100%;
}

.research-info {
  font-size: 14px;
  color: #d0d0d0;
  line-height: 1.6;
}

.research-info-link {
  text-decoration: none;
  color: #d0d0d0;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.research-info-link:hover, .research-info-link:focus {
  border-bottom: 1px solid #d0d0d0;
}

.research-info-under {
  color: #d0d0d0;
  text-decoration: none;
  border-bottom: 1px solid #d0d0d0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.research-info-under:hover, .research-info-under:focus {
  border-bottom: 1px solid transparent;
}

.certs {
  margin: 110px 0 131px 0;
}

.certs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.certs-item {
  margin: 15px;
}

.certs-image {
  width: 300px;
  height: 415px;
}

.certs-row {
  margin: 78px 0 50px 0;
  background-color: #283d57;
  color: #ffffff;
}

.certs-left {
  padding: 0;
}

.certs-subimage {
  width: 100%;
  height: 365px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -5px;
}

.certs-block {
  padding-left: 15px;
}

.certs-subtitle {
  margin-top: 80px;
}

.certs-more {
  margin-top: 31px;
}

.certs-more-link {
  font-size: 20px;
  color: #edf1f5;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 10px 20px;
  background-color: #895da2;
}

.certs-more-link:hover, .certs-more-link:focus {
  background-color: #996eb3;
}

.news-top {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/news-top-bg.jpg);
  color: #edf1f5;
  min-height: 113px;
}

.news-title {
  font-size: 30px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 35px 0;
  letter-spacing: 0.33px;
}

.news-body {
  margin: 70px 0;
}

.news-list {
  margin: 5px -15px;
}

.news-item {
  margin: 20px 15px 50px 15px;
}

.news-wrapper {
  max-width: 405px;
  width: 100%;
}

.news-image {
  width: 100%;
  height: 211px;
  -o-object-fit: cover;
     object-fit: cover;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-subtitle {
  color: #0a203f;
  font-size: 20px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin: 15px 0 20px 0;
}

.news-link {
  text-decoration: none;
  color: #0a203f;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news-link:hover, .news-link:focus {
  border-bottom: 1px solid #0a203f;
}

.news-text {
  font-size: 16px;
  color: #0a203f;
  line-height: 1.6;
  letter-spacing: 0.3px;
}

.news-more {
  margin-top: 35px;
}

.news-more-link {
  display: inline-block;
  color: #edf1f5;
  background-color: #335683;
  font-size: 20px;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 11px 23px;
}

.news-more-link:hover, .news-more-link:focus {
  background-color: #5e84b6;
}

.self {
  padding-top: 18px;
  margin-bottom: 135px;
}

.self-item {
  margin: 50px 0 62px 0;
  width: 100%;
}

.self-item:first-child {
  text-align: left;
}

.self-item:last-child .self-wrapper {
  margin-left: auto;
}

.self-wrapper {
  position: relative;
  max-width: 800px;
  width: 100%;
}

.self-image {
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.self-content {
  position: absolute;
  bottom: 25px;
  left: 20px;
  right: 60px;
}

.self-block {
  position: relative;
}

.self-banner {
  position: absolute;
  top: -62px;
  left: 17px;
  background-color: #1c2840;
  color: #ffffff;
  font-size: 25px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  padding: 11px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.4;
  max-width: 560px;
  width: 100%;
  height: 100px;
}

.self-banner-pink {
  background-color: #895da2;
}

.self-banner-link {
  color: #ffffff;
  text-decoration: none;
}

.self-descr {
  background-color: rgba(255, 255, 255, 0.9);
  font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #1c2840;
  padding: 40px 38px 8px 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.self-descr-blue {
  background-color: #1c2840;
  color: #ffffff;
}

.realm {
  padding: 50px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/realm-bg.jpg);
}

.realm-title {
  color: #ffffff;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
}

.realm-list {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.realm-item {
  margin: 15px;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0px 0px 0px 1px #e5e5e5;
          box-shadow: inset 0px 0px 0px 1px #e5e5e5;
  position: relative;
  width: calc(16.6666666667% - 30px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.realm-item:nth-child(6) .realm-drop {
  left: auto;
  right: 30px;
}

.realm-item:nth-child(12) .realm-drop {
  left: auto;
  right: 30px;
}

.realm-item:before {
  position: absolute;
  top: -6px;
  content: '';
  display: inline-block;
  width: 100%;
  height: 6px;
  background-color: #895da2;
}

.realm-item:hover, .realm-item:focus {
  background-color: #895da2;
}

.realm-item:hover .realm-btn,
.realm-item:focus .realm-btn {
  color: #ffffff;
}

.realm-btn {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #283d57;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.realm-dropdown {
  position: relative;
}

.realm-drop {
  position: absolute;
  display: none;
  z-index: 1;
  top: 24px;
  left: 30px;
}

.realm-body {
  width: 385px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  font-size: 14px;
  color: #333333;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products {
  margin-top: 41px;
  margin-bottom: 108px;
}

.products-title {
  text-align: center;
  font-size: 30px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  color: #283d57;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 33px -25px 0 -25px;
}

.products-item {
  border: 1px solid #edebeb;
  background-color: #fbfbfb;
  margin: 25px;
  width: calc(33.3333% - 50px);
}

.products-top {
  padding: 36px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  background-color: #ffffff;
}

.products-subtitle {
  color: #283d57;
  font-size: 24px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.3;
}

.products-subtitle-link {
  color: #283d57;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.products-subtitle-link:hover, .products-subtitle-link:focus {
  color: #445f80;
}

.products-picture {
  margin: 45px 0 7px 0;
}

.products-image {
  max-width: 403px;
  max-height: 403px;
  width: 100%;
  height: 100%;
}

.products-content {
  padding: 40px 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.products-link {
  font-size: 20px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  color: #283d57;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.products-link:hover, .products-link:focus {
  color: #445f80;
}

.products-descr {
  font-size: 14px;
  font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
  color: #283d57;
  min-height: 90px;
  margin-top: 7px;
  line-height: 1.55;
}

.better {
  text-align: left;
  font-size: 14px;
  color: #333333;
  line-height: 1.7;
}

.better-item {
  margin: 10px 0;
}

.better-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.better-icon {
  display: inline-block;
  min-width: 27px;
  width: 27px;
  height: 27px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 18px;
  position: relative;
  top: 2px;
}

.better-icon-one {
  background-image: url(../img/better-icon-one.png);
}

.better-icon-thue {
  background-image: url(../img/better-icon-thue.png);
}

.better-icon-three {
  background-image: url(../img/better-icon-three.png);
}

.better-icon-four {
  background-image: url(../img/better-icon-four.png);
}

.better-icon-five {
  background-image: url(../img/better-icon-five.png);
}

.better-icon-six {
  background-image: url(../img/better-icon-six.png);
}

.better-icon-seven {
  background-image: url(../img/better-icon-seven.png);
}

.better-icon-eight {
  background-image: url(../img/better-icon-eight.png);
}

.about-top {
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/about-top-bg.jpg);
  padding: 105px 0 140px 0;
  color: #edf1f5;
}

.about-block {
  max-width: 640px;
}

.about-title {
  color: #edf1f5;
  font-size: 30px;
  font-family: "Raleway-ExtraBold", Arial, Helvetica, sans-serif;
}

.about-descr {
  font-family: "Raleway-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 9px;
}

.about-author {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0;
}

.about-body {
  margin: 88px auto 50px auto;
  text-align: center;
  max-width: 920px;
  line-height: 1.7;
}

.about-subtitle {
  text-align: center;
}

.mission {
  margin: 72px 0 0 0;
}

.mission-row {
  background-color: #283d57;
  color: #ededed;
  font-size: 16px;
  margin: 0;
}

.mission-left {
  padding: 20px 45px 45px 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mission-right {
  padding-right: 0;
  padding-left: 0;
  height: 365px;
}

.mission-title {
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: #ffffff;
}

.mission-image {
  width: 100%;
  height: 365px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -6px;
}

.years {
  margin: 50px 0;
}

.years-list {
  font-size: 11px;
  color: #283d57;
  margin: 0 -10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.3;
}

.years-item {
  background-color: #e8f0f7;
  margin: 10px;
  width: calc(14.2857% - 20px);
}

.years-wrapper {
  padding: 65px 5px 40px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.years-date {
  font-size: 30px;
}

.years-text {
  margin-top: 17px;
  min-height: 100px;
}

.years-icon {
  display: inline-block;
  width: 104px;
  height: 69px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 14px;
}

.years-icon-one {
  background-image: url(../img/years-icon-one.png);
}

.years-icon-thue {
  background-image: url(../img/years-icon-thue.png);
}

.years-icon-three {
  background-image: url(../img/years-icon-three.png);
}

.years-icon-four {
  background-image: url(../img/years-icon-four.png);
}

.years-icon-five {
  background-image: url(../img/years-icon-five.png);
}

.years-icon-six {
  background-image: url(../img/years-icon-six.png);
}

.years-icon-seven {
  background-image: url(../img/years-icon-seven.png);
}

.facts-body {
  background-color: #f6f6f6;
  padding: 40px 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.facts-title {
  margin-top: 8px;
  margin-bottom: 15px;
}

.bio {
  margin: 71px 0 123px 0;
}

.bio-row {
  background-color: #283d57;
  color: #ffffff;
  margin: 0;
}

.bio-title {
  font-size: 30px;
}

.bio-left {
  padding: 0;
}

.bio-right {
  height: 365px;
  padding: 65px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bio-image {
  width: 100%;
  height: 365px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -6px;
}

.bio-more {
  margin-top: 50px;
}

.bio-more-link {
  background-color: #895da2;
  color: #edf1f5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  padding: 12px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.bio-more-link:hover, .bio-more-link:focus {
  background-color: #996eb3;
}

.card {
  margin: 50px 0;
}

.card-slider {
  overflow: hidden;
}

.card-image {
  max-width: 600px;
  max-height: 600px;
  width: 100%;
  height: 100%;
}

.card-nav {
  overflow: hidden;
}

.card-nav-image {
  width: 106px;
  height: 106px;
}

.card-title {
  font-size: 30px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  color: #283d57;
  margin-bottom: 0;
}

.card-info {
  color: #656565;
  font-size: 14px;
}

.card-price {
  margin: 30px 0 20px 0;
  font-size: 26px;
  color: #895da2;
}

.card-price b {
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
}

.card-subtitle {
  font-size: 18px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  color: #283d57;
  text-transform: uppercase;
  border-bottom: 1px solid #dbcee3;
  padding-bottom: 10px;
}

.card-descr {
  font-size: 14px;
  margin-top: 30px;
}

.card-name {
  display: inline-block;
  margin-bottom: 5px;
}

.card-buy {
  margin-top: 30px;
}

.card-buy-btn {
  background-color: #895da2;
  color: #edf1f5;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  padding: 12px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card-buy-btn:hover, .card-buy-btn:focus {
  background-color: #996eb3;
}
/*# sourceMappingURL=style.css.map */