/* Fonts */

$open-regular: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
$open-bold: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
$open-semi: 'OpenSans-SemiBold', Arial, Helvetica, sans-serif;
$raleway-regular: 'Raleway-Regular', Arial, Helvetica, sans-serif;
$raleway-bold: 'Raleway-Bold', Arial, Helvetica, sans-serif;
$raleway-extra: 'Raleway-ExtraBold', Arial, Helvetica, sans-serif;
$raleway-black: 'Raleway-Black', Arial, Helvetica, sans-serif;
$raleway-semi: 'Raleway-SemiBold', Arial, Helvetica, sans-serif;
$raleway-light: 'Raleway-Light', Arial, Helvetica, sans-serif;

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url(../fonts/Raleway-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url(../fonts/Raleway-ExtraBold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Black';
    src: url(../fonts/Raleway-Black.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url(../fonts/Raleway-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway-Light';
    src: url(../fonts/Raleway-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
    box-sizing: border-box;
}
.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family: $open-regular;
}
input,
textarea {
    box-sizing: border-box;
    font-family: $open-regular;
}

/* Main styles */

html {
    scroll-behavior: smooth;
}
.content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1300px;
}
body {
    font-family: $open-regular;
    font-size: 16px;
    color: #283d57;
    line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $raleway-bold;
}
h2 {
    font-size: 30px;
}

/* Header */

.header {
    padding: 30px 0;
    box-sizing: border-box;
    &-mobile {
        display: none;
    }
    &-close {
        display: none;
    }
    &-row {
        align-items: center;
    }
    &-list {
        font-size: 16px;
        color: #283d57;
        display: flex;
        align-items: center;
        margin: 0 -22px;
        &-end {
            justify-content: flex-end;
        }
    }
    &-item {
        margin: 10px 22px;
        position: relative;
    }
    &-link {
        color: #283d57;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.5s;
        font-family: $open-bold;
        &:hover,
        &:focus {
            color: #895da2;
        }
    }
}
.drop {
    position: absolute;
    top: 25px;
    left: 0;
    display: none;
    &.show {
        display: block;
    }
    &-right {
        left: auto;
        right: 0;
    }
    &-body {
        box-shadow: 0px 5px 12px 1px rgba(40, 61, 87, 0.2);
        padding: 15px 20px;
        box-sizing: border-box;
        min-width: 250px;
        background-color: #ffffff;
    }
    &-btn:after {
        content: '';
        display: inline-block;
        min-width: 6px;
        width: 6px;
        height: 5px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/drop-icon.png);
        position: relative;
        top: -4px;
        margin-left: 7px;
    }
    &-list {
        font-size: 15px;
        font-family: $open-bold;
        text-transform: uppercase;
    }
    &-item {
        margin: 5px 0;
    }
    &-link {
        color: #283d57;
        text-decoration: none;
        transition: all 0.5s;
        border-bottom: 1px solid #939eab;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
}

/* Sections */

.promo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/promo-bg.jpg);
    color: #edf1f5;
    padding: 124px 0;
    box-sizing: border-box;
    &-block {
        max-width: 600px;
    }
    &-title {
        font-size: 24px;
        font-family: $raleway-bold;
    }
    &-descr {
        font-size: 18px;
        font-family: $raleway-black;
        line-height: 1.7;
    }
    &-subtitle {
        font-size: 24px;
        font-family: $raleway-bold;
    }
    &-act {
        max-width: 360px;
    }
    &-more {
        margin-top: 76px;
        &-link {
            font-size: 20px;
            color: #edf1f5;
            font-family: $open-semi;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.5s;
            padding: 10px 20px;
            background-color: #895da2;
            &:hover,
            &:focus {
                background-color: #996eb3;
            }
        }
    }
}
.tech {
    padding: 70px 0;
    &-list {
        margin: 45px -25px 25px -25px;
        display: flex;
    }
    &-item {
        width: 33.3333%
    }
    &-wrapper {
        padding: 25px;
        box-sizing: border-box;
    }
    &-icon {
        display: inline-block;
        width: 64px;
        height: 64px;
        background-position: center;
        background-repeat: no-repeat;
        &-one {
            background-image: url(../img/tech-icon-one.png);
        }
        &-thue {
            background-image: url(../img/tech-icon-thue.png);
        }
        &-three {
            background-image: url(../img/tech-icon-three.png);
        }
    }
    &-subtitle {
        color: #0a203f;
        font-size: 20px;
        font-family: $open-bold;
        text-transform: uppercase;
        min-height: 50px;
    }
    &-text {
        line-height: 1.6;
    }
    &-more {
        margin-top: 15px;
        margin-left: -10px;
        margin-right: -10px;
        &-link {
            font-size: 20px;
            display: inline-block;
            margin: 7px 10px;
            color: #edf1f5;
            font-family: $open-semi;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.5s;
            padding: 10px 22px;
            background-color: #895da2;
            &:hover,
            &:focus {
                background-color: #996eb3;
            }
        }
    }
}
.fog {
    margin: 17px 0 100px 0;
    &-row {
        overflow: hidden;
        margin-left: 0;
        margin-right: 0;
    }
    &-left {
        background-color: #283d57;
        color: #ededed;
        padding: 30px 45px;
        box-sizing: border-box;
        height: 364px;
        line-height: 1.6;
    }
    &-right {
        padding: 0 0 0 0;
    }
    &-title {
        color: #ffffff;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &-video {
        position: relative;
        text-align: center;
        &-btn {
            position: absolute;
            top: 42.5%;
            left: 0;
            width: 100%;
            text-align: center;
        }
        &-icon {
            display: inline-block;
            width: 76px;
            height: 54px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/fog-video-icon.png);
        }
    }
    &-image {
        width: 100%;
        height: 364px;
        margin-bottom: -5px;
    }
}
.program {
    &-nav {
        color: #283d57;
        font-size: 18px;
        font-family: $open-bold;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        text-align: center;
        &-item {
            width: 31.3333%;
            &:before {
                content: '';
                display: inline-block;
                width: 100%;
                height: 6px;
                background-color: #895da2;
                margin-bottom: -6px;
            }
            &.active .program-nav-link,
            &:hover .program-nav-link,
            &:focus .program-nav-link {
                background-color: #895da2;
                color: #ffffff;
                border: 1px solid #895da2;
            }
        }
        &-link {
            width: 100%;
            display: inline-block;
            padding: 31px 20px;
            text-decoration: none;
            color: #283d57;
            border: 1px solid #e5e5e5;
            box-sizing: border-box;
            background-color: transparent;
            transition: all 0.5s;
        }
    }
    &-tabs {
        margin: 40px 0;
    }
    &-content {
        padding: 20px 0;
        display: none;
        &.active {
            display: block;
        }
    }
    &-subtitle {
        display: inline;
        color: #283d57;
        font-size: 20px;
        font-family: $open-bold;
        margin-top: 0;
        border-bottom: 1px solid #dbcee3;
        padding-bottom: 5px;
        line-height: 1.8;
    }
    &-sublist {
        margin-top: 25px;
        max-width: 700px;
        line-height: 1.5;
    }
    &-subitem {
        margin: 10px 0;
    }
    &-image {
        max-width: 327px;
        width: 100%;
    }
}
.useful {
    margin: 64px 0;
    &-descr {
        font-size: 16px;
        letter-spacing: 0.2px;
        margin: 10px 0;
    }
    &-list {
        display: flex;
        margin: 27px -20px;
    }
    &-item {
        margin: 20px;
        width: 18.3333%;
    }
    &-image {
        width: 100%;
        max-width: 230px;
        height: 200px;
        object-fit: cover;
        margin-bottom: 15px;
    }
    &-link {
        color: #1c2840;
        font-size: 18px;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #1c2840;
        }
    }
}
.clients {
    margin-top: 70px;
    &-body {
        background-color: #f6f6f6;
        padding: 53px 50px;
        box-sizing: border-box;
    }
    &-title {
        margin-top: 0;
    }
    &-list {
        margin-top: 38px;
        margin-bottom: 39px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
    }
    &-picture {
        width: 150px;
        height: 100px;
        text-align: center;
        border: 1px solid #bcbcbc;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-arrows {
        margin: 0px -8px;
    }
    &-arrow {
        margin: 0 5px;
    }
    &-icon {
        display: inline-block;
        width: 40px;
        height: 22px;
        background-position: center;
        background-repeat: no-repeat;
        &-left {
            background-image: url(../img/clients-icon-left.png);
        }
        &-right {
            background-image: url(../img/clients-icon-right.png);
        }
    }
}
.banners {
    margin-top: 80px;
    &-list {
        display: flex;
        justify-content: center;
    }
    &-image {
        width: 100%;
        height: 100%;
        max-width: 198px;
        max-height: 198px;
        object-fit: cover;
        margin-bottom: -5px;
    }
}

/* Footer */

.footer {
    background-color: #283d57;
    color: #ffffff;
    padding: 75px 0;
    box-sizing: border-box;
    &-form {
        &-title {
            font-family: $raleway-bold;
            text-transform: uppercase;
            font-size: 16px;
            margin-bottom: 15px;
            margin-top: 0;
        }
    }
    &-field {
        width: 100%;
        max-width: 300px;
        border: 1px solid #e5e5e5;
        box-sizing: border-box;
        padding: 8px 13px;
        font-size: 14px;
        font-family: $open-regular;
        margin-top: 8px;
        &::placeholder {
            color: #283d57;
        }
    }
    &-title {
        display: inline;
        font-family: $raleway-bold;
        text-transform: uppercase;
        font-size: 16px;
        border-bottom: 1px solid #895da2;
        padding-bottom: 8px;
    }
    &-btn {
        margin-top: 19px;
        color: #edf1f5;
        font-family: $open-semi;
        text-decoration: none;
        text-transform: uppercase;
        transition: all 0.5s;
        padding: 10px 20px;
        background-color: #895da2;
        &:hover,
        &:focus {
            background-color: #996eb3;
        }
    }
    &-block {
        padding-left: 30px;
        box-sizing: border-box;
    }
    &-list {
        margin-top: 25px;
    }
    &-item {
        margin: 4px 0;
    }
    &-link {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #949eab;
        }
        &-mail {
            border-bottom: 1px solid #949eab;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
.social {
    &-list {
        display: flex;
        margin: 25px -8px 0 -8px;
    }
    &-item {
        margin: 5px 8px;
    }
    &-icon {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        &-one {
            background-image: url(../img/social-icon-one.png);
        }
        &-thue {
            background-image: url(../img/social-icon-thue.png);
        }
        &-three {
            background-image: url(../img/social-icon-three.png);
        }
    }
}

/* Pages */

.ask {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/ask-bg.jpg);
    background-size: cover;
    padding: 103px 0 154px 0;
    color: #edf1f5;
    &-body {
        max-width: 600px;
    }
    &-title {
        font-size: 30px;
        font-family: $raleway-extra;
    }
    &-more {
        margin-top: 70px;
        &-link {
            font-size: 20px;
            color: #edf1f5;
            font-family: $open-semi;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.5s;
            padding: 10px 20px;
            background-color: #895da2;
            &:hover,
            &:focus {
                background-color: #996eb3;
            }
        }
    }
}
.faq {
    margin: 89px 0 112px 0;
    &-title {
        text-align: center;
    }
    &-list {
        margin-top: 59px;
    }
    &-item {
        margin: 10px 0;
        border-bottom: 1px solid #aeaeae;
    }
    &-btn {
        font-size: 16px;
        font-family: $open-semi;
        text-transform: uppercase;
        padding: 10px 50px 7px 0;
        color: #283d57;
        position: relative;
        width: 100%;
        text-align: left;
        letter-spacing: 0.33px;
        &::after {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/faq-btn-after.png);
            position: absolute;
            right: 0;
            top: 13px;
            margin-top: 0;
        }
    }
    &-content {
        display: none;
        font-size: 14px;
        padding: 16px 20px 40px 28px;
        line-height: 1.5;
        letter-spacing: 0.4px;
        max-width: 940px;
        box-sizing: border-box;
        &.active {
            display: block;
        }
    }
}
.feedback {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/feedback-bg.jpg);
    background-size: cover;
    padding: 103px 0 186px 0;
    color: #edf1f5;
    &-title {
        font-size: 30px;
        font-family: $raleway-extra;
    }
    &-list {
        margin-top: -5px;
        font-size: 16px;
    }
    &-item {
        margin: 10px 0;
    }
    &-link {
        text-decoration: none;
        color: #edf1f5;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #edf1f5;
        }
    }
}
.feedform {
    margin: 89px 0 104px 0;
    &-title {
        text-align: center;
    }
    &-form {
        max-width: 800px;
        margin: 26px auto;
    }
    &-list {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &-item {
        margin: 14px 15px;
        width: 45.7%;
        &-full {
            width: 100%;
        }
    }
    &-field {
        border-width: 1px;
        border-color: rgb(174, 174, 174);
        border-style: solid;
        background-color: rgb(255, 255, 255);
        height: 47px;
        padding: 15px 20px;
        box-sizing: border-box;
        font-size: 15px;
        font-family: $open-regular;
        width: 100%;
        &-area {
            height: 140px;
            padding: 25px 20px;
        }
        &::placeholder {
            color: #4f5255;
        }
    }
    &-more {
        margin-top: 30px;
        text-align: center;
        &-btn {
            font-size: 20px;
            color: #edf1f5;
            font-family: $open-semi;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.5s;
            padding: 12px 49px;
            background-color: #895da2;
            &:hover,
            &:focus {
                background-color: #996eb3;
            }
        }
    }
}
.policy {
    text-align: center;
    margin: 24px auto 24px auto;
    max-width: 210px;
    font-size: 12px;
    color: #999999;
    &-icon {
        display: inline-block;
        width: 11px;
        height: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/policy-icon.png);
        margin-bottom: 0;
    }
    &-text {
        margin-top: 0px;
    }
    &-link {
        color: #999999;
        text-decoration: none;
        border-bottom: 1px solid #999999;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
}
.research {
    background-color: #011b3c;
    padding: 30px 0 59px 0;
    color: #ffffff;
    &-title {
        font-size: 30px;
        font-family: $raleway-bold;
    }
    &-descr {
        max-width: 850px;
        font-size: 18px;
        margin-top: -9px;
        line-height: 1.6;
        letter-spacing: 0.1px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 35px 0;
    }
    &-item {
        margin-right: 40px;
    }
    &-sublist {
        display: flex;
        align-items: center;
        margin: 0 -15px;
    }
    &-subitem {
        margin: 20px 15px;
    }
    &-subimage {
        width: 100%;
    }
    &-info {
        font-size: 14px;
        color: #d0d0d0;
        line-height: 1.6;
        &-link {
            text-decoration: none;
            color: #d0d0d0;
            border-bottom: 1px solid transparent;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid #d0d0d0;
            }
        }
        &-under {
            color: #d0d0d0;
            text-decoration: none;
            border-bottom: 1px solid #d0d0d0;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
.certs {
    margin: 110px 0 131px 0;
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &-item {
        margin: 15px;
    }
    &-image {
        width: 300px;
        height: 415px;
    }
    &-row {
        margin: 78px 0 50px 0;
        background-color: #283d57;
        color: #ffffff;
    }
    &-left {
        padding: 0;
    }
    &-subimage {
        width: 100%;
        height: 365px;
        object-fit: cover;
        margin-bottom: -5px;
    }
    &-block {
        padding-left: 15px;
    }
    &-subtitle {
        margin-top: 80px;
    }
    &-more {
        margin-top: 31px;
        &-link {
            font-size: 20px;
            color: #edf1f5;
            font-family: $open-semi;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.5s;
            padding: 10px 20px;
            background-color: #895da2;
            &:hover,
            &:focus {
                background-color: #996eb3;
            }
        }
    }
}
.news {
    &-top {
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/news-top-bg.jpg);
        color: #edf1f5;
        min-height: 113px;
    }
    &-title {
        font-size: 30px;
        font-family: $raleway-bold;
        margin: 0;
        padding: 35px 0;
        letter-spacing: 0.33px;
    }
    &-body {
        margin: 70px 0;
    }
    &-list {
        margin: 5px -15px;
    }
    &-item {
        margin: 20px 15px 50px 15px;
    }
    &-wrapper {
        max-width: 405px;
        width: 100%;
    }
    &-image {
        width: 100%;
        height: 211px;
        object-fit: cover;
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
    }
    &-subtitle {
        color: #0a203f;
        font-size: 20px;
        font-family: $open-bold;
        text-transform: uppercase;
        margin: 15px 0 20px 0;
    }
    &-link {
        text-decoration: none;
        color: #0a203f;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #0a203f;
        }
    }
    &-text {
        font-size: 16px;
        color: #0a203f;
        line-height: 1.6;
        letter-spacing: 0.3px;
    }
    &-more {
        margin-top: 35px;
        &-link {
            display: inline-block;
            color: #edf1f5;
            background-color: #335683;
            font-size: 20px;
            font-family: $open-semi;
            text-decoration: none;
            text-transform: uppercase;
            transition: all 0.5s;
            padding: 11px 23px;
            &:hover,
            &:focus {
                background-color: #5e84b6;
            }
        }
    }
}
.self {
    padding-top: 18px;
    margin-bottom: 135px;
    &-item {
        margin: 50px 0 62px 0;
        width: 100%;
        &:first-child {
            text-align: left;
        }
        &:last-child {
            & .self-wrapper {
                margin-left: auto;
            }
            
        }
    }
    &-wrapper {
        position: relative;
        max-width: 800px;
        width: 100%;
    }
    &-image {
        width: 100%;
        height: 450px;
        object-fit: cover;
    }
    &-content {
        position: absolute;
        bottom: 25px;
        left: 20px;
        right: 60px;
    }
    &-block {
        position: relative;
    }
    &-banner {
        position: absolute;
        top: -62px;
        left: 17px;
        background-color: #1c2840;
        color: #ffffff;
        font-size: 25px;
        font-family: $raleway-bold;
        padding: 11px 20px;
        box-sizing: border-box;
        line-height: 1.4;
        max-width: 560px;
        width: 100%;
        height: 100px;
        &-pink {
            background-color: #895da2;
        }
        &-link {
            color: #ffffff;
            text-decoration: none;

        }
    }
    &-descr {
        background-color: rgba(255, 255, 255, 0.9);
        font-family: $raleway-regular;
        font-size: 15px;
        color: #1c2840;
        padding: 40px 38px 8px 38px;
        box-sizing: border-box;
        &-blue {
            background-color: #1c2840;
            color: #ffffff;
        }
    }
}
.realm {
    padding: 50px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/realm-bg.jpg);
    &-title {
        color: #ffffff;
        font-family: $raleway-bold;
    }
    &-list {
        margin: 0 -15px;
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        margin: 15px;
        background-color: #ffffff;
        box-shadow:inset 0px 0px 0px 1px #e5e5e5;
        position: relative;
        width: calc(16.6666666667% - 30px);
        transition: all 0.5s;
        &:nth-child(6) .realm-drop {
            left: auto;
            right: 30px;
        }
        &:nth-child(12) .realm-drop {
            left: auto;
            right: 30px;
        }
        &:before {
            position: absolute;
            top: -6px;
            content: '';
            display: inline-block;
            width: 100%;
            height: 6px;
            background-color: #895da2;
        }
        &:hover,
        &:focus {
            background-color: #895da2;
        }
        &:hover .realm-btn,
        &:focus .realm-btn {
            color: #ffffff;
        }
    }
    &-btn {
        font-family: $open-regular;
        font-size: 14px;
        color: #283d57;
        padding: 15px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        text-align: left;
        transition: all 0.5s;
        min-height: 110px;
        display: flex;
    }
    &-dropdown {
        position: relative;
    }
    &-drop {
        position: absolute;
        display: none;
        z-index: 1;
        top: 24px;
        left: 30px;
    }
    &-body {
        width: 385px;
        border: 1px solid #e5e5e5;
        background-color: #ffffff;
        font-size: 14px;
        color: #333333;
        padding: 20px;
        box-sizing: border-box;
    }
}
.products {
    margin-top: 41px;
    margin-bottom: 108px;
    &-title {
        text-align: center;
        font-size: 30px;
        font-family: $raleway-bold;
        color: #283d57;
    }
    &-list {
        display: flex;
        margin: 33px -25px 0 -25px;
    }
    &-item {
        border: 1px solid #edebeb;
        background-color: #fbfbfb;
        margin: 25px;
        width: calc(33.3333% - 50px);
    }
    &-top {
        padding: 36px 20px;
        box-sizing: border-box;
        text-align: center;
        background-color: #ffffff;
    }
    &-subtitle {
        color: #283d57;
        font-size: 24px;
        font-family: $raleway-bold;
        margin: 0;
        line-height: 1.3;
        &-link {
            color: #283d57;
            text-decoration: none;
            transition: all 0.5s;
            &:hover,
            &:focus {
                color: #445f80;
            }
        }
    }
    &-picture {
        margin: 45px 0 7px 0;
    }
    &-image {
        max-width: 403px;
        max-height: 403px;
        width: 100%;
        height: 100%;
    }
    &-content {
        padding: 40px 26px;
        box-sizing: border-box;
        text-align: center;
    }
    &-link {
        font-size: 20px;
        font-family: $raleway-bold;
        color: #283d57;
        text-decoration: none;
        transition: all 0.5s;
        &:hover,
        &:focus {
            color: #445f80;
        }
    }
    &-descr {
        font-size: 14px;
        font-family: $raleway-regular;
        color: #283d57;
        min-height: 90px;
        margin-top: 7px;
        line-height: 1.55;
    }
}
.better {
    text-align: left;
    font-size: 14px;
    color: #333333;
    line-height: 1.7;
    &-item {
        margin: 10px 0;
    }
    &-wrapper {
        display: flex;
        align-items: center;
    }
    &-icon {
        display: inline-block;
        min-width: 27px;
        width: 27px;
        height: 27px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 18px;
        position: relative;
        top: 2px;
        &-one {
            background-image: url(../img/better-icon-one.png);
        }
        &-thue {
            background-image: url(../img/better-icon-thue.png);
        }
        &-three {
            background-image: url(../img/better-icon-three.png);
        }
        &-four {
            background-image: url(../img/better-icon-four.png);
        }
        &-five {
            background-image: url(../img/better-icon-five.png);
        }
        &-six {
            background-image: url(../img/better-icon-six.png);
        }
        &-seven {
            background-image: url(../img/better-icon-seven.png);
        }
        &-eight {
            background-image: url(../img/better-icon-eight.png);
        }
    }
}
.about {
    &-top {
        background-position: center right;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/about-top-bg.jpg);
        padding: 105px 0 140px 0;
        color: #edf1f5;
    }
    &-block {
        max-width: 640px;
    }
    &-title {
        color: #edf1f5;
        font-size: 30px;
        font-family: $raleway-extra;
    }
    &-descr {
        font-family: $raleway-semi;
        font-size: 20px;
        margin-top: 60px;
        margin-bottom: 9px;
    }
    &-author {
        font-family: $raleway-light;
        font-size: 20px;
        margin: 0;
    }
    &-body {
        margin: 88px auto 50px auto;
        text-align: center;
        max-width: 920px;
        line-height: 1.7;
    }
    &-subtitle {
        text-align: center;
    }
}
.mission {
    margin: 72px 0 0 0;
    &-row {
        background-color: #283d57;
        color: #ededed;
        font-size: 16px;
        margin: 0;
    }
    &-left {
        padding: 20px 45px 45px 45px;
        box-sizing: border-box;
    }
    &-right {
        padding-right: 0;
        padding-left: 0;
        height: 365px;
    }
    &-title {
        font-family: $raleway-bold;
        font-size: 30px;
        color: #ffffff;
    }
    &-image {
        width: 100%;
        height: 365px;
        object-fit: cover;
        margin-bottom: -6px;
    }
}
.years {
    margin: 50px 0;
    &-list {
        font-size: 11px;
        color: #283d57;
        margin: 0 -10px;
        text-align: center;
        display: flex;
        line-height: 1.3;
    }
    &-item {
        background-color: #e8f0f7;
        margin: 10px;
        width: calc(14.2857% - 20px);
    }
    &-wrapper {
        padding: 65px 5px 40px 5px;
        box-sizing: border-box;
    }
    &-date {
        font-size: 30px;
    }
    &-text {
        margin-top: 17px;
        min-height: 100px;
    }
    &-icon {
        display: inline-block;
        width: 104px;
        height: 69px;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 14px;
        &-one {
            background-image: url(../img/years-icon-one.png);
        }
        &-thue {
            background-image: url(../img/years-icon-thue.png);
        }
        &-three {
            background-image: url(../img/years-icon-three.png);
           
        }
        &-four {
            background-image: url(../img/years-icon-four.png);
           
        }
        &-five {
            background-image: url(../img/years-icon-five.png);
        
        }
        &-six {
            background-image: url(../img/years-icon-six.png);
          
        }
        &-seven {
            background-image: url(../img/years-icon-seven.png);
         
        }
    }
}
.facts {
    &-body {
        background-color: #f6f6f6;
        padding: 40px 45px;
        box-sizing: border-box;
        font-size: 16px;
    }
    &-title {
        margin-top: 8px;
        margin-bottom: 15px;
    }
}
.bio {
    margin: 71px 0 123px 0;
    &-row {
        background-color: #283d57;
        color: #ffffff;
        margin: 0;
    }
    &-title {
        font-size: 30px;
    }
    &-left {
        padding: 0;
    }
    &-right {
        height: 365px;
        padding: 65px 60px;
        box-sizing: border-box;
    }
    &-image {
        width: 100%;
        height: 365px;
        object-fit: cover;
        margin-bottom: -6px;
    }
    &-more {
        margin-top: 50px;
        &-link {
            background-color: #895da2;
            color: #edf1f5;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            font-family: $open-semi;
            padding: 12px 20px;
            transition: all 0.5s;
            &:hover,
            &:focus {
                background-color: #996eb3;
            }
        }
    }
}
.card {
    margin: 50px 0;
    &-slider {
        overflow: hidden;
    }
    &-image {
        max-width: 615px;
        width: 100%;
    }
    &-nav {
        overflow: hidden;
        margin-top: 12px;
        &-item {
            width: 106px;
            height: 106px;
            margin-left: 1px;
        }
        &-image {
            width: 106px;
            height: 106px;
        }
    }
    &-title {
        font-size: 30px;
        font-family: $raleway-bold;
        color: #283d57;
        margin-top: 33px;
        margin-bottom: 0;
    }
    &-info {
        color: #656565;
        font-size: 14px;
    }
    &-price {
        margin: 35px 0 25px 0;
        font-size: 26px;
        color: #895da2;
        & b {
            font-family: $open-bold;
        }
    }
    &-subtitle {
        font-size: 18px;
        font-family: $raleway-bold;
        color: #283d57;
        text-transform: uppercase;
        border-bottom: 1px solid #dbcee3;
        padding-bottom: 9px;
    }
    &-descr {
        font-size: 14px;
        margin-top: 37px;
        line-height: 1.4;
    }
    &-name {
        display: inline-block;
        margin-bottom: 5px;
    }
    &-buy {
        margin-top: 40px;
        &-btn {
            background-color: #895da2;
            color: #edf1f5;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            font-family: $open-semi;
            padding: 12px 20px;
            transition: all 0.5s;
            &:hover,
            &:focus {
                background-color: #996eb3;
            }
        }
    }
}
.teck {
    &-top {
        padding: 105px 0 215px 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/tech-top.jpg);
        color: #edf1f5;
    }
    &-title {
        font-size: 30px;
        font-family: $raleway-extra;
        margin-bottom: 30px;
    }
    &-descr {
        font-size: 20px;
        font-family: $raleway-semi;
    }
    &-content {
        text-align: center;
        margin: 90px auto 96px auto;
        max-width: 860px;
    }
    &-subtitle {
        font-size: 30px;
        font-family: $raleway-bold;
    }
    &-text {
        margin-top: 30px;
        line-height: 1.6;
    }
}
.safe {
    margin: 50px 0;
    &-title {
        margin-bottom: 30px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 57px -15px 0 -15px;
    }
    &-item {
        margin: 20px 15px;
        width: calc(33.3333% - 30px);
    }
    &-subtitle {
        font-size: 20px;
        font-family: $open-bold;
        color: #0a203f;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    &-icon {
        display: inline-block;
        width: 64px;
        height: 64px;
        background-position: top;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        &-one {
            background-image: url(../img/safe-icon-one.png);
        }
        &-thue {
            background-image: url(../img/safe-icon-thue.png);
        }
        &-three {
            background-image: url(../img/safe-icon-three.png);
        }
        &-four {
            background-image: url(../img/safe-icon-four.png);
        }
        &-five {
            background-image: url(../img/safe-icon-five.png);
        }
        &-six {
            background-image: url(../img/safe-icon-six.png);
        }
    }
    &-descr {
        line-height: 1.55;
    }
}
.microbe {
    margin: 62px 0;
    &-body {
        background-color: #d9e4f4;
        color: #1c2840;
        padding: 39px 47px;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 288px;
        line-height: 1.6;
    }
    &-left {
        padding-top: 15px;
    }
    &-more {
        margin-top: 35px;
        &-link {
            background-color: #895da2;
            color: #edf1f5;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            font-family: $open-semi;
            padding: 12px 20px;
            transition: all 0.5s;
            &:hover,
            &:focus {
                background-color: #996eb3;
            }
        }
    }
    &-image {
        width: 100%;
        margin-bottom: -100px;
    }
    &-picture {
        position: absolute;
        left: 205px;
        bottom: -210px;
    }
}
.zoondef {
    margin: 50px 0;
    &-title {
        margin-bottom: 0;
    }
    &-descr {
        font-size: 16px;
        font-family: $raleway-bold;
        letter-spacing: 0.15px;
        margin-top: 12px;
    }
    &-table {
        text-align: center;
        margin: 75px 0;
        border-collapse: collapse;
        & th {
            text-transform: uppercase;
            font-size: 24px;
            font-family: $raleway-bold;
            color: #1c2840;
            padding: 15px 20px;
            &:nth-child(1) {
                background-color: #f3eef6;
            }
            &:nth-child(2) {
                background-color: #f7f7f7;
                font-family: $raleway-regular
            }
            &:nth-child(3) {
                background-color: #e9ebee;
            }
        }
        & td {
            padding: 35px 20px;
            border-bottom: 1px solid #e8e8e8;
        }
    }
}
.world {
    margin: 91px 0 165px 0;
    &-row {
        background-color: #283d57;
        color: #ffffff;
        margin: 0;
    }
    &-left {
        padding: 0;
    }
    &-image {
        height: 365px;
        width: 100%;
        object-fit: cover;
        margin-bottom: -6px;
    }
    &-right {
        height: 365px;
        padding: 64px 60px;
        box-sizing: border-box;
    }
    &-more {
        margin-top: 53px;
        &-link {
            background-color: #895da2;
            color: #edf1f5;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            font-family: $open-semi;
            padding: 12px 28px;
            transition: all 0.5s;
            &:hover,
            &:focus {
                background-color: #996eb3;
            }
        }
    }
}