@media(max-width: 1280px) {
    .header {
        &-btn {
            display: none;
        }
        &-left {
            width: 20%;
        }
        &-center {
            width: 60%;
        }
        &-right {
            width: 20%;
        }
    }
    .nav {
        &-list {
            justify-content: center;
        }
    }
    .promo {
        &-image {
            width: 100%;
        }
    }
}
@media(max-width: 1200px) {
    .header {
        &-left {
            width: 25%;
        }
        &-center {
            width: 75%;
        }
        &-right {
            display: none;
        }
    }
    .nav {
        position: relative;
        left: 0;
        top: -3px;
        &-list {
            justify-content: flex-end;
        }
    }
    .pledge {
        &-image {
            width: 100%;
        }
    }
}
@media(max-width: 992px) {
    .mobile {
        display: block;
        position: absolute;
        top: 18px;
        right: 15px;
        &-icon {
            display: inline-block;
            min-width: 36px;
            width: 36px;
            height: 30px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/mobile-icon.png);
        }
    }
    .header {
        position: sticky;
        z-index: 9999;
        top: 0;
        padding: 10px 0;
        background-color: rgba(255, 255, 255, 0.949);
        box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.17);
        width: 100%;
        box-sizing: border-box;
        &.show {
            & .header-center,
            & .header-right {
                display: block;
            }
        }
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
            order: 1;
            background-color: rgb(255, 255, 255);
        }
        &-center {
            display: none;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.95);
            order: 3;
        }
        &-right {
            display: none;
            order: 2;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.95);
        }
        &-block {
            display: block;
            text-align: center;
            margin: 30px 0;
        }
        &-tel {
            justify-content: center;
            &-icon {
                display: none;
            }
        }
        &-btn {
            display: inline-block;
        }
    }
    .social {
        margin-bottom: 10px;
        &-list {
            justify-content: center;
        }
    }
    .nav {
        &-list {
            display: block;
            text-align: center;
        }
        &-drop {
            position: relative;
            box-shadow: none;
            padding: 5px 0 0 0;
            top: 0;
        }
        &-item {
            margin: 10px 0;
        }
        &-sublink {
            border-bottom: 1px solid transparent;
            &:hover,
            &:focus {
                border-bottom: 1px solid #117728;
            }
        }
    }
    .promo {
        &-row {
            display: block;
            text-align: center;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
            margin-top: 40px;
        }
        &-wrapper {
            justify-content: center;
        }
        &-more {
            &-btn {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .steps {
        &-title {
            text-align: center;
        }
        &-wrapper {
            display: block;
        }
        &-descr {
            margin-left: 0;
        }
    }
    .better {
        &-item {
            width: calc(50% - 30px);
        }
    }
    .propose {
        &-item {
            width: calc(50% - 8px);
        }
    }
    .faq {
        &-row {
            display: block;
        }
        &-left {
            width: 100%;
            text-align: center;
        }
        &-right {
            width: 100%;
        }
        &-picture {
            position: relative;
            text-align: center;
            top: 0;
            left: 0;
            display: inline-block;
        }
    }
    .calct {
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 50%;
        }
        &-center {
            width: 50%;
        }
        &-right {
            width: 100%;
            margin-top: 30px;
            padding-left: 15px;
        }
    }
    .footer {
        &-image {
            width: 100%;
        }
        &-copy {
            margin-left: 0;
        }
        &-center {
            padding-left: 25px;
            padding-right: 25px;
        }
        &-right {
            padding-left: 45px;
        }
    }
    .docs {
        &-list {
            display: block;
        }
        &-item {
            width: calc(100% - 30px);
        }
    }
    .how {
        &-list {
            display: block;
        }
        &-item {
            width: calc(100% - 12px);
        }
    }
    .condit {
        &-list {
            display: block;
        }
        &-item {
            width: calc(100% - 30px);
        }
    }
}
@media(max-width: 750px) {
    .steps {
        &-body {
            padding: 70px 30px 40px 30px;
        }
        &-list {
            display: block;
            margin: 0 -15px;
            text-align: center;
        }
        &-item {
            width: calc(100% - 30px);
            margin: 40px 15px;
        }
        &-picture {
            display: inline-block;
        }
    }
    .better {
        &-item {
            width: calc(100% - 30px);
        }
    }
    .propose {
        &-item {
            width: calc(100% - 8px);
        }
    }
    .footer {
        &-row {
            flex-wrap: wrap;
            text-align: center;
        }
        &-left {
            width: 100%;
        }
        &-center {
            width: 100%;
        }
        &-right {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
        &-image {
            width: auto;
        }
    }
    .quiq {
        &-btn {
            margin-left: auto;
            margin-right: auto;
        }
        &-policy {
            margin-left: auto;
            margin-right: auto;
            position: static;
            &-body {
                display: block;
                text-align: center;
            }
            &-text {
                margin-top: 10px;
                display: block;
            }
        }
    }
    .ask {
        margin-top: 40px;
        &-top {
            display: block;
        }
        &-row {
            display: block;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
        }
    }
    .loans {
        &-list {
            flex-wrap: wrap;
        }
        &-item {
            width: calc(50% - 16px);
        }
    }
    .pledge {
        &-row {
            display: block;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
        }
        &-image {
            width: auto;
        }
    }
}
@media(max-width: 520px) {
    .mobile {
        top: 13px;
    }
    .header {
        &-image {
            display: none;
            &-mobile {
                display: inline-block;
            }
        }
    }
    .promo {
        margin: 40px 0 105px 0;
        &-title {
            font-size: 24px;
        }
        &-descr {
            font-size: 18px;
        }
        &-item {
            margin: 7px 0;
        }
        &-wrapper {
            display: block;
            &-left {
                display: none;
            }
        }
        &-semi {
            display: block;
        }
        &-double {
            display: block;
            margin-top: -25px;
        }
    }
    .better {
        &-item {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &-subtitle {
            font-size: 18px;
        }
    }
    .faq {
        &-image {
            width: 375px;
        }
        &-title {
            top: 109px;
            font-size: 20px;
            left: 115px;
        }
        &-right {
            padding-top: 40px;
        }
    }
    .calct {
        margin-bottom: 75px;
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
        }
        &-center {
            width: 100%;
            margin-top: 20px;
        }
        &-left {
            width: 100%;
        }
    }
    .ask {
        &-top {
            text-align: center;
        }
        &-picture {
            margin-left: auto;
            margin-right: auto;
        }
        &-title {
            font-size: 28px;
        }
    }
    .loans {
        margin-bottom: 50px;
        &-list {
            flex-wrap: wrap;
        }
        &-subtitle {
            font-size: 14px;
        }
    }
    .infos {
        margin-bottom: 50px;
    }
    .docs {
        &-subtitle {
            font-size: 14px;
        }
    }
    .pledge {
        &-image {
            width: 100%;
        }
    }
}
@media(max-width: 425px) {
    h2 {
        font-size: 20px;
    }
    .promo {
        margin: 40px 0;
        &-list {
            font-size: 16px;
        }
    }
    .steps {
        margin: 80px 0 60px 0;
    }
    .propose {
        margin: 60px 0;
        &-subtitle {
            font-size: 18px;
        }
    }
    .faq {
        &-image {
            width: 275px;
        }
        &-title {
            top: 75px;
            font-size: 16px;
            left: 70px;
            max-width: 155px;
        }
        &-btn {
            font-size: 16px;
        }
    }
    .callback {
        &-item {
            width: calc(100% - 30px);
            margin-top: 6px;
            margin-bottom: 6px;
        }
    }
    .loans {
        &-item {
            width: calc(100% - 16px);
        }
    }
}