/* Шрифты */
@font-face {
    font-family: 'AvenirNextCyr-Bold';
    src: url(../fonts/AvenirNextCyr-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirNextCyr-Regular';
    src: url(../fonts/AvenirNextCyr-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-Black';
    src: url(../fonts/PlayfairDisplay-Black.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-BoldItalic';
    src: url(../fonts/PlayfairDisplay-BoldItalic.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url(../fonts/PlayfairDisplay-Italic.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Основные стили */
body {
    font-family: 'AvenirNextCyr-Regular', Arial, sans-serif;
}
.container-fluid, .row {
    padding: 0;
    margin: 0;
}
.content {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}
h1, h2 {
    font-family: 'PlayfairDisplay-BoldItalic', "Times New Roman", serif;
}
h2 {font-size: 38px;}
a {
    color: #b57739;
    transition: all 0.5s;
}
a:hover,
a:focus {
    color: #b57739;

}

/* Шапка */
header {
    background-color: #e7e1bd;
    padding: 10px 0;
    font-family: 'AvenirNextCyr-Bold', Arial, sans-serif;
}
.header-body {
    align-items: center;
}
.header-phone {
    margin-top: 12px;
    padding-right: 40px;
}
.phone-image {
    margin-right: 5px;
    width: 21px;
    height: 21px;
}
.phone-link {
    color: #000000;
    font-size: 28px;
    font-weight: bold;
}
.phone-link:hover,
.phone-link:focus {
    color: #000000;
}
.header-back {
    text-align: right;
    margin-top: -5px;
}
.header-callback {
    color: #b57739;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}
.header-callback:hover,
.header-callback:focus {
    color: #b57739;
    text-decoration: none;
}
.header-adress {
    font-size: 20px;
    font-weight: bold;
    padding: 0;
}

/* Навигация */
nav {
    background-color: #b57739;
    color: #ffffff;
    font-family: 'PlayfairDisplay-Black', "Times New Roman", serif;
}
.navbar {
    padding: 0 15px;
    justify-content: center;
    margin: 0 -50px;
}
.nav-item {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    margin: 0 50px;
}
.nav-link {
    padding: 15px 0 10px 0;
    color: #ffffff;
    border-bottom: 5px solid transparent;
}
.nav-link:hover,
.nav-link:focus {
    color: #ffffff;
    border-bottom: 5px solid #ffffff;
}

/* Стили слайдера */
.slider-item img {
    width: 100%;
}
.slider-item {position: relative;}
.slider-text {
    position: absolute;
    top: 30%;
    left: 0;
    z-index: 1000;
    text-align: center;
    font-size: 44px;
    color: #ffffff;
    background-image: url(../img/slider-text-bg.png);
    background-repeat: no-repeat;
    background-position: top;
    width: 100%;
    height: 100%;
    font-family: 'PlayfairDisplay-Bold', "Times New Roman", serif;
    font-weight: bold;
    line-height: 1.4;
}
.slider-text div {
    margin-top: 65px;
}

.main-slider .slick-track {padding-top: 0;}
.main-slider .slick-prev:before, .main-slider .slick-next:before 
{ font-family: "slick"; font-size: 60px; line-height: 1; color: #000; opacity: 1; 
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.main-slider .slick-prev:before { content: url(../img/arrow-left.png); }
[dir="rtl"] .main-slider .slick-prev:before { content: url(../img/arrow-right.png); }

[dir="rtl"] .main-slider .slick-next { left: -10px; top: 70px; right: auto;}
.main-slider .slick-next:before { content: url(../img/arrow-right.png); }
[dir="rtl"] .main-slider .slick-next:before { content: url(../img/arrow-left.png); }
.main-slider .slick-prev, .main-slider .slick-next {
    top: 40%;
}
.main-slider .slick-prev {left: 30px; z-index: 100;}
.main-slider .slick-next {right: 40px; z-index: 100;}

/* Секции */
.doit {
    background-color: #f6f6f6;
}
.doit .row {
    align-items: center;
    justify-content: center;
}
.doit-body1 {
    background-color: #f6f6f6;

    background-position: left;
    background-repeat: repeat-x;
}
.doit-body2 {
    background-color: #f6f6f6;

    background-position: right;
    background-repeat: repeat-x;
}
.doit-body3 {
    background-color: #f6f6f6;

    background-position: left;
    background-repeat: repeat-x;
}
.doit .col-6 {
    padding-left: 0;
    padding-right: 0;
    max-width: 960px;
    font-size: 20px;
}
.doit-image {width: 100%;}
.doit-img {max-width: 440px;}
.doit-text {
    display: flex;
    align-items: center;
}
.doit-text_words {
    text-align: center;
    margin: 0 40px;
}
.doit-words-two {
    order: -1;
}
.doit-text_image2 {margin-bottom: -220px;}
.doit-text_image3 {margin-bottom: -180px;}
.doit-text h3 {
    font-size: 38px;
    font-family: 'PlayfairDisplay-BoldItalic', "Times New Roman", serif;
}

.propose {
    padding: 40px 0;
}
.propose-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 80px;
    align-items: center;
    text-align: center;
}
.propose-item {
    margin: 10px;
    font-family: 'PlayfairDisplay-Bold', "Times New Roman", serif;
    font-size: 20px;
}
.propose-item img {
    margin-bottom: 15px;
}


/* Цены */
.price {

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
}

.price-body {
    max-width: 770px;
    margin: 20px auto;
}

.price-info {
    font-family: 'PlayfairDisplay-BoldItalic', "Times New Roman", serif;
    margin-top: 10px;
    font-size: 24px;
}
.price-time {
    font-size: 28px;
    margin: 10px 0 50px 0;
}
.table-price {
    width: 100%;
    font-size: 24px;
    font-family: 'PlayfairDisplay-Italic', "Times New Roman", serif;
  
}
.table-price td {
    padding: 5px 0;
    vertical-align: top;
}
.table-menu {
    width: 620px;
}
.table-money {
    width: 200px;
    font-family: 'PlayfairDisplay-BoldItalic', "Times New Roman", serif;
    color: #b57739;
}
.rules-link {
    text-decoration: underline;
    font-size: 24px;
    color: #b57739;
}
.rules-link:hover,
.rules-link:focus {
    color: #b57739;
    text-decoration: none;
}

.promo {
    padding: 40px 0;
}
.promo-image {
    padding: 10px 60px;
    border: 1px solid #d7d7d7;
    border-radius: 10px;
    margin: 20px 0;
}

/* Подвал */
.first {
    background-color: #3b2217;
    padding: 40px 0 30px 0;
    color: #ffffff;
}
.first .col-4 {
    padding-left: 0;
}
.first .col-8 {
    padding-right: 0;
}
.footer-list {
    list-style: none;
    padding: 0;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'PlayfairDisplay-Bold', "Times New Roman", serif;
    margin: 20px -5px 10px -5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-right: 100px;
    font-weight: bold;
}
.footer-item {
    color: #ffffff;
    margin: 10px 25px 10px 5px;
}
.footer-item a {
    color: #ffffff;
}
.footer-icon {
    margin-right: 10px;
    margin-top: -5px;
}
.main-adress {
    font-family: 'AvenirNextCyr-Bold', Arial, sans-serif;
    font-size: 20px;
}
.footer-tel_link {
    font-size: 20px;
    color: #ffffff;
}
.footer-tel_link:hover,
.footer-tel_link:focus {
    color: #ffffff;
}
.icons-list {
    list-style: none;
    padding: 0;
    margin: 30px 0 0 0;
    display: flex;
}
.icons-link {
    color: #ffffff;
    padding: 5px;
    font-size: 18px;
    border: 2px solid #b57739;
    border-radius: 100%;
    margin-right: 5px;
}
.icons-link:hover,
.icons-link:focus {
    color: #ffffff;
    background-color: #b57739;
    text-decoration: none;
}
.footer-facebook {
    padding: 5px 12px;
}
.footer-vk {
    padding: 5px 6px;
}
.footer-instagram {
    padding: 5px 9px;
}

.imp {
    background-color: #ffffff;
    color: #949494;
    padding: 20px 0;
}
.imp .col-6 {
    padding: 0;
}
.footer-down_link {
    color: #949494;
    text-decoration: underline;
}
.footer-down_link:hover,
.footer-down_link:focus {
    color: #949494;
    text-decoration: none;
}

/* Модальные окна */
.modal-us {
    padding: 40px;
}
.modal-ptitle {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'AvenirNextCyr-Bold', Arial, sans-serif;
}
.modal-item {
    position: relative;
    font-size: 13px;
}
.modal-icon {
    position: absolute;
    left: 10px;
    top: 20px;
}
.modal-field {
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 5px 0;
    border: 1px solid #d9d9d9;
}
.modal-send {
    margin: 10px 0;
}
.modal-button {
    display: block;
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #b57739;
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid transparent;
    background-image: linear-gradient(transparent, transparent);
}
.modal-button:hover,
.modal-button:focus {
    color: #b57739;
    background-color: transparent;
    border: 1px solid #b57739;
    text-decoration: none;
}

h3.modal-title {
    font-size: 26px;
    font-family: 'PlayfairDisplay-BoldItalic', "Times New Roman", serif;
}
.modal-instruct {
    max-width: 920px;
}
.modal-header {
    border: 0;
}
.modal-instruct .modal-body {
    padding: 0 60px 60px 60px;
    font-size: 16px;
}
.modal-instruct .modal-body p {
    margin: 5px 0;
}
.modal-title {
    text-align: center;
    margin-bottom: 20px;
}
.modal .modal-instruct .close {
    margin-right: 0;
}