@media (max-width: 1300px) {
    .agents-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .clients-item {
        width: 44%;
    }
    .agents-item {
        margin: 10px;
    }
    .clients-list {
        margin: 20px 0;
        justify-content: center;
    }
    .clients-item {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
    .clients-image {
        margin-right: 0;
        margin-bottom: 5px;
    }
}
@media (max-width: 992px) {
    .header-body {
        flex-wrap: wrap;
        & .col-5,
        & .col-7 {
            width: 100%;
            text-align: center;
        }
        & .col-5 {
            margin-bottom: 10px;
        }
    }
    .search {
        &-list {
            justify-content: space-between;
        }
        &-item {
            &:nth-child(1) {
                width: 100%;
            }
            &:nth-child(2) {
                width: 47%;
            }
            &:nth-child(3) {
                width: 47%;
            }
            &:nth-child(4) {
                width: 22%;
            }
            &:nth-child(5) {
                width: 22%;
            }
            &:nth-child(6) {
                width: 22%;
            }
            &:nth-child(7) {
                width: 22%;
            }
            &:nth-child(8) {
                width: 100%;
            }
        }
    }
    .cards-image {
        width: 280px;
        height: 150px;
    }
    .subscribe-body .row {
        flex-wrap: wrap;

        & .col-6 {
            width: 100%;
        }
    }
    .links-body {
        flex-wrap: wrap;

        & .col-4 {
            width: 100%;
            text-align: center;
        }
    }
    .tubes {
        justify-content: center;
    }
}
@media (max-width: 768px) {
    header {
        position: relative;
    }
    .nav-responsive {
        display: block;
        position: absolute;
        right: 15px;
        top: 35px;
        text-transform: uppercase;
        font-family: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    .nav-body {
        flex-wrap: wrap;
        & .col-6 {
            width: 100%;
            margin: 10px 0;
        }
    }
    .nav-contact,
    .social {
        justify-content: center;
        border-left: 0;
        border-right: 0;
    }
    .header-body .col-5, 
    .header-body .col-7 {
        text-align: left;
    }
    .header-list {
        display: none;
        text-align: center;
    }
    .header-list.responsive {
        display: block;
    }
    .header-link,
    .header-list button {
        text-align: center;
        width: 100%;
        display: block;
        padding: 10px 0;
    }
    .header-dropdown {
        width: 100%;
        left: 0;
    }
    .slider-item {
        min-height: 300px;
    }
    .slider-info {
        width: 100%;
        right: 0;
        bottom: 100px;
        box-sizing: border-box;
        text-align: center;
    }
    .slider-title {
        font-size: 16px;
    }
    .slider-down {
        display: block;
    }
    .slider-bread {
        display: block;
    }
    .slider-price {
        margin-left: 0;
    }
    .slider-bread_item {
        display: inline-block;
        padding: 0 5px;
    }
    .slider-bread_item::after {
        content: none;
        padding: 0;
    }
    .search {
        &-list {
            justify-content: space-between;
        }
        &-item {
            &:nth-child(1) {
                width: 100%;
            }
            &:nth-child(2) {
                width: 100%;
            }
            &:nth-child(3) {
                width: 100%;
            }
            &:nth-child(4) {
                width: 45%;
            }
            &:nth-child(5) {
                width: 45%;
            }
            &:nth-child(6) {
                width: 45%;
            }
            &:nth-child(7) {
                width: 45%;
            }
            &:nth-child(8) {
                width: 100%;
            }
        }
    }
    .clients-item {
        width: 100%;
    }
    .agents-image {
        width: 140px;
        height: 180px;
    }
    .footer-body {
        flex-wrap: wrap;

        & .col-6 {
            width: 100%;
            text-align: center;
            margin: 10px 0;
        }
    }
    .subscribe-body {
        padding: 20px 10px;
        text-align: center;
    }
    .subscribe-title {
        text-align: center;
        padding-left: 0;
    }
}
@media (max-width: 530px) {
    .prev-title {
        padding: 14px 10px;
        font-size: 18px;
    }
    .double {
        flex-wrap: wrap;

        & .col-4,
        & .col-8 {
            width: 100%;
        }
        & .col-8 {
            order: -1;
        }
    }
}
@media (max-width: 425px) {
    .nav-phones {
        display: none;
    }
    .search {
        &-list {
            justify-content: space-between;
        }
        &-item {
            &:nth-child(4) {
                width: 100%;
            }
            &:nth-child(5) {
                width: 100%;
            }
            &:nth-child(6) {
                width: 100%;
            }
            &:nth-child(7) {
                width: 100%;
            }
        }
    }
    .cards-descr {
        font-size: 14px;
    }
    .cards-image {
        width: 100%;
        height: auto;
    }
    .subscribe-descr {
        font-size: 14px;
    }
    .subscribe-form {
        display: block;
    }
    .subscribe-btn {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }
    .links {
        font-size: 14px;
        padding: 30px 0 20px 0;
    }
    footer {
        font-size: 14px;
    }
    .tubes {
        flex-wrap: wrap;
    }
    .tubes-item {
        margin: 10px;
    }
}
@media (max-width: 375px) {
    .agents-image {
        width: 110px;
        height: 140px;
    }
    .agents-name {
        padding-top: 60px;
        font-size: 14px;
    }
    .agents-link {
        font-size: 12px;
    }
}