<div class="header__search">
    <form action="#">
        <div class="header__search-item">
            <select class="select js-select-drop">
                <option data-placeholder="true" selected>Кого ищите?</option>
                <option value="1">Ищу няню</option>
                <option value="2">Ищу работу</option>
                <option value="3">Ищу агентство</option>
            </select>
            <button class="icon-search-gray header__search-btn" type="submit"></button>
        </div>
        <div class="header__search-item">
            <div class="drop drop--towns drop--towns-header js-drop-parent">
                <div class="drop__head js-drop-link">
                    <a href="#" class="drop-link">В каком городе?</a>
                </div>
                <div class="drop__content js-drop-content">
                    <div class="towns">
                        <div class="towns__scrollpane">
                            <div class="row towns__row">
                                <div class="col-sm-50 towns__col">
                                    <ul class="towns-list">
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor town-item__decor--strong">Москва</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Астрахань</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Барнаул</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Владивосток</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Волгоград</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Воронеж</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Екатеринбург</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Астрахань</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Барнаул</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Владивосток</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Волгоград</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Воронеж</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Екатеринбург</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-sm-50 towns__col">
                                    <ul class="towns-list">
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor town-item__decor--strong">Санкт-Петербург</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Новоссибирск</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Омск</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Оренбург</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Пенза</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Пермь</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Ростов-на-Дону</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Новоссибирск</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Омск</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Оренбург</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Пенза</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Пермь</span>
                                            </label>
                                        </li>
                                        <li class="towns-list__item">
                                            <label class="town-item">
                                                <input type="radio" class="town-item__radio" name="drop_search_town">
                                                <span class="town-item__decor">Ростов-на-Дону</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>