<!-- header -->
<header class="header" role="banner">
    <div class="container">
        <div class="header__left">
            <a href="#" class="header__logo">
                <img class="header__logo-img" src="img/logo.png" alt="">
            </a>
        </div>
        <div class="header__middle">
           @@include('template/layout/header-search.html')
        </div>
        <div class="header__right">
           <div class="header-menu">
                <ul class="header-menu__list">
                    <li class="header-menu__list-item">
                        <a href="#" class="header-menu__link">Для агентств</a>
                    </li>
                    <li class="header-menu__list-item">
                        <a href="#" class="header-menu__link active">Стать няней</a>
                    </li>
                    <li class="header-menu__list-item">
                        <a href="#" class="header-menu__link">Помощь</a>
                    </li>
                    <li class="header-menu__list-item">
                        <a href="#" data-href="#popup-registration" class="header-menu__link js-popup-link">Регистрация</a>
                    </li>
                    <li class="header-menu__list-item">
                        <a href="#" data-href="#popup-login" class="header-menu__link js-popup-link">Войти</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>  
</header>
<!-- header end -->