@media (max-width: 1280px) {
  .discover {
    padding-bottom: 0;
  }
  .favourites {
    padding: 100px 0 0 0;
  }
  .favourites-shape1 {
    top: -150px;
  }
  .favourites-shape3 {
    top: -70px;
  }
  .favourites-title {
    margin-top: 20px;
    padding-right: 0;
  }
  .uber {
    padding: 0 0 100px 0;
  }
  .uber-shape1 {
    top: -100px;
  }
  .uber-shape2 {
    right: 20px;
    top: -200px;
  }
  .uber-shape4 {
    bottom: -200px;
  }
  .uber-title {
    padding: 50px 0 0 160px;
    position: relative;
    z-index: 0;
  }
  .track {
    z-index: 0;
    background-image: none;
    margin: 400px 0 200px 0;
  }
  .eats-title {
    padding-right: 0;
  }
  .tap {
    z-index: 0;
  }
  .tap-shape1 {
    right: 0;
    top: -150px;
  }
  .tap-shape3 {
    z-index: -5;
  }
  .deliver {
    padding: 0 0 100px 0;
    margin-top: 200px;
  }
  .started {
    padding: 0 30px;
  }
  .more {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .geton-image {
    width: 180px;
  }
  .header {
    padding: 10px 0 150px 0;
  }
  .header-block {
    max-width: 500px;
    padding: 20px;
  }
  .favourites {
    margin: 300px 0 200px 0;
  }
  .uber {
    padding: 0;
  }
  .uber-shape1 {
    top: -90px;
  }
  .uber-shape2, .uber-shape3, .uber-shape4,
  .uber .col-5 {
    display: none;
  }
  .uber .col-7 {
    width: 100%;
  }
  .uber-title {
    margin-top: 75px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .track {
    margin: 100px 0 0 0;
    padding: 100px 0;
  }
  .track-shape1 {
    top: 50px;
    z-index: -10;
  }
  .track-shape2 {
    bottom: 50px;
    left: auto;
    right: 20px;
  }
  .track::before, .track::after {
    display: none;
  }
  .track .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .track .col-6 {
    width: 100%;
    text-align: center;
  }
  .track-title {
    margin: 0 0 50px 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .track.track-img {
    margin-left: 50px;
  }
  .tap {
    padding: 0;
    text-align: center;
  }
  .tap-shape1 {
    top: 50px;
  }
  .tap-shape2 {
    left: 35px;
  }
  .tap .col-5 {
    display: none;
  }
  .tap .col-7 {
    width: 100%;
  }
  .eats {
    margin-top: 100px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .geton {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .started {
    padding: 0;
  }
  .started-title {
    font-size: 25px;
  }
  .language-btn {
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .header {
    text-align: center;
    padding: 10px 0 50px 0;
  }
  .header-block {
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: -5;
  }
  .header-title {
    padding-right: 0;
  }
  .uber-shape1 {
    width: 100%;
  }
  .favourites-shape2 {
    width: 100%;
  }
  .links .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .links .col-6 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    margin: 20px 0;
  }
  .links .col-3 {
    width: 50%;
    margin: 20px 0;
  }
  .discover .col-5 {
    display: none;
  }
  .discover .col-7 {
    width: 100%;
    text-align: center;
  }
  .discover-title {
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .discover-shape3 {
    left: auto;
    right: auto;
    display: inline-block;
  }
  .favourites {
    padding: 50px 0;
    margin: 0;
  }
  .favourites::before, .favourites::after, .favourites-shape1 {
    display: none;
  }
  .favourites-shape3 {
    top: 0;
  }
  .favourites .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .favourites .col-7,
  .favourites .col-5 {
    text-align: center;
    width: 100%;
  }
  .favourites .col-5 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-top: 80px;
  }
  .favourites .col-7 {
    background-color: rgba(0, 0, 0, 0.25);
    padding-bottom: 20px;
    margin-bottom: 50px;
  }
  .uber {
    text-align: center;
  }
  .uber-shape1 {
    top: -150px;
  }
  .tap-right {
    text-align: center;
  }
  .tap-shape2 {
    display: none;
  }
  .eats-body {
    display: block;
  }
  .eats-left {
    margin: 20px 0;
  }
  .eats-title {
    margin: 0 0 10px 0;
  }
  .deliver {
    margin-top: 50px;
    padding: 30px 0;
  }
  .deliver::before {
    display: none;
  }
  .deliver .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .deliver .col-6 {
    width: 100%;
    margin: 20px 0;
  }
  .started-first {
    border-right: 0;
  }
  .links {
    font-size: 16px;
    padding: 50px 0 0 0;
  }
  .links-body {
    padding: 20px 0 0 0;
  }
  .more,
  .language-btn,
  .getit-title {
    font-size: 16px;
  }
  footer {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .header-title,
  h1, h2 {
    font-size: 40px;
  }
  .tap-shape3 {
    left: 0;
  }
  .search {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }
  .search-field {
    margin-right: 0;
    margin-bottom: 15px;
  }
  .started-text {
    padding: 0;
  }
  .language-btn {
    padding-right: 15px;
  }
}
/*# sourceMappingURL=media.css.map */