@media (max-width: 1580px) {
  .slider-text {
    top: 150px;
  }
  .news-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1240px) {
  .slider-text {
    top: 100px;
  }
  .cat .col-9 {
    width: 60%;
  }
  .cat .col-3 {
    width: 40%;
  }
  .cat .card-gallery-item {
    width: 49%;
  }
  .detail .card-end {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .detail .card-end-center {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
    margin-bottom: 15px;
  }
  .detail-quote {
    width: 65%;
  }
  .contacts-body {
    display: block;
  }
  .contacts-left {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .contacts-right {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 1024px) {
  .social-item,
  .signup-label {
    display: none;
  }
  .social-item:last-child,
  .signup-label:last-child {
    display: block;
  }
  .slider-text {
    top: 60px;
  }
  .slider-title {
    font-size: 30px;
  }
  .signup-btn {
    width: 140px;
  }
  .signup-field {
    width: 37%;
  }
  .links-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .links-body .col-3 {
    width: 50%;
  }
  .asocial {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .asocial-item {
    width: 49%;
  }
  .recommended-image {
    height: 150px;
  }
}

@media (max-width: 768px) {
  .slider-text {
    top: 20px;
    left: 20px;
    width: 100%;
  }
  .slider-pre {
    font-size: 14px;
  }
  .slider-title {
    font-size: 24px;
  }
  .signup-form {
    padding: 10px 0;
  }
  .news {
    margin: 20px 0;
  }
  .links {
    padding: 20px 0;
  }
  .links-body .col-3 {
    width: 100%;
  }
  .footer-body {
    display: block;
    text-align: center;
  }
  .footer-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-item:before {
    content: '';
    padding: 0;
  }
  .card-blockquote a {
    font-size: 12px;
  }
  .cat .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cat .col-9 {
    width: 100%;
    margin-bottom: 20px;
  }
  .cat .col-3 {
    width: 100%;
  }
  .cat .card {
    margin: 0;
  }
  .cat .card-image {
    height: auto;
  }
  .cat .card-image-gallery {
    height: 150px;
  }
  .cat .card-end {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cat .share {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cat .card-end-left,
  .cat .card-end-right {
    width: 100%;
  }
  .cat .card-end,
  .detail .card-end {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .cat .share-item,
  .detail .share-item {
    margin: 0 10px 0 10px;
  }
  .card-end-center {
    margin-top: 15px;
  }
  .stars {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cat .card-end-left,
  .detail .card-end-left {
    margin-bottom: 15px;
  }
  .author-title {
    display: block;
  }
  .author-title-link {
    display: block;
  }
  .author-title-link:last-child {
    margin-top: 20px;
  }
  .recommended-image {
    height: auto;
  }
  .contacts-title {
    width: 100%;
    font-size: 16px;
  }
  .nothere {
    margin: 70px auto;
  }
  .nothere-field {
    width: 70%;
  }
  .nothere-button {
    width: 30%;
  }
}

@media (max-width: 425px) {
  .header-logo {
    width: 120px;
  }
  .slider-text {
    top: 15px;
  }
  .slider-title {
    font-size: 17px;
    margin-left: 1px;
  }
  .signup-form {
    display: block;
  }
  .signup-field {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
  }
  .signup-btn {
    width: 100%;
  }
  .news-list {
    margin: 0;
  }
  .news-item {
    padding: 20px 0;
  }
  .card {
    width: 100%;
  }
  .cat .col-9,
  .cat .col-3 {
    padding: 0;
  }
  .cat .card-image-gallery {
    height: 100px;
  }
  .cat .card-category,
  .cat .card-author {
    display: block;
    margin: 5px 0;
  }
  .detail-quote {
    width: 85%;
  }
  .navigation {
    font-size: 12px;
  }
  .navigation-link {
    padding-top: 20px;
    height: 58px;
  }
  .author {
    display: block;
    text-align: center;
  }
  .author-image {
    width: 100%;
    height: auto;
  }
  .asocial-item {
    width: 100%;
  }
  .recommended {
    padding: 25px 20px;
  }
  .recommended-title {
    font-size: 18px;
  }
  .sendme-field-half {
    width: 100%;
  }
}
/*# sourceMappingURL=media.css.map */