/* Fonts */
@font-face {
  font-family: 'SuisseIntl-Regular';
  src: url(../fonts/SuisseIntl-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/Inter-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
* {
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1410px;
}

body {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* Header */
.header {
  padding: 15px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-picture {
  margin-right: 15px;
}

.logo-name {
  display: block;
  margin-top: 1px;
}

.logo-descr {
  display: block;
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 9px;
}

.city {
  position: relative;
}

.city-drop {
  display: none;
  width: 301px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 25px;
  background-color: #ffffff;
}

.city-drop.show {
  display: block;
}

.city-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #002E1E;
}

.city-icon {
  display: inline-block;
  margin-right: 4px;
  min-width: 11px;
  width: 11px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/city-icon.svg);
}

.city-more {
  margin: 10px -4px 0 -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.city-more-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #393838;
  width: 129px;
  height: 39px;
  background: #D7FFF2;
  margin: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.city-more-btn:hover, .city-more-btn.green {
  background: #0F7553;
  color: #ffffff;
}

.city-more-btn.green:hover {
  background: #D7FFF2;
  color: #393838;
}

.search {
  margin-top: 15px;
}

.search-form {
  width: 100%;
  border-bottom: 1px solid #60B99B;
  max-width: 328px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-field {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 0;
}

.search-field::-webkit-input-placeholder {
  color: #727A84;
}

.search-field:-ms-input-placeholder {
  color: #727A84;
}

.search-field::-ms-input-placeholder {
  color: #727A84;
}

.search-field::placeholder {
  color: #727A84;
}

.search-icon {
  display: inline-block;
  min-width: 18px;
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/search-icon.svg);
}

.info-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info-left {
  width: calc(50% - 20px);
}

.info-right {
  margin-left: 40px;
  width: calc(50% - 20px);
}

.info-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-mail-icon {
  display: inline-block;
  min-width: 15px;
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/info-mail-icon.svg);
  margin-right: 6px;
}

.info-mail-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #002E1E;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.info-mail-link:hover, .info-mail-link:focus {
  border-bottom: 1px solid #002E1E;
}

.info-btn {
  width: 100%;
  height: 35px;
  background: #006543;
  border: 1px solid #006543;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.info-btn.simple {
  background-color: transparent;
  color: #006543;
}

.info-btn.simple:hover, .info-btn.simple:focus {
  background: #006543;
  color: #FFFFFF;
}

.info-btn:hover, .info-btn:focus {
  background-color: transparent;
  color: #006543;
}

.info-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-phone-icon {
  display: inline-block;
  min-width: 13px;
  width: 13px;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/info-phone-icon.svg);
  margin-right: 6px;
}

.info-phone-link {
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.info-phone-link:hover, .info-phone-link:focus {
  border-bottom: 1px solid #000000;
}

/* Navigation */
.nav {
  margin-top: 10px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #006B3C;
}

.nav-link {
  display: block;
  height: 44px;
  background: #006B3C;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FEFFFF;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus {
  background: #064630;
}

.nav-sublink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 11px 25px;
}

.nav-sublink:hover, .nav-sublink:focus {
  color: #354842;
}

.nav-subicon {
  display: inline-block;
  min-width: 30px;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.nav-subicon-one {
  background-image: url(../img/nav-subicon-one.jpg);
}

.nav-subicon-thue {
  background-image: url(../img/nav-subicon-thue.jpg);
  min-width: 25px;
  width: 25px;
  height: 30px;
  margin-right: 15px;
}

.nav-subicon-three {
  background-image: url(../img/nav-subicon-three.jpg);
  min-width: 28px;
  width: 28px;
  height: 30px;
  margin-right: 12px;
}

.nav-subicon-four {
  background-image: url(../img/nav-subicon-four.jpg);
  min-width: 32px;
  width: 32px;
  height: 32px;
  margin-right: 9px;
}

.drop {
  position: relative;
}

.drop-btn {
  background: #064630;
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.drop-btn:hover, .drop-btn:focus {
  background: #006B3C;
}

.drop-btn.show .drop-icon {
  background-image: url(../img/drop-icon-close.png);
  min-width: 8px;
  width: 8px;
  height: 8px;
}

.drop-icon {
  display: inline-block;
  min-width: 17px;
  width: 17px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/drop-icon.png);
  background-size: contain;
  margin-right: 12px;
}

.drop-body {
  display: none;
  position: absolute;
  width: 400px;
  background: #FFFFFF;
  padding: 17px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
}

.drop-body.show {
  display: block;
}

/* Sections */
.promo-image {
  width: 100%;
  height: 257px;
  -o-object-fit: cover;
     object-fit: cover;
}

.promo-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.promo-descr {
  position: absolute;
  top: 40px;
  left: 68px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
}

.promo-descr::before {
  content: '';
  display: inline-block;
  min-width: 8px;
  width: 8px;
  height: 8px;
  background: #34A473;
  position: absolute;
  top: 5px;
  left: -20px;
}

.promo-name {
  display: block;
  text-transform: uppercase;
}

.promo-slider {
  position: relative;
}

.promo-navigation {
  position: absolute;
  bottom: 60px;
  right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

.promo-num {
  display: block;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  margin: 0 5px;
}

.promo-line {
  display: block;
  width: 58px;
  height: 2px;
  background: rgba(255, 255, 255, 0.28);
  mix-blend-mode: normal;
  position: relative;
}

.promo-line::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 2px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: 20px;
}

.promo-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -3px;
}

.promo-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 40px;
  width: 40px;
  height: 40px;
  background: #028A5C;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 3px;
}

.promo-arrow:hover, .promo-arrow:focus {
  background: #006543;
}

.promo-arrow:after {
  content: '';
  display: inline-block;
  min-width: 6px;
  width: 6px;
  height: 11px;
  background-position: center;
  background-repeat: no-repeat;
}

.promo-arrow-left:after {
  background-image: url(../img/promo-arrow-left.svg);
}

.promo-arrow-right:after {
  background-image: url(../img/promo-arrow-right.svg);
}

.wedo {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
}

.wedo-list {
  margin: 0 -11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wedo-item {
  width: calc(25% - 22px);
  background: #FFFFFF;
  border: 1px solid #E8E7E7;
  margin: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px 30px 30px;
  box-sizing: border-box;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wedo-item:hover .wedo-subtitle,
.wedo-item:hover .wedo-more-link {
  color: #ffffff;
}

.wedo-item:hover .wedo-more-icon svg path {
  stroke: #ffffff;
}

.wedo-item:nth-child(1):hover {
  background: #FC6E59;
}

.wedo-item:nth-child(2):hover {
  background: #3CC7D6;
}

.wedo-item:nth-child(3):hover {
  background: #EBDD28;
}

.wedo-item:nth-child(3):hover .wedo-subtitle,
.wedo-item:nth-child(3):hover .wedo-more-link {
  color: inherit;
}

.wedo-item:nth-child(3):hover .wedo-more-icon svg path {
  stroke: #006543;
}

.wedo-item:nth-child(4):hover {
  background: #486C50;
}

.wedo-icon {
  display: inline-block;
  min-width: 56px;
  width: 56px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.wedo-icon-one {
  background-image: url(../img/wedo-icon-one.jpg);
}

.wedo-icon-thue {
  background-image: url(../img/wedo-icon-thue.svg);
}

.wedo-icon-three {
  background-image: url(../img/wedo-icon-three.jpg);
}

.wedo-icon-four {
  background-image: url(../img/wedo-icon-four.jpg);
}

.wedo-subtitle {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #354842;
  margin-bottom: 13px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wedo-more {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.wedo-more-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #006543;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wedo-more-link:hover .wedo-more-icon, .wedo-more-link:focus .wedo-more-icon {
  left: 5px;
}

.wedo-more-icon {
  margin-left: 7px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.wedo-more-icon svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wedo-all {
  margin-top: 10px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wedo-all-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  text-transform: uppercase;
  color: #006543;
  text-decoration: none;
}

.wedo-all-icon {
  display: inline-block;
  min-width: 27px;
  width: 27px;
  height: 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/wedo-all-icon.svg);
  margin-left: 10px;
  position: relative;
  top: -1px;
}

.products {
  margin-top: 40px;
  margin-bottom: 100px;
}

.products-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #293A35;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.products-title:before {
  content: '';
  display: inline-block;
  min-width: 14px;
  width: 14px;
  height: 14px;
  background: #34A473;
  margin-right: 5px;
  position: relative;
  top: 7px;
}

.products .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.products .swiper-slide {
  width: calc(25% - 20px);
  margin: 10px;
  padding: 20px 20px 100px 20px;
  background: #FFFFFF;
  border: 1px solid #E8E7E7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-item {
  position: relative;
}

.products-discount {
  position: absolute;
  left: -20px;
  width: 109px;
  height: 39px;
  background: #34A473;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-img {
  width: 100%;
  height: 268px;
  -o-object-fit: cover;
     object-fit: cover;
}

.products-name {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #002E1E;
  margin: 20px 0 10px 0;
}

.products-descr {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6D6C6C;
}

.products-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 40px;
  position: absolute;
  bottom: -80px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.products-more-link {
  display: block;
  padding: 14px 25px;
  width: 143px;
  height: 47px;
  background: #006543;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFDFD;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.products-more-link:hover, .products-more-link:focus {
  background: #02875A;
}

.products-price-old {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #242424;
  -webkit-text-decoration: line-through #242424;
          text-decoration: line-through #242424;
  opacity: 0.5;
}

.products-price-value {
  display: block;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: #002E1E;
}

.products-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-indicator {
  display: block;
  background: rgba(0, 101, 67, 0.2);
  width: 100%;
  height: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 7px;
}

.products-indicator::before {
  content: '';
  display: block;
  min-width: 53px;
  width: 53px;
  height: 3px;
  position: absolute;
  left: 100px;
  background: #006543;
}

.products-indicator::after {
  content: '';
  display: inline-block;
  min-width: 25px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/products-indicat-after.svg);
  position: absolute;
  left: 115px;
  top: -11px;
}

.products-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 15px;
}

.products-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

.products-num {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #9B9A9A;
  margin: 0 5px;
}

.products-line {
  display: block;
  width: 88px;
  height: 2px;
  background: rgba(155, 154, 154, 0.28);
  mix-blend-mode: normal;
  position: relative;
}

.products-line::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 2px;
  background: #9B9A9A;
  position: absolute;
  top: 0;
  left: 20px;
}

.products-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -5px;
}

.products-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 60px;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border: 2px solid #20785A;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 5px;
}

.products-arrow:hover, .products-arrow:focus {
  background: #006543;
}

.products-arrow:hover svg path, .products-arrow:focus svg path {
  stroke: #ffffff;
}

.products-arrow:after {
  content: '';
  display: inline-block;
  min-width: 6px;
  width: 6px;
  height: 11px;
  background-position: center;
  background-repeat: no-repeat;
}

.products-arrow-left svg {
  position: relative;
  left: 2px;
}

.products-arrow-right svg {
  position: relative;
  left: 5px;
}

.making-body {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/making-bg.jpg);
  background-size: cover;
  padding: 60px 30px 100px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.making-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.making-title:before {
  content: '';
  display: inline-block;
  min-width: 14px;
  width: 14px;
  height: 14px;
  background: #34A473;
  margin-right: 15px;
  position: relative;
  top: -5px;
}

.making-text {
  color: rgba(255, 255, 255, 0.6);
  text-align: justify;
}

.making-img {
  width: 100%;
}

.making-end-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.making-indicator {
  display: block;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 7px;
}

.making-indicator::after {
  content: '';
  display: inline-block;
  min-width: 25px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/making-indicat-after.svg);
  position: absolute;
  left: 115px;
  top: -11px;
}

.making-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 15px;
}

.making-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 19px;
}

.making-num {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #C6EEE1;
  margin: 0 5px;
}

.making-line {
  display: block;
  width: 88px;
  height: 2px;
  background: rgba(198, 238, 225, 0.28);
  mix-blend-mode: normal;
  position: relative;
}

.making-line::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 2px;
  background: #C6EEE1;
  position: absolute;
  top: 0;
  left: 20px;
}

.making-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -5px;
}

.making-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 60px;
  width: 60px;
  height: 60px;
  border: 2px solid #80AA9C;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 5px;
}

.making-arrow:hover, .making-arrow:focus {
  background: #028257;
}

.making-arrow:hover svg path, .making-arrow:focus svg path {
  stroke: #80AA9C;
}

.making-arrow:after {
  content: '';
  display: inline-block;
  min-width: 6px;
  width: 6px;
  height: 11px;
  background-position: center;
  background-repeat: no-repeat;
}

.making-arrow-left svg {
  position: relative;
  left: 2px;
}

.making-arrow-right svg {
  position: relative;
  left: 5px;
}

.making-last-row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  top: -62px;
  margin-bottom: 40px;
}

.making-about-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #006543;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.making-about-link:hover .making-about-icon, .making-about-link:focus .making-about-icon {
  margin-left: 15px;
}

.making-about-icon {
  display: inline-block;
  min-width: 28px;
  width: 28px;
  height: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/making-about-icon.svg);
  margin-left: 7px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.making-nav .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

.making-nav .swiper-slide {
  margin-left: 23px;
}

.making-nav-item {
  background: #D9D9D9;
}

.making-nav-img {
  width: 100%;
  height: 213px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: -6px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

.making-nav-img:hover, .making-nav-img:focus {
  opacity: 0.4;
}

.years-title {
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  color: #002E1E;
  display: block;
  text-align: right;
}

.years-title:after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #34A473;
  margin-left: 7px;
}

.years-big {
  display: block;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 90px;
  line-height: 70px;
  color: #ffffff;
  text-shadow: 0px 0px 2px rgba(0, 46, 30, 0.75);
  text-align: right;
  margin-top: 10px;
}

.years-poli {
  text-align: center;
  background-image: url("../img/years.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-top: 50px;
}

.years-poli-value {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 150px;
  text-transform: uppercase;
}

.years-list {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  margin: 60px -15px 120px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.years-item {
  margin: 0 15px;
}

.years-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.years-num {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 82px;
  color: #002E1E;
}

.years-icon {
  display: inline-block;
  min-width: 57px;
  width: 57px;
  height: 57px;
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 13px;
}

.years-icon-one {
  background-image: url(../img/years-icon-one.jpg);
}

.years-icon-thue {
  background-image: url(../img/years-icon-thue.jpg);
}

.years-icon-three {
  background-image: url(../img/years-icon-three.jpg);
}

.years-space {
  padding: 20px 30px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.05);
  border-left: 7px solid #D9D9D9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: -10px;
}

.years-text {
  display: block;
}

.referer {
  margin-bottom: 110px;
}

.referer-picture {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/referer-bg.jpg);
  min-height: 504px;
  padding: 60px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.referer-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #FFFFFF;
}

.referer-title:before {
  content: '';
  display: inline-block;
  min-width: 14px;
  width: 14px;
  height: 14px;
  background: #34A473;
  position: relative;
  top: -10px;
}

.referer-name {
  font-weight: 400;
  font-size: 40px;
  line-height: 47px;
  display: block;
  padding-left: 21px;
}

.referer-show {
  display: inline-block;
  text-align: center;
  margin-top: 70px;
  margin-left: 52px;
}

.referer-show-name {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #8EE6C8;
  margin-bottom: 11px;
}

.referer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 202px;
  width: 202px;
  height: 202px;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 50%;
  padding: 0;
}

.referer-btn:before {
  content: '';
  display: inline-block;
  min-width: 114px;
  width: 114px;
  height: 114px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/referer-btn-before.png);
}

.referer-row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.referer-slider {
  position: relative;
  top: -235px;
  margin-bottom: -235px;
}

.referer-slider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 -10px;
}

.referer-slider .swiper-slide {
  margin: 0 10px;
  width: 330px;
}

.referer-slider .swiper-slide.active .referer-descr, .referer-slider .swiper-slide:hover .referer-descr, .referer-slider .swiper-slide:focus .referer-descr {
  background: #006543;
  color: #ffffff;
  border: 1px solid #006543;
}

.referer-item {
  position: relative;
}

.referer-image {
  width: 100%;
  height: 470px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -5px;
}

.referer-descr {
  display: block;
  width: 100%;
  height: 93px;
  background: #FFFFFF;
  border: 1px solid #E8E7E7;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 33px 25px 20px 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #006543;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.referer-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 15px;
}

.referer-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 19px;
}

.referer-num {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #9B9A9A;
  margin: 0 5px;
}

.referer-line {
  display: block;
  width: 67px;
  height: 2px;
  background: rgba(155, 154, 154, 0.28);
  mix-blend-mode: normal;
  position: relative;
}

.referer-line::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 2px;
  background: #9B9A9A;
  position: absolute;
  top: 0;
  left: 20px;
}

.referer-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -5px;
}

.referer-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 60px;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 101, 67, 0.8);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 5px;
}

.referer-arrow:hover, .referer-arrow:focus {
  background: #028257;
}

.referer-arrow:hover svg path, .referer-arrow:focus svg path {
  stroke: #ffffff;
}

.referer-arrow:after {
  content: '';
  display: inline-block;
  min-width: 6px;
  width: 6px;
  height: 11px;
  background-position: center;
  background-repeat: no-repeat;
}

.referer-arrow-left svg {
  position: relative;
  left: 2px;
}

.referer-arrow-right svg {
  position: relative;
  left: 5px;
}

.better {
  margin-bottom: 80px;
}

.better-title {
  display: block;
  text-align: center;
}

.better-title-icon {
  position: relative;
  display: inline-block;
  text-align: center;
}

.better-title-icon::before {
  content: '';
  display: inline-block;
  min-width: 39px;
  width: 39px;
  height: 39px;
  background: #006543;
}

.better-title-icon::after {
  content: '';
  display: inline-block;
  min-width: 39px;
  width: 39px;
  height: 39px;
  background: #34A473;
  position: absolute;
  top: -9px;
  left: -9px;
}

.better-title-text {
  display: block;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 800px;
  width: 100%;
  color: #000000;
  margin: 20px auto;
}

.better-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #363837;
}

.better-item {
  border: 1px solid #E8E7E7;
  padding: 37px 40px;
  margin: 10px;
  width: calc(33.3333% - 20px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.better-picture {
  margin-bottom: 15px;
}

.better-icon {
  display: inline-block;
  min-width: 96px;
  width: 96px;
  height: 94px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.better-icon-one {
  background-image: url(../img/better-icon-one.png);
}

.better-icon-thue {
  background-image: url(../img/better-icon-thue.svg);
}

.better-icon-three {
  background-image: url(../img/better-icon-three.png);
}

.better-icon-four {
  background-image: url(../img/better-icon-four.png);
}

.better-icon-five {
  background-image: url(../img/better-icon-five.png);
}

.better-icon-six {
  background-image: url(../img/better-icon-six.png);
}

.partners {
  margin-bottom: 150px;
}

.partners-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #293A35;
}

.partners-title::before {
  content: '';
  display: inline-block;
  min-width: 14px;
  width: 14px;
  height: 14px;
  background-color: #34A473;
  margin-right: 7px;
  position: relative;
  top: -10px;
}

.partners-all-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #006543;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.partners-all-link:hover, .partners-all-link:focus {
  border-bottom: 1px solid #006543;
}

.partners-all-icon {
  display: inline-block;
  min-width: 26px;
  width: 26px;
  height: 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/partners-all-icon.svg);
  margin-left: 7px;
}

.partners-slider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}

.partners-slider .swiper-slide {
  margin: 10px;
  width: calc(50% - 20px);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.partners-end-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners-indicator {
  display: block;
  background: rgba(0, 101, 67, 0.2);
  width: 100%;
  height: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 7px;
}

.partners-indicator::before {
  content: '';
  display: block;
  min-width: 53px;
  width: 53px;
  height: 3px;
  position: absolute;
  left: 100px;
  background: #006543;
}

.partners-indicator::after {
  content: '';
  display: inline-block;
  min-width: 25px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/products-indicat-after.svg);
  position: absolute;
  left: 115px;
  top: -11px;
}

.partners-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 15px;
}

.partners-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

.partners-num {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #9B9A9A;
  margin: 0 5px;
}

.partners-line {
  display: block;
  width: 88px;
  height: 2px;
  background: rgba(155, 154, 154, 0.28);
  mix-blend-mode: normal;
  position: relative;
}

.partners-line::after {
  content: '';
  display: inline-block;
  width: 15px;
  height: 2px;
  background: #9B9A9A;
  position: absolute;
  top: 0;
  left: 20px;
}

.partners-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -5px;
}

.partners-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 60px;
  width: 60px;
  height: 60px;
  background: #FFFFFF;
  border: 2px solid #20785A;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 5px;
}

.partners-arrow:hover, .partners-arrow:focus {
  background: #006543;
}

.partners-arrow:hover svg path, .partners-arrow:focus svg path {
  stroke: #ffffff;
}

.partners-arrow:after {
  content: '';
  display: inline-block;
  min-width: 6px;
  width: 6px;
  height: 11px;
  background-position: center;
  background-repeat: no-repeat;
}

.partners-arrow-left svg {
  position: relative;
  left: 2px;
}

.partners-arrow-right svg {
  position: relative;
  left: 5px;
}

.partners-reviews {
  background-image: url(../img/partners-reviews.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  padding: 35px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.partners-reviews-responsive {
  width: 80%;
  height: 460px;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px auto;
  position: relative;
  /* Track */
  /* Handle */
}

.partners-reviews-responsive::-webkit-scrollbar {
  width: 18px;
  height: 18px;
}

.partners-reviews-responsive::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.5);
  margin-top: 0;
}

.partners-reviews-responsive::-webkit-scrollbar-thumb {
  min-width: 18px;
  width: 18px;
  height: 18px;
  background-image: url(../img/partners-trumb.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.partners-reviews-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.partners-reviews-title:before {
  content: '';
  display: inline-block;
  min-width: 14px;
  width: 14px;
  height: 14px;
  background-color: #34A473;
  margin-right: 7px;
  position: relative;
  top: -10px;
}

.partners-item {
  margin-bottom: 18px;
}

.partners-item:last-child {
  margin-bottom: 0;
}

.partners-image {
  width: 100%;
  margin-bottom: -6px;
}

.partners-more {
  text-align: right;
  padding-right: 35px;
}

.partners-more-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  color: #FEFEFE;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.partners-more-link:hover, .partners-more-link:focus {
  border-bottom: 1px solid #FEFEFE;
}

.partners-more-icon {
  display: inline-block;
  min-width: 26px;
  width: 26px;
  height: 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/partners-more-icon.svg);
}

/* Footer */
/*# sourceMappingURL=style.css.map */