/* Fonts */
@font-face {
  font-family: 'SuisseIntl-Regular';
  src: url(../fonts/SuisseIntl-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/Inter-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
* {
  -webkit-font-smoothing: antialiased;
}

body {
  padding: 0;
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1410px;
}

body {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* Header */
.header {
  padding: 15px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-picture {
  margin-right: 15px;
}

.logo-name {
  display: block;
  margin-top: 1px;
}

.logo-descr {
  display: block;
  font-family: "Inter-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 9px;
}

.city {
  position: relative;
}

.city-drop {
  display: none;
  width: 301px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 25px;
  background-color: #ffffff;
}

.city-drop.show {
  display: block;
}

.city-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 16px;
  color: #002E1E;
}

.city-icon {
  display: inline-block;
  margin-right: 4px;
  min-width: 11px;
  width: 11px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/city-icon.svg);
}

.city-more {
  margin: 10px -4px 0 -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.city-more-btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #393838;
  width: 129px;
  height: 39px;
  background: #D7FFF2;
  margin: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.city-more-btn:hover, .city-more-btn.green {
  background: #0F7553;
  color: #ffffff;
}

.city-more-btn.green:hover {
  background: #D7FFF2;
  color: #393838;
}

.search {
  margin-top: 15px;
}

.search-form {
  width: 100%;
  border-bottom: 1px solid #60B99B;
  max-width: 328px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-field {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px 10px;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  border: 0;
}

.search-field::-webkit-input-placeholder {
  color: #727A84;
}

.search-field:-ms-input-placeholder {
  color: #727A84;
}

.search-field::-ms-input-placeholder {
  color: #727A84;
}

.search-field::placeholder {
  color: #727A84;
}

.search-icon {
  display: inline-block;
  min-width: 18px;
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/search-icon.svg);
}

.info-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info-left {
  width: calc(50% - 20px);
}

.info-right {
  margin-left: 40px;
  width: calc(50% - 20px);
}

.info-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-mail-icon {
  display: inline-block;
  min-width: 15px;
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/info-mail-icon.svg);
  margin-right: 6px;
}

.info-mail-link {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #002E1E;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.info-mail-link:hover, .info-mail-link:focus {
  border-bottom: 1px solid #002E1E;
}

.info-btn {
  width: 100%;
  height: 35px;
  background: #006543;
  border: 1px solid #006543;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.info-btn.simple {
  background-color: transparent;
  color: #006543;
}

.info-btn.simple:hover, .info-btn.simple:focus {
  background: #006543;
  color: #FFFFFF;
}

.info-btn:hover, .info-btn:focus {
  background-color: transparent;
  color: #006543;
}

.info-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.info-phone-icon {
  display: inline-block;
  min-width: 13px;
  width: 13px;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/info-phone-icon.svg);
  margin-right: 6px;
}

.info-phone-link {
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.info-phone-link:hover, .info-phone-link:focus {
  border-bottom: 1px solid #000000;
}

/* Navigation */
.nav {
  margin-top: 10px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #006B3C;
}

.nav-link {
  display: block;
  height: 44px;
  background: #006B3C;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FEFFFF;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus {
  background: #064630;
}

.nav-sublink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #212121;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 11px 25px;
}

.nav-sublink:hover, .nav-sublink:focus {
  color: #354842;
}

.nav-subicon {
  display: inline-block;
  min-width: 30px;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 10px;
}

.nav-subicon-one {
  background-image: url(../img/nav-subicon-one.jpg);
}

.nav-subicon-thue {
  background-image: url(../img/nav-subicon-thue.jpg);
  min-width: 25px;
  width: 25px;
  height: 30px;
  margin-right: 15px;
}

.nav-subicon-three {
  background-image: url(../img/nav-subicon-three.jpg);
  min-width: 28px;
  width: 28px;
  height: 30px;
  margin-right: 12px;
}

.nav-subicon-four {
  background-image: url(../img/nav-subicon-four.jpg);
  min-width: 32px;
  width: 32px;
  height: 32px;
  margin-right: 9px;
}

.drop {
  position: relative;
}

.drop-btn {
  background: #064630;
  padding-left: 50px;
  padding-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.drop-btn:hover, .drop-btn:focus {
  background: #006B3C;
}

.drop-btn.show .drop-icon {
  background-image: url(../img/drop-icon-close.png);
  min-width: 8px;
  width: 8px;
  height: 8px;
}

.drop-icon {
  display: inline-block;
  min-width: 17px;
  width: 17px;
  height: 17px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/drop-icon.png);
  background-size: contain;
  margin-right: 12px;
}

.drop-body {
  display: none;
  position: absolute;
  width: 400px;
  background: #FFFFFF;
  padding: 17px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.1);
}

.drop-body.show {
  display: block;
}

/* Sections */
.promo-image {
  width: 100%;
  height: 257px;
  -o-object-fit: cover;
     object-fit: cover;
}

.promo-item {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.promo-descr {
  position: absolute;
  top: 40px;
  left: 68px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #FFFFFF;
}

.promo-descr::before {
  content: '';
  display: inline-block;
  min-width: 8px;
  width: 8px;
  height: 8px;
  background: #34A473;
  position: absolute;
  top: 5px;
  left: -20px;
}

.promo-name {
  display: block;
  text-transform: uppercase;
}

.promo-navigation {
  position: absolute;
  bottom: 20px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

.promo-num {
  display: block;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #FFFFFF;
  margin: 0 5px;
}

.promo-line {
  display: block;
  width: 58px;
  height: 2px;
  background: rgba(255, 255, 255, 0.28);
  mix-blend-mode: normal;
  position: relative;
}

.promo-line::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 2px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  left: 20px;
}

.promo-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -3px;
}

.promo-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 40px;
  width: 40px;
  height: 40px;
  background: #028A5C;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 3px;
}

.promo-arrow:hover, .promo-arrow:focus {
  background: #006543;
}

.promo-arrow:after {
  content: '';
  display: inline-block;
  min-width: 6px;
  width: 6px;
  height: 11px;
  background-position: center;
  background-repeat: no-repeat;
}

.promo-arrow-left:after {
  background-image: url(../img/promo-arrow-left.svg);
}

.promo-arrow-right:after {
  background-image: url(../img/promo-arrow-right.svg);
}

.wedo-list {
  margin: 0 -11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wedo-item {
  width: calc(25% - 22px);
  background: #FFFFFF;
  border: 1px solid #E8E7E7;
  margin: 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px 30px 30px;
  box-sizing: border-box;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wedo-item:hover .wedo-subtitle,
.wedo-item:hover .wedo-more-link {
  color: #ffffff;
}

.wedo-item:hover .wedo-more-icon svg path {
  stroke: #ffffff;
}

.wedo-item:nth-child(1):hover {
  background: #FC6E59;
}

.wedo-item:nth-child(2):hover {
  background: #3CC7D6;
}

.wedo-item:nth-child(3):hover {
  background: #EBDD28;
}

.wedo-item:nth-child(3):hover .wedo-subtitle,
.wedo-item:nth-child(3):hover .wedo-more-link {
  color: inherit;
}

.wedo-item:nth-child(3):hover .wedo-more-icon svg path {
  stroke: #006543;
}

.wedo-item:nth-child(4):hover {
  background: #486C50;
}

.wedo-icon {
  display: inline-block;
  min-width: 56px;
  width: 56px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.wedo-icon-one {
  background-image: url(../img/wedo-icon-one.jpg);
}

.wedo-icon-thue {
  background-image: url(../img/wedo-icon-thue.svg);
}

.wedo-icon-three {
  background-image: url(../img/wedo-icon-three.jpg);
}

.wedo-icon-four {
  background-image: url(../img/wedo-icon-four.jpg);
}

.wedo-subtitle {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #354842;
  margin-bottom: 13px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wedo-more {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.wedo-more-link {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #006543;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wedo-more-link:hover .wedo-more-icon, .wedo-more-link:focus .wedo-more-icon {
  left: 5px;
}

.wedo-more-icon {
  margin-left: 7px;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.wedo-more-icon svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wedo-all-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  text-transform: uppercase;
  color: #006543;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */