@media(min-width: 1440px) {
    .promo {
        background-size: 100% 103%;
        background-position: top;
        background-image: url(../img/promo-bg-1920.jpg);
        &-right {
            position: relative;
            left: -14px;
            top: -11px;
        }
        &-navigation {
            right: -2px;
            bottom: 35px;
        }
    }
    .help {
        &-list {
            position: relative;
            left: -10px;
        }
        &-block {
            top: 171px;
            left: -43px;
        }
    }
    .footer {
        padding: 75px 0 83px 0;
    }
}
@media(min-width: 750px) {
    .modal {
        &-first {
            & .modal-body {
                padding-right: 30px;
            }
        }
    }
}
@media(max-height: 500px) and (max-width:992px) {
    .header {
        &-left {
            height: 400px;
            overflow-y: scroll;

        }
    }
}
@media(max-width: 1290px) {
    .container-fluid {
        overflow: hidden;
    }
    .ask {
        &-slider {
            & .ask-item {
                border-radius: 0!important;
            }
        }
        
    }
    .analytics {
        &-title {
            &::before {
                left: 225px;
            }
        }
    }
}
@media(max-width: 1200px) {
    .header {
        &-left {
            width: 80%;
        }
        &-right {
            width: 20%;
        }
    }
    .nav {
        &-list {
            margin: 0 -15px;
        }
        &-item {
            margin: 0 15px;
        }
    }
    .promo {
        &-right {
            padding: 0 15px;
        }
        &-wrapper {
            overflow: visible;
        }
        &-slider {
            overflow: hidden;
            padding-bottom: 80px;
        }
        &-item {
            margin: 8px 8px 8px 12px;
        }
        & .swiper-slide-active {
            padding-top: 0;
        }
    }
    .analytics {
        &-image {
            width: 100%;
        }
    }
    .help {
        &-row {
            position: relative;
            top: 0px;
            margin-bottom: 0;
        }
        &-left {
            padding-right: 15px;
        }
        &-subimage {
            height: auto;
        }
        &-navigation {
            right: 30px;
            top: 312px;
        }
        &-pagination {
            margin-right: 0px;
        }
    }
    .ask {
        &-image {
            width: 100%;
            object-fit: contain;
        }
        &-navigation {
            right: 13px;
        }
    }
    .footer {
        &-top {
            &-left {
                width: 20%;
            }
            &-right {
                width: 13.33333333%;
            }
        }
        &-logo {
            min-width: 140px;
            width: 140px;
            height: 25px;
            background-size: contain;
        }
        &-descr {
            font-size: 12px;
            margin: 0px 0 0 0;
        }
        &-list {
            margin: 0 -15px;
        }
        &-item {
            margin: 0 15px;
        }
        &-link {
            font-size: 15px;
        }
    }
}
@media(max-width: 992px) {
    .mobile {
        display: block;
        position: absolute;
        left: 15px;
        top: 26px;
        &-btn {
            padding: 0;
            &-icon {
                display: inline-block;
                min-width: 24px;
                width: 24px;
                height: 18px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../img/mobile-btn-icon.svg);
            }
        }
    }
    .header {
        padding: 15px 0;
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
            display: none;
        }
        &-right {
            width: 100%;
            order: -1;
        }
        &-btn {
            font-size: 14px;
            padding: 7px 15px;
            box-sizing: border-box;
            height: 40px;
        }
        &.show {
            background: #FFFFFF;
            z-index: 100;
            & .header-left {
                display: block;
            }
            & .nav {
                &-icon svg path {
                    transition: all 0.5s;
                    fill: #22505D;
                }
                &-link {
                    color: #747474;
                    &:hover,
                    &:focus {
                        border-bottom: 1px solid #747474;
                    }
                }
            }
            & .header {
                &-btn {
                    border: 1px solid #22505D;
                    color: #22505D;
                    &:hover,
                    &:focus {
                        box-shadow: 0 0 12px 1px rgba(34, 80, 93, 0.5);
                    }
                    &-icon svg path {
                        stroke: #22505D;
                    }
                    &-value {
                        color: #22505D;
                    }
                }
            }
            & .mobile {
                top: 25px;
                &-btn {
                    display: flex;
                    align-items: center;
                    &-icon {
                        min-width: 24px;
                        width: 24px;
                        height: 2px;
                        background-image: none;
                        background-color: #22505D;
                        display: inline-block;
                        margin-right: 8px;
                        
                    }
                    &:after {
                        content: 'Закрыть';
                        display: inline-block;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: right;
                        color: #22505D;
                    }
                }
            }
        }
    }
    .logos {
        display: block;
        margin: 30px 0;
        &-text {
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #152E34;
            display: block;
            margin-top: 5px;
        }
        &-descr {
            display: block;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #747474;
        }
        &-more {
            display: block;
            margin: 10px 0;
            &-btn {
                box-sizing: border-box;
                padding: 8px 16px;
                width: 100%;
                max-width: 343px;
                height: 48px;
                background: #22505D;
                border-radius: 15px;
                font-weight: 500;
                font-size: 14px;
                line-height: 32px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.5s;
                &:hover {
                    background: #33606C;
                }
                &:focus {
                    background: #22505D;
                }
            }
            &-icon {
                display: inline-block;
                min-width: 24px;
                width: 24px;
                height: 24px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../img/logos-more-icon.svg);
                margin-right: 10px;
            }
        }
    }
    .nav {
        &-list {
            display: block;
            &:before {
                content: '';
                display: inline-block;
                min-width: 246px;
                width: 246px;
                height: 17px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../img/nav-list-before.svg);
                margin-left: 15px;
            }
            &:after {
                content: '';
                display: inline-block;
                min-width: 246px;
                width: 246px;
                height: 17px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../img/nav-list-before.svg);
                margin-left: 15px;
            }
        }
        &-item {
            margin-top: 5px;
            margin-bottom: 5px;
        }
        &-link {
            font-weight: 600;
            font-size: 16px;
            line-height: 32px;
            color: #747474;
            display: block;
            box-sizing: border-box;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent!important;
            }
        }
    }
    .analytics-btn {
        padding: 15px;
    }
    .help {
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
        }
        &-block {
            top: 0;
            width: 50%;
            margin-left: auto;
            margin-right: auto;
        }
        &-navigation {
            right: 56px;
            top: 380px;
        }
    }
    .balance {
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
        }
    }
    .ask {
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
        }
        &-propose {
            left: 0;
        }
        &-decor {
            min-width: 450px;
            width: 450px;
            margin-left: 15px;
        }
        &-descr {
            width: 100%;
        }
    }
    .footer {
        &-top {
            flex-wrap: wrap;
            justify-content: space-between;
            &-left {
                width: 50%;
            }
            &-center {
                width: 100%;
                order: 1;
                margin-top: 20px;
            }
            &-right {
                width: 50%;
            }
        }
        &-list {
            justify-content: center;
        }
    }
    .modal {
        padding-top: 80px;
        &-body {
            width: 690px;
        }
        &-close {
            right: 0px;
            top: -54px;
        }
    }
    .payment-btn {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(max-width: 750px) {
    .promo {
        &-wrapper {
            right: 0;
        }
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
            text-align: center;
        }
        &-right {
            width: 100%;
        }
        & .swiper-slide-active .promo-item {
            border-radius: 30px;
        }
        &-navigation {
            right: 125px;
        }
        &-item {
            box-shadow: none!important;
        }
    }
    .formula {
        padding-top: 0;
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
            position: static;
            padding-right: 15px;
            margin-bottom: 0;
        }
        &-picture {
            position: static;
            margin-bottom: 0;
        }
        &-image {
            width: 100%;
        }
        &-title {
            padding-left: 0;
        }
        &-item {
            &:nth-child(2) {
                position: static;
            }
        }
    }
    .analytics {
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
        }
        &-btn {
            position: static;
            margin-left: auto;
            margin-right: auto;
        }
        &-title {
            &::before {
                content: none;
            }
        }
    }
    .help {
        &-block {
            width: 75%;
        }
    }
    .balance-more-btn {
        padding: 16px 8px;
    }
    .ask {
        background-image: url(../img/ask-bg-mobile.png);
        &-decor {
            display: none;
        }
        &-btn {
            padding: 12px 7px;
        }
    }
    .footer {
        &-list {
            flex-wrap: wrap;
        }
    }
    .modal {
        &-callback,
        &-success,
        &-getready {
            & .modal-body {
                width: 343px;
            }
        }
        &-success,
        &-getready {
            & .modal-body {
                padding: 32px 32px 22px 32px!important;
            }
        }
        &-body {
            width: 343px;
            padding: 44px 32px!important;
            margin-bottom: 120px;
        }
        &-row {
            display: block;
            position: relative;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
        }
        &-delete {
            position: absolute;
            top: 10px;
            right: 15px;
        }
        &-block {
            margin-top: 15px;
            padding-left: 0;
            padding-right: 0;
            height: auto;
            overflow: visible;
        }
        &-manufacturing {
            font-size: 12px;
            line-height: 16px;
            color: #D2D2D2;
            margin-top: 10px;
        }
        &-image {
            width: 80px;
            height: 80px;
        }
        &-lbl {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #D2D2D2;
        }
        &-field {
            font-size: 12px;
            line-height: 32px;
            color: #747474;
            height: 48px;
            padding: 5px 20px 5px 10px;
        }
        &-add-body {
            &:after {
                display: none;
            }
        }
        &-dop {
            &-body {
                display: block;
            }
            &-item {
                width: calc(100% - 4px);
            }
            &-field {
                font-weight: 600;
                font-size: 14px;
                line-height: 24px;
                height: 56px;
                &::placeholder {
                    color: #22505D;
                    font-weight: 600;
                }
            }
        }
        &-end {
            &-list {
                flex-wrap: wrap;
            }
            &-item {
                width: calc(100% - 24px);
                &:nth-child(1) {
                    order: 2;
                }
                &:nth-child(2) {
                    order: 1;
                }
                &:nth-child(3) {
                    order: -1;
                    text-align: left;
                }
            }
            &-btn {
                width: 100%;
                justify-content: center;
            }
            &-name {
                display: block;
                text-align: left;
                font-weight: 600;
            }
        }
    }
    .compound {
        &-row {
            flex-wrap: wrap;
            height: 350px;
            overflow-y: scroll;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
            padding-left: 15px;
        }
        &-picture {
            margin-bottom: 17px;
        }
        &-image {
            width: 112px;
            height: 112px;
        }
        &-descr {
            font-size: 14px;
            line-height: 16px;
        }
        &-btn {
            height: 48px;
        }
        &-block {
            padding-right: 0;
            height: auto;
            overflow: visible;
        }
    }
    .payment,
    .contacts {
        &-list {
            display: block;
            font-size: 14px;
            height: 164px;
            overflow-y: scroll;
        }
        &-item {
            width: calc(100% - 30px);
        }
        &-row {
            display: block;
        }
        &-left {
            width: 100%;
            margin-bottom: 22px;
        }
        &-right {
            width: 100%;
        }
        &-btn {
            height: 48px;
            font-weight: 500;
            font-size: 14px;
            line-height: 32px;
        }
    }
    .callback {
        &-item {
            margin: 15px 0px;
        }
        &-field {
            font-size: 14px;
            line-height: 24px;
            height: 56px;
        }
        &-more {
            margin-top: 35px;
            padding-top: 25px;
            border-top: 1px solid #D2D2D2;
        }
        &-btn {
            font-weight: 500;
            font-size: 14px;
            line-height: 32px;
            height: 48px;
        }
    }
    .success,
    .getready {
        &-ready {
            font-weight: 500;
            font-size: 14px;
            line-height: 32px;
            height: 48px;
        }
    }
}
@media(max-width: 520px) {
    .promo {
        background-image: url(../img/promo-bg-mobile.jpg);
        min-height: 667px;
        padding-top: 76px;
        &-prev {
            padding-top: 0;
            font-weight: 600;
            font-size: 14px;
            line-height: 32px;
            color: #D9B5A5;
        }
        &-title {
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.01em;
            margin-top: 0;
        }
        &-zinzino {
            &-icon {
                min-width: 208px;
                width: 208px;
                height: 34px;
                background-image: url(../img/promo-zinzino-mobile.svg);
            }
        }
        &-descr {
            margin-top: 17px;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #D9B5A5;
            &::after {
                content: '';
                display: block;
                margin: 20px auto 0 auto;
                min-width: 32px;
                width: 32px;
                height: 32px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../img/promo-descr-after.svg);
            }
        }
        &-item {
            padding: 32px;
            height: auto;
            box-shadow: none!important;
        }
        &-btn {
            padding: 10px 15px;
        }
        &-image {
            width: 112px;
            height: 112px;
        }
        &-subtitle {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        &-price {
            margin: 11px 0 17px 0;
        }
        &-info {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #747474;
        }
        &-btn {
            font-weight: 500;
            font-size: 14px;
            line-height: 32px;
            margin: 8px 0;
        }
        &-navigation {
            right: 64px;
            bottom: 32px;
        }
        &-pagination {
            margin-right: 10px;
        }
        &-arrows {
            margin-top: -5px;
        }
        &-arrow {
            min-width: 32px;
            width: 32px;
            height: 32px;
            padding: 6px 7px;
            &-left {
                position: absolute;
                left: -55px;
            }
        }
    }
    .formula {
        &-title {
            font-weight: 600;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.01em;
            color: #152E34;
            margin-top: 38px;
            &::after {
                min-width: 246px;
                width: 246px;
                margin-top: 29px;
            }
        }
        &-list {
            position: static;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #152E34;
        }
        &-item {
            margin: 10px 0 33px 0;
        }
        &-wrapper {
            display: block;
            text-align: center;
        }
        &-icon {
            margin-right: 0;
            margin-bottom: 15px;
        }
        &-picture {
            text-align: center;
            margin-top: 10px;
        }
        &-image {
            width: 80%;
        }
        &-subtitle {
            font-size: 16px;
        }
    }
    .analytics {
        &-title {
            font-weight: 600;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.01em;
            color: #152E34;
            &::after {
                min-width: 246px;
                width: 246px;
                margin-top: 34px;
            }
        }
        &-picture {
            margin-top: 0;
        }
        &-btn {
            width: 100%;
            justify-content: center;
            font-weight: 500;
            font-size: 12px;
            line-height: 32px;
            text-align: center;
            color: #22505D;
            height: 48px;
        }
        &-descr {
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #444444;
        }
    }
    .help {
        &-right {
            order: -1;
            margin-bottom: 20px;
        }
        &-list {
            display: none;
            font-size: 14px;
            line-height: 24px;
            color: #444444;
            margin-bottom: 0;
        }
        &-slid {
            display: block;
            position: relative;
            margin-bottom: 40px;
        }
        &-item {
            width: calc(100% - 16px);
            position: static!important;
            padding: 48px 48px 38px 48px;
        }
        &-picture {
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: 8px;
        }
        &-icon {
            min-width: 32px;
            width: 32px;
            height: 32px;
            background-size: contain;
        }
        &-subtitle {
            display: inline-block;
            font-weight: 600;
            font-size: 24px;
            line-height: 48px;
            letter-spacing: -0.01em;
            color: #22505D;
        }
        &-text {
            margin-top: 0;
        }
        &-navigation {
            right: 26px;
            top: 295px;
        }
        &-pagination {
            margin-right: 15px;
        }
        &-arrows {
            margin-top: -3px;
        }
        &-arrow {
            min-width: 32px;
            width: 32px;
            height: 32px;
            padding: 7px;
            &-left {
                position: absolute;
                left: -60px;
            }
        }
        &-name {
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #152E34;
        }
        &-subtext {
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #747474;
        }
        &-more {
            &-btn {
                font-weight: 500;
                font-size: 14px;
                line-height: 32px;
                height: 48px;
            }
        }
    }
    .slid {
        &-navigation {
            right: 70px;
            top: auto;
            bottom: -50px;
        }
        &-pagination {
            margin-right: 15px;
        }
        &-arrows {
            margin-top: -3px;
        }
        &-arrow {
            min-width: 32px;
            width: 32px;
            height: 32px;
            padding: 7px;
            &-left {
                position: absolute;
                left: -60px;
            }
        }
    }
    .balance {
        margin-top: 77px;
        &-block {
            display: block;
            text-align: center;
        }
        &-picture {
            margin-right: 0;
        }
        &-image {
            width: 96px;
            height: 96px;
        }
        &-title {
            font-size: 28px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.01em;
            color: #22505D;
            margin-top: 30px;
        }
        &-acid {
            border-left: none;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #747474;
        }
        &-decor {
            min-width: 231px;
            width: 231px;
            height: 17px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        &-glad {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #747474;
        }
        &-more {
            margin-top: 40px;
            &-btn {
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                color: #FFFFFF;
                display: flex;
                justify-content: center;
            }
            &-text {
                max-width: 192px;
            }
        }
    }
    .ask {
        padding-top: 40px;
        padding-bottom: 48px;
        &-navigation {
            right: 80px;
        }
        &-pagination {
            margin-right: 15px;
        }
        &-arrows {
            margin-top: -3px;
        }
        &-arrow {
            min-width: 32px;
            width: 32px;
            height: 32px;
            padding: 7px;
            &-left {
                position: absolute;
                left: -60px;
            }
        }
        &-text {
            font-size: 14px;
            line-height: 16px;
            color: #747474;
        }
        &-btn {
            height: 48px;
            font-weight: 500;
            font-size: 14px;
            line-height: 32px;
        }
        &-end {
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
        }
        &-decor {
            display: inline-block;
            min-width: 231px;
            width: 231px;
            height: 17px;
            order: 1;
            margin-left: 0;
            margin-top: 60px;
        }
        &-title {
            font-weight: 600;
            font-size: 28px;
            line-height: 40px;
            text-align: center;
            letter-spacing: -0.01em;
            color: #22505D;
            margin-top: 0;
        }
        &-descr {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            text-align: center;
            color: #444444;
        }
        &-sublist {
            margin-top: 0px;
        }
        &-sublimitem {
            margin: 15px 0;
        }
        &-field {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
            height: 56px;
        }
        &-mosmore {
            margin-top: 20px;
        }
        &-more {
            &-btn {
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
            }
        }
    }
    .footer {
        padding: 37px 0 47px 0;
        background-image: url(../img/footer-bg-mobile.jpg);
        font-weight: 500;
        font-size: 14px;
        line-height: 32px;
        color: #97B8B6;
        &-mobile {
            display: flex;
            flex-wrap: wrap;
        }
        &-top {
            width: 100%;
            order: -2;
            &-left {
                width: 100%;
            }
            &-center {
                width: 100%;
            }
            &-right {
                width: 100%;
                margin-top: 20px;
            }
        }
        &-logo {
            min-width: 179px;
            width: 179px;
            height: 29px;
        }
        &-descr {
            font-size: 14px;
        }
        &-btn {
            margin-left: 0;
            margin-right: auto;
            font-size: 14px;
        }
        &-list {
            display: block;
        }
        &-link {
            font-weight: 500;
            font-size: 16px;
        }
        &-down {
            flex-wrap: wrap;
            order: 1;
            width: 100%;
            margin-top: 20px;
            &-left {
                width: 100%;
                padding-right: 15px;
                margin-bottom: 20px;
            }
            &-right {
                width: 100%;
                padding-left: 15px;
            }
        }
        &-sublist {
            flex-wrap: wrap;
            margin: 25px -5px 0 -5px;
        }
        &-subitem {
            margin: 5px;
            &:nth-child(1) {
                & .footer-image {
                    width: 104px;
                    height: 34px;
                }
            }
            &:nth-child(2) {
                & .footer-image {
                    width: 71px;
                    height: 19px;
                }
            }
            &:nth-child(3) {
                & .footer-image {
                    width: 35px;
                    height: 22px;
                }
            }
            &:nth-child(4) {
                & .footer-image {
                    width: 62px;
                    height: 20px;
                }
            }
        }
    }
}
@media(max-width: 360px) {
    .promo {
        &-wrapper {
            right: 0;
        }
        &-navigation {
            right: 50px;
            bottom: 48px;
        }
    }
    .help-navigation {
        right: -2px;
        top: 259px;
    }
    .slid-navigation {
        right: 39px;
        top: auto;
        bottom: -59px;
    }
    .balance {
        margin-top: 90px;
    }
    .ask-navigation {
        right: 55px;
        top: -4;
    }
    .modal-body {
        width: 300px!important;
    }
}