@media all and (min-width: 1200px) and (max-width: 1600px) {
	.cookie p{
		padding: 10px 0 7px 0;		
	}
	body {font-size: 13px;}
	.title {padding-bottom: 30px;}
	.title > span {
		font-size: 12px;
		padding-bottom: 10px;
	}
	.title h1 {margin-left: -3px;}
	.title .line {
		top: 6px;
		left: -74px;
		width: 48px;
	}
	.screen-about .head span {
		position: absolute;
		top: -15px;
		left: 0;
	}	
	h1 {font-size: 42px;}
	h2 {font-size: 42px;}
	h3 {font-size: 22px;}
	h4 {
		font-size: 15px;
		margin-bottom: 10px;
	}
	p {line-height: normal;}
	.ord-numb:before {
		font-size: 12px;
		padding-bottom: 10px;
	}
	#screen-process .ord-numb span {
		font-size: 12px;
		padding-bottom: 10px;
	}	
	.ord-numb:after {width: 10px;}
	.all-link-wr {top: 50px;}
	.all-link {font-size: 12px;}
	.link-btn:hover .ei {right: -10px;}
	body .link-btn .ei {
		font-size: 12px;
		padding-bottom: 1px;
	}
	.progress ul li .numb {
		font-size: 50px;
		padding-right: 10px;
	}
	.progress ul li .text {font-size: 15px;}
	body .share {max-width: 600px;}
	.inner-wrapper {max-width: 768px;}
	.head i {font-size: 131px;}
	.header-phone a, .header-menu > span, .header-lang ul li a {font-size: 12px;}
	.header-lang ul li a {font-weight: 700;}
	body.sticky .header-logo {width: 22px;}
	.header-logo img {width: 130px;}
	.screen-dev .info:after {left: 390px;}
	.screen-dev .block {height: 427px;}
	.header-menu .menu-wr .list ul li a {
		font-size: 46px;
		line-height: 72px;
	}
	.header .inner-wrapper .header-right {top: 43px;}
	.screen-location .dots-images .slick-track {width: 129px!important;}
	.screen-dev .info h2 {font-size: 28px;}
	.screen-dev .info span {font-size: 12px;}
	.floating-menu .contacts-center ul li a {font-size: 12px;}
	.screen-process {margin-bottom: 120px;}
	.screen-process .slider .block {width: 252px;}
	.screen-banner {margin-bottom: 120px;}
	.screen-banner .content {height: 450px;}
	.screen-banner .content:after {width: 550px;}
	.screen-banner .photo {
		right: -50px;
		bottom: 20px;
	}
	.screen-banner .photo img {width: 520px;}
	.screen-banner .scroll-botoom {left: -5px;}
	.screen-banner .scroll-botoom span {font-size: 10px;}
	.screen-banner .scroll-botoom:hover:after {left: -40px;}
	.screen-banner .scroll-botoom:after {
		left: -30px;
		bottom: -8px;
		background-size: 100%;
		width: 10px;
		height: 30px;
	}
	.screen-about .info .block {
		padding-right: 50px;
		margin-right: -4px;
		width: 33.4%;
	}
	.screen-brands .block li {
		width: 16.76%;
		height: 128px;
	}
	.screen-services {margin-bottom: 80px;}
	.screen-services .head {top: -28px;}
	.screen-services .block:nth-child(1) .photo img {margin-left: -250px;}
	.screen-services .block:nth-child(2) .photo img {margin-left: -280px;}
	.screen-services .block:nth-child(3) .photo img {margin-left: -350px;}
	.screen-services .block:hover .info h2 {right: -180px;}
	.screen-services .info h2 {
		font-size: 28px;
		right: -150px;
	}
	.screen-services .info h2:before {
		left: 375px;
		bottom: -4px;
		background-size: 100%;
		width: 10px;
		height: 40px;
	}
	.screen-services .photo {
		width: 100%;
		height: 500px;
	}
	.screen-portfolio .block {
		max-width: 32.13%;
		height: 335px;
	}
	body.sticky .floating-menu .works-link {width: 175px;}
	.floating-menu .works-link a {font-size: 12px;}
	body.sticky .floating-menu .contacts {width: 130px;}
	.page-contact .list .block h5, .page-contact .list .block a, .page-contact .list .block p {font-size: 12px;}
	.screen-team .progress ul li .text {font-size: 13px;}
	.screen-advantages {margin-bottom: 110px;}
	.screen-advantages .block {
		padding: 0 50px 20px 0;
		margin-right: -4px;
		width: 33.4%;
	}
	.screen-quality {margin-bottom: 120px;}
	.screen-quality .block {
		padding-right: 50px;
		margin-right: -4px;
		width: 33.4%;
	}
	.screen-advantages .block p {font-size: 13px;}
	.footer-menu ul li a {font-size: 12px;}
	.page-blog .info .date {font-size: 10px;}
	.screen-technologies {margin-bottom: 120px;}
	.screen-intro {padding-bottom: 200px;}
	.screen-intro .info {
		width: 65%;
		padding-top: 105px;
	}
	.screen-intro .author .letter {top: 145px;}
	.screen-intro .author .letter:before {
		left: 48px;
		width: 80px;
		height: 272px;
	}
	.screen-intro .author .letter:after {
		top: 14px;
		left: 170px;
		font-size: 85px;
	}
	.screen-intro .author .name {
		top: 305px;
		width: 175px;
		height: 55px;
		padding: 12px 0;
	}
	.screen-intro .author .name h3 {font-size: 14px;}
	.screen-intro .author .name span {font-size: 10px;}
	.screen-intro .author .photo img {width: 230px;}
	.screen-portfolio {margin-bottom: 210px;}
	.screen-portfolio .content {padding-top: 50px;}
	.screen-portfolio .info .inner h3 {
		font-size: 24px;
		padding-bottom: 5px;
	}
	.screen-portfolio .block .photo img {width: 85%;}
	.screen-portfolio .content:after {
		max-width: 650px;
		height: 440px;
	}
	.screen-portfolio .info .inner span {
		font-size: 9px;
		padding-bottom: 10px;
	}
	.screen-brands {margin-bottom: 150px;}
	.screen-brands .block:nth-child(3) li:first-child img {width: 90%;}
	.screen-brands .block li img {width: 75%;}
	.screen-blog .block {width: calc(33% + 3px);}
	.screen-blog .photo {overflow: hidden;}
	.screen-about {margin-bottom: 170px;}
	.screen-about .head {
		top: -30px;
		right: -20px;
		width: 73%;
	}
	.screen-about .head .first {
		top: 20px;
		left: -115px;
	}
	.screen-portfolio .block:last-child .photo img {left: 0;}
	.screen-team .block {
		margin-right: -4px;
		width: 33.4%;
	}
	.screen-about .head .first:before {
		width: 30px;
		height: 100px;
	}
	.screen-about .head .first:after {
		top: -46px;
		left: 58px;
	}
	.screen-about .info .block h4:after {
		margin-top: 10px;
		width: 15px;
	}
	.screen-about .title {padding-bottom: 80px;}
	.screen-about .content .result .figure {
		left: 1px;
		width: 120px;
	}
	.screen-about .result .figure:before {left: 28px;}
	.screen-about .result .figure:after {left: 89px;}
	.screen-about .result .figure:before, .screen-about .result .figure:after {
		top: -9px;
		height: 120px;
	}
	.screen-about .content .result .block {padding-left: 45px;}
	.page-blog_post .info p {font-size: 13px;}
	.screen-location .head i {font-size: 115px;}
	.screen-location .slider .slick-list {
		right: 100px;
		width: 550px;
	}
	.screen-location .slider {height: 410px;}
	.screen-location .slider .slick-list, .screen-location .slider .block, .screen-location .slider .photo {height: 350px;}
	.screen-location .slider .info {
		width: 320px;
		height: 220px;
		padding-right: 40px;
	}
	.screen-location .dots-images .photo {
		width: 130px;
		height: 130px;
	}
	.page-blog .content .block:nth-child(3n) {margin: 0;}
	.page-blog .content .block {
		width: 32%;
		height: 270px;
		margin-right: 7px;
	}
	.page-blog .photo {
	    width: 100%;
		height: 158px;
	}
	.page-blog .photo:after {width: 220px;}
	.page-blog .info {padding: 10px;}
	.page-blog .info .top {padding: 0 0 10px 20px;}
	.page-blog .info .desc p {
		font-size: 12px;
		line-height: 18px;
	}
	.page-blog_post .info {padding: 80px;}
	.inner-page .main-content .inner-wrapper {padding-top: 230px;}
	.screen-testimonials {margin-bottom: 30px;}
	.screen-testimonials .title {padding-bottom: 45px;}
	.screen-testimonials .slider .slick-arrow {
		width: 170px;
		height: 250px;
	}
	.screen-testimonials .slider .slick-prev {left: 23px;}
	.screen-testimonials .slider .slick-next {right: 23px;}
	.screen-testimonials .photo.slick-active:after {
		top: -15px;
		left: -15px;
		border-width: 4px;
		width: calc(100% + 30px);
		height: calc(100% + 30px);
	}
	.screen-testimonials .photo.slick-active {
		width: 230px;
		height: 325px;
		margin: -40px 10px 0;
	}
	.screen-testimonials .photo {
		width: 170px;
		height: 250px;
		margin: 0 40px;
	}
	.screen-blog .info .date {
		font-size: 10px;
		padding-bottom: 10px;
	}
	.screen-blog .info p {font-size: 12px;}
	.screen-blog .photo img {
		width: 100%;
		height: auto;
	}
	.page-portfolio .content .tabs-content .block:nth-child(3n) {margin-right: 0;}
	.page-portfolio .content .tabs-content .block {
		/*
		width: 32%;
		margin: 0 10px 20px 0;
		*/
		width: 32%;
		margin: 0 0.55% 20px 0.55%;
		height: 300px;
		overflow: hidden;
	}
	.page-portfolio .tabs-content .info .inner h3 {
		font-size: 22px;
		padding-bottom: 3px;
	}
	.page-portfolio .tabs-content .info .inner span {font-size: 10px;}
	.screen-dev .block {width: 33.33%;}
	.screen-dev .info {right: -85px;}
	.screen-dev .photo {
		right: -70px;
		bottom: 65px;	
		width: 250px;
		height: auto;
	}
	.pagination div {
		height: 70px;
		line-height: 70px;
	}
	.pagination a {
		font-size: 12px;
		line-height: 70px;
	}
	.screen-form .fields input, .screen-form .fields textarea, form .file-wr span, form .btn-wr input {font-size: 12px;}
	.footer-logo img {width: 130px;}
	.footer-request a {font-size: 12px;}
	.footer-line {width: 62%;}
	.footer-top {padding-bottom: 30px;}
	.footer .inner-wrapper {padding-bottom: 70px;}
	.footer-menu ul li {margin-right: 30px;}
	.footer-copyright span {font-size: 10px;}
	.footer .up-top {right: -130px;}
	.footer .up-top span {font-size: 10px;}
	.footer .up-top:hover:before {right: -45px;}
	.footer .up-top:before {
		right: -35px;
		bottom: -8px;
		background-size: 100%;
		width: 10px;
		height: 30px;
	}
}
@media all and (max-width: 1200px) {
	.title {
		text-align: left;
		padding-bottom: 25px;
	}
	.title .line {left: 0;}
	.title > .top, .title > span {
		font-size: 11px;
		padding: 0 0 15px 100px;
	}
	h1 {font-size: 28px;}
	h2 {font-size: 30px;}
	h3 {font-size: 28px;}
	h4 {font-size: 17px;}
	.main-head {z-index: -1;}
	.main-head i.active {text-shadow: 10px 1px 10px rgba(210, 194, 92, 0.3);}
	.head {
		right: 0;
		width: 100%;
	}
	.head i {
		line-height: normal;
		letter-spacing: -3px;
	}
	.inner-wrapper {padding: 0 15px;}
	.ord-numb:before {font-size: 14px;}
	.ord-numb:after {width: 16px;}
	.all-link-wr {
		top: auto;
		left: 0;
		right: 0;
		bottom: -60px;
		text-align: center;
		padding: 0;
	}
	.all-link {font-size: 11px;}
	.link-btn:hover .ei {right: -10px;}
	body .link-btn .ei {font-size: 16px;}
	.progress ul li .numb {font-size: 62px;}
	.progress ul li .text {font-size: 15px;}
	body .share {margin-bottom: 100px;}
	form .fields {padding-bottom: 25px;}
	form .fields textarea {height: 23px;}
	form .btn-wr input {
		font-size: 13px;
		padding-bottom: 1px;
	}
	.slick-slider .slick-prev {left: 0;}
	.slick-slider .slick-next {right: 0;}
	.slick-slider .slick-arrow {
		position: absolute;
		color: transparent;
		z-index: 1;
	}
	.slick-slider .slick-prev:before {
		left: 10px;
		transform: rotate(90deg);
	}
	.slick-slider .slick-next:before {
		right: 10px;
		transform: rotate(-90deg);
	}
	.slick-slider .slick-arrow:before {
		content: '';
		position: absolute;
		top: -10px;
		background: url('../img/arrow.png') 0 -10px no-repeat;
		width: 15px;
		height: 35px;
	}
	.main-content .inner-wrapper {padding-top: 70px;}
	body.sticky .header {
		background: white;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	}
	.header {
		transition: all .2s;
		height: 68px;
	}
	.header .inner-wrapper .header-logo {
		top: 20px;
		left: 20px;
		width: 20px;
	}
	.header .inner-wrapper .header-logo img {width: 115px;}
	.header.head-open .header-logo {width: 115px;}
	.header.head-open .header-logo img {width: 100px;}
	.header.head-open .inner-wrapper .header-right {top: 15px;}
	.header .inner-wrapper .header-right {
		top: 22px;
		right: 20px;
	}
	.header-menu {padding-bottom: 3px;}
	.header-menu > span {
		font-size: 14px;
		transition: all .2s;
	}
	body.sticky .header .header-phone {
		display: inline-block;
		transition: all .2s;
		padding-right: 20px;
	}
	.header .header-phone a {font-size: 14px;}
	body.sticky .header-menu > span {display: none;}
	.header-menu.open .sandwich {margin: 15px -5px 0 0;}
	.header .header-menu.open .sandwich i:last-child {margin-top: -1px;}
	.header .header-menu.open .sandwich i {
		height: 1px;
		width: 25px;
	}
	.header-menu .menu-wr .list ul li a:hover {font-size: 26px;}
	.header-menu .menu-wr .list ul li a {
		font-size: 32px;
		line-height: 60px;
	}
	.header-menu .menu-wr .head i {
		font-size: 100px;
		letter-spacing: 0;
	}
	.header .header-phone, .header .header-lang {display: none;}
	.header.head-open .header-phone, .header.head-open .header-lang {display: block;}
	.head-open .header-phone {
		position: absolute;
		width: 150px;
		top: 50px;
		right: -30px;
	}
	.head-open .header-lang {
		position: fixed;
		top: 65px;
		left: 20px;
		right: auto;
	}
	.head-open .header-lang ul li:last-child {padding: 0;}
	.head-open .header-lang ul li {
		display: inline-block;
		vertical-align: top;
		padding-right: 5px;
		margin: 0;
	}
	.head-open .header-lang ul li a {font-size: 12px;}
	.header-lang .wpglobus-current-language > a, .header-lang .menu_item_wpglobus_menu_switch .sub-menu {
		display: inline-block!important;
		vertical-align: top;
	}
	.header-lang .wpglobus-current-language > a {margin: 0 5px 0 0;}
	.screen-banner .title span {
		font-size: 12px;
		padding-left: 0;
	}
	.screen-banner .content {height: 345px;}
	.screen-banner .content:after {
		right: -15px;
		width: calc(100% + 30px);
	}
	.screen-banner .photo {right: 0;}
	.screen-banner .photo img {
		width: 300px;
		margin: auto;
	}
	.screen-banner .scroll-botoom {display: none;}
	.screen-services {
		text-align: center;
		margin-bottom: 70px;
	}
	.screen-services .content {
		padding-top: 75px;
		margin: 0 -15px;
	}
	.screen-services .block:first-child {border-top: 1px solid #f2f2f2;}
	.screen-services .block:hover {
		margin-bottom: -120px;
		z-index: 2;
	}
	.screen-services .block {
		overflow: hidden;
		border-bottom: 1px solid #f2f2f2;
		text-align: left;
		line-height: 120px;
		width: 100%;
		height: 120px;
		margin: 0;
	}
	.screen-services .info {
		right: 0;
		width: 300px;
		width: 300px;
		padding: 0 15px;
		margin: auto;
	}
	.screen-services .info h2 {
		position: static;
		font-size: 24px;
		transform: rotate(0);
		padding: 0;
	}
	.screen-services .info h2:before {
		top: 0;
		left: 250px;
		bottom: 0;
		margin: auto;
	}
	.screen-services .photo {width: 100%;}
	.screen-services .content .block:nth-child(2) .photo img {margin-left: -50px;}
	.screen-services .content .block:nth-child(3) .photo img {margin-left: -100px;}
	.screen-services .content .block .photo img {
		width: 150%;
		height: auto;
		margin: -45px 0 0 -25px;
	}
	.screen-advantages {margin-bottom: 100px;}
	.screen-advantages .slick-slider .slick-arrow {bottom: -20px;}
	.screen-advantages .pagingInfo {
		position: absolute;
		left: 0;
		bottom: -20px;
		text-align: center;
		width: 100%;
	}
	.screen-portfolio {margin-bottom: 150px;}
	.screen-portfolio .title {padding-bottom: 60px;}
	.screen-portfolio .content {
		text-align: center;
		margin: 0 -15px;
	}
	.screen-portfolio .content:after {height: 100%;}
	.screen-portfolio .block:last-child .photo img {left: 0;}
	.screen-portfolio .block .photo img {width: 80%;}
	.screen-portfolio .info .inner span {
		display: block;
		padding-bottom: 10px;
	}
	.screen-about {margin-bottom: 150px;}
	.screen-about .head {top: -20px;}
	.screen-about .head .first {
		top: -5px;
		left: -58px;
	}
	.screen-about .head .first:before {
		left: 10px;
		box-shadow: -2px 4px 8px rgba(210, 194, 92, 0.31);
		width: 18px;
		height: 64px;
	}
	.screen-about .head .first:after {
		top: -12px;
		left: 32px;
		box-shadow: 4px 4px 7px rgba(210, 194, 92, 0.25);
		width: 25px;
		height: 25px;
	}
	.screen-about .title {padding-bottom: 40px;}
	.screen-about .title > span {padding-bottom: 25px;}
	.screen-about .info .block {padding-right: 0;}
	.screen-about .result .block:last-child {padding-bottom: 0;}
	.screen-about .result .block {padding-bottom: 100px;}
	.screen-brands {margin-bottom: 120px;}
	.screen-brands .slick-slider .slick-arrow {bottom: -55px;}
	.screen-brands .pagingInfo {
		position: absolute;
		left: 0;
		bottom: -55px;
		text-align: center;
		width: 100%;
	}
	.screen-testimonials {margin-bottom: 50px;}
	.screen-testimonials .content {
		overflow: hidden;
		width: calc(100% + 30px);
		margin: 0 -15px;
	}
	.screen-testimonials .title {padding-bottom: 15px;}
	.screen-testimonials .slider {margin: 0 -15px;}
	.screen-testimonials .slick-list {height: 300px;}
	.screen-testimonials .photo.slick-active {
		width: 160px;
		height: 220px;
		margin: -7px 7px 0;
	}
	.screen-testimonials .photo.slick-active:after {
		top: -20px;
		left: -13px;
		width: calc(100% + 25px);
		height: calc(100% + 32px);
	}
	.screen-testimonials .photo {
		width: 145px;
		height: 200px;
		margin: 0 15px;
	}
	.screen-testimonials .slider .slick-prev {left: 15px;}
	.screen-testimonials .slider .slick-next {right: 15px;}
	.screen-testimonials .slider .slick-arrow {
		top: 50px;
		width: 60px;
		height: 200px;
	}
	.screen-blog {display: none;}
	.screen-intro {padding-bottom: 100px;}
	.page-about .screen-about .result .block {padding-left: 65px;}
	.page-about .screen-about .result .figure {left: 0;}
	.screen-team {margin-bottom: 100px;}
	.screen-team .block {padding-bottom: 40px;}
	.screen-team .progress ul li {padding-right: 10px;}
	.screen-team .progress ul li .numb {font-size: 35px;}
	.screen-team .progress ul li .text {font-size: 13px;}
	.screen-location {margin-bottom: 100px;}
	.screen-location .head {top: 20px;}
	.screen-location .head i {font-size: 120px;}
	.screen-location .slider {height: auto;}
	.screen-location .slider .slick-list {
		position: static;
		width: 100%;
	}
	.screen-location .slider .block {height: auto;}
	.screen-location .slider .photo {height: 50vw;}
	.screen-location .slider .info {
		position: static;
		width: 100%;
		height: auto;
		padding: 75px 0 0;
	}
	.screen-location .dots-images {
		top: 42vw;
		left: 0;
		width: 240px;
		height: 80px;
		margin: 0 auto;
		z-index: 1;
	}
	.screen-location .dots-images .slick-list {height: 100%;}
	.screen-location .dots-images .slick-track {
		width: 100%!important;
		height: 100%;
	}
	.screen-location .dots-images .photo {
		width: 80px;
		height: 80px;
		margin: 0;
	}
	.screen-location .dots-images .photo img {opacity: .6;}
	.screen-form .fields > span {width: 100%;}
	.screen-dev {margin-bottom: 70px;}
	.screen-dev .title {padding-bottom: 50px;}
	.screen-dev .block:first-child {border-top: 1px solid #f2f2f2;}
	.screen-dev .block {
		overflow: visible;
		border-bottom: 1px solid #f2f2f2;
		width: 100%;
		height: 120px;
		padding: 30px 0;
		margin: 0;
	}
	.screen-dev .block:last-child:after {width: 100%;}
	.screen-dev .info {
		position: static;
		transform: rotate(0deg);
		width: 100%;
		max-width: 527px;
		height: 100%;
		padding: 0;
	}
	.screen-dev .info:after {
		top: 0;
		left: 85%;
		bottom: 0;
		margin: auto;
	}
	.screen-dev .info h2 {font-size: 24px;}
	.screen-dev .info span {font-size: 14px;}
	.screen-dev .photo {
		right: -10px;
		bottom: -30px;
max-width: 170px;
    width: auto;
		height: auto;
		z-index: 2;
	}
	.screen-process {
		overflow: hidden;
		margin-bottom: 80px;
	}
	.screen-process .slider .block {width: 260px;}
	.screen-process .slider .slick-prev {left: -15px;}
	.screen-process .slider .slick-next {right: -15px;}
	.screen-process .slider .slick-arrow {width: 100px;}
	.screen-quality {margin-bottom: 80px;}
	.screen-technologies {margin-bottom: 80px;}
	.screen-technologies .title {padding-bottom: 50px;}
	.screen-technologies .content {text-align: center;}
	.screen-technologies .block:last-child {padding: 0;}
	.screen-technologies .block h4 {text-align: left;}
	.screen-technologies .list {padding-top: 15px;}
	.screen-technologies .list li {width: 150px;}
	.screen-technologies .list li img {right: 0;}
	.screen-technologies .block {
	    width: 100%;
		padding-bottom: 30px;
	}
	.page-portfolio .content {text-align: center;}
	.page-portfolio .content .tabs-content .block {
		width: 250px;
		height: 350px;
		margin: 15px;
	}
	.page-portfolio .tabs {padding-bottom: 30px;}
	.page-portfolio .content .tabs ul li {
		padding: 10px;
		width: 115px;
	}
	.page-portfolio .tabs-content .info .inner span {
		display: block;
		padding-bottom: 10px;
	}
	.page-portfolio .tabs-content .info .inner h3 {font-size: 24px;}
	.page-blog .content {
		text-align: center;
		margin: 0 -15px;
	}
	.page-blog .content .block {
		width: 270px;
		height: 265px;
		margin: 15px;
	}
	.page-blog .photo {
		width: 100%;
		height: 158px;
	}
	.page-blog .photo:before {
		border-right: 20px solid transparent;
		border-bottom: 20px solid white;
		width: 44px;
	}
	.page-blog .photo:after {
		width: calc(100% - 43px);
		height: 20px;
	}
	.page-blog .info {
		text-align: left;
		padding-top: 10px;
		margin-top: -20px;
	}
	.page-blog .info .top {padding: 0 0 10px 45px;}
	.page-blog .info .desc p {
		font-size: 14px;
		line-height: 23px;
	}
	.page-blog_post .info {padding: 25px 0;}
	.page-blog_post .info p {padding-bottom: 25px;}
	.page-blog_post .info .quote p {font-size: 17px;}
	.page-contact .content {padding: 30px 0 15px;}
	.footer .inner-wrapper {padding-bottom: 80px;}
	.footer-top {padding-bottom: 22px;}
	.footer-logo img {width: 100px;}
	.footer-request a {font-size: 14px;}
	.footer .link-btn .ei {font-size: 20px;}
	.footer-bottom {padding-top: 18px;}
	.floating-menu {bottom: 30px;}
	.floating-menu .inner-wrapper {padding: 0 15px;}
	.floating-menu .works-link {display: none;}
	.floating-menu .inner-wrapper .contacts {width: 100%;}
	.floating-menu.menu-open {bottom: 40px;}
	.floating-menu.menu-open .contacts {display: none;}
	.floating-menu.menu-open .contacts-center {width: 100%;}
	.floating-menu.menu-open .contacts-center .text, .floating-menu.menu-open .contacts-center ul {
		position: absolute;
		top: 0;	
	}
	.floating-menu.menu-open .contacts-center .text {
		left: 15px;
		display: block;
	}
	.floating-menu.menu-open .contacts-center ul {right: 15px;}
	.floating-menu.menu-open .contacts-center ul li a {font-size: 13px;}
	.footer-copyright span {text-transform: none;}
	.up-top {display: none;}
	.fancybox-close-small {
		top: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
	}
	.fancybox-close-small:after {margin-top: -1px;}
	.fancybox-close-small:before, .fancybox-close-small:after {
		height: 1px;
		width: 25px;
	}
	.popup-request .inner-wrapper {padding-top: 40px;}
	.popup-request .title {padding-bottom: 40px;}
	.popup-request .title h2 {font-size: 26px;}
	.popup-request .content {padding-bottom: 50px;}
	.page-portfolio .content {padding-top: 0;}
}
@media all and (min-width: 800px) and (max-width: 1200px) {
	.inner-page .main-content .inner-wrapper {padding-top: 230px;}
	.main-head {top: 90px;}
	.head i {
		font-size: 96px;
		line-height: 78px;
	}
	.screen-services .block:hover {
		height: 360px;
		line-height: 360px;
	}
	.screen-about .block:nth-child(2), .screen-about .block:nth-child(5) {width: 34%;}
	.screen-about .block:nth-child(3n) {width: 32%;}
	.screen-advantages .block {padding-right: 30px;}
	.screen-advantages .block:nth-child(2), .screen-advantages .block:nth-child(5) {width: 34%;}
	.screen-advantages .block:nth-child(3n) {width: 32%;}
	.screen-portfolio .content {padding: 30px 0;}
	.screen-portfolio .info .inner h3 {font-size: 22px;}
	.screen-portfolio .content .block {
		width: 30%;
		height: 40vw;
		margin: 10px;
	}
	.screen-intro .info {padding: 0;}
	.screen-intro .author {top: -150px;}
	.screen-intro .author .photo {
		overflow: hidden;
		height: 320px;
		margin-top: 100px;
	}
	.screen-location .slider {height: 650px;}
	.screen-about {margin-bottom: 50px;}
	.screen-brands .content {margin: 0 -15px;}
	.screen-brands .block li img {width: 80%;}
	.screen-team .block:nth-child(2), .screen-team .block:nth-child(5) {width: 34%;}
	.screen-team .block:nth-child(3n) {width: 32%;}
	.screen-process .slider .block {width: 32.6vw;}
	.screen-quality .block {padding-right: 30px;}
	.screen-brands .block li {width: 16.7%;}
	.screen-quality .block:nth-child(2), .screen-quality .block:nth-child(5) {width: 34%;}
	.screen-quality .block:nth-child(3n) {width: 32%;}
	.pagination {
		width: calc(100% + 30px);
		margin: 0 -15px;
	}
	.screen-about .head span{
		top: -15px;		
	}
}
@media all and (min-width: 800px) and (max-width: 1023px) {
	.page-blog .content .block {
		width: 31.4%;
		margin: 0 12px 0 0;
	}
	.page-portfolio .content .tabs-content {margin: 0 -15px;}
	.page-portfolio .content .tabs-content .block:nth-child(3n) {margin: 0;}
	.page-portfolio .content .tabs-content .block {
		width: 31.6%;
		margin: 0 15px 0 0;
	}
	.floating-menu .inner-wrapper .contacts {
		right: 15px;
		bottom: 46px;
	}
}
@media all and (min-width: 600px) and (max-width: 1200px) {
	.screen-banner {margin-bottom: 100px;}
	.screen-banner .photo {
		left: auto;
		bottom: 75px;
	}
}
@media all and (min-width: 500px) and (max-width: 800px) {
	.inner-page .main-head i {font-size: 78px;}
	.screen-team .block {width: 49%;}
	.page-contact .list .block {width: 32%;}
}
@media all and (max-width: 1023px) {
	.footer-top {border-bottom: 2px solid #242424;}
	.footer .footer-line, .footer .footer-menu {display: none;}
}
/*@media all and (max-width: 767px) { */
@media all and (max-width: 800px) {
	.page-id-1197 .content table{
		font-size: 7px;
	}
	.page-id-1197 .content p {
		margin: 1em 0;
		line-height: 1.5;
	}
	.screen-about .head span {		
		top: -17px;
	}	
	.inner-page .main-content .inner-wrapper {padding-top: 155px;}
	.head i {font-size: 48px;}
	.header-menu .menu-wr .head i {font-size: 85px;}
	.screen-about .head .first {
		top: 0;
		left: -40px;
	}
	.screen-about .head .first:before {
		left: 10px;
		box-shadow: -2px 4px 8px rgba(210, 194, 92, 0.31);
		width: 12px;
		height: 38px;
	}
	.screen-about .head .first:after {
		top: -17px;
		left: 20px;
		box-shadow: 4px 4px 7px rgba(210, 194, 92, 0.25);
		width: 20px;
		height: 20px;
	}
	.quote {
		text-align: center;
		padding: 0 0 40px;
	}
	.quote:before {display: none;}
	.quote .ei {position: static;}
	body .quote p {
		font-size: 17px;
		line-height: 29px;
	}
	.inner-wrapper:before, .inner-wrapper:after {display: none;}
	.pagination div {
		height: 45px;
		line-height: 45px;
	}
	.pagination a {
		font-size: 10px;
		line-height: 45px;
	}
	.screen-services .block:hover {
		height: 240px;
		line-height: 240px;
	}
	.screen-advantages .block {
		width: 100%;
		padding-right: 0;
	}
	.screen-portfolio .content {padding: 0;}
	.screen-portfolio .info .inner h3 {font-size: 28px;}
	.screen-portfolio .block {
		height: 400px;
		margin: 0 0 30px;
	}
	.screen-intro .info {
		width: 100%;
		padding: 0;
	}
	.screen-intro .author {display: none;}
	.screen-about .block {width: 100%;}
	.screen-brands .block li {width: 50%;}
	.screen-quality .content .block {
		width: 100%;
		padding: 0 0 40px 0;
	}
	.screen-brands .list {margin: 0 -15px;}
	.screen-advantages .content {counter-reset: number -3;}
	.floating-menu .inner-wrapper .contacts {
		right: 15px;
		bottom: 0;
	}
	.screen-location .head i {font-size: 43px;}
	.page-contact .list {border: 0;}
	.pagination {
		width: calc(100% + 30px);
		margin: 0 -15px;
	}
	.footer .inner-wrapper {padding-bottom: 30px;}
}
@media all and (max-width: 599px) {
	.screen-banner {margin-bottom: 200px;}
	.screen-banner .photo {
		left: 0;
		bottom: -90px;
	}
}
@media all and (max-width: 499px) {
	.screen-banner {margin-bottom: 200px;}
	.screen-banner .photo {
		left: 0;
		bottom: -90px;
	}
	.screen-team .content .block {
		width: 100%;
		padding-bottom: 40px;
	}
	.page-contact .content {padding-top: 0;}
	.page-contact .list .block {
		width: 100%;
		height: auto;
		padding: 0;
		margin: 30px 0;
	}
	.screen-brands .block li img {width: 60%;}
	.page-blog .content .block {
		width: 100%;
		height: auto;
		margin: 0;
	}
	.page-blog .photo {
		width: 100%;
		height: auto;
	}
}