/* Display: Inline-Block */
.in-bl > div,
.in-bl > nav,
.in-bl > ul,
.in-bl > li,
.in-bl > a,
.in-bl > img,
.in-bl > span,
.in-bl > p,
.in-bl > i,
.in-bl > form,
.in-bl > label,
.in-bl > button,
.in-bl > input {
	display: inline-block;
	vertical-align: top;
}
.in-bl-top > div,
.in-bl-top > nav,
.in-bl-top > ul,
.in-bl-top > li,
.in-bl-top > a,
.in-bl-top > img,
.in-bl-top > span,
.in-bl-top > p,
.in-bl-top > i,
.in-bl-top > form,
.in-bl-top > label,
.in-bl-top > button,
.in-bl-top > input {
	display: inline-block;
	vertical-align: top;
}
.in-bl-mid > div,
.in-bl-mid > nav,
.in-bl-mid > ul,
.in-bl-mid > li,
.in-bl-mid > a,
.in-bl-mid > img,
.in-bl-mid > span,
.in-bl-mid > p,
.in-bl-mid > i,
.in-bl-mid > form,
.in-bl-mid > label,
.in-bl-mid > button,
.in-bl-mid > input {
	display: inline-block;
	vertical-align: middle;
}
.in-bl-bot > div,
.in-bl-bot > nav,
.in-bl-bot > ul,
.in-bl-bot > li,
.in-bl-bot > a,
.in-bl-bot > img,
.in-bl-bot > span,
.in-bl-bot > p,
.in-bl-bot > i,
.in-bl-bot > form,
.in-bl-bot > label,
.in-bl-bot > button,
.in-bl-bot > input {
	display: inline-block;
	vertical-align: bottom;
}

/* Display: Table-Cell */
.tb-cl,
.tb-cl-top,
.tb-cl-mid,
.tb-cl-bot {
	display: table;
	width: 100%;
	height: 100%;
}
.tb-cl > div,
.tb-cl > nav,
.tb-cl > ul,
.tb-cl > li,
.tb-cl > a,
.tb-cl > img,
.tb-cl > span,
.tb-cl > p,
.tb-cl > i,
.tb-cl > form,
.tb-cl > label,
.tb-cl > button,
.tb-cl > input {
	display: table-cell;
}
.tb-cl-top > div,
.tb-cl-top > nav,
.tb-cl-top > ul,
.tb-cl-top > li,
.tb-cl-top > a,
.tb-cl-top > img,
.tb-cl-top > span,
.tb-cl-top > p,
.tb-cl-top > i,
.tb-cl-top > form,
.tb-cl-top > label,
.tb-cl-top > button,
.tb-cl-top > input {
	display: table-cell;
	vertical-align: top;
}
.tb-cl-mid > div,
.tb-cl-mid > nav,
.tb-cl-mid > ul,
.tb-cl-mid > li,
.tb-cl-mid > a,
.tb-cl-mid > img,
.tb-cl-mid > span,
.tb-cl-mid > p,
.tb-cl-mid > i,
.tb-cl-mid > form,
.tb-cl-mid > label,
.tb-cl-mid > button,
.tb-cl-mid > input {
	display: table-cell;
	vertical-align: middle;
}
.tb-cl-bot > div,
.tb-cl-bot > nav,
.tb-cl-bot > ul,
.tb-cl-bot > li,
.tb-cl-bot > a,
.tb-cl-bot > img,
.tb-cl-bot > span,
.tb-cl-bot > p,
.tb-cl-bot > i,
.tb-cl-bot > form,
.tb-cl-bot > label,
.tb-cl-bot > button,
.tb-cl-bot > input {
	display: table-cell;
	vertical-align: bottom;
}

/* Display: Table-Row */
.tb-rw,
.tb-rw-top,
.tb-rw-mid,
.tb-rw-bot {
	display: table;
	width: 100%;
	height: 100%;
}
.tb-rw > div,
.tb-rw > nav,
.tb-rw > ul,
.tb-rw > li,
.tb-rw > a,
.tb-rw > img,
.tb-rw > span,
.tb-rw > p,
.tb-rw > i,
.tb-rw > form,
.tb-rw > label,
.tb-rw > button,
.tb-rw > input {
	display: table-row;
}
.tb-rw-top > div,
.tb-rw-top > nav,
.tb-rw-top > ul,
.tb-rw-top > li,
.tb-rw-top > a,
.tb-rw-top > img,
.tb-rw-top > span,
.tb-rw-top > p,
.tb-rw-top > i,
.tb-rw-top > form,
.tb-rw-top > label,
.tb-rw-top > button,
.tb-rw-top > input {
	display: table-row;
	vertical-align: top;
}
.tb-rw-mid > div,
.tb-rw-mid > nav,
.tb-rw-mid > ul,
.tb-rw-mid > li,
.tb-rw-mid > a,
.tb-rw-mid > img,
.tb-rw-mid > span,
.tb-rw-mid > p,
.tb-rw-mid > i,
.tb-rw-mid > form,
.tb-rw-mid > label,
.tb-rw-mid > button,
.tb-rw-mid > input {
	display: table-row;
	vertical-align: middle;
}
.tb-rw-bot > div,
.tb-rw-bot > nav,
.tb-rw-bot > ul,
.tb-rw-bot > li,
.tb-rw-bot > a,
.tb-rw-bot > img,
.tb-rw-bot > span,
.tb-rw-bot > p,
.tb-rw-bot > i,
.tb-rw-bot > form,
.tb-rw-bot > label,
.tb-rw-bot > button,
.tb-rw-bot > input {
	display: table-row;
	vertical-align: bottom;
}