/* Fonts */

$open-regular: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
$exo-regular: 'Exo-Regular', Arial, Helvetica, sans-serif;
$exo-bold: 'Exo-Bold', Arial, Helvetica, sans-serif;
$roboto-regular: 'Roboto-Regular', Arial, Helvetica, sans-serif;
$roboto-medium: 'Roboto-Medium', Arial, Helvetica, sans-serif;
$roboto-bold: 'Roboto-Bold', Arial, Helvetica, sans-serif;

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo-Regular';
    src: url(../fonts/exo-2-0.regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo-Bold';
    src: url(../fonts/exo-2-0.bold.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

body {
    padding: 0;
    margin: 0;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
    box-sizing: border-box;
}
.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family: $roboto-regular;
}
input, textarea {
    box-sizing: border-box;
    font-family: $roboto-regular;
}

/* Main styles */

html {
    scroll-behavior: smooth;
}
.content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}
body {
    font-family: $roboto-regular;
    overflow-x: hidden;
    font-size: 14px;
    color: #15354f;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $roboto-bold;
}
b, strong {
    font-family: $roboto-medium;
}
.title {
    display: inline-block;
    font-size: 20px;
    color: #ffffff;
    background-color: #15354f;
    padding: 11.5px 26px;
    position: relative;
    left: -26px;
    margin-bottom: 10px;
    &:before {
        content: '';
        display: inline-block;
        height: 1px;
        width: 1600px;
        background-color: #15354f;
        position: absolute;
        top: 23px;
        right: 0;
        z-index: -1;
    }
}

/* Header */

.header {
    margin-bottom: 20px;
    &-mobile {
        display: none;
    }
    &-body {
        border-bottom: 1px solid #c6dff1;
        padding: 25px 0 15px 0;
    }
    &-row {
        align-items: center;
    }
    &-left {
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 34px;
            background-color: #d4dfe6;
            position: absolute;
            top: 10px;
            right: 0;
        }
    }
    &-right {
        position: relative;
        &:before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 34px;
            background-color: #d4dfe6;
            position: absolute;
            top: 5px;
            left: -60px;
        }
    }
    &-logo {
        color: #16364f;
        font-family: $exo-regular;
        font-size: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 0.4px;
        &-semi {
            font-family: $exo-bold;
        }
    }
    &-descr {
        margin-left: 15px;
    }
    &-flex {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}
.nav {
    font-size: 15px;
    letter-spacing: 0.3px;
    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-item {
        margin: 0 10px;
    }
    &-link {
        color: #15354f;
        text-decoration: none;
        border-bottom: 6px double transparent;
        transition: all 0.5s;
        &:hover,
        &:focus,
        &.active {
            border-bottom: 6px double #cadbe9;
        }
    }
}
.search {
    width: 65px;
    border-bottom: 1px solid #c1c1c1;
    margin-right: 20px;
    &-body {
        display: flex;
        align-items: center;
    }
    &-field {
        font-size: 14px;
        border: 0;
        background-color: transparent;
        padding: 7px 0;
        width: 100%;
        outline: none;
        &::placeholder {
            color: #c1c1c1;
        }
    }
    &-btn {
        background-color: transparent;
        background-image: none;
        padding: 4px 0 0 0;
    }
    &-icon {
        display: inline-block;
        min-width: 15px;
        width: 15px;
        height: 15px;
        margin-left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/search-icon.png);
    }
}
.social {
    &-list {
        display: flex;
        align-items: center;
        margin: 0 -3px;
    }
    &-item {
        margin: 3px;
    }
    &-icon {
        display: inline-block;
        width: 30px;
        min-width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        &-one {
            background-image: url(../img/social-icon-one.png);
        }
        &-thue {
            background-image: url(../img/social-icon-thue.png);
        }
        &-three {
            background-image: url(../img/social-icon-three.png);
        }
    }
}

/* Sections */

.promo {
    margin: 65px 0 50px 0;
    &-title {
        font-size: 20px;
        position: relative;
        margin-bottom: 20px;
        &:after {
            content: '';
            display: block;
            height: 1px;
            width: 135px;
            background-color: #6aafe6;
            margin-top: 10px;
        }
    }
    &-image {
        width: 100%;
    }
    &-text {
        line-height: 1.6;
    }
    &-more {
        margin-top: 18px;
        &-link {
            display: inline-block;
            padding: 11px 22px;
            color: #ffffff;
            font-size: 13px;
            text-transform: uppercase;
            text-decoration: none;
            background-color: #15354f;
            transition: all 0.5s;
            letter-spacing: 0.2px;
            &:hover,
            &:focus {
                background-color: #1f4768;
            }
        }
        &-icon {
            display: inline-block;
            min-width: 19px;
            width: 19px;
            height: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/promo-icon.png);
            margin-right: 7px;
        }
        &-text {
            display: inline-block;
            position: relative;
            top: -7px;
        }
    }
}
.find {
    margin: 40px 0;
    &-form {
        border: 1px solid #6aafe6;
        padding: 3px;
        box-sizing: border-box;
        display: flex;
    }
    &-field {
        padding: 8px 11px;
        box-sizing: border-box;
        width: 100%;
        font-size: 14px;
        border: 0;
        letter-spacing: 0.2px;
        &::placeholder {
            color: #7e7e7e;
        }
    }
    &-btn {
        display: inline-block;
        padding: 13px 10px;
        color: #ffffff;
        font-size: 14px;
        text-decoration: none;
        background-color: #15354f;
        transition: all 0.5s;
        box-sizing: border-box;
        min-width: 105px;
        &:hover,
        &:focus {
            background-color: #1f4768;
        }
        &-icon {
            display: inline-block;
            width: 20px;
            height: 10px;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/find-btn-icon.png);
            margin-left: 5px;
        }
    }
}
.info {
    margin: 78px 0 98px 0;
    &-title {
        font-size: 18px;
        letter-spacing: 0.1px;
        margin-bottom: 18px;
    }
    &-text {
        font-family: $open-regular;
        letter-spacing: 0.22px;
        line-height: 1.6;
    }
}

/* Footer */

.footer {
    background-color: #15354f;
    color: #a2bacd;
    padding: 25px 0 21px 0;
    &-body {
        display: flex;
        align-items: center;
    }
    &-logo {
        margin-right: 20px;
    }
    &-list {
        display: flex;
        font-size: 15px;
        color: #ffffff;
        margin: 0 -6px;
    }
    &-item {
        margin: 0 6px;
    }
    &-link {
        color: #ffffff;
        text-decoration: none;
        transition: all 0.5s;
        border-bottom: 1px solid transparent;
        letter-spacing: 0.2px;
        &:hover,
        &:focus {
            border-bottom: 1px solid #ffffff;
        }
    }
    &-copy {
        margin: 6px 0 0 0;
        padding: 0;
        font-size: 12px;
        letter-spacing: 0.22px;
        &-link {
            color: #a2bacd;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid #a2bacd;
            }
        }
    }
}

/* Pages */

.news {
    margin: 29px 0 60px 0;
    &-prev {
        &-descr {
            margin-top: 5px;
            margin-bottom: 10px;
            line-height: 1.6;
            letter-spacing: 0.22px;
        }
    }
    &-list {
        margin-top: 48px;
    }
    &-item {
        margin: 30px 0 58px 0;
    }
    &-wrap {
        display: flex;
    }
    &-image {
        min-width: 270px;
        width: 270px;
        height: 130px;
        object-fit: cover;
        margin-right: 29px;
    }
    &-title {
        font-size: 16px;
        margin-top: -4px;
        padding-top: 0;
        margin-bottom: 15px;
        letter-spacing: 0.17px;
        &-link {
            color: #15354f;
            text-decoration: none;
            border-bottom: 1px solid #6aafe6;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
    &-descr {
        line-height: 1.4;
        margin-top: 0;
        padding-top: 0;
    }
    &-text {
        line-height: 1.55;
        letter-spacing: 0.20px;
        margin-bottom: 17px;
    }
    &-more {
        font-family: $roboto-medium;
        color: #6aafe6;
        &-link {
            color: #6aafe6;
            text-decoration: none;
            border-bottom: 1px solid #6aafe6;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
.pagin {
    &-list {
        margin: 67px -10px 0 -10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
    }
    &-link {
        color: #15354f;
        text-decoration: none;
        display: inline-block;
        padding: 6px 4px;
        transition: all 0.5s;
        &:hover,
        &:focus,
        &.active {
            color: #ffffff;
            background-color: #15354f;
            
        } 
        &.active {
            padding: 6px 11px;
        }
    }
}