/* Fonts */
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo-Regular';
  src: url(../fonts/exo-2-0.regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo-Bold';
  src: url(../fonts/exo-2-0.bold.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}

input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

body {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 14px;
  color: #15354f;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
}

b, strong {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}

.title {
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  background-color: #15354f;
  padding: 11.5px 26px;
  position: relative;
  left: -26px;
  margin-bottom: 10px;
}

.title:before {
  content: '';
  display: inline-block;
  height: 1px;
  width: 1600px;
  background-color: #15354f;
  position: absolute;
  top: 23px;
  right: 0;
  z-index: -1;
}

/* Header */
.header {
  margin-bottom: 20px;
}

.header-mobile {
  display: none;
}

.header-body {
  border-bottom: 1px solid #c6dff1;
  padding: 25px 0 15px 0;
}

.header-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left {
  position: relative;
}

.header-left:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 34px;
  background-color: #d4dfe6;
  position: absolute;
  top: 10px;
  right: 0;
}

.header-right {
  position: relative;
}

.header-right:before {
  content: '';
  display: inline-block;
  width: 1px;
  height: 34px;
  background-color: #d4dfe6;
  position: absolute;
  top: 5px;
  left: -60px;
}

.header-logo {
  color: #16364f;
  font-family: "Exo-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.4px;
}

.header-logo-semi {
  font-family: "Exo-Bold", Arial, Helvetica, sans-serif;
}

.header-descr {
  margin-left: 15px;
}

.header-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav {
  font-size: 15px;
  letter-spacing: 0.3px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #15354f;
  text-decoration: none;
  border-bottom: 6px double transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
  border-bottom: 6px double #cadbe9;
}

.search {
  width: 65px;
  border-bottom: 1px solid #c1c1c1;
  margin-right: 20px;
}

.search-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-field {
  font-size: 14px;
  border: 0;
  background-color: transparent;
  padding: 7px 0;
  width: 100%;
  outline: none;
}

.search-field::-webkit-input-placeholder {
  color: #c1c1c1;
}

.search-field:-ms-input-placeholder {
  color: #c1c1c1;
}

.search-field::-ms-input-placeholder {
  color: #c1c1c1;
}

.search-field::placeholder {
  color: #c1c1c1;
}

.search-btn {
  background-color: transparent;
  background-image: none;
  padding: 4px 0 0 0;
}

.search-icon {
  display: inline-block;
  min-width: 15px;
  width: 15px;
  height: 15px;
  margin-left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/search-icon.png);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -3px;
}

.social-item {
  margin: 3px;
}

.social-icon {
  display: inline-block;
  width: 30px;
  min-width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-icon-one {
  background-image: url(../img/social-icon-one.png);
}

.social-icon-thue {
  background-image: url(../img/social-icon-thue.png);
}

.social-icon-three {
  background-image: url(../img/social-icon-three.png);
}

/* Sections */
.promo {
  margin: 65px 0 50px 0;
}

.promo-title {
  font-size: 20px;
  position: relative;
  margin-bottom: 20px;
}

.promo-title:after {
  content: '';
  display: block;
  height: 1px;
  width: 135px;
  background-color: #6aafe6;
  margin-top: 10px;
}

.promo-image {
  width: 100%;
}

.promo-text {
  line-height: 1.6;
}

.promo-more {
  margin-top: 18px;
}

.promo-more-link {
  display: inline-block;
  padding: 11px 22px;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #15354f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: 0.2px;
}

.promo-more-link:hover, .promo-more-link:focus {
  background-color: #1f4768;
}

.promo-more-icon {
  display: inline-block;
  min-width: 19px;
  width: 19px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-icon.png);
  margin-right: 7px;
}

.promo-more-text {
  display: inline-block;
  position: relative;
  top: -7px;
}

.find {
  margin: 40px 0;
}

.find-form {
  border: 1px solid #6aafe6;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.find-field {
  padding: 8px 11px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  border: 0;
  letter-spacing: 0.2px;
}

.find-field::-webkit-input-placeholder {
  color: #7e7e7e;
}

.find-field:-ms-input-placeholder {
  color: #7e7e7e;
}

.find-field::-ms-input-placeholder {
  color: #7e7e7e;
}

.find-field::placeholder {
  color: #7e7e7e;
}

.find-btn {
  display: inline-block;
  padding: 13px 10px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  background-color: #15354f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 105px;
}

.find-btn:hover, .find-btn:focus {
  background-color: #1f4768;
}

.find-btn-icon {
  display: inline-block;
  width: 20px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/find-btn-icon.png);
  margin-left: 5px;
}

.info {
  margin: 78px 0 98px 0;
}

.info-title {
  font-size: 18px;
  letter-spacing: 0.1px;
  margin-bottom: 18px;
}

.info-text {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  letter-spacing: 0.22px;
  line-height: 1.6;
}

/* Footer */
.footer {
  background-color: #15354f;
  color: #a2bacd;
  padding: 25px 0 21px 0;
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  margin-right: 20px;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  color: #ffffff;
  margin: 0 -6px;
}

.footer-item {
  margin: 0 6px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
  letter-spacing: 0.2px;
}

.footer-link:hover, .footer-link:focus {
  border-bottom: 1px solid #ffffff;
}

.footer-copy {
  margin: 6px 0 0 0;
  padding: 0;
  font-size: 12px;
  letter-spacing: 0.22px;
}

.footer-copy-link {
  color: #a2bacd;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-copy-link:hover, .footer-copy-link:focus {
  border-bottom: 1px solid #a2bacd;
}

/* Pages */
.news {
  margin: 29px 0 60px 0;
}

.news-prev-descr {
  margin-top: 5px;
  margin-bottom: 10px;
  line-height: 1.6;
  letter-spacing: 0.22px;
}

.news-list {
  margin-top: 48px;
}

.news-item {
  margin: 30px 0 58px 0;
}

.news-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-image {
  min-width: 270px;
  width: 270px;
  height: 130px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 29px;
}

.news-title {
  font-size: 16px;
  margin-top: -4px;
  padding-top: 0;
  margin-bottom: 15px;
  letter-spacing: 0.17px;
}

.news-title-link {
  color: #15354f;
  text-decoration: none;
  border-bottom: 1px solid #6aafe6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news-title-link:hover, .news-title-link:focus {
  border-bottom: 1px solid transparent;
}

.news-descr {
  line-height: 1.4;
  margin-top: 0;
  padding-top: 0;
}

.news-text {
  line-height: 1.55;
  letter-spacing: 0.20px;
  margin-bottom: 17px;
}

.news-more {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  color: #6aafe6;
}

.news-more-link {
  color: #6aafe6;
  text-decoration: none;
  border-bottom: 1px solid #6aafe6;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news-more-link:hover, .news-more-link:focus {
  border-bottom: 1px solid transparent;
}

.pagin-list {
  margin: 67px -10px 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
}

.pagin-link {
  color: #15354f;
  text-decoration: none;
  display: inline-block;
  padding: 6px 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pagin-link:hover, .pagin-link:focus, .pagin-link.active {
  color: #ffffff;
  background-color: #15354f;
}

.pagin-link.active {
  padding: 6px 11px;
}

.project {
  margin-top: 29px;
  margin-bottom: 37px;
}

.project-row {
  margin-top: 25px;
}

.project-subtitle {
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #15354f;
}

.project-image {
  width: 270px;
  height: 152px;
  -o-object-fit: cover;
     object-fit: cover;
  float: left;
  margin-right: 25px;
  margin-bottom: 10px;
}

.project-body {
  margin-top: 47px;
  line-height: 1.6;
  letter-spacing: 0.19px;
}

.project-pdf {
  margin: 75px 0 40px 0;
  border: 1px solid #6aafe6;
}

.project-pdf-image {
  width: 100%;
}

.levels {
  margin: 26px 0;
  padding: 10px 6px;
  background-color: #d4dfe6;
  line-height: 1.58;
  letter-spacing: 0.33px;
}

.levels-list {
  font-size: 15px;
}

.levels-sublist {
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-left: 35px;
}

.sidebar {
  line-height: 1.6;
  letter-spacing: 0.22px;
}

.sidebar-wrapper {
  margin-bottom: 70px;
}

.sidebar-wrapper:last-child {
  margin-bottom: 0;
}

.sidebar-title {
  width: 76%;
  color: #ffffff;
  background-color: #15354f;
  font-size: 15px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  padding: 5px 10px;
  display: inline-block;
  margin-bottom: 2px;
  margin-top: 3px;
}

.sidebar-text {
  margin-bottom: 10px;
}

.sidebar b,
.sidebar strong {
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
}

.sidebar-vote-btn {
  background-color: #6aafe6;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 17px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar-vote-btn:hover, .sidebar-vote-btn:focus {
  background-color: #95ccfa;
}

.last-list {
  margin-top: 22px;
}

.last-item {
  margin: 6px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.last-image {
  width: 70px;
  height: 44px;
  margin-right: 14px;
}

.last-title {
  font-size: 14px;
  color: #15354f;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.last-title:hover, .last-title:focus {
  border-bottom: 1px solid #15354f;
}

.last-cat {
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: #8c8c8c;
}

.last-cat-link {
  color: #8c8c8c;
  border-bottom: 1px solid #8c8c8c;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

.last-cat-link:hover, .last-cat-link:focus {
  border-bottom: 1px solid transparent;
}

.tech {
  line-height: 1.6;
  letter-spacing: 0.22px;
  margin: 29px 0 117px 0;
}

.latest {
  margin-top: 75px;
}

.latest-list {
  margin: 22px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.latest-item {
  margin: 15px;
}

.latest-picture {
  position: relative;
}

.latest-picture::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 6px;
  content: '';
  display: inline-block;
  width: 100%;
  background-color: #6aafe6;
  opacity: 0.7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.latest-picture:hover::after, .latest-picture:focus::after {
  opacity: 0;
}

.latest-descr {
  margin-top: 20px;
}

.latest-image {
  width: 270px;
  height: 130px;
}

.latest-title {
  font-size: 18px;
}

.latest-more {
  margin-top: 45px;
  text-align: center;
}

.latest-more-link {
  text-decoration: none;
  color: #ffffff;
  background-color: #15354f;
  text-transform: uppercase;
  padding: 16px 20px 14px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.latest-more-link:hover, .latest-more-link:focus {
  background-color: #306591;
}

.latest-more-icon {
  display: inline-block;
  min-width: 19px;
  width: 19px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/latest-more-icon.png);
  margin-right: 5px;
  position: relative;
  top: 6px;
}

/* Tabs */
.menutab {
  border-bottom: 1px solid #6aafe6;
  margin-top: 51px;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menutab-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.menutab-item {
  margin-right: 3px;
}

.menutab-item.active .menutab-btn,
.menutab-item:hover .menutab-btn,
.menutab-item:focus .menutab-btn {
  color: #ffffff;
  background-color: #6aafe6;
  border: 1px solid #6aafe6;
}

.menutab-btn {
  color: #626262;
  padding: 6px 18px;
  border: 1px solid #d1d1d1;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  display: inline-block;
}

.menutab-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: -5px;
}

.menutab-form-btn {
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.menutab-btn-icon {
  display: inline-block;
  min-width: 15px;
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/menutab-btn-icon.png);
}

.menutab-field {
  padding: 0;
  border: 0;
  font-size: 14px;
  outline: none;
  width: 145px;
}

.menutab-field::-webkit-input-placeholder {
  color: #6aafe6;
}

.menutab-field:-ms-input-placeholder {
  color: #6aafe6;
}

.menutab-field::-ms-input-placeholder {
  color: #6aafe6;
}

.menutab-field::placeholder {
  color: #6aafe6;
}

.tabs {
  font-size: 16px;
  color: #15354f;
}

.tabs-content {
  display: none;
  padding: 8px 0 0 0;
}

.tabs-content.active {
  display: block;
}

.tabs-list {
  overflow-x: hidden;
}

.tabs-item {
  margin: 0px 0;
  padding: 9px 0;
}

.tabs-item:before {
  float: left;
  width: 0;
  white-space: nowrap;
  color: #cadbe9;
  content: ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . " ". . . . . . . . . . . . . . . . . . . . ";
}

.tabs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tabs-name {
  background-color: #ffffff;
  display: inline-block;
  padding-right: 2px;
}

.tabs-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -8px -8px 0 -8px;
  background-color: #ffffff;
  padding-left: 20px;
}

.tabs-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 11px 0 8px;
  text-decoration: none;
  color: #15354f;
  font-size: 14px;
}

.tabs-link:hover .tabs-text,
.tabs-link:focus .tabs-text {
  color: #6aafe6;
}

.tabs-text {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
  margin-top: 11px;
}

.tabs-icon {
  position: relative;
  top: 3px;
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 11px;
}

.tabs-icon-one {
  background-image: url(../img/tabs-icon-one.png);
}

.tabs-icon-thue {
  background-image: url(../img/tabs-icon-thue.png);
}
/*# sourceMappingURL=style.css.map */