/* Fonts */
$roboto-reg: 'Roboto-Regular', Arial, Helvetica, sans-serif;
$roboto-bold: 'Roboto-Bold', Arial, Helvetica, sans-serif;
$roboto-thin: 'Roboto-Thin', Arial, Helvetica, sans-serif;

@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
    box-sizing: border-box;
}
.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family: $roboto-reg;
}
input,
textarea {
    box-sizing: border-box;
    font-family: $roboto-reg;
}

/* Main styles */
html {
    scroll-behavior: smooth;
}
.content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1580px;
}
body {
    font-family: $roboto-reg;
    font-size: 33px;
    line-height: 1.4;
    background-color: #ffffff;
    background-image: url(../img/body-bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    color: #575756;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $roboto-bold;
}
h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-family: $roboto-reg;
    color: #989797;

}
header,
section,
footer {
    overflow: hidden;
}

/* Header */

.mobile {
    display: none;
}
.social {
    display: none;
}
.header {
    background-color: #00864e;
    color: #ffffff;
    padding: 80px 0 40px 0;
    &-logo {
        &-mobile {
            display: none;
        }
    }
    &-list {
        font-size: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -25px;
    }
    &-item {
        margin: 0 25px;
    }
    &-wrapper {
        display: flex;
    }
    &-icon {
        display: inline-block;
        min-width: 30px;
        width: 30px;
        height: 28px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 25px;
        position: relative;
        top: 2px;
        &-one {
            background-image: url(../img/header-icon-one.png);
        }
        &-thue {
            background-image: url(../img/header-icon-thue.png);
            min-width: 36px;
            width: 36px;
            height: 24px;
        }
    }
    &-link {
        text-decoration: none;
        color: #ffffff;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #ffffff;
        }
    }
    &-btn {
        font-size: 17px;
        color: #ffffff;
        background-color: #00c370;
        text-transform: uppercase;
        padding: 15px 40px;
        box-sizing: border-box;
        border-radius: 20px;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: #13da83;
        }
    }
    &-bottom {
        margin-top: 18px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.nav {
    &-list {
        font-size: 24px;
        font-family: $roboto-bold;
        display: flex;
        margin: 0 -25px;
    }
    &-item {
        margin: 10px 25px;
    }
    &-link {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #ffffff;
        }
    }
}
.search {
    &-form {
        position: relative;
        display: inline-block;
        max-width: 255px;
        width: 100%;
        top: -5px;
    }
    &-field {
        background-color: #ffffff;
        border-radius: 20px;
        padding: 10px 40px 10px 10px;
        border: 0;
        width: 100%;
        max-width: 255px;
        box-sizing: border-box;
    }
    &-btn {
        position: absolute;
        right: 10px;
        top: 19px;
    }
    &-icon {
        display: inline-block;
        min-width: 16px;
        width: 16px;
        height: 18px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/search-icon.png);
    }
}

/* Sections */

.promo {
    &-image {
        width: 100%;
        margin-top: -2px;
    }
}
.catalog {
    margin-top: 72px;
    &-list {
        margin: 0 -70px;
        display: flex;
        flex-wrap: wrap;
    }
    &-item {
        width: calc(33.3333%  - 140px);
        margin: 52px 70px;
    }
    &-picture {
        border-bottom: 3px solid #989797;
        padding-bottom: 10px;
    }
    &-image {
        width: 100%;
        margin-bottom: -6px;
    }
    &-descr {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
        &-right {
            text-align: right;
        }
    }
    &-subtitle {
        font-size: 24px;
        font-family: $roboto-bold;
        margin: 0;
    }
    &-price {
        font-size: 24px;
        font-family: $roboto-bold;
        color: #019e9f;
        margin: 0;
    }
    &-btn {
        background-color: #01898a;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 17px;
        font-family: $roboto-reg;
        border-radius: 18px;
        padding: 15px 30px;
        box-sizing: border-box;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: #06a5a5;
        }
    }
}
.steps {
    margin-top: 59px;
    margin-bottom: 88px;
    &-list {
        font-size: 31px;
        margin: 70px -50px 0 -50px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    &-item {
        width: calc(25% - 100px);
        margin: 28px 50px 35px 50px;
    }
    &-icon {
        display: inline-block;
        min-width: 141px;
        width: 141px;
        height: 115px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/steps-icon.png);
    }
    &-text {
        margin: 40px 0 0 0;
    }
}
.price {
    &-table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        background-color: #d0e9c3;
        margin-top: 93px;
        & thead th {
            background-color: #95c57f;
            color: #ffffff;
            font-weight: 500;
            font-size: 31px;
        }
        & th,
        & td {
            padding: 7px 80px;
        }
        & tr:nth-child(even){background-color: #f2f2f2;}
    }
}
.feedback {
    margin: 147px 0 93px 0;
    &-body {
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/feedback-bg.jpg);
        background-size: cover;
        position: relative;
        min-height: 387px;
        border-radius: 20px;
    }
    &-title {
        background-color: rgba(129, 163, 120, 0.47);
        color: #ffffff;
        font-size: 48px;
        font-weight: normal;
        font-family: $roboto-reg;
        padding: 15px 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    &-row {
        text-align: center;
        align-items: center;
    }
    &-field {
        border: 1px solid #575756;
        width: 100%;
        box-sizing: border-box;
        border-radius: 30px;
        padding: 10px 20px 10px 32px;
        max-width: 470px;
        width: 100%;
        font-size: 27px;
        margin-bottom: 65px;
        &:last-child {
            margin-bottom: 0;
        }
        &::placeholder {
            color: #d5d5d5;
        }
    }
    &-btn {
        background-color: #6aa353;
        color: #ffffff;
        font-size: 31px;
        text-transform: uppercase;
        padding: 30px 133px;
        box-sizing: border-box;
        border-radius: 43px;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: #82c269;
        }
    }
}
.reviews {
    margin-bottom: 127px;
    &-list {
        display: flex;
        text-align: center;
    }
    &-item {
        width: calc(33.3333% - 100px);
        margin: 67px 50px;
    }
    &-image {
        width: 286px;
        height: 286px;
        border-radius: 50%;
        object-fit: cover;
    }
    &-subtitle {
        display: block;
        margin-top: 41px;
    }
    &-text {
        margin: -5px 0 0 0;
    }
}

/* Footer */

.footer {
    &-top {
        background-color: #427d2b;
        padding: 75px 0 47px 0;
    }
    &-list {
        font-size: 34px;
    }
    &-item {
        margin: 32px 0;
    }
    &-link {
        color: #d5d5d5;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #d5d5d5;
        }
    }
    &-bottom {
        background-color: #828282;
        color: #ffffff;
        padding: 32px 0;
        box-sizing: border-box;
    }
    &-copy {
        font-family: $roboto-thin;
        font-size: 28px;
        color: #ffffff;
        margin: 0;
    }
}
.adress {
    color: #ffffff;
    &-list {
        font-size: 34px;
    }
    &-item {
        margin: 32px 0;
    }
    &-wrapper {
        display: flex;
    }
    &-link {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #ffffff;
        }
    }
    &-icon {
        display: inline-block;
        min-width: 30px;
        width: 30px;
        height: 28px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 50px;
        position: relative;
        top: 2px;
        &-one {
            background-image: url(../img/header-icon-one.png);
        }
        &-thue {
            background-image: url(../img/header-icon-thue.png);
            min-width: 36px;
            width: 36px;
            height: 24px;
        }
    }

}