/* Fonts */
@font-face {
  font-family: 'SFCompactRounded-Regular';
  src: url(../fonts/SFCompactRounded-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompactRounded-Black';
  src: url(../fonts/SFCompactRounded-Black.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompactRounded-Bold';
  src: url(../fonts/SFCompactRounded-Bold.otf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'SFCompactRounded-Heavy';
  src: url(../fonts/SFCompactRounded-Heavy.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompactRounded-Light';
  src: url(../fonts/SFCompactRounded-Light.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SFCompactRounded-Medium';
  src: url(../fonts/SFCompactRounded-Medium.otf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Main styles */
body {
  font-family: "SFCompactRounded-Regular", Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-family: "SFCompactRounded-Bold", Arial, Helvetica, sans-serif;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1240px;
}

h2 {
  font-family: "SFCompactRounded-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 34px;
  margin: 0;
  letter-spacing: 0.0820588em;
}

/* Navigation */
.nav {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.15);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.nav-mobile {
  display: none;
}

.nav-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.nav-image {
  margin-bottom: -25px;
}

.nav-list {
  font-size: 24px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  letter-spacing: 0.0570588em;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  background: -webkit-linear-gradient(#949494 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  text-align: center;
  padding: 10px 15px 15px 15px;
}

.nav-link::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: transparent;
  -webkit-box-shadow: 0px 4px 8px transparent;
          box-shadow: 0px 4px 8px transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover::after, .nav-link:focus::after, .nav-link.active::after {
  background-color: #0085FF;
  -webkit-box-shadow: 0px 4px 8px rgba(28, 160, 255, 0.25);
          box-shadow: 0px 4px 8px rgba(28, 160, 255, 0.25);
}

.lang {
  display: inline-block;
  position: relative;
  font-size: 24px;
  line-height: 16px;
  text-transform: uppercase;
}

.lang-btn {
  background: -webkit-linear-gradient(#949494 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
  font-size: 24px;
  font-family: "SFCompactRounded-Regular", Arial, Helvetica, sans-serif;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang-icon {
  display: inline-block;
  width: 34px;
  height: 34px;
  background-image: url(../img/lang-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-top: -2px;
}

.lang-drop {
  position: absolute;
  z-index: 9999;
  right: 0;
  background-color: #ffffff;
  padding: 10px 20px;
  width: 120px;
  border: 1px solid #eee;
  top: 50px;
  text-align: left;
  display: none;
}

.lang-drop.show {
  display: block;
}

.lang-item {
  margin: 15px 0;
}

.lang-link {
  background: -webkit-linear-gradient(#949494 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.lang-link:hover, .lang-link:focus {
  border-bottom: 2px solid #0085FF;
}

/* Header */
.header {
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 1200px;
  padding: 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.header-body {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  z-index: 200;
}

.round-decor {
  background-image: url(../img/round-decor-body.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 593px;
  height: 593px;
  position: relative;
  text-align: center;
}

.round-decor-body {
  width: 476px;
  height: 476px;
  display: inline-block;
  margin-top: 60px;
}

.round-title {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 62px;
  text-align: right;
  letter-spacing: 0.0820588em;
  background: -webkit-linear-gradient(180deg, #7D7D7D 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
  padding-bottom: 0;
}

.round-text {
  text-align: right;
  position: relative;
  z-index: 100;
  padding-right: 35px;
  padding-top: 25px;
}

.round-image {
  margin-bottom: -5px;
  margin-right: -10px;
}

.round-start {
  margin: 0;
}

.round-start-link {
  font-family: "SFCompactRounded-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 19px;
  letter-spacing: 0.0570588em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  background: -webkit-linear-gradient(180deg, #949494 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #949494;
  display: inline-block;
  margin-right: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.round-start-link:hover, .round-start-link:focus {
  border-bottom: 1px solid transparent;
}

.start {
  background-image: url(../img/start-bg.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 970px;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #FFFFFF;
  z-index: 100;
  margin-bottom: -10px;
}

.start-wrapper {
  max-width: 460px;
  width: 100%;
  position: absolute;
  left: 42%;
  bottom: 14%;
  text-align: center;
}

.start-stars {
  margin: 12px 0;
}

.start-title {
  font-family: "SFCompactRounded-Bold", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  letter-spacing: 0.0570588em;
  color: #FFFFFF;
}

.start-text {
  text-align: left;
  text-indent: 20px;
  font-size: 22px;
  line-height: 38px;
  letter-spacing: 0.0570588em;
  margin: 0;
  padding: 0;
}

/* Sections */
.features {
  font-size: 16px;
  line-height: 37px;
  letter-spacing: 0.0620588em;
  background-image: url(../img/features-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0 70px 0;
  margin-top: -10px;
}

.features-title {
  background: -webkit-linear-gradient(#949494 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 60px -10px 0 -10px;
}

.features-item {
  width: 295px;
  margin: 0 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 3px transparent, 0px 4px 15px transparent;
          box-shadow: 0px 4px 3px transparent, 0px 4px 15px transparent;
  border-radius: 33px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-top: 20px;
}

.features-item:hover, .features-item:focus, .features-item.active {
  -webkit-box-shadow: 0px 4px 3px rgba(78, 191, 255, 0.67), 0px 4px 15px rgba(137, 255, 241, 0.25);
          box-shadow: 0px 4px 3px rgba(78, 191, 255, 0.67), 0px 4px 15px rgba(137, 255, 241, 0.25);
}

.features-icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  background-image: url(../img/features-icon-one.png);
  background-position: center;
  background-repeat: no-repeat;
}

.features-icon-thue {
  background-image: url(../img/features-icon-thue.png);
}

.features-icon-three {
  background-image: url(../img/features-icon-three.png);
}

.features-subtitle {
  color: #60D0FD;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.0570588em;
  margin: 35px 0;
}

.features-descr {
  text-align: left;
  text-indent: 20px;
  background: -webkit-linear-gradient(180deg, #666565 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 15px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  text-align: justify;
  letter-spacing: 0.0620588em;
}

.why {
  background: linear-gradient(183.37deg, #6EE7FF 1.05%, #1F63F0 128.55%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  position: relative;
  padding: 60px 0 220px 0;
}

.why-decor {
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  z-index: inherit;
}

.why-decor-one {
  background-image: url(../img/why-decor-one.png);
  width: 464px;
  height: 464px;
  right: 119px;
  top: 185px;
}

.why-decor-thue {
  background-image: url(../img/why-decor-thue.png);
  width: 390px;
  height: 390px;
  left: 106px;
  top: 444px;
}

.why-decor-three {
  background-image: url(../img/why-decor-three.png);
  width: 418px;
  height: 418px;
  right: 315px;
  bottom: 66px;
}

.why-body {
  position: relative;
}

.why-title {
  color: #ffffff;
  font-size: 34px;
  line-height: 81px;
  letter-spacing: 0.0570588em;
  position: relative;
  top: -16px;
  left: 2px;
}

.why-table {
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.0570588em;
  border-collapse: collapse;
  text-align: center;
}

.why-table tbody tr {
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
}

.why-table th {
  min-width: 310px;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.0570588em;
}

.why-subtitle {
  font-family: "SFCompactRounded-Bold", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 0.0570588em;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
}

.why-descr {
  text-align: left;
  margin-top: 0;
  padding-top: 0;
}

.why-round {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: 10px;
}

.why-round-checked {
  background-color: rgba(255, 255, 255, 0.2);
}

.why-icon {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.why-icon-one {
  background-image: url(../img/why-icon-one.png);
  width: 79px;
  height: 90px;
}

.why-icon-thue {
  background-image: url(../img/why-icon-thue.png);
  margin-top: 20px;
  width: 63px;
  height: 63px;
}

.why-text {
  display: block;
  text-align: center;
}

.news {
  padding: 75px 0 20px 0;
  background-image: url(../img/news-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 0;
}

.news-title {
  background: -webkit-linear-gradient(#949494 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.news-more-link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  font-family: "SFCompactRounded-Regular", Arial, Helvetica, sans-serif;
  letter-spacing: 0.0570588em;
  background: -webkit-linear-gradient(#949494 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #949494;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0;
  padding: 0;
}

.news-more-link:hover, .news-more-link:focus {
  border-bottom: 1px solid transparent;
}

.news-list {
  margin: 60px -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-item {
  margin: 36px 30px;
  width: 45%;
}

.news-date {
  font-weight: 300;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.0570588em;
  color: #828282;
}

.news-link {
  display: block;
  margin: 16px 0;
  font-family: "SFCompactRounded-Bold", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  letter-spacing: 0.0570588em;
  color: #333333;
  text-decoration: none;
}

.news-descr {
  font-size: 19px;
  line-height: 38px;
  letter-spacing: 0.0570588em;
  color: #4F4F4F;
}

.reviews {
  background: linear-gradient(135.06deg, #6EE7FF 31%, #1F63F0 90.94%);
  padding: 50px 0 50px 0;
  position: relative;
  min-height: 821px;
}

.reviews-body {
  position: relative;
  z-index: 100;
}

.reviews-decor {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  position: absolute;
}

.reviews-decor-one {
  background-image: url(../img/reviews-decor-one.png);
  width: 403px;
  height: 411px;
  top: 240px;
  left: 0;
}

.reviews-decor-thue {
  background-image: url(../img/reviews-decor-thue.png);
  width: 461px;
  height: 628px;
  bottom: -10%;
  right: 0;
}

.reviews-list {
  position: relative;
}

.reviews-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 40px 60px 60px;
  display: block;
  width: 422px;
  height: 377px;
  background-image: url(../img/reviews-item-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}

.reviews-item:nth-child(1) {
  width: 432px;
  height: 387px;
  left: 90px;
  top: -10px;
}

.reviews-item:nth-child(2) {
  width: 440px;
  height: 480px;
  background-image: url(../img/reviews-item-bg2.png);
  right: 120px;
  top: 20px;
}

.reviews-item:nth-child(3) {
  width: 428px;
  height: 367px;
  background-image: url(../img/reviews-item-bg3.png);
  left: 265px;
  top: 415px;
}

.reviews-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px 0 10px;
}

.reviews-up-left {
  text-align: center;
}

.reviews-name {
  display: block;
  font-weight: 500;
  font-size: 23px;
  letter-spacing: 0.0570588em;
  background: -webkit-linear-gradient(180deg, #949494 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.reviews-starts {
  display: inline-block;
  width: 76px;
  height: 16px;
  background-image: url(../img/reviews-starts.png);
  background-position: center;
  background-repeat: no-repeat;
}

.reviews-text {
  font-size: 18px;
  line-height: 37px;
  letter-spacing: 0.0570588em;
  color: #333333;
  margin-top: 10px;
}

.reviews-write {
  position: relative;
}

.reviews-write-btn {
  position: absolute;
  right: 250px;
  top: 720px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 2px 0px #D9D9D9;
          box-shadow: 0px 2px 0px #D9D9D9;
  border-radius: 17px;
  padding: 12px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.reviews-write-btn:hover, .reviews-write-btn:focus {
  -webkit-box-shadow: 0px 2px 0px transparent;
          box-shadow: 0px 2px 0px transparent;
}

.reviews-write-icon {
  background-image: url(../img/reviews-write-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 35px;
  height: 35px;
}

.reviews-write-text {
  font-size: 19px;
  letter-spacing: 0.0570588em;
  color: #0194FF;
  position: relative;
  top: 3px;
  margin-left: 15px;
}

.contact {
  display: none;
  background-color: #ffffff;
  border-radius: 40px;
  position: absolute;
  left: 250px;
  top: 250px;
  font-size: 21px;
  letter-spacing: 0.0820588em;
  color: #4F4F4F;
}

.contact.show {
  display: block;
}

.contact-close {
  width: 50px;
  height: 50px;
  text-align: center;
  background: linear-gradient(206.52deg, #6EE7FF 11.94%, #1F63F0 148.46%);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  position: absolute;
  right: -12px;
  top: -12px;
}

.contact-close-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url(../img/contact-close-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  left: -4px;
  top: 1px;
}

.contact-body {
  padding: 40px 40px 10px 40px;
}

.contact-title {
  margin-bottom: 25px;
  display: block;
}

.contact-item {
  margin: 15px 0;
}

.contact-item-end {
  position: relative;
}

.contact-label {
  display: block;
}

.contact-label-text {
  display: block;
  margin-bottom: 5px;
}

.contact-field {
  margin: 10px 0;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #E0E0E0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 15px;
  font-size: 21px;
  letter-spacing: 0.0820588em;
}

.contact-field::-webkit-input-placeholder {
  letter-spacing: 0.0820588em;
  color: #BDBDBD;
}

.contact-field:-ms-input-placeholder {
  letter-spacing: 0.0820588em;
  color: #BDBDBD;
}

.contact-field::-ms-input-placeholder {
  letter-spacing: 0.0820588em;
  color: #BDBDBD;
}

.contact-field::placeholder {
  letter-spacing: 0.0820588em;
  color: #BDBDBD;
}

.contact-field-text {
  border: 1px solid #E0E0E0;
  height: 187px;
}

.contact-btn {
  position: absolute;
  bottom: 22px;
  right: -3px;
}

.contact-btn-icon {
  background-image: url(../img/contact-btn-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 70px;
  height: 70px;
}

/* Footer */
.footer {
  padding: 60px 0;
  position: relative;
  z-index: 8888;
}

.footer .col-4 {
  padding-left: 150px;
}

.footer .col-3 {
  padding-left: 120px;
}

.footer-logo {
  margin: -25px auto 0 auto;
}

.footer-copy {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.0570588em;
  padding: 0;
  margin: -0;
}

.footer-title {
  font-weight: bold;
  font-size: 27px;
  letter-spacing: 0.0570588em;
  color: #2F80ED;
  margin: 0 0 20px 0;
  padding: 0;
}

.footer-list {
  text-align: left;
}

.footer-item {
  margin: 15px 0;
}

.footer-link {
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.0570588em;
  color: #828282;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-link:hover, .footer-link:focus {
  border-bottom: 1px solid #828282;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -5px;
}

.social-item {
  margin: 0 5px;
}

.social .social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.social .social-icon-one {
  background-image: url(../img/social-icon-one.png);
  width: 36px;
  height: 33px;
}

.social .social-icon-thue {
  background-image: url(../img/social-icon-thue.png);
  width: 40px;
  height: 40px;
}

.social .social-icon-three {
  background-image: url(../img/social-icon-three.png);
  width: 39px;
  height: 39px;
}

/* Blog */
.main {
  padding-top: 75px;
}

.posts-item {
  margin-bottom: 75px;
}

.posts-info {
  font-weight: 300;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.0570588em;
  color: #828282;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.posts-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts-author-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.posts-author-name {
  margin-left: 5px;
  display: inline-block;
}

.posts-text {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.posts-text-image {
  width: 250px;
  height: 250px;
  border-radius: 30px;
}

.posts-text-right {
  margin-left: 40px;
}

.posts-text-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  letter-spacing: 0.0570588em;
  color: #4F4F4F;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.posts-text-title:hover, .posts-text-title:focus {
  border-bottom: 2px solid #4F4F4F;
}

.posts-text-descr {
  font-size: 21px;
  line-height: 38px;
  letter-spacing: 0.0570588em;
  color: #4F4F4F;
}

.pagination-list {
  font-weight: 500;
  font-size: 22px;
  line-height: 44px;
  letter-spacing: 0.0570588em;
  color: #CCCCCC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-item {
  margin: 7px;
}

.pagination-item-prev {
  margin: 7px 45px 7px 7px;
}

.pagination-item-next {
  margin: 7px  7px 7px 45px;
}

.pagination-link {
  display: inline-block;
  width: 46px;
  height: 46px;
  border: 1px solid #C6C6C6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9px;
  text-align: center;
  color: #CCCCCC;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pagination-link:hover, .pagination-link:focus, .pagination-link.active {
  color: #3F3F3F;
}

.pagination-link:hover .pagination-icon-prev,
.pagination-link:focus .pagination-icon-prev {
  background-image: url(../img/paginatination-icon-prev-black.png);
}

.pagination-link:hover .pagination-icon-next,
.pagination-link:focus .pagination-icon-next {
  background-image: url(../img/paginatination-icon-next.png);
}

.pagination-icon {
  display: inline-block;
  width: 10px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.pagination-icon-prev {
  background-image: url(../img/paginatination-icon-prev.png);
}

.pagination-icon-next {
  background-image: url(../img/paginatination-icon-next-gray.png);
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}

.sidebar-item {
  margin: 20px 0;
}

.sidebar-image {
  width: 100%;
  max-width: 300px;
}

.sidebar-image-qr {
  max-width: 138px;
}

.sidebar-text {
  font-family: "SFCompactRounded-Bold", Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 29px;
  letter-spacing: 0.0570588em;
  background: -webkit-linear-gradient(180deg, #949494 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0 20px 0;
  padding: 0;
}

.sidebar-safari {
  margin: 0 auto;
  max-width: 179px;
  width: 100%;
}

.sidebar-start {
  display: inline-block;
  font-weight: bold;
  font-size: 17px;
  letter-spacing: 0.0570588em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  background: -webkit-linear-gradient(180deg, #949494 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid #949494;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar-start:hover, .sidebar-start:focus {
  border-bottom: 1px solid transparent;
}

/* Single post */
.breadcrumbs {
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.0570588em;
  color: #828282;
}

.breadcrumbs-list {
  display: block;
}

.breadcrumbs-item {
  display: inline;
  margin: 0;
}

.breadcrumbs-item::after {
  content: '>';
  display: inline-block;
  margin-left: 10px;
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  color: #2D9CDB;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.breadcrumbs-link:hover, .breadcrumbs-link:focus {
  border-bottom: 1px solid #2D9CDB;
}

.single-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 58px;
  letter-spacing: 0.0570588em;
  color: #4F4F4F;
}

.single-body {
  font-weight: normal;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.0570588em;
  color: #4F4F4F;
}

.single-image {
  max-width: 995px;
  width: 100%;
}

.share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.share-item {
  margin-left: 6px;
}

.share-text {
  display: inline-block;
  font-weight: normal;
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 0.0570588em;
  color: #333333;
  margin-right: 4px;
}

.share-icon {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.share-icon-one {
  background-image: url(../img/share-icon-one.png);
  width: 40px;
  height: 42px;
}

.share-icon-thue {
  background-image: url(../img/share-icon-thue.png);
  width: 40px;
  height: 42px;
}

.share-icon-three {
  background-image: url(../img/share-icon-three.png);
  width: 42px;
  height: 44px;
}

.share-icon-four {
  background-image: url(../img/share-icon-four.png);
  width: 42px;
  height: 46px;
}

.share-icon-five {
  background-image: url(../img/share-icon-five.png);
  width: 42px;
  height: 44px;
}

.prevnext {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 16px;
  letter-spacing: 0.0570588em;
  margin-top: 100px;
  margin-bottom: 50px;
}

.prevnext-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prevnext-link {
  color: #2F80ED;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.prevnext-link:hover, .prevnext-link:focus {
  opacity: 0.75;
}

.prevnext-icon {
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 34px;
  position: relative;
  top: 7px;
}

.prevnext-icon-prev {
  background-image: url(../img/prevnext-icon-prev.png);
  margin-right: 5px;
}

.prevnext-icon-next {
  background-image: url(../img/prevnext-icon-next.png);
  margin-left: 5px;
}

.subscribe {
  border-top: 1px solid #BDBDBD;
  border-bottom: 1px solid #BDBDBD;
  text-align: center;
  padding: 40px 0 60px 0;
  font-weight: normal;
  font-size: 23px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.0570588em;
  color: #4F4F4F;
}

.subscribe-title {
  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  letter-spacing: 0.0770588em;
  color: #4F4F4F;
}

.subscribe-label {
  display: block;
  margin-bottom: 10px;
}

.subscribe-field {
  width: 100%;
  max-width: 451px;
  height: 51px;
  border: 2px solid #5B5B5B;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  padding: 6px 14px;
  font-weight: normal;
  font-size: 21px;
  line-height: 38px;
  letter-spacing: 0.0570588em;
  margin: 10px 0;
}

.subscribe-field::-webkit-input-placeholder {
  color: #BDBDBD;
}

.subscribe-field:-ms-input-placeholder {
  color: #BDBDBD;
}

.subscribe-field::-ms-input-placeholder {
  color: #BDBDBD;
}

.subscribe-field::placeholder {
  color: #BDBDBD;
}

.subscribe-btn {
  background: linear-gradient(154.52deg, #6EE7FF 7.46%, #1F63F0 100.93%);
  -webkit-box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  font-size: 21px;
  line-height: 38px;
  letter-spacing: 0.0570588em;
  padding: 1px 20px;
  margin-top: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.subscribe-btn:hover, .subscribe-btn:focus {
  -webkit-box-shadow: 0px 4px 5px transparent;
          box-shadow: 0px 4px 5px transparent;
}

/* About us */
.about {
  color: #ffffff;
  font-weight: normal;
  font-size: 20px;
  line-height: 65px;
  letter-spacing: 0.0820588em;
  position: relative;
}

.about-wrapper {
  background: linear-gradient(222.48deg, #6EE7FF 5.95%, #1F63F0 131.76%);
}

.about-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 94px;
  letter-spacing: 0.0820588em;
}

.about-text {
  position: relative;
  z-index: 100;
}

.about-one .about-text {
  margin-top: 150px;
}

.about-thue {
  margin-top: 400px;
}

.about-three .about-text {
  margin-top: 350px;
}

.about-picture {
  background-repeat: no-repeat;
  position: absolute;
}

.about-picture-one {
  background-position: top right;
  background-image: url(../img/about-picture-one.png);
  width: 1086px;
  height: 1162px;
  right: 0;
  top: -150px;
}

.about-picture-thue {
  background-position: top left;
  background-image: url(../img/about-picture-thue.png);
  width: 938px;
  height: 1370px;
  left: 0;
  top: -320px;
}

.about-picture-three {
  background-position: top right;
  background-image: url(../img/about-picture-three.png);
  width: 900px;
  height: 904px;
  right: 0;
  top: 225px;
}

.about-image-one {
  position: absolute;
  top: 0;
  right: 0;
  width: 1008px;
  height: 1078px;
}

.about-image-thue {
  position: absolute;
  top: 80px;
  left: 0;
  width: 860px;
  height: 1216px;
}

.about-image-three {
  position: absolute;
  top: 50px;
  right: 0;
  width: 850px;
  height: 802px;
}

.aboutstat {
  margin-top: 250px;
  padding-bottom: 50px;
}

.together-item {
  position: relative;
  outline: none;
}

.together-image {
  width: 100%;
  min-height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}

.together-text {
  font-weight: 900;
  font-size: 50px;
  line-height: 73px;
  letter-spacing: 0.0820588em;
  color: #FFFFFF;
  position: absolute;
  top: 20px;
  right: 100px;
  max-width: 400px;
  width: 100%;
}

/* Support */
.support {
  padding: 50px 0 50px 0;
}

.support-body {
  position: relative;
}

.support-title {
  font-weight: bold;
  font-size: 54px;
  line-height: 1.4;
  letter-spacing: 0.0820588em;
  background: -webkit-linear-gradient(180deg, #949494 0%, #4E4D4D 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  padding-top: 0;
}

.support-ask {
  font-weight: normal;
  font-size: 34px;
  line-height: 75px;
  letter-spacing: 0.0820588em;
  color: #828282;
  padding: 0;
  display: inline-block;
  width: 100%;
  position: relative;
  text-align: left;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 20px 0;
  padding-right: 40px;
}

.support-ask::after {
  content: '';
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/support-ask.png);
  width: 49px;
  height: 49px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.support-ask.active, .support-ask:hover {
  color: #2F80ED;
}

.support-ask.active::after, .support-ask:hover::after {
  background-image: url(../img/support-ask-active.png);
}

.support-answer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  font-weight: normal;
  font-size: 21px;
  line-height: 36px;
  letter-spacing: 0.0820588em;
  color: #333333;
}

.support-more {
  margin: 20px 0 0 0;
  padding: 0;
  text-align: center;
  font-weight: 500;
  font-size: 39px;
  line-height: 75px;
  letter-spacing: 0.0820588em;
  color: #2F80ED;
}

.support-more-link {
  font-weight: 600;
  color: #2F80ED;
  text-decoration: none;
  border-bottom: 1px solid #2F80ED;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.support-more-link:hover, .support-more-link:focus {
  border-bottom: 1px solid transparent;
}

.technical {
  font-weight: normal;
  font-size: 28px;
  line-height: 75px;
  letter-spacing: 0.0820588em;
  color: #4F4F4F;
  margin: 100px 25px 75px 75px;
}

.technical-link {
  color: #2D9CDB;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.technical-link:hover, .technical-link:focus {
  border-bottom: 1px solid #2D9CDB;
}

.technical-btn {
  background: linear-gradient(108.69deg, #6EE7FF 19.5%, #1F63F0 131.11%);
  -webkit-box-shadow: 0px 3px 8px rgba(68, 177, 255, 0.25);
          box-shadow: 0px 3px 8px rgba(68, 177, 255, 0.25);
  border-radius: 14px;
  padding: 3px 38px 12px 38px;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: 0.0570588em;
  color: #FFFFFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: inline-block;
}

.technical-btn-icon {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-image: url(../img/technical-btn-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  top: 7px;
}

.technical-btn:hover, .technical-btn:focus {
  -webkit-box-shadow: 0px 3px 8px transparent;
          box-shadow: 0px 3px 8px transparent;
}

.techcontact {
  display: none;
  background-color: #ffffff;
  border-radius: 40px;
  position: absolute;
  z-index: 8888;
  top: 25px;
  right: 400px;
  font-size: 21px;
  letter-spacing: 0.0820588em;
  color: #4F4F4F;
}

.techcontact.show {
  display: block;
}

.techcontact .contact-btn {
  bottom: 52px;
}
/*# sourceMappingURL=style.css.map */