@media (max-width: 1080px) {
  .footer-row {
    display: block;
  }
  .footer-left {
    width: 100%;
  }
  .footer-right {
    width: 100%;
  }
  .footer-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social {
    margin-top: 30px;
  }
  .social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 992px) {
  .header {
    padding-top: 30px;
  }
  .header-btn {
    position: static;
  }
  .promo-block {
    width: 100%;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo-block-left {
    width: 17%;
  }
  .promo-block-right {
    width: 83%;
  }
  .promo-btn {
    top: -105px;
    right: 58px;
  }
  .promo-end-link {
    left: -15px;
  }
  .footer {
    margin-top: -20px;
  }
  .footer-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 10px 0 15px 0;
    background-color: white;
    -webkit-box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.06);
            box-shadow: 0px 8px 9px 0px rgba(0, 0, 0, 0.06);
  }
  .header-center {
    display: block;
    color: #ff7b00;
    text-transform: uppercase;
    text-align: center;
  }
  .header-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-left {
    width: auto;
  }
  .header-center {
    width: auto;
  }
  .header-right {
    width: auto;
  }
  .header-image {
    width: 63px;
  }
  .header-btn {
    font-size: 13px;
    padding: 10px 15px;
  }
  .promo {
    min-height: auto;
  }
  .promo-wrap {
    top: 100px;
    margin-bottom: 0;
  }
  .promo-block {
    display: block;
    text-align: center;
  }
  .promo-block-left {
    width: 100%;
  }
  .promo-block-right {
    width: 100%;
  }
  .promo-picture {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }
  .promo-title {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .promo-end {
    position: static;
  }
  .promo-end-link {
    position: static;
  }
  .promo-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
  }
  .promo-btn {
    position: static;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .footer {
    background-position: center top;
  }
}

@media (max-width: 425px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .header-text {
    position: relative;
    left: 5px;
  }
  .promo {
    background-image: url(../img/promo-body-bg-mobile.jpg);
    background-position: top center;
    margin-top: 22px;
  }
  .promo-wrap {
    position: static;
    margin-bottom: -150px;
  }
  .promo-end {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#0d9306));
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #0d9306 100%);
    width: 100%;
    height: 171px;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .promo-end-link {
    font-weight: 100;
    letter-spacing: 0.33px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    font-size: 12px;
    color: #ffffff;
    border-bottom: 0;
    text-decoration: underline;
    font-size: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
  }
  .promo-end-link:hover, .promo-end-link:focus {
    text-decoration: none;
    border-bottom: none;
  }
  .promo-btn {
    font-size: 18px;
    padding: 5px 30px;
    height: 63px;
    margin-left: 30px;
    margin-right: 30px;
    border-style: solid;
    border-width: 4px;
    border-color: white;
    border-radius: 21px;
    background-color: #0d9306;
    -webkit-box-shadow: 0px 19px 40px 0px rgba(0, 0, 0, 0.36);
            box-shadow: 0px 19px 40px 0px rgba(0, 0, 0, 0.36);
    margin-top: 60px;
    margin-bottom: 0px;
  }
  .promo-btn-icon {
    display: inline-block;
    min-width: 17px;
    width: 17px;
    height: 18px;
    background-size: contain;
  }
  .promo-body:before {
    content: none;
  }
  .promo-block {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 15px 15px 10px 15px;
  }
  .promo-picture {
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 0;
  }
  .promo-icon {
    min-width: 42px;
    width: 42px;
    height: 56px;
    background-image: url(../img/promo-icon-mobile.png);
  }
  .promo-title {
    font-size: 28px;
    margin-top: -7px;
    margin-bottom: 0;
  }
  .promo-list {
    margin-top: 10px;
    font-size: 14px;
  }
  .promo-item:after {
    min-width: 10px;
    width: 10px;
    height: 12px;
    background-size: contain;
    top: 0.5px;
    left: 11px;
  }
  .footer {
    padding-bottom: 150px;
  }
  .footer-row {
    margin-top: 16px;
  }
}
/*# sourceMappingURL=media.css.map */