//----------------------------------------------------//
// Glober                                            //
//----------------------------------------------------//

// - Glober (300 300i 400 400i 700)
// - Proxima Nova (300 400 700)
// - PTSans (400 700)
// - ALSRubl

// Glober => Bold
//--------------------------------------------------//
@font-face {
    font-family:'Glober';
    src: url('../fonts/glober/bold/GloberBold.eot');
	src: url('../fonts/glober/bold/GloberBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/glober/bold/GloberBold.woff2') format('woff2'),
		url('../fonts/glober/bold/GloberBold.woff') format('woff'),
		url('../fonts/glober/bold/GloberBold.ttf') format('truetype'),
		url('../fonts/glober/bold/GloberBold.svg#GloberBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

// Glober => Regular
//--------------------------------------------------//
@font-face {
    font-family:'Glober';
    src: url('../fonts/glober/regular/GloberRegular.eot');
	src: url('../fonts/glober/regular/GloberRegular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/glober/regular/GloberRegular.woff2') format('woff2'),
		url('../fonts/glober/regular/GloberRegular.woff') format('woff'),
		url('../fonts/glober/regular/GloberRegular.ttf') format('truetype'),
		url('../fonts/glober/regular/GloberRegular.svg#GloberRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

// Glober => Regular Italic
//--------------------------------------------------//
@font-face {
    font-family:'Glober';
    src: url('../fonts/glober/regular-italic/GloberRegularItalic.eot');
	src: url('../fonts/glober/regular-italic/GloberRegularItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/glober/regular-italic/GloberRegularItalic.woff2') format('woff2'),
		url('../fonts/glober/regular-italic/GloberRegularItalic.woff') format('woff'),
		url('../fonts/glober/regular-italic/GloberRegularItalic.ttf') format('truetype'),
		url('../fonts/glober/regular-italic/GloberRegularItalic.svg#GloberRegularItalic') format('svg');
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}

// Glober => Light
//--------------------------------------------------//
// @font-face {
//     font-family:'Glober';
//     src: url('../fonts/glober/light/GloberLight.eot');
// 	src: url('../fonts/glober/light/GloberLight.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/glober/light/GloberLight.woff2') format('woff2'),
// 		url('../fonts/glober/light/GloberLight.woff') format('woff'),
// 		url('../fonts/glober/light/GloberLight.ttf') format('truetype'),
// 		url('../fonts/glober/light/GloberLight.svg#GloberLight') format('svg');
//     font-weight: 300;
//     font-style: normal;
//     font-stretch: normal;
//     unicode-range: U+0020-0451;
// }

@font-face { // new
  font-family: 'Glober';
  src: url('../fonts/glober/light/GloberLight.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/glober/light/GloberLight.otf')  format('opentype'),
	url('../fonts/glober/light/GloberLight.woff') format('woff'), 
	url('../fonts/glober/light/GloberLight.ttf')  format('truetype'), 
	url('../fonts/glober/light/GloberLight.svg#GloberLight') format('svg');
  font-weight: 300;
  font-style: normal;
}

// Glober => Light-Italic
//--------------------------------------------------//
@font-face {
    font-family:'Glober';
    src: url('../fonts/glober/light-italic/GloberLightItalic.eot');
	src: url('../fonts/glober/light-italic/GloberLightItalic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/glober/light-italic/GloberLightItalic.woff2') format('woff2'),
		url('../fonts/glober/light-italic/GloberLightItalic.woff') format('woff'),
		url('../fonts/glober/light-italic/GloberLightItalic.ttf') format('truetype'),
		url('../fonts/glober/light-italic/GloberLightItalic.svg#GloberLightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    unicode-range: U+0020-0451;
}


// Proxima Nova => Bold
//--------------------------------------------------//
// @font-face {
// 	font-family: 'ProximaNova';
// 	src: url('../fonts/proxima-nova/bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  
// 		url('../fonts/proxima-nova/bold/ProximaNova-Bold.otf')  format('opentype'),
// 		url('../fonts/proxima-nova/bold/ProximaNova-Bold.woff') format('woff'),
// 		url('../fonts/proxima-nova/bold/ProximaNova-Bold.ttf')  format('truetype'),
// 		url('../fonts/proxima-nova/bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
// 	font-weight: 700;
// 	font-style: normal;
// }
// 
@font-face { //new
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/proxima-nova/bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/proxima-nova/bold/ProximaNova-Bold.woff') format('woff'), 
  url('../fonts/proxima-nova/bold/ProximaNova-Bold.ttf')  format('truetype'), 
  url('../fonts/proxima-nova/bold/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

// Proxima Nova => Regular
//--------------------------------------------------//
// @font-face {
// 	font-family: 'ProximaNova';
// 	src: url('../fonts/proxima-nova/regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  
// 		url('../fonts/proxima-nova/regular/ProximaNova-Regular.otf')  format('opentype'),
// 		url('../fonts/proxima-nova/regular/ProximaNova-Regular.woff') format('woff'),
// 		url('../fonts/proxima-nova/regular/ProximaNova-Regular.ttf')  format('truetype'),
// 		url('../fonts/proxima-nova/regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
// 	font-weight: 400;
// 	font-style: normal;
// }
// 
@font-face { //new
  font-family: 'ProximaNova';
  src: url('../fonts/proxima-nova/regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/proxima-nova/regular/ProximaNova-Regular.woff') format('woff'), 
  url('../fonts/proxima-nova/regular/ProximaNova-Regular.ttf')  format('truetype'), 
  url('../fonts/proxima-nova/regular/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

// Proxima Nova => Light
//--------------------------------------------------//
// @font-face {
// 	font-family: 'ProximaNova';
// 	src: url('../fonts/proxima-nova/light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
// 		url('../fonts/proxima-nova/light/ProximaNova-Light.otf')  format('opentype'),
// 		url('../fonts/proxima-nova/light/ProximaNova-Light.woff') format('woff'),
// 		url('../fonts/proxima-nova/light/ProximaNova-Light.ttf')  format('truetype'),
// 		url('../fonts/proxima-nova/light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
// 	font-weight: 300;
// 	font-style: normal;
// }
// 
@font-face { // new
  font-family: 'ProximaNova';
  src: url('../fonts/proxima-nova/light/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/proxima-nova/light/ProximaNova-Light.woff') format('woff'), 
  url('../fonts/proxima-nova/light/ProximaNova-Light.ttf')  format('truetype'), 
  url('../fonts/proxima-nova/light/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

// PTSans => Bold
//--------------------------------------------------//
@font-face {
		font-family: 'PTSans';
		src: url('../fonts/pt-sans/bold/PTSans-Bold.eot?#iefix') format('embedded-opentype'),
			url('../fonts/pt-sans/bold/PTSans-Bold.woff') format('woff'),
			url('../fonts/pt-sans/bold/PTSans-Bold.ttf')  format('truetype'),
			url('../fonts/pt-sans/bold/PTSans-Bold.svg#PTSans-Bold') format('svg');
		font-weight: 700;
		font-style: normal;
}

// PTSans => Regular
//--------------------------------------------------//
@font-face {
	font-family: 'PTSans';
	src: url('../fonts/pt-sans/regular/PTSans-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/pt-sans/regular/PTSans-Regular.woff') format('woff'),
		url('../fonts/pt-sans/regular/PTSans-Regular.ttf')  format('truetype'),
		url('../fonts/pt-sans/regular/PTSans-Regular.svg#PTSans-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

// ALSRubl
//--------------------------------------------------//
@font-face {
	font-family: 'ALSRubl';
	src: url('../fonts/ALSRubl/ALSRubl.eot?#iefix') format('embedded-opentype'),  
		url('../fonts/ALSRubl/ALSRubl.woff') format('woff'), 
		url('../fonts/ALSRubl/ALSRubl.ttf')  format('truetype'), 
		url('../fonts/ALSRubl/ALSRubl.svg#ALSRubl') format('svg');
	font-weight: normal;
	font-style: normal;
}
