@media (max-width: 1920px) {
  /* Single */
  .single-decor {
    right: 0;
  }
  /* Techique */
  .technique-top {
    overflow: hidden;
  }
}

@media (max-width: 1380px) {
  /* Steps */
  /* Step 1 */
  .ways-nav {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  .ways-nav-item:nth-child(2):before {
    width: 329px;
    right: 200px;
  }
  .ways-nav-item:nth-child(3):before {
    width: 437px;
  }
  .ways-nav-text {
    display: block;
    min-height: 54px;
  }
  .sellbuy-item {
    width: calc(16.6666666667% - 16px);
  }
  /* Progress */
  .progress-top-left {
    width: 75%;
  }
  .progress-top-right {
    width: 25%;
  }
  .progress-nav-button {
    text-align: left;
  }
  .progress-left {
    width: 30%;
  }
  .progress-right {
    width: 70%;
  }
}

@media (max-width: 1200px) {
  /* p2p changes */
  .easy-btn {
    min-width: auto;
  }
  /* Techique */
  .guide-left {
    width: 30%;
  }
  .guide-right {
    width: 70%;
  }
  .technique-item {
    width: calc(25% - 20px);
  }
  .technique-row {
    display: block;
  }
  .technique-left {
    width: 100%;
  }
  .technique-right {
    width: 100%;
    margin-right: 20px;
  }
  .technique-add {
    margin-bottom: 20px;
  }
  .technique-add-btn {
    margin-left: 0;
  }
  .modus-cell {
    width: calc(33.3333% - 20px);
  }
  .modus-cell:nth-child(1) {
    width: calc(33.3333% - 20px);
  }
  .modus-cell:nth-child(2) {
    width: calc(38% - 20px);
  }
  .modus-cell:nth-child(3) {
    width: calc(28.6666% - 20px);
  }
  .feedback-left {
    width: 35%;
  }
  /* Steps */
  /* Step 1 */
  .ways-nav {
    width: 900px;
  }
  .ways-nav-item:nth-child(2):before {
    width: 284px;
    right: 159px;
  }
  .ways-nav-item:nth-child(3):before {
    width: 354px;
    right: 194px;
  }
  .ways-nav-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  .sellbuy-item {
    width: calc(20% - 16px);
  }
}

@media (max-width: 980px) {
  /* p2p changes */
  .easy {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  .easy-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .easy-left {
    width: 100%;
  }
  .easy-right {
    width: 100%;
    border-left: 0;
    padding-left: 15px;
    padding-right: 15px;
  }
  .easy-info {
    padding-left: 0;
    padding-right: 0;
  }
  .easy-info-left {
    width: 40%;
  }
  .easy-wrapper-left {
    width: 55%;
  }
  .easy-sublist {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .easy-subitem {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
  }
  .easy-subitem:nth-child(1) {
    margin-left: 0;
  }
  .easy-subitem:nth-child(2) {
    margin-right: 0;
  }
  .easy-subitem:nth-child(3) {
    width: calc(40% - 20px);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 0;
  }
  .easy-subitem:nth-child(4) {
    width: calc(60% - 20px);
    margin-left: 0;
  }
  .easy-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  /* Technique */
  .guide {
    display: none;
  }
  .technique-top {
    padding-top: 30px;
  }
  .technique-top-row {
    padding-bottom: 20px;
  }
  .technique-top-left {
    width: 55%;
  }
  .technique-top-right {
    width: 45%;
  }
  .technique-prev {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
  .technique-single {
    padding: 30px;
  }
  .technique-list {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }
  .technique-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .technique-body {
    padding-bottom: 50px;
  }
  .technique-nav-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding: 12px 15px;
  }
  .technique-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }
  .technique-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .technique-add {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  .technique-add-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .technique-add-icon {
    top: -1px;
  }
  .technique-total {
    margin-top: 15px;
  }
  .technique-total-side {
    min-width: 100px;
  }
  .technique-num {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  }
  .technique-table-top span {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }
  .technique-table-item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .user-picture-icon {
    min-width: 60px;
    width: 60px;
    height: 60px;
  }
  .user-name {
    margin-right: 10px;
  }
  .user-edit {
    margin-right: 15px;
  }
  .user-status {
    font-size: 12px;
  }
  .user-list {
    margin-top: 23px;
    margin-bottom: 5px;
  }
  .cost-right {
    margin-top: 20px;
  }
  .cost-info {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .cost-body {
    display: block;
  }
  .cost-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .cost-pass {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
  .cost-icon {
    min-width: 20px;
    width: 20px;
    height: 20px;
    background-size: contain;
  }
  .modus-top {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .modus-edit::after {
    margin-left: 10px;
    margin-right: 12px;
    height: 12px;
    top: 2px;
  }
  .modus-edit-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .modus-delete-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .modus-cell:nth-child(2) {
    width: calc(34.22%- 20px);
  }
  .modus-cell:nth-child(3) {
    width: calc(37.1666% - 20px);
  }
  .modus-prev {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .modus-value {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }
  .feedback-nav-btn {
    background: #0F1514;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    padding: 12px 15px;
  }
  .feedback-icon {
    width: 36px;
    height: 36px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  .feedback-name {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  .feedback-review {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
  }
  .feedback-review-picture {
    margin-right: 15px;
  }
  .feedback-review-icon {
    min-width: 22px;
    width: 22px;
    height: 22px;
    background-size: 45%;
  }
  /* Steps */
  /* Step 1 */
  .ways-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
  }
  .ways-nav {
    width: 650px;
  }
  .ways-nav-item {
    width: calc(33.3333% - 30px);
  }
  .ways-nav-item:nth-child(1) {
    width: calc(33.3333% - 30px);
  }
  .ways-nav-item:nth-child(2):before {
    width: 201px;
    right: 124px;
  }
  .ways-nav-item:nth-child(3):before {
    width: 206px;
    right: 108px;
  }
  .ways-nav-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
  }
  .sellbuy-list {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    word-break: break-word;
  }
  .sellbuy-item {
    width: calc(20% - 16px);
  }
  .sellbuy-lbl {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sellbuy-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding-top: 3px;
  }
  .sellbuy-custom {
    min-width: 26px;
    width: 26px;
    height: 26px;
  }
  .sellbuy-custom:after {
    min-width: 12px;
    width: 12px;
    height: 12px;
  }
  .sellbuy-double-left {
    width: 25%;
  }
  .sellbuy-double-right {
    width: auto;
  }
  .moreless-field {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }
  /* Step 2 */
  .ways-left {
    width: 35%;
  }
  .ways-right {
    width: 65%;
  }
  /* Step 3 */
  .details-body {
    padding: 16px;
  }
  .details-title {
    margin: 0 0 12px 0;
  }
  .details-field {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .details-num {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .accept-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
  }
  /* Progress */
  .progress-title {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
  }
  .progress-left {
    width: 35%;
  }
  .progress-right {
    width: 65%;
  }
  .progress-nav {
    padding: 15px;
  }
  .progress-nav-button {
    font-weight: 400;
    font-size: 14px;
  }
  .progress-nav-icon:after {
    min-width: 10px;
    width: 10px;
    height: 10px;
  }
  .progress-single {
    padding: 15px;
  }
  .progress-nums-item {
    width: auto;
  }
  .progress-nums-prev {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .progress-nums-value {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
  }
  .progress-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .progress-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
  .progress-info-descr {
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
  }
  .progress-numbers {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .progress-down {
    padding-bottom: 60px;
  }
  .salvaging-list {
    margin-top: 0;
    margin-bottom: 0;
  }
  .salvaging-end {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .salvaging-balance {
    margin-top: 6px;
  }
  .salvaging-text {
    margin-right: 0;
  }
  .reserved-body {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
  .reserved-left {
    width: 45%;
  }
  .reserved-right {
    width: 55%;
  }
  .reserved-value {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }
  .reserved-btn {
    width: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  .agent-text {
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  /* p2p changes */
  .easy-info-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .easy-info-left {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .easy-info-right {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .easy-info-center {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .easy-wrapper-left {
    width: 40%;
  }
  .easy-more {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: -10px;
    margin-top: 0;
  }
  .easy-subitem {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .easy-subitem:nth-child(1), .easy-subitem:nth-child(2), .easy-subitem:nth-child(3), .easy-subitem:nth-child(4) {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .easy-subitem:nth-child(3) {
    margin-bottom: 0;
  }
  .easy-subitem:nth-child(4) {
    margin-bottom: 15px;
  }
  .easy-btn {
    min-width: 133px;
  }
  .easy-end {
    margin-top: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }
  /* Technique */
  .technique-top-row {
    display: block;
  }
  .technique-top-left {
    width: 100%;
  }
  .technique-top-right {
    width: 100%;
    text-align: left;
  }
  .technique-item {
    width: calc(33.3333% - 20px);
  }
  .technique-nav-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .technique-nav-item {
    width: calc(100% - 16px);
  }
  .technique-nav-btn {
    min-width: 271px;
  }
  .technique-user-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .technique-user-status {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .technique-user-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
  .technique-table-top span {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .technique-table-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cost-info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .cost-right {
    margin-top: 15px;
    margin-left: 0;
  }
  .modus-row {
    display: block;
  }
  .modus-left {
    width: 100%;
  }
  .modus-right {
    width: 100%;
  }
  .modus-exam {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 5px;
  }
  .modus-wrapper {
    display: block;
  }
  .modus-cell {
    width: calc(100% - 20px);
  }
  .modus-cell:nth-child(1), .modus-cell:nth-child(2), .modus-cell:nth-child(3) {
    width: calc(100% - 20px);
  }
  .modus-prev {
    margin-bottom: 0;
  }
  .feedback-left {
    width: 100%;
  }
  .feedback-right {
    width: 100%;
  }
  .feedback-nav-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  /* Steps */
  /* Step 1 */
  .ways-nav {
    width: auto;
  }
  .ways-nav-list {
    display: block;
  }
  .ways-nav-item {
    width: calc(100% - 30px);
    margin-bottom: 20px;
  }
  .ways-nav-item:before {
    content: none;
  }
  .ways-nav-item:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: #414141;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: absolute;
    left: 33px;
    bottom: -30px;
  }
  .ways-nav-item:nth-child(1) {
    width: calc(100% - 30px);
  }
  .ways-nav-item:last-child {
    margin-bottom: 0;
  }
  .ways-nav-item:last-child:after {
    content: none;
  }
  .ways-nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .ways-nav-decor {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 15px;
    margin-top: 0;
  }
  .ways-nav-text {
    min-height: auto;
    text-align: left;
  }
  .ways-help {
    margin-top: 0;
  }
  .sellbuy-item {
    width: calc(33.3333% - 16px);
  }
  .sellbuy-double-left {
    width: auto;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* Step 2 */
  .ways-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
    margin-top: 21px;
  }
  .ways-left {
    width: 100%;
  }
  .ways-right {
    width: 100%;
    margin-top: 10px;
  }
  .ways-more {
    text-align: center;
  }
  .ways-help-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
  }
  .ways-help-single .ways-help-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .modal-payment .modal-close {
    top: 16px;
    right: 15px;
  }
  .modal-payment .modal-body {
    width: 320px;
    padding: 15px;
  }
  .payment-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
  .payment-info {
    padding: 15px;
  }
  .payment-list {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
  }
  .payment-item:after {
    top: 13px;
    bottom: auto;
  }
  .payment-wrapper {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .payment-more {
    display: block;
    text-align: center;
  }
  .payment-btn {
    width: 196px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
  }
  .payment-btn-gray {
    margin-bottom: 15px;
  }
  .process-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
  }
  .process-list {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
  .process-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .process-item:before {
    position: relative;
    top: 3px;
  }
  .process-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }
  .process-row {
    display: block;
  }
  .process-row .process-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  .process-left {
    width: 100%;
  }
  .process-right {
    width: 100%;
    margin-top: 15px;
  }
  .process-sublist {
    margin-bottom: 5px;
  }
  .process-sublist .process-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .process-subitem {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin: 1px 5px;
  }
  .process-subitem:first-child {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 9px;
  }
  .process-btn.active {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 11px;
  }
  .way {
    margin-top: 55px;
  }
  .way-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
  }
  .way-title:before {
    top: 2px;
  }
  .way-lbl {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
  .way-field {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
  }
  .way-more {
    display: block;
    text-align: center;
  }
  .way-btn {
    width: 164px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .way-btn:first-child {
    margin-bottom: 15px;
  }
  /* Step 3 */
  .modal-accept .modal-body {
    width: 320px;
    padding: 15px;
  }
  .modal-accept .modal-close {
    top: 15px;
    right: 15px;
  }
  .accept-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    margin-top: 5px;
  }
  .accept-text {
    padding: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 25px;
  }
  .accept-list {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding-bottom: 5px;
  }
  .accept-item {
    margin: 8px 0;
  }
  .accept-info {
    padding: 11px 14px;
  }
  .accept-wrapper {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .accept-right {
    text-align: right;
  }
  .accept-more {
    margin-top: 15px;
  }
  .accept-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 164px;
  }
  .accept-btn:first-child {
    margin-bottom: 10px;
  }
  .accept-bank {
    display: block;
    text-align: right;
  }
  /* Progress */
  .progress-top {
    background: #0F1514;
  }
  .progress-top-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .progress-top-left {
    width: 100%;
  }
  .progress-top-right {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .progress-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-top: 12px;
  }
  .progress-body {
    padding-top: 0;
  }
  .progress-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .progress-left {
    width: 100%;
  }
  .progress-right {
    width: 100%;
    padding-top: 20px;
  }
  .reserved-row {
    display: block;
    text-align: center;
  }
  .reserved-left {
    width: 100%;
  }
  .reserved-right {
    width: 100%;
    margin-top: 11px;
  }
  .reserved-more {
    text-align: center;
  }
}

@media (max-width: 520px) {
  /* Steps */
  /* Step 1 */
  .ways {
    padding-top: 15px;
    padding-bottom: 40px;
  }
  .ways-content {
    padding: 15px;
  }
  .ways-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;
    margin-bottom: 15px;
  }
  .ways-nav-item:after {
    left: 22px;
    bottom: -30px;
    height: 40px;
  }
  .ways-nav-decor {
    min-width: 31px;
    width: 31px;
    height: 31px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
  }
  .ways-nav-text {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .sellbuy-nav-btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    padding: 12px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .sellbuy-item {
    width: calc(50% - 16px);
  }
  .sellbuy-text {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
  }
  .sellbuy-double {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10px;
  }
  .sellbuy-double-right .sellbuy-lbl {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .sellbuy-double .sellbuy-subtitle {
    min-height: 34px;
  }
  .sellbuy-double-second {
    margin-top: 0;
  }
  .sellbuy-double-second .sellbuy-subtitle {
    min-height: 0;
  }
  .sellbuy-double-left {
    padding-right: 0;
    width: 50%;
  }
  .sellbuy-double-right {
    text-align: right;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
  }
  .sellbuy-subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .sellbuy-price {
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;
  }
  .sellbuy-single:last-child {
    margin-top: 19px;
  }
  /* Step 2 */
  .ways-more {
    margin-left: -10px;
    margin-right: -10px;
  }
  .ways-btn {
    margin: 10px;
    width: 196px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* Step 3 */
  .details-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .final {
    margin-top: 25px;
  }
  .final-more {
    text-align: center;
    margin-left: -5px;
    margin-right: -5px;
  }
  .final .ways-btn {
    width: auto;
    padding: 9px 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 0;
  }
  /* Progress */
  .progress-back-icon {
    width: 23px;
    height: 23px;
    background-color: #0F1514;
    border: 1px solid #303642;
    border-radius: 5px;
  }
  .progress-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }
  .progress-nav-item:after {
    height: 20px;
  }
  .progress-nums-item {
    min-width: 70px;
  }
  .progress-nums-prev {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    min-height: 35px;
  }
  .progress-nums-value {
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
  }
  .progress-list {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }
  .progress-info-btn {
    width: 168px;
  }
  .progress-single {
    margin-bottom: 14px;
  }
  .progress-field {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 10px 12px;
  }
  .progress-numbers {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .progress-down {
    padding-bottom: 40px;
  }
  .salvaging-all {
    top: 12px;
    right: 58px;
  }
  .salvaging-end {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .salvaging-balance {
    margin-top: 5px;
  }
  .salvaging-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 5px;
  }
  .reserved {
    padding: 20px 0 0px 0;
  }
  .reserved-body {
    padding: 10px 0 12px 0;
  }
  .reserved-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .agent-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 410px) {
  /* p2p changes */
  .listing-main-item {
    padding-bottom: 40px;
  }
  .listing-main-item:last-child {
    padding-bottom: 35px;
  }
  .listing-percent {
    margin-bottom: 25px;
  }
  .listing-buy {
    bottom: auto;
  }
  .easy {
    margin-top: 40px;
    margin-bottom: -20px;
  }
  .easy-right {
    padding-bottom: 0;
  }
  .easy-list {
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
  }
  .easy-name {
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
  }
  .easy-desigion {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
  }
}

@media (max-width: 350px) {
  /* p2p changes */
  .easy-btn {
    min-width: auto;
  }
  /* Technique */
  .technique-user-status, .technique-user-btn {
    font-size: 12px;
  }
  .cost-text {
    font-size: 12px;
  }
  .goobad-line {
    width: 105px;
  }
  .feedback-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feedback-left {
    width: 100%;
  }
  .feedback-right {
    width: 100%;
    margin-top: 10px;
  }
  .feedback-nav-btn {
    min-width: auto;
    width: 100%;
  }
  /* Steps */
  /* Step 1 */
  .ways-title {
    font-size: 20px;
  }
  .sellbuy-nav-btn {
    padding: 10px 12px;
  }
  /* Step 2 */
  .modal-payment .modal-close {
    top: 16px;
    right: 15px;
  }
  .modal-payment .modal-body {
    width: 290px;
    padding: 15px;
  }
  .payment-name {
    font-size: 12px;
  }
  .payment-list {
    font-size: 12px;
  }
  /* Step 3 */
  .details-title {
    font-size: 13px;
  }
  .details-wrapper {
    display: block;
  }
  .details-right {
    margin-top: 10px;
  }
  .modal-accept .modal-body {
    width: 290px;
    padding: 15px;
  }
  /* Progress */
  .reserved-btn {
    padding-left: 15px;
    padding-right: 15px;
  }
  .agent-text {
    font-size: 10px;
  }
}
/*# sourceMappingURL=mediadate.css.map */