
/* Подключаем шрифт */

@font-face{
    font-family: 'Custom-fonts';
    src: url('../fonts/9533.ttf');
    src: url('../fonts/9533.ttf') format('ttf'),
    url('../fonts/9533.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
a, a:hover {
    transition: all 0.3s;
}
/* Основные стили */

body {
    font-family: 'Custom-fonts';
    background: url(../img/body-bg.jpg);
    font-size: 18px;
}
.container-fluid {
    padding: 0;
    background: url(../img/14.png) top left no-repeat;
}
.row {
    padding: 0;
}
.content {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
h1 {
    color: #1b458b;
    font-size: 38px;
    text-transform: uppercase;
    font-weight: bold;
}
h2 {
    text-transform: uppercase;
    font-size: 46px;
    font-family: Arial, sans-serif;
}
/* Шапка сайта */

header {
    padding: 10px 0;
    
    position: relative;
    z-index: 1000;
}
.header-title {
    font-size: 32px;
    margin-left: 20px;
    font-weight: bold;
}

/* Меню */

.navbar {
    justify-content: center;
}
.navbar-item {
    margin: 10px 25px;
    text-transform: uppercase;
    font-size: 18px;
}
.navbar-link, .navbar-link:hover {
    color: #000000;
}


/* Секции */

.prev {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10px 0;
}
.prev-descr {
    font-size: 20px;
    padding-right: 60px;
}
.prev-button {margin-top: 35px;}
.prev-button_link {
    color: #fff;
    background: #1b458b;
    padding: 15px 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Arial;
    text-decoration: none;
}
.prev-button_link:hover {
    color: #fff;
    background: #2c61b9;
    text-decoration: none;
}
.prev-image {
    display: flex;
    margin-left: -80px;
    align-items: flex-end;
    margin-top: -60px;
}
.prev-image_item img {
    width: 100%;
}
.production {
    margin: 10px 0;
}
.production-body {
    margin: 20px auto;
    width: 76%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.production-body a {
    text-decoration: none;
    color: #292929;
}
.production-body_item {
    background: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    margin: 20px 10px;
    border: 1px solid #d7d7d7;
    box-shadow: 2px 2px 10px 2px #cbcbcb;
    width: 30%;
}
.production-body_item:hover {box-shadow: 2px 2px 10px 2px #bcbcbc;}
.production-body_first { width: 100%; }
.production-body_image {
    width: 100%;
    max-width: 490px;
}
.production-body_title {
    color: #1b458b;
    font-size: 26px;
    font-family: Arial;
    padding: 0 10px;
}
.production-body_descr {
    padding: 10px 10px 0 10px;
}
.about {
    background: url(../img/7.jpg) left bottom no-repeat;
    background-size: cover;
    padding: 80px 0 120px 0;
    margin: 10px 0;
}
.about-image {
    padding-top: 20px;
}
.better {margin-top: 30px;}
.better-body {
    display: flex;
    padding: 20px 0;
    margin: 0 auto;
    width: 90%;
}
.better-body_item {
    display: flex;
    margin: 20px;
    font-size: 20px;
    align-items: center;
}
.better-body_text {
    padding: 0 80px 0 20px;
}

/* Подвал */

footer {
    padding: 20px 0 60px 0;
    background: url(../img/12.png) center bottom no-repeat;
    background-size: cover;
}
footer small {
    font-size: 16px;
}
.footer-images {
    margin: 5px;
    width: 15px;
}

.footer-phones_number {
    font-size: 24px;
    font-family: Arial;
}
.footer-phones_number a {
    color: #000;
}
.footer-phones_adress {padding-right: 260px;}
.footer-form_title {
    font-size: 44px;
    margin: 0;
    padding: 0;
}
.footer-down {
    margin-top: 40px;
}
.footer-down_form {
    width: 100%;
    padding: 8px 10px;
    margin-top: 10px;
    border: 1px solid #d7d7d7;
}
footer .prev-button_link {
    text-transform: none;
    padding: 15px 40px;
}