
/* Подключаем шрифт */

@font-face{
    font-family: 'Custom-fonts';
    src: url('../fonts/9533.ttf');
    src: url('../fonts/9533.ttf') format('ttf'),
    url('../fonts/9533.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
a, a:hover {
    transition: all 0.3s;
}

/* Основные стили */

body {
    font-family: 'Custom-fonts';
    background: url(../img/body-bg.jpg);
    font-size: 18px;
}
.container-fluid {
    padding: 0;
    background: url(../img/14.png) top left no-repeat;
}
.row {
    padding: 0;
}
.content {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}
h1 {
    color: #1b458b;
    font-size: 43px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
h2 {
    text-transform: uppercase;
    font-size: 48px;
    font-family: Arial, sans-serif;
}
/* Шапка сайта */

header {
    padding: 10px 0;
    position: relative;
    z-index: 1000;
}
.header-title {
    font-size: 34px;
    margin-left: 10px;
    font-weight: bold;
    line-height: 1.2;
}

/* Меню */
nav {margin: 10px 0;}
.nav-back {display: none;}
.navbar {
    justify-content: center;
    margin-left: -20px;
}
.navbar-item {
    margin: 10px 20px;
    text-transform: uppercase;
    font-size: 19px;
}
.navbar-link, .navbar-link:hover {
    color: #000000;
}


/* Секции */

.prev {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10px 0 0 0;
}
.prev-title {padding: 10px 0 0 0;}
.prev-descr {
    font-size: 20px;
    padding-right: 220px;
    line-height: 1.2;
}
.prev-button {margin-top: 40px;}
.prev-button_link {
    color: #fff;
    background: #1b458b;
    padding: 17px 38px;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Arial;
    text-decoration: none;
}
.prev-button_link:hover {
    color: #fff;
    background: #2c61b9;
    text-decoration: none;
}
.prev-image {
    display: flex;
    margin-left: -123px;
    align-items: flex-end;
    margin-top: -70px;
}
.prev-image_small {
    margin-right: -75px; 
    margin-bottom: 0;
    position: relative;
    z-index: 100;
}
.production {
    margin: 0;
}
.production-body {
    margin: 20px auto;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.production-body a {
    text-decoration: none;
    color: #292929;
}
.production-body_item {
    background: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    margin: 20px 5px;
    border: 1px solid #d7d7d7;
    box-shadow: 2px 2px 10px 2px #cbcbcb;
    width: 31%;
}
.production-body_item:hover {box-shadow: 2px 2px 10px 2px #bcbcbc;}
.production-body_first { 
    width: 100%; 
    padding: 10px 0 0 0;
}
.production-body_first .production-body_title {
    font-size: 30px;
}
.production-body_first .production-body_descr {
    padding: 0;
    margin: 0;
}
.production-body_image {
    width: 100%;
    max-width: 490px;
}
.production-body_title {
    color: #1b458b;
    font-size: 24px;
    font-family: Arial;
    padding: 0 10px;
    
    line-height: 1.2;
}
.production-body_descr {
    padding: 10px;
    font-size: 17px;
    margin: 0;
}
.about {
    background: url(../img/7.jpg) left bottom no-repeat;
    background-size: cover;
    padding: 60px 0 95px 0;
    margin: 40px 0 0 0;
}
.about-image {
    padding-top: 50px;
}
.about .col-8 {
    padding: 0;
}
.about-title {padding-bottom: 30px;}
.about-text {
    margin-left: -10px;
    font-size: 20px;
    padding-right: 60px;
    line-height: 1;
}
.about-text p {
    padding: 3px 0;
}
.about-button {margin-top: 50px;}
.better {margin-top: 50px;}
.better-body {
    display: flex;
    padding: 20px 0;
    margin: 0 auto;
    width: 86%;
}
.better-body_item {
    display: flex;
    margin: 20px 5px;
    font-size: 22px;
    align-items: center;
}
.better-body_text {
    padding: 0 60px 0 20px;
}

/* Подвал */

footer {
    padding: 70px 0 60px 0;
    background: url(../img/12.png) center bottom no-repeat;
    background-size: cover;
}
.footer-left {padding: 20px 0 0 40px;}
.footer-right {padding: 0;}
.footer-phones {margin-bottom: 25px;}
footer small {
    font-size: 16px;
}
.footer-images {
    margin: 0  3px 10px 10px;
    width: 20px;
}
.footer-phone_img {width: 18px;}
.footer-adress_img {width: 23px;}

.footer-phones_number {
    font-size: 24px;
    font-family: Arial;
    padding: 0;
    margin: 0;
    line-height: 1;
}
.footer-phones_number a {
    color: #000;
    font-size: 26px;
}
.footer-phones_adress {padding-right: 280px;}
.footer-form_title {
    font-size: 48px;
    margin: 5px 0 0 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.footer-down {
    margin-top: 35px;
}
.footer-down_form {
    width: 80%;
    padding: 8px 10px;
    margin-top: 10px;
    border: 1px solid #d7d7d7;
}
footer .prev-button_link {
    text-transform: none;
    padding: 15px 40px;
}