@media (max-width: 1280px) {
  .header-item {
    margin-left: 20px;
  }
  .nav-link {
    padding: 12px 30px;
  }
  .better-picture {
    position: relative;
    left: 20px;
  }
  .better-image {
    width: 100%;
  }
  .better-decor {
    top: -5px;
  }
  .types-nav {
    font-size: 16px;
  }
  .glad-picture {
    height: 100%;
  }
  .glad-image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .clients-arrows {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .clients-arrow {
    position: static;
    margin: 0 10px;
  }
  .works-item {
    width: calc(25% - 30px);
  }
  .works-image {
    width: 100%;
    height: 175px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .brands-arrows {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .brands-arrow {
    position: static;
    margin: 0 10px;
  }
  .steps-item:after {
    left: 145px;
  }
}

@media (max-width: 1100px) {
  .header-left {
    width: 31%;
  }
  .header-right {
    width: 69%;
  }
  .header-item {
    margin-left: 10px;
  }
  .header-btn {
    font-size: 12px;
    padding: 16px 13px;
  }
  .promo-title {
    font-size: 26px;
  }
  .types-nav {
    font-size: 15px;
  }
  .types-nav-link {
    padding: 15px 10px;
  }
  .types-nav-item.active .types-nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
  .glad-left {
    padding: 26px 40px;
  }
  .also-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .also-item {
    width: calc(33.3333% - 30px);
  }
  .steps-item:after {
    left: 128px;
  }
}

@media (max-width: 992px) {
  .header-left {
    width: 37%;
  }
  .header-right {
    width: 63%;
  }
  .header-item {
    margin-left: 20px;
  }
  .header-item:first-child {
    display: none;
  }
  .logo-text {
    font-size: 12px;
  }
  .nav-list {
    font-size: 15px;
  }
  .nav-link {
    padding: 12px 20px;
  }
  .promo-body {
    padding: 25px 30px 30px 30px;
  }
  .promo-list {
    font-size: 16px;
  }
  .better-body {
    padding: 0 0 20px 0;
  }
  .better-row {
    display: block;
  }
  .better-row .col-4 {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  .better-row .col-8 {
    width: 100%;
  }
  .better-picture {
    position: static;
  }
  .types-nav {
    text-align: center;
  }
  .types-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .types-row .col-4:first-child {
    width: 100%;
  }
  .types-row .col-4:nth-child(2) {
    width: 50%;
  }
  .types-row .col-4:nth-child(3) {
    width: 50%;
  }
  .types-center {
    padding-left: 15px;
  }
  .glad-row .col-7 {
    width: 50%;
  }
  .glad-row .col-5 {
    width: 50%;
  }
  .clients-list {
    margin-left: 0;
    margin-right: 0;
  }
  .clients-item {
    margin: 15px 0;
  }
  .special-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .special-item {
    width: calc(50% - 30px);
  }
  .works-item {
    width: calc(33.3333% - 30px);
  }
  .steps-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .steps-item {
    width: calc(33.3333% - 30px);
  }
  .steps-item:after {
    content: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 15px 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.17);
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.17);
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
  }
  .header.show .header-right {
    display: block;
  }
  .header.show .header-down {
    display: block;
  }
  .header-mobile {
    display: block;
    position: absolute;
    top: 17px;
    right: 15px;
  }
  .header-mobile-icon {
    display: inline-block;
    min-width: 26px;
    width: 26px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/header-mobile-icon.png);
  }
  .header-left {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header-right {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: none;
  }
  .header-down {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: none;
  }
  .header-list {
    display: block;
    text-align: center;
  }
  .header-item {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header-item:first-child {
    display: block;
  }
  .header-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav {
    background-color: transparent;
    margin-top: 15px;
  }
  .nav-list {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .nav-link {
    background-color: transparent !important;
    color: #212834;
    padding: 3px 0;
  }
  .nav-drop:after {
    background-image: url(../img/nav-drop-blue.png);
    margin-right: -10px;
  }
  .drop {
    position: static;
  }
  .drop-body {
    background-color: transparent;
    padding: 5px 13px 8px 13px;
  }
  .drop-list {
    font-size: 14px;
    font-weight: 100;
  }
  .drop-link {
    color: #212834;
  }
}
/*# sourceMappingURL=media.css.map */