@media (max-width: 1280px) {
  .header-item {
    margin-left: 20px;
  }
  .nav-link {
    padding: 12px 30px;
  }
  .better-picture {
    position: relative;
    left: 20px;
  }
  .better-image {
    width: 100%;
  }
  .better-decor {
    top: -5px;
  }
  .types-nav {
    font-size: 16px;
  }
  .glad-picture {
    height: 100%;
  }
  .glad-image {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .clients-arrows {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .clients-arrow {
    position: static;
    margin: 0 10px;
  }
  .works-item {
    width: calc(25% - 30px);
  }
  .works-image {
    width: 100%;
    height: 175px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .brands-arrows {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 10px;
  }
  .brands-arrow {
    position: static;
    margin: 0 10px;
  }
  .steps-item:after {
    left: 145px;
  }
}

@media (max-width: 1100px) {
  .header-left {
    width: 31%;
  }
  .header-right {
    width: 69%;
  }
  .header-item {
    margin-left: 10px;
  }
  .header-btn {
    font-size: 12px;
    padding: 16px 13px;
  }
  .promo-title {
    font-size: 26px;
  }
  .types-nav {
    font-size: 15px;
  }
  .types-nav-link {
    padding: 15px 10px;
  }
  .types-nav-item.active .types-nav-link {
    padding-left: 10px;
    padding-right: 10px;
  }
  .glad-left {
    padding: 26px 40px;
  }
  .also-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .also-item {
    width: calc(33.3333% - 30px);
  }
  .steps-item:after {
    left: 128px;
  }
}

@media (max-width: 992px) {
  .header-left {
    width: 37%;
  }
  .header-right {
    width: 63%;
  }
  .header-item {
    margin-left: 20px;
  }
  .header-item:first-child {
    display: none;
  }
  .logo-text {
    font-size: 12px;
  }
  .nav-list {
    font-size: 15px;
  }
  .nav-link {
    padding: 12px 20px;
  }
  .promo-body {
    padding: 25px 30px 30px 30px;
  }
  .promo-list {
    font-size: 16px;
  }
  .better-body {
    padding: 0 0 20px 0;
  }
  .better-row {
    display: block;
  }
  .better-row .col-4 {
    width: 100%;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  .better-row .col-8 {
    width: 100%;
  }
  .better-picture {
    position: static;
  }
  .types-nav {
    text-align: center;
  }
  .types-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .types-row .col-4:first-child {
    width: 100%;
  }
  .types-row .col-4:nth-child(2) {
    width: 50%;
  }
  .types-row .col-4:nth-child(3) {
    width: 50%;
  }
  .types-center {
    padding-left: 15px;
  }
  .glad-row .col-7 {
    width: 50%;
  }
  .glad-row .col-5 {
    width: 50%;
  }
  .clients-list {
    margin-left: 0;
    margin-right: 0;
  }
  .clients-item {
    margin: 15px 0;
  }
  .special-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .special-item {
    width: calc(50% - 30px);
  }
  .works-item {
    width: calc(33.3333% - 30px);
  }
  .steps-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .steps-item {
    width: calc(33.3333% - 30px);
  }
  .steps-item:after {
    content: none;
  }
  .contacts-row {
    display: block;
  }
  .contacts-row .col-6 {
    width: 100%;
  }
  .contacts-area {
    text-align: left;
  }
  .contacts-map {
    max-width: 100%;
  }
  .category-item {
    width: calc(50% - 30px);
  }
}

@media (max-width: 768px) {
  .header {
    padding: 15px 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.17);
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.17);
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
  }
  .header.show .header-right {
    display: block;
  }
  .header.show .header-down {
    display: block;
  }
  .header-mobile {
    display: block;
    position: absolute;
    top: 17px;
    right: 15px;
  }
  .header-mobile-icon {
    display: inline-block;
    min-width: 26px;
    width: 26px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/header-mobile-icon.png);
  }
  .header-left {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .header-right {
    width: 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    display: none;
  }
  .header-down {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: none;
  }
  .header-list {
    display: block;
    text-align: center;
  }
  .header-item {
    margin-left: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .header-item:first-child {
    display: block;
  }
  .header-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav {
    background-color: transparent;
    margin-top: 15px;
  }
  .nav-list {
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  .nav-link {
    background-color: transparent !important;
    color: #212834;
    padding: 3px 0;
  }
  .nav-drop:after {
    background-image: url(../img/nav-drop-blue.png);
    margin-right: -10px;
  }
  .drop {
    position: static;
  }
  .drop-body {
    background-color: transparent;
    padding: 5px 13px 8px 13px;
  }
  .drop-list {
    font-size: 14px;
    font-weight: 100;
  }
  .drop-link {
    color: #212834;
  }
  .promo-body {
    background-position: top right;
    text-align: center;
  }
  .promo-block {
    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 10px;
    padding: 20px;
  }
  .promo-more-list {
    display: block;
    text-align: center;
  }
  .promo-more-item {
    display: inline-block;
    margin: 7px 10px;
  }
  .promo-tel {
    min-width: 269px;
  }
  .better-row .col-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
  .info-list {
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .info-item {
    width: calc(50% - 4px);
  }
  .types-nav {
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .glad-row {
    display: block;
  }
  .glad-row .col-7 {
    width: 100%;
  }
  .glad-row .col-5 {
    width: 100%;
  }
  .consult-row {
    display: block;
  }
  .consult-left {
    width: 100%;
  }
  .consult-right {
    width: 100%;
    text-align: left;
    margin-top: 20px;
  }
  .works-item {
    width: calc(50% - 30px);
  }
  .whywe-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .whywe-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .whywe-item:last-child {
    margin-bottom: 0;
  }
  .also-item {
    width: calc(50% - 30px);
  }
  .footer-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-row .col-5 {
    width: 100%;
    margin-bottom: 40px;
  }
  .footer-row .col-4 {
    width: 50%;
  }
  .footer-row .col-3 {
    width: 50%;
  }
  .category {
    margin-bottom: 50px;
  }
  .category-item {
    width: 100%;
  }
  .category-image {
    height: auto;
  }
}

@media (max-width: 520px) {
  .promo-body {
    padding: 25px 20px 30px 20px;
  }
  .types-row .col-4:nth-child(2) {
    width: 100%;
  }
  .types-row .col-4:nth-child(3) {
    width: 100%;
  }
  .works-more {
    text-align: center;
  }
  .brands-image {
    width: 170px;
    height: 125px;
  }
  .steps-item {
    width: calc(50% - 30px);
  }
  .consult {
    margin-top: 25px;
  }
  .consult-body {
    margin: 0 -15px;
    padding: 30px 15px;
    text-align: center;
  }
  .consult-right {
    text-align: center;
  }
  .footer {
    padding: 50px 0 35px 0;
  }
  .contacts-title {
    text-align: center;
  }
  .contacts-list {
    margin-top: 40px;
  }
  .contacts-item {
    margin-right: 15px;
  }
  .feedback-title {
    text-align: center;
  }
  .feedback-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .feedback-item {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 425px) {
  .types-title {
    text-align: center;
  }
  .types-nav {
    display: block;
  }
  .types-nav-link {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .clients-title {
    text-align: center;
  }
  .clients-body {
    text-align: center;
  }
  .consult-info {
    display: block;
  }
  .consult-icon {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .consult-title {
    font-size: 22px;
  }
  .special-title {
    text-align: center;
  }
  .special-body {
    text-align: center;
  }
  .works-title {
    text-align: center;
  }
  .works-list {
    margin-left: -10px;
    margin-right: -10px;
  }
  .works-item {
    width: calc(50% - 20px);
    margin: 10px;
  }
  .works-image {
    height: 100px;
  }
  .whywe-body {
    text-align: center;
    padding: 30px 20px;
  }
  .brands {
    margin: 30px 0 30px 0;
  }
  .brands-title {
    text-align: center;
  }
  .brands-body {
    text-align: center;
  }
  .also {
    text-align: center;
  }
  .contacts {
    margin-top: 50px;
  }
  .contacts-list {
    margin-top: 40px;
    display: block;
  }
  .contacts-item {
    margin-right: 0;
  }
  .feedback-end {
    display: block;
  }
  .feedback .policy {
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 375px) {
  .promo {
    margin-top: 0;
  }
  .promo .content {
    padding: 0;
  }
  .promo-title {
    font-size: 22px;
  }
  .promo-tel {
    min-width: auto;
    width: 100%;
  }
  .promo-btn {
    min-width: auto;
    width: 100%;
    font-size: 16px;
  }
  .info-number {
    font-size: 28px;
  }
  .types {
    margin: 35px 0 15px 0;
  }
  .glad {
    padding-bottom: 54px;
  }
  .special {
    margin: 60px 0 20px 0;
  }
  .special-item {
    width: 100%;
  }
  .also-body {
    padding: 20px 15px 1px 15px;
  }
  .also-item {
    width: 100%;
  }
  .steps-title {
    text-align: center;
  }
  .footer-row {
    text-align: center;
  }
  .footer-row .col-3 {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer-row .col-4 {
    width: 100%;
  }
  .footer-descr {
    max-width: 100%;
  }
  .footer-copy {
    max-width: 100%;
  }
  .footer-list {
    margin-top: 0;
  }
  .footer-title {
    margin-bottom: 10px;
  }
  .adress {
    margin-top: 0;
  }
  .adress-wrapper {
    display: block;
  }
  .adress-icon {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=media.css.map */