/* Fonts */

$mont-medium: 'Montserrat-Medium', Arial, Helvetica, sans-serif;
$mont-light: 'Montserrat-Light', Arial, Helvetica, sans-serif;
$mont-extra: 'Montserrat-ExtraBold', Arial, Helvetica, sans-serif;
$mont-bold: 'Montserrat-Bold', Arial, Helvetica, sans-serif;

$proxima-reg: 'ProximaNova-Regular', Arial, Helvetica, sans-serif;

$roboto-reg: 'Roboto-Regular', Arial, Helvetica, sans-serif;
$roboto-black: 'Roboto-Black', Arial, Helvetica, sans-serif;
$roboto-bold: 'Roboto-Bold', Arial, Helvetica, sans-serif;
$roboto-light: 'Roboto-Light', Arial, Helvetica, sans-serif;
$roboto-medium: 'Roboto-Medium', Arial, Helvetica, sans-serif;


@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url(../fonts/Montserrat-Light.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url(../fonts/Montserrat-ExtraBold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url(../fonts/ProximaNova-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Black';
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Light';
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
    box-sizing: border-box;
}
.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family: $roboto-reg;
}
input,
textarea {
    box-sizing: border-box;
    font-family: $roboto-reg;
}

/* Main styles */

html {
    scroll-behavior: smooth;
}
.content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1300px;
}
body {
    font-family: $roboto-reg;
    font-size: 14px;
    color: #212834;
    line-height: 1.4;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font-family: $mont-bold;
}
h2 {
    text-transform: uppercase;
    font-size: 22px;
}

/* Header */

.header {
    padding: 25px 0;
    &-mobile {
        display: none;
    }
    &-row {
        flex-wrap: wrap;
        align-items: center;
    }
    &-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &-icon {
        display: inline-block;
        min-width: 30px;
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        top: 3px;
        &-one {
            background-image: url(../img/header-icon-one.png);
            min-width: 24px;
            width: 24px;
        }
        &-thue {
            background-image: url(../img/header-icon-thue.png);
        }
    }
    &-item {
        margin-left: 76px;
        &:first-child {
            margin-left: 0;
        }
    }
    &-wrapper {
        display: flex;
    }
    &-descr {
        margin-left: 15px;
        letter-spacing: 0.1px;
    }
    &-text {
        display: block;
        color: #94b0ca;
    }
    &-tel {
        color: #000000;
        font-size: 15px;
        font-family: $roboto-medium;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #000000;
        }
    }
    &-mail {
        color: #94b0ca;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #94b0ca;
        }
    }
    &-btn {
        background-color: #212834;
        color: #ffffff;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.78px;
        padding: 16px 17px;
        box-sizing: border-box;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: #3e485a;
        }
    }
}
.logo {
    font-size: 14px;
    &-body {
        display: flex;
        align-items: center;
    }
    &-picture {
        position: relative;
        top: 1px;
    }
    &-descr {
        margin-left: 15px;
    }
    &-name {
        font-family: $mont-medium;
    }
    &-text {
        font-family: $mont-light;
        display: block;
    }
}

/* Menu */

.nav {
    background-color: #0091dc;
    margin-top: 20px;
    &-list {
        font-size: 16px;
        color: #ffffff;
        display: flex;
    }
    &-item {
        position: relative;
        &:nth-child(1),
        &:nth-child(3),
        &:nth-child(5) {
            & .nav-link {
                background-color: #009cec;
            }
        }
        & .nav-link {
            &:hover,
            &:focus {
                background-color: #0091dc;
            }
        }
    }
    &-link {
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        padding: 12px 58px;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: #0091dc;
        }
    }
    &-drop {
        &:after {
            content: '';
            display: inline-block;
            min-width: 6px;
            width: 6px;
            height: 6px;
            margin-left: 8px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/nav-drop.png);
            position: relative;
            top: -2px;
        }
    }
}
.drop {
    display: none;
    position: absolute;
    z-index: 10;
    width: 100%;
    &.visible {
        display: block;
    }
    &-body {
        background-color: #0083c6;
        color: #ffffff;
        padding: 8px 13px 15px 13px;
        box-sizing: border-box;
        font-size: 14px;
        font-family: $proxima-reg;
    }
    &-item {
        margin: 1px 0;
    }
    &-link {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #ffffff;
        }
    }
}

/* Sections */

.promo {
    margin-top: 10px;
    overflow: hidden;
    &-body {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/promo-bg.jpg);
        color: #ffffff;
        padding: 25px 51px 70px 51px;
        box-sizing: border-box;
        position: relative;
    }
    &-decor {
        display: inline-block;
        position: absolute;
        &-one {
            bottom: 0;
            left: -147px;
            width: 170px;
            height: 143px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/promo-icon-one.png);
        }
        &-thue {
            top: 0;
            right: -150px;
            width: 119px;
            height: 176px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/promo-decor-thue.png);
        }
    }
    &-block {
        max-width: 760px;
    }
    &-title {
        font-size: 39px;
        font-family: $mont-extra;
        line-height: 1.33;
        margin-bottom: 28px;
    }
    &-list {
        font-size: 18px;
        letter-spacing: 0.3px;
    }
    &-item {
        margin: 5px 0;
        &:before {
            content: '-';
        }
    }
    &-more {
        margin-top: 31px;
        letter-spacing: 0.3px;
        &-list {
            margin: 0 -10px;
            display: flex;
            align-items: center;
        }
        &-item {
            margin: 10px;
        }
    }
    &-tel {
        width: 240px;
        display: flex;
        align-items: center;
        border: 1px solid #0091dc;
        padding: 16px 20px 16px 20px;
        text-decoration: none;
        background-color: #ffffff;
        color: #666666;
        box-sizing: border-box;
        font-size: 18px;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: #dddddd;
        }
        &-icon {
            display: inline-block;
            min-width: 25px;
            width: 25px;
            height: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/promo-tel-icon.png);
            position: relative;
            top: -1px;
        }
        &-text {
            margin-left: 15px;
        }
    }
    &-btn {
        letter-spacing: 0.4px;
        min-width: 269px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0091dc;
        color: #ffffff;
        text-transform: uppercase;
        padding: 16px 20px 16px 20px;
        font-size: 18px;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: #11a0e7;
        }
        &-text {
            margin-right: 10px;
        }
        &-icon {
            display: inline-block;
            min-width: 25px;
            width: 25px;
            height: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/promo-btn-icon.png);
        }
    }
}
.better {
    margin: 20px 0;
    overflow: hidden;
    &-body {
        background-color: #f3f6f8;
        padding: 65px 0;
        box-sizing: border-box;
        position: relative;
    }
    &-picture {
        position: relative;
        left: -30px;
    }
    &-title {
        margin-top: -3px;
    }
    &-row {
        & .col-8 {
            padding-left: 37px;
        }
    }
    &-list {
        font-size: 16px;
        margin: 15px 0 22px 0;
    }
    &-item {
        margin: 5px 0;
        &:before {
            content: '-';
        }
    }
    &-decor {
        display: inline-block;
        width: 272px;
        height: 213px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/better-decor-one.png);
        position: absolute;
        top: 53px;
        right: -154px;
    }
}
.info {
    &-list {
        display: flex;
        max-width: 650px;
    }
    &-item {
        background-color: #ffffff;
        padding: 9px 15px 29px 15px;
        box-sizing: border-box;
        margin: 2px;
        width: calc(25% - 2px);
        &:nth-child(1) {
            background-color: #f7f9fa;
        }
        &:nth-child(2) {
            background-color: #fafbfc;
        }
        &:nth-child(3) {
            background-color: #fefefe;
        }
        &:nth-child(4) {
            background-color: #212834;
            color: #ffffff;
        }
    }
    &-number {
        font-size: 38px;
        font-family: $roboto-black;
    }
    &-text {
        margin: 3px 0 0 0;
        line-height: 1.5;
    }
    &-icon {
        display: inline-block;
        min-width: 35px;
        width: 35px;
        height: 29px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/info-icon.png);
        margin-top: 10px;
    }
    &-link {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid #ffffff;
        transition: all 0.5s;
        font-size: 14px;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
}
.types {
    margin: 90px 0 35px 0;
    overflow: hidden;
    &-body {
        position: relative;
    }
    &-nav {
        font-size: 18px;
        display: flex;
        border-bottom: 1px solid #d7e2e9;
        margin-top: 35px;
        &-item {
            &.active,
            &:hover,
            &:focus {
                & .types-nav-link {
                    background-color: rgb(0, 145, 220);
                    color: #ffffff;
                    box-shadow: 0px 6px 40px 0px rgba(0, 145, 220, 0.32);
                }
            }
            &.active {
                & .types-nav-link {
                    font-family: $roboto-bold;
                    padding-left: 25px;
                    padding-right: 25px;
                }
            }
        }
        &-link {
            display: inline-block;
            text-decoration: none;
            transition: all 0.5s;
            padding: 15px 14px;
            color: #212834;
        }
    }
    &-left {
        width: 30%;
    }
    &-center {
        width: 38%;
        padding-left: 8px;
    }
    &-right {
        width: 32%;
    }
    &-image {
        max-width: 350px;
        max-height: 350px;
        width: 100%;
        height: 100%;
        border: 1px solid #d9e3ea;
    }
    &-content {
        padding: 45px 0;
        display: none;
        &.active {
            display: block;
        }
    }
    &-name {
        font-size: 20px;
    }
    &-subtitle {
        margin-bottom: 0;
        font-size: 16px;
        font-family: $roboto-medium;
    }
    &-text {
        margin-top: 5px;
        font-size: 14px;
    }
    &-list {
        margin-top: 25px;
        font-size: 16px;
        font-family: $roboto-medium;
    }
    &-item {
        margin: 9px 0;
        &:before {
            content: '';
            display: inline-block;
            min-width: 20px;
            width: 20px;
            height: 15px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/types-item-before.png);
            margin-right: 10px;
            position: relative;
            top: 2px;
        }
    }
    &-decor {
        display: inline-block;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        &-one {
            width: 168px;
            height: 132px;
            top: -25px;
            left: -141px;
            background-image: url(../img/types-decor-one.png);
        }
        &-thue {
            top: 43px;
            right: -141px;
            width: 196px;
            height: 143px;
            background-image: url(../img/types-decor-thue.png);
        }
    }
}
.glad {
    overflow: hidden;
    padding-bottom: 100px;
    &-body {
        background-color: #f3f6f8;
        position: relative;
    }
    &-left {
        padding: 26px 57px;
        box-sizing: border-box;
    }
    &-title {
        margin-bottom: 25px;
    }
    &-subtitle {
        font-size: 16px;
        font-family: $roboto-medium;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    &-text {
        margin-top: 10px;
        margin-bottom: 8px;
        line-height: 1.6;
    }
    &-image {
        width: 630px;
        margin-bottom: -6px;
        height: 100%;
    }
    &-decor {
        position: absolute;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        &-one {
            width: 176px;
            height: 238px;
            background-image: url(../img/glad-decor-one.png);
            bottom: -72px;
            left: -113px;
        }
    }
}
.clients {
    overflow: hidden;
    margin: 24px 0 80px 0;
    &-body {
        position: relative;
    }
    &-list {
        overflow: hidden;
        margin: 0 -15px;
    }
    &-item {
        border: 1px solid #d7e2e9;
        margin: 15px;
    }
    &-wrapper {
        padding: 20px;
        box-sizing: border-box;
    }
    &-picture {
        min-height: 100px;
    }
    &-company {
        font-size: 18px;
        margin-top: 0;
    }
    &-name {
        color: #0091dc;
    }
    &-text {
        margin-top: 5px;
        line-height: 1.6;
    }
    &-arrows {
        position: absolute;
        top: 45%;
        width: 100%;
        box-sizing: border-box;
    }
    &-arrow {
        z-index: 100;
        display: inline-block;
        width: 50px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        position: absolute;
        &-left {
            left: -66px;
            background-image: url(../img/clients-arrow-left.png);
        }
        &-right {
            right: -92px;
            background-image: url(../img/clients-arrow-right.png);
        }
    }
}
.consult {
    background-color: #0091dc;
    color: #ffffff;
    padding: 30px 40px;
    margin: 0;
    font-size: 16px;
    &-row {
        align-items: center;
    }
    &-info {
        display: flex;
        align-items: center;
    }
    &-title {
        font-size: 24px;
        font-weight: 100;
        letter-spacing: 0.3px;
        margin: -3px 0 3px 0;
    }
    &-icon {
        display: inline-block;
        min-width: 45px;
        width: 45px;
        height: 45px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/consult-icon.png);
        margin-right: 28px;
    }
    &-text {
        margin: 0px 0 0px 1px;
    }
    &-btn {
        background-color: #f7f7f7;
        color: #000000;
        font-size: 14px;
        font-family: $roboto-bold;
        text-transform: uppercase;
        padding: 13px 25px;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: #ffffff;
        }
    }
}
.special {
    margin: 96px 0 20px 0;
    &-list {
        margin: 30px -15px;
        font-size: 16px;
        font-family: $roboto-medium;
        display: flex;
    }
    &-item {
        margin: 15px;
    }
    &-image {
        max-width: 300px;
        max-height: 188px;
        width: 100%;
        height: 100%;
    }
    &-text {
        margin-top: 10px;
        padding-right: 30px;
    }
    &-link {
        color: #212834;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        line-height: 1.6;
        &:hover,
        &:focus {
            border-bottom: 1px solid #212834;
        }
    }
}
.works {
    margin: 54px 0 50px 0;
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 33px -15px 15px -15px;
    }
    &-item {
        margin: 15px;
        width: calc(16.6666% - 30px)
    }
    &-image {
        width: 187px;
        height: 133px;
        border: 1px solid #d7e2e9;
    }
    &-more {
        margin-top: -7px;
        &-btn {
            background-color: #0091dc;
            color: #ffffff;
            text-transform: uppercase;
            font-family: $roboto-bold;
            font-size: 14px;
            padding: 14px 43px;
            transition: all 0.5s;
            letter-spacing: 0.3px;
            padding: 14px 41px;
            &:hover,
            &:focus {
                background-color: #11a0e7;
            }
        }
    }
}
.whywe {
    padding: 75px 0 50px 0;
    overflow: hidden;
    &-body {
        background-color: #212834;
        color: #ffffff;
        padding: 40px 38px;
        box-sizing: border-box;
        position: relative;
    }
    &-list {
        display: flex;
        margin: 50px -15px 25px -15px;
    }
    &-item {
        width: calc(33.3333% - 30px);
        margin: 0 15px;
    }
    &-icon {
        display: inline-block;
        min-width: 60px;
        width: 60px;
        height: 60px;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 0;
        &-one {
            background-image: url(../img/whywe-icon-one.png);
        }
        &-thue {
            background-image: url(../img/whywe-icon-thue.png);
        }
        &-three {
            background-image: url(../img/whywe-icon-three.png);
        }
    }
    &-subtitle {
        font-size: 16px;
        font-family: $roboto-bold;
        margin-top: 29px;
        margin-bottom: 5px;
    }
    &-text {
        margin-top: 5px;
        line-height: 1.61;
    }
    &-decor {
        position: absolute;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        &-one {
            top: -68px;
            right: -149px;
            width: 352px;
            height: 264px;
            background-image: url(../img/whywe-decor-one.png);
        }
    }
}
.brands {
    margin: 90px 0 60px 0;
    overflow: hidden;
    &-body {
        position: relative;
    }
    &-list {
        overflow: hidden;
        margin: 31px -15px;
    }
    &-item {
        margin: 15px;
    }
    &-image {
        width: 189px;
        height: 135px;
    }
    &-arrows {
        position: absolute;
        top: 34%;
        width: 100%;
        box-sizing: border-box;
    }
    &-arrow {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        position: absolute;
        &-left {
            left: -68px;
            background-image: url(../img/clients-arrow-left.png);
        }
        &-right {
            right: -94px;
            background-image: url(../img/clients-arrow-right.png);
        }
    }
}
.also {
    margin: 80px 0 80px 0;
    overflow: hidden;
    &-body {
        background-color: #f3f6f8;
        padding: 39px 30px 20px 30px;
        position: relative;
    }
    &-title {
        letter-spacing: 0.3px;
    }
    &-list {
        font-size: 16px;
        text-align: center;
        margin: 10px -15px;
        display: flex;
        justify-content: space-between;
    }
    &-item {
        margin: 30px 15px;
        width: calc(16.6666% - 30px);
    }
    &-image {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin-bottom: 0px;
    }
    &-text {
        line-height: 1.6;
    }
    &-link {
        color: #212834;
        text-decoration: none;
        border-bottom: 1px solid #212834;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
    &-decor {
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        &-one {
            top: -33px;
            left: -136px;
            width: 204px;
            height: 159px;
            background-image: url(../img/also-decor-one.png);
        }
    }
}
.steps {
    margin-top: 101px;
    margin-bottom: 58px;
    &-title {
        letter-spacing: 0.3px;
    }
    &-list {
        font-size: 16px;
        margin: 72px -15px 45px -15px;
        text-align: center;
        display: flex;
    }
    &-item {
        width: calc(16.6666% - 30px);
        margin: 15px;
        position: relative;
        &:after {
            position: absolute;
            top: 25px;
            left: 190px;
            content: '';
            display: inline-block;
            min-width: 30px;
            width: 30px;
            height: 22px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/steps-item-after.png);
        }
        &:last-child {
            &:after {
                content: none;
            }
        }
    }
    &-picture {
        position: relative;
        margin-bottom: 10px;
        width: 65px;
        margin-left: auto;
        margin-right: auto;
    }
    &-text {
        margin-top: 24px;
    }
    &-number {
        position: absolute;
        top: -15px;
        left: -15px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        background-color: #212834;
        color: #ffffff;
        text-align: center;
        font-size: 14px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-icon {
        display: inline-block;
        min-width: 65px;
        width: 65px;
        height: 65px;
        background-position: center;
        background-repeat: no-repeat;
        &-one {
            background-image: url(../img/steps-icon-one.png);
        }
        &-thue {
            background-image: url(../img/steps-icon-thue.png);
        }
        &-three {
            background-image: url(../img/steps-icon-three.png);
        }
        &-four {
            background-image: url(../img/steps-icon-four.png);
        }
        &-five {
            background-image: url(../img/steps-icon-five.png);
        }
        &-six {
            background-image: url(../img/steps-icon-six.png);
        }
    }
}

/* Footer */

.footer {
    background-color: #212834;
    color: #ffffff;
    padding: 50px 0 76px 0;
    &-logo {
        display: flex;
        align-items: center;
        &-image {
            margin-right: 15px;
            position: relative;
            top: -1px;
        }
        &-name {
            font-family: $mont-medium;
        }
        &-text {
            display: block;
            font-family: $mont-light;
        }
    }
    &-descr {
        font-family: $roboto-light;
        margin-top: 37px;
        line-height: 1.61;
        max-width: 84%;
    }
    &-copy {
        font-size: 12px;
        margin-top: 29px;
        line-height: 1.6;
        max-width: 72%;
    }
    &-title {
        display: inline-block;
        margin-top: 0;
        color: #94b0ca;
        font-family: $roboto-medium;
        font-size: 18px;
        font-weight: normal;
        text-transform: uppercase;
        border-bottom: 5px double #0091dc;
        padding-bottom: 3px;
        letter-spacing: 0.3px;
    }
    &-list {
        font-size: 14px;
        margin-top: 26px;
        letter-spacing: 0.3px;
    }
    &-item {
        margin: 8px 0;
    }
    &-link {
        text-decoration: none;
        border-bottom: 1px solid #ffffff;
        color: #ffffff;
        text-transform: uppercase;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
}
.adress {
    margin-top: 28px;
    line-height: 1.6;
    letter-spacing: 0.3px;
    &-item {
        margin: 10px 0 23px 0;
    }
    &-wrapper {
        display: flex;
    }
    &-icon {
        display: inline-block;
        min-width: 25px;
        width: 25px;
        height: 25px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 20px;
        position: relative;
        top: 3px;
        &-one {
            background-image: url(../img/adress-icon-one.png);
        }
        &-thue {
            background-image: url(../img/adress-icon-thue.png);
        }
    }
    &-link {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #ffffff;
        }
    }
}

/* Modal */

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #0091dc; /* Fallback color */
    background-color: rgba(0, 145, 220, 0.3); /* Black w/ opacity */
    text-align: center;
    &.show {
        display: block;
    }
    &-body {
        display: inline-block;
        background-color: #f9f9f9;
        width: 300px;
        box-shadow: 9px 14px 23px 7px rgba(0, 0, 0, 0.09);
        padding: 20px 28px;
        box-sizing: border-box;
        position: relative;
    }
    &-close {
        position: absolute;
        right: 0;
        top: 5px;
        &-icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url(../img/modal-close-icon.png);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &-title {
        text-align: center;
        color: #212834;
        font-size: 18px;
        font-weight: 700;
        font-family: $roboto-bold;
        text-transform: uppercase;
        margin-top: 10px;
    }
    &-item {
        margin: 10px 0;
    }
    &-field {
        font-size: 14px;
        padding: 10px 12px;
        box-sizing: border-box;
        background-color: #ffffff;
        border: 1px solid #dfe0e4;
        width: 100%;
        &::placeholder {
            color: #666666;
        }
    }
    &-more {
        text-align: center;
        margin-top: 28px;
        &-btn {
            font-size: 14px;
            font-family: $roboto-bold;
            color: #ffffff;
            text-transform: uppercase;
            background-color: #212834;
            padding: 12px 25px;
            border: 1px solid transparent;
            transition: all 0.5s;
            &:hover,
            &:focus {
                background-color: #3e485a;
            }
        }
    }
    &-subtitle {
        margin: 10px 0 0 0;
        font-size: 14px;
        font-family: $roboto-bold;
        font-weight: 700;
        color: #212834;
    }
    &-subtext {
        font-size: 14px;
        margin: 5px 0 10px 0px;
        color: #212834;
    }
}
.policy {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #333333;
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
    text-align: left;
    &-icon {
        display: inline-block;
        width: 11px;
        height: 15px;
        min-width: 11px;
        background-image: url(../img/policy-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
    }
    &-text {
        padding: 0;
        margin: 0;
    }
    &-link {
        color: #333333;
        text-decoration: none;
        border-bottom: 1px solid rgba(51, 51, 51, 0.5);
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
}

/* Pages */

.begin {
    &-title {
        color: #212834;
        font-size: 22px;
        font-family: $mont-bold;
        text-transform: uppercase;
        margin-bottom: 4px;
    }
    &-descr {
        color: #212834;
        line-height: 1.6;
    }
}
.breadcrumbs {
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -5px 20px -5px;
        font-size: 14px;
        color: #999999;
    }
    &-item {
        margin: 5px;
        &::before {
            content: '-';
            display: inline-block;
        }
        &:first-child {
            &::before {
                content: none;
            }
        }
    }
    &-link {
        color: #999999;
        text-decoration: none;
        border-bottom: 1px solid #999999;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
}
.contacts {
    margin-top: 30px;
    margin-bottom: 77px;
    &-row {
        margin-top: 80px;
    }
    &-title {
        font-size: 20px;
        color: #212834;
        margin-top: -7px;
        margin-bottom: 17px;
        text-transform: inherit;
    }
    &-area {
        text-align: right;
    }
    &-map {
        width: 100%;
        max-width: 500px;
        height: 500px;
    }
    &-list {
        font-size: 14px;
        display: flex;
    }
    &-item {
        margin-right: 63px;
        margin-top: 16px;
        margin-bottom: 22px;
        &:last-child {
            margin-right: 0;
        }
    }
    &-wrapper {
        display: flex;
    }
    &-picture {
        margin-right: 10px;
    }
    &-icon {
        display: inline-block;
        min-width: 26px;
        width: 26px;
        height: 26px;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        top: 2px;
        &-one {
            background-image: url(../img/contacts-icon-one.png);
        }
        &-thue {
            background-image: url(../img/contacts-icon-thue.png);
        }
    }
    &-text {
        margin: 0;
        line-height: 1.75;
    }
    &-tel {
        margin: 0;
        font-size: 16px;
        letter-spacing: 0.3px;
        &-link {
            color: #212834;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid #212834;
            }
        }
    }
    &-mail {
        margin: 5px 0 0 0;
        &-link {
            color: #212834;
            text-decoration: none;
            border-bottom: 1px solid #212834;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
.feedback {
    margin-top: 54px;
    &-title {
        font-size: 20px;
        color: #212834;
        text-transform: inherit;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 24px -18px;
    }
    &-item {
        width: calc(50% - 36px);
        margin: 10px 18px;
        &-full {
            width: 100%;
        }
    }
    &-field {
        border-width: 1px;
        border-color: #d7e2e9;
        border-style: solid;
        background-color: rgb(255, 255, 255);
        width: 100%;
        height: 37px;
        padding: 13px 15px;
        box-sizing: border-box;
        font-size: 14px;
        &-area {
            min-height: 85px;
        }
        &::placeholder {
            color: #a5a5a5;
        }
    }
    &-btn {
        background-color: #212834;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 13px;
        padding: 10px 19px;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: #3e485a;
        }
    }
    &-end {
        display: flex;
        align-items: center;
        margin-top: -5px;
    }
    & .policy {
        width: 270px;
        color: #999999;
        margin-left: 25px;
        margin-top: 0;
        margin-bottom: 0;
        &-icon {
            background-image: url(../img/feedback-policy-icon.png);
        }
        &-link {
            color: #999999;
        }
    }
}
.category {
    margin-top: 31px;
    margin-bottom: 92px;
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 30px -15px;
        line-height: 1.6;
    }
    &-item {
        width: calc(33.3333% - 30px);
        border: 1px solid #d7e2e9;
        margin: 22px 14px;
    }
    &-wrapper {
        padding: 35px 25px;
        box-sizing: border-box;
    }
    &-image {
        width: 100%;
        height: 203px;
    }
    &-name {
        color: #212834;
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    &-more {
        margin-top: 23px;
        &-link {
            font-family: $roboto-bold;
            color: #0091dc;
            text-decoration: none;
            border-bottom: 1px solid #0091dc;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
.news {
    margin-top: 50px;
    &-item {
        margin: 50px 0;
    }
    &-wrapper {
        display: flex;
    }
    &-picture {
        margin-right: 30px;
    }
    &-image {
        width: 270px;
        height: 130px;
    }
    &-title {
        margin-top: -2px;
        font-family: $roboto-medium;
        font-size: 16px;
        font-weight: normal;
    }
    &-name {
        text-decoration: none;
        color: #15354f;
        border-bottom: 1px solid #0091dc;
        padding-bottom: 3px;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
    &-text {
        line-height: 1.6;
    }
    &-more {
        &-link {
            font-family: $roboto-medium;
            color: #0091dc;
            border-bottom: 1px solid #0091dc;
            text-decoration: none;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
.pagination {
    margin: 50px 0;
    &-list {
        display: flex;
        justify-content: center;
        font-family: $roboto-medium;
        font-size: 15px;
    }
    &-link {
        display: inline-block;
        box-sizing: border-box;
        text-decoration: none;
        color: #212834;
        padding: 5px 5px;
        background-color: transparent;
        transition: background-color 0.5s;
        &:hover,
        &:focus,
        &.active {
            background-color: #212834; 
            color: #ffffff;
        }
        &.active {
            padding: 5px 10px;
        }
    }
}

