/* Fonts */
@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../fonts/Montserrat-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url(../fonts/Montserrat-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url(../fonts/ProximaNova-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url(../fonts/Roboto-Black.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(../fonts/Roboto-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(../fonts/Roboto-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1300px;
}

body {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #212834;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
}

h2 {
  text-transform: uppercase;
  font-size: 22px;
}

/* Header */
.header {
  padding: 25px 0;
}

.header-mobile {
  display: none;
}

.header-row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-icon {
  display: inline-block;
  min-width: 30px;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
}

.header-icon-one {
  background-image: url(../img/header-icon-one.png);
  min-width: 24px;
  width: 24px;
}

.header-icon-thue {
  background-image: url(../img/header-icon-thue.png);
}

.header-item {
  margin-left: 76px;
}

.header-item:first-child {
  margin-left: 0;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-descr {
  margin-left: 15px;
  letter-spacing: 0.1px;
}

.header-text {
  display: block;
  color: #94b0ca;
}

.header-tel {
  color: #000000;
  font-size: 15px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-tel:hover, .header-tel:focus {
  border-bottom: 1px solid #000000;
}

.header-mail {
  color: #94b0ca;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-mail:hover, .header-mail:focus {
  border-bottom: 1px solid #94b0ca;
}

.header-btn {
  background-color: #212834;
  color: #ffffff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.78px;
  padding: 16px 17px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-btn:hover, .header-btn:focus {
  background-color: #3e485a;
}

.logo {
  font-size: 14px;
}

.logo-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-picture {
  position: relative;
  top: 1px;
}

.logo-descr {
  margin-left: 15px;
}

.logo-name {
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
}

.logo-text {
  font-family: "Montserrat-Light", Arial, Helvetica, sans-serif;
  display: block;
}

/* Menu */
.nav {
  background-color: #0091dc;
  margin-top: 20px;
}

.nav-list {
  font-size: 16px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-item {
  position: relative;
}

.nav-item:nth-child(1) .nav-link, .nav-item:nth-child(3) .nav-link, .nav-item:nth-child(5) .nav-link {
  background-color: #009cec;
}

.nav-item .nav-link:hover, .nav-item .nav-link:focus {
  background-color: #0091dc;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  padding: 12px 58px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus {
  background-color: #0091dc;
}

.nav-drop:after {
  content: '';
  display: inline-block;
  min-width: 6px;
  width: 6px;
  height: 6px;
  margin-left: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/nav-drop.png);
  position: relative;
  top: -2px;
}

.drop {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
}

.drop.visible {
  display: block;
}

.drop-body {
  background-color: #0083c6;
  color: #ffffff;
  padding: 8px 13px 15px 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-family: "ProximaNova-Regular", Arial, Helvetica, sans-serif;
}

.drop-item {
  margin: 1px 0;
}

.drop-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.drop-link:hover, .drop-link:focus {
  border-bottom: 1px solid #ffffff;
}

/* Sections */
.promo {
  margin-top: 10px;
  overflow: hidden;
}

.promo-body {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/promo-bg.jpg);
  color: #ffffff;
  padding: 25px 51px 70px 51px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.promo-decor {
  display: inline-block;
  position: absolute;
}

.promo-decor-one {
  bottom: 0;
  left: -147px;
  width: 170px;
  height: 143px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-icon-one.png);
}

.promo-decor-thue {
  top: 0;
  right: -150px;
  width: 119px;
  height: 176px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-decor-thue.png);
}

.promo-block {
  max-width: 760px;
}

.promo-title {
  font-size: 39px;
  font-family: "Montserrat-ExtraBold", Arial, Helvetica, sans-serif;
  line-height: 1.33;
  margin-bottom: 28px;
}

.promo-list {
  font-size: 18px;
  letter-spacing: 0.3px;
}

.promo-item {
  margin: 5px 0;
}

.promo-item:before {
  content: '-';
}

.promo-more {
  margin-top: 31px;
  letter-spacing: 0.3px;
}

.promo-more-list {
  margin: 0 -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-more-item {
  margin: 10px;
}

.promo-tel {
  width: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0091dc;
  padding: 16px 20px 16px 20px;
  text-decoration: none;
  background-color: #ffffff;
  color: #666666;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-tel:hover, .promo-tel:focus {
  background-color: #dddddd;
}

.promo-tel-icon {
  display: inline-block;
  min-width: 25px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-tel-icon.png);
  position: relative;
  top: -1px;
}

.promo-tel-text {
  margin-left: 15px;
}

.promo-btn {
  letter-spacing: 0.4px;
  min-width: 269px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0091dc;
  color: #ffffff;
  text-transform: uppercase;
  padding: 16px 20px 16px 20px;
  font-size: 18px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-btn:hover, .promo-btn:focus {
  background-color: #11a0e7;
}

.promo-btn-text {
  margin-right: 10px;
}

.promo-btn-icon {
  display: inline-block;
  min-width: 25px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-btn-icon.png);
}

.better {
  margin: 20px 0;
  overflow: hidden;
}

.better-body {
  background-color: #f3f6f8;
  padding: 65px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.better-picture {
  position: relative;
  left: -30px;
}

.better-title {
  margin-top: -3px;
}

.better-row .col-8 {
  padding-left: 37px;
}

.better-list {
  font-size: 16px;
  margin: 15px 0 22px 0;
}

.better-item {
  margin: 5px 0;
}

.better-item:before {
  content: '-';
}

.better-decor {
  display: inline-block;
  width: 272px;
  height: 213px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/better-decor-one.png);
  position: absolute;
  top: 53px;
  right: -154px;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 650px;
}

.info-item {
  background-color: #ffffff;
  padding: 9px 15px 29px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 2px;
  width: calc(25% - 2px);
}

.info-item:nth-child(1) {
  background-color: #f7f9fa;
}

.info-item:nth-child(2) {
  background-color: #fafbfc;
}

.info-item:nth-child(3) {
  background-color: #fefefe;
}

.info-item:nth-child(4) {
  background-color: #212834;
  color: #ffffff;
}

.info-number {
  font-size: 38px;
  font-family: "Roboto-Black", Arial, Helvetica, sans-serif;
}

.info-text {
  margin: 3px 0 0 0;
  line-height: 1.5;
}

.info-icon {
  display: inline-block;
  min-width: 35px;
  width: 35px;
  height: 29px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/info-icon.png);
  margin-top: 10px;
}

.info-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 14px;
}

.info-link:hover, .info-link:focus {
  border-bottom: 1px solid transparent;
}

.types {
  margin: 90px 0 35px 0;
  overflow: hidden;
}

.types-body {
  position: relative;
}

.types-nav {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #d7e2e9;
  margin-top: 35px;
}

.types-nav-item.active .types-nav-link, .types-nav-item:hover .types-nav-link, .types-nav-item:focus .types-nav-link {
  background-color: #0091dc;
  color: #ffffff;
  -webkit-box-shadow: 0px 6px 40px 0px rgba(0, 145, 220, 0.32);
          box-shadow: 0px 6px 40px 0px rgba(0, 145, 220, 0.32);
}

.types-nav-item.active .types-nav-link {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  padding-left: 25px;
  padding-right: 25px;
}

.types-nav-link {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 15px 14px;
  color: #212834;
}

.types-left {
  width: 30%;
}

.types-center {
  width: 38%;
  padding-left: 8px;
}

.types-right {
  width: 32%;
}

.types-image {
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  height: 100%;
  border: 1px solid #d9e3ea;
}

.types-content {
  padding: 45px 0;
  display: none;
}

.types-content.active {
  display: block;
}

.types-name {
  font-size: 20px;
}

.types-subtitle {
  margin-bottom: 0;
  font-size: 16px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}

.types-text {
  margin-top: 5px;
  font-size: 14px;
}

.types-list {
  margin-top: 25px;
  font-size: 16px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
}

.types-item {
  margin: 9px 0;
}

.types-item:before {
  content: '';
  display: inline-block;
  min-width: 20px;
  width: 20px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/types-item-before.png);
  margin-right: 10px;
  position: relative;
  top: 2px;
}

.types-decor {
  display: inline-block;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
}

.types-decor-one {
  width: 168px;
  height: 132px;
  top: -25px;
  left: -141px;
  background-image: url(../img/types-decor-one.png);
}

.types-decor-thue {
  top: 43px;
  right: -141px;
  width: 196px;
  height: 143px;
  background-image: url(../img/types-decor-thue.png);
}

.glad {
  overflow: hidden;
  padding-bottom: 100px;
}

.glad-body {
  background-color: #f3f6f8;
  position: relative;
}

.glad-left {
  padding: 26px 57px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.glad-title {
  margin-bottom: 25px;
}

.glad-subtitle {
  font-size: 16px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  margin-top: 5px;
  margin-bottom: 0px;
}

.glad-text {
  margin-top: 10px;
  margin-bottom: 8px;
  line-height: 1.6;
}

.glad-image {
  width: 630px;
  margin-bottom: -6px;
  height: 100%;
}

.glad-decor {
  position: absolute;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.glad-decor-one {
  width: 176px;
  height: 238px;
  background-image: url(../img/glad-decor-one.png);
  bottom: -72px;
  left: -113px;
}

.clients {
  overflow: hidden;
  margin: 24px 0 80px 0;
}

.clients-body {
  position: relative;
}

.clients-list {
  overflow: hidden;
  margin: 0 -15px;
}

.clients-item {
  border: 1px solid #d7e2e9;
  margin: 15px;
}

.clients-wrapper {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clients-picture {
  min-height: 100px;
}

.clients-company {
  font-size: 18px;
  margin-top: 0;
}

.clients-name {
  color: #0091dc;
}

.clients-text {
  margin-top: 5px;
  line-height: 1.6;
}

.clients-arrows {
  position: absolute;
  top: 45%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clients-arrow {
  z-index: 100;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
}

.clients-arrow-left {
  left: -66px;
  background-image: url(../img/clients-arrow-left.png);
}

.clients-arrow-right {
  right: -92px;
  background-image: url(../img/clients-arrow-right.png);
}

.consult {
  background-color: #0091dc;
  color: #ffffff;
  padding: 30px 40px;
  margin: 0;
  font-size: 16px;
}

.consult-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consult-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consult-title {
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 0.3px;
  margin: -3px 0 3px 0;
}

.consult-icon {
  display: inline-block;
  min-width: 45px;
  width: 45px;
  height: 45px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/consult-icon.png);
  margin-right: 28px;
}

.consult-text {
  margin: 0px 0 0px 1px;
}

.consult-btn {
  background-color: #f7f7f7;
  color: #000000;
  font-size: 14px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 13px 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.consult-btn:hover, .consult-btn:focus {
  background-color: #ffffff;
}

.special {
  margin: 96px 0 20px 0;
}

.special-list {
  margin: 30px -15px;
  font-size: 16px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.special-item {
  margin: 15px;
}

.special-image {
  max-width: 300px;
  max-height: 188px;
  width: 100%;
  height: 100%;
}

.special-text {
  margin-top: 10px;
  padding-right: 30px;
}

.special-link {
  color: #212834;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  line-height: 1.6;
}

.special-link:hover, .special-link:focus {
  border-bottom: 1px solid #212834;
}

.works {
  margin: 54px 0 50px 0;
}

.works-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 33px -15px 15px -15px;
}

.works-item {
  margin: 15px;
  width: calc(16.6666% - 30px);
}

.works-image {
  width: 187px;
  height: 133px;
  border: 1px solid #d7e2e9;
}

.works-more {
  margin-top: -7px;
}

.works-more-btn {
  background-color: #0091dc;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 14px 43px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: 0.3px;
  padding: 14px 41px;
}

.works-more-btn:hover, .works-more-btn:focus {
  background-color: #11a0e7;
}

.whywe {
  padding: 75px 0 50px 0;
  overflow: hidden;
}

.whywe-body {
  background-color: #212834;
  color: #ffffff;
  padding: 40px 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.whywe-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px -15px 25px -15px;
}

.whywe-item {
  width: calc(33.3333% - 30px);
  margin: 0 15px;
}

.whywe-icon {
  display: inline-block;
  min-width: 60px;
  width: 60px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 0;
}

.whywe-icon-one {
  background-image: url(../img/whywe-icon-one.png);
}

.whywe-icon-thue {
  background-image: url(../img/whywe-icon-thue.png);
}

.whywe-icon-three {
  background-image: url(../img/whywe-icon-three.png);
}

.whywe-subtitle {
  font-size: 16px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  margin-top: 29px;
  margin-bottom: 5px;
}

.whywe-text {
  margin-top: 5px;
  line-height: 1.61;
}

.whywe-decor {
  position: absolute;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
}

.whywe-decor-one {
  top: -68px;
  right: -149px;
  width: 352px;
  height: 264px;
  background-image: url(../img/whywe-decor-one.png);
}

.brands {
  margin: 90px 0 60px 0;
  overflow: hidden;
}

.brands-body {
  position: relative;
}

.brands-list {
  overflow: hidden;
  margin: 31px -15px;
}

.brands-item {
  margin: 15px;
}

.brands-image {
  width: 189px;
  height: 135px;
}

.brands-arrows {
  position: absolute;
  top: 34%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brands-arrow {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
}

.brands-arrow-left {
  left: -68px;
  background-image: url(../img/clients-arrow-left.png);
}

.brands-arrow-right {
  right: -94px;
  background-image: url(../img/clients-arrow-right.png);
}

.also {
  margin: 80px 0 80px 0;
  overflow: hidden;
}

.also-body {
  background-color: #f3f6f8;
  padding: 39px 30px 20px 30px;
  position: relative;
}

.also-title {
  letter-spacing: 0.3px;
}

.also-list {
  font-size: 16px;
  text-align: center;
  margin: 10px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.also-item {
  margin: 30px 15px;
  width: calc(16.6666% - 30px);
}

.also-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-bottom: 0px;
}

.also-text {
  line-height: 1.6;
}

.also-link {
  color: #212834;
  text-decoration: none;
  border-bottom: 1px solid #212834;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.also-link:hover, .also-link:focus {
  border-bottom: 1px solid transparent;
}

.also-decor {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.also-decor-one {
  top: -33px;
  left: -136px;
  width: 204px;
  height: 159px;
  background-image: url(../img/also-decor-one.png);
}

.steps {
  margin-top: 101px;
  margin-bottom: 58px;
}

.steps-title {
  letter-spacing: 0.3px;
}

.steps-list {
  font-size: 16px;
  margin: 72px -15px 45px -15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps-item {
  width: calc(16.6666% - 30px);
  margin: 15px;
  position: relative;
}

.steps-item:after {
  position: absolute;
  top: 25px;
  left: 190px;
  content: '';
  display: inline-block;
  min-width: 30px;
  width: 30px;
  height: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/steps-item-after.png);
}

.steps-item:last-child:after {
  content: none;
}

.steps-picture {
  position: relative;
  margin-bottom: 10px;
  width: 65px;
  margin-left: auto;
  margin-right: auto;
}

.steps-text {
  margin-top: 24px;
}

.steps-number {
  position: absolute;
  top: -15px;
  left: -15px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #212834;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.steps-icon {
  display: inline-block;
  min-width: 65px;
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
}

.steps-icon-one {
  background-image: url(../img/steps-icon-one.png);
}

.steps-icon-thue {
  background-image: url(../img/steps-icon-thue.png);
}

.steps-icon-three {
  background-image: url(../img/steps-icon-three.png);
}

.steps-icon-four {
  background-image: url(../img/steps-icon-four.png);
}

.steps-icon-five {
  background-image: url(../img/steps-icon-five.png);
}

.steps-icon-six {
  background-image: url(../img/steps-icon-six.png);
}

/* Footer */
.footer {
  background-color: #212834;
  color: #ffffff;
  padding: 50px 0 76px 0;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo-image {
  margin-right: 15px;
  position: relative;
  top: -1px;
}

.footer-logo-name {
  font-family: "Montserrat-Medium", Arial, Helvetica, sans-serif;
}

.footer-logo-text {
  display: block;
  font-family: "Montserrat-Light", Arial, Helvetica, sans-serif;
}

.footer-descr {
  font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
  margin-top: 37px;
  line-height: 1.61;
  max-width: 84%;
}

.footer-copy {
  font-size: 12px;
  margin-top: 29px;
  line-height: 1.6;
  max-width: 72%;
}

.footer-title {
  display: inline-block;
  margin-top: 0;
  color: #94b0ca;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 5px double #0091dc;
  padding-bottom: 3px;
  letter-spacing: 0.3px;
}

.footer-list {
  font-size: 14px;
  margin-top: 26px;
  letter-spacing: 0.3px;
}

.footer-item {
  margin: 8px 0;
}

.footer-link {
  text-decoration: none;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-link:hover, .footer-link:focus {
  border-bottom: 1px solid transparent;
}

.adress {
  margin-top: 28px;
  line-height: 1.6;
  letter-spacing: 0.3px;
}

.adress-item {
  margin: 10px 0 23px 0;
}

.adress-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adress-icon {
  display: inline-block;
  min-width: 25px;
  width: 25px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
  position: relative;
  top: 3px;
}

.adress-icon-one {
  background-image: url(../img/adress-icon-one.png);
}

.adress-icon-thue {
  background-image: url(../img/adress-icon-thue.png);
}

.adress-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.adress-link:hover, .adress-link:focus {
  border-bottom: 1px solid #ffffff;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #0091dc;
  /* Fallback color */
  background-color: rgba(0, 145, 220, 0.3);
  /* Black w/ opacity */
  text-align: center;
}

.modal.show {
  display: block;
}

.modal-body {
  display: inline-block;
  background-color: #f9f9f9;
  width: 300px;
  -webkit-box-shadow: 9px 14px 23px 7px rgba(0, 0, 0, 0.09);
          box-shadow: 9px 14px 23px 7px rgba(0, 0, 0, 0.09);
  padding: 20px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 5px;
}

.modal-close-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/modal-close-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-title {
  text-align: center;
  color: #212834;
  font-size: 18px;
  font-weight: 700;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
}

.modal-item {
  margin: 10px 0;
}

.modal-field {
  font-size: 14px;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #dfe0e4;
  width: 100%;
}

.modal-field::-webkit-input-placeholder {
  color: #666666;
}

.modal-field:-ms-input-placeholder {
  color: #666666;
}

.modal-field::-ms-input-placeholder {
  color: #666666;
}

.modal-field::placeholder {
  color: #666666;
}

.modal-more {
  text-align: center;
  margin-top: 28px;
}

.modal-more-btn {
  font-size: 14px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #212834;
  padding: 12px 25px;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-more-btn:hover, .modal-more-btn:focus {
  background-color: #3e485a;
}

.modal-subtitle {
  margin: 10px 0 0 0;
  font-size: 14px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #212834;
}

.modal-subtext {
  font-size: 14px;
  margin: 5px 0 10px 0px;
  color: #212834;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  color: #333333;
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  text-align: left;
}

.policy-icon {
  display: inline-block;
  width: 11px;
  height: 15px;
  min-width: 11px;
  background-image: url(../img/policy-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.policy-text {
  padding: 0;
  margin: 0;
}

.policy-link {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.policy-link:hover, .policy-link:focus {
  border-bottom: 1px solid transparent;
}

/* Pages */
.begin-title {
  color: #212834;
  font-size: 22px;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.begin-descr {
  color: #212834;
  line-height: 1.6;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px 20px -5px;
  font-size: 14px;
  color: #999999;
}

.breadcrumbs-item {
  margin: 5px;
}

.breadcrumbs-item::before {
  content: '-';
  display: inline-block;
  position: relative;
  left: -2px;
}

.breadcrumbs-item:first-child::before {
  content: none;
}

.breadcrumbs-link {
  color: #999999;
  text-decoration: none;
  border-bottom: 1px solid #999999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.breadcrumbs-link:hover, .breadcrumbs-link:focus {
  border-bottom: 1px solid transparent;
}

.contacts {
  margin-top: 30px;
  margin-bottom: 77px;
}

.contacts-row {
  margin-top: 80px;
}

.contacts-title {
  font-size: 20px;
  color: #212834;
  margin-top: -7px;
  margin-bottom: 17px;
  text-transform: inherit;
}

.contacts-area {
  text-align: right;
}

.contacts-map {
  width: 100%;
  max-width: 500px;
  height: 500px;
}

.contacts-list {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-item {
  margin-right: 63px;
  margin-top: 16px;
  margin-bottom: 22px;
}

.contacts-item:last-child {
  margin-right: 0;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-picture {
  margin-right: 10px;
}

.contacts-icon {
  display: inline-block;
  min-width: 26px;
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 2px;
}

.contacts-icon-one {
  background-image: url(../img/contacts-icon-one.png);
}

.contacts-icon-thue {
  background-image: url(../img/contacts-icon-thue.png);
}

.contacts-text {
  margin: 0;
  line-height: 1.75;
}

.contacts-tel {
  margin: 0;
  font-size: 16px;
  letter-spacing: 0.3px;
}

.contacts-tel-link {
  color: #212834;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contacts-tel-link:hover, .contacts-tel-link:focus {
  border-bottom: 1px solid #212834;
}

.contacts-mail {
  margin: 5px 0 0 0;
}

.contacts-mail-link {
  color: #212834;
  text-decoration: none;
  border-bottom: 1px solid #212834;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contacts-mail-link:hover, .contacts-mail-link:focus {
  border-bottom: 1px solid transparent;
}

.feedback {
  margin-top: 54px;
}

.feedback-title {
  font-size: 20px;
  color: #212834;
  text-transform: inherit;
}

.feedback-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 24px -18px;
}

.feedback-item {
  width: calc(50% - 36px);
  margin: 10px 18px;
}

.feedback-item-full {
  width: 100%;
}

.feedback-field {
  border-width: 1px;
  border-color: #d7e2e9;
  border-style: solid;
  background-color: white;
  width: 100%;
  height: 37px;
  padding: 13px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.feedback-field-area {
  min-height: 85px;
}

.feedback-field::-webkit-input-placeholder {
  color: #a5a5a5;
}

.feedback-field:-ms-input-placeholder {
  color: #a5a5a5;
}

.feedback-field::-ms-input-placeholder {
  color: #a5a5a5;
}

.feedback-field::placeholder {
  color: #a5a5a5;
}

.feedback-btn {
  background-color: #212834;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  padding: 10px 19px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.feedback-btn:hover, .feedback-btn:focus {
  background-color: #3e485a;
}

.feedback-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -5px;
}

.feedback .policy {
  width: 270px;
  color: #999999;
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.feedback .policy-icon {
  background-image: url(../img/feedback-policy-icon.png);
}

.feedback .policy-link {
  color: #999999;
}

.category {
  margin-top: 31px;
  margin-bottom: 92px;
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px -15px;
  line-height: 1.6;
}

.category-item {
  width: calc(33.3333% - 30px);
  border: 1px solid #d7e2e9;
  margin: 22px 14px;
}

.category-wrapper {
  padding: 35px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.category-image {
  width: 100%;
  height: 203px;
}

.category-name {
  color: #212834;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.category-more {
  margin-top: 23px;
}

.category-more-link {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  color: #0091dc;
  text-decoration: none;
  border-bottom: 1px solid #0091dc;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.category-more-link:hover, .category-more-link:focus {
  border-bottom: 1px solid transparent;
}

.news {
  margin-top: 31px;
  margin-bottom: 108px;
}

.news-item {
  margin: 45px 0;
}

.news-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news-picture {
  margin-right: 30px;
}

.news-image {
  width: 270px;
  height: 130px;
}

.news-title {
  margin-top: -2px;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.news-name {
  text-decoration: none;
  color: #15354f;
  border-bottom: 1px solid #0091dc;
  padding-bottom: 3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news-name:hover, .news-name:focus {
  border-bottom: 1px solid transparent;
}

.news-text {
  line-height: 1.6;
}

.news-more-link {
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  color: #0091dc;
  border-bottom: 1px solid #0091dc;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news-more-link:hover, .news-more-link:focus {
  border-bottom: 1px solid transparent;
}

.pagination {
  margin: 80px 0 50px 0;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto-Medium", Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.pagination-link {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #212834;
  padding: 5px 4px;
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.pagination-link:hover, .pagination-link:focus, .pagination-link.active {
  background-color: #212834;
  color: #ffffff;
}

.pagination-link.active {
  padding: 5px 10px;
}

.preview {
  margin-top: 34px;
}

.preview-body {
  background-color: #f3f6f8;
  padding: 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preview-image {
  width: 100%;
}

.preview-title {
  color: #212834;
  font-size: 22px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.preview-descr {
  font-size: 14px;
  color: #212834;
  line-height: 1.6;
  margin-bottom: 0;
}

.single {
  margin: 50px 0 86px 0;
}

.single-list {
  margin-top: 23px;
}

.single-item {
  margin: 10px 0;
}

.single-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-picture {
  margin-right: 20px;
}

.single-image {
  width: 189px;
  height: 133px;
}

.single-title {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.single-name {
  color: #212834;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.single-name:hover, .single-name:focus {
  border-bottom: 1px solid #212834;
}

.single-text {
  line-height: 1.6;
  margin-top: 5px;
}

.case {
  margin-top: 6px;
  margin-bottom: 89px;
}

.case-row {
  margin: 30px -15px 52px -15px;
}

.case-title {
  font-size: 20px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  color: #212834;
  margin-bottom: 33px;
  letter-spacing: 0.3px;
}

.case-subtitle {
  font-size: 20px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  color: #212834;
  letter-spacing: 0.3px;
}

.photos-list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.photos-item {
  margin: 15px;
  width: calc(33.3333% - 30px);
}

.photos-image {
  width: 100%;
  max-width: 189px;
  height: 135px;
  margin-bottom: -6px;
  -o-object-fit: cover;
     object-fit: cover;
}

.watch-picture {
  position: relative;
  max-width: 525px;
}

.watch-image {
  width: 100%;
  height: 298px;
}

.watch-play {
  position: absolute;
  top: 40%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.watch-icon {
  display: inline-block;
  min-width: 80px;
  width: 80px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/watch-icon.png);
}

.projects {
  margin-top: 31px;
  margin-bottom: 75px;
}

.projects-nav {
  position: relative;
}

.projects-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  border: 1px solid #d7e2e9;
  padding: 20px 15px;
}

.projects-btn:after {
  content: none !important;
}

.projects-btn-icon {
  margin-left: 37px;
  display: inline-block;
  min-width: 11px;
  width: 11px;
  height: 11px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/projects-btn-icon.png);
}

.projects-drop {
  position: absolute;
  z-index: 10;
  display: none;
}

.projects-drop-body {
  width: 100%;
  min-width: 185px;
  padding: 15px 20px;
  border: 1px solid #d7e2e9;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.17);
  border-radius: 5px;
}

.projects-drop-item {
  margin: 5px 0;
}

.projects-drop-link {
  color: #212834;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-drop-link:hover, .projects-drop-link:focus {
  border-bottom: 1px solid #212834;
}

.projects-body {
  margin: 50px 0;
}

.projects-list {
  margin: 43px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-item {
  margin: 15px 15px 40px 15px;
  width: calc(25% - 30px);
}

.projects-picture {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects-picture:hover .projects-play, .projects-picture:focus .projects-play {
  display: none;
}

.projects-play {
  position: absolute;
  top: 33%;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-play-icon {
  content: '';
  display: inline-block;
  min-width: 71px;
  width: 71px;
  height: 53px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/projects-picture-after.png);
}

.projects-image {
  height: 165px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects-title {
  font-size: 16px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

.projects-name {
  text-decoration: none;
  color: #0091dc;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-name:hover, .projects-name:focus {
  border-bottom: 1px solid #0091dc;
}

.projects-text {
  margin-top: 10px;
}

.card {
  margin-top: 31px;
  margin-bottom: 112px;
}

.card-row {
  margin-top: 50px;
  margin-bottom: 55px;
}

.card-slider {
  overflow: hidden;
}

.card-image {
  max-width: 615px;
  width: 100%;
}

.card-nav {
  overflow: hidden;
  margin-top: 12px;
}

.card-nav-item {
  width: 106px;
  height: 106px;
  margin-left: 1px;
}

.card-nav-image {
  width: 106px;
  height: 106px;
}

.card-single {
  margin-bottom: 37px;
  letter-spacing: 0.3px;
}

.card-item {
  margin: 3px 0;
  letter-spacing: 0.3px;
}

.card-subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  color: #212834;
}

.card-text {
  margin-top: 10px;
  line-height: 1.6;
}

.card-more {
  margin-top: 87px;
}

.card-more-btn {
  font-size: 13px;
  text-transform: uppercase;
  background-color: #212834;
  color: #ffffff;
  padding: 17px 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.card-more-btn:hover, .card-more-btn:focus {
  background-color: #3e485a;
}

.card-info-title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #212834;
  margin-bottom: 10px;
  letter-spacing: 0.3px;
}

.card-info-text {
  margin-top: 23px;
  line-height: 1.6;
}
/*# sourceMappingURL=style.css.map */