/* Шрифты 

font-family: 'Lato-Regular', Arial, sans-serif;
font-family: 'ALSSchlangeslab', serif;
font-family: 'ProximaNova-Regular', sans-serif;
font-family: 'Roboto-Regular', sans-serif;

// увеличение картинки при наведении
.vlog-post .entry-image img {
    -webkit-transition: transform .2s ease-in-out;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
    -webkit-filter: blur(0);
    filter: blur(0);
}

*/
@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Light';
    src: url(../fonts/Lato-Light.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ALSSchlangeslab';
    src: url(../fonts/alsschlangeregular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ALSSchlangeslab-Bold';
    src: url(../fonts/alsschlangebold.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova-Regular';
    src: url(../fonts/ProximaNova-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Основные стили */
body {
    font-family: 'Lato-Regular', Arial, sans-serif;
    line-height: 1.2;
    overflow-x: hidden;
}
.container-fluid, .row {
    padding: 0;
    margin: 0;
}
.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.hidden {
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
    width: 0;
    height: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'ALSSchlangeslab-Bold', 'Times New Roman', Times, serif;
}
h2 {
    color: #f27b24;
    font-size: 42px;
    background-image: url(../img/h2-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    margin-left: -10px;
}
a, :hover {
    transition: all 0.5s;
}

/* Шапка */
header {
    padding: 20px 0;
    background-color: #269acd;
    background-image: url(../img/header-bg.png);
    background-repeat: repeat;
    color: #ffffff;
    font-family: 'Lato-Regular', Arial, sans-serif;
    font-size: 14px;
}
.header-list {
    display: flex;
    align-items: center;
    margin: 0 -20px;
}
.header-item {
    margin: 0 20px;
}
.header-link {
    color: #ffffff;
    text-decoration: none;
}
.header-link:hover,
.header-link:focus {
    color: #ffffff;
    text-decoration: underline;
}
.header-icon {
    margin-top: -3px;
    margin-right: 5px;
}

/* Меню */
.nav-back {display: none;}
.logo {
    padding: 10px 0 5px 0;
}
.logo-body {
    align-items: center;
}
.logo-body .col-3,
.logo-body .col-7,
.logo-body .col-2 {
    padding: 0;
}
.nav-list {
    font-family: 'ALSSchlangeslab-Bold', 'Times New Roman', Times, serif;
    font-size: 15px;
    justify-content: flex-start;
    text-align: center;
    margin-top: 5px;
}
.navbar-item {
    border-left: 1px solid #000000;
    padding: 0 5px;
}
.phone-left {
    margin-left: -85px;
}
.navbar-link {
    text-transform: uppercase;
    color: #000000;
    border-radius: 5px;
    padding: 10px;
} 
.navbar-link:hover,
.navbar-link:focus,
.navbar-link.active {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    background-color: #009fe0;
    border-radius: 5px;
    background-color: rgb(73, 188, 247);
    box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.078);
}
.logo-phone {
    font-size: 28px;
    display: flex;
    align-items: center;
    font-family: 'ALSSchlangeslab-Bold', 'Times New Roman', Times, serif;
}
.phone-image {
    margin-right: 10px;
}
.phone-link {
    color: #000000;
    text-decoration: none;
}
.phone-link:hover,
.phone-link:focus {
    color: #000000;
    text-decoration: underline;
}
.social-list {
    display: flex;
    margin: 0 -10px;
}
.spcial-item {
    margin: 10px;
    opacity: 0.8;
}
.spcial-item:hover,
.spcial-item:focus {
    opacity: 1;
}

/* Секции */
.cat {
    background-image: url(../img/cat-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 100px;
    min-height: 500px;
    font-size: 26px;
    line-height: 1.2;
    font-family: 'ALSSchlangeslab', 'Times New Roman', Times, serif;
}
.cat-body {
    margin-right: 400px;
}
.cat-title {
    color: #000000;
    font-size: 52px;
    font-family: 'ALSSchlangeslab-Bold', 'Times New Roman', Times, serif;
    background-image: none;
}
.cat-descr {
    margin-top: 35px;
}
.orange {
    color: #f27b24;
}
.whyus {
    background-color: #e0e4e0;
    background-image: url(../img/whyus-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 0;
}
.whyus-list {
    display: flex;
    margin: 0 -10px;
    justify-content: space-between;
}
.whyus-item {
    display: flex;
    margin: 0 10px;
    width: 30%;
    line-height: 1.2;
}
.whyus-image {
   margin-right: 20px;
}
.whyus-title {
    font-size: 22px;
    text-transform: uppercase;
    background-image: url(../img/whyus-title_bg.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.whyus-desc {
    font-size: 16px;
    font-family: 'Lato-Regular', Arial, Tahoma, sans-serif;
}
.whyus-act {
    margin-top: 50px;
}
.act-text {padding-left: 0;}
.act-prow {
    padding-right: 0;
    padding-left: 50px;
}
.act-title {
    font-size: 24px;
    font-family: 'ALSSchlangeslab-Bold', 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
}
.act-title div {
    margin-right: 10px;
}
.upp-orange {
    text-transform: uppercase;
    font-size: 52px;
    color: #f27b24;
}
.blue-half {
    font-size: 32px;
    color: #ffffff;
    background-color: #2599cd;
    background-image: url(../img/blue-half_bg.png);
    background-repeat: repeat;
    padding: 10px 12px;
    border-radius: 30px;
}
.act-title-big {
    font-size: 42px;
    font-family: 'ALSSchlangeslab', 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}
.act-try {
    font-size: 32px;
    font-family: 'ALSSchlangeslab', 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
}
.act-try_image {
    border: 3px solid #2195c9;
    margin-right: 20px;
}
.prow-body {
    background-color: #e1e4e1;
    background-image: url(../img/prow-body_bg.jpg);
    background-repeat: repeat;
    padding: 20px 25px 0 25px;
    border-radius: 20px;
    border: 4px solid #cccfcb;
    font-size: 17px;
}
.prow-title {
    font-size: 30px;
    color: #f27b24;
    font-family: 'ALSSchlangeslab-Bold', 'Times New Roman', Times, serif;
}
.field-body {
    position: relative;
}
.prow-field {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #ced2d1;
    font-family: 'ProximaNova-Regular', Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #000000;
}
.field-decor {
    position: absolute;
    right: 15px;
    top: 7px;
}
.prow-button {
    border-style: solid;
    border-width: 1px;
    border-color: #ced2d1;
    border-radius: 10px;
    background-color: rgba(39, 145, 197, 0.7);
    padding: 5px 10px;
    cursor: pointer;
    color: #fef5f5;
    font-size: 22px;
    width: 100%;
    margin-bottom: 20px;
    font-family: 'ALSSchlangeslab', 'Times New Roman', Times, serif;
}
.prow-button:hover,
.prow-button:focus {
    background-color: transparent;
    color: rgba(39, 145, 197, 0.7);
    border-color: rgba(39, 145, 197, 0.7);
}
.act-confident {
    font-family: 'ProximaNova-Regular', Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.confident-icon {
    margin-top: -5px;
    margin-right: 5px;
}
.abilities {
    background-color: #d9eef8;
    padding: 40px 0;
}
.abilities-desc {
    font-size: 16px;
    font-family: 'Lato-Regular', Arial, Tahoma, sans-serif;
}
.abilities-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.abilities-item {
    display: flex;
    width: 44%;
    margin: 30px 30px;
}
.abilities-image {
    border-radius: 100%;
    width: 215px;
    height: 215px;
    border: 4px solid #f27b24;
    margin-right: 40px;
}
.about {
    background-color: #e5e9e6;
    background-image: url(../img/about-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0 60px 0;
}
.about-body .col-5 {
    padding-left: 0;
}
.about-body .col-7 {
    padding-right: 0;
}
.about-button {
    margin-top: 30px;
}
.about-link {
    font-family: 'ALSSchlangeslab', 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #f27b24;
    border-radius: 20px;
    padding: 10px 20px;
    border: 2px solid #f27b24;
}
.about-link:hover,
.about-link:focus {
    color: #f27b24;
    background-color: transparent;
    text-decoration: none;
}
.about-blue {
    color: #2b9fd3;
    font-size: 32px;
}
.about-list {
    font-size: 16px;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    list-style-image: url(../img/about-item_dots.png);
    align-items: flex-start;
    margin-left: 10px;
}
.about-item {
    width: 48%;
    margin: 5px;
    align-self: flex-start;
}

.about-photos {
    margin: 20px -10px;
}
.photos-item {
    width: 150px;
    height: 150px;
    border: 3px solid #2195c9;
    margin: 5px;
}
.ourworks {
    background-color: #d8eef9;
    padding: 40px 0;
}
.ourworks-body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.ourworks-item {
    text-align: center;
    width: 14%;
    margin: 10px 15px;
    position: relative;
    border-bottom: 2px solid #d6d6d6;
}
.ourworks-item:hover,
.ourworks-item:focus,
.ourworks-item.active {
    border-bottom: 2px solid #f27b24;
    background-color: #ffffff;
}
.ourworks-big {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 60px;
    cursor: pointer;
}
.ourworks-item:hover .ourworks-big,
.ourworks-item:focus .ourworks-big,
.ourworks-item.active .ourworks-big {
    display: block;
}
.ourworks-image {
    width: 100%;
}
.ourworks-title {
    padding: 10px 10px 6px 10px;
    margin: 0;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
}
.how {
    padding: 30px 0 10px 0;
    background-color: #e6e9e6;
    background-image: url(../img/how-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.how-list {
    font-family: 'ProximaNova-Regular', Arial, Helvetica, sans-serif;
    margin: 0 -20px 0 40px;
    display: flex;
    justify-content: center;
}
.how-item {
    margin: 20px 10px;
    width: 23%;
    padding-right: 60px;
}
.how-item::before {
    content: url(../img/how-number_decor.png);
    position: relative;
    left: 155px;
    top: 90px;
}
.how-item:last-child::before {
    visibility: hidden;
    width: 0;
}
.how-icons {
    background-color: #ffffff;
    border-radius: 100%;
    text-align: center;
    width: 150px;
    height: 150px;
    border: 3px solid #f27b24;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
}
.how-image {
    margin-top: 35px;
}
.how-number {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #1e99d0;
    color: #ffffff;
    padding-top: 9px;
    position: absolute;
    right: 0;
}
.how-number_orange {
    background-color: #f27b24;
}
.how-title {
    text-transform: uppercase;
    color: #2b9fd3;
    font-size: 20px;
    font-family: 'Lato-Bold', Arial, Tahoma, sans-serif;
    margin-bottom: 30px;
}
.how-title_orange {
    color: #f27b24;
}

/* Слайдер */
.reviews {
    background-color: #d8eef9;
    padding: 25px 0;
}
.reviews-slider {
    margin: 0 -20px;
    font-family: 'Roboto-Regular', Arial, Tahoma, sans-serif;
    display: flex;
}
.reviews-item {
    margin: 20px 20px 30px 20px;
    padding: 20px 30px;
    background-color: #ffffff;
    color: #5f6162;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.039);
    width: 31%;
    line-height: 1.4;
}
.reviews-title {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.reviews-stars img {
    display: inline-block;
}
.reviews-date {
    font-family: 'Lato-Regular', Arial, Tahoma, sans-serif;
}
.reviews-short {
    color: #000000;
    font-size: 20px;
    margin-top: 30px;
}
.reviews-text {
    margin: 20px 0;
}
.reviews-author {
    display: flex;
}
.author-image {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.author-name {
    color: #000000;
}
.author-city {
    color: #5f6162;
    font-size: 14px;
}
.slick-track {padding-top: 0;}
.slick-prev:before, .slick-next:before 
{ font-family: "slick"; font-size: 60px; line-height: 1; color: #000; opacity: 1; 
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: url(../img/slider-prev2.png); }
[dir="rtl"] .slick-prev:before { content: url(../img/slider-next2.png); }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto;}
.slick-next:before { content: url(../img/slider-next2.png); }
[dir="rtl"] .slick-next:before { content: url(../img/slider-prev2.png); }
.slick-prev, .slick-next {
    top: 40%;
}
  
.slick-prev {left: -44px; z-index: 9999;}
.slick-next {right: 50px; z-index: 9999;}

/* Подвал */
.contacts {
    padding: 30px 0;
}
.contacts-list {
    display: flex;
    margin: 40px -10px 0 -10px;
    justify-content: center;
}
.contacts-item {
    font-size: 20px;
    font-family: 'Lato-Light', Arial, Tahoma, sans-serif;
    display: flex;
    margin: 0 10px;
    width: 33%;
}
.contacts-image {
    border-style: solid;
    border-width: 3px;
    border-color: rgb(242, 123, 36);
    border-radius: 100%;
    background-color: rgb(255, 252, 243);
    width: 65px;
    height: 65px;
    text-align: center;
    padding-top: 12px;
    margin-right: 30px;
}
.contacts-text {
    width: 75%;
}
.contacts-title {
    font-size: 24px;
    font-family: 'ALSSchlangeslab-Bold', 'Times New Roman', Times, serif;
    color: #2f99d6;
}
.contacts-link {
    color: #000000;
}
.contacts-link:hover,
.contacts-link:focus {
    text-decoration: underline;
    color: #000000;
}
.map {
    background-image: url(../img/map-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
}
.map-prof {
    border: 0;
    margin-bottom: -10px;
    padding: 0;
}

footer {
    padding: 30px 0 20px 0;
    font-size: 20px;
}
.footer-body {
    align-items: center;
    display: flex;
}
.footer-socials {
    margin-left: 50px;
}
.footer-phone {
    margin-left: 50px;
}
.footer-mail {
    margin-left: 30px;
    font-family: 'ALSSchlangeslab', 'Times New Roman', Times, serif;
}
.footer-icon {
    margin-right: 5px;
}
.footer-mail_link {
    color: #000000;
}
.footer-mail_link:hover,
.footer-mail_link:focus {
    color: #000000;
    text-decoration: underline;
}