/* Основные стили */
.container-fluid {padding: 0;}
.content {
	max-width: 1280px;
	padding: 0 20px;
	margin: 0 auto;
}
h1 {
	font-size: 47px;
	text-transform: uppercase;
	color: #007c36;
	font-weight: bold;
	margin-bottom: 0;
	padding-bottom: 0;
}
h2 {
	text-transform: uppercase;
	color: #007c36;
	font-size: 18px;
	margin-bottom: 20px;
}

h2 span {
	padding-bottom: 3px;
	border-bottom: 4px double #b5edfc;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
a, i {
	transition: all 0.3s;
}
/* Шапка */
header .content {padding: 0 50px;}

header .col-3,
header .col-9,	
header .col-8,	
header .col-2,	
header .col-4 {
	padding-left: 0;
	padding-right: 0;
}
header {
	background: url(../img/header-bg.jpg) no-repeat right;
	background-size: cover;
	padding: 15px 0;
	min-height: 378px;
}
.header-icons .col-3, .header-icons .col-2, .header-icons .col-4 {
	display: flex;
}
.header-icons p {
	padding: 3px 0 0 0;
	margin: 0;
	line-height: 1;
	}
.header-icons a {
	text-decoration: none;
	color: #007b38;
	border-bottom: 1px solid #c1d9b9;
}
.header-icons a:hover {border-bottom: 1px solid transparent;}
.header-icons_body {
	color: #56a02f;
	font-size: 24px;
	margin: 0 10px 0 5px;
}

.header-icons_adress {font-size: 16px;}
.header-icons_adress a {font-size: 14px;}

.header-icons_tel {padding-left: 45px!important;}
.header-icons_tel strong {font-size: 17px;}
.header-icons_tel a {color: #000; text-decoration: none; border-bottom: 0;}
.header-icons_tel a:hover {
	text-decoration: underline;
	border: 0;
}
.header-icons_tel span {font-size: 14px;}
.header-icons_user {padding-left: 20px!important;}
.header-icons_user i {font-size: 28px; margin-top: 8px;}
.header-icons_user p {line-height: 1;}
.header-icons_user a {
	text-transform: uppercase;
	font-size: 13px;
}
.header-icons_button {
	margin: 8px 0;
}
.header-icons_button a {
	background: #74cb0a;
	padding: 7px 10px;
	text-transform: uppercase;
	color: #fff;
	border: 1px solid #c1d9b9;
	vertical-align: bottom;
	font-size: 15px;

}
.header-icons_button  i {
	font-size: 24px;
	opacity: 0.6;
	vertical-align: middle;
}
.header-icons_button a:hover {
	color: #74cb0a;
	background: #fff;
	border: 1px solid #c1d9b9;
}

/* Стили социальных иконок */
.header-icons_end {
	display: block!important;
}
.header-icons_list {padding-top: 10px;}
.header-icons_list a {
	font-size: 18px;
	color: #fff;
	border-radius: 5px;
	
	border: 1px solid transparent;
}
.header-icons_list .vk {background: #487aab; padding: 0px 2px;}
.header-icons_list .instagram {background: #fe0f77; padding: 0 4px;}
.header-icons_list .facebook {background: #23589a; padding: 0 8px;}
.header-icons_list .viber {background: #34d551; padding: 0 3px;}
.header-icons_list .vk:hover {border: 1px solid #487aab; color: #487aab; background: #fff;}
.header-icons_list .instagram:hover {border: 1px solid #fe0f77; color: #fe0f77; background: #fff;}
.header-icons_list .facebook:hover {border: 1px solid #23589a; color: #23589a; background: #fff;}
.header-icons_list .viber:hover {border: 1px solid #34d551; color: #34d551; background: #fff;}

.header-title {margin: 55px 0 0 -10px;}
.header-description {
	color: #333;
	font-size: 24px;
}

/* Навигация */
.nav-back {display: none;}
nav {
	background: #f2f2f2;
}
.navbar a {
	text-transform: uppercase;
	font-size: 16px;
	text-decoration: none;
	color: #007c34;
	padding: 7px 13px;
	font-weight: 600;
}
.navbar a:hover, .navbar .active, .navbar  a.active i, .navbar a:hover i {
	background: #09c5f5;
	color: #fff!important;
}
.navbar i {

	font-size: 19px;
	color: #09c5f5;
}
header {
	padding: 15px 20px;
}
.header-logo_img {
	-ms-flex: 0 0 26%;
	flex: 0 0 26%;
	max-width: 26%;
	margin-top: 5px;
}
.header-icons {
	-ms-flex: 0 0 74%;
	flex: 0 0 74%;
	max-width: 74%;
}

.header-icons_adress {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
} 

.navbar {justify-content: flex-start; margin: 0 -5px;}
.navbar li {margin: 0 5px;}

/* Секция main */
.main {padding: 70px 0 120px 0;}
.main .col-4 {order: -1;}
.main-question {padding-top: 5px; font-size: 17px; padding-right: 80px;}
.main-question_button {margin-top: 10px;}
.btn {
	padding: 4px 12px;
	font-size: 14px;
	background: #09c5f5;
	font-weight: bold;
	color: #fff;
	border-radius: 0;
	text-transform: uppercase;
}
.btn:hover {
	color: #007c38;
	background: #f0f2f1;
}
.main-question button {
	background: #09c5f5;
	font-weight: bold;
	color: #fff;
	border-radius: 0;
	padding: 5px 15px;
}
.main-question_link {margin-top: 10px;}
.main-question_link a {
	color: #b6b6b6;
	text-decoration: underline;
	font-size: 14px;
}
.main-question_link a:hover {text-decoration: none;}
.main-list li {margin: 3px 0;}
.main-list a {
	text-decoration: none;
	color: #343434;
	border-bottom: 1px solid #acacac;
	font-size: 18px;
}
.main-list a:hover {border-bottom: 1px solid transparent;}

/* Подвал сайта */
footer {
	background: #095062; 
	color: #fff;
}
footer a {color: #fff; text-decoration: underline;}
footer a:hover {color: #fff; text-decoration: none;}
.footer-start {
	padding: 30px 0;
}
.footer-adress {display: flex; padding-left: 40px!important;}
.footer-adress a {text-decoration: none;}
.footer-adress a:hover {text-decoration: underline;}
.footer-adress strong {font-size: 17px; color: #fff;}
.footer-adress p {font-size: 14px; margin: 0; color: #b5babd;}
.footer-end {
	background: #073b48;
	padding: 5px 0;
	color: #a8adb0;
	font-size: 15px;
}
.footer-end a {color: #a8adb0;}
.footer-end a:hover {color: #a8adb0;}
.footer-end_link {text-decoration: none;}
.footer-end_link:hover {text-decoration: underline;}
.footer-end span {padding: 0 8px;}

/* Модальные окна */
.modal-dialog {max-width: 430px;}
.modal-content {
	background: #f9f9f9;
	padding: 10px 15px;
	border-radius: 0;
}
.modal-header {
	justify-content: center;
	text-align: center;
	border: 0;
	text-transform: uppercase;
	padding-bottom: 0;
	margin: 0;
}
.modal-title {
	font-size: 26px!important;
}
.modal-body .form-control {
	margin: 10px 0;
	border-radius: 0;
	border: 1px solid #dee2e5;
	font-size: 14px;
}
.modal-body textarea {min-height: 70px;}
.modal-footer {
	border: 0;
	padding-top: 0;
	padding-bottom: 30px;
}
.modal-footer_button {padding-left: 25px; margin-top: 5px;}
.modal-footer_button input {width: 20px; height: 20px;}
.modal-footer_yes {
	padding-right: 30px;
	font-size: 12px;
}
.modal .btn {padding: 5px 15px;}


