@media (max-width: 1940px) {
  .whywe-arrows {
    left: 49.8%;
  }
  .cases-left {
    padding-left: 260px;
    width: 60%;
  }
  .cases-right {
    padding-right: 0;
    width: 40%;
  }
  .clients-arrow-left,
  .clients-arrow-right {
    top: 42%;
  }
}

@media (max-width: 1910px) {
  .detail-right {
    padding-left: 75px;
  }
  .detail-top-item:nth-child(3) {
    display: none;
  }
  .tabes-body-gift .tabes-image {
    left: -122px;
  }
  .cases-left {
    padding-left: 160px;
  }
  .bonus-left {
    padding-top: 0;
    padding-left: 160px;
  }
  .bonus-info {
    max-width: initial;
    margin-right: 50px;
  }
  .bonus-more-body {
    left: 160px;
  }
  .promotion-image {
    width: 100%;
  }
  .promotion-info {
    padding: 20px 50px 40px 54px;
  }
  .price-title {
    margin-top: 20px;
  }
}

@media (max-width: 1720px) {
  .header-center {
    display: none;
  }
  .header-right {
    width: 78%;
  }
  .detail-left {
    min-width: 500px;
  }
  .detail-list {
    margin-left: 3px;
  }
  .whywe {
    padding-bottom: 0;
  }
  .whywe-text {
    padding-top: 40px;
    padding-left: 50px;
  }
  .cases-left {
    padding-left: 80px;
  }
  .bonus-left {
    padding-left: 80px;
  }
  .bonus-more {
    padding-left: 0;
  }
  .bonus-more-body {
    left: 78px;
  }
  .bonus-arrows {
    margin-left: 70px;
  }
  .instruct-row {
    margin: 0;
  }
  .waste {
    padding: 100px 0 50px 0;
  }
  .waste-left {
    width: 40%;
  }
  .waste-right {
    width: 60%;
  }
  .waste-nav {
    width: auto;
  }
  .waste-nav-item {
    margin-left: 0;
  }
  .stack-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
  .stack-wrapper {
    margin: 17px 34px 17px 0;
  }
}

@media (max-width: 1520px) {
  .header-row {
    margin: 0;
  }
  .header-body {
    padding: 0;
  }
  .header-list-audit {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: auto;
  }
  .header-list-audit .header-item {
    margin: 0 18px;
  }
  .detail-left {
    min-width: 440px;
  }
  .detail-list {
    margin-top: 20px;
  }
  .detail-btn {
    margin: 60px 0px;
  }
  .detail-right {
    padding-left: 50px;
  }
  .search {
    min-width: auto;
  }
  .tabes-body {
    margin-top: 60px;
  }
  .tabes-item {
    margin: 25px 0;
  }
  .tabes-image {
    width: 100%;
    margin-right: 0;
  }
  .whywe-picture {
    width: 40%;
  }
  .whywe-image {
    width: 100%;
  }
  .whywe-text {
    width: 60%;
    padding-top: 20px;
    padding-left: 40px;
  }
  .whywe-title {
    margin-bottom: 10px;
  }
  .whywe-descr {
    max-width: initial;
  }
  .whywe-arrows {
    left: 41%;
  }
  .garanties-item {
    padding: 15px;
  }
  .cases {
    padding-bottom: 100px;
  }
  .cases-left {
    padding-left: 15px;
  }
  .cases-picture {
    bottom: -50px;
  }
  .bonus-left {
    padding-left: 15px;
    width: 60%;
  }
  .bonus-right {
    width: 40%;
  }
  .bonus-more-body {
    position: static;
    padding-left: 15px;
    margin-top: 20px;
  }
  .promotion-info {
    padding: 20px 0 40px 25px;
  }
  .team-arrow-left {
    left: 20px;
  }
  .team-arrow-right {
    right: 20px;
  }
  .team-fullmore-left {
    left: 20px;
  }
  .team-fullmore-right {
    right: 20px;
  }
  .author-more {
    margin: 0 -5px 0 -5px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .author-btn {
    margin: 10px 5px;
  }
}
/*# sourceMappingURL=media.css.map */