/* Fonts */
@font-face {
  font-family: 'CenturyGothic';
  src: url(../fonts/CenturyGothic.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Radiate-Sans-Expanded';
  src: url(../fonts/Radiate-Sans-Expanded.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Radiate-Sans-Regular';
  src: url(../fonts/Radiate-Sans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT-Firs-Black';
  src: url(../fonts/TT-Firs-Black.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT-Firs-Bold';
  src: url(../fonts/TT-Firs-Bold.otf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "CenturyGothic", Arial, Helvetica, sans-serif;
}

input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "CenturyGothic", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1520px;
}

body {
  font-family: "CenturyGothic", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 20px;
  line-height: 28px;
  color: #393333;
}

/* Header */
.header {
  background-color: #FFCF5C;
  padding: 16px 0;
}

.header .content {
  max-width: 1920px;
}

.header-body {
  padding: 0 50px;
}

.header-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left {
  width: 22%;
}

.header-center {
  width: 36.33333333%;
}

.header-logo {
  font-family: "TT-Firs-Black", Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 0.03em;
  color: #393333;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo-link {
  color: #393333;
  text-decoration: none;
}

.header-logo:after {
  content: '';
  display: inline-block;
  width: 70px;
  height: 2px;
  background-color: #393333;
  margin-left: 20px;
}

.header-list {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #393333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item {
  margin-right: 50px;
  position: relative;
}

.header-link {
  color: #393333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-link:hover, .header-link:focus {
  border-bottom: 1px solid #393333;
}

.header-right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 -15px;
}

.header-right-item {
  margin: 0 15px;
}

.header-message-btn {
  padding: 9px 30px 11px 30px;
  width: 282px;
  height: 44px;
  background-color: #393333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-message-btn:hover, .header-message-btn:focus {
  background-color: #504a4a;
}

.header-phone-link {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #393333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-phone-link:hover, .header-phone-link:focus {
  border-bottom: 1px solid #393333;
}

.header-mobile-icon {
  display: inline-block;
  width: 38px;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/header-mobile-icon.svg);
}

.drop {
  display: none;
  position: absolute;
  left: 10px;
  top: 30px;
}

.drop-body {
  padding: 5px 20px 0 20px;
  width: 70px;
  background: rgba(57, 51, 51, 0.7);
  border: 1px solid #FFCF5C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 15px;
}

.social-item {
  margin: 15px 0;
}

.social-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-icon-one {
  background-image: url(../img/social-icon-one.svg);
}

.social-icon-thue {
  background-image: url(../img/social-icon-thue.svg);
}

.social-icon-three {
  background-image: url(../img/social-icon-three.svg);
}

.social-icon-four {
  background-image: url(../img/social-icon-four.svg);
}

.social-icon-five {
  background-image: url(../img/social-icon-five.svg);
}

.detail {
  display: none;
}

.lang {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #393333;
  position: relative;
}

.lang-drop {
  display: none;
  position: absolute;
  top: 30px;
  color: #ffffff;
  padding: 5px 15px 5px 15px;
  width: 70px;
  background: rgba(57, 51, 51, 0.7);
  border: 1px solid #FFCF5C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 15px;
}

.lang-drop .lang-link {
  color: #ffffff;
}

.lang-drop .lang-link:hover, .lang-drop .lang-link:focus {
  border-bottom: 1px solid #ffffff;
}

.lang-item {
  margin: 10px 0;
}

.lang-link {
  color: #393333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.lang-link:hover, .lang-link:focus {
  border-bottom: 1px solid #393333;
}
/*# sourceMappingURL=style.css.map */