@media(max-width: 1360px) {
    .nav {
        &-item {
            margin: 15px 10px;
        }
    }
    .phones {
        &-item {
            &:first-child {
                display: none;
            }
        }
    }
    .clients {
        &-body {
            padding: 0;
        }
    }
}
@media(max-width: 1200px) {
    .header {
        &-body {
            padding-left: 20px;
            padding-right: 20px;
        }
        &-left {
            width: 15%;
        }
        &-center {
            width: 60%;
        }
        &-right {
            width: 25%;
        }
    }
    .phones {
        &-item {
            &:nth-child(2) {
                display: none;
            }
        }
    }
    .promo {
        &-picture {
            right: 20px;
        }
    }
    .better {
        &-item {
            padding: 45px 30px 40px 30px;
        }
    }
    .bonus {
        &-item {
            width: 50%;
            background-color: #ededed;
            &:nth-child(3) {
                background-color: #f6f6f6;
            }
            &:nth-child(4) {
                background-color: #ededed;
            }
        }
    }
    .footer {
        &-body {
            padding: 0;
        }
        &-left {
            width: 10%;
        }
        &-center {
            width: 55%;
        }
        &-right {
            width: 35%;
        }
    }
}
@media(max-width: 992px) {
    
}