/* Fonts */
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Light';
  src: url(../fonts/Raleway-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url(../fonts/Raleway-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url(../fonts/Raleway-ExtraBold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1386px;
}

body {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
}

h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #666666;
}

/* Header */
.header {
  border-bottom: 1px solid #ccead4;
}

.header-body {
  border-left: 1px solid #ccead4;
  border-right: 1px solid #ccead4;
  padding: 20px 40px 40px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -15px;
  font-size: 15px;
}

.nav-item {
  margin: 15px 15px;
}

.nav-link {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #333333;
  border-bottom: 1px solid transparent;
}

.nav-link:hover, .nav-link:focus {
  border-bottom: 1px solid #009625;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -3px;
}

.social-item {
  margin: 0 3px;
}

.social-icon {
  display: inline-block;
  min-width: 27px;
  width: 27px;
  height: 27px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-icon-one {
  background-image: url(../img/social-icon-one.png);
}

.social-icon-thue {
  background-image: url(../img/social-icon-thue.png);
}

.social-icon-three {
  background-image: url(../img/social-icon-three.png);
}

.phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 -10px;
}

.phones-item {
  margin: 0 10px;
}

.phones-number {
  font-size: 18px;
  font-weight: 300;
}

.phones-number-link {
  color: #1c2840;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.phones-number-link:hover, .phones-number-link:focus {
  border-bottom: 1px solid #1c2840;
}

.phones-btn {
  background-color: #009627;
  color: #ffffff;
  font-size: 13px;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  padding: 20px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.phones-btn:hover, .phones-btn:focus {
  background-color: #00aa2d;
}

.phones-btn-icon {
  display: inline-block;
  min-width: 15px;
  width: 15px;
  height: 11px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/phones-btn-icon.png);
  margin-right: 5px;
}

.promo-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-prev {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 44px;
  color: #333333;
  display: block;
}

.promo-title {
  margin: 0;
  font-size: 51px;
  font-family: "Raleway-ExtraBold", Arial, Helvetica, sans-serif;
  color: #006d1c;
  line-height: 1;
}

.promo-descr {
  font-size: 25px;
  margin: 20px 0 0 0;
  position: relative;
}

.promo-descr::before {
  content: '';
  display: inline-block;
  width: 1000%;
  height: 1px;
  background-color: #009627;
  position: absolute;
  right: 650px;
  top: 18px;
}

.promo-more {
  margin-top: 60px;
}

.promo-more-btn {
  background-color: #c91700;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 30px;
  padding: 15px 35px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transition: all 0.5s;
}

.promo-more-btn:hover, .promo-more-btn:focus {
  background-color: #f12c12;
}

.promo-more-icon {
  display: inline-block;
  min-width: 35px;
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-btn-icon.png);
  margin-right: 15px;
}

.promo-picture {
  position: relative;
  right: -90px;
  top: -5px;
}

/* Section's */
.better-body {
  position: relative;
}

.better-title {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: -150px;
  top: 100px;
}

.better-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  line-height: 1.6;
}

.better-item {
  background-color: #009627;
  color: #ffffff;
  padding: 60px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33.3333%;
}

.better-item:nth-child(2) {
  background-color: #009f29;
}

.better-icon {
  display: inline-block;
  min-width: 90px;
  width: 90px;
  height: 90px;
  background-position: center;
  background-repeat: no-repeat;
}

.better-icon-one {
  background-image: url(../img/better-icon-one.png);
}

.better-icon-thue {
  background-image: url(../img/better-icon-thue.png);
}

.better-icon-three {
  background-image: url(../img/better-icon-three.png);
}

.better-subtitle {
  font-size: 20px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  margin-top: 30px;
}

.special {
  margin: 100px 0;
}

.special-list {
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.special-item {
  width: calc(50% - 30px);
  margin: 15px;
  background-color: #f5fbf7;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.special-item:nth-child(2), .special-item:nth-child(4), .special-item:nth-child(6) {
  position: relative;
  top: 90px;
}

.special-item:last-child {
  background-color: transparent;
}

.special-picture {
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.special-image {
  width: 100%;
  height: 246px;
}

.special-wrapper {
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.special-subtitle {
  font-size: 24px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  color: #009625;
  text-transform: uppercase;
  margin-bottom: 0;
}

.special-descr {
  font-size: 18px;
  font-weight: bold;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-top: 10px;
}

.consult-body {
  background-color: #009627;
  color: #ffffff;
  padding: 30px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  max-width: 435px;
  width: 100%;
}

.consult-left {
  margin-right: 15px;
}

.consult-icon {
  display: inline-block;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/consult-icon.png);
}

.consult-title {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
}

.together {
  margin: 20px -5px 0 -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.together-btn {
  background-color: #ffffff;
  color: #333333;
  padding: 10px 15px;
  margin: 0 5px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.together-btn:hover, .together-btn:focus {
  background-color: #ebe7e7;
}

.together-btn-red {
  background-color: #c91700;
  color: #ffffff;
}

.together-btn-red:hover, .together-btn-red:focus {
  background-color: #d11901;
}

.together-icon {
  display: inline-block;
  min-width: 23px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.together-icon-one {
  background-image: url(../img/together-icon-one.png);
}

.together-icon-thue {
  background-image: url(../img/together-icon-thue.png);
}

.bonus {
  border-top: 1px solid #ccead4;
  border-bottom: 1px solid #ccead4;
}

.bonus-body {
  position: relative;
}

.bonus-title {
  display: inline-block;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: -160px;
  top: 135px;
}

.bonus-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -1px;
  margin-bottom: -1px;
}

.bonus-item {
  background-color: #ededed;
  width: 33.3333%;
  padding: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bonus-item:nth-child(2), .bonus-item:nth-child(4), .bonus-item:nth-child(6) {
  background-color: #f6f6f6;
}

.bonus-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bonus-picture {
  margin-right: 40px;
}

.bonus-icon {
  display: inline-block;
  min-width: 80px;
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
}

.bonus-icon-one {
  background-image: url(../img/bonus-icon-one.png);
}

.bonus-icon-thue {
  background-image: url(../img/bonus-icon-thue.png);
}

.bonus-icon-three {
  background-image: url(../img/bonus-icon-three.png);
}

.bonus-icon-four {
  background-image: url(../img/bonus-icon-four.png);
}

.bonus-icon-five {
  background-image: url(../img/bonus-icon-five.png);
}

.bonus-icon-six {
  background-image: url(../img/bonus-icon-six.png);
}

.bonus-subtitle {
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
/*# sourceMappingURL=style.css.map */