@media (max-width: 1200px) {
    .search-body {
        flex-wrap: wrap;
    }
    .search-body .col-6 {
        width: 100%;
    }
    .search-fields {
        margin: 10px 0;
    }
    .hot-body .col-4 {
        width: 40%;
    }
    .hot-body .col-8 {
        width: 60%;
    }
    .hot-item {
        width: 100%;
    }
    .promo-image-big {
        max-width: 555px;
        width: 100%;
        height: 100%;
        max-width: 750px;
        max-height: 450px;
    }
    .promo-text {
        top: 0;
        left: 0;
    }
    .small-item {
        width: 100%;
        
        height: auto;
    }
    .small-image {
        width: 100%;
        height: 222px;
        max-width: 200px;
        margin-bottom: -5px;
    }
    .small-text-spec {
        top: 40px;
    }
    .blog-list {
        flex-wrap: wrap;
    }
    .blog-item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nav-dropdown {
        right: auto;
        left: 0;
    }
}
@media (max-width: 1080px) {
    .gallery-right {
        display: none;
    }
    .gallery-body {
        flex-wrap: wrap;
    }
    .gallery-left {
        width: 100%;
        padding: 0;
    }
    .gallery-right {
        margin-top: 20px;
        width: 100%;
    }
    .gallery-image {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .tabcontent {
        max-width: 100%;
        width: 100%;
    }
    .gallery-title {
        margin: 0 0 20px 0;
    }
}
@media (max-width: 992px) {
    .gallery-left {
        padding: 0;
    }
    .hot-body .col-4 {
        width: 50%;
    }
    .hot-body .col-8 {
        width: 50%;
    }
    .hot-title {
        font-size: 34px;
        line-height: 1;
    }
    .prefer-body {
        flex-wrap: wrap;
        justify-content: center;
    }
    .prefer-item {
        width: 40%;
        padding: 20px;
        margin: 70px 15px 20px 15px;
    }
    .promo-body {
        flex-wrap: wrap;
        justify-content: center;
    }
    .promo-big {
        width: 100%;
    }
    .promo-image-big {
        max-width: 555px;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: auto;
    }
    .promo-text {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 98%;
    }
    .promo-small {
        width: 100%;
    }
    .small-text {
        position: absolute;
        top: 40px;
        left: 220px;
        right: auto;
        width: 45%;
    }
    .small-text {
        top: 65px;
    }
}
@media (max-width: 768px) {
    .search-body .col-6 {
        padding: 0;
    }
    .hot-deals {
        padding: 0;
    }
    .current-item .dropdown-content {
        position: absolute;
    }
    .gall-right_picture {
        display: none;
    }
    .catalog-nw {
        text-align: center;
    }
    .gall-nav_link {
        font-size: 13px;
    }
    header {
        padding: 20px 0;
    }
    .header-body {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-body .col-4 {
        width: 43%;
    }
    .header-log {
        text-align: left;
    }
    .header-phone {
        margin-top: 10px;
        order: 1;
        width: 100%;
        text-align: center;
    }
    .phone-body {
        justify-content: center;
    }
    .nav-list {
        display: block;
        text-align: center;
    }
    .nav-link {
        padding: 15px 16px;
    }
    .dropdown-content {
        width: 100%;
        padding: 0;
        position: relative;
    }
    .nav-dropdown {
        justify-content: center;
        text-align: center;
        position: relative;
    }
    .nav-drop_title {
        margin: 0;
        padding-top: 12px;
    }
    .deals-items {
        width: 75px;
        height: 70px;
    }
    .deals-item_num {
        padding-top: 8px;
    }
    .hot-body {
        flex-wrap: wrap;
    }
    .hot-body .col-4,
    .hot-body .col-8 {
        width: 100%;
    }
    .hot-body .col-8 {
        padding: 0;
    }
    .hot-body .col-8 {
        margin-top: 20px;
    }
    .prefer-body {
        margin-top: 60px;
    }
    .prefer-item {
        margin: 40px 15px 20px 15px;
        width: 36%;
    }
    .catalog-title {
        flex-wrap: wrap;
        justify-content: center;
    }
    .catalog-decor {
        display: none;
    }
    .catalog-dec {
        width: 100%;
        text-align: center;
    }
    .links-body {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .links-body .col-3 {
        width: 40%;
    }
    .visa-list {
        justify-content: center;
    }
    .footer-list {
        display: flex;
        align-items: center;
        position: static;
        justify-content: center;
        right: 20px;
        top: -10px;
        margin-top: 20px;
    }
    .modal-content {
        width: 80%;
    }
    .modal-field {
        width: 96%;
        max-width: 100%;
    }
}
@media (max-width: 560px) {
    .nav-body {
        flex-wrap: wrap;
        justify-content: center;
    }
    .nav-body .col-6 {
        width: 100%;
    }
    .nav-dropdown {
        display: block;
    }
    .nav-drop_item {
        padding: 0;
    }
    .hot-item {
        width: 100%;
        height: 250px;
    }
    .hot-text {
        top: 40px;
    }
    .hot-title {
        font-size: 24px;
    }
    .hot-descr {
        font-size: 14px;
    }
    .current-list {
        justify-content: center;
        padding-left: 15px;
    }
    .user-list {
        margin-top: 20px;
        justify-content: center;
    }
    .header-body .col-4 {
        width: 100%;
        text-align: center!important;
    }
    .header-bucket {
        margin: 20px auto 10px auto;
        float: none;
    }
    .fields-body {
        flex-wrap: wrap;
    }
    .fields-cat {
        width: 100%;
        margin: 5px 0;
    }
    .fields-search {
        width: 100%;
        margin-top: 5px;
    }
    .deals-list {
        justify-content: space-around;
    }
    .catalog-title {
        margin: 10px 0;
    }
    .cat-list {
        width: 100%;
        display: block;
        text-align: center;
        margin: 0;
    }
    .prefer-body .col-3 {
        width: 100%;
        margin: 40px 0 20px 0;
    }
    .promo-body .col-6 {
        padding: 0;
    }
    .catalog-item {
        max-width: 100%;
        margin: 13px 0;
    }
    .catalog-image {
        height: auto;
    }
    .small-image {
        width: 100%;
        height: auto;
        max-width: 100%;
        margin-bottom: -5px;
    }
    .small-text {
        text-align: center;
        position: static;
        padding: 10px 0;
        right: auto;
        width: 100%;
    }
    .small-title {
        font-size: 24px;
    }
    .gallerry-nav {
        display: block;
    }
    .gall-nav_item {
        width: 100%;
    }
    .gallery-icons {
        bottom: 0px;
        z-index: 1000;
    }
    .gallery-text {
        position: absolute;
        bottom: 0px;
        right: 0;
        width: 100%;
        background-color: transparent;
    }
    .gallery-text  .gallery-aenean {
        padding: 10px;
        background-color: 
        rgba(255, 255, 255, 0.8);
    }
    .links-body .col-3 {
        width: 100%;
    }
}
@media (max-width: 425px) {
    .deals-items {
        margin: 0;
        width: 50px;
        height: 50px;
    }
    .deals-item_num {
        font-size: 14px;
    }
    .deals-item_wt {
        font-size: 10px;
    }
    .gall-right_text {
        padding: 20px;
        text-align: center;
        width: 100%;
        left: 0;
    }
    .gall-text_price b {
        font-size: 24px;
    }
    .gall-text_desc {
        font-size: 24px;
    }
    .blog-item {
        width: 100%;
        margin: 15px 0;
    }
    .blog-image {
        width: 100%;
        height: auto;
    }
    .blog-date {
        display: block;
        padding: 10px;
        left: 0;
    }
    .blog-dmy {
        margin: 5px 0;
    }
    .blog-comments {
        margin: 5px 0;
    }
    .blog-ttl,
    .blog-typ {
        margin-left: 25px;
    }
}