/* Fonts */

$museo-100: 'museosanscyrl-100', Arial, Helvetica, sans-serif;
$museo-300: 'museosanscyrl-300', Arial, Helvetica, sans-serif;
$museo-500: 'museosanscyrl-500', Arial, Helvetica, sans-serif;
$museo-700: 'museosanscyrl-700', Arial, Helvetica, sans-serif;

@font-face {
    font-family: 'museosanscyrl-100';
    src: url(../fonts/museosanscyrl-300.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museosanscyrl-300';
    src: url(../fonts/museosanscyrl-300.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museosanscyrl-500';
    src: url(../fonts/museosanscyrl-500.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museosanscyrl-700';
    src: url(../fonts/museosanscyrl-700.ttf);
    font-weight: normal;
    font-style: normal;
}


/* Grid */

body {
    padding: 0;
    margin: 0;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
    box-sizing: border-box;
}
.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family: $museo-300;
}
input, textarea {
    box-sizing: border-box;
    font-family: $museo-300;
}

/* Main styles */

html {
    scroll-behavior: smooth;
}
.content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1170px;
}
body {
    font-family: $museo-300;
    font-size: 16px;
    color: #202020;
    background-color: #f3fbff;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $museo-700;
}
h2 {
    font-size: 36px;
    color: #202020;
}

/* Header */

.header {
    background-image: url(../img/header-bg.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 860px;
    position: relative;
    &-top {
        border-bottom: 1px solid #e8e8e8;
    }
    &-body {
        align-items: center;
        padding-top: 18px;
    }
    &-logo {
        margin-bottom: -8px;
    }
    &-list {
        font-size: 18px;
        font-family: $museo-700;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin: 0 -55px;
    }
    &-item {
        margin: 0 55px;
    }
    &-link {
        color: #005486;
        text-decoration: none;
        transition: all 0.5s;
        border-bottom: 1px solid #005486;
        &:hover,
        &:focus,
        &.active {
            color: #191919;
            text-decoration: none;
            border-bottom: 1px solid transparent;
        }
    }
    &-bottom {
        position: relative;
        z-index: 1;
    }
    &-decor {
        text-align: right;
        position: absolute;
        bottom: -162px;
        right: 0;
        z-index: 0;
        &-icon {
            display: inline-block;
            width: 707px;
            height: 497px;
            background-position: right;
            background-repeat: no-repeat;
            background-image: url(../img/header-decor.jpg);
        }
    }
}
.adress {
    font-size: 18px;
    font-family: $museo-500;
    color: #696969;
    text-align: right;
    &-icon {
        display: inline-block;
        width: 24px;
        height: 15px;
        mask-position: center;
        mask-repeat: no-repeat;
        mask-image: url(../img/adress-icon.png);
        margin-right: 7px;
        background-color: #005486;
    }
    &-link {
        color: #005486;
        font-size: 20px;
        font-family: $museo-700;
        text-decoration: none;
        transition: all 0.5s;
        &:hover,
        &:focus {
            color: #0777b8;
        }
    }
    &-orange {
        & .adress-icon {
            background-color: #ffcd35;
        }
        & .adress-link {
            color: #ffcd35;
            &:hover,
            &:focus {
                color: #ffd557;
            }
        }
    }
}
.promo {
    text-align: center;
    padding: 40px 15px;
    max-width: 1000px;
    margin: 0 auto;
    &-title {
        margin: 20px 0;
        &-icon {
            display: inline-block;
            width: 265px;
            height: 46px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/promo-title-icon.png);
            &-hugs {
                background-image: url(../img/promo-title-icon-hugs.png);
                width: 505px;
                height: 93px;
            }
        }
    }
    &-list {
        font-size: 30px;
        font-family: $museo-700;
        text-transform: uppercase;
        color: #191919;
        text-align: center;
        margin-top: 50px;
    }
    &-item {
        margin-bottom: 40px;
    }
    &-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 97%;
        color: #191919;
        text-decoration: none;
        transition: all 0.5s;
        background-color: #ffcd35;
        border-radius: 75px;
        padding: 43px 15px 43px 15px;
        box-sizing: border-box;
        box-shadow: 3px 3px 22px 3px rgba(0, 0, 0, 0.25);
        &-blue {
            background-color: #005486;
            color: #ffffff;
        }
        &-brown {
            background-color: #533f28;
            color: #ffffff;
        }
        &:hover,
        &:focus {
            box-shadow: 1px 1px 12px 3px rgba(0, 0, 0, 0.25);
        }
    }
    &-icon {
        display: inline-block;
        min-width: 44px;
        width: 44px;
        height: 44px;
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 20px;
        &-one {
            background-image: url(../img/promo-icon-one.png);
        }
        &-thue {
            background-image: url(../img/promo-icon-thue.png);
            width: 41px;
        }
        &-three {
            background-image: url(../img/promo-icon-three.png);
            height: 46px;
        }
    }
}

/* Sections */

.how {
    padding: 60px 0 40px 0 ;
    &-title {
        text-align: center;
    }
    &-body {
        position: relative;
        padding-bottom: 185px;
    }
    &-decor {
        display: inline-block;
        width: 1289px;
        height: 459px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/how-list-bg.jpg);
        position: absolute;
        z-index: -1;
        bottom: -60px;
        left: -50px;
        &-hugs {
            background-image: url(../img/how-decor-hugs.jpg);
            width: 1666px;
            height: 259px;
            left: -200px;
            bottom: -10px;
        }
    }
    &-list {
        position: relative;
        color: #202020;
        font-size: 20px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 70px 0;
    }
    &-item {
        width: 240px;
        height: 240px;
        border-radius: 50%;
        background-color: #ffcd35;
        box-sizing: border-box;
        padding: 50px 30px;
        margin: 20px 0;
        position: relative;
        &-blue {
            background-color: #005486;
            color: #ffffff;
            & .how-link {
                color: #ffffff;
                text-decoration: none;
                border-bottom: 1px solid #ffffff;
                transition: all 0.5s;
                &:hover,
                &:focus {
                    border-bottom: 1px solid transparent;
                }
            }
        }
        &:nth-child(3) {
            & .how-text {
                padding: 0 8px;
            }
        }
        &:last-child {
            &::after {
                content: none;
            }
        }
        &::after {
            content: '';
            display: inline-block;
            width: 125px;
            height: 31px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/how-item.png);
            position: absolute;
            top: 0;
            right: -105px;
        }
    }
    &-icon {
        display: block;
        margin: 0 auto 12px auto;
        min-width: 62px;
        width: 62px;
        height: 62px;
        background-position: center;
        background-repeat: no-repeat;
        &-one {
            background-image: url(../img/how-icon-one.png);
        }
        &-thue {
            background-image: url(../img/how-icon-thue.png);
            width: 54px;
        }
        &-three {
            background-image: url(../img/how-icon-three.png);
            width: 78px;
        }
        &-four {
            background-image: url(../img/how-icon-thue.png);
            width: 54px;
        }
    }
    &-text {
        display: inline-block;
    }
    &-more {
        font-size: 16px;
        color: #533f28;
        &-icon {
            display: inline-block;
            width: 21px;
            height: 27px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/how-more-icon.png);
            margin-right: 20px;
            position: relative;
            top: 4px;
        }
        &-link {
            color: #533f28;
            text-decoration: none;
            border-bottom: 1px solid #533f28;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
}

/* Footer */ 

.footer {
    background-color: #ffffff;
    border-top: 1px solid #e8e8e8;
    padding: 30px 0;
    &-body {
        align-items: center;
    }
}

/* Modals */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 50px 0;
    box-sizing: border-box;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
    color: #ece9e9;
    font-family: $museo-100;
    & .close {
        display: block;
        position: absolute; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding: 50px 0;
        box-sizing: border-box;
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        z-index: 2;
    }
    &-repair {
        & .modal-body {
            background-color: #005486;
        }
    }
    &-repfull {
        & .modal-body {
            background-color: #005486;
        }
    }
    &-declare {
        & .modal-body {
            background-color: #ffcd35;
            color: #585858;
        }
        & .modal-title {
            color: #202020;
        }
        &-icon {
            display: block;
            width: 19px;
            height: 17px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/photos-icon-after.png);
            margin-left: auto;
            margin-top: -15px;
        }
    }
    &-body {
        display: inline-block;
        width: 765px;
        background-color: #533f28;
        color: #ffffff;
        border-radius: 20px;
        padding: 25px 20px 20px 20px;
        box-sizing: border-box;
        box-shadow: 3px 3px 12px 3px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: 3;
    }
    &-title {
        font-size: 24px;
        margin: 15px 0;
        padding: 0;
        text-align: center;
        &-icon {
            position: relative;
            margin-bottom: 45px;
            margin-top: 20px;
        }
        &-declare {
            display: flex;
            & .modal-icon {
                position: static;
                margin-right: 10px;
            }
            & .modal-title-text {
                align-self: flex-end;
            }
        }
    }
    &-icon {
        display: inline-block;
        width: 57px;
        height: 92px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/modal-icon.png);
        position: absolute;
        left: 0;
        top: -30px;
    }
    &-list {
        margin-bottom: 40px;
    }
    &-field {
        border-radius: 10px;
        padding: 19px 15px;
        box-sizing: border-box;
        width: 100%;
        font-family: $museo-100;
        font-size: 16px;
        border: 0;
        margin-bottom: 23px;
        &::placeholder {
            color: #cecccc;
        }
        &-area {
            height: 190px;
            padding: 25px 15px;
        }
    }
    &-btn {
        width: 100%;
        text-align: center;
        color: #212121;
        background-color: #ffcd35;
        text-transform: uppercase;
        font-size: 30px;
        font-family: $museo-700;
        border-radius: 50px;
        padding: 23px 15px;
        margin-top: 15px;
        box-sizing: border-box;
        box-shadow: 0px 2px 13px 3px rgba(255, 205, 53, 0.5);
        transition: all 0.5s;
        &:hover,
        &:focus {
            box-shadow: none;
        }
        &-blue {
            margin-top: 25px;
            background-color: #005486;
            box-shadow: 0px 2px 13px 3px rgba(0, 84, 134, 0.5);
            color: #ffffff;
        }
    }
}
.visible {
    display: block;
}
.photos {
    margin-bottom: 30px;
    &-list {
        margin: 0 -10px;
        display: flex;
        justify-content: space-between;
        &-declare {
            display: block;
            & .photos-item {
                margin: 0 10px;
            }
            & .photos-label {
                display: flex;
                align-items: center;
            }
            & .photos-icon {
                margin-right: 15px;
                margin-bottom: 5px;
            }
        }
    }
    &-item {
        margin: 10px;
    }
    &-label {
        display: inline-block;
        text-align: left;
    }
    &-field {
        display: none;
    }
    &-icon {
        display: block;
        min-width: 87px;
        width: 87px;
        height: 87px;
        background-color: #ffffff;
        cursor: pointer;
        position: relative;
        box-sizing: border-box;
        text-align: center;
        border: 1px solid #bababa;
        margin-bottom: 7px;
        &-checked {
            &:after {
                content: '';
                display: inline-block;
                width: 19px;
                height: 17px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../img/photos-icon-after.png);
                position: absolute;
                top: 0;
                right: -30px;
            }
        }
        &:before {
            display: inline-block;
            content: '+';
            font-size: 36px;
            font-weight: bold;
            color: #a2a1a1;
            margin-top: 22px;
        }
    }
    &-text {
        font-size: 14px;
        text-align: left;
    }
}
.repfull {
    margin-bottom: 35px;
    &-list {
        display: flex;
        margin: 0 -5px;
    }
    &-item {
        margin: 5px;
        width: 24%;
    }
    &-field {
        display: none;
    }
    &-label {
        font-size: 14px;
        font-family: $museo-100;
        background-color: #e8e8e8;
        color: #a3a2a2;
        display: inline-block;
        border-radius: 60px;
        padding: 15px 25px;
        width: 100%;
        box-sizing: border-box;
        cursor: pointer;
    }
    &-text {
        margin-top: 15px;
        text-align: left;
        font-size: 14px;
        font-family: $museo-100;
        color: #e9e6e6;
        &-declare {
            color: #585858
        }
    }
}

/* Pages */
.about {
    padding: 40px 0;
    font-size: 18px;
    font-family: $museo-300;
    &-title {
        text-align: center;
        font-size: 36px;
        color: #202020;
    }
}