@media (max-width: 1280px) {
  section {
    overflow: hidden;
  }
  .promo {
    overflow: hidden;
  }
  .promo-list {
    margin: 71px 0 80px 44px;
  }
  .promo-more {
    top: -228px;
    right: 17px;
  }
  .services-list {
    margin: 74px -15px;
    padding-left: 60px;
  }
  .services-item {
    width: calc(25% - 30px);
    margin: 56px 15px;
  }
  .news-image {
    width: 100%;
  }
  .about {
    overflow: visible;
  }
  .about-list {
    position: relative;
    left: 0;
  }
  .feedback {
    overflow: visible;
  }
  .feedback-decor-one {
    right: 0;
  }
  .feedback-decor-thue {
    right: 0;
  }
}

@media (max-width: 1200px) {
  .services-list {
    padding-left: 95px;
  }
  .services-item {
    width: calc(33.3333% - 30px);
  }
  .reviews-item {
    height: auto;
  }
  .reviews-end {
    position: static;
  }
  .reviews-picture {
    position: relative;
    top: 15px;
    right: 0;
    z-index: 1;
  }
  .about-item {
    margin-right: 82px;
  }
}

@media (max-width: 992px) {
  .nav-list {
    margin: 0 -15px;
  }
  .nav-item {
    margin: 0 15px;
  }
  .promo-row {
    position: relative;
  }
  .promo-item {
    min-width: 150px;
    width: 150px;
    height: 150px;
  }
  .promo-link {
    font-size: 14px;
  }
  .promo-link-icon {
    top: 2px;
    position: relative;
  }
  .promo-wrapper {
    top: -5px;
    right: -3px;
  }
  .promo-more {
    position: absolute;
    top: 85px;
    right: 33px;
  }
  .services-list {
    padding-left: 60px;
  }
  .services-link {
    width: 150px;
    height: 150px;
  }
  .cases-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cases-item {
    width: calc(50% - 30px);
  }
  .reviews-item {
    padding: 50px 20px 20px 20px;
  }
  .reviews-picture {
    top: 0;
  }
  .news-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .news-item {
    width: calc(50% - 30px);
  }
  .about-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-left {
    width: 100%;
  }
  .about-right {
    width: 100%;
  }
  .about-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 50px;
  }
  .about-item {
    margin-right: 110px;
  }
  .feedback {
    margin: 163px 0 100px 0;
  }
  .feedback-decor-thue {
    display: none;
  }
  .feedback-body {
    padding: 66px 60px 50px 60px;
  }
  .feedback-body::after {
    width: 100%;
  }
  .feedback-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .feedback-item {
    width: calc(50% - 12px);
  }
  .feedback-item:last-child {
    width: calc(52% - 12px);
  }
  .feedback-push {
    width: calc(100% - 12px);
    margin-top: 3px;
    margin-bottom: 0px;
  }
  .feedback-push:after {
    width: 294px;
    height: 65px;
  }
  .footer {
    margin: 60px 0;
  }
  .footer-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .col-2 {
    width: 33.3333%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 750px) {
  h2 {
    font-size: 32px;
  }
  .mobile {
    display: block;
    position: absolute;
    right: 10px;
    top: 1px;
  }
  .mobile-icon {
    display: inline-block;
    min-width: 36px;
    width: 36px;
    height: 26px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/mobile-icon.svg);
  }
  .header {
    background: #264657;
    margin: 0;
    padding: 20px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .header.show .header-center {
    display: block;
  }
  .header-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
  }
  .header-left {
    width: 50%;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
  .header-right {
    width: 50%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .header-center {
    width: 100%;
    display: none;
  }
  .nav {
    margin-top: 30px;
  }
  .nav-list {
    display: block;
    text-align: center;
  }
  .nav-item {
    margin: 15px 0;
  }
  .social {
    margin-right: 55px;
  }
  .promo-row {
    display: block;
  }
  .promo-left {
    width: 100%;
  }
  .promo-right {
    width: 100%;
  }
  .promo-more {
    display: none;
  }
  .promo-title {
    margin-top: 50px;
  }
  .promo-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 71px 0 0 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .promo-item {
    min-width: 100px;
    width: 100px;
    height: 100px;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  .promo-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 5px;
    right: -6px;
  }
  .promo-link {
    text-align: center;
  }
  .promo-link-icon {
    top: 6px;
    margin-left: 0;
  }
  .promo-picture {
    position: static;
    margin-top: -35px;
  }
  .promo-image {
    width: 100%;
  }
  .services-list {
    padding-left: 6px;
  }
  .services-item {
    width: calc(50% - 30px);
  }
  .about-list {
    margin-top: 50px;
  }
  .about-item {
    width: 140.05px;
    height: 140.05px;
    margin-right: 60px;
  }
  .about-item:last-child {
    margin-right: 45px;
  }
  .about-num {
    font-size: 34px;
  }
  .about-text {
    font-size: 14px;
  }
  .about-wrapper {
    line-height: 1.1;
  }
  .feedback {
    margin: 120px 0 100px 0;
  }
  .feedback-decor-one {
    display: none;
  }
  .feedback-push {
    width: 100%;
  }
  .feedback-push:after {
    width: 100%;
  }
  .feedback-item {
    width: calc(100% - 12px);
  }
  .feedback-item:last-child {
    width: calc(100% - 12px);
  }
}

@media (max-width: 415px) {
  .promo-title {
    font-size: 36px;
    text-align: center;
  }
  .promo-item {
    margin-right: 32px;
    margin-bottom: 22px;
  }
  .services-list {
    padding-left: 66px;
    margin: 74px -15px 0 -15px;
  }
  .services-item {
    width: calc(100% - 30px);
  }
  .cases {
    margin-top: 30px;
  }
  .cases-top {
    display: block;
  }
  .cases-list {
    margin-bottom: 0;
  }
  .cases-item {
    width: calc(100% - 30px);
  }
  .reviews {
    margin-top: 50px;
    margin-bottom: 35px;
  }
  .news-top {
    display: block;
  }
  .news-list {
    margin: 37px -15px 0 -15px;
  }
  .news-item {
    width: calc(100% - 30px);
  }
  .about-list {
    display: block;
    padding-left: 85px;
  }
  .about-item {
    margin-top: 55px;
  }
  .feedback-body {
    padding: 30px 25px;
  }
  .footer {
    margin: 30px 0;
  }
  .footer .col-2 {
    width: 50%;
  }
}
/*# sourceMappingURL=media.css.map */