/* Fonts */
@font-face {
  font-family: 'Play-Regular';
  src: url(../fonts/Play-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Play-Bold';
  src: url(../fonts/Play-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(../fonts/Poppins-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url(../fonts/Poppins-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Colors */
/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Play-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Play-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

body {
  font-family: "Play-Regular", Arial, Helvetica, sans-serif;
  background-color: #182A37;
  color: #ffffff;
  background-image: url(../img/body-bg2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Play-Bold", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Poppins-Bold", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
  letter-spacing: -0.01em;
}

/* Header */
.mobile {
  display: none;
}

.header {
  margin: 20px 0;
}

.header-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-family: "Play-Bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 120%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-logo-link:hover, .header-logo-link:focus {
  color: #12BA6A;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 -7px;
}

.social-item {
  margin: 0 7px;
}

.social-icon {
  display: inline-block;
  min-width: 28px;
  width: 28px;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

.social-icon-one {
  background-image: url(../img/social-icon-one.svg);
}

.social-icon-thue {
  background-image: url(../img/social-icon-thue.svg);
}

.social-icon-three {
  background-image: url(../img/social-icon-three.svg);
}

.social-icon:hover, .social-icon:focus {
  opacity: 0.75;
}

/* Menu */
.nav-list {
  font-size: 16px;
  line-height: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -20px;
}

.nav-item {
  margin: 0 20px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus {
  color: #12BA6A;
  border-bottom: 1px solid #12BA6A;
}

/* Sections */
.promo-title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin-top: 109px;
}

.promo-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 71px 0 80px 27px;
}

.promo-item {
  min-width: 205px;
  width: 205px;
  height: 205px;
  background: #264657;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-right: 85px;
  -webkit-box-shadow: 2px 2px 15px rgba(18, 186, 106, 0);
          box-shadow: 2px 2px 15px rgba(18, 186, 106, 0);
}

.promo-item:hover, .promo-item:focus {
  -webkit-box-shadow: 2px 2px 15px rgba(18, 186, 106, 0.44);
          box-shadow: 2px 2px 15px rgba(18, 186, 106, 0.44);
}

.promo-item:hover .promo-link,
.promo-item:focus .promo-link {
  color: #12BA6A;
}

.promo-link {
  width: 100%;
  height: 100%;
  font-family: "Play-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 120%;
  color: #FFFFFF;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-link-icon {
  display: inline-block;
  min-width: 26px;
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-link-icon.svg);
  margin-left: 3px;
}

.promo-wrapper {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: -0;
  right: -5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-picture {
  position: relative;
  z-index: -1;
  left: -90px;
  top: -84px;
}

.promo-more {
  width: 102px;
  height: 102px;
  background: #264657;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  text-align: center;
  margin-left: auto;
  position: relative;
  top: -235px;
  right: -82px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: -183px;
  -webkit-box-shadow: 2px 2px 15px rgba(18, 186, 106, 0);
          box-shadow: 2px 2px 15px rgba(18, 186, 106, 0);
}

.promo-more:hover, .promo-more:focus {
  -webkit-box-shadow: 2px 2px 15px rgba(18, 186, 106, 0.44);
          box-shadow: 2px 2px 15px rgba(18, 186, 106, 0.44);
}

.promo-feed {
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #12BA6A;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 102px;
  height: 102px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-feed-icon {
  display: inline-block;
  min-width: 31px;
  width: 31px;
  height: 31px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-feed-icon.svg);
  margin-bottom: -30px;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 74px -41px;
}

.services-item {
  width: calc(25% - 82px);
  margin: 56px 41px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.services-link {
  width: 180px;
  height: 180px;
  background: #264657;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-box-shadow: 2px 2px 15px rgba(18, 186, 106, 0);
          box-shadow: 2px 2px 15px rgba(18, 186, 106, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services-link:hover, .services-link:focus {
  color: #12BA6A;
  -webkit-box-shadow: 2px 2px 15px rgba(18, 186, 106, 0.44);
          box-shadow: 2px 2px 15px rgba(18, 186, 106, 0.44);
}

.services-text {
  display: inline-block;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  padding: 0 20px;
}

.cases {
  margin-top: 115px;
}

.cases-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cases-top-link {
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Play-Bold", Arial, Helvetica, sans-serif;
  position: relative;
  top: 10px;
}

.cases-top-link:hover, .cases-top-link:focus {
  color: #12BA6A;
}

.cases-top-icon {
  display: inline-block;
  min-width: 26px;
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/cases-top-icon.svg);
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.cases-title {
  margin: 0;
}

.cases-list {
  margin: 80px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cases-item {
  background: #264657;
  margin: 15px;
  width: calc(25% - 30px);
  padding: 25px 21px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cases-image {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cases-subtitle {
  font-family: "Play-Bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin-top: 35px;
}

.cases-subtitle-link {
  color: #FFFFFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

.cases-subtitle-link:hover, .cases-subtitle-link:focus {
  color: #12BA6A;
}

.cases-descr {
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.reviews {
  margin-top: 125px;
  margin-bottom: 82px;
}

.reviews-body {
  overflow: hidden;
}

.reviews-list {
  font-size: 18px;
  line-height: 130%;
  margin: 39px -15px 100px -15px;
  position: relative;
}

.reviews-item {
  background: #264657;
  margin: 15px;
  width: calc(100% - 30px);
  padding: 50px 38px 20px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  line-height: 1.25;
  height: 382px;
}

.reviews-item::after {
  content: '';
  display: inline-block;
  min-width: 69px;
  width: 69px;
  height: 84px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/reviews-item-after.svg);
  position: absolute;
  top: -40px;
}

.reviews-text {
  margin-top: 0;
  margin-bottom: 10px;
}

.reviews-end {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 3px;
  position: absolute;
}

.reviews-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.reviews-work {
  font-size: 16px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 0;
}

.reviews-picture {
  position: relative;
  top: 42px;
  right: 20px;
  z-index: 1;
}

.reviews-image {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 113px;
  height: 113px;
}

.reviews-arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
  position: absolute;
  bottom: -74px;
  width: 100%;
}

.reviews-arrow {
  display: inline-block;
  min-width: 26px;
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 3;
}

.reviews-arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
  top: -8px;
}

.reviews-arrow path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  fill: #ffffff;
}

.reviews-arrow:hover path,
.reviews-arrow:focus path {
  fill: #12BA6A;
}

.reviews-pagination {
  position: absolute;
  bottom: -68px !important;
  width: 100%;
  text-align: center;
}

.reviews-pagination .swiper-pagination-bullet {
  display: inline-block;
  min-width: 10px;
  width: 10px;
  height: 10px;
  background-color: rgba(236, 236, 236, 0.6);
  border-radius: 50%;
  margin: 0 5px !important;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

.reviews-pagination .swiper-pagination-bullet:hover, .reviews-pagination .swiper-pagination-bullet:focus {
  background-color: #12BA6A;
}

.reviews-pagination .swiper-pagination-bullet-active {
  background-color: #12BA6A;
}

.news-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-top-link {
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Play-Bold", Arial, Helvetica, sans-serif;
  position: relative;
  top: 9px;
}

.news-top-link:hover, .news-top-link:focus {
  color: #12BA6A;
}

.news-top-icon {
  display: inline-block;
  min-width: 26px;
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/cases-top-icon.svg);
  margin-left: 5px;
  position: relative;
  top: -1px;
}

.news-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 37px -15px;
  font-size: 18px;
  line-height: 130%;
}

.news-item {
  width: calc(25% - 30px);
  margin: 15px;
}

.news-picture {
  position: relative;
}

.news-picture:hover .news-image,
.news-picture:focus .news-image {
  opacity: 1;
}

.news-picture::after {
  content: '';
  display: inline-block;
  min-width: 280px;
  width: 280px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/news-picture-after.svg);
  background-size: contain;
  position: absolute;
  top: -13px;
  left: -5px;
}

.news-image {
  width: 276px;
  height: 276px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 25px solid #264657;
  opacity: 0.6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news-subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  margin-top: 30px;
  margin-bottom: 15px;
}

.news-subtitle-link {
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news-subtitle-link:hover, .news-subtitle-link:focus {
  color: #12BA6A;
}

.news-descr {
  margin-top: 15px;
}

.about {
  font-size: 18px;
  line-height: 130%;
  margin-top: 69px;
}

.about-title {
  margin-bottom: 28px;
}

.about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 109px;
  position: relative;
  left: 30px;
}

.about-item {
  width: 200.05px;
  height: 200.05px;
  background: #264657;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin-right: 120px;
}

.about-item:last-child {
  margin-right: 60px;
}

.about-wrapper {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.about-num {
  display: block;
  font-family: "Play-Bold", Arial, Helvetica, sans-serif;
  font-size: 48px;
  line-height: 120%;
  color: #12BA6A;
}

.feedback {
  margin: 163px 0 141px 0;
}

.feedback-body {
  background: #264657;
  padding: 66px 150px 50px 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.feedback-body::after {
  content: '';
  display: inline-block;
  width: 1200px;
  height: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url(../img/feedback-body-after.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
}

.feedback-decor {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.feedback-decor-one {
  min-width: 269px;
  width: 269px;
  height: 269px;
  background-image: url(../img/feedback-decor-one.svg);
  right: -59px;
  top: -100px;
}

.feedback-decor-thue {
  min-width: 372px;
  width: 372px;
  height: 372px;
  background-image: url(../img/feedback-decor-thue.svg);
  right: -193px;
  top: 56px;
}

.feedback-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.feedback-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -6px;
  position: relative;
  z-index: 1;
}

.feedback-item {
  margin: 6px;
  width: calc(37% - 12px);
}

.feedback-item:last-child {
  width: calc(26% - 12px);
}

.feedback-field {
  width: 100%;
  height: 65px;
  background-color: #264657;
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFFFFF;
  padding: 21px 32px;
  font-size: 16px;
  line-height: 130%;
}

.feedback-field::-webkit-input-placeholder {
  color: #FFFFFF;
}

.feedback-field:-ms-input-placeholder {
  color: #FFFFFF;
}

.feedback-field::-ms-input-placeholder {
  color: #FFFFFF;
}

.feedback-field::placeholder {
  color: #FFFFFF;
}

.feedback-push {
  position: relative;
}

.feedback-push:after {
  content: '';
  display: block;
  width: 235px;
  height: 65px;
  border: 1px solid #FFFFFF;
  background: #264657;
  position: absolute;
  z-index: 0;
  left: 10px;
  top: 10px;
}

.feedback-btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 65px;
  padding: 22px 12px;
  background: #12BA6A;
  font-family: "Play-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.feedback-btn:hover, .feedback-btn:focus {
  background: #22db82;
}

.feedback-copy {
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

/* Footer */
.footer {
  margin: 136px 0 100px 0;
}

.footer-logo {
  font-family: "Play-Bold", Arial, Helvetica, sans-serif;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}

.footer-title {
  font-size: 16px;
  line-height: 120%;
  margin-top: 0;
}

.footer-title-link {
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}

.footer-title-link:hover, .footer-title-link:focus {
  color: #12BA6A;
  border-bottom: 1px solid #12BA6A;
}

.footer-list {
  font-family: "Poppins-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 130%;
}

.footer-item {
  margin: 8px 0;
}

.footer-link {
  text-decoration: none;
  color: #D3D3D3;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-link:hover, .footer-link:focus {
  border-bottom: 1px solid #12BA6A;
  color: #12BA6A;
}

.soci-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 16px -7px 0 -7px;
}

.soci-item {
  margin: 0 7px;
}

.soci-icon {
  display: inline-block;
  min-width: 28px;
  width: 28px;
  height: 28px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
}

.soci-icon-one {
  background-image: url(../img/social-icon-one.svg);
}

.soci-icon-thue {
  background-image: url(../img/social-icon-thue.svg);
}

.soci-icon-three {
  background-image: url(../img/social-icon-three.svg);
}

.soci-icon:hover, .soci-icon:focus {
  opacity: 0.75;
}
/*# sourceMappingURL=style.css.map */