/* 
    Coding by alienshooter
    https://alienshootah.github.io/
*/

@media (max-width: 992px) {
    .header-social {
        justify-content: space-between;
        margin: 30px auto 0 auto;
        position: static;
    }
}
@media (max-width: 992px) {
    .porfolio-text-about {
        order: 1;
    }
    .porfolio-body {
        flex-wrap: wrap;
    }
    .porfolio-body .col-6 {
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .porfolio-prev {
        padding-left: 0;
        padding-right: 0;
    }
    .porfolio-text {
        background-color: 
        rgba(255, 255, 255, 0.75);
    }
    .freebies-list {
        position: static;
        flex-wrap: wrap;
        justify-content: center;
    }
    .freebies-title {
        text-align: center;
    }
    .decor-freebies {
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 768px) {
    .header-body {
        padding: 0;
    }
    .header-social {
        width: 100%;
    }
    .social-item {
        margin: 0;
    }
    h1 {
        margin-top: 40px;
        font-size: 52px;
    }
    main {
        padding-top: 0;
    }
    .main-body {
        flex-wrap: wrap;
    }
    .main-body .col-2,
    .main-body .col-10 {
        width: 100%;
        padding: 0;
    }
    .main-pages {
        padding-top: 0;
    }
    .nav-list {
        padding: 10px 0;
        display: block;
        text-align: center;
        margin: 0;
        background-color: 
        rgba(255, 255, 255, 0.75);
    }
    .porfolio-categore {
        position: absolute;
        bottom: 5px;
        left: -10px;
        transform: none;
    }
    .porfolio-gallery {
        justify-content: center;
    }
}