
/* 
    Coding by alienshooter
    https://alienshootah.github.io/
*/

/* Fonts */

@font-face {
    font-family: 'Intro-Regular';
    src: url(../fonts/Intro-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cousine-Regular';
    src: url(../fonts/Cousine-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cousine-Bold';
    src: url(../fonts/Cousine-Bold.otf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

.row {
    display: flex;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
}
.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
ul {
    list-style: none!important;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}
a, :hover {
    transition: all 0.5s;
}

/* Main */

body {
    background-image: url(../img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    font-family: 'Cousine-Regular', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}
.main-bg {
    background-image: url(../img/main-bg2.jpg);
    background-position: bottom left;
    background-size: cover;
}
.main-bg3 {
    background-image: url(../img/main-bg3.jpg);
    background-position: top right;
    background-size: cover;
}
.main-bg4 {
    background-image: url(../img/main-bg4.jpg);
    background-position: center right;
    background-size: cover;
}
.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font-family: 'Intro-Regular', Arial, Helvetica, sans-serif
}
h1 {
    font-size: 80px;
    color: #ffffff;
    line-height: 1;
    margin: 0;
    padding: 0;
}
h2 {
    text-transform: uppercase;
    color: #4c43fa;
}
h3 {
    color: #4c43fa;
    font-family: 'Cousine-Regular', 'Courier New', Courier, monospace;
}

/* Header */
header {
    padding: 20px 0;
}
.header-body {
    position: relative;
}
.header-social {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px -10px;
    position: absolute;
    right: 50px;
    top: 20px;
}
.social-item {
    margin: 10px;
}
.social-icon {
    height: 25px;
    opacity: 0.5;
}
.social-icon:hover,
.social-icon:focus {
    opacity: 1;
}

/* Menu */

.nav-list {
    font-size: 18px;
    margin-top: -90px;
    margin-left: -10px;
    margin-right: -10px;
    color: #202020;
}
.nav-item {
    margin: 20px 10px;
}
.nav-item-free {
    margin-top: 50px;
}
.nav-link {
    color: #202020;
    text-decoration: none;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    text-decoration: underline;
}
.nav-link-free {
    color: #4c43fa;
}

/* Pages */
main {
    padding-top: 160px;
    color: #8c8c8d;
}
.main-pages {
    padding-top: 60px;
}
.main-body {
    padding: 0;
}
.hire-body {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hire-text {
    font-size: 28px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 900;
    color: #ffffff;
    font-family: 'Cousine-Bold', 'Courier New', Courier, monospace;
}
.hire-button {
    font-size: 22px;
    border: 0;
    color: #4c43fa;
    padding: 10px 30px;
    background-color: #ffffff;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
}
.hire-button:hover,
.hire-button:focus {
    background-color: #4c43fa;
    color: #ffffff;
}
.prof-list {
    padding: 40px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.prof-item {
    margin: 25px 10px;
}
.prof-link {
    color: #4c43fa;
    font-size: 22px;
    background-color: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
}
.prof-link:hover,
.prof-link:focus,
.prof-link.active {
    background-color: #4c43fa;
    color: #ffffff;
}
.porfolio-text-about {
    order: -1;
}
.porfolio-picture {
    position: relative;
}
.porfolio-image {
    width: 100%;
}
.porfolio-links_image {
    height: 25px;
    padding-top: 7px;
}
.porfolio-links {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.4);
}
.porfolio-links:hover,
.porfolio-links:focus {
    background-color: #4c43fa;
}
.porfolio-link {
    display: block;
}
.porfolio-categore {
    position: absolute;
    bottom: 132px;
    left: -100px;
}
.porfolio-categore {
    transform: rotate(-90deg);
    font-size: 16px;
    border: 0;
    color: #ffffff;
    padding: 15px 40px;
    background-color: #4c43fa;
    margin-right: 10px;
    margin-left: 10px;
}
.decor {    
    width: 80px;
    text-align: left;
    margin-left: 0;
    border: 0;
    height: 2px;
    background-color: #4c43fa;
}
.porfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 20px -10px;
    align-items: center;
}
.porfolio-item {
    margin: 10px;
}
.porfolio-item_image {
    width: 120px;
    height: 120px;
}
.hire-button-prtf {
    margin: 0;
}
.hire-button-about {
    padding: 15px 30px;
    margin-left: 0;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 18px;
    background-color: #4c43fa;
    color: #ffffff;
}
.hire-button-about:hover,
.hire-button-about:focus {
    background-color: #ffffff;
    color: #4c43fa;
}

.about-man {
    width: 100%;
}

.about-picture {
    text-align: center;
    margin-top: -83px;
}
.about-picture_item {
    margin-bottom: 15px;
}
.about-fio {
    font-size: 22px;
    border: 0;
    color: #4c43fa;
    padding: 10px 20px;
    background-color: #ffffff;
    bottom: 0;
    text-align: center;
}
.about-prof {
    font-size: 22px;
    border: 0;
    color: #ffffff;
    padding: 10px 20px;
    background-color: #4c43fa;
}
.contacts-image {
    width: 250px;
}
.contacts-link {
    text-decoration: none;
    color: #8c8c8d;
}
.contacts-link:hover,
.contacts-link:focus {
    text-decoration: underline;
}
.contacts-button {
    background-color: #4c43fa;
    color: #ffffff;
    border: 0;
    cursor: pointer;
}
.freebies-left {
    padding-left: 0;
}
.freebies-right {
    position: relative;
}
.freebies-title {
    font-size: 32px;
    margin: 15px 0 0 0;
    padding: 0;
}
.freebies-list {
    font-size: 22px;
    color: #ffffff;
    margin: 0 -10px;
    display: flex;
    position: absolute;
    right: 40px;
    top: -20px;
}
.freebies-item {
    margin: 20px 10px;
}
.freebies-link {
    text-decoration: none;
    background-color: #4c43fa;
    color: #ffffff;
    padding: 10px 20px;
}
.freebies-link:hover,
.freebies-link:focus {
    background-color: #ffffff;
    color: #4c43fa;
}
.porfolio-picture-freebies {
    max-width: 400px;
    text-align: center;
    margin: 20px auto;
}

/* Footer */
footer {
    padding: 20px 0;
}
.footer-link {
    color: #4c43fa;
}
.footer-link:hover,
.footer-link:focus {
    text-decoration: none;
}