@font-face {
    font-family: 'Muller';
    src: url("../fonts/MullerBlack.eot");
    src: url("../fonts/MullerBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBlack.woff2") format("woff2"), url("../fonts/MullerBlack.woff") format("woff"), url("../fonts/MullerBlack.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url("../fonts/MullerExtraBold.eot");
    src: url("../fonts/MullerExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerExtraBold.woff2") format("woff2"), url("../fonts/MullerExtraBold.woff") format("woff"), url("../fonts/MullerExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'MullerRegular';
    src: url("../fonts/MullerRegular.eot");
    src: url("../fonts/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url("../fonts/MullerBold.eot");
    src: url("../fonts/MullerBold.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url("../fonts/MullerLight.eot");
    src: url("../fonts/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url("../fonts/MullerMedium.eot");
    src: url("../fonts/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

html {
    height: 100%;
    min-height: 570px;
    overflow-y: scroll;
    overflow-x: auto;
}

.modal-open {
    padding-right: 0 !important;
}

a {
    cursor: pointer;
    font-family: 'Muller';
}

p {
    font-family: 'Muller';
}


body {
    font-family: 'Muller';
    height: 100%;
    min-height: 570px;
}

ul {
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none;
}

input {
    outline: none;
}

button {
    outline: none;
}


nav.main .logo-block .mobile-btn {
    display: none;
}

header .top-block {
    background: url("../img/top-bg.jpg") no-repeat top center;
    padding: 25px 0px 50px 0px;
    background-size: cover;
    padding-top: 288px;
    /*padding-bottom: 150px;*/
    height: 100%;
    position: relative;
}
header .top-block .position-middle {
    position: absolute;
    top: 50%;
    margin-top: -200px;
    width: 100%;
}

nav.main {
    border-bottom: 1px solid #3057bf;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 188px;
    position: relative;
    background: #264eb8;
    position: fixed;
    width: 100%;
    z-index: 99;
    transition: 0.2s;
 
}

nav.main.active {
    padding-top: 22px;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 7px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         0px 7px 10px 0px rgba(0, 0, 0, 0.1);
}
nav.main:after {
  content: '';
  height: 1px;
  display: block;
  position: absolute;
  bottom: -2px;
  width: 100%;
  background: #2248b2;
}

nav.main .mobile-btn {
    width: 40px;
    height: 40px;
    display: block;
    margin-top: 4px;
    padding: 5px;
    border-radius: 5px;
    padding-top: 10px;
    cursor: pointer;
}

nav.main .mobile-btn span {
    width: 30px;
    height: 3px;
    display: block;
    margin-bottom: 6px;
    background-color: #fff;
}

nav.main .nav-block {
    float: right;

    margin-top: 8px;
}

nav.main .nav-block .menu {
    display: inline-block;
    margin-right: 60px;
}

nav.main .nav-block .menu li {
    display: inline-block;
}

nav.main .nav-block .menu li a {
    display: block;
    font-size: 16px;
    color: #a8b3dd;
    font-family: 'Muller';
    text-decoration: none;
    padding: 8px 20px;
    height: 42px;
    box-sizing: border-box;
    border: 2px solid #264eb8;
    transition: 0.1s;
    border-radius: 20px;
    font-weight: 500;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
}

nav.main .nav-block .menu li a:hover {
    color: #fff;
    border: 2px solid #426ad3;
    box-shadow: inset  3px 3px 0px rgba(18, 43, 111, 0.08);
    
}

nav.main .nav-block .menu li:not(:last-child) {
    margin-right: 14px;
}

nav.main .nav-block .lk {
    float: right;
}

nav.main .nav-block .lk li {
    display: inline-block;
}



nav.main .nav-block .lk .registration a:hover {
    /* background-color: #09b794;*/
    box-shadow: none; 
}

nav.main .nav-block .lk .registration a:active {
    background: #05b08d;
}

nav.main .nav-block .lk a {
    font-size: 16px;
    color: #fefefe;
    text-align: center;
    display: block;
    text-decoration: none;
    height: 40px;
    box-sizing: border-box;
    padding: 8px 45px;
    transition: 0.1s;
    border-radius: 22px;
    font-weight: 500;
    background-color: #01cca3;
    /* box-shadow: inset  1px 1px 0px rgba(255, 255, 255, 0.45);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15); */
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.45);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    margin-left: 10px;
    background-position: -13px -66px ;
}


nav.main .nav-block .lk a:hover {
    background: url("../img/hovera.png") no-repeat top center #01cca3;
    background-position: -26px -20px ;
}
nav.main .nav-block .lk .enter a {
    background: none;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
    border: 2px solid #264eb8;
    box-shadow: none;
    height: 42px;
}


nav.main .nav-block .lk .enter a:hover {
    color: #fff;
    border: 2px solid #426ad3;
    box-shadow: inset  3px 3px 0px rgba(18, 43, 111, 0.08);
}

header .top-block .title-block h1 {
    font-size: 49px;
    color: #fefefe;
    font-family: 'Muller';
    line-height: 75px;
    font-weight: bold;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
}

header .top-block .title-block h1 span {
    display: block;
    font-size: 66px;
}

header .top-block .title-block form {
    margin-top: 80px;
}

header .top-block .title-block form .title {
    font-size: 25px;
    color: #fefefe;
    font-family: 'Muller';
    font-weight: 500;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
}

header .top-block .title-block form .title span {
    font-family: 'Muller';
    display: inline-block;
    border-bottom: 1px solid rgba(255, 255, 255, .35);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow:    0px 1px 0px 0px rgba(0, 0, 0, 0.09);
    box-shadow:         0px 1px 0px 0px rgba(0, 0, 0, 0.09);
    font-weight: 800;
}

header .top-block .title-block form .domen-block {
    display: flex;
    -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 5px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow:         0px 5px 6px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    align-items: center;
}

header .top-block .title-block form .form-block {
    width: 460px;
    display: inline-block;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
    height: 42px;
    z-index: 10;
    

}

header .top-block .title-block form .form-block .input-block {
    width: 260px;
    float: left;
    position: relative;
}

header .top-block .title-block form .form-block .input-block input[type="text"] {
    padding-left: 30px;
    height: 42px;
    border-radius: 20px;
    color: #3a4156;
    font-size: 16px;
    outline: none;
    border: 0;
    box-shadow: none;
    font-family: 'Muller';
    font-weight: 300;
    max-width: 270px;
    width: 100%; /* 9ca0aa */
    }


header .top-block .title-block form .form-block .input-block input[type="text"]::-webkit-input-placeholder {color:#9ca0aa;}
header .top-block .title-block form .form-block .input-block input[type="text"]::-moz-placeholder          {color:#9ca0aa;}/* Firefox 19+ */
header .top-block .title-block form .form-block .input-block input[type="text"]:-moz-placeholder           {color:#9ca0aa;}/* Firefox 18- */
header .top-block .title-block form .form-block .input-block input[type="text"]:-ms-input-placeholder      {color:#9ca0aa;}

header .top-block .title-block form .form-block .input-block:after {
    position: absolute;
    display: block;
    content: ' ';
    top: 10px;
    right: 2px;
    width: 1px;
    height: 20px;
    background-color: #cfd6e8;
}

header .top-block .title-block form .form-block .select-block {
    float: left;
    position: relative;
    height: 42px;
    
    width: 140px;
    text-align: center;
}

header .top-block .title-block form .form-block .select-block i {
    margin-bottom: -1px;
    margin-right: 10px;
}

header .top-block .title-block form .form-block .select-block:after {
    position: absolute;
    display: block;
    content: ' ';
    background: url("../img/select-triangle.png") no-repeat right center;
    top: 19px;
    right: 30px;
    width: 10px;
    height: 5px;
    pointer-events: none;
    z-index: 3;
}
/*
header .top-block .title-block form .form-block button {
    cursor: pointer;
    text-align: left;
    background-color: #fff;
    border-radius: 0;
    height: 42px;
    border: 0;
    font-weight: 500;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: radio-container;
    appearance: none;
    padding-left: 30px;
    outline: none;
    position: relative;
    z-index: 2;
    width: 100px;
    transition: 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;

    padding-right: 25px;
  
}
header .top-block .title-block form .form-block button:focus {
  background-color: #fff;
}*/
/*
header .top-block .title-block form .form-block select .ua-icon {
    background: url("../img/ua.png") no-repeat left center;
}
*/
header .top-block .title-block form input[type="submit"] {
    background-color: #01cca3;
    color: #fefefe;
    font-size: 16px;
    padding: 15px 50px;
    border-radius: 20px;
    border: 0;
    outline: none;
    margin-left: -50px;
    position: relative;
    z-index: 11;
    width: 156px;
    height: 42px;
    line-height: 11px;
    /* -webkit-box-shadow: -1px 0px 0px 0px rgba(9, 183, 148, 1);
    -moz-box-shadow:    -1px 0px 0px 0px rgba(9, 183, 148, 1);
    box-shadow:         -1px 0px 0px 0px rgba(9, 183, 148, 1);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15); */
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.45);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    background-position: -36px -60px ;
    transition: 0.1s;
}

.buttons-reviews {
    display: none;
}

header .top-block .title-block form input[type="submit"]:hover {
    background: url("../img/hovera.png") no-repeat top center #01cca3;
    background-position: -36px -20px ;
}
header .top-block .title-block form input[type="submit"]:active {
    background: #05b08d;
}

header .top-block .img-block {
    margin-top: 30px;
}

header .top-block .img-block img {
    width: 100%;
}

header .top-block .title-block form input[type="submit"][disabled="disabled"] {
    background-color: #67dec6;
    transition: 0s;
    background: url("../img/25.svg") no-repeat top center #09B794;
    background-size: cover;
    background-size: 15%;
    color: #95e3ce;
    background-position: 9px 9px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.10);
}

.advantages {
    position: relative;
    z-index: 2;
}
.advantages .advantages-block {
    padding-top: 50px;
}

.advantages .done-works {
    padding: 70px 30px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    margin-bottom: 50px;
}
.advantages .done-works .block {
  text-align: center;
}
.advantages .done-works .block .title {
    position: relative;
    font-size: 61.69px;
    color: #3a4156;
    display: inline;
    font-family: 'Muller';
    font-weight: 800;
    padding: 0 12px;
    text-align: center;
}
.advantages .done-works .block .title span {
  position: relative;
  z-index: 2;
}

.advantages .done-works .block .title sup {
    font-family: 'Muller';
    font-weight: bold;
}

.advantages .done-works .block .title:before {
    position: absolute;
    display: block;
    width: 100%;
    height: 13px;
    bottom: 7px;
    z-index: 1;
    left: 0px;
    content: ' ';
    background-color: #01cca3;
}

.advantages .done-works .block .desc {
    text-align: center;
    font-size: 20px;
    color: #3a4156;
    font-weight: 500;

}

.advantages .video .info-block {
    padding: 37px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    max-width: 506px;
    width: 100%;
    height: 303px;
    display: inline-block;
    position: absolute;
    z-index: 11;
    border-radius: 20px;
    margin-top: 47px;
}

.advantages .video .info-block .title {
    color: #264eb8;
    font-family: 'Muller';
    font-weight: bold;
    font-size: 23px;
    line-height: 26px;
}

.advantages .video .info-block .desc {
    color: #3a4156;
    font-size: 14px;
    font-family: 'Muller';
    font-weight: 200;
    line-height: 26px;
    margin-top: 30px;
    margin-bottom: 0;
}

.advantages .video .info-block .desc:last-child {
    color: #3a4156;
    font-size: 16px;
    font-family: 'Muller';
    font-weight: 500;
    line-height: 26px;
}

.advantages .video .video-block {
    display: inline-block;
    z-index: 10;
    position: relative;
    float: right;
}
.advantages .video .video-block:before {
  content: ' ';
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 50%;
  margin-left: -50px;
  border: 2px solid #fff;
  background: url("../img/play-button.png") top center no-repeat;
  background-position: 53% 50%;
  border-radius: 50px;
  -webkit-box-shadow: 0px 9px 6px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow:    0px 9px 6px 0px rgba(0, 0, 0, 0.14);
  box-shadow:         0px 9px 6px 0px rgba(0, 0, 0, 0.14);
  transition: 0.2s;
  pointer-events: none;
}
.advantages .video .video-block:hover:before {
  margin-top: -52px;
  -webkit-box-shadow: 0px 14px 8px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow:    0px 14px 8px 0px rgba(0, 0, 0, 0.24);
  box-shadow:         0px 14px 8px 0px rgba(0, 0, 0, 0.24);
}

.advantages .video .video-block img {
    max-width: 100%;
}

h2 {
    color: #3a4156;
    font-size: 36px;
    font-family: 'Muller';
    font-weight: bold;
    position: relative;
    line-height: 26px;
}

h2:before {
    position: absolute;
    display: block;
    content: ' ';
    width: 70px;
    height: 2px;
    background-color: #01cca3;
    top: 15px;
    left: -90px;
}

.h2-desc {
    font-size: 20px;
    color: #3a4156;
    font-family: 'Muller';
    font-weight: 300;
    margin-bottom: 100px;
    line-height: 26px;
}

.triangle-block {
   
    min-height: 760px;
    margin: -120px 0px;
    position: relative;
    

}
.triangle-block:after {
    content: ' ';
    z-index: -1;
    width: 748px;
    height: 1002px;
    right: 50%;
    margin-right: -1200px;
    background: url("../img/three-block.png") no-repeat top right;
    position: absolute;

    top: -150px;
}
.advantages-block {
    overflow: hidden;
}

.advantages .advantages-block .triangle-block .block {
    margin-top: 220px;
}

.advantages .advantages-block .info-block {
    margin-top: 100px;
}

.advantages .advantages-block .info-block .title {
    font-size: 19.3px;
    color: #3a4156;
    font-family: 'Muller';
    font-weight: bold;
    margin-bottom: 30px;
}

.advantages .advantages-block .info-block .desc {
    color: #3a4156;
    font-size: 14px;
    font-family: 'Muller';
    font-weight: 300;
    line-height: 30px;
}
.advantages .advantages-block .hidden-block {
    display: none;
}
.advantages .advantages-block .show-more {
    text-decoration: none;
    display: inline-block;
    /* width: 100px; */
    margin: 0 auto;
    color: #264eb8;
    font-size: 15px;
    font-family: 'MullerRegular';
    text-align: center;
    border-bottom: 1px dotted #264eb8;
    position: relative;
    margin-top: 50px;
    transition: 0.3s;
}

.advantages .advantages-block .show-more:hover {
    color: #01cca3;
}
.advantages .advantages-block .button-show-more {
    text-align: center;
}

.advantages .advantages-block .show-more:after {
    position: absolute;
    display: block;
    content: ' ';
    background: url("../img/more-triangle.png") no-repeat top center;
    top: 9px;
    right: -15px;
    width: 10px;
    height: 5px;
}
.advantages .advantages-block .show-more.active:after {
    transform: rotate(180deg);
}

.advantages .advantages-block .other-project-block {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ffffff+0,f7f7f7+100 */
    background: #1e5799;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, white 0%, #f7f7f7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%, white 0%, #f7f7f7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%, white 0%, #f7f7f7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='#f7f7f7', GradientType=0);
    /* IE6-9 */
    padding-bottom: 80px;
}

.advantages .advantages-block .other-project {
    position: relative;
    padding: 40px;
    /*border: 1px solid #d8d8d8;*/
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 145px;
    max-width: 680px;
    width: 100%;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
-moz-box-shadow:    0px 10px 30px 0px rgba(0, 0, 0, 0.1);
box-shadow:         0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}
.advantages .advantages-block .block-other-project {
  position: relative;
}
.advantages .advantages-block .block-other-project:after {
  content: '';
  display: block;
  position: relative;
  top: -60px;
  max-width: 895px;
  opacity: 0.18;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  background: url("../img/eclips.png") no-repeat top center;
  height: 96px;
}
.advantages .advantages-block .other-project {
  position: relative;
  z-index: 5;
}

.advantages .advantages-block .other-project .title {
    font-size: 30px;
    color: #3a4156;
    font-family: 'Muller';
    font-weight: 500;
}

.advantages .advantages-block .other-project .desc {
    line-height: 24px;
    font-size: 18px;
    color: #3a4156;
    font-family: 'Muller';
    font-weight: 300;
    margin-bottom: 40px;
}


.advantages .advantages-block .other-project .to-project {
     font-size: 16px;
    display: inline-block;
    color: #fefefe;
    font-family: 'Muller';
    font-weight: 500;
    background-color: #01cca3;
    text-align: center;
    line-height: 11px;
    padding: 14px 45px;
    border-radius: 20px;
    border: 1px solid #01cca3;
    transition: 0.3s;
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.45);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    background-position: -26px -60px ;
}

.advantages .advantages-block .other-project .to-project:hover {

    background: url("../img/hovera.png") no-repeat top center #01cca3;
    background-position: -12px -20px ;

}
.advantages .advantages-block .other-project .to-project:active {
    background: #05b08d;
}

.advantages .advantages-block .other-project img {
    position: absolute;
    display: block;
    top: -156px;
    right: -100px;
}

.reviews {
    padding-top: 70px;
}

.reviews-select .overscroll {
  padding: 0 20px;
  position: relative;
  overflow-y: scroll;
  height: 400px;
}
.reviews-select .overscroll::-webkit-scrollbar { width: 0px; height: 0px; }
.reviews-select .overscroll::-webkit-scrollbar-button {  background-color: #666; }
.reviews-select .overscroll::-webkit-scrollbar-track {  background-color: #999;}
.reviews-select .overscroll::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.reviews-select .overscroll::-webkit-scrollbar-thumb { height: 0px; background-color: #666; border-radius: 3px;}
.reviews-select .overscroll::-webkit-scrollbar-corner { background-color: #999;}}
.reviews-select .overscroll::-webkit-resizer { background-color: #666;}

.reviews-select:after {
  content: ' ';
  width: 100%;
  position: absolute;
  z-index: 3;
  bottom: -15px;
  height: 145px;
  background: url("../img/hide-block-reviews.png") repeat-x top center;
}

.reviews-select .overscroll li .mini-review-block {
  transition: 0.2s;
}

.reviews-select .overscroll li .mini-review-block:hover {\
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.20);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.20);
}
.reviews .mini-review-block .top-block {
 
  cursor: pointer;

}


/* .reviews h2 {
    color: #3a4156;
    font-size: 36px;
    font-family: 'Muller';
    font-weight: 500;
    position: relative;
    margin-left: 100px;
    line-height: 26px;
}

.reviews h2:before {
    position: absolute;
    display: block;
    content: ' ';
    width: 70px;
    height: 2px;
    background-color: #01cca3;
    top: 15px;
    left: -90px;
} */

/* .reviews .h2-desc {
    font-size: 20px;
    color: #3a4156;
    font-family: 'Muller';
    font-weight: 300;
    margin-left: 100px;
    margin-bottom: 100px;
    line-height: 26px;
} */

.reviews .review-block {
    display: none;
    /*border: 1px solid #e9e9e9;*/
    border-radius: 15px;
    padding: 35px;
    padding-right: 35px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
}

.reviews .review-block.active {
    display: block;
}

.reviews .review-block .top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eaeaea;
}

.reviews .review-block .top-block .title-block {
    display: flex;
}

.reviews .review-block .top-block .title-block .avatar {
    width: 71px;
    height: 71px;
    border-radius: 50%;
    background-color: #f0baba;
    display: inline-block;
    margin-right: 20px;
}

.reviews .review-block .top-block .title-block .title {
    display: inline-block;
    margin-top: 20px;
}

.reviews .review-block .top-block .title-block .title .author {
    font-size: 18px;
    color: #3a4156;
    font-family: 'Muller';
    font-weight: 500;
    line-height: 11px;
}

.reviews .review-block .top-block .title-block .title a {
    display: inline-block;
    padding-bottom: 2px;
    border-bottom: 1px solid #264eb8;
    color: #264eb8;
    font-size: 16px;
    line-height: 11px;
}

.reviews .review-block .description {
    font-size: 16px;
    color: #3a4156;
    line-height: 30px;
    font-family: 'Muller';
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 0;
}

.reviews ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.reviews .mini-review-block {
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 15px;
    /*border: 1px solid #e9e9e9;*/
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.06);
}

.reviews .mini-review-block .top-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews .mini-review-block .top-block .title-block {
    display: flex;
}

.reviews .mini-review-block .top-block .title-block .avatar {
    width: 71px;
    height: 71px;
    border-radius: 50%;
    background-color: #f0baba;
    display: inline-block;
    margin-right: 20px;
}

.reviews .mini-review-block .top-block .title-block .title .author {
    font-size: 16px;
    color: #3a4156;
    font-family: 'Muller';
    font-weight: 500;
    margin-bottom: 5px;
}

.reviews .mini-review-block .top-block .title-block .title a {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
    color: #264eb8;
    border-bottom: 1px solid #264eb8;
}

.our-partners {
    padding-top: 80px;
}

/* .our-partners h2 {
    color: #3a4156;
    font-size: 36px;
    font-family: 'Muller';
    font-weight: 500;
    position: relative;
    margin-left: 100px;
    line-height: 26px;
}

.our-partners h2:before {
    position: absolute;
    display: block;
    content: ' ';
    width: 70px;
    height: 2px;
    background-color: #01cca3;
    top: 15px;
    left: -90px;
}

.our-partners .h2-desc {
    font-size: 20px;
    color: #3a4156;
    font-family: 'Muller';
    font-weight: 300;
    margin-left: 100px;
    margin-bottom: 100px;
    line-height: 26px;
} */

.our-partners .block {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our-partners .block img {
    margin-bottom: 70px;
}

.our-partners .info-block {
    margin-top: 110px;
}

.our-partners .info-block .title {
    line-height: 42px;
    color: #3a4156;
    font-size: 40px;
    font-family: 'Muller';
    font-weight: bold;
    margin-bottom: 30px;
}

.our-partners .info-block .desc {
    font-size: 14px;
    color: #3a4156;
    font-family: 'Muller';
    font-weight: 300;
    line-height: 20px;
    text-align: justify;
}

.our-partners .info-block .read-more {
    font-size: 14px;
    color: #264eb8;
    font-family: 'Muller';
    font-weight: 300;
    line-height: 42px;
    border-bottom: 1px solid #264eb8;
    transition: 0.3s;
}

.our-partners .info-block .read-more:hover {
    color: #01cca3;
}

.registration-block {
    padding-top: 110px;
    padding-bottom: 70px;
    background-color: #fbfbfb;
}

.registration-block .title {
    margin-top: 60px;
    font-size: 30px;
    color: #3a4156;
    line-height: 24px;
    font-family: 'Muller';
    font-weight: 500;
    margin-bottom: 30px;
}

.registration-block .desc {
    font-size: 18px;
    line-height: 30px;
    color: #3a4156;
    font-family: 'Muller';
    font-weight: 300;
    margin-bottom: 20px;
}

.registration-block .desc span {
    font-family: 'Muller';
    font-weight: 500;
}

.registration-block .registration {
    font-size: 16px;
    display: inline-block;
    color: #fefefe;
    font-family: 'Muller';
    font-weight: 500;
    background-color: #01cca3;
    text-align: center;
    line-height: 11px;
    padding: 14px 45px;
    border-radius: 20px;
    /* border: 1px solid #01cca3; */
    transition: 0.1s;
    /* box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.45);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15); */
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.45);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    background-position: -4px -60px ;
}

.registration-block .registration:hover {
    background-color: #09b794;
}

.registration-block .registration:hover {

    background: url("../img/hovera.png") no-repeat top center #01cca3;
    background-position: -4px -20px ;

}
.registration-block .registration:active {
    background: #05b08d;
}


footer {
    padding: 35px 0px 40px 0px;
    background-color: #204096;
}

footer .footer-nav li {
    display: inline-block;
}

footer .footer-nav li a {
    line-height: 20px;
    font-size: 16px;
    color: #fff;
    font-family: 'Muller';
    font-weight: 300;
    text-decoration: underline;
    transition: 0.1s;
}

footer .footer-nav li a:hover {
    color: #01cca3;
    text-decoration: none;
}

footer .footer-nav li:not(:last-child) {
    margin-right: 50px;
}

footer .address-block p {
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    font-family: 'Muller';
    font-weight: 300;
    text-align: right;
}

footer .address-block p a {
    line-height: 20px;
    font-size: 14px;
    color: #fff;
    font-family: 'Muller';
    font-weight: 300;
    transition: 0.3s;
}


footer .address-block p:last-child a {
    text-decoration: underline;
    color: #01cca3;
}
footer .address-block p a:hover {
    color: #01cca3;
    text-decoration: none;
}


footer .under {
    margin-top: 30px;
    padding-top: 40px;
    border-top: 1px solid #3150a5;
}

footer .under li {
    display: inline-block;
}

footer .under li a {
    font-size: 14px;
    color: #6181d7;
    line-height: 20px;
    font-family: 'Muller';
    font: 300;
    transition: 0.3s;
}

footer .under li a:hover {
    color: #01cca3;
}

footer .under li:not(:last-child) {
    margin-right: 20px;
}

@media (max-width: 1199px) {
    h2, .h2-desc {
        padding-left: 90px;
    }

    h2:before {
        position: absolute;
        display: block;
        content: ' ';
        width: 70px;
        height: 2px;
        background-color: #01cca3;
        top: 15px;
        left: 0px;
    }



    nav.main .nav-block .menu li:not(:last-child) {
        margin-right: 10px;
    }

    nav.main .nav-block .menu {
        margin-right: 10px;
    }

    header .top-block .title-block h1 {
        font-size: 30px;
        line-height: 40px;
    }

    header .top-block .title-block h1 span {
        font-size: 40px;
    }

    header .top-block .title-block form .title {
        font-size: 20px;
    }

    header .top-block .title-block form .form-block .input-block {
        width: 170px;
    }



    /* header .top-block .title-block form .form-block {
        width: auto;
    } */


    .advantages .done-works .block .title {
        font-size: 45px;
    }

    .advantages .done-works .block .desc {
        font-size: 16px;
    }

    .advantages .video .info-block {
        height: auto;
        padding: 25px;
        max-width: 440px;
    }

    .advantages .video .info-block .title {
        font-size: 20px;
    }

    .advantages .video .info-block .desc {
        margin-top: 20px;
    }

    .advantages-block .img-block img {
        width: 100%

    }
    .advantages-block .img-block {
        margin-top: 80px;
    }



    .our-partners .img-block img {
        max-width: 100%;
    }

    .our-partners .info-block {
        margin-top: 70px;
    }

    .our-partners .info-block .title {
        font-size: 24px;
        line-height: 30px;
    }

    .registration-block .img-block img {
        max-width: 100%;
    }
}

@media (max-width: 1024px) {
    .advantages-block .img-block img {
        display: none;

    }
    .advantages-block .img-block {
        margin-top: 0px;
    }

    header .top-block {
        min-height: unset;
    }

    nav.main {
        margin-bottom: 77px;
    }
}

@media (max-width: 992px) {

    .triangle-block:after {
        background: none;
    }

    header .top-block .title-block form .form-block {
        position: relative;
        z-index: 12;
    }
    header .top-block {
        background: #264eb8;
    }
    .select-flag {
        left: 50% !important;
        margin-left: -110px;
    }
    header .top-block .title-block form .form-block .select-block {
        position: static;
    }
    
    header .top-block .title-block form {
        text-align: center;
        margin-top: 30px;
    }

    header .top-block .title-block form .domen-block {
        justify-content: center;
    }

    header .top-block .title-block form .domen-block {
        box-shadow: none;
        display: block;
    }
    header .top-block .title-block form .form-block {
        display: flex;
        margin: 0 auto;
        width: 320px;
        border-radius: 50px;
    }


    header .top-block .title-block form input[type="submit"] {
        display: block;
        flex: none;
        float: none;
        margin:  20px auto;
    }


    .advantages .advantages-block .triangle-block .block {
        margin: 0 -15px;
    }

    .triangle-block {
        min-height: 0px;
        margin: 0px 0px; 
        position: relative;
    }

    nav.main {
        padding-top: 0;
    }

    nav.main .logo-block {
        text-align: center;
    }

    nav.main .nav-block {
        float: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav.main .logo-block a img {
        max-width: 100%;
    }

    header .top-block .title-block h1 {
        font-size: 25px;
    }

    header .top-block .title-block h1 span {
        font-size: 30px;
    }

    header .top-block .title-block form {
        margin-top: 40px;
    }

    header .top-block .title-block form .form-block .input-block input[type="text"] {
        max-width: 170px;
    }

    header .top-block .title-block form input[type="submit"] {
        padding: 15px;
    }

    header .top-block .title-block form .title {
        font-size: 15px;
    }

    .advantages .done-works .block .title {
        font-size: 36px;
    }

    .advantages .video .info-block {
        position: relative;
        max-width: unset;
        margin-bottom: 10px;
    }

    .advantages .video .info-block .title {
        font-size: 19px;
    }

    .advantages .advantages-block .info-block {
        margin-top: 0;
    }

    .advantages .advantages-block .info-block .title {
        margin-bottom: 10px;
    }

    .advantages .advantages-block .show-more {
        margin-top: 55px;
    }

    .our-partners {
        padding-bottom: 20px;
    }

    .our-partners .block img {
        margin-bottom: 30px;
        max-width: 150px;
    }

    .our-partners .info-block .title {
        margin-bottom: 20px;
    }

    .our-partners .img-block {
        text-align: center;
    }

    .our-partners .info-block .desc {
        margin-top: 10px;
    }

    .registration-block {
        padding-top: 40px;
    }

    .registration-block .title {
        margin-top: 30px;
        line-height: 30px;
    }

    .advantages .advantages-block .other-project-block {
        margin-top: 180px;
    }

    .advantages .advantages-block .other-project {
        margin: unset;
        max-width: 645px;
        padding: 30px;
    }

    .advantages .advantages-block .other-project img {
        top: -177px;
    }

    /* Pages */
    .about {
        text-align: center;
    }
    .about-picture {
        margin-top: 40px;
    }
    .who {
        padding-bottom: 65px!important;
        text-align: center;
    }
    .who-picture {
        margin-top: 40px!important;
    }
    .who-action {
        justify-content: center;
    }
    .who-nav_item {
        height: 120px!important;
    }
    .bread {
        padding-top: 140px!important;
    }
    .girl-other-project {
        width: 90%!important;
    }
}

@media (max-width: 767px) {

    .reviews .review-block {
        box-shadow: none;
        border: 1px solid #ededed;
    }
    .buttons-reviews {
        display: none;
    }

    nav.main {
        padding: 22px 0;
        margin-bottom: 40px;
    }

    nav.main .logo-block .mobile-btn {
        display: block;
        position: fixed;
        z-index: 99;
    }

    nav.main .mobile-block {
        display: none;
        z-index: 30;
    }

    nav.main .mobile-block.active {
        display: block;
      /*  position: fixed;
        left: 0;
        right: 0;
        background-color: #fff;
        margin-top: 10px;*/
    }

    nav.main .mobile-block.active .nav-block {
        display: flex;
        flex-direction: column;
        /*border-bottom: 2px solid #01cca3;
        border-top: 2px solid #01cca3;*/
    }

    nav.main .mobile-block.active .nav-block .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    nav.main .mobile-block.active .nav-block .lk {
 
        align-items: center;
        margin: 0;
    }

    nav.main .mobile-block.active .nav-block .menu li:not(:last-child) {
        margin: 0;
        display: block;
    }

    nav.main .mobile-block.active .nav-block .menu li a {
        /*color: #000;
        border: 0;*/
    }
    nav.main .mobile-block.active .nav-block .lk a {
        margin-left: 0;
    }
    nav.main .mobile-block.active .nav-block .lk li {
        display: block;
    }
    nav.main .mobile-block.active .nav-block .lk li a {
        /*color: #000;*/
    }

    header .top-block {
        padding-top: 120px;
        padding-bottom: 30px;
        height: auto;
    }

    header .top-block .position-middle {
        position: static;
        top: 50%;
        margin-top: 0px;
        width: 100%;
    }

    header .top-block .title-block h1 {
        margin-top: 0;
        text-align: center;
    }

    .owl-carousel-partners {
        text-align: center;
    }
    
    .owl-carousel .owl-item img {
        display: inline-block;
        width: auto;
        line-height: 100px;
    }

    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
        background: #264eb8;
    }

    header .top-block .title-block form {
        text-align: center;
        margin-top: 30px;
    }

    header .top-block .title-block form .domen-block {
        justify-content: center;
    }

    header .top-block .title-block form .domen-block {
        box-shadow: none;
        display: block;
    }
    header .top-block .title-block form .form-block {
        display: flex;
        margin: 0 auto;
        width: 320px;
        border-radius: 50px;
    }


    header .top-block .title-block form input[type="submit"] {
        display: block;
        flex: none;
        float: none;
        margin:  20px auto;
    }



    .advantages .video .info-block {
        text-align: center;
    }

    .advantages .advantages-block h2:before {
        display: none;
    }

    .advantages .advantages-block h2 {
        margin-left: 0;
        font-size: 25px;
        text-align: center;
    }

    .advantages .advantages-block .h2-desc {
        margin-left: 0;
        margin-bottom: 50px;
        text-align: center;
    }

    .advantages .advantages-block .show-more {
        margin-top: 10px;
    }

    .advantages .advantages-block .other-project-block {
        margin-top: 80px;
        padding-bottom: 50px;
    }
    .advantages .advantages-block .other-project {
        box-shadow: none;
        border: 1px solid #ededed;
    }
    .advantages .advantages-block .block-other-project:after {
        background: none;
    }

    .advantages .advantages-block .other-project img {
        display: none;
    }

   /* .advantages .advantages-block .triangle-block .block {
        margin-top: 150px;
    }
*/
    .advantages .advantages-block .other-project {
        padding: 20px;
        text-align: center;
    }
    .triangle-block {
        margin: 0;
        min-height: 0;
        background: none;
    }

    .advantages .advantages-block .triangle-block .block {
        margin-top: 0;
    }

    .advantages .advantages-block .other-project .title {
        font-size: 20px;
    }

    .advantages .advantages-block .other-project .to-project {
        padding: 14px 40px;
    }

    .reviews {
        padding-top: 30px;
    }

    .reviews h2 {
        margin-left: 0;
        font-size: 25px;
        
    }

    .reviews .h2-desc {
        margin-left: 0;
        margin-bottom: 50px;
     
    }

    .reviews .review-block {
        padding: 20px;
        padding-right: 10px;
    }

    .reviews .review-block .top-block {
        /*flex-direction: column;*/
        padding-bottom: 20px;
    }

    .reviews .review-block .top-block .logo-block {
        margin-top: 20px;
    }

    .reviews ul li {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .reviews .mini-review-block .top-block {
        flex-direction: column;
    }

    .reviews .mini-review-block .top-block .logo-block {
        margin-top: 20px;
    }

    .our-partners {
        padding-top: 60px;
    }

    .our-partners h2 {
        margin-left: 0;
        font-size: 25px;
       
    }

    .our-partners .h2-desc {
        margin-left: 0;
        margin-bottom: 50px;
     
    }

    .our-partners .block {
        flex-direction: column;
    }

    .our-partners .info-block {
        margin-top: 30px;
    }

    .our-partners .info-block .title {
        text-align: center;
    }

    .registration-block .title {
        font-size: 24px;
        text-align: center;
    }

    .registration-block .desc {
        text-align: center;
    }

    .registration-block .registration {
        display: block;
    }

    footer .footer-nav {
        text-align: center;
    }

    footer .address-block {
        margin-top: 20px;
    }
    .modal-dialog {
        margin: 10px auto;
    }

    footer .address-block p {
        text-align: center;
    }
    header .top-block .title-block form .form-block {
        position: relative;
        z-index: 12;
    }
    header .top-block {
        background: #264eb8;
    }
    .select-flag {
        left: 50% !important;
        margin-left: -110px;
    }
    header .top-block .title-block form .form-block .select-block {
        position: static;
    }

    footer .under {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }

    footer .under li {
        margin-right: 0;
    }

    footer .under li:not(:last-child) {
        margin-right: 0;
    }

    /* Pages */
    .who-action {
        flex-wrap: wrap;
    }
    .who-slider_text {
        padding: 20px!important;
    }
    .who-nav {
        margin-left: -5px!important;
        margin-right: -5px!important;
    }
    .who-nav_item {
        margin: 0 5px!important;
    }
    .who-slider_name {
        font-size: 28px!important;
        margin-top: 100px!important;
    }
    .referrer-result {
        width: 100%!important;
    }
    .bread {
        padding-top: 100px!important;
    }
    .buy-list {
        flex-wrap: wrap;
        justify-content: center!important;
        margin-left: 0!important;
        margin-right: 0!important;
    }
    .buy-item {
        width: 40%;
    }
    .girl {
        margin-top: 60px!important;
        margin-bottom: 60px!important;
    }
    .girl-other-project {
        width: 100%!important;
        text-align: center;
    }
    .girl-image {
        display: none;
    }
    .girl-desc {
        padding-right: 0!important;
    }
    .position-text {
        text-align: center;
    }
    .tariph-table {
        width: 100%!important;
    }
    .tariph-table th, .tariph-table td {
        padding: 5px!important;
        text-align: center;
        font-size: 14px!important;
    }
    .position-title {
        font-size: 34px!important;
        margin-top: 20px!important;
    }
    .position-picture {
        margin-top: 20px;
    }
    .girl-title {
        font-size: 28px!important;
    }
}

@media (max-width: 424px) {/*
    header .top-block .title-block form .domen-block {
        flex-direction: column;
    }

    header .top-block .title-block form .form-block {
        display: block;
    }*/
/*
    header .top-block .title-block form input[type="submit"] {
        margin: 20px auto;
        display: block;
        max-width: 150px;
        width: 100%;
    }

    header .top-block .title-block form .form-block {
        display: flex;
        flex-direction: column;
        background-color: unset;
    }

    header .top-block .title-block form .form-block .input-block {
        margin-bottom: 10px;
    }

    header .top-block .title-block form .form-block .input-block input[type="text"] {
        max-width: unset;
    }

    header .top-block .title-block form .form-block .input-block:after {
        display: none;
    }

    header .top-block .title-block form .form-block .select-block {
        width: 100%;
    }

    header .top-block .title-block form .form-block select {
        width: 100%;
        border-radius: 20px;
    }

    header .top-block .title-block form .form-block .select-block:after {
        right: 20px;
    }*/

    .who-nav_item {
        height: 75px!important;
    }
    .buy-item {
        width: 100%!important;
    }
}

@media (max-width: 375px) {
    nav.main .logo-block a img {
        max-width: 180px;
    }
}

/* sick */
#country .dropdown-menu li:first-child {
  display: none;
}

#country button {
  border-radius: 0;
  border: 0;
}

#country .caret {
  display: none;
}

/* Refferer */
.referrer {
    padding: 60px 0 80px 0;
}
.referrer-bold {
    font-size: 20px;

}
.referrer-list {
    padding: 18px 25px;
    list-style-image: url(../img/referrer-list.png);
    font-size: 16px;
}
.referrer-item {
    margin: 37px 0;
    padding-left: 20px;
}
.referrer-title {
    font-size: 20px;
    margin-bottom: 35px;
}
.referrer-text {
    font-size: 16px;
    line-height: 2;
}
.referrer-result {
    font-size: 24px;
    padding: 40px 25px;
    text-align: center;
    background-color: #f5f5f5;
    color: #3a4056;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    line-height: 1.6;
}
.referrer-qoutes {
    font-size: 14px;
}

/* Bread */
.bread {
    padding-top: 100px;
    position: relative;
}
.about-menu {
    border-bottom: 1px solid #eeeeee;
    font-size: 16px;
    list-style: none;
    display: flex;
    align-items: center;
    padding-bottom: 35px;
    padding-top: 35px;
    margin: 0;
    color: #3a4156;
}
.about-menu_link {
    color: #264eb8;
    text-decoration: none;
    border-bottom: 1px solid #264eb8;
}
.about-menu_link:hover,
.about-menu_link:focus {
    border-bottom: 1px solid transparent;
}
.about-menu_item {
    margin: 0 5px;
}
.about-menu_item::after {
    content: url(../img/about-menu_link-bg.png);
    margin-left: 25px;
    margin-right: 10px;
}
.about-menu_item:last-child::after {
    content: none;
}

/* About */
.about {
    color: #3a4156;
}
.about-body {
    margin-top: 80px;
    margin-bottom: 85px;
}
.about-title {
    font-size: 28px;
    line-height: 1.4;
}
.about-title_big {
    font-size: 37px;
}
.about-descr {
    margin-top: 30px;
    font-size: 22px;
}
.about-more {
    margin-top: 40px;
}
.about-more_link {
    font-size: 16px;
    display: inline-block;
    color: hsl(0, 0%, 100%);
    font-family: 'Muller';
    font-weight: 500;
    background-color: hsl(168, 99%, 40%);
    text-align: center;
    line-height: 11px;
    padding: 14px 45px;
    border-radius: 20px;
    border: 1px solid hsl(168, 99%, 40%);
    transition: 0.3s;
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.45);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    background-position: -86px -80px;
}

.about-more_link:hover {
    background: url(../img/hovera.png) no-repeat top center hsl(168, 99%, 40%);
    background-position: -4px -20px;
    color: #ffffff;
    text-decoration: none;
}
.about-more_link:focus {
    color: #ffffff;
    text-decoration: none;
}
.about-more_link-reverse {
    box-shadow: none;
    background-color: transparent;
    color: hsl(168, 99%, 40%);
    border: 1px solid hsl(168, 99%, 40%);
    text-decoration: none;
}
.about-more_link-reverse:focus {
    color: hsl(168, 99%, 40%);
}
.about-image {
    width: 100%;
}

/* Who */

.who {
    font-size: 18px;
    padding-top: 65px;
    padding-bottom: 200px;
    background-image: -moz-linear-gradient( -90deg, rgb(240,240,240) 0%, rgb(248,248,248) 20%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(240,240,240) 0%, rgb(248,248,248) 20%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(240,240,240) 0%, rgb(248,248,248) 20%, rgb(255,255,255) 100%);
}
.who-body {
    margin-top: -30px;
    line-height: 2.6;
}
.who-answer {
    margin-top: 35px;
    margin-bottom: 10px;
}
.who-action {
    display: flex;
    margin: 0 -10px;
}
.who-action_item {
    margin: 10px;
}

.who-picture {
    margin-top: 10px;
}
.who-slider {
    list-style: none;
}
.who-item {
    height: 260px;
    background-size: cover;
    outline: none;
}
.who-slider_text {
    font-family: 'MullerRegular';
    color: #3a4156;
    font-size: 15px;
    text-align: right;
    padding: 50px;
}
.who-slider_name {
    font-family: 'Muller';
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 800;
    margin-top: 40px;
    line-height: 1.2;
}
.who-nav {
    margin-top: 20px;
    list-style: none;
    margin-left: -20px;
    margin-right: -20px;
}
.who-nav_item {
    outline: none;
    width: 175px;
    height: 95px;
    background-size: cover;
    margin: 0 20px;
    opacity: 0.6;
}
.who-nav_item:hover,
.who-nav_item:focus {
    opacity: 1;
    transition: all 0.7s;
}

/* Table */
.position {
    color: #3a4156;
    margin: 20px 0 20px 0;
}
.position-title {
    font-family: 'Muller';
    font-size: 60px;
    font-weight: bold;
    margin-top: 80px;
    margin-bottom: 20px;
}
.position-descr {
    font-size: 22px;
}
.position-image {
    width: 100%;
}
.tariph {
    margin-top: 45px;
    padding-top: 70px;
    padding-bottom: 40px;
    background-image: -moz-linear-gradient( -90deg, rgb(240,240,240) 0%, rgb(248,248,248) 20%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(240,240,240) 0%, rgb(248,248,248) 20%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(240,240,240) 0%, rgb(248,248,248) 20%, rgb(255,255,255) 100%);
}
.tariph-table {
    width: 99%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.024);
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
}
.tariph-table th,
.tariph-table td {
    padding: 27px 25px;
    text-align: center;
    font-size: 16px;

}
.tariph-table td {
    border: 1px solid #f2f2f3;
    color: #3a4156;
}
.tariph-table th {
    background-color: #264eb8;
    color: #ffffff; 
    font-weight: 200;
}
.tariph-table th:first-child,
.tariph-table td:first-child {
    text-align: left;
}
.tariph-table td:first-child {
    color: #3a4156;
    font-weight: 200;
}
.tariph-blue {
    color: #264eb8;
}
.position-more {
    margin-top: 50px;
}

.buy {
    margin-top: 40px;
}
.buy-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
}
.buy-item {
    text-align: center;
    margin: 5px 20px;
}
.buy-picture {
    position: relative;
    width: 120px;
    height: 120px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(216, 216, 216);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, 0.027);
    margin: 0 auto;
    
}
.buy-image {
    position: absolute;
}
.buy-image-one {
    top: 30px;
    left: 30px;
}
.buy-image-two {
    top: 25px;
    left: 33px;
}
.buy-image-three {
    top: 23px;
    left: 23px;
}
.buy-image-four {
    top: 33px;
    left: 21px;
}
.buy-title {
    color: #264eb8;
    font-size: 18px;
    margin: 20px 0;
}
.buy-text {
    font-size: 14px;
    color: #3a4156;
}
.girl {
    margin-top: 200px;
    margin-bottom: 80px;
}
.girl-other-project {
    width: 800px;
    border-style: solid;
    border-width: 1px;
    color: #3a4156;
    border-color: rgb(216, 216, 216);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    padding: 40px;
    border-radius: 20px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.girl-title {
    font-size: 30px;
}
.girl-desc {
    font-size: 18px;
    padding-right: 200px;
}
.girl-image {
    position: absolute;
    right: -62px;
    bottom: -22px;
}
.girl-to-project:hover,
.girl-to-project:focus {
    background-position: -16px -20px;
}

/* Кнопка "войти" во всплывающем окне */
.form-login input[type='submit'] {
    font-size: 14px!important;
}
/* Размер инпутов во всплывающем окне */
.form-login label input {
    width: 101%!important;
}
.modal-login .modal-header .close {
    margin-right: 8px;
}

/* Модальное окно */
.custom-modal-content {
    padding: 0 15px;
}
.custom-modal-header {
    border: 0;
}
.custom-label {
    display: block;
    margin-bottom: 20px;
    color: hsl(225, 19%, 28%);
    font-weight: 300;
    font-size: 16px;
}
.custom-label-name {
    display: block;
    margin-bottom: 6px;
}
.custom-field {
    width: 100%;
    height: 40px;
    color: hsl(225, 19%, 28%);
    outline: none;
    background: hsl(0, 0%, 97%);
    border-radius: 50px;
    border: none;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 300;
    box-sizing: border-box;
}
.custom-close {
    margin-top: 10px!important;
    margin-right: 0;
    margin-bottom: -15px!important;
}
.custom-close,
.custom-close:hover,
.custom-close:focus {
    opacity: 1;
    transition: 0.1s;
}
.custom-dialog {
    max-width: 412px;
    width: 100%;    
}
.custom-save {
    font-size: 12px;
    display: block;
    font-weight: 300;
    margin-bottom: 20px;
    color: hsl(225, 19%, 28%);
}
.custom-modal-btn {
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    display: block;
    text-decoration: none;
    height: 40px;
    box-sizing: border-box;
    padding: 7px 45px;
    transition: 0.1s;
    border-radius: 22px;
    border: 0;
    font-weight: 500;
    background-color: hsl(168, 99%, 40%);
    box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.45);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);
    margin-left: 10px;
    margin: 20px auto;
    background-position: -4px -60px;
}
.custom-modal-btn:hover {
    background: url(../img/hovera.png) no-repeat top center hsl(168, 99%, 40%);
    background-position: -48px -20px;
    color: #ffffff;
    text-decoration: none;
}
.custom-title {
    margin-top: 0;
    margin-bottom: 30px;
}