body {
    margin: 50px;
    text-align: center;
    background-color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
}
#text, #text2, #text3, #text4 {
    transition: all ease 1.5s;
}
.custom-container {
    position: relative;
    margin: 0 auto;
    width: 100%;
}
.custom-block {
    position: absolute;
}
.custom-block-active {
    z-index: 1000;
}
.custom-header {
    background-color: #0b98b4;
    color: #ffffff;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}
.custom-header-spec {font-size: 20px;}
.custom-header-last {
    font-size: 25px;
}
.custom-header span {
    font-size: 18px;
}
.header-picture {
    width: 68px;
    height: 74px;
    background: url(../img/sprite.png) -10px -7px;
    margin-right: 10px;
    margin-top: 10px;
}
.header-trigonal {
    width: 157px;
    height: 157px;
    background: url(../img/sprite.png) -15px 170px;
    margin-right: 20px;
}
.header-animals {
    width: 225px;
    height: 160px;
    background: url(../img/sprite.png) -180px 170px;
    margin-top: 5px;
}
.sprite-item-one {
    width: 79px;
    height: 67px;
    background: url(../img/sprite.png) -170px -7px;
}
.sprite-item-two {
    width: 79px;
    height: 67px;
    background: url(../img/sprite.png) -85px -7px;
}
.sprite-item-tree {
    width: 79px;
    height: 67px;
    background: url(../img/sprite.png) -260px -3px;
}
.custom-block {
    width: 360px;
    height: 323px;
    background-color: #ffffff;
    margin: 40px auto;
    text-align: left;
}
.custom-body {
    padding: 0 20px;
}
.custom-wrap {
    display: flex;
    align-items: center;
    font-size: 16px;
    text-transform: uppercase;
}
.custom-wrap-single {
    justify-content: center;
}
.custom-wrap-single .header-trigonal {margin-right: 0;}
.custom-big {
    font-size: 49px;
}
.custom-medium {
    font-size: 21px;
}
.custom-footer {
    text-align: center;
    margin-top: 5px;
}
.custom-button {
    background-color: #0b98b4;
    color: #ffffff;
    border: 0;
    border-radius: 10px;
    padding: 10px 40px;
    font-size: 21px;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border: 2px solid #0b98b4;
}
.custom-button-num {
    padding: 10px 30px;
    margin: 0 10px;
}
.custom-button:hover,
.custom-button:focus {
    background-color: #ffffff;
    color: #0b98b4;
}
.custom-yellow {
    background-color: #ffcc00;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
}
.custom-item {
    text-align: center;
    font-size: 12px;
    margin: 10px 10px 5px 10px;
    font-weight: bold;
}
.custom-item span {
    font-size: 25px;
    color: #bf1e2d;
}
.custom-footer-last {
    margin-top: 15px;
}
.custom-link {
    text-decoration: none;
}
