/* Fonts */

$dublin: 'Dublin', Arial, Helvetica, sans-serif;
$trade-cn20: 'Trade-BdCn20', Arial, Helvetica, sans-serif;
$trade-cn20obl: 'Trade-BdCn20Obl', Arial, Helvetica, sans-serif;
$trade-cn18: 'Trade-Cn18', Arial, Helvetica, sans-serif;
$trade-cn18obl: 'Trade-Cn18Obl', Arial, Helvetica, sans-serif;

@font-face {
    font-family: 'Dublin';
    src: url(../fonts/Dublin.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Trade-BdCn20';
    src: url(../fonts/TradeGothicLTStd-BdCn20.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Trade-BdCn20Obl';
    src: url(../fonts/TradeGothicLTStd-BdCn20Obl.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Trade-Cn18';
    src: url(../fonts/TradeGothicLTStd-Cn18.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Trade-Cn18Obl';
    src: url(../fonts/TradeGothicLTStd-Cn18Obl.otf);
    font-weight: normal;
    font-style: normal;
}

/* Avatar generator */

body {
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.text-center {text-align: center;}
.text-right {text-align: right;}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
.avgen {
    background-image: url(../img/avgen-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
    text-align: center;
    padding: 50px 0 110px 0;
    position: relative;
    &-wrapper {
        margin: 0 auto;
        width: 980px;
        position: relative;
    }
    &-body {
        margin: 0 auto;
        width: 980px;
    }
    &-arrow {
        display: inline-block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #ffffff;
        border: 0;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        &-one {
            background-image: url(../img/avgen-arrow_left.png);
        }
        &-two {
            background-image: url(../img/avgen-arrow_right.png);
        }
    }
    &-picture {
        box-sizing: border-box;
        position: relative;
        display: inline-block;
    }
    &-image {
        width: 970px;
        height: 970px;
        border: 5px solid #ffffff;
    }
    &-btn {
        position: absolute;
        z-index: 1000;
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #ffffff;
        border: 0;
        outline: none;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        
        &-one {
            background-image: url(../img/avgen-social.png);
            top: 40px;
            right: 40px;
        }
        &-two {
            background-image: url(../img/avgen-btn-two.png);
            bottom: 40px;
            right: 40px;
        }
    }
}
.second {
    box-sizing: border-box;
    padding: 50px 20px;
    margin-top: -10px;
    background-color: #d5ecc6;
    border: 5px solid #ffffff;
    &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-btn {
        background-color: transparent;
        border: 0;
        opacity: 0.3;
        cursor: pointer;
        &:hover,
        &:focus,
        &.active {
            opacity: 1;
        }
    }
    &-icon {
        display: block;
        width: 83px;
        height: 45px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/second-icon-one.png);
        &-one {
            background-image: url(../img/second-icon-one.png);
        }
        &-two {
            background-image: url(../img/second-icon-two.png);
            width: 83px;
            height: 65px;
        }
        &-three {
            background-image: url(../img/second-icon-three.png);
            width: 146px;
            height: 53px;
        }
        &-four {
            background-image: url(../img/second-icon-four.png);
            width: 40px;
            height: 50px;
        }
        &-five {
            width: 83px;
            height: 45px;
            background-image: url(../img/second-icon-five.png);
        }
    }
}

/* Slider */
.avgen-list .slick-prev:before, 
.avgen-list .slick-next:before 
{ font-family: "slick"; font-size: 60px; line-height: 1; color: #000; opacity: 1; 
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

    .avgen-list .slick-prev:before { content: url(../img/avgen-arrow_left.png); }
[dir="rtl"] .avgen-list .slick-prev:before { content: url(../img/avgen-arrow_right.png); }

[dir="rtl"] .avgen-list .slick-next { left: -10px; top: 70px; right: auto;}
.avgen-list .slick-next:before { content: url(../img/avgen-arrow_right.png); }
[dir="rtl"] .avgen-list .slick-next:before { content: url(../img/avgen-arrow_left.png); }
.avgen-list .slick-prev, 
.avgen-list .slick-next {
    top: 52%;
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: hsl(0, 0%, 100%);
    border: 0;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.avgen-list .slick-prev {left: -100px; z-index: 100;}
.avgen-list .slick-next {right: -100px; z-index: 100;}

.avgen-list .slick-prev:before, 
.avgen-list .slick-next:before {
    font-size: 0;
}

/* Modals */

.custom-modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 9999;
    padding-top: 40px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    box-sizing: border-box;
}
.avgen-modal {
    display: inline-block;
    position: relative;
    width: 980px;
    margin: 0 auto;
    text-align: right;
    padding: 40px;
    box-sizing: border-box;
    z-index: 9999;
}   
.shares {
    display: flex;
    justify-content: flex-end;
    margin: 30px -15px 20px -15px;
    &-item {
        margin: 0 15px;
    }
    &-icon {
        display: inline-block;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 0;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: center;
        &-one {
            background-color: #4566aa;
            background-image: url(../img/shares-icon-one.png);
        }
        &-two {
            background-color: #00c2ec;
            background-image: url(../img/shares-icon-two.png);
        }
        &-three {
            background-color: #00d947;
            background-image: url(../img/shares-icon-three.png);
        }
        &-four {
            background-color: #c55321;
            background-image: url(../img/shares-icon-four.png);
        }
        &-five {
            background-color: #009be3;
            background-image: url(../img/shares-icon-five.png);
        }
        &-six {
            background-color: #8e160d;
            background-image: url(../img/shares-icon-six.png);
        }
    }
    &-close {
        display: inline-block;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 0;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(../img/shares-icon-seven.png);
        cursor: pointer;
    }
}
.overture {
    width: 100%;
    max-width: 1600px;
    text-align: center;
    color: #ffffff;
    &-close {
        margin-top: 30px;
    }
    &-pre {
        font-size: 90px;
        font-family: $trade-cn20;
        text-transform: uppercase;
    }
    &-title {
        font-size: 225px;
        font-family: $dublin;
        line-height: 1;
    }
    &-text {
        font-size: 50px;
        font-family: $trade-cn20;
    }
    &-btn {
        margin-top: 40px;
        background-color: rgb(255, 255, 255);
        font-size: 56px;
        font-family: $trade-cn20obl;
        color: #1f1f1f;
        text-transform: uppercase;
        padding: 10px 115px;
        border-radius: 45px;
        cursor: pointer;
        border: 0;
        &:hover,
        &:focus {
            background-color: #1f1f1f;
            color: #ffffff;
        }
    }
}
.ouvert {
    color: #ffffff;
    &-close {
        margin-right: 40px;
        margin-top: 30px;
    }
    &-title {
        margin-top: 350px;
        font-size: 115px;
        font-family: $trade-cn20;
        line-height: 10px;
    }
    &-text {
        margin-top: 40px;
        font-size: 70px;
        font-family: $trade-cn20;
    }
    &-btn {
        margin-top: 0;
    }
}
