body {
  background: #f5f5f5;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.content {
  max-width: 1320px;
  padding: 0 15px;
  margin: 0 auto;
}
.content2 {
  padding: 0;
}
.text-center {
  text-align: center;
}
h1 {
  margin-top: 80px;
  text-transform: uppercase;
  color: #fff;
  font-size: 54px;
  margin-bottom: 20px;
}
.slide2-title_big {
  font-size: 42px;
  padding: 0 ;
  margin: 0;
}

.main-title {
  text-transform: uppercase;
  color: #ff9900;
  font-size: 27px;
  font-weight: bold;
}

.swiper-slide {
  font-size: 18px;
  background-size: cover!important;
  background: #f5f5f5;
}

.swiper-slide1 {
  padding-bottom: 400px;
}
.swiper-slide1_body {
    padding-top: 130px;
    margin-left: 40px;
}
.logo-image {
    width: 300px;
}

.logo-image2 {
  width: 300px;
}

.slider2-graph {
  display: flex;
  font-size: 20px;
  text-transform: uppercase;
  margin: 40px 0;
}
.slider2-graph strong {
  font-size: 68px;
  color: #00b050;
}
.slider2-left_item {
  display: flex;
  align-items: center;
}
.slide2-title {
  background: url(../img/section-title-bg3.jpg) left no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 20px 0;
  padding-left: 40px;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: -2px;
}
.slide2-body {
  padding: 20px 0 20px 40px;
}
.slide2-title_green {
  color: #00b050;
  text-transform: uppercase;
  margin: 0;
}
.slide2-img {
  width: 600px;
}
.slider2-left_item {
  margin: 20px 0;
}
.slider2-left_item1 {
  margin-left: -120px;
}
.slider2-left_item2 {
  margin-top: 165px;
}
.slider2-left_item3 {
  margin-left: -120px;
  margin-top: 160px;
}
.slider2-line {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.slider2-line_hor {
  width: 200px;
  height: 3px;
  background: #cccccc;
}
.slider2-line_round {
  width: 10px;
  height: 10px;
  background: #cccccc;
  border-radius: 100%;
}
.slider2-left_text {margin-left: 20px;}
.slide-body {
  padding: 40px;
}
.slide-graphik {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide3-line {
  height: 3px;
  background: #cccccc;
  width: 100%;
}
.slide3-round {
  height: 10px;
  width: 10px;
  background: #cccccc;
  border-radius: 100%;
}
.slide-case {
  display: flex;
  justify-content: center;
}
.slide-case_item {
  margin: -75px 60px 0 60px;
  text-align: center;
  font-size: 22px;
}
.slide-case_item:hover i {
  background: #00b050;
}
.slide-case_item i {
  color :#fff;
  background: #6eaa2e;
  font-size: 38px;
  padding: 15px;
  border-radius: 100%;
}
.slide-case_item .fa-money-bill-wave {
  padding: 15px 12px;
}
.slide-case_item h4 {font-weight: normal;}

.slide3-cool {
  background: #00b050;
}
.slide3-cool .content{
  display: flex;
  justify-content: center;
  background: #00b050;
  color: #ffffff;
  padding: 40px 0;
  margin-top: 40px;
}
.slide3-cool_item {
  padding: 20px 40px;
  border-right: 1px dotted #ffffff;
}
.slide3-cool_item:last-child {
  border-right: 0;
}
.slide3-cool_title {
  font-size: 20px;
}
.slide3-cool_small {
  font-size: 26px;
  padding: 0;
  margin: 10px 0;
}

.main-table {
  width: 100%;
  font-size: 20px;
  margin: 40px 0;
  border: 2px solid #ccc;
}
.main-table th {
  color: #00b050;
}
.main-table th, .main-table td {
  border: 2px solid #ccc;
  margin: 0;
  padding: 10px;
}
.main-table_num {
  text-align: center;
  width: 33%;
}

.ref {
  background: #f5f5f5;
}
.ref-list {
  margin-left: 20px;
  margin-bottom: 0;
}
.ref-body {
  display: flex;
  justify-content: center;
  text-align: center;
}
.ref-item {
  margin: 20px 40px;
  width: 28%;
}
.ref-image {
  width: 100%;
  height: 400px;
}
.ref-item_title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  background: #cccccc;
  padding: 20px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}
.ref-item_title-gray {
  background: #b7b7b7;
}
.ref-item_title-gold {
  background: #cc9900;
}
.ref-item_title-plat {
  background: #adb9ca;
}
.ref-item_price {
  margin: 20px 0 10px 0;
  font-size: 24px;
  color: #00b050;
  font-weight: bold;
}
.ref-item_text {
  padding: 0 80px;
}

.slide2-title_green-rez {
  margin: 20px 0;
}
.rezid {
  background: #f5f5f5;
}
.rez-body {
  display: flex;
  justify-content: space-between;
}
.rez-body_left {
  width: 60%;
  font-size: 20px;
}
.rez-list_item {
  margin-bottom: 20px;
}
.rez-body_lright {width: 40%;}
.rez-right_image {width: 100%;}

.carrier-body {
  display: flex;
  justify-content: center;
  margin: 0 -10px;
}
.carrier-body_item {
  padding: 20px 10px;
}
.carrier-tab {
  text-align: center;
  width: 100%;
  border: 1px solid #b7b7b7;
}
.carrier-tab th {
  border: 1px solid #b7b7b7;
  padding: 10px;
  color: #10b55b;
}
.carrier-tab_small {
  padding: 0 10px!important;
}
.carrier-tab td {
  border: 1px solid #b7b7b7;
  padding: 10px;
}
.carrier-price {
  margin: 20px 0 0 0;
  font-weight: bold;
  font-size: 18px;
}
.prefer-body {
  margin: 40px 0;
}
.prefer-body_item {
  font-size: 20px;
  display: flex;
  margin: 40px 0;
  padding-right: 200px;
  align-items: center;
}
.prefer-image {
  font-size: 32px;
  text-align: center;
  min-width: 80px;
}
.prefer-icon {
  margin: 0 auto;
  background: #92d050;
  padding: 20px 18px;
  border-radius: 100%;
  color: #ffffff;
}
.prefer-icon-bill {
  padding: 20px 17px;
  background: #00b050;
}
.prefer-icon-dollar {
  padding: 20px 27px;
  background: #49721e;
}
.prefer-text {
  margin-left: 20px;
}

/* Гексагоны */
.hexagon-body {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 100px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 200px;
}
.hexagon-item-1 {margin: 0 0 0 -50px;}
.hexagon-item-5 {margin: 0 0 0 -60px;}
.hexagon-item-2 {
  margin: 162px 0 0 -50px;
  position: relative;
}
.hexagon-item-2 .hexagon-text {
  position: absolute;
  bottom: -196px;
  left: 60px;
  z-index: -100;
}
.hexagon-item-2 .hexagon-text3 {
  left: -5px;
  width: 250px;
}
.hexagonf {
  font-size: 20px; /* Sterowanie rozmiarem figury. */
  width: 6em;
  border-left: 3em solid transparent;
  border-right: 3em solid transparent;
  border-bottom: 5em solid #92d050;
  position: relative;
  margin: 40px auto 0;
}
.hexagonf:before {
  content: '';
  position: absolute;
  left: -3em; 
  top: 5em;
  width: 6em;
  border-top: 5em solid #92d050;
  border-left: 3em solid transparent;
  border-right: 3em solid transparent;
}
.hexagon2 {border-bottom: 5em solid #49721e;}
.hexagon2:before {border-top: 5em solid #49721e;}
.hexagon3 {border-bottom: 5em solid #00b050;}
.hexagon3:before {border-top: 5em solid #00b050;}
.hexagon4 {border-bottom: 5em solid #002e15;}
.hexagon4:before {border-top: 5em solid #002e15;}
.hexagon5 {border-bottom: 5em solid #70ad47;}
.hexagon5:before {border-top: 5em solid #70ad47;}
.hexagon-inup {
  position: relative;
}
.hexagonup {
  position: absolute;
  left: 30%;
  bottom: -50px;
}
.hexagonup2 {
  position: absolute;
  left: 27%;
  bottom: -50px;
}
.hexagonup-icon {
  font-size: 100px;
  color: #ffffff;
}
.hexagon-text_decor {
  margin-bottom: -40px;
  text-align: center;
  display: block;
  margin-top: 10px;
}
.hexagon-text_decor2 {
  margin-bottom: 10px;
}
.hexagon-text_round {
  width: 10px;
  height: 10px;
  background: #cccccc;
  border-radius: 100%;
  margin: 0 auto;
  text-align: center;
}
.hexagon-text_line {
  width: 2px;
  height: 30px;
  background: #cccccc;
  margin: 0 auto;
  text-align: center;
}

.adress {
  background: url(../img/cities-bg.jpg) bottom right no-repeat;
  background-size: cover;
}
.adress-wrapper {background: #f5f5f5; margin-top: 300px;}
.adress-body {
  display: flex;
  font-size: 18px;
  margin: 0;
}
.adress-left, .adress-right {
  margin-top: -280px;
  padding-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
}
.adress-left {
  width: 30%;
}
.adress-image {
  width: 100%;
  box-shadow: 0 0 5px 2px #9e9e9e;
}
.adress-right {
  padding-top: 50px;
  width: 70%;
}
.adress-right_title {
  color: #ffffff;
}
.adress-right_location {
  margin-top: 40px;
  font-size: 24px;
  background: #00b050;
  color: #ffffff;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px 2px #9e9e9e;
}

.orange {
  color: #ff9900;
  font-size: 28px;
  text-transform: uppercase;
}