
/* Шрифты */
@font-face {
    font-family: 'Trebuchet-MS';
    src: url(../fonts/Trebuchet-MS.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Основные стили */
body {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.content {
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 15px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 52px;
    font-family: 'Trebuchet-MS', Arial, Helvetica, sans-serif;
    margin: 10px 0;
    padding: 0;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 16px;
}
a {
    text-decoration: none;
    color: rgba(0, 191, 243, 1);
}
a:hover,
a:focus {
    text-decoration: none;
}

/* Меню */
nav {
    background-color: #00BFF3;
    padding: 15px 0;
    color: #ffffff;
}
.nav-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    display: flex;
    align-items: center;
}
.logo-text {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 0;
}
.nav-logo_left {
    width: 50%;
}
.nav-logo_right {
    display: flex;
    width: 50%;
    text-align: right;
    justify-content: space-between;
    align-items: center;
}
.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 64px;
}
.bld {
    font-weight: bold;
}
.nav-phone {
    font-size: 30px;
}
.phone-link {
    color: #ffffff;
    text-decoration: none;
}
.call-link {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.5);
}
.call-link:hover,
.call-link:focus {
    border-bottom: 1px dotted transparent;
}
.icons-list {
    display: flex;
    align-items: center;
}
.icons-item {
    margin-left: 10px;
}

/* Шапка */
header {
    margin-top: 25px;
}
.header-picture {
    position: relative;
}
.header-image {
    width: 100%;
}
.header-hot {
    position: absolute;
    bottom: 33px;
    left: 33px;
    border-radius: 100%;
    width: 250px;
    height: 250px;
    text-align: center;
    background-color: rgba(255, 242, 0, 0.7);
    font-family: 'Trebuchet-MS', Arial, Helvetica, sans-serif;
}
.hot-text {
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 40px;
}
.hot-title {
    padding-bottom: 15px;
    font-size: 34px;
    font-weight: bold;
    font-size: 25px;
}
.hot-descr {
    text-transform: uppercase;
    font-size: 14px;
}
.hot-code {
    margin-top: 5px;
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    padding: 2px 5px;
    font-size: 24px;
    letter-spacing: 1.8px;
}
.header-info {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/info-vector.svg);
    background-repeat: no-repeat;
    background-position: top right;
    position: relative;
    top: -75px;
    z-index: 1000;
    padding-top: 80px;
    margin-bottom: -80px;
}
.info-up {
    font-size: 35px;
    display: flex;
    font-family: 'Trebuchet-MS', Arial, Helvetica, sans-serif;
}
.header-title {
    margin-right: 20px;
    font-weight: bold;
    letter-spacing: 1px;
}
.header-stars {
    margin-right: 15px;
}
.header-price {
    margin-right: 10px;
}
.hotel {
    margin: 35px 0;
    display: flex;
    align-items: center;
}
.hotel-rewievs {
    font-weight: bold;
}
.hotel-descr {
    margin-right: 20px;
}
.hotel-point {
    margin: 0 20px 0 10px;
    background-color: #00BFF3;
    color: #ffffff;
    font-size: 26px;
    padding: 10px;
    text-align: center;
    font-family: 'Trebuchet-MS', Arial, Helvetica, sans-serif;
}
.hotel-table {
    line-height: 1;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.hotel-table th {
    font-size: 12px;
    font-weight: normal;
    padding-right: 15px;
}
.info-days {
    font-family: 'Trebuchet-MS', Arial, Helvetica, sans-serif;
    color: #777777;
    letter-spacing: -0.05em;
    font-weight: bold;
    font-size: 85px;
}
.info-sunshine {
    font-size: 30px;
    line-height: 1;
    margin-top: -5px;
}
.info-right {
    width: 200px;
    position: relative;
    left: -45px;
    top: -40px;
    line-height: 1;
}

/* Секции */
.propose-body {
    display: flex;
    margin: 10px -20px 10px -20px;
}
.propose-item {
   width: 550px;
   margin: 20px;
}
.propose-image {
    width: 100%;
}
.propose-text {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.propose-title {
    font-size: 35px;
    padding: 0;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.propose-link {
    text-decoration: none;
    color: #000000;
    font-family: 'Trebuchet-MS', Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #cccccc;
}
.propose-link:hover,
.propose-link:focus {
    color: #CB0000;
    border-bottom: 1px solid rgb(255, 61, 61);
}
.propose-small {
    padding: 0;
    margin: 10px 0 0 0;
}
.propose-price {
    text-align: right;
    font-size: 35px;
    font-family: 'Trebuchet-MS', Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
}
.propose-price-old {
    font-size: 20px;
    color: #777777;
    text-decoration-color: red;
    text-decoration-line: line-through;
}
blockquote {
    font-style: italic;
    border-left: 8px solid #00BFF3;
    padding: 15px 0 15px 15px;
    margin-left: 47px;
}
.good2know-body {
    display: flex;
    margin: 20px -15px;
}
.good2know-text {
    width: 77%;
    padding: 0 15px;
}
.good2know-promo {
    width: 23%;
    padding: 0 15px;
    padding-top: 300px;
    line-height: 1;
    font-family: 'Trebuchet-MS', Arial, Helvetica, sans-serif;
}
.good-table {
    border: 0;
    width: 100%;
    border-spacing: 0;
    text-align: center;
    margin: 30px 0;
}
.good-table th {
    background-color: #cccccc;
    padding: 8px 10px;
    margin: 0;
}
.good-table td {
    padding: 8px 10px;
}
.good2know-list {
    margin-left: 10px;
}
.promo-num {
    font-size: 100px;
    color: #777777;
    font-weight: bold;
    font-family: 'Trebuchet-MS', Arial, Helvetica, sans-serif;
}
.promo-title {
    font-size: 30px;
    margin: 15px 0 0 0;
}
.promo-text {
    font-size: 20px;
    color: #777777;
    padding: 10px 0 0 0;
    margin: 0;
    line-height: 1.2;
}

/* Подвал */
footer {
    margin: 40px 0 0 0;
    font-size: 12px;
}
.footer-body {
    border-top: 1px solid #777777;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text {
    padding: 0;
    margin: 0;
}
.footer-link {
    text-decoration: none;
    color: rgba(0, 191, 243, 1);
    border-bottom: 1px solid rgba(0, 191, 243, 0.25);
}
.footer-link:hover,
.footer-link:focus {
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 191, 243, 1);
}