@media (max-width: 1080px) {
    .mobile {
        display: inline-block;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        position: absolute;
        top: 17px;
        left: 18px;
    }
    .header-body .col-5 {
        display: none;
    }
    .header-body .col-7 {
        width: 100%;
    }
    nav {
        align-items: flex-start;
        justify-content: flex-end;
        position: relative;
    }
    .menu {
        margin-right: 0;
        display: none;
        padding-top: 40px;
        &.responsive {
            display: block;
        }
    }
    .social {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .categories-list {
        justify-content: flex-start;
        margin: 0 -10px;
    }
    .categories-item {
        width: 30%;
        margin: 10px;
    }
    .categories-apply {
        margin-top: 5px;
    }
    .recently-wrap {
        flex-wrap: wrap;
        & .col-4 {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;
        }
    }
    .recently-more {
        text-align: center;
        margin-top: 40px;
    }
    .hear-list {
        flex-wrap: wrap;
    }
    .hear-item {
        width: 100%;
    }
    .team-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    .team-item {
        width: 100%;
    }
    .links-body {
        flex-wrap: wrap;
        & .col-8 {
            width: 100%;
        }
        & .col-4 {
            width: 100%;
        }
    }
}
@media (max-width: 768px) {
    .header-body {
        padding: 5px 0;
        text-align: center;
    }
    .header-list {
        display: block;
        margin-left: 0;
    }
    .header-item {
        margin: 10px 0;
    }
    .categories-item {
        width: 45%;
    }
    .about-wrap_title {
        font-size: 40px;
    }
    .links-item {
        width: 100%;
    }
}
@media (max-width: 520px) {
    .beauty {
        margin: 50px 0 50px 0;
    }
    .beauty-wrap {
        width: 100%;
        box-sizing: border-box;
    }
    .search-btn {
        font-size: 14px;
    }
    .categories {
        margin: 20px 0 0 0;
    }
    .categories-item {
        width: 100%;
    }
    .categories-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .recently-wrap {
        margin-top: 20px;
      
    }
    .about {
        margin: 20px 0 20px 0;
    }
    .about-wrap {
        margin-top: 20px;
    }
    .hear {
        margin-top: 20px;
    }
    .hear-list {
        margin: 20px 0 20px 0;
    }
    .sponsors {
        margin: 20px 0 20px 0;
    }
    .team {
        margin: 20px 0;
    }
    .team-list {
        margin: 20px 0;
    }
    .links {
        margin: 20px 0;
    }
    footer {
        padding: 40px 0;
    }
    .hear-name {
        width: 80%;
    }
}
@media (max-width: 425px) {
    h2 {
        font-size: 24px;
    }
    .about-wrap_title {
        font-size: 24px;
    }
    .recently-block {
        display: block;
    }
    .recently-block_left {
        width: 100%;
    }
    .recently-block_left .recently-hide {
        width: 97%;
        bottom: 8px;
        left: 6px;
    }
    .recently-block_right {
        width: 100%;
        box-sizing: border-box;
        margin-top: 0;
        margin-bottom: 0;
    }
    .adress-list {
        font-size: 16px;
    }
    .adress-text {
        font-size: 16px;
    }
    .categories-text {
        font-size: 16px;
    }
    .about-wrap {
        font-size: 16px;
    }
    .hear-quote {
        font-size: 16px;
    }
}