<div class="lk-chat announcement__chat js-lk-chat-drop">
	<div class="lk-chat__box">
		<ul class="lk-chat__list">
			<li class="lk-chat__list-item">
				<div class="lk-chat__list-box">
					<p class="lk-chat__list-text"><span class="lk-chat__list-name">Заказчик:</span> Наш сайт поможет быстро найти домработницу, сиделку, няню или другой домашний персонал по выгодной цене. Разместите заявку и проверенные исполнители из нашей базы.</p>
					<time class="lk-chat__list-time" datetime="2011-01-12">25 ноября 2016  / 00:00</time>
				</div>
			</li>
			<li class="lk-chat__list-item lk-chat__list-item--user">
				<div class="lk-chat__list-box">
					<p class="lk-chat__list-text"><span class="lk-chat__list-name">Вы:</span> Через сервис вы можете заказать недорогие услуги детской няни на дому. На нашем сайте заполняют профили специалисты с подтвержденными квалификационными навыками, поэтому поиск не займет много времени. Заказывая услуги няни для своего ребенка у нас, вы можете не сомневаться в ее профессионализме и ответственном подходе к выполнению обязанностей.</p>
					<time class="lk-chat__list-time" datetime="2011-01-12">25 ноября 2016  / 00:00</time>
				</div>
			</li>
			<li class="lk-chat__list-item">
				<div class="lk-chat__list-box">
					<p class="lk-chat__list-text"><span class="lk-chat__list-name">Заказчик:</span> Наш сайт поможет быстро найти домработницу, сиделку, няню или другой домашний персонал по выгодной цене. Разместите заявку и проверенные исполнители из нашей базы.</p>
					<time class="lk-chat__list-time" datetime="2011-01-12">25 ноября 2016  / 00:00</time>
				</div>
			</li>
			<li class="lk-chat__list-item lk-chat__list-item--user">
				<div class="lk-chat__list-box">
					<p class="lk-chat__list-text"><span class="lk-chat__list-name">Вы:</span> Через сервис вы можете заказать недорогие услуги детской няни на дому. На нашем сайте заполняют профили специалисты с подтвержденными квалификационными навыками, поэтому поиск не займет много времени. Заказывая услуги няни для своего ребенка у нас, вы можете не сомневаться в ее профессионализме и ответственном подходе к выполнению обязанностей.</p>
					<time class="lk-chat__list-time" datetime="2011-01-12">25 ноября 2016  / 00:00</time>
				</div>
			</li>
			<li class="lk-chat__list-item lk-chat__list-item--user">
				<div class="lk-chat__list-box">
					<p class="lk-chat__list-text"><span class="lk-chat__list-name">Вы:</span> Через сервис вы можете заказать недорогие услуги детской няни на дому. На нашем сайте заполняют профили специалисты с подтвержденными квалификационными навыками, поэтому поиск не займет много времени. Заказывая услуги няни для своего ребенка у нас, вы можете не сомневаться в ее профессионализме и ответственном подходе к выполнению обязанностей.</p>
					<time class="lk-chat__list-time" datetime="2011-01-12">25 ноября 2016  / 00:00</time>
				</div>
			</li>
		</ul>
	</div>
	<form class="lk-chat-write js-chat-form" action="#">
		<div class="lk-chat-write__left">
			<div class="lk-chat-write__text-box">
				<textarea name="name" class="input input--textarea lk-chat-write__textarea js-textarea-height" placeholder="Введите Ваше сообщение"></textarea>
			</div>
			<button class="lk-chat-write__send btn btn-pink btn-pink--middle">Отправить сообщение</button>
		</div>
		<div class="lk-chat-write__right">
			<img class="lk-chat-write__img" src="pic/lk/photo/photo-03.jpg" alt="">
		</div>
	</form>
</div>