<div class="popup popup-comment js-modal-comment-form-drop">
	<div class="popup__content">
		<form class="popup-comment__form js-popup-comment-form">
			<h3 class="lk-title-h3 lk-title-h3--indent popup-comment__title">Просим быть максимально объективным</h3>
			<p class="popup-comment__text lk-content__text">Оцените следующие качества по пятибальной шкале</p>
			<div class="popup-comment-vote">
				<dl class="popup-comment-vote__box">
					<dt class="popup-comment-vote__cell">Общение:</dt>
					<dd class="popup-comment-vote__cell">
						<input type="hidden" class="popup-comment-vote__input" name="popup_comment_form_star1">
						<div class="popup-comment-vote__star">
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">1</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">2</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">3</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">4</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">5</span>
							</a>
						</div>
					</dd>
					<dt class="popup-comment-vote__cell">Порядочность:</dt>
					<dd class="popup-comment-vote__cell">
						<input type="hidden" class="popup-comment-vote__input" name="popup_comment_form_star2">
						<div class="popup-comment-vote__star">
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">1</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">2</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">3</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">4</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">5</span>
							</a>
						</div>
					</dd>
					<dt class="popup-comment-vote__cell">Исполнение финансовых обязательств:</dt>
					<dd class="popup-comment-vote__cell">
						<input type="hidden" class="popup-comment-vote__input" name="popup_comment_form_star3">
						<div class="popup-comment-vote__star">
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">1</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">2</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">3</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">4</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">5</span>
							</a>
						</div>
					</dd>
					<dt class="popup-comment-vote__cell">Характер ребенка:</dt>
					<dd class="popup-comment-vote__cell">
						<input type="hidden" class="popup-comment-vote__input" name="popup_comment_form_star4">
						<div class="popup-comment-vote__star">
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">1</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">2</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">3</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">4</span>
							</a>
							<a href="#" class="popup-comment-vote__item">
								<svg class="popup-comment-vote__ico">
									<use xlink:href="#star"></use>
								</svg>
								<span class="popup-comment-vote__text">5</span>
							</a>
						</div>
					</dd>
				</dl>
			</div>
			<div class="popup-comment-message">
				<div class="popup-comment-message__row popup-comment-message__row--plus">
					<textarea name="popup_comment_form_plus" class="popup-comment-message__textarea input input--textarea" placeholder="Положительные моменты .."></textarea>
				</div>
				<div class="popup-comment-message__row popup-comment-message__row--minus">
					<textarea name="popup_comment_form_minus" class="popup-comment-message__textarea input input--textarea" placeholder="Отрицательные моменты .."></textarea>
				</div>
			</div>
			<button type="submit" class="popup-comment__send btn btn-pink btn-pink--middle">Опубликовать отзыв</button>
		</form>
	</div>
	<div class="popup__close js-modal-comment-form-close"></div>
</div>