<div class="popup lk-popup-contacts" id="lk-popup-contacts">
	<div class="popup__content">
		<span class="lk-popup-contacts__title">Загрузить контакты из Вашей<br> электронный почты</span>
		<div class="lk-popup-contacts__email">
			<div class="lk-popup-contacts__email-item">
				<a href="#" class="lk-popup-contacts__email-link">
					<img class="lk-popup-contacts__email-img" src="pic/lk/email/google.png" alt="">
				</a>
			</div>
			<div class="lk-popup-contacts__email-item">
				<a href="#" class="lk-popup-contacts__email-link">
					<img class="lk-popup-contacts__email-img" src="pic/lk/email/mail.png" alt="">
				</a>
			</div>
			<div class="lk-popup-contacts__email-item">
				<a href="#" class="lk-popup-contacts__email-link">
					<img class="lk-popup-contacts__email-img" src="pic/lk/email/yandex.png" alt="">
				</a>
			</div>
		</div>
		<div class="lk-popup-contacts__else">
			<span class="lk-popup-contacts__else-text">или</span>
		</div>
		<form action="#" class="lk-bonus__form lk-popup-contacts__form js-lk-recommendation-popup-form">
			<div class="lk-bonus__form-row">
				<div class="lk-bonus__form-cell">
					<input type="text" class="input" placeholder="Введите e-mail друзей через запятую" name="emails_values">
				</div>
				<div class="lk-bonus__form-cell">
					<button type="submit" class="btn btn-pink btn-pink--middle lk-bonus__form-btn ">Загрузить</button>
				</div>
			</div>
		</form>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>