<!-- popup-registration -->
<div class="popup popup-registration-success popup-registration-success2" id="popup-registration-success2">
	<div class="popup-registration-success2__code-again">На указанный номер повторно выслан<br> код подтверждения</div>
	<div class="popup__content">
		<form action="#" class="js-popup-registration-success2-form">
			<div class="popup-registration-success__title">Ура, Вы зарегистрированы! </div>
			<div class="popup-registration-success__text">Для подтверждения регистрации и защиты Ваших данных, а также отображения анкеты на сайте, мы вышлем на Ваш номер мобильного телефона <strong>бесплатное</strong> сообщение с кодом</div>
			<div class="popup-registration-success__input-tel">
				<input type="text" class="input input--center input--medium input--medium2 input--blue js-mask-tel" name="popup_registration_success_tel" placeholder="+7 ( ___ ) ___-__-__" value="+7 ( 495 ) 780-60-00" readonly>
			</div>
			<div class="popup-registration-success__other-number">
				<a href="#" data-href="#popup-registration-success" class="popup-registration-success__other-number-link js-popup-link">Указать другой номер</a>
			</div>
			<div class="popup-registration-success__input-code">
				<input type="text" class="input input--center input--medium input--medium2" name="popup_registration_success2_code" placeholder="Введите сюда свой код">
			</div>
			<div class="popup-registration-success__info">На  Ваш телефон в течение нескольких секунд придет 4-значный код. Пример кода: 4965</div>
			<div class="popup-registration-success__buttons">
				<button data-href="#popup-registration-complete" class="btn btn-pink btn-pink--medium popup-registration-success__buttons-btn">Подтвердить код</button>
				<a href="#" class="popup-registration-success__buttons-link js-send-code-again">Я не получил код</a>
			</div>
		</form>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-registration end -->