<!-- popup-message-sended -->
<div class="popup popup-message-sended" id="popup-message-sended2">
	<div class="popup-message-sended__success-title">Ваш отклик на вакансию няни отправлен!</div>
	<div class="popup-message-sended__success-subtitle">Автор объявления обызательно скоро его увидит</div>
	<div class="popup-message-sended__image"></div>

	<div class="popup-message-sended__title">Расскажите больше о себе и<br> привлеките лучших клиентов</div>
	<div class="popup-message-sended__text">Наша компания заботится о поддержании доверия и безопасности между родителями и нянями. Пока Вы ждете ответа, пожалуйста, перейдите в личный кабинет и укажите больше информации о себе , а заодно ознакомьтесь с его функционалом. Всю свою переписку, отклики, бронирования, отзывы Вы сможете отслеживать там же.</div>
	<div class="popup-message-sended__buttons">
		<ul class="popup-message-sended__buttons-list">
			<li class="popup-message-sended__buttons-list-item">
				<a href="#" class="btn btn-pink btn-pink--medium popup-message-sended__buttons-list-item-btn-pink">Перейти в личный кабинет</a>	
			</li>
			<li class="popup-message-sended__buttons-list-item">
				<div class="btn btn-gray popup-message-sended__buttons-list-item-btn-gray js-popup-close">ОК</div>	
			</li>
		</ul>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-message-sended end -->