<!-- popup-registration -->
<div class="popup popup-registration" id="popup-registration">
	<div class="popup__title">Для продолжения необходимо войти в систему либо зарегистрироваться.<br> Это быстро и просто!</div>
	<div class="popup__content">
		<div class="popup-social">
			<ul class="popup-social-list">
				<li class="popup-social-list__item">
					<a href="#" data-href="#popup-continue" class="btn btn-facebook btn--soc-btn-fb-white-abs-left popup-social-list__item-btn js-popup-link">
						<span class="icon-soc-btn-fb-white btn__icon"></span>
						<span class="btn__text">Зарегистрироваться<br> через Facebook</span>
					</a>
				</li>
				<li class="popup-social-list__item">
					<a href="#" data-href="#popup-continue" class="btn btn-odnoklas btn--soc-btn-odn-white-abs-left popup-social-list__item-btn js-popup-link">
						<span class="icon-soc-btn-odn-white btn__icon"></span>
						<span class="btn__text">Зарегистрироваться<br> через Оноклассники</span>
					</a>
				</li>
				<li class="popup-social-list__item">
					<a href="#" data-href="#popup-continue" class="btn btn-vkontakte btn--soc-btn-vk-white-abs-left popup-social-list__item-btn js-popup-link">
						<span class="icon-soc-btn-vk-white btn__icon"></span>
						<span class="btn__text">Зарегистрироваться<br> через Вконтакте</span>
					</a>
				</li>
			</ul>
			<div class="or-divider">
				<div class="or-divider__inner">или</div>
			</div>
			<a href="#popup-registration2" data-href="#popup-registration2" class="btn btn-pink btn-pink--small btn--width-full btn--icon-mail-abs-left js-popup-link">
				<span class="icon-mail-white-medium btn__icon"></span>
				<span class="btn__text">Зарегистрироваться<br> через Email</span>
			</a>
		</div>
		<div class="popup__info">Регистрируясь, Вы соглашаетесь с <a href="#">Условиями предоставления услуг</a> и <a href="#">политикой конфиденциальности</a></div>
	</div>
	<div class="popup__bottom">Уже зарегистрированы? <a href="#popup-login" data-href="#popup-login" class="js-popup-link">Войти</a></div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-registration end -->