<!-- popup-registration -->
<div class="popup popup-registration2 popup-registration2-confirm" id="popup-registration2-confirm">
	<form action="#" class="js-popup-registration2-confirm-form">
		<div class="popup__content">
			<div class="popup-registration2-confirm__title">Подтвердить</div>
			<div class="popup-registration2-confirm__info">Все верно? Проверьте правильность заполнения полей?</div>

			<div class="popup-registration2-form">
				<div class="popup-registration2-form__title">Имя:</div>
				<div class="form-row form-row--popup-registration2-form">
					<div class="input-item input-item--user">
						<input type="text" class="input input--font-small" name="popup_registration2_confirm_firstname" placeholder="Имя" value="Анатолий">
					</div>
				</div>
				<div class="form-row form-row--popup-registration2-form">
					<div class="input-item input-item--user">
						<input type="text" class="input input--font-small" name="popup_registration2_confirm_lastname" placeholder="Фамилия" value="Петров">
					</div>
				</div>
				<div class="popup-registration2-form__title popup-registration2-form__title--indent-top">Электронная почта</div>
				<div class="form-row form-row--popup-registration2-form">
					<div class="input-item input-item--email">
						<input type="email" class="input input--font-small" name="popup_registration2_confirm_email" placeholder="Email" value="petrov@gmail.com">
					</div>
				</div>
				<div class="popup-registration2-form__birthday">
					<div class="popup-registration2-form__birthday-title">
						<span class="popup-registration2-form__birthday-title-text">День рождения</span>
						<span class="tooltip tooltip--tooltip">
							<span class="icon-tooltip-violet tooltip__head"></span>
							<span class="tooltip__content">Для регистрации Вы должны быить старше 18 лет. Другие пользователи не увидят Вашу дату рождения.</span>
						</span>
					</div>
					<div class="row">
						<div class="col-sm-39">
							<div class="form-row form-row--mobile">
								<select class="select select--small select--popup-registration2-form js-select" name="popup_registration2_birth_month">
									<option selected data-placeholder="true">Месяц</option>
									<option value="1">01</option>
									<option value="2">02</option>
									<option value="3">03</option>
									<option value="3">04</option>
									<option value="3">05</option>
									<option value="3">06</option>
									<option value="3">07</option>
									<option value="3">08</option>
									<option value="3">09</option>
									<option value="3">10</option>
									<option value="3">11</option>
									<option value="3">12</option>
								</select>
							</div>
						</div>
						<div class="col-sm-31">
							<div class="form-row form-row--mobile">
								<select class="select select--small select--popup-registration2-form js-select" name="popup_registration2_birth_day">
									<option selected data-placeholder="true">День</option>
									<option value="1">01</option>
									<option value="2">02</option>
									<option value="3">03</option>
									<option value="3">09</option>
								</select>
							</div>
						</div>
						<div class="col-sm-30">
							<div class="form-row form-row--mobile">
								<select class="select select--small select--popup-registration2-form js-select" name="popup_registration2_birth_year">
									<option selected data-placeholder="true">Год</option>
									<option value="1">1988</option>
									<option value="2">1989</option>
									<option value="3">1990</option>
								</select>
							</div>
						</div>
						<span class="popup-form__selects-error js-popup-selects-error-message">Чтобы продолжить выберите дату своего рождения? </span>
					</div>
				</div>
				<div class="popup__info">Информация получена от Facebook</div>
				<button data-href="#popup-addphoto-success" class="btn btn-pink btn-pink--medium btn--width-full">Подтвердить и<br> зарегистрироваться</button>
			</div>
			<div class="popup__info">Ваши данные строго<br> конфиденциальны, не беспокойтесь!</div>
		</div>
	</form>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-registration end -->