<!-- popup-registration -->
<div class="popup popup-addphoto popup-addphoto-social" id="popup-addphoto-social">
	<div class="popup__content">
		<div class="popup-addphoto__title">Добавить фотографию</div>
		<div class="popup-addphoto__info">Добавить к имени лицо, чтобы<br> адресат Вас узнал!</div>
		<div class="popup-addphoto__photo">
			<img src="pic/popup-addphoto/popup-addphoto-default.jpg" alt="" class="popup-addphoto__photo-img">
		</div>
		<div class="popup-addphoto-social__buttons">
			<button data-href="#popup-addphoto-success" class="btn btn-facebook btn-facebook--medium popup-addphoto-social__buttons-btn js-popup-link">Использовать фото из Facebook</button>
			<button data-href="#popup-addphoto-success" class="btn btn-odnoklas btn-odnoklas--medium popup-addphoto-social__buttons-btn js-popup-link">Использовать фото из Однокслассников</button>
			<button data-href="#popup-addphoto-success" class="btn btn-vkontakte btn-vkontakte--medium popup-addphoto-social__buttons-btn js-popup-link">Использовать фото из Вконтакте</button>
			<button data-href="#popup-addphoto-success" class="btn btn-gray popup-addphoto-social__buttons-btn js-popup-link">Загрузите фото</button>
		</div>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-registration end -->