<!-- search -->
<div class="search">
	<form action="#">
		<div class="search__left">
			<div class="row search__left-row">
				<div class="col-sm-25 search__left-col">
					<select class="select js-select-drop">
						<option data-placeholder="true" selected>Кого ищите?</option>
						<option value="1">Ищу няню</option>
						<option value="2">Ищу работу</option>
						<option value="3">Ищу агентство</option>
					</select>
				</div>
				<div class="col-sm-25 search__left-col">
					<div class="drop drop--towns js-drop-parent">
						<div class="drop__head js-drop-link">
							<a href="#" class="drop-link">Выберите город</a>
						</div>
						<div class="drop__content js-drop-content">
							<div class="towns">
								<div class="towns__scrollpane">
									<div class="row towns__row">
										<div class="col-sm-50 towns__col">
											<ul class="towns-list">
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor town-item__decor--strong">Москва</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Астрахань</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Барнаул</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Владивосток</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Волгоград</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Воронеж</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Екатеринбург</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Астрахань</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Барнаул</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Владивосток</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Волгоград</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Воронеж</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Екатеринбург</span>
													</label>
												</li>
											</ul>
										</div>
										<div class="col-sm-50 towns__col">
											<ul class="towns-list">
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor town-item__decor--strong">Санкт-Петербург</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Новоссибирск</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Омск</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Оренбург</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Пенза</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Пермь</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Ростов-на-Дону</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Новоссибирск</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Омск</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Оренбург</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Пенза</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Пермь</span>
													</label>
												</li>
												<li class="towns-list__item">
													<label class="town-item">
														<input type="radio" class="town-item__radio" name="drop_search_town">
														<span class="town-item__decor">Ростов-на-Дону</span>
													</label>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-25 search__left-col">
					<div class="drop drop--dates js-drop-parent">
						<div class="drop__head">
							<a href="#" class="drop-link drop-link--dates js-drop-link js-datepickers-text">Период с <span class="icon-arrow-toright-gray"></span> по</a>
						</div>
						<div class="drop__content js-drop-content">
							<div class="dates">
								<div class="dates__datepickers">
									<div class="js-datepicker-double"></div>
								</div>
								<div class="dates__content">
									<div class="dates__content-column">
										<div class="dates__content-checkboxes">
											<ul class="checkboxes-list">
												<li class="checkboxes-list__item">
													<label class="checkbox">
														<input type="checkbox" class="checkbox__check" checked>
														<span class="checkbox__icon">
															<span class="checkbox__icon-image"></span>
														</span>
														<span class="checkbox__inner">
															<span class="checkbox__text">Только будни</span>
														</span>
													</label>
												</li>
												<li class="checkboxes-list__item">
													<label class="checkbox">
														<input type="checkbox" class="checkbox__check">
														<span class="checkbox__icon">
															<span class="checkbox__icon-image"></span>
														</span>
														<span class="checkbox__inner">
															<span class="checkbox__text">Только выходные</span>
														</span>
													</label>
												</li>
											</ul>
										</div>
									</div>
									<div class="dates__content-column">
										<div class="slider-range-time">
											<div class="slider-range-time__values">
												<span class="slider-range-time__values-item js-slider-range-item-from">08:00</span>
												<span class="slider-range-time__values-arrow icon-arrow-toright-pink"></span>
												<span class="slider-range-time__values-item js-slider-range-item-to">20:00</span>
											</div>
											<div class="slider-range slider-range-time__slider">
												<div class="slider-range__item slider-range__item--small-handlers js-slider-range-time"></div>
											</div>
											<ul class="slider-range-time__scales-list">
												<li class="slider-range-time__scales-list-item">06:00</li>
												<li class="slider-range-time__scales-list-item">12:00</li>
												<li class="slider-range-time__scales-list-item">18:00</li>
												<li class="slider-range-time__scales-list-item">00:00</li>
												<li class="slider-range-time__scales-list-item">06:00</li>
											</ul>
										</div>
									</div>
								</div>
								<a href="#" class="dates__okay btn btn-border-violet js-close-drop">ok</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-25 search__left-col">
					<select class="select js-select-drop">
						<option data-placeholder="true" selected>Количество детей</option>
						<option value="1">1 ребенок</option>
						<option value="2">2 ребенка</option>
						<option value="3">3 ребенка</option>
						<option value="4">4 ребенка</option>
						<option value="5">5 детей</option>
					</select>
				</div>
			</div>
		</div>
		<div class="search__right">
			<button class="btn btn-pink search__right-btn">Начать поиск</button>
		</div>
	</form>
</div>
<!-- search end -->