@media (max-width: 1260px) {
  .nav-item {
    margin-left: 15px;
  }
  .promo {
    margin-bottom: -3px;
  }
  .promo-title {
    font-size: 115px;
  }
  .promo-image {
    width: 100%;
  }
  .main-body {
    margin-top: -160px;
  }
  .shop-more {
    top: 33%;
  }
  .shop-image {
    height: 300px;
  }
}

@media (max-width: 992px) {
  .mobile {
    display: block;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px 15px 15px 15px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .mobile-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mobile-title {
    display: inline-block;
    font-size: 24px;
    font-family: 'CormorantUpright-Regular', Arial, Helvetica, sans-serif;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  .mobile-title-link {
    color: #F2F2F2;
    text-decoration: none;
  }
  .mobile-icon {
    display: inline-block;
    min-width: 30px;
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/mobile-icon.svg);
  }
  .bucket {
    position: relative;
    display: inline-block;
  }
  .bucket-num {
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    font-size: 8px;
    line-height: 11px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
    top: -3px;
    right: 0;
  }
  .bucket-num-value {
    position: relative;
    top: -1px;
    left: 0.5px;
  }
  .header {
    background: #000000;
    width: 280px;
    bottom: 0;
    overflow-y: scroll;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: none;
  }
  .header.show {
    display: block;
  }
  .header-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-left {
    width: 100%;
    margin-top: 40px;
  }
  .header-right {
    width: 100%;
  }
  .nav-list {
    display: block;
    margin-top: 40px;
  }
  .nav-item {
    margin: 40px 0;
  }
  .nav-item:first-child {
    margin: 40px 0;
  }
  .promo-title {
    font-size: 90px;
  }
  .social {
    top: 6px;
    left: 8px;
  }
  .shop-image {
    height: 225px;
  }
  .shop-more {
    top: 26%;
  }
}

@media (max-width: 768px) {
  .promo-title {
    font-size: 60px;
  }
  .promo-more-link {
    font-size: 12px;
  }
  .shop-top {
    margin-bottom: 10px;
  }
  .shop-go {
    position: static;
  }
  .shop-item {
    width: calc(50% - 30px);
  }
  .feedback {
    text-align: center;
  }
  .feedback-row {
    display: block;
  }
  .feedback-left {
    width: 100%;
  }
  .feedback-right {
    width: 100%;
  }
  .feedback-title {
    text-align: center;
  }
  .feedback-block {
    margin-right: auto;
  }
  .footer-list {
    font-size: 12px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .footer-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  .footer-block {
    font-size: 10px;
  }
  .footer-subitem {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=media.css.map */