/* Fonts */

$gilroy-reg: 'Gilroy-Regular', Arial, Helvetica, sans-serif;
$good_morning: 'Good-Morning', Arial, Helvetica, sans-serif;
$open-reg: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
$segoe-reg: 'SegoeUI', Arial, Helvetica, sans-serif;
$cormorant-reg: 'CormorantUpright-Regular', Arial, Helvetica, sans-serif;

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(../fonts/Gilroy-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Good-Morning';
    src: url(../fonts/Good-Morning.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI';
    src: url(../fonts/SegoeUI.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CormorantUpright-Regular';
    src: url(../fonts/CormorantUpright-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
    box-sizing: border-box;
}
.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family: $segoe-reg;
}
input,
textarea {
    box-sizing: border-box;
    font-family: $segoe-reg;
}

/* Main styles */

html {
    scroll-behavior: smooth;
}
.content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1300px;
}
body {
    font-family: $segoe-reg;
    font-size: 14px;
    color: #F2F2F2;
    line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $gilroy-reg;
}
h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.28em;
    text-transform: uppercase;
    color: #F2F2F2;
}

/* Header */
.header {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    &-row {
        align-items: center;
    }
    &-logo {
        font-family: $cormorant-reg;
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #F2F2F2;
        &-link {
            color: #F2F2F2;
            text-decoration: none;
        }
    }
}
.nav {
    &-list {
        font-family: $segoe-reg;
        font-style: normal;
        font-weight: 350;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        text-transform: uppercase;
        margin: 0 0 0 0;
    }
    &-item {
        margin-left: 40px;
        &:nth-child(7),
        &:nth-child(8),
        &:nth-child(9) {
            display: none;
        }
        &:first-child {
            margin: 0;
        }
    }
    &-link {
        color: #F2F2F2;
        text-decoration: none;
        transition: all 0.5s;
        &:hover,
        &:focus {
            color: #FF9472;
        }
    }
    &-icon {
        position: relative;
        top: 3px;
    }
}

/* Sections */

.promo {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/promo-bg.jpg);
    padding: 217px 0 210px 0;
    box-sizing: border-box;
    color: #F2F2F2;
    &-row {
        align-items: center;
    }
    &-block {
        display: flex;
        &-left {
            width: 10%;
        }
        &-right {
            width: 90%;
            padding-left: 25px;
        }
    }
    &-title {
        font-family: $good_morning;
        font-style: normal;
        font-weight: normal;
        font-size: 144px;
        color: #F2F2F2;
        line-height: 1;
        margin: 0;
    }
    &-descr {
        font-weight: 300;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.08em;
        color: #E0E0E0;
        margin-top: 10px;
        max-width: 460px;
    }
    &-more {
        margin-top: 36px;
        &-link {
            display: inline-block;
            padding: 16px 32px;
            background: #F2F2F2;
            text-decoration: none;
            box-sizing: border-box;
            font-size: 16px;
            line-height: 175%;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #000000;
            transition: all 0.5s;
            &:hover,
            &:focus {
                background: #ffffff;
            }
        }
    }
}
.social {
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    position: relative;
    top: 41px;
    left: -20px;
    &-title {
        margin: -4px 25px 0 0;
        display: block;
        font-weight: 350;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &-list {
        display: flex;
        margin: 0 -10px;
    }
    &-item {
        margin: 10px;
        transform: rotate(-90deg);
    }
}
.main {
    padding-top: 50px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/main-bg.jpg);
    &-body {
        margin: -105px -15px 0 -15px;
        background: rgba(0, 0, 0, 0.3);
        padding: 30px 0;
    }
}
.shop {
    &-top {
        position: relative;
        margin-bottom: 95px;
    }
    &-title {
        margin-top: 0;
    }
    &-go {
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.18em;
        position: absolute;
        top: 24px;
        right: 0;
        &-link {
            color: #FFFFFF;
            text-decoration: none;
            &:hover .shop-go-text,
            &:focus .shop-go-text {
                border-bottom: 1px solid #FFFFFF;
            }
        }
        &-text {
            display: inline-block;
            border-bottom: 1px solid transparent;
            transition: all 0.5s;
        }
        &-icon {
            position: relative;
            top: 3px;
            left: -3px;
        }
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &-item {
        margin: 50px 15px;
        width: calc(33.3333% - 30px);
        top: 0;
        transition: all 0.5s;
        position: relative;
        &:hover,
        &:focus {
            top: -25px;
        }
    }
    &-picture {
        position: relative;
        overflow: hidden;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: linear-gradient(135.14deg, 
            rgba(255, 125, 5, 0.3) 0%, 
            rgba(255, 0, 122, 0.3) 100%);
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.5s;
            opacity: 0;
        }
        
        &:hover::after,
        &:focus::after {
            opacity: 1;
        }
        &:hover .shop-more-link,
        &:focus .shop-more-link {
            opacity: 1;
        }
    }
    &-info {
        position: absolute;
        right: 20px;
        top: 20px;
    }
    &-new {
        display: inline-block;
        width: 186px;
        height: 47px;
        padding: 14px 12px 4px 12px;
        background: #E97171;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        text-align: center;
        box-sizing: border-box;
        &-lower {
            background: #000000;
        }
    }
    &-image {
        width: 100%;
        height: 412px;
        object-fit: cover;
        margin-bottom: -6px;
    }
    &-more {
        margin-top: 30px;
        position: absolute;
        z-index: 2;
        top: 38%;
        left: 0;
        width: 100%;
        text-align: center;
        &-link {
            display: inline-block;
            padding: 10px 60px;
            background: #F2F2F2;
            text-decoration: none;
            box-sizing: border-box;
            font-size: 14px;
            line-height: 175%;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #000000;
            transition: all 0.5s;
            opacity: 0;
            &:hover,
            &:focus {
                background: #ffffff;
            }
        }
    }
    &-subtitle {
        font-weight: 500;
        font-family: $gilroy-reg;
        font-size: 28px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: capitalize;
        margin: 30px 0 10px 0;
        &-link {
            color: #F2F2F2;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid #F2F2F2;
            }
        }
    }
    &-sublist {
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.04em;
        color: #E0E0E0;
        max-width: 300px;
    }
    &-price {
        color: #E97171;
        font-size: 22px;
        font-family: $open-reg;
        margin-top: 5px;
    }
}
.reviews {
    margin-top: 134px;
    &-prev {
        text-align: center;
        max-width: 920px;
        margin: 57px auto;
        font-size: 18px;
        line-height: 140%;
        text-align: center;
        color: #E0E0E0;
    }
    &-list {
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0.08em;
        color: #BDBDBD;
        margin-top: 100px;
    }
    &-item {
        max-width: 967px;
        margin: 20px 0 41px 0;
        padding: 20px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.4);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &:nth-child(2) {
            margin-left: auto;
        }
    }
    &-wrapper {
        display: flex;
    }
    &-picture {
        margin-right: 22px;
    }
    &-image {
        width: 190px;
        height: 190px;
        margin-bottom: -6px;
    }
    &-name {
        font-weight: 600;
        font-size: 21px;
        line-height: 28px;
        letter-spacing: 0.04em;
        color: #F2F2F2;
        margin: 3px 0 5px 0;
    }
    &-date {
        font-size: 14px;
        line-height: 19px;
        color: #E0E0E0;
    }
    &-text {
        margin-top: 10px;
    }
}
.feedback {
    padding-top: 72px;
    &-title {
        text-align: left;
    }
    &-row {
        align-items: center;
    }
    &-block {
        max-width: 465px;
        position: relative;
        margin-left: auto;
        margin-top: 7px;
    }
    &-field {
        font-family: $segoe-reg;
        width: 100%;
        height: 60px;
        padding: 15px 22px;
        box-sizing: border-box;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 0.04em;
        color: #E0E0E0;
        background-color: transparent;
        border: 1px solid #E0E0E0;
        &::placeholder {
            color: #E0E0E0;
        }
    }
    &-btn {
        position: absolute;
        top: 19px;
        right: 10px;
    }
}

/* Footer */

.footer {
    background-color: #020202;
    padding-top: 15px;
    margin-top: -3px;
    &-top {
        align-items: center;
    }
    &-list {
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        margin: 0 -20px;
    }
    &-item {
        margin: 20px 24px;
    }
    &-link {
        color: #F2F2F2;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #F2F2F2;
        }
    }
    &-block {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding: 15px 0;
        font-family: $open-reg;
        font-size: 16px;
        line-height: 22px;
        color: rgba(242, 242, 242, 0.75);
        margin-top: 7px;
    }
    &-down {
        align-items: center;
    }
    &-sublist {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &-subitem {
        margin-left: 40px;
        &:first-child {
            margin-left: 0;
        }
    }
    &-sublink {
        color: rgba(242, 242, 242, 0.75);
        text-decoration: none;
        transition: all 0.5s;
        border-bottom: 1px solid transparent;
        &:hover,
        &:focus {
            border-bottom: 1px solid rgba(242, 242, 242, 0.75);
        }
    }
}
.soci {
    &-list {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    &-item {
        margin-left: 35px;
        &:first-child {
            margin-left: 0;
        }
    }
}