/* Fonts */

$gilroy-reg: 'Gilroy-Regular', Arial, Helvetica, sans-serif;
$good_morning: 'Good-Morning', Arial, Helvetica, sans-serif;
$open-reg: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
$segoe-reg: 'SegoeUI', Arial, Helvetica, sans-serif;
$cormorant-reg: 'CormorantUpright-Regular', Arial, Helvetica, sans-serif;

@font-face {
    font-family: 'Gilroy-Regular';
    src: url(../fonts/Gilroy-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Good-Morning';
    src: url(../fonts/Good-Morning.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SegoeUI';
    src: url(../fonts/SegoeUI.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CormorantUpright-Regular';
    src: url(../fonts/CormorantUpright-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
    box-sizing: border-box;
}
.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family: $segoe-reg;
}
input,
textarea {
    box-sizing: border-box;
    font-family: $segoe-reg;
}

/* Main styles */

html {
    scroll-behavior: smooth;
}
.content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1300px;
}
body {
    font-family: $segoe-reg;
    font-size: 14px;
    color: #212834;
    line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $gilroy-reg;
}

/* Header */
.header {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px 0;
    &-logo {
        font-family: $cormorant-reg;
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #F2F2F2;
        &-link {
            color: #F2F2F2;
            text-decoration: none;
        }
    }
}

.promo {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/promo-bg.jpg);
}