@media (max-width: 1320px) {
  .resors {
    overflow: hidden;
  }
}

@media (max-width: 1200px) {
  .projects-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .projects-item {
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
  }
  .obj-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .obj-left {
    width: 35%;
  }
  .obj-center {
    width: 65%;
  }
  .obj-right {
    width: 100%;
    text-align: left;
    margin-top: 30px;
  }
  .obj-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .obj-item {
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .swop-list {
    display: block;
  }
  .footer-left {
    width: 33.3333%;
  }
  .footer-right {
    width: 33.3333%;
  }
  .footer-right {
    width: 33.3333%;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }
  .header {
    border-bottom: 1px solid #dddddd;
    -webkit-box-shadow: 3px 0px 12px 3px rgba(221, 221, 221, 0.4);
            box-shadow: 3px 0px 12px 3px rgba(221, 221, 221, 0.4);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    background-color: #ffffff;
  }
  .header .drop {
    position: absolute;
    top: 22px;
    right: 52px;
  }
  .header-top {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .header-left {
    padding-left: 15px;
  }
  .header-logo {
    width: 150px;
    height: 51px;
    background-size: contain;
    background-position: left;
  }
  .header-right {
    padding-right: 15px;
  }
  .header-body {
    display: block;
  }
  .header-body .col-2 {
    width: 100%;
  }
  .header-body .col-10 {
    width: 100%;
  }
  .header-right-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: static;
  }
  .header-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: none;
  }
  .header-nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .swop {
    position: absolute;
    right: 47px;
    top: 12px;
  }
  .swop-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    margin-top: 20px;
  }
  .nav-list {
    display: block;
    width: 100%;
    text-align: right;
  }
  .nav-item {
    margin: 10px 0;
    text-align: right;
  }
  .nav-item:first-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    margin-top: 0;
  }
  .header-top {
    border-bottom: 0;
  }
  .header-mobile {
    display: block;
    margin-left: 10px;
    margin-top: 2px;
    position: absolute;
    top: 20px;
    right: 9px;
  }
  .header-mobile-icon {
    display: inline-block;
    width: 25px;
    height: 23px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/header-mobile-icon.png);
  }
  .promo {
    margin-top: 25px;
  }
  .promo-image {
    min-height: 250px;
  }
  .promo-descr {
    left: 14px;
    bottom: 23px;
  }
  .promo-name {
    font-size: 29px;
  }
  .promo-text {
    font-size: 18px;
  }
  .promo-dual {
    position: static;
    max-width: 100%;
    border: 0;
    margin-top: 10px;
  }
  .footer {
    margin: 10px 0 25px 0;
  }
  .footer-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .footer-left {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer-center {
    width: 100%;
  }
  .footer-right {
    width: 100%;
  }
  .footer-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-mail {
    text-align: center;
  }
  .projects-item {
    width: 44%;
  }
  .projects-picture::after {
    width: 100%;
    height: 175px;
  }
  .projects-image {
    width: 100%;
    height: 175px;
  }
  .obj {
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .obj-left {
    width: 100%;
  }
  .obj-center {
    width: 100%;
  }
  .obj-picture {
    text-align: center;
  }
  .obj-image {
    max-width: 400px;
  }
  .single-navi {
    max-width: auto;
    left: 5px;
  }
  .single-arrows {
    display: none;
  }
}

@media (max-width: 520px) {
  .promo-descr {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    left: 0;
    width: 100%;
    text-align: center;
  }
  .contacts {
    margin: 40px 0;
  }
  .filters-drop .drop-body {
    right: auto;
    left: 0;
  }
  .filters-drop .drop-btn {
    width: 100%;
  }
  .filters-list {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .filters-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .projects {
    margin: 40px 0;
  }
  .projects-item {
    width: 100%;
  }
  .projects-picture::after {
    width: 100%;
    height: 175px;
  }
  .projects-image {
    width: 100%;
    height: 175px;
  }
  .regis {
    margin: 50px 0 70px 0;
  }
  .regis-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .regis-left {
    width: 100%;
  }
  .regis-right {
    width: 100%;
  }
  .single {
    margin: 50px 0 75px 0;
  }
}

@media (max-width: 415px) {
  .swop {
    display: none;
    position: relative;
    top: auto;
    right: -4px;
  }
  .swop.show {
    display: block;
  }
  .footer-list {
    margin: 0 -8px;
  }
  .footer-item {
    margin: 0 8px;
  }
  .footer-item:after {
    right: -7px;
  }
  .feedback-item {
    width: calc(100% - 30px);
    margin: 10px 15px;
  }
}

@media (max-width: 375px) {
  .resors {
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .resors-slider {
    margin-top: 40px;
  }
  .resors-image {
    height: auto;
  }
}
/*# sourceMappingURL=media.css.map */