@media (max-width: 1240px) {
    .mobile {
        display: block;
    }
    .topnav {
        display: none;
        &.responsive {
            display: block;
        }
    }
    .header-login {
        width: 60%;
    }
    .header-body {
        flex-wrap: wrap;
        margin: 0 -15px;
        & .col-2 {
            width: 60%;
            padding: 0;
        }
        & .col-4 {
            width: 40%;
            padding: 0;
        }
        & .col-6 {
            width:  100%;
            order: 2;
            padding: 0;
        }
    }
    .header-logo {
        padding-left: 15px;
    }
    .header-list {
        display: block;
        text-align: center;
    }
    .header-item {
        margin: 0;
    }
    .header-link {
        padding: 20px 0;
        width: 100%;
        display: block;
    }
    .filters {
        flex-wrap: wrap;
        padding: 10px 15px;
        & .col-4 {
            width: 50%;
            padding: 0;
            &:last-child {
                width: 100%;
                padding-top: 10px;
            }
        }
    }
    .latest-list {
        justify-content: center;
    }
    .result-list {
        justify-content: center;
    }
}
@media (max-width: 992px) {
    .header-body {
        flex-wrap: wrap;
        margin: 0 -15px;
        & .col-2 {
            width: 50%;
            padding: 0;
        }
        & .col-4 {
            width: 50%;
            padding: 0;
        }
    }
    .chat-item {
        margin: 10px 15px;
        &:after {
            left: 110px;
            width: 20px;
        }
    }
    .filters .col-4 {
        width: 100%;
        padding: 10px 0;
    }
}
@media (max-width: 640px) {
    .what-field {
        width: 100%;
    }
    .result-list {
        margin: 0;
    }
    .result-item {
        width: 210px;
        margin: 5px;
    }
    .result-icon {
        height: 130px;
    }
    .result-home {
        left: 75px;
        top: 100px;
    }
    .result-hide {
        height: 130px;
    }
    .big {
        width: 430px;
    }
    .chat-item {
        margin: 10px 7px;
        &:after {
            content: none;
        }
    }
    .chat-icon {
        width: 75px;
        height: 75px;
    }
    .reality-body {
        flex-wrap: wrap;
        & .col-6 {
            width: 100%;
            padding: 10px 0;
        }
    }
    .chat {
        padding: 0;
    }
    .chat-title {
        padding-top: 20px;
    }
    .subscribe-form {
        width: 100%;
    }
    .social {
        margin: 20px -5px;
    }
}
@media (max-width: 480px) {
    .mobile {
        width: 50px;
        height: 50px;
    }
    .nav {
        justify-content: flex-end;
    }
    .header-logo {
        position: relative;
        top: 1px;
    }
    .header-login {
        width: 50px;
        height: 50px;
    }
    .header-login_icon {
        left: 2px;
    }
    .header-login_text {
        display: none;
    }
    .header-btn {
        width: 50px;
        height: 50px;
    }
    .header-field {
        height: 50px;
        width: 150px;
        font-size: 14px;
        left: -150px;
    }
    .latest-field,
    .latest-btn {
        width: 100%;
        margin: 10px 0;
    }
    .latest-item:first-child {
        display: none;
    }
    .result-item {
        width: 280px;
    }
    .result-icon {
        height: 160px;
    }
    .result-home {
        left: 110px;
        top: 130px;
    }
    .result-hide {
        height: 160px;
    }
    .big-title {
        display: block;
        top: 0;
    }
    .big-icon {
        top: 85px;
    }
    .chat-list {
        flex-wrap: wrap;
    }
    .subscribe-btn {
        width: 46%;
    }
    footer {
        padding: 20px 0;
    }
    .footer-body {
        flex-wrap: wrap;
        & .col-4 {
            width: 100%;
            text-align: center;
        }
    }
    .social {
        justify-content: center;
    }
}