/* Fonts */



/* Styles */
.player {
    width: 270px;
    border-radius: 3px;
    background-color: rgb(188, 20, 37);
    box-shadow: 0.5px 0.866px 7px 0px rgba(0, 0, 0, 0.114);
    padding: 15px;
}
.player-upload {
    width: 40px;
    height: 10px;
    padding: 8px 15px;
    font-size: 9px;
    font-family: "RobotoCondensed";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgb(33, 33, 33);
    box-shadow: 1.5px 2.598px 9.6px 0.4px rgba(183, 14, 34, 0.694);
    border-radius: 30px;
}
.player-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.player-menu_btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.player-picture {
    margin: 10px auto;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: rgb(202, 25, 43);
    box-shadow: 0.174px 1.992px 12.74px 0.26px rgba(0, 0, 0, 0.133);
}
.player-image {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 2px 2px 2px 2px;
}
.player-title {
    font-size: 11px;
    font-family: "Myriad Pro";
    color: rgb(33, 33, 33);
    text-transform: uppercase;
    line-height: 2.182;
    text-align: center;
}
.player-time {
    font-size: 9px;
    font-family: "OpenSans";
    color: rgba(255, 255, 255, 0.439);
    text-transform: uppercase;
    line-height: 2.667;
    text-align: left;
}
.player-buttons {
    display: flex;
    justify-content: space-between;
}
.player-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.player-down {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

/* Custom Range */
.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    border: 0;
    background: url('../img/contrasticon.png');
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    border: 0;
    background: url('../img/contrasticon.png');
    background-repeat: no-repeat;
    cursor: pointer;
}