/* Styles */
body {
    background-color: #303544;
}
.container-fluid {
    margin-top: 100px;
    text-align: center;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.dropdown-content {
    display: none;
}
.show {
    display: block;
}
.player {
    justify-content: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0.5px 0.866px 7px 0px rgba(0, 0, 0, 0.114);
}
.player-info {
    padding: 15px;
    background-color: rgb(188, 20, 37);
    border-radius: 5px;
    width: 270px;
    height: 270px;
}
.player-upload {
    width: 40px;
    height: 10px;
    padding: 8px 15px;
    font-size: 9px;
    font-family: "RobotoCondensed";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    background-color: rgb(33, 33, 33);
    box-shadow: 1.5px 2.598px 9.6px 0.4px rgba(183, 14, 34, 0.694);
    border-radius: 30px;
    text-align: center;
}
.player-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropbtn {
    background-color: white;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 3px 15px;
    border-radius: 30px;
}
.player-picture {
    margin: 10px auto;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    background-color: rgb(202, 25, 43);
    box-shadow: 0.174px 1.992px 12.74px 0.26px rgba(0, 0, 0, 0.133);
}
.player-image {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 2px 2px 2px 2px;
}
.player-title {
    font-size: 11px;
    font-family: "Myriad Pro";
    color: rgb(33, 33, 33);
    text-transform: uppercase;
    line-height: 2.182;
    text-align: center;
    font-weight: bold;
}
.player-time {
    font-size: 9px;
    font-family: "OpenSans";
    color: rgba(255, 255, 255, 0.439);
    text-transform: uppercase;
    line-height: 2.667;
    text-align: left;
}
.player-buttons {
    display: flex;
    justify-content: space-between;
}
.player-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
}
.player-down {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

/* Custom Range */
.slidecontainer {
    width: 90%;
    text-align: center;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 90%;
    height: 3px;
    background: #303544;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 24px;
    margin-top: 5px;
    border: 0;
    background: url('../img/contrasticon.png');
    background-repeat: no-repeat;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 23px;
    height: 25px;
    margin-top: 5px;
    border: 0;
    background: url('../img/contrasticon.png');
    background-repeat: no-repeat;
    cursor: pointer;
}
.player-tracks {
    color: #525252;
    padding: 15px 0;
    background-image: url(../img/playlist-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0;
    width: 270px;
    height: 250px;
}
.player-tracks_title {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    margin-bottom: 15px;
}
.player-list {
    color: #525252;
}
.player-item {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.player-item.active,
.player-item:hover,
.player-item:focus {
    background-color: #1f1f1f;
    color: #ffffff;
}
.player-num {
    margin-right: 15px;
}
.player-item.active .player-num,
.player-item:hover .player-num,
.player-item:focus .player-num {
    color: #d51d2f;
}
.player-time_end {
    position: absolute;
    right: 15px;
    top: 5px;
}
.copy {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
}
.copy-link {
    color: #d51d2f;
}
.copy-link:hover,
.copy-link:focus {
    text-decoration: none;
}
@media (max-width: 600px) {
    .player {
        width: 300px;
        position: relative;
        text-align: center;
        margin: 0 auto;
    }
    .player-tracks {
        position: absolute;
        top: 50px;
        left: 0;
        border-radius: 5px;
        width: 300px;
        height: 230px;
    }
}