@media (max-width: 768px) {
    .row {
        padding: 0;
    }
    .column-body {
        flex-wrap: wrap;
    }
    .left-column {
        width: 100%;
    }
    .right-column {
        width: 100%;
    }
}
@media (max-width: 425px) {
    .software-item {
        width: 100%;
        margin: 5px 15px;
    }
}