@media(max-width: 1920px) {
    section,
    footer {
        overflow: hidden;
    }
}
@media(max-width: 1360px) {
    .title {
        font-size: 35px;
    }
    .sup {
        &-list {
            font-size: 18px;
        }
    }
    .nav {
        &-list {
            margin: 0 -30px;
        }
        &-item {
            margin: 0 30px;
        }
    }
    .promo {
        &-title {
            font-size: 50px;
        }
    }
}
@media(max-width: 1200px) {
    
}