.notfound {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/notfound-bg.jpg);
    text-align: center;
    padding: 80px 0 120px 0;
    box-sizing: border-box;
    &-prev {
        &-icon {
            display: inline-block;
            min-width: 72px;
            width: 72px;
            height: 120px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/notfound-prev-icon.svg);
        }
    }
    &-descr {
        background: #0B251F;
        border: 2px solid rgba(255, 255, 255, 0.1);
        padding: 30px;
        box-sizing: border-box;
        font-weight: 500;
        font-size: 20px;
        line-height: 38px;
        margin: 40px 0;
    }
    &-subtitle {
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
        margin: 10px 0 0 0;
    }
    &-text {
        margin-bottom: 10px;
    }
    &-more {
        &-link {
            display: inline-block;
            background: #0AA880;
            border: 1px solid #0AA880;
            border-radius: 3px;
            padding: 12px 40px;
            box-sizing: border-box;
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
            transition: all 0.5s;
            &:hover,
            &:focus {
                background-color: transparent;
            }
        }
    }
}