<aside class="lk-aside">
	<ul class="lk-aside__list">
		<li class="lk-aside__list-item @@if (context.profile) {lk-aside__list-item--active}">
			<a href="" class="lk-aside__list-link">
				<svg class="lk-aside__list-ico lk-nav-user-ico lk-nav-user-ico">
					<use xlink:href="#lk-nav-user"></use>
				</svg>
				<span class="lk-aside__list-text">Мой профиль</span>
			</a>
			<div class="lk-aside-drop">
				<span class="lk-aside-drop__title">Мой профиль</span>
				<ul class="lk-aside-drop__list">
					<li class="lk-aside-drop__list-item">
						<a href="#lk-my-info" class="anchor lk-aside-drop__list-link lk-aside-drop__list-link--active">Личные данные</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-my-photo" class="anchor lk-aside-drop__list-link">Фото</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-verification" class="anchor lk-aside-drop__list-link">Доверие и подтверждение</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-security" class="anchor lk-aside-drop__list-link">Безопасность</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-delete-profile" class="anchor lk-aside-drop__list-link">Удалить профиль</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="lk-aside__list-item @@if (context.worksheet) {lk-aside__list-item--active}">
			<a href="" class="lk-aside__list-link">
				<svg class="lk-aside__list-ico lk-nav-user-ico lk-nav-anketa-ico">
					<use xlink:href="#lk-nav-anketa"></use>
				</svg>
				<span class="lk-aside__list-text">Моя анкета</span>
			</a>
			<div class="lk-aside-drop">
				<span class="lk-aside-drop__title">Моя анкета</span>
				<ul class="lk-aside-drop__list">
					<li class="lk-aside-drop__list-item">
						<a href="#lk-my-info" class="anchor lk-aside-drop__list-link lk-aside-drop__list-link--active">Личное</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-experience" class="anchor lk-aside-drop__list-link">Опыт</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-education" class="anchor lk-aside-drop__list-link">Образование</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-characteristic" class="anchor lk-aside-drop__list-link">Характеристики</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-responsibility" class="anchor lk-aside-drop__list-link">Обязанности</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-location" class="anchor lk-aside-drop__list-link">Расположение</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-interview" class="anchor lk-aside-drop__list-link">Видео</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-my-photo" class="anchor lk-aside-drop__list-link">Фотографии</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-recommendation" class="anchor lk-aside-drop__list-link">Дипломы и сертификаты</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-psychologist" class="anchor lk-aside-drop__list-link">Проверка психолога</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-prices" class="anchor lk-aside-drop__list-link">Работа и расценки</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-watch" class="anchor lk-aside-drop__list-link">Просмотр анкеты</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-publication" class="anchor lk-aside-drop__list-link">Публикация анкеты</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="lk-aside__list-item @@if (context.calendar) {lk-aside__list-item--active}">
			<a href="" class="lk-aside__list-link">
				<svg class="lk-aside__list-ico lk-nav-user-ico lk-nav-calendar-ico">
					<use xlink:href="#lk-nav-calendar"></use>
				</svg>
				<span class="lk-aside__list-text">Рабочий календарь</span>
			</a>
			<div class="lk-aside-drop">
				<span class="lk-aside-drop__title">Рабочий календарь</span>
				<ul class="lk-aside-drop__list">
					<li class="lk-aside-drop__list-item">
						<a href="#lk-calendar" class="anchor lk-aside-drop__list-link lk-aside-drop__list-link--active">Управление рабочим временем</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="lk-aside__list-item @@if (context.booking) {lk-aside__list-item--active}">
			<a href="" class="lk-aside__list-link">
				<svg class="lk-aside__list-ico lk-nav-user-ico lk-nav-case-ico">
					<use xlink:href="#lk-nav-case"></use>
				</svg>
				<span class="lk-aside__list-text">Бронирования</span>
			</a>
			<div class="lk-aside-drop">
				<span class="lk-aside-drop__title">Бронирования</span>
				<ul class="lk-aside-drop__list">
					<li class="lk-aside-drop__list-item">
						<a href="#lk-booking" class="anchor lk-aside-drop__list-link lk-aside-drop__list-link--active">Управление бронированиями</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="lk-aside__list-item @@if (context.response) {lk-aside__list-item--active}">
			<a href="" class="lk-aside__list-link">
				<svg class="lk-aside__list-ico lk-nav-user-ico lk-nav-heart-ico">
					<use xlink:href="#lk-nav-heart"></use>
				</svg>
				<span class="lk-aside__list-text">Отклики</span>
			</a>
			<div class="lk-aside-drop">
				<span class="lk-aside-drop__title">Отклики</span>
				<ul class="lk-aside-drop__list">
					<li class="lk-aside-drop__list-item">
						<a href="#lk-response" class="anchor lk-aside-drop__list-link lk-aside-drop__list-link--active">Управление откликами</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="lk-aside__list-item @@if (context.reviews) {lk-aside__list-item--active}">
			<a href="" class="lk-aside__list-link">
				<svg class="lk-aside__list-ico lk-nav-user-ico lk-nav-star-ico">
					<use xlink:href="#lk-nav-star"></use>
				</svg>
				<span class="lk-aside__list-text">Отзывы</span>
			</a>
			<div class="lk-aside-drop">
				<span class="lk-aside-drop__title">Отзывы</span>
				<ul class="lk-aside-drop__list">
					<li class="lk-aside-drop__list-item">
						<a href="#lk-reviews" class="anchor lk-aside-drop__list-link">Отзывы обо мне</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-my-reviews" class="anchor lk-aside-drop__list-link">Мои отзывы</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="lk-aside__list-item @@if (context.recommendation) {lk-aside__list-item--active}">
			<a href="" class="lk-aside__list-link">
				<svg class="lk-aside__list-ico lk-nav-user-ico lk-nav-like-ico">
					<use xlink:href="#lk-nav-like"></use>
				</svg>
				<span class="lk-aside__list-text">Рекомендации и бонусы</span>
			</a>
			<div class="lk-aside-drop">
				<span class="lk-aside-drop__title">Рекомендации и бонусы</span>
				<ul class="lk-aside-drop__list">
					<li class="lk-aside-drop__list-item">
						<a href="#lk-give-recommendation" class="anchor lk-aside-drop__list-link">Запросить рекомендации</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-my-recommendation" class="anchor lk-aside-drop__list-link">Ваши рекомендаци</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-bonus" class="anchor lk-aside-drop__list-link">Бонусы</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="lk-aside__list-item @@if (context.notification) {lk-aside__list-item--active}">
			<a href="" class="lk-aside__list-link">
				<svg class="lk-aside__list-ico lk-nav-user-ico lk-nav-mail-ico">
					<use xlink:href="#lk-nav-mail"></use>
				</svg>
				<span class="lk-aside__list-text">Оповещения</span>
			</a>
			<div class="lk-aside-drop">
				<span class="lk-aside-drop__title">Оповещения</span>
				<ul class="lk-aside-drop__list">
					<li class="lk-aside-drop__list-item">
						<a href="#lk-notification-site" class="anchor lk-aside-drop__list-link">Оповещения на сайте</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-notification-email" class="anchor lk-aside-drop__list-link">Оповещения по Email</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-notification-sms" class="anchor lk-aside-drop__list-link">Оповещения по SMS</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="lk-aside__list-item @@if (context.payment) {lk-aside__list-item--active}">
			<a href="" class="lk-aside__list-link">
				<svg class="lk-aside__list-ico lk-nav-user-ico lk-nav-pay-ico">
					<use xlink:href="#lk-nav-pay"></use>
				</svg>
				<span class="lk-aside__list-text">Платежи</span>
			</a>
			<div class="lk-aside-drop">
				<span class="lk-aside-drop__title">Платежи</span>
				<ul class="lk-aside-drop__list">
					<li class="lk-aside-drop__list-item">
						<a href="#lk-payment" class="anchor lk-aside-drop__list-link">История платежей</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="lk-aside__list-item @@if (context.help) {lk-aside__list-item--active}">
			<a href="" class="lk-aside__list-link">
				<svg class="lk-aside__list-ico lk-nav-user-ico lk-nav-info-ico">
					<use xlink:href="#lk-nav-info"></use>
				</svg>
				<span class="lk-aside__list-text">Помощь</span>
			</a>
			<div class="lk-aside-drop">
				<span class="lk-aside-drop__title">Помощь</span>
				<ul class="lk-aside-drop__list">
					<li class="lk-aside-drop__list-item">
						<a href="#lk-help-main" class="anchor lk-aside-drop__list-link">Основная информация</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-help-advice" class="anchor lk-aside-drop__list-link">Полезные советы</a>
					</li>
					<li class="lk-aside-drop__list-item">
						<a href="#lk-help-write" class="anchor lk-aside-drop__list-link">Написать нам</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</aside>

















