<!-- popup-registration -->
<div class="popup popup-continue" id="lk-popup-delete-prof">
	<div class="popup__content">
		<div class="popup-continue__logo">
			<img src="img/logo.png" alt="" class="popup-continue__logo-img">
		</div>

		<div class="popup-continue__title">Продолжить как Алексей</div>
		<div class="popup-continue__text">Вы точно хотите удалить свой профиль с нашего сайта и всю информацию о себе? Восстановление будет не возможно
		</div>
		
		<div class="popup-continue__buttons">
			<a href="#" data-href="#popup-registration2-confirm" class="btn btn-pink btn-pink--medium popup-continue__buttons-btn js-popup-link">ОК</a>
			<a href="#" class="btn btn-gray popup-continue__buttons-btn js-popup-close">Отмена</a>
		</div>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-registration end -->