<div class="popup popup-comment-false js-modal-comment-false-drop">
	<div class="popup__content">
		<form class="popup-comment-false__form js-popup-comment-false-form">
			<p class="popup-comment-false__text">Если Вы считаете, что даный отзыв не соотвутствует действительности, то кратко изложите нам почему:</p>
			<textarea name="popup_comment_false_form_text" class="popup-comment-false__textarea input input--textarea" placeholder="Напишите здесь ..."></textarea>
			<button type="submit" class="btn btn-pink btn-pink--middle popup-comment-false__submit">Отправить собщение</button>
		</form>
	</div>
	<div class="popup__close js-modal-comment-false-close"></div>
</div>