<div class="popup lk-popup-contacts js-crop-avatar" id="lk-popup-crop">
	<div class="popup__content">
		<div class="js-crop-avatar">
	    <form class="js-avatar-form" action="crop.php" enctype="multipart/form-data">
	      <div class="popup__mini-upload js-upload-container">
	        <span class="lk-popup-contacts__title">Загрузить фотографию</span>
	        <div class="popup__photo">
	          <span class="popup__photo-text popup__photo-text--indent popup__photo-text--size">Вы можете загрузить изображение  в формате JPG, GIF или PNG.</span>
	          <label class="popup__photo-label js-avatar-upload">
	            <input type="file" class="js-avatar-input">
	            <span class="btn btn-pink btn-pink--middle popup__photo-btn">Выбрать файл</span>
	          </label>
	          <input type="hidden" class="js-avatar-src" name="avatar_src">
	          <input type="hidden" class="js-avatar-data" name="avatar_data">
	          <span class="popup__photo-text">Если у Вас возникают проблемы с загрузкой, </span>
	          <span class="popup__photo-text">попробуйте выбрать фотографию меньшего размера</span>
	        </div>
	      </div>
	      <div class="popup__mini-container js-mini-crop-container">
	        <span class="lk-popup-contacts__title">Выбор миниатюры</span>
	        <div class="popup__mini">
	          <span class="popup__mini-text">Выбранная миниатюра будет использоваться в Вашем профиле</span>
	          <div class="popup__mini-picture js-avatar-wrapper">
	            <!-- <img src="pic/cropper/img01.jpg" alt="#" class="popup__mini-picture-img"> -->
	          </div>
	          <div class="popup__mini-actions">
	            <ul class="popup__mini-actions-list">
	              <li class="popup__mini-actions-item">
	                <a href="#" class="btn btn-violet2 btn-violet2--middle popup__mini-actions-link js-popup-close">Отменить</a>
	              </li>
	              <li class="popup__mini-actions-item">
	                <button type="submit" class="btn btn-pink btn-pink--middle popup__mini-actions-link js-avatar-save">Сохранить</button>
	              </li>
	            </ul>
	          </div>
	        </div>
	      </div>
	    </form>
	  </div>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
