<!-- popup-registration -->
<div class="popup popup-addphoto popup-addphoto-success" id="popup-addphoto-success">
	<div class="popup__content">
		<div class="popup-addphoto__title">Хорошо получилось</div>
		<div class="popup-addphoto__info">Спасибо, что добавили к имени<br> свою фотографию!</div>
		<div class="popup-addphoto__photo">
			<img src="pic/popup-addphoto/popup-addphoto-01.jpg" alt="" class="popup-addphoto__photo-img">
			<span class="icon-round-checked-green popup-addphoto__photo-icon"></span>
		</div>
		<div class="popup-addphoto__photo-change">
			<a href="#" data-href="#popup-addphoto-social" class="popup-addphoto__photo-change-link js-popup-link">Изменить фотографию</a>
		</div>
		<div class="popup-addphoto-success__buttons">
			<a href="#" data-href="#popup-registration-success" class="btn btn-pink btn-pink--medium popup-addphoto-success__buttons-btn js-popup-link">Далее</a>
		</div>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-registration end -->