<!-- popup-registration -->
<div class="popup popup-registration2" id="popup-registration2-parents">
	<form action="#" class="js-popup-registration2-form">
		<div class="popup__content">
			<div class="popup-registration2__title">Зарегистрируйтесь с помощью <a href="#">Facebook</a>, <a href="#">Вконтакте</a> или <a href="#">Одноклассников</a></div>
			<div class="or-divider">
				<div class="or-divider__inner">или</div>
			</div>
			<div class="popup-registration2-form">
				<div class="form-row form-row--popup-registration2-form">
					<div class="input-item input-item--user">
						<input type="text" class="input input--font-small" name="popup_registration2_firstname" placeholder="Имя">
					</div>
				</div>
				<div class="form-row form-row--popup-registration2-form">
					<div class="input-item input-item--user">
						<input type="text" class="input input--font-small" name="popup_registration2_lastname" placeholder="Фамилия">
					</div>
				</div>
				<div class="form-row form-row--popup-registration2-form">
					<div class="input-item input-item--city">
						<select class="select select--small select--popup-registration2-form js-select" name="popup_registration2_city">
							<option selected data-placeholder="true">Ваш город</option>
							<option value="1">01</option>
							<option value="2">02</option>
							<option value="3">03</option>
							<option value="3">04</option>
							<option value="3">05</option>
							<option value="3">06</option>
							<option value="3">07</option>
							<option value="3">08</option>
							<option value="3">09</option>
							<option value="3">10</option>
							<option value="3">11</option>
							<option value="3">12</option>
						</select>
					</div>
				</div>				
				<div class="form-row form-row--popup-registration2-form">
					<div class="input-item input-item--email">
						<input type="email" class="input input--font-small" name="popup_registration2_email" placeholder="Email">
					</div>
				</div>
				<div class="form-row form-row--popup-registration2-form">
					<div class="input-item input-item--password">
						<input type="password" class="input input--font-small" name="popup_registration2_password" placeholder="Пароль">
					</div>
				</div>

				<div class="popup__info popup__info--parents">Регистрируясь, Вы соглашаетесь с <a href="#">Условиями предоставления услуг</a> и <a href="#">политикой конфиденциальности</a></div>
				<button data-href="#popup-addphoto" class="btn btn-pink btn-pink--medium btn--width-full">Зарегистрироваться</button>
			</div>
			<div class="popup__info">Ваши данные строго<br> конфиденциальны, не беспокойтесь!</div>
		</div>
	</form>
	<div class="popup__bottom">Уже зарегистрированы? <a href="#popup-login" data-href="#popup-login" class="js-popup-link">Войти</a></div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-registration end -->