<!-- popup-login -->
<div class="popup popup-login" id="popup-login">
	<form action="#" class="js-popup-login-form">
		<div class="popup__title">Для продолжения необходимо войти в систему либо зарегистрироваться.<br> Это быстро и просто!</div>
		<div class="popup__content popup__content--popup-login">
			<div class="popup-social">
				<ul class="popup-social-list popup-social-list--popup-login">
					<li class="popup-social-list__item">
						<a href="#" class="btn btn-facebook btn--soc-btn-fb-white-abs-left popup-social-list__item-btn">
							<span class="icon-soc-btn-fb-white btn__icon"></span>
							<span class="btn__text">Войти<br> через Facebook</span>
						</a>
					</li>
					<li class="popup-social-list__item">
						<a href="#" class="btn btn-odnoklas btn--soc-btn-odn-white-abs-left popup-social-list__item-btn">
							<span class="icon-soc-btn-odn-white btn__icon"></span>
							<span class="btn__text">Войти<br> через Оноклассники</span>
						</a>
					</li>
					<li class="popup-social-list__item">
						<a href="#" class="btn btn-vkontakte btn--soc-btn-vk-white-abs-left popup-social-list__item-btn">
							<span class="icon-soc-btn-vk-white btn__icon"></span>
							<span class="btn__text">Войти<br> через Вконтакте</span>
						</a>
					</li>
				</ul>
				<div class="or-divider or-divider--popup-login">
					<div class="or-divider__inner">или</div>
				</div>
				<div class="popup-login-form">
					<form action="#">
						<div class="form-row form-row--popup-login-form">
							<div class="input-item input-item--email">
								<input type="email" class="input input--font-small" name="popup_login_email" placeholder="Email">
							</div>
						</div>
						<div class="form-row form-row--popup-login-form">
							<div class="input-item input-item--password">
								<input type="password" class="input input--font-small" name="popup_login_password" placeholder="Пароль">
							</div>
						</div>
						<div class="popup-login-form__prebuttons">
							<div class="popup-login-form__prebuttons-left">
								<label class="checkbox">
									<input type="checkbox" class="checkbox__check">
									<span class="checkbox__icon">
										<span class="checkbox__icon-image"></span>
									</span>
									<span class="checkbox__inner">
										<span class="checkbox__text checkbox__text--regular">Запомнить</span>
									</span>
								</label>
							</div>
							<div class="popup-login-form__prebuttons-right">
								<a href="#" data-href="#popup-restore-password" class="popup-login-form__forget-link js-popup-link">Забыли пароль?</a>
							</div>
						</div>
						<div class="popup-login-form__buttons">
							<button class="btn btn-pink btn-pink--medium popup-login-form__buttons-btn">Войти</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="popup__bottom popup__bottom--popup-login">Вы еще не зарегистрированы?<br> <a href="#" data-href="#popup-registration" class="js-popup-link">Зарегистрироваться</a></div>
	</form>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-login end -->