<!-- popup-registration -->
<div class="popup popup-email-confirm" id="popup-email-confirm2">
	<div class="popup__content">
		<div class="popup-email-confirm__logo">
			<img src="img/logo.png" alt="" class="popup-email-confirm__logo-img">
		</div>
		<div class="popup-email-confirm__title">Подтверждения электронной почты</div>
		<div class="popup-email-confirm__text">Добро пожаловать на наш сайт. Чтобы завершить регистрацию, Вам необходимо подтвердить свой адрес электронной почты.</div>
		<div class="popup-email-confirm__buttons">
			<a href="#" class="btn btn-pink btn-pink--medium popup-email-confirm__buttons-btn js-popup-link">Подтвердить</a>
		</div>
		<div class="popup-email-confirm__thanks"><span class="pink">Спасибо!</span> Команда BabySitters!</div>
		<ul class="social-gray-list">
			<li class="social-gray-list__item">
				<a href="#" class="icon-soc-vk-gray social-gray-list__item-link"></a>
			</li>
			<li class="social-gray-list__item">
				<a href="#" class="icon-soc-fb-gray social-gray-list__item-link"></a>
			</li>
			<li class="social-gray-list__item">
				<a href="#" class="icon-soc-tw-gray social-gray-list__item-link"></a>
			</li>
			<li class="social-gray-list__item">
				<a href="#" class="icon-soc-inst-gray social-gray-list__item-link"></a>
			</li>
			<li class="social-gray-list__item">
				<a href="#" class="icon-soc-odn-gray social-gray-list__item-link"></a>
			</li>
		</ul>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-registration end -->