<!-- popup-registration -->
<div class="popup popup-continue" id="popup-continue">
	<div class="popup__content">
		<div class="popup-continue__logo">
			<img src="img/logo.png" alt="" class="popup-continue__logo-img">
		</div>

		<div class="popup-continue__title">Продолжить как Алексей</div>
		<div class="popup-continue__text">Приложение “BabySitters” получит следующую информацию: открытый профиль и адрес электронной почты 
			<span class="tooltip tooltip--warning popup-continue__text-tooltip">
				<span class="icon-warning-round-violet tooltip__head"></span>
				<span class="tooltip__content">Ваш общественный профиль включает в себя имя, фото, возрастной диапазон, пол, язык, страну</span>
			</span>
		</div>
		<div class="popup-continue__edit">
			<a href="#" data-href="#popup-registration2-confirm" class="popup-continue__edit-link js-popup-link">Редактировать предоставленную информацию</a>
		</div>
		<div class="popup-continue__info">Приложение не сможет делать публикации на Facebook</div>
		<div class="popup-continue__buttons">
			<a href="#" data-href="#popup-registration2-confirm" class="btn btn-pink btn-pink--medium popup-continue__buttons-btn js-popup-link">ОК</a>
			<a href="#" class="btn btn-gray popup-continue__buttons-btn">Отмена</a>
		</div>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-registration end -->