<!-- popup-email-confirm-message -->
<div class="popup popup-email-confirm-message @@mod" id="popup-email-confirm-message">
	<div class="popup-email-confirm-message__message">
		@@if (context.text) {
			@@text
		}
		@@if (!context.text) {
			Для завершения регистрации и подтверждения Вашего адреса электронной почты перейдите по ссылке из письма,<br> которое мы только что Вам отправили на vadim1111@gmail.com
		}
		
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-email-confirm-message end -->