<!-- popup-restore-password -->
<div class="popup popup-restore-password" id="popup-restore-password">
	<div class="popup-restore-password__title">Восстановление<br> пароля</div>
	<div class="popup-restore-password__text">Введите свой адрес электронной почты, связанной с аккаунтом на нашем сайте, и мы вышлем ссылку для изменения пароля.</div>
	<div class="popup-restore-password-form">
		<form action="#" class="js-popup-restore-password-form">
			<div class="input-item input-item--email">
				<input type="email" class="input input--font-small popup-restore-password-form__input" name="popup_restore_password_email" placeholder="Email" value="petrov@gmail.com">
			</div>
			<div class="popup-restore-password-form__buttons">
				<button data-href="#popup-restore-password-success" class="btn btn-pink btn-pink--medium popup-restore-password-form__buttons-btn">Восстановить пароль</button>
			</div>
		</form>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-restore-password end -->