<!-- popup-registration -->
<div class="popup popup-registration-success" id="popup-registration-success">
	<div class="popup-error-message">Этот телефонный номер уже зарегистрирован для другого пользователя. Пожалуйста, укажите иной номер мобильного телефона.</div>
	<div class="popup__content">
		<form action="#" class="js-popup-registration-success-form">
			<div class="popup-registration-success__title">Ура, Вы зарегистрированы! </div>
			<div class="popup-registration-success__text">Для подтверждения регистрации и защиты Ваших данных, а также отображения анкеты на сайте, мы вышлем на Ваш номер мобильного телефона <strong>бесплатное</strong> сообщение с кодом</div>
			<div class="popup-registration-success__input-tel">
				<input type="text" class="input input--center input--medium js-mask-tel" name="popup_registration_success_tel" placeholder="+7 ( ___ ) ___-__-__">
			</div>
			<div class="popup-registration-success__info">Ваш номер находится в безопасности и нигде не выводится, а используется только для входа на сайт и получения <strong>бесплатных</strong> уведомлений об интересе со стороны потенциальных клиентов</div>
			<div class="popup-registration-success__buttons">
				<button data-href="#popup-registration-success2" class="btn btn-pink btn-pink--medium popup-registration-success__buttons-btn">Получить код</button>
			</div>
		</form>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-registration end -->