<!-- popup-registration -->
<div class="popup popup-addphoto" id="popup-addphoto">
	<div class="popup__content">
		<div class="popup-addphoto__title">Добавьте свою фотографию</div>
		<div class="popup-addphoto__photo">
			<img src="pic/popup-addphoto/popup-addphoto-default.jpg" alt="" class="popup-addphoto__photo-img">
		</div>
		<div class="popup-addphoto__text">Мы просим всех добавлять свои фото прежде, чем отправлять сообщение в первый раз. Всегда приятно видеть с кем разговариваешь.</div>
		<div class="popup-addphoto__buttons">
			<a href="#" data-href="#popup-addphoto-social" class="btn btn-pink btn-pink--medium popup-addphoto__buttons-btn-pink js-popup-link">Далее</a>
			<a href="#" class="btn btn-gray popup-addphoto__buttons-btn-gray">Пропустить</a>
		</div>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-registration end -->