<!-- popup-registration -->
<div class="popup popup-addphoto popup-addlogo" id="popup-addlogo">
	<div class="popup__content">
		<div class="popup-addphoto__title">Добавьте логотип агенства</div>
		<div class="popup-addphoto__photo popup-addphoto__photo--agency">
			<img src="pic/popup-addphoto/popup-addphoto-default2.jpg" alt="" class="popup-addphoto__photo-img">
		</div>
		<div class="popup-addphoto__text">Мы просим все агентства добавлять свой логотип. К тому же интерес и доверие со стороны потенциальных клиентов к таким компаниям выше.</div>
		<div class="popup-addphoto__text-small">Вы также всегда сможете изменить свой логотип в личном кабинете</div>
		<div class="popup-addphoto__buttons">
			<a href="#" data-href="#popup-addlogo-success" class="btn btn-pink btn-pink--medium popup-addphoto__buttons-btn-pink js-popup-link">Загрузить картинку</a>
			<a href="#" class="btn btn-gray popup-addphoto__buttons-btn-gray">Пропустить</a>
		</div>
	</div>
	<div class="popup__close js-popup-close"></div>
</div>
<!-- popup-registration end -->