/* Fonts */

$open-regular: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
$open-bold: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
$open-semi: 'OpenSans-SemiBold', Arial, Helvetica, sans-serif;
$exo2-bold: 'Exo2-Bold', Arial, Helvetica, sans-serif;
$exo2-extra: 'Exo2-ExtraBold', Arial, Helvetica, sans-serif;

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-Bold';
    src: url(../fonts/Exo2-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-ExtraBold';
    src: url(../fonts/Exo2-ExtraBold.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
    box-sizing: border-box;
}
.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family: $open-regular;
}
input,
textarea {
    box-sizing: border-box;
    font-family: $open-regular;
}

/* Main styles */
html {
    scroll-behavior: smooth;
}
.content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1130px;
}
body {
    font-family: $open-regular;
    font-size: 14px;
    color: #1c2840;
    line-height: 1.4;
    letter-spacing: 0.02px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $exo2-bold;
}
h1 {
    font-family: $exo2-extra;
    font-size: 29px;
    color: #1c2840;
}
h2 {
    font-size: 26px;
    color: #1c2840;
}
b {
    font-family: $open-bold;
}
.orange {
    color: orange;
}

/* Header */

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
}
.top {
    &-mobile {
        display: none;
    }
    background-color: #1c2840;
    color: #ffffff;
    padding: 25px 0;
    box-sizing: border-box;
    &-body {
        display: flex;
        align-items: center;
    }
}
.nav {
    margin-left: 75px;
    &-list {
        font-family: $open-bold;
        font-size: 17px;
        display: flex;
        align-items: center;
        margin: 0 -10px;
    }
    &-item {
        margin: 0 10px;
    }
    &-link {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #ffffff;
        }
    }
    &-sublist {
        font-size: 15px;
        display: flex;
        margin: 0 -10px;
    }
    &-subitem {
        margin: 10px;
        position: relative;
    }
    &-sublink {
        color: #e2e1e1;
        text-decoration: none;
        border-bottom: 1px solid #c5c5c5;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
    &-btn {
        padding: 0;
    }
    &-icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: orange;
        border-radius: 50%;
        position: relative;
        top: 4px;
        transition: all 0.5s;
        border: 1px solid orange;
        &:hover,
        &:focus {
            background-color: transparent;
        }
        &:after {
            content: '+';
            display: inline-block;
            position: absolute;
            top: -1.6px;
            left: 3.3px;
            transition: all 0.5s;
        }
        &:hover:after,
        &:focus:after {
            color: orange;
        }
    }
}
.drop {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    &.show {
        display: block;
    }
    &-body {
        min-width: 300px;
        background-color: #e2e1e1;
        padding: 15px 20px;
        box-sizing: border-box;
        font-size: 14px;
    }
    &-item {
        margin: 5px 0;
        &:before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: orange;
            margin-right: 3px;
            position: relative;
            top: -3px;
        }
    }
    &-link {
        color: #1c2840;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #1c2840;
        }
    }
}
.info {
    font-size: 14px;
    text-align: right;
    &-body {
        display: flex;
        justify-content: flex-end;
    }
    &-mail {
        border-right: 1px solid #c5c5c5;
        padding-right: 12px;
        min-width: 140px;
        font-size: 14px;
        &-link {
            font-family: $open-bold;
            color: #ffffff;
            text-decoration: none;
            border-bottom: 1px solid #c5c5c5;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
    &-city {
        color: #e2e1e1;
        font-size: 13px;
    }
    &-tel {
        padding-left: 12px;
        &-link {
            font-size: 15px;
            font-family: $open-bold;
            color: #e2e1e1;
            text-decoration: none;
        }
    }
    &-more {
        margin-top: 15px;
        &-btn {
            font-family: 16px;
            font-family: $open-bold;
            color: #ffffff;
            text-transform: uppercase;
            background-color: orange;
            padding: 10px 20px;
            transition: all 0.5s;
            border-radius: 3px;
            &:hover,
            &:focus {
                background-color: rgb(255, 185, 56);
            }
        }
    }
}

/* Slider */

.swiper-pagination-bullet {
    opacity: 0.8;
    background-color: #ffffff;
}
.swiper-pagination-bullet-active {
    background-color: orange;
}

/* Sectons */

.slid {
    font-size: 16px;
    color: #c5c5c5;
    &-list {
        position: relative;
        overflow: hidden;
    }
    &-row {
        align-items: center;
    }
    &-item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 500px;
        padding: 150px 0;
        box-sizing: border-box;
    }
    &-promo {
        color: #ffffff;
        font-size: 20px;
        font-family: $open-bold;
        &-num {
            color: orange;
        }
    }
    &-title {
        font-size: 48px;
        color: #ffffff;
    }
    &-more {
        &-link {
            color: orange;
            font-size: 18px;
            text-decoration: none;
            border-bottom: 1px solid rgb(199, 130, 3);
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
.cong {
    &-title {
        font-size: 32px;
    }
    &-subtitle {
        font-size: 24px;
    }
    & .col-7,
    & .col-5 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    &-right {
        position: relative;
        color: #ffffff;
        &:after {
            content: '';
            background-image: url(../img/cong-right-bg.jpg);
            background-repeat: no-repeat;
            background-position: left bottom;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            width: 100%;
        }
        & a,
        & button {
            color: #ffffff;
            border-bottom: 1px solid #ffffff;
            transition: all 0.5s;
            text-decoration: none;
            padding: 0;
            margin: 0;
            font-size: 14px;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
    &-link {
        text-decoration: none;
        &-tel {
            font-family: $open-bold;
            font-size: 18px;
        }
    }
}
.how {
    position: relative;
    background-color: #e2e1e1;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 33.3333%;
            background-color: orange;
            z-index: 1;
        }
    &-title {
        font-size: 20px;
    }
    &-list {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
    }
    &-item {
        margin: 35px 0;
        width: 33.3333%;
        &:nth-child(2) {
            text-align: center;
        }
        &:nth-child(3) {
            text-align: right;
        }
    }
    &-btn {
        padding: 10px 20px;
        background-color: orange;
        color: #ffffff;
        font-size: 18px;
        font-family: $open-bold;
        text-transform: uppercase;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: rgb(255, 185, 56);
        }
    }
}
.useful {
    margin: 50px 0;
    &-top {
        align-items: center;
    }
    &-title {
        font-size: 32px;
    }
    &-link {
        color: orange;
        text-decoration: none;
        border-bottom: 1px solid orange;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
    &-subtitle {
        font-family: $open-bold;
        font-size: 18px;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    &-item {
        width: 33.3333%;
    }
    &-wrapper {
        padding: 25px 15px;
        box-sizing: border-box;
    }
}
.delivery {
    background-color: orange;
    &-row {
        align-items: center;
    }
    &-left,
    &-right {
        padding-top: 50px;
        padding-bottom: 50px;
        box-sizing: border-box;
    }
    &-title {
        font-size: 30px;
    }
    &-right {
        background-image: url(../img/delivery-right-bg.jpg);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 400px;
        color: #ffffff;
    }
    &-subtitle {
        font-size: 28px;
    }
    &-more {
        margin-top: 20px;
        &-link {
            font-size: 18px;
            color: orange;
            text-decoration: none;
            border-bottom: 1px solid orange;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
.logistic {
    margin: 50px 0;
    &-title {
        font-size: 30px;
        margin-top: 0;
    }
    &-more {
        margin-top: 20px;
        &-link {
            color: orange;
            text-decoration: none;
            border-bottom: 1px solid orange;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
.latest {
    margin-bottom: 40px;
    &-title {
        font-size: 24px;
        margin-top: 5px;
    }
    &-image {
        width: 100%;
    }
    &-date {
        margin: 10px 0;
    }
    &-subtitle {
        margin-bottom: 20px;
        &-link {
            color: orange;
            text-decoration: none;
            border-bottom: 1px solid orange;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
    &-more {
        margin-top: 30px;
        &-link {
            display: inline-block;
            color: orange;
            text-decoration: none;
            transition: all 0.5s;
            padding: 10px 25px;
            border: 1px solid orange;
            &:hover,
            &:focus {
                border: 1px solid transparent;
            }
        }
    }
}
.art {
    &-title {
        font-size: 24px;
        margin-top: 5px;
    }
    &-subtitle {
        margin-bottom: 0;
        &-link {
            color: orange;
            text-decoration: none;
            border-bottom: 1px solid orange;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
    &-text {
        margin-top: 5px;
    }
    &-more {
        margin-top: 30px;
        &-link {
            display: inline-block;
            color: orange;
            text-decoration: none;
            transition: all 0.5s;
            padding: 10px 25px;
            border: 1px solid orange;
            &:hover,
            &:focus {
                border: 1px solid transparent;
            }
        }
    }
}

/* Footer */
.footer {
    background-color: #1c2840;
    color: #e2e1e1;
    &-top {
        padding: 50px 0;
    }
    &-left {
        position: relative;
    }
    &-count {
        position: absolute;
        bottom: 20px;
        left: 15px;
        font-size: 12px;
    }
    &-title {
        font-family: $open-semi;
        font-size: 16px;
        color: orange;
    }
    &-list {
        margin-top: 55px;
        font-size: 14px;
    }
    &-item {
        margin: 10px 0;
    }
    &-link {
        color: #e2e1e1;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #e2e1e1;
        }
    }
    &-sublist {
        font-size: 12px;
    }
    &-subitem {
        margin: 10px 0;
    }
    &-sublink {
        color: #e2e1e1;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #e2e1e1;
        }
    }
    &-bottom {
        background-color: #364666;
        font-size: 12px;
        padding: 15px 0;
        &-row {
            align-items: center;
        }
    }
}
.end {
    &-row {
        align-items: center;
    }
    &-text {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 5px;
    }
    &-link {
        color: orange;
        text-decoration: none;
        border-bottom: 1px solid orange;
        transition: all 0.5s;
        font-family: $open-bold;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
    &-more {
        &-link {
            color: orange;
            text-decoration: none;
            padding: 10px 20px;
            border: 1px solid orange;
            transition: all 0.5s;
            text-transform: uppercase;
            font-family: $open-bold;
            &:hover,
            &:focus {
                border: 1px solid transparent;
            }
        }
    }
}

/* Modal */

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    text-align: center;
    &.visible {
        display: block;
    }
    &-body {
        display: inline-block;
        background-color: #f9f9f9;
        width: 700px;
        box-shadow: 9px 14px 23px 7px rgba(0, 0, 0, 0.09);
        padding: 20px;
        box-sizing: border-box;
        position: relative;
    }
    &-close {
        position: absolute;
        right: -15px;
        top: -15px;
        &-icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-image: url(../img/modal-close-icon.png);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &-title {
        text-align: center;
        color: #000000;
        font-family: $open-bold;
        font-size: 18px;
        text-transform: uppercase;
    }
    &-item {
        margin: 10px 0;
    }
    &-field {
        font-size: 14px;
        padding: 10px 12px;
        box-sizing: border-box;
        background-color: #ffffff;
        border: 1px solid #dfe0e4;
        width: 100%;
        &::placeholder {
            color: #666666;
        }
    }
    &-more {
        text-align: center;
        margin-top: 28px;
        &-btn {
            font-size: 15px;
            font-family: $open-regular;
            color: #ffffff;
            text-transform: uppercase;
            background-color: #1c2840;
            padding: 12px 25px;
            border: 1px solid transparent;
            transition: all 0.5s;
            border-radius: 30px;
            &:hover,
            &:focus {
                background-color: #3f4e6d;
            }
        }
    }
    &-subtitle {
        margin: 0;
        font-size: 16px;
        font-family: $open-bold;
    }
    &-subtext {
        font-size: 16px;
        margin: 5px 0 0 0;
    }
}
.policy {
    display: flex;
    align-items: center;
    font-size: 11px;
    color: #333333;
    margin-top: 20px;
    margin-left: 5px;
    text-align: left;
    &-icon {
        display: inline-block;
        width: 13px;
        height: 15px;
        min-width: 13px;
        background-image: url(../img/policy-icon.png);
        background-position: center;
        background-repeat: no-repeat;
        margin-right: 10px;
    }
    &-text {
        padding: 0;
        margin: 0;
    }
    &-link {
        color: #333333;
        text-decoration: none;
        border-bottom: 1px solid rgba(51, 51, 51, 0.5);
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
}