/* Fonts */
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo2-Bold';
  src: url(../fonts/Exo2-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Exo2-ExtraBold';
  src: url(../fonts/Exo2-ExtraBold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1130px;
}

body {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #1c2840;
  line-height: 1.4;
  letter-spacing: 0.02px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Exo2-Bold", Arial, Helvetica, sans-serif;
}

h1 {
  font-family: "Exo2-ExtraBold", Arial, Helvetica, sans-serif;
  font-size: 29px;
  color: #1c2840;
}

h2 {
  font-size: 26px;
  color: #1c2840;
}

b {
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
}

.orange {
  color: orange;
}

/* Header */
.top {
  background-color: #1c2840;
  color: #ffffff;
  padding: 25px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  margin-left: 75px;
}

.nav-list {
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  font-size: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -10px;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus {
  border-bottom: 1px solid #ffffff;
}

.nav-sublist {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.nav-subitem {
  margin: 10px;
  position: relative;
}

.nav-sublink {
  color: #e2e1e1;
  text-decoration: none;
  border-bottom: 1px solid #c5c5c5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-sublink:hover, .nav-sublink:focus {
  border-bottom: 1px solid transparent;
}

.nav-btn {
  padding: 0;
}

.nav-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: orange;
  border-radius: 50%;
  position: relative;
  top: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 1px solid orange;
}

.nav-icon:hover, .nav-icon:focus {
  background-color: transparent;
}

.nav-icon:after {
  content: '+';
  display: inline-block;
  position: absolute;
  top: -1.6px;
  left: 3.3px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-icon:hover:after, .nav-icon:focus:after {
  color: orange;
}

.drop {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
}

.drop.show {
  display: block;
}

.drop-body {
  min-width: 300px;
  background-color: #e2e1e1;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.drop-item {
  margin: 5px 0;
}

.drop-item:before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: orange;
  margin-right: 3px;
  position: relative;
  top: -3px;
}

.drop-link {
  color: #1c2840;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.drop-link:hover, .drop-link:focus {
  border-bottom: 1px solid #1c2840;
}

.info {
  font-size: 14px;
  text-align: right;
}

.info-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.info-mail {
  border-right: 1px solid #c5c5c5;
  padding-right: 12px;
  min-width: 140px;
  font-size: 14px;
}

.info-mail-link {
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid #c5c5c5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.info-mail-link:hover, .info-mail-link:focus {
  border-bottom: 1px solid transparent;
}

.info-city {
  color: #e2e1e1;
  font-size: 13px;
}

.info-tel {
  padding-left: 12px;
}

.info-tel-link {
  font-size: 15px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  color: #e2e1e1;
  text-decoration: none;
}

.info-more {
  margin-top: 15px;
}

.info-more-btn {
  font-family: 16px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  background-color: orange;
  padding: 10px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 3px;
}

.info-more-btn:hover, .info-more-btn:focus {
  background-color: #ffb938;
}

/* Sectons */
.slid {
  font-size: 16px;
  color: #c5c5c5;
}

.slid-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slid-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
  padding: 150px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.slid-promo {
  color: #ffffff;
  font-size: 20px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
}

.slid-promo-num {
  color: orange;
}

.slid-title {
  font-size: 48px;
  color: #ffffff;
}

.slid-more-link {
  color: orange;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 1px solid #c78203;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slid-more-link:hover, .slid-more-link:focus {
  border-bottom: 1px solid transparent;
}

.cong-title {
  font-size: 40px;
}

.cong-subtitle {
  font-size: 34px;
}

.cong .col-6 {
  padding: 50px 0;
}
/*# sourceMappingURL=style.css.map */