/* Fonts */

$open-regular: 'OpenSans-Regular', Arial, Helvetica, sans-serif;
$open-bold: 'OpenSans-Bold', Arial, Helvetica, sans-serif;
$open-semi: 'OpenSans-SemiBold', Arial, Helvetica, sans-serif;
$exo2-bold: 'Exo2-Bold', Arial, Helvetica, sans-serif;
$exo2-extra: 'Exo2-ExtraBold', Arial, Helvetica, sans-serif;

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSans-Bold';
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-Bold';
    src: url(../fonts/Exo2-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2-ExtraBold';
    src: url(../fonts/Exo2-ExtraBold.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
    box-sizing: border-box;
}
.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family: $open-regular;
}
input,
textarea {
    box-sizing: border-box;
    font-family: $open-regular;
}

/* Main styles */
html {
    scroll-behavior: smooth;
}
.content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1130px;
}
body {
    font-family: $open-regular;
    font-size: 14px;
    color: #1c2840;
    line-height: 1.4;
    letter-spacing: 0.02px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $exo2-bold;
}
h1 {
    font-family: $exo2-extra;
    font-size: 29px;
    color: #1c2840;
}
h2 {
    font-size: 26px;
    color: #1c2840;
}
b {
    font-family: $open-bold;
}
.orange {
    color: orange;
}

/* Header */

.top {
    background-color: #1c2840;
    color: #ffffff;
    padding: 25px 0;
    box-sizing: border-box;
    &-body {
        display: flex;
        align-items: center;
    }
}
.nav {
    margin-left: 75px;
    &-list {
        font-family: $open-bold;
        font-size: 17px;
        display: flex;
        align-items: center;
        margin: 0 -10px;
    }
    &-item {
        margin: 0 10px;
    }
    &-link {
        color: #ffffff;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #ffffff;
        }
    }
    &-sublist {
        font-size: 15px;
        display: flex;
        margin: 0 -10px;
    }
    &-subitem {
        margin: 10px;
        position: relative;
    }
    &-sublink {
        color: #e2e1e1;
        text-decoration: none;
        border-bottom: 1px solid #c5c5c5;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid transparent;
        }
    }
    &-btn {
        padding: 0;
    }
    &-icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: orange;
        border-radius: 50%;
        position: relative;
        top: 4px;
        transition: all 0.5s;
        border: 1px solid orange;
        &:hover,
        &:focus {
            background-color: transparent;
        }
        &:after {
            content: '+';
            display: inline-block;
            position: absolute;
            top: -1.6px;
            left: 3.3px;
            transition: all 0.5s;
        }
        &:hover:after,
        &:focus:after {
            color: orange;
        }
    }
}
.drop {
    display: none;
    position: absolute;
    top: 30px;
    right: 0;
    &.show {
        display: block;
    }
    &-body {
        min-width: 300px;
        background-color: #e2e1e1;
        padding: 15px 20px;
        box-sizing: border-box;
        font-size: 14px;
    }
    &-item {
        margin: 5px 0;
        &:before {
            content: '';
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: orange;
            margin-right: 3px;
            position: relative;
            top: -3px;
        }
    }
    &-link {
        color: #1c2840;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #1c2840;
        }
    }
}
.info {
    font-size: 14px;
    text-align: right;
    &-body {
        display: flex;
        justify-content: flex-end;
    }
    &-mail {
        border-right: 1px solid #c5c5c5;
        padding-right: 12px;
        min-width: 140px;
        font-size: 14px;
        &-link {
            font-family: $open-bold;
            color: #ffffff;
            text-decoration: none;
            border-bottom: 1px solid #c5c5c5;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
    &-city {
        color: #e2e1e1;
        font-size: 13px;
    }
    &-tel {
        padding-left: 12px;
        &-link {
            font-size: 15px;
            font-family: $open-bold;
            color: #e2e1e1;
            text-decoration: none;
        }
    }
    &-more {
        margin-top: 15px;
        &-btn {
            font-family: 16px;
            font-family: $open-bold;
            color: #ffffff;
            text-transform: uppercase;
            background-color: orange;
            padding: 10px 20px;
            transition: all 0.5s;
            border-radius: 3px;
            &:hover,
            &:focus {
                background-color: rgb(255, 185, 56);
            }
        }
    }
}

/* Sectons */

.slid {
    font-size: 16px;
    color: #c5c5c5;
    &-row {
        align-items: center;
    }
    &-item {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 500px;
        padding: 150px 0;
        box-sizing: border-box;
    }
    &-promo {
        color: #ffffff;
        font-size: 20px;
        font-family: $open-bold;
        &-num {
            color: orange;
        }
    }
    &-title {
        font-size: 48px;
        color: #ffffff;
    }
    &-more {
        &-link {
            color: orange;
            font-size: 18px;
            text-decoration: none;
            border-bottom: 1px solid rgb(199, 130, 3);
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
.cong {
    &-title {
        font-size: 40px;
    }
    &-subtitle {
        font-size: 34px;
    }
    & .col-6 {
        padding: 50px 0;
    }
}