@media (max-width: 1280px) {
  .promo {
    overflow: hidden;
  }
}

@media (max-width: 1200px) {
  .header-block-item:last-child {
    display: none;
  }
  .header-center {
    width: 58%;
  }
  .header-right {
    width: 17%;
  }
  .promo {
    overflow: hidden;
  }
  .nav-list {
    margin: 0 -8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-item {
    margin: 0 8px;
  }
  .about-image {
    width: 100%;
  }
  .consult-balt {
    display: block;
    text-align: center;
  }
  .consult-balt-item {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  .consult-btn {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 992px) {
  .mobile {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .mobile-icon {
    display: inline-block;
    min-width: 29px;
    width: 29px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/mobile-icon.png);
  }
  .header {
    background-color: white;
    -webkit-box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.29);
            box-shadow: 0px 0px 27px 0px rgba(0, 0, 0, 0.29);
    padding: 10px 0;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .header.show .header-center,
  .header.show .header-right {
    display: block;
  }
  .header-image {
    display: none;
  }
  .header-image-mobile {
    display: inline-block;
  }
  .header-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-left {
    width: 100%;
  }
  .header-center {
    width: 100%;
    display: none;
  }
  .header-right {
    width: 100%;
    display: none;
  }
  .header-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: block;
  }
  .header-block-item {
    margin: 20px 0;
  }
  .header-block-item:last-child {
    display: block;
  }
  .header-tel {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-btn {
    margin-left: auto;
    margin-right: auto;
  }
  .nav-list {
    display: block;
    text-align: center;
  }
  .nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-title {
    position: static;
  }
  .ways-name {
    font-size: 16px;
  }
  .footer-title {
    font-size: 16px;
  }
  .footer-col {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-col:nth-child(3) {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-image {
    width: 100%;
  }
  .footer-blue {
    padding-left: 15px;
    padding-right: 15px;
  }
  .callback-field {
    width: 100%;
  }
  .contacts {
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 80px;
  }
  .contacts-row {
    display: block;
  }
  .contacts-row .col-7,
  .contacts-row .col-5 {
    width: 100%;
  }
  .contacts-area {
    text-align: left;
  }
  .contacts-map {
    max-width: 100%;
  }
  .contacts-list {
    margin-top: 40px;
    display: block;
  }
  .contacts-item {
    margin-right: 0;
  }
  .feedback-end {
    display: block;
  }
  .feedback .policy {
    margin-left: 0;
    margin-top: 20px;
  }
  .category-item {
    width: calc(50% - 30px);
  }
}

@media (max-width: 750px) {
  .promo {
    padding: 0;
  }
  .promo-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .promo-left {
    width: 100%;
  }
  .promo-right {
    width: 100%;
  }
  .promo-picture {
    left: 0;
    top: 0;
    margin-bottom: 0px;
  }
  .promo-image {
    width: 100%;
  }
  .about {
    margin-top: -300px;
    padding: 400px 0 260px 0;
  }
  .about-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-left {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .about-right {
    width: 100%;
  }
  .about-image {
    width: auto;
  }
  .ways-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .ways-item {
    width: calc(100% - 30px);
  }
  .consult-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .consult-left {
    width: 100%;
  }
  .consult-right {
    width: 100%;
  }
  .consult-balt {
    margin-top: 20px;
  }
  .footer-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-col {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-blue {
    background-color: transparent;
  }
  .category {
    margin-bottom: 50px;
  }
  .category-item {
    width: 100%;
  }
  .category-image {
    height: auto;
  }
}

@media (max-width: 520px) {
  h2 {
    font-size: 24px;
  }
  .about-image {
    width: 70%;
  }
  .ways-wrap {
    position: static;
  }
  .contacts-title {
    text-align: center;
  }
  .contacts-list {
    margin-top: 40px;
  }
  .contacts-item {
    margin-right: 15px;
  }
  .feedback-title {
    text-align: center;
  }
  .feedback-list {
    margin-left: -15px;
    margin-right: -15px;
  }
  .feedback-item {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 410px) {
  h2 {
    font-size: 20px;
  }
  .promo-title {
    font-size: 28px;
  }
  .promo-list {
    font-size: 15px;
  }
  .promo-more {
    margin-top: 25px;
  }
  .promo-more-btn {
    margin-left: auto;
    margin-right: auto;
  }
  .about {
    background-image: none;
    padding: 350px 0 260px 0;
  }
  .footer {
    padding-top: 20px;
  }
  .footer-col {
    width: 100%;
    text-align: center;
  }
  .footer-image {
    width: auto;
  }
  .footer-copy {
    text-align: center;
  }
  .soci-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .callback-btn {
    margin-left: auto;
    margin-right: auto;
  }
  .callback-policy {
    max-width: 100%;
    margin-left: 0;
  }
}
/*# sourceMappingURL=media.css.map */