/* 
    Coding by alienshooter 
    alienshootah.github.io
*/
/* Fonts */
@font-face {
  font-family: 'Lato-Regular';
  src: url(../fonts/Lato-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Light';
  src: url(../fonts/Lato-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-LightItalic';
  src: url(../fonts/Lato-LightItalic.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Bold';
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster-Regular';
  src: url(../fonts/lobster.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LearningCurveDashedPro';
  src: url(../fonts/learning_curve_dashed_ot_tt.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

/* Main styles */
body {
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 970px;
}

h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
}

/* Header */
header {
  padding: 30px 0;
}

.header-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: inline-block;
  text-decoration: none;
  font-size: 40px;
  font-family: "Lobster-Regular", Arial, Helvetica, sans-serif;
  color: #bdc58f;
}

.header-form {
  position: relative;
}

.header-field {
  border-style: solid;
  border-width: 1px;
  border-color: #bdc58f;
  border-radius: 6px;
  background-color: white;
  padding: 6px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  font-size: 15px;
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
}

.header-field::-webkit-input-placeholder {
  color: #dedede;
}

.header-field:-ms-input-placeholder {
  color: #dedede;
}

.header-field::-ms-input-placeholder {
  color: #dedede;
}

.header-field::placeholder {
  color: #dedede;
}

.header-btn {
  display: block;
  width: 13px;
  height: 13px;
  background-image: url(../img/header-btn.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 10px;
  top: 10px;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bucket {
  margin-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bucket-btn {
  font-size: 17px;
  color: #edc3c2;
  border: 2px solid #c9cfa3;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bucket-icon {
  display: block;
  width: 29px;
  height: 30px;
  background-image: url(../img/bucket-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 3px;
}

.account {
  position: relative;
}

.account-btn {
  color: #bdc58f;
  font-size: 14px;
  font-family: "Lato-Bold", Arial, Helvetica, sans-serif;
}

.account-btn:hover, .account-btn:focus {
  text-decoration: underline;
}

.account-list {
  font-size: 14px;
}

.account-item {
  margin: 5px 0;
}

.account-link {
  color: #bdc58f;
  text-decoration: none;
}

.account-link:hover, .account-link:focus {
  text-decoration: underline;
}

/* Menu */
nav {
  padding: 20px 0 10px 0;
  margin: 0 0 10px 0;
  border-top: 1px solid #f6f7ef;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  text-transform: uppercase;
}

.menu-button {
  display: none;
}

.menu-item {
  margin: 0 20px;
}

.menu-link {
  color: #000000;
  text-decoration: none;
}

.menu-link:hover, .menu-link:focus {
  text-decoration: underline;
}

/* Sections */
.pre {
  background-color: #fff3e5;
}

.pre-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.pre-item {
  position: relative;
}

.pre-text {
  width: 65%;
}

.pre-descr {
  font-size: 30px;
  font-family: "LearningCurveDashedPro", Arial, Helvetica, sans-serif;
  color: #464646;
  font-weight: bold;
}

.pre-title {
  font-size: 60px;
  font-family: "Lato-Bold", Arial, Helvetica, sans-serif;
  color: #bdc58f;
}

.pre-picture {
  width: 35%;
}

.pre-more {
  margin-top: 40px;
}

.pre-more_link {
  border: 3px solid #bdc58f;
  color: #bdc58f;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
  padding: 15px 25px;
  border-radius: 5px;
}

.featured {
  margin-top: 60px;
  padding: 0 5px 40px 5px;
  border-bottom: 1px solid #f6f7ef;
}

.featured .col-6 {
  padding: 0 10px;
}

.featured-descr {
  text-align: center;
  font-size: 16px;
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
}

.featured-list {
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
}

.featured-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0;
  position: relative;
}

.featured-text {
  position: absolute;
  top: 40px;
  left: 40px;
}

.featured-title {
  font-size: 20px;
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: 2px;
}

.featured-view {
  color: #6c6f70;
  font-size: 12px;
}

.featured-view::after {
  content: '';
  background-image: url(../img/featured-view.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 19px;
  height: 8px;
  margin-left: 3px;
}

.featured-image {
  width: 100%;
  height: 100%;
  margin-bottom: -3px;
}

.popular {
  margin: 40px 0;
}

.popular-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popular-item {
  margin: 10px 0;
}

.popular-name {
  font-size: 16px;
  font-weight: 700;
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  padding-bottom: 0;
}

.popular-price {
  font-size: 14px;
  font-family: "Lato-LightItalic", Arial, Helvetica, sans-serif;
  color: #828a8f;
}

.popular-more {
  margin-top: 20px;
  text-align: center;
}

.popular-more_btn {
  font-size: 14px;
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
  color: #494949;
  text-transform: uppercase;
  padding: 15px 35px;
  border: 2px solid #bdc58f;
}

.popular-more_btn:hover, .popular-more_btn:focus {
  color: #ffffff;
  background-color: #bdc58f;
}

.blog {
  margin: 70px 0 0 0;
  background-color: #eff6f7;
  padding: 40px 0;
}

.blog-list {
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
  color: #7a7a7a;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.blog-item {
  margin: 12px;
}

.blog-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.blog-name {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700px;
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #000000;
}

.blog-date {
  font-size: 14px;
  font-family: "Lato-LightItalic", Arial, Helvetica, sans-serif;
  color: #c5c8cb;
}

.story {
  background-color: #eff6f7;
  padding: 10px 0 40px 0;
}

.story-body {
  margin-top: 50px;
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.story-image {
  width: 100%;
}

.story-text {
  margin-top: 0;
  padding-top: 0;
}

.story-author {
  border: 1px solid #bebebe;
  text-align: center;
}

.story-author_image {
  margin-top: 15px;
  width: 102px;
  height: 102px;
  border-radius: 50%;
}

.story-author_text {
  border-top: 1px solid #bebebe;
  text-align: left;
  padding: 15px 10px 10px 15px;
}

.subscribe {
  font-size: 16px;
  margin: 20px 0;
}

.subscribe-form {
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.subscribe-lbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-text {
  letter-spacing: 1px;
  font-weight: bold;
  color: #bdc58f;
  margin-right: 15px;
}

.subscribe-field {
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #bdc58f;
  font-size: 12px;
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
  width: 220px;
}

.subscribe-field::-webkit-input-placeholder {
  color: #c0c0c0;
}

.subscribe-field:-ms-input-placeholder {
  color: #c0c0c0;
}

.subscribe-field::-ms-input-placeholder {
  color: #c0c0c0;
}

.subscribe-field::placeholder {
  color: #c0c0c0;
}

.subscribe-btn {
  border: 1px solid #bdc58f;
  padding: 5px 20px;
  margin-left: -3px;
  font-size: 12px;
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
  color: #ffffff;
  background-color: #bdc58f;
}

.subscribe-btn:hover, .subscribe-btn:focus {
  background-color: transparent;
  color: #bdc58f;
}

/* Footer */
footer {
  border-top: 1px solid #f6f7ef;
  padding: 40px 0;
  margin-top: 40px;
}

.footer-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  text-transform: uppercase;
  color: #bdc58f;
  font-size: 24px;
  font-family: "Lato-Bold", Arial, Helvetica, sans-serif;
}

.footer-list {
  font-size: 18px;
  font-family: "Lato-Light", Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-link {
  text-decoration: none;
  color: #2c2c2c;
}

.footer-link:hover, .footer-link:focus {
  text-decoration: underline;
}

.footer-copy {
  margin-top: 40px;
}

.footer-copy_link {
  color: #bdc58f;
  text-decoration: none;
}

.footer-copy_link:hover, .footer-copy_link:focus {
  text-decoration: underline;
}

/* Dropdown */
.dropdown-content {
  display: none;
  right: 5px;
  top: 30px;
  position: absolute;
  min-width: 120px;
  border: 1px solid #bdc58f;
  padding: 5px 12px;
  background-color: #ffffff;
}

.dropdown-content.show {
  display: block;
}

/* Slider */
.pre-slider .slick-dots {
  bottom: 25px;
}
/*# sourceMappingURL=style.css.map */