@media(max-width: 1360px) {
    .header {
        &-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:before {
                position: static;
                margin-right: auto;
            }
            &:after {
                position: static;
                margin-left: auto;
            }
        }
    }
    .promo {
        &-picture {
            right: 30px;
        }
    }
    .reviews {
        &-decor {
            right: 60px;
        }
        &-body {
            margin: 0;
        }
        &-arrows {
            display: none;
        }
    }
    .android {
        &-decor {
            right: 60px;
        }
    }
}
@media(max-width: 1199px) {
    .promo {
        &-picture {
            top: 17px;
            right: 15px;
        }
        &-more {
            bottom: -100px;
        }
    }
    .reviews {
        &-item {
            padding-bottom: 40px;
        }
    }
    .android {
        &-body {
            padding: 30px 40px;
        }
    }
    .footer {
        &-top {
            &-row {
                flex-wrap: wrap;
            }
            &-left {
                width: 100%;
            }
            &-right {
                width: 100%;
            }
        }
        &-list {
            justify-content: center;
        }
    }
}
@media(max-width: 980px) {
    .header {
        padding: 20px 0;
    }
    .promo {
        &-title {
            font-size: 35px;
            line-height: 35px;
        }
        &-list {
            font-size: 18px;
        }
        &-item {
            margin: 15px 0;
        }
        &-right {
            text-align: right;
        }
        &-picture {
            display: inline-block;
        }
        &-image {
            width: 70%;
        }
        &-more {
            bottom: -114px;
        }
    }
    .sum {
        &-name {
            font-size: 16px;
        }
        &-value {
            font-size: 22px;
        }
    }
    .end {
        &-btn {
            font-size: 18px;
        }
    }
    .steps {
        &-list {
            margin-top: 120px;
        }
        &-text {
            padding: 0;
        }
    }
    .reviews {
        &-item {
            padding: 46px 20px 20px 20px;
        }
    }
    .popular {
        &-body {
            padding: 20px 40px 30px 40px;
        }
    }
    .cred {
        &-list {
            flex-wrap: wrap;
        }
        &-item {
            width: calc(50% - 30px);
        }
    }
    .android {
        &-image {
            width: 100%;
        }
        &-more {
            &:before {
                content: none;
            }
        }
        &-icon {
            width: 200px;
        }
    }
    .footer {
        &-list {
            flex-wrap: wrap;
        }
        &-end {
            &-left {
                width: 20%;
            }
            &-right {
                width: 80%;
            }
        }
    }
}
@media(max-width: 750px) {
    .promo {
        &-body {
            padding-top: 0;
        }
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
            order: 2;
            padding-left: 34px;
        }
        &-right {
            width: 100%;
            order: -1;
            text-align: center;
            padding-right: 17px;
            margin-top: -40px;
        }
        &-picture {
            position: static;
        }
        &-image {
            width: 80%;
            position: relative;
            top: 17px;
            right: -34px;
        }
        &-more {
            position: static;
            padding: 0;
        }
        &-title {
            text-align: center;
        }
    }
    .end {
        padding: 0 34px;
        order: 1;
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
            padding-top: 22px;
            padding-left: 17px;
            padding-right: 17px;
            padding-bottom: 23px;
        }
        &-center {
            width: 100%;
            padding-left: 17px;
            padding-right: 17px;
        }
        &-right {
            width: 100%;
            padding-top: 12px;
            padding-left: 34px;
            padding-right: 34px;
            padding-bottom: 26px;
        }
        &-btn {
            border-radius: 20px;
            padding: 15px 20px;
            box-sizing: border-box;
        }
    }
    .sum {
        padding: 0 17px;
    }
    .meta {
        padding: 0 20px;
        &-policy {
            justify-content: center;
        }
    }
    .steps {
        &-list {
            flex-wrap: wrap;
            margin-top: 40px;
        }
        &-item {
            width: calc(100% - 30px);
        }
    }
    .android {
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
        }
        &-text {
            margin-top: 0;
        }
        &-more {
            text-align: center;
        }
    }
    .footer {
        &-sublist {
            flex-wrap: wrap;
            margin: 0 -7px;
        }
        &-subitem {
            width: calc(50% - 30px);
            margin: 7px;
        }
        &-end {
            &-row {
                flex-wrap: wrap;
            }
            &-left {
                margin-top: 50px;
                margin-bottom: 20px;
                width: 100%;
                text-align: center;
            }
            &-right {
                text-align: center;
                width: 100%;
            }
        }
    }
    .lang {
        margin-left: auto;
    }
}
@media(max-width: 510px) {
    .cred {
        &-item {
            width: calc(100% - 30px);
        }
    }
}