@media (max-width: 1360px) {
  .header-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-logo:before {
    position: static;
    margin-right: auto;
  }
  .header-logo:after {
    position: static;
    margin-left: auto;
  }
  .promo-picture {
    right: 30px;
  }
  .reviews-decor {
    right: 60px;
  }
  .reviews-body {
    margin: 0;
  }
  .reviews-arrows {
    display: none;
  }
  .android-decor {
    right: 60px;
  }
}

@media (max-width: 1199px) {
  .promo-picture {
    top: 17px;
    right: 15px;
  }
  .promo-more {
    bottom: -100px;
  }
  .reviews-item {
    padding-bottom: 40px;
  }
  .android-body {
    padding: 30px 40px;
  }
  .footer-top-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-top-left {
    width: 100%;
  }
  .footer-top-right {
    width: 100%;
  }
  .footer-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 980px) {
  .header {
    padding: 20px 0;
  }
  .promo-title {
    font-size: 35px;
    line-height: 35px;
  }
  .promo-list {
    font-size: 18px;
  }
  .promo-item {
    margin: 15px 0;
  }
  .promo-right {
    text-align: right;
  }
  .promo-picture {
    display: inline-block;
  }
  .promo-image {
    width: 70%;
  }
  .promo-more {
    bottom: -114px;
  }
  .sum-name {
    font-size: 16px;
  }
  .sum-value {
    font-size: 22px;
  }
  .end-btn {
    font-size: 18px;
  }
  .steps-list {
    margin-top: 120px;
  }
  .steps-text {
    padding: 0;
  }
  .reviews-item {
    padding: 46px 20px 20px 20px;
  }
  .popular-body {
    padding: 20px 40px 30px 40px;
  }
  .cred-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .cred-item {
    width: calc(50% - 30px);
  }
  .android-image {
    width: 100%;
  }
  .android-more:before {
    content: none;
  }
  .android-icon {
    width: 200px;
  }
  .footer-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-end-left {
    width: 20%;
  }
  .footer-end-right {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .promo-body {
    padding-top: 0;
  }
  .promo-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .promo-left {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-left: 34px;
  }
  .promo-right {
    width: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    text-align: center;
    padding-right: 17px;
    margin-top: -40px;
  }
  .promo-picture {
    position: static;
  }
  .promo-image {
    width: 80%;
    position: relative;
    top: 17px;
    right: -34px;
  }
  .promo-more {
    position: static;
    padding: 0;
  }
  .promo-title {
    text-align: center;
  }
  .end {
    padding: 0 34px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .end-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .end-left {
    width: 100%;
    padding-top: 22px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 23px;
  }
  .end-center {
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
  }
  .end-right {
    width: 100%;
    padding-top: 12px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 26px;
  }
  .end-btn {
    border-radius: 20px;
    padding: 15px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .sum {
    padding: 0 17px;
  }
  .meta {
    padding: 0 20px;
  }
  .meta-policy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .steps-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 40px;
  }
  .steps-item {
    width: calc(100% - 30px);
  }
  .android-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .android-left {
    width: 100%;
  }
  .android-right {
    width: 100%;
  }
  .android-text {
    margin-top: 0;
  }
  .android-more {
    text-align: center;
  }
  .footer-sublist {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -7px;
  }
  .footer-subitem {
    width: calc(50% - 30px);
    margin: 7px;
  }
  .footer-end-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-end-left {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  .footer-end-right {
    text-align: center;
    width: 100%;
  }
  .lang {
    margin-left: auto;
  }
}

@media (max-width: 510px) {
  .cred-item {
    width: calc(100% - 30px);
  }
}
/*# sourceMappingURL=media.css.map */