@media(max-width: 1880px) {
    .header {
        background-size: 80%; 
    }
    .services {
        &-list {
            margin-left: -15px;
            margin-right: -15px;
        }
        &-item {
            margin: 5px 15px;
        }
        &-link {
            margin: 0;
        }
    }
    .wecan {
        margin: 83px 0;
        &-list {
            justify-content: center;
        }
    }
    .better {
        &-list {
            justify-content: center;
            margin-left: -10px;
            margin-right: -10px;
        }
        &-item {
            width: calc(20% - 20px);
        }
        &-wrapper {
            padding: 44px 30px;
        }
        &-subtitle {
            font-size: 24px;
        }
    }
    /*
    .types {
        &-item {
            position: static!important;
            text-align: center!important;
            width: 100%;
            margin: 40px 0;
            &:nth-child(2) {
                & .types-image {
                    position: relative;
                    left: 9%;
                }
            }
            &:nth-child(3) {
                & .types-image {
                    position: relative;
                    right: 6%;
                }
            }
            &:nth-child(4) {
                & .types-image {
                    position: relative;
                    left: 7%;
                }
            }
        }
        &-logo {
            width: 100%;
            max-width: 800px;
        }
        &-image {
            width: 100%;
            max-width: 600px;
        }
        &-descr {
            position: static!important;
            text-align: center!important;
        }
    }
    */
    .types {
        &-logo {
            width: 100%;
        }
        &-title {
            font-size: 58px;
        }
        &-item {
            &:nth-child(2)  {
                & .types-descr {
                    right: 18px;
                }
            }
            &:nth-child(3)  {
                & .types-descr {
                    right: -30px;
                }
            }
            &:nth-child(4)  {
                & .types-descr {
                    top: -150px;
                }
            }
        }
    }
    .steps {
        margin-top: 100px;
        &-list {
            margin-left: -15px;
            margin-right: -15px;
        }
        &-item {
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 20px;
            margin-bottom: 20px;
            width: calc(20% - 30px)
        }
        &-picture {
            width: 250px;
            height: 250px;
            background-size: contain;
            padding-top: 96px;
        }
    }
}
@media(max-width: 1520px) {
    .header {
        &-row {
            align-items: center;
        }
        &-list {
            display: block;
            text-align: right;
        }
        &-item {
            margin-left: 0;
        }
        &-body {
            max-width: 97%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 60px;
            margin-bottom: 80px;
            text-align: center;
            padding: 20px;
            border-radius: 30px;
            box-sizing: border-box;
        }
        &-descr {
            max-width: 100%;
        }
    }
    .full {
        &-body {
            overflow-x: scroll;
        }
        &-image {
            width: auto;
        }
    }
    .services {
        &-list {
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
            justify-content: center;
        }
        &-item {
            margin: 15px;
        }
    }
    .wecan {
        &-item {
            width: calc(50% - 30px);
        }
    }
    .better {
        &-title {
            font-size: 65px;
        }
        &-descr {
            font-size: 36px;
        }
        &-list {
            flex-wrap: wrap;
        }
        &-item {
            width: calc(33.3333% - 30px);
        }
    }
    .types {
        &-title {
            font-size: 31px;
        }
        &-item {
            &:nth-child(1) {
                width: 100%;
                order: 0;
                margin-bottom: 100px;
            }
            &:nth-child(2) {
                order: 2;
                position: static;
                & .types-image {
                    width: 100%;
                    max-width: 500px;
                }
                & .types-descr {
                    right: 58px;
                }
            }
            &:nth-child(3) {
                width: 50%;
                order: 1;
                top: 200px;
                & .types-image {
                    width: 100%;
                }
            }
            &:nth-child(4) {
                width: 100%;
                order: 3;
                margin-top: 200px;
                text-align: right;
                & .types-image {
                    width: 100%;
                    max-width: 680px;
                }
                & .types-descr {
                    top: -100px;
                    left: -450px;
                }
            }
        }
        &-descr {
            font-size: 25px;
        }
        &-logo {
            max-width: 400px;
        }
    }
    .steps {
        &-item {
            width: calc(33.3333% - 30px);
        }
    }
}
@media(max-width: 1200px) {
    .better {
        &-row {
            display: block;
            text-align: center;
            & .col-3 {
                width: 100%;
                margin-bottom: 40px;
            }
            & .col-9 {
                width: 100%;
                text-align: center;
            }
        }
    }
    .types {
        &-logo {
            max-width: 500px;
        }
        &-image {
            max-width: 475px;
        }
    }
}
@media(max-width: 992px) {
    .header {
        &-decor {
            display: none;
        }
    }
    .wecan {
        &-item {
            width: calc(50% - 30px);
        }
    }
    .better {
        &-item {
            width: calc(50% - 30px);
        }
    }
    .types {
        &-item {
            &:nth-child(2) {
                & .types-image {
                    position: relative;
                    left: 14%;
                }
            }
            &:nth-child(3) {
                & .types-image {
                    position: relative;
                    right: 9%;
                }
            }
            &:nth-child(4) {
                & .types-image {
                    position: relative;
                    left: 10%;
                }
            }
        }
    }
    .steps {
        &-item {
            width: calc(50% - 30px);
        }
    }
    .feedback {
        &-title {
            font-size: 38px;
        }
    }
}
@media(max-width: 768px) {
    .header {
        padding: 50px 0;
        &-row {
            display: block;
            text-align: center;
            & .col-3 {
                width: 100%;
                margin-bottom: 20px;
            }
            & .col-9 {
                width: 100%;
            }
        }
        &-list {
            text-align: center;
            font-size: 26px;
        }
        &-title {
            font-size: 40px;
            margin-top: 20px;
        }
        &-subtitle {
            font-size: 24px;
        }
        &-descr {
            font-size: 18px;
        }
    }
    .services {
        &-item {
            margin: 10px 15px;
        }
        &-link {
            font-size: 20px;
            margin: 0px;
            padding: 19px 0;
            &-small {
                font-size: 16px;
                padding: 13px 0;
            }
        }
    }
    .promo {
        background-size: 60%;
        text-align: center;
        padding: 40px 0;
        &-prev {
            font-size: 28px;
        }
        &-title {
            font-size: 28px;
        }
    }
    .wecan {
        &-item {
            width: 100%;
        }
        &-text {
            max-width: 100%;
        }
    }
    .better {
        &-image {
            width: 200px;
        }
        &-title {
            font-size: 36px;
        }
        &-descr {
            font-size: 20px;
        }
        &-item {
            width: 100%;
        }
        &-more {
            &-link {
                padding: 17px 40px;
            }
        }
    }
    .types {
        padding: 50px 0 0 0;
        overflow: hidden;
        &-title {
            font-size: 42px;
        }
        &-list {
            font-size: 24px;
        }
        &-item {
            &:nth-child(2) {
                & .types-image {
                    position: relative;
                    left: 16%;
                }
            }
            &:nth-child(3) {
                & .types-image {
                    position: relative;
                    right: 10%;
                }
            }
            &:nth-child(4) {
                & .types-image {
                    position: relative;
                    left: 12%;
                }
            }
        }
        &-logo {
            max-width: 300px;
        }
        &-image {
            max-width: 350px;
        }
    }
    .steps {
        &-title {
            font-size: 42px;
        }
        &-descr {
            font-size: 24px;
        }
        &-item {
            width: 100%;
        }
    }
    .footer {
        padding: 50px 0;
        &-row {
            display: block;
            & .col-6 {
                width: 100%;
            }
        }
        &-list {
            font-size: 24px;
            text-align: center;
            max-width: 100%;
        }
        &-wrapper {
            display: block;
            margin: 10px 0;
        }
    }
    .feedback {
        text-align: center;
        &-list {
            max-width: 100%;
        }
        &-more {
            &-btn {
                position: static;
                font-size: 24px;
            }
        }
    }
}
@media(max-width: 520px) {
    .services {
        &-link {
            width: 170px;
        }
    }
    .promo {
        &-prev {
            font-size: 22px;
        }
        &-title {
            font-size: 22px;
        }
    }
    .wecan {
        margin: 50px 0;
        &-list {
            font-size: 20px;
        }
        &-item {
            margin: 15px 15px;
        }
        &-text {
            max-width: 100%;
        }
    }
    .better {
        padding: 75px 0;
        &-list {
            margin-top: 20px;
        }
        &-wrapper {
            padding: 40px 35px;
        }
        &-more {
            margin-top: 40px;
            &-link {
                font-size: 24px;
            }
        }
    }
    .types {
        &-item {
            margin: 20px 0;
        }
        &-title {
            font-size: 24px;
        }
        &-image {
            max-width: 282px;
        }
    }
    .steps {
        margin-bottom: 50px;
        &-title {
            font-size: 32px;
        }
        &-descr {
            font-size: 18px;
            margin-top: 10px;
        }
        &-list {
            margin: 20px -15px;
        }
        &-item {
            margin-top: 10px;
            margin-bottom: 10px;
            width: calc(50% - 30px);
        }
        &-picture {
            width: 125px;
            height: 125px;
            background-size: contain;
            font-size: 22px;
            padding-top: 50px;
        }
        &-text {
            margin-top: 10px;
            font-size: 18px;
        }
    }
}
@media(max-width: 425px) {
    .header {
        &-body {
            width: 95%;
            padding: 20px 0;
        }
        &-title {
            font-size: 26px;
        }
        &-subtitle {
            font-size: 18px;
        }
        &-descr {
            font-size: 17px;
        }
    }
    .services {
        &-list {
            margin-left: -10px;
            margin-right: -10px;
        }
        &-item {
            width: calc(50% - 20px);
            margin-left: 10px;
            margin-right: 10px;
        }
        &-link {
            width: 100%;
            font-size: 18px;
            padding: 20px 0;
            &-small {
                font-size: 12px;
                padding: 22px 0;
            }
        }
    }
    .promo {
        &-prev {
            font-size: 18px;
        }
        &-title {
            font-size: 17px;
            margin-top: 10px;
        }
    }
    .wecan {
        &-list {
            font-size: 18px;
        }
    }
    .better {
        &-list {
            text-align: center;
            font-size: 16px;
        }
        &-wrapper {
            padding: 30px 15px 10px 15px;
        }
        &-subtitle {
            font-size: 18px;
        }
        &-text {
            &::before {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .types {
        &-image {
            max-width: 230px;
        }
    }
    .footer {
        &-list {
            font-size: 18px;
        }
    }
    .feedback {
        &-title {
            font-size: 28px;
        }
        &-field {
            font-size: 22px;
        }
        &-more {
            &-btn {
                font-size: 22px;
            }
        }
    }
}