/* Fonts */

$sanspro-regular: 'SourceSansPro-Regular', Arial, Helvetica, sans-serif;
$sanspro-light: 'SourceSansPro-Light', Arial, Helvetica, sans-serif;
$sanspro-bold: 'SourceSansPro-Regular', Arial, Helvetica, sans-serif;


@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url(../fonts/SourceSansPro-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansPro-Light';
    src: url(../fonts/SourceSansPro-Light.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url(../fonts/SourceSansPro-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
    box-sizing: border-box;
}
.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family: $sanspro-regular;
}
input,
textarea {
    box-sizing: border-box;
    font-family: $sanspro-regular;
}

/* Main styles */
html {
    scroll-behavior: smooth;
}
.content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1920px;
}
body {
    font-family: $sanspro-regular;
    font-size: 33px;
    color: #192a49;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font-family: $sanspro-regular;
}

/* Header */

.header {
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/header-bg.jpg);
    padding: 130px 0 100px 0;
    box-sizing: border-box;
    &-list {
        font-size: 38px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &-item {
        margin-left: 60px;
        &:first-child {
            margin-left: 0;
        }
    }
    &-name {
        color: #d9ab26;
    }
    &-link {
        text-decoration: none;
        color: #192a49;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #192a49;
        }
    }
    &-body {
        text-align: right;
        margin-top: -130px;
    }
    &-title {
        font-size: 94pxs;
    }
    &-subtitle {
        color: #d9ab26;
        font-size: 48px;
    }
    &-descr {
        color: #8f8f8e;
        font-size: 30px;
        max-width: 900px;
        margin-left: auto;
    }
}
.full {
    margin: 50px 0;
    &-body {
        background-color: #ffffff;
        box-shadow: 1px 2px 20px 3px rgba($color: #000000, $alpha: 0.25);
    }
    &-image {
        width: 100%;
    }
}
.services {
    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 100px -65px 20px -65px;;
    }
    &-item {
        margin: 0 55px;
    }
    &-link {
        font-size: 30px;
        margin: 10px;
        color: #ffffff;
        background-color: #e6c45e;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        border-radius: 10px;
        box-shadow: 1px 2px 20px 3px rgba($color: #000000, $alpha: 0.75);
        width: 210px;
        height: 88px;
        padding: 5px 0;
        box-sizing: border-box;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: #e6355d;
        }
        &-small {
            font-size: 18px;
            padding: 8px 0;
        }
    }
}