/* Fonts */
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url(../fonts/SourceSansPro-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url(../fonts/SourceSansPro-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url(../fonts/SourceSansPro-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1920px;
}

body {
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
  font-size: 33px;
  color: #192a49;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
}

/* Header */
.header {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/header-bg.jpg);
  padding: 130px 0 110px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-list {
  font-size: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item {
  margin-left: 60px;
}

.header-item:first-child {
  margin-left: 0;
}

.header-name {
  color: #d9ab26;
}

.header-link {
  text-decoration: none;
  color: #192a49;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-link:hover, .header-link:focus {
  border-bottom: 1px solid #192a49;
}

.header-body {
  text-align: right;
  margin-top: -130px;
}

.header-title {
  font-size: 94px;
  line-height: 1.2;
  margin-top: 51px;
  margin-bottom: 0;
}

.header-subtitle {
  color: #d9ab26;
  font-size: 48px;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 0;
}

.header-descr {
  color: #8f8f8e;
  font-size: 30px;
  max-width: 926px;
  line-height: 1.17;
  margin-left: auto;
}

.full {
  margin: 35px 0;
}

.full-body {
  background-color: #ffffff;
  padding: 20px 0;
  -webkit-box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.25);
}

.full-image {
  width: 100%;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 81px -65px 20px -65px;
}

.services-item {
  margin: 0 55px;
}

.services-link {
  font-size: 30px;
  margin: 10px;
  color: #ffffff;
  background-color: #e6c45e;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.75);
  width: 210px;
  height: 88px;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services-link:hover, .services-link:focus {
  background-color: #e6355d;
}

.services-link-small {
  font-size: 18px;
  padding: 8px 0;
}

/* Sections */
.promo {
  background-color: #f02457;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url(../img/promo-bg.png);
  color: #ffffff;
  text-transform: uppercase;
  padding: 82px 0;
  -webkit-box-shadow: 1px 10px 20px 3px rgba(0, 0, 0, 0.55);
          box-shadow: 1px 10px 20px 3px rgba(0, 0, 0, 0.55);
  margin: 0 0 50px 0;
}

.promo-body {
  max-width: 1370px;
}

.promo-prev {
  font-size: 48px;
  font-family: "SourceSansPro-Light", Arial, Helvetica, sans-serif;
  display: block;
  margin-top: 8px;
}

.promo-title {
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
  font-size: 48px;
  margin: 0 0 0 5px;
  line-height: 1.17;
  letter-spacing: 1.2px;
}

.wecan {
  margin: 83px 0 278px 0;
}

.wecan-list {
  font-size: 25px;
  font-family: "SourceSansPro-Light", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.wecan-item {
  margin: 30px 15px;
  width: calc(25% - 30px);
}

.wecan-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}

.wecan-picture {
  margin-right: 30px;
}

.wecan-icon {
  display: inline-block;
  min-width: 72px;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
}

.wecan-icon-one {
  background-image: url(../img/wecan-icon-one.png);
}

.wecan-icon-thue {
  background-image: url(../img/wecan-icon-thue.png);
}

.wecan-icon-three {
  background-image: url(../img/wecan-icon-three.png);
}

.wecan-icon-four {
  background-image: url(../img/wecan-icon-four.png);
}

.wecan-icon-five {
  background-image: url(../img/wecan-icon-five.png);
}

.wecan-icon-six {
  background-image: url(../img/wecan-icon-six.png);
}

.wecan-icon-seven {
  background-image: url(../img/wecan-icon-seven.png);
}

.wecan-icon-eight {
  background-image: url(../img/wecan-icon-eight.png);
}

.wecan-icon-nine {
  background-image: url(../img/wecan-icon-nine.png);
}

.wecan-text {
  max-width: 350px;
}

.better {
  background-color: #304366;
  color: #ffffff;
  padding: 100px 0 97px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.better-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.better-title {
  color: #d9ab26;
  font-size: 94px;
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: -20px 0 0 0;
  text-transform: uppercase;
}

.better-descr {
  font-size: 48px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 15px 0 0 0;
  letter-spacing: -0.6px;
}

.better-list {
  color: #192a49;
  font-size: 21px;
  font-family: "SourceSansPro-Light", Arial, Helvetica, sans-serif;
  margin: 82px -15px 50px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.better-item {
  background-color: #faf9f6;
  border-radius: 25px;
  width: calc(20% - 30px);
  margin: 15px;
}

.better-wrapper {
  padding: 64px 55px;
}

.better-subtitle {
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  color: #e6355d;
  margin: 0;
  min-height: 116px;
  line-height: 1.14;
}

.better-text:before {
  content: '';
  display: block;
  height: 2px;
  width: 158px;
  background-color: #192a49;
  margin-bottom: 25px;
}

.better-more {
  margin-top: 67px;
  text-align: center;
}

.better-more-link {
  display: inline-block;
  background-color: #e6355d;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 43px;
  padding: 42px 92px;
  border-radius: 150px;
  -webkit-box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.better-more-link:hover, .better-more-link:focus {
  background-color: #ee6081;
}

.types {
  padding: 138px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

.types-title {
  color: #192a49;
  font-size: 66px;
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.types-list {
  font-size: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.types-item {
  width: 50%;
}

.types-item:nth-child(1) {
  position: relative;
  left: 95px;
}

.types-item:nth-child(2) {
  text-align: right;
  position: relative;
  top: 22px;
  left: 9px;
}

.types-item:nth-child(2) .types-descr {
  text-align: center;
  position: relative;
  right: -45px;
  top: -25px;
}

.types-item:nth-child(3) {
  position: relative;
  top: -301px;
  left: -75px;
}

.types-item:nth-child(3) .types-descr {
  text-align: right;
  position: relative;
  top: -20px;
  right: 55px;
}

.types-item:nth-child(4) {
  position: relative;
  right: 10px;
  top: -90px;
  z-index: -1;
}

.types-item:nth-child(4) .types-descr {
  position: relative;
  top: -146px;
  left: -15px;
}

.types-descr {
  margin: 0;
}

.steps {
  margin-bottom: 130px;
}

.steps-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 77px;
  margin: -5px 0 0 0;
}

.steps-descr {
  font-size: 50px;
  font-family: "SourceSansPro-Light", Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.steps-list {
  margin: 77px -20px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
}

.steps-item {
  margin: 60px 20px;
  width: calc(33.3333% - 40px);
}

.steps-picture {
  width: 293px;
  height: 293px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/steps-picture.png);
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 49px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 115px;
  margin: 0 auto;
}

.steps-text {
  margin: 18px 0 0 0;
  font-size: 30px;
}

/* Footer */
.footer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/footer-bg.jpg);
  color: #ffffff;
  padding: 122px 0 74px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-list {
  max-width: 480px;
  font-size: 33px;
}

.footer-item {
  border-bottom: 2px solid #d9ab26;
}

.footer-item:last-child {
  border-bottom: 2px solid transparent;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

.footer-text {
  margin: 0;
}

.footer-info {
  margin: 0 0 0 10px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-link:hover, .footer-link:focus {
  border-bottom: 1px solid #ffffff;
}

.feedback {
  max-width: 640px;
  margin: 35px auto 0 auto;
}

.feedback-title {
  font-size: 48px;
  font-family: "SourceSansPro-Light", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.feedback-list {
  max-width: 585px;
}

.feedback-item {
  margin: 20px 0;
}

.feedback-field {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #d9ab26;
  width: 100%;
  color: #ffffff;
  font-size: 30px;
  font-family: "SourceSansPro-Light", Arial, Helvetica, sans-serif;
  padding: 5px 0;
}

.feedback-field::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 0.48;
}

.feedback-field:-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.48;
}

.feedback-field::-ms-input-placeholder {
  color: #ffffff;
  opacity: 0.48;
}

.feedback-field::placeholder {
  color: #ffffff;
  opacity: 0.48;
}

.feedback-field-area {
  margin-top: 40px;
  height: 50px;
}

.feedback-more {
  margin-top: 44px;
}

.feedback-more-btn {
  position: relative;
  left: -25px;
  width: 100%;
  padding: 17px 0;
  background-color: #e65979;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 75px;
  font-size: 33px;
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
  -webkit-box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.feedback-more-btn:hover, .feedback-more-btn:focus {
  background-color: #ee6081;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  text-align: center;
}

.modal.visible {
  display: block;
}

.modal-body {
  display: inline-block;
  background-color: #f9f9f9;
  width: 300px;
  -webkit-box-shadow: 9px 14px 23px 7px rgba(0, 0, 0, 0.09);
          box-shadow: 9px 14px 23px 7px rgba(0, 0, 0, 0.09);
  padding: 20px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.modal-close {
  position: absolute;
  right: -15px;
  top: -15px;
}

.modal-close-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/modal-close-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-title {
  text-align: center;
  color: #4e86ff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-item {
  margin: 10px 0;
}

.modal-field {
  font-size: 13px;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #dfe0e4;
  width: 100%;
}

.modal-field::-webkit-input-placeholder {
  color: #666666;
}

.modal-field:-ms-input-placeholder {
  color: #666666;
}

.modal-field::-ms-input-placeholder {
  color: #666666;
}

.modal-field::placeholder {
  color: #666666;
}

.modal-more {
  text-align: center;
  margin-top: 28px;
}

.modal-more-btn {
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #4e86ff;
  padding: 12px 25px;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-more-btn:hover, .modal-more-btn:focus {
  background-color: #e6355d;
}

.modal-subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

.modal-subtext {
  font-size: 16px;
  margin: 5px 0 0 0;
  color: #333333;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  color: #333333;
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  text-align: left;
}

.policy-icon {
  display: inline-block;
  width: 11px;
  height: 15px;
  min-width: 11px;
  background-image: url(../img/policy-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.policy-text {
  padding: 0;
  margin: 0;
}

.policy-link {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.policy-link:hover, .policy-link:focus {
  border-bottom: 1px solid transparent;
}
/*# sourceMappingURL=style.css.map */