/* Fonts */
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url(../fonts/SourceSansPro-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Light';
  src: url(../fonts/SourceSansPro-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url(../fonts/SourceSansPro-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1920px;
}

body {
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
  font-size: 33px;
  color: #192a49;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
}

/* Header */
.header {
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/header-bg.jpg);
  padding: 130px 0 100px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-list {
  font-size: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-item {
  margin-left: 60px;
}

.header-item:first-child {
  margin-left: 0;
}

.header-name {
  color: #d9ab26;
}

.header-link {
  text-decoration: none;
  color: #192a49;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-link:hover, .header-link:focus {
  border-bottom: 1px solid #192a49;
}

.header-body {
  text-align: right;
  margin-top: -130px;
}

.header-title {
  font-size: 94pxs;
}

.header-subtitle {
  color: #d9ab26;
  font-size: 48px;
}

.header-descr {
  color: #8f8f8e;
  font-size: 30px;
  max-width: 900px;
  margin-left: auto;
}

.full {
  margin: 50px 0;
}

.full-body {
  background-color: #ffffff;
  -webkit-box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.25);
}

.full-image {
  width: 100%;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px -65px 20px -65px;
}

.services-item {
  margin: 0 55px;
}

.services-link {
  font-size: 30px;
  margin: 10px;
  color: #ffffff;
  background-color: #e6c45e;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.75);
  width: 210px;
  height: 88px;
  padding: 5px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services-link:hover, .services-link:focus {
  background-color: #e6355d;
}

.services-link-small {
  font-size: 18px;
  padding: 8px 0;
}

/* Sections */
.promo {
  background-color: #f02457;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url(../img/promo-bg.png);
  color: #ffffff;
  text-transform: uppercase;
  padding: 100px 0;
  -webkit-box-shadow: 1px 10px 20px 3px rgba(0, 0, 0, 0.55);
          box-shadow: 1px 10px 20px 3px rgba(0, 0, 0, 0.55);
  margin: 0 0 50px 0;
}

.promo-body {
  max-width: 1370px;
}

.promo-prev {
  font-size: 48px;
  font-family: "SourceSansPro-Light", Arial, Helvetica, sans-serif;
}

.promo-title {
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
  font-size: 48px;
  margin: 0;
}

.wecan {
  margin: 100px 0;
}

.wecan-list {
  font-size: 25px;
  font-family: "SourceSansPro-Light", Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wecan-item {
  margin: 30px 30px;
  width: calc(25% - 60px);
}

.wecan-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
}

.wecan-picture {
  margin-right: 30px;
}

.wecan-icon {
  display: inline-block;
  min-width: 72px;
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
}

.wecan-icon-one {
  background-image: url(../img/wecan-icon-one.png);
}

.wecan-icon-thue {
  background-image: url(../img/wecan-icon-thue.png);
}

.wecan-icon-three {
  background-image: url(../img/wecan-icon-three.png);
}

.wecan-icon-four {
  background-image: url(../img/wecan-icon-four.png);
}

.wecan-icon-five {
  background-image: url(../img/wecan-icon-five.png);
}

.wecan-icon-six {
  background-image: url(../img/wecan-icon-six.png);
}

.wecan-icon-seven {
  background-image: url(../img/wecan-icon-seven.png);
}

.wecan-icon-eight {
  background-image: url(../img/wecan-icon-eight.png);
}

.wecan-icon-nine {
  background-image: url(../img/wecan-icon-nine.png);
}

.better {
  background-color: #304366;
  color: #ffffff;
  padding: 100px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.better-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.better-title {
  color: #d9ab26;
  font-size: 94px;
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

.better-descr {
  font-size: 48px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

.better-list {
  color: #192a49;
  font-size: 21px;
  font-family: "SourceSansPro-Light", Arial, Helvetica, sans-serif;
  margin: 50px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.better-item {
  background-color: #faf9f6;
  border-radius: 25px;
  width: calc(20% - 30px);
  margin: 15px;
}

.better-wrapper {
  padding: 70px 55px;
}

.better-subtitle {
  font-family: "SourceSansPro-Regular", Arial, Helvetica, sans-serif;
  font-size: 27px;
  text-transform: uppercase;
  color: #e6355d;
  margin: 0;
  min-height: 150px;
}

.better-text:before {
  content: '';
  display: block;
  height: 1px;
  width: 158;
  background-color: #192a49;
  margin-bottom: 30px;
}

.better-more {
  margin-top: 100px;
  text-align: center;
}

.better-more-link {
  display: inline-block;
  background-color: #e6355d;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 43px;
  padding: 45px 90px;
  border-radius: 150px;
  -webkit-box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 2px 20px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.better-more-link:hover, .better-more-link:focus {
  background-color: #ee6081;
}
/*# sourceMappingURL=style.css.map */