@media (max-width: 1180px){
	.content {
		padding-left: 20px;
		padding-right: 20px;
	}
	.header-search {display: none;}
	header  .col-5 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	header .col-2 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.slider-item_sw { 
		width: 81%;
	}
	.materials-body {width: 81%;}
	.try-body {
		flex-wrap: wrap;
		margin-bottom: 20px;
	}
	.profit-catalog_item {width: 100%; margin-bottom: 30px;}
	.profit-more {display: block;}
	.eyes-open {right: 20px;}
}
@media (max-width: 767px){
	.slider-item_sw {width: 100%;}
	h1 {font-size: 32px;}
	header {padding: 20px 0 0 0;}
	header  .col-5 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		order: 1;
		padding-top: 10px;
		margin: 0;
	}
	header .col-2 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.navbar-toggler {
		margin-left: -10px;
		color: #5ca010;
		outline: none!important;
	}
	.nav-back {
		font-size: 22px;
		display: block;
		position: absolute;
		right: 0;
		cursor: pointer;
		color: #5ca010;
	}
	.navbar {
		display: block;
		padding: 10px 0;
		text-align: center!important;
		margin: 5px 0;
	}
	.navbar li {
		padding: 10px 0;
	}
	.fa-arrow-right:before {
		font-size: 22px;
	}
	.try {margin-bottom: 0;}
	.materials {padding: 40px 0;}
	.materials-body {width: 100%;}
	.profit-catalog {flex-wrap: wrap;}
	.news-slider_item h3 {margin-top: -45px;}
	.contacts .col-7, .contacts .col-5 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}
@media (max-width: 540px){
		.news-slider_item h3 {
		margin-top: -55px;
	}
	.new {margin-bottom: 0;}
	.profit-catalog {
		margin: 40px -15px;
	}
	.contacts .col-7, .contacts .col-5 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
	}
	.contacts-list {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}
	.contacts-item {justify-content: center;}
	.contacts-icons i {margin: 0 5px;}
}
@media (max-width: 420px){
	.header-button {display: none;}
	header .col-2 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
		text-align: center;
	}
	.slider-item_body {min-height: 480px;}
	h1 {font-size: 24px;}
	.materials {margin: 30px 0 50px 0;}
	.try-body_item {margin: 20px 0 40px 0; padding: 0 0 10px 0;}
	.try-body_red {right: 0;}
	.slider-item_wrap p {font-size: 16px;}
	footer {padding: 0;}
	footer a {color: #fff!important;}
	.footer-body {flex-wrap: wrap;}
	.footer-body_item {width: 100%; padding: 10px; text-align: center!important;}
}
@media (max-width: 375px){
	.news-slider_item h3 {margin-top: -75px;}
}