.container-fluid {padding: 0;}
.content {
	max-width: 1145px;
	margin: 0 auto;
}
h1 {
	font-size: 46px;
}
h2 {
	text-transform: uppercase;
	font-size: 28px;
}
h3.line {
	color: #000;
	padding-bottom: 15px;
	background: url(../img/h3-line.jpg) no-repeat bottom center;
	font-size: 24px;
}
a:hover {transition: all easy 0.3s;}
.red {background: #ff3f36!important;}

/* Этим убирается полоса с форм в бутстрапе */
textarea:focus, 
textarea.form-control:focus, 
.form-control:focus, 
[type=text]:focus, 
[type=password]:focus, 
[type=email]:focus, 
[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 transparent;
}

.form-control {
	outline: none!important; 
	outline-style: none!important; 
	border-radius: 0;
	border: 0!important;
	-webkit-appearance: none;
}

/* Шапка сайта */
header {
	margin-top: 5px;
	padding: 20px 0;
}
header .col-2, header .col-5, header .col-5, header .col-3 {padding: 0;}
.nav-back {display: none;}
.navbar {margin-left: -10px;}
.navbar a {
	color: #171717;
	text-decoration: none;
}
.navbar a:hover, .navbar a:focus {
	color: #ec8e12;
}
.header-search .form-control {
	border: 0!important;
}
.header-search_body {
	border: 1px solid #d7d7d7;
	border-radius: 0;
	display: flex;
	justify-content: space-between;
	margin-left: 50px;
	margin-right: 30px;
}		
header .row {
	align-items: center;
}
.header-search {
	position: relative;
}

.header-search  button {
	border: 0!important;
	background: none;
	width: auto;
	font-size: 18px;
	wont-weight: 100;
	cursor: pointer;
	color: #6f6f6f;
}
.header-button__push {
	text-decoration: none;
	color: #fff;
	background: #5ca010;
	font-size: 18px;
	padding: 12px 22px;
	border: 1px solid transparent;
}
.header-button__push:hover {
	text-decoration: none;
	color: #5ca010;
	background: transparent;
	border: 1px solid #5ca010;
}

/* Начало стилей секций */
.slider {margin-top: 10px;}
.slider .content {
	position: relative;
}
.eyes-open {
	position: absolute;
	right: 0;
	z-index: 9999;
	padding: 3px 20px 6px 20px;
	background: rgba(255, 255, 255, 0.5);
	color: #282828;
	display: flex;
	align-items: center;
	font-size: 16px;
}
.eyes-open a {
	color: #282828;
	text-decoration: none;
	border-bottom: 1px dotted #282828;
	margin-right: 10px;
}
.eyes-open a:hover {
	border-bottom: 1px dotted transparent;
}
.slider-item_body {
	background-size: cover!important;
	text-align: center;
	min-height: 500px;
	color: #fff;
}
.slider-item_sw { 
	width: 41%;
	margin: 0 auto;
	padding-top: 120px;
}
.slider-item_wrap {
	background: rgba(0, 0, 0, 0.8);
	padding: 30px 60px;
}
.slider-item_wrap p {font-size: 24px;}
.slider-item_more {
	background: #fff;
	color: #000;
	padding: 15px 35px;
	text-decoration: none!important;
	font-size: 18px;
}
.slider-item_more:hover {
	background: #000;
	color: #fff;
}
.slider-item_pad {margin-top: 50px;}

.try {margin: 70px 0 90px 0;}
.try-body {
	display: flex;
	justify-content: center;
	text-align: center;
}
.try-body a {
	text-decoration: none!important;
	color: #000;
}
.try-body_item {
	background: #f2f2f2;
	margin: 50px 15px;
	padding: 0 25px 10px 25px;
	position: relative;
}
.try-body_image {
	width: 310px;
	height: 141px;
}

.try-body_item img {
	margin-top: -30px;
}
.try-body_red {
	position: absolute;
	right: 25px;
	top: 0px;
}

.materials {
	background: url(../img/materials-bg.jpg) no-repeat center;
	background-size: cover;
	min-height: 395px;
	margin: 50px 0;
	text-align: center;
	padding-top: 80px;
}
.materials-body {
	background: rgba(255, 255, 255, 1);
	padding: 40px 60px;
	margin: 0 auto;
	width: 65%;
	color: #838383;
	font-size: 18px;
}
.new {
	margin-top: 78px;
	margin-bottom: 140px;
}
.new-slider {margin: 0 -15px;}
.new-slider a {
	color: #000;
	text-decoration: none;
}

.new-slider_item {
	margin: 30px 15px;
	text-align: center;
	padding-bottom: 20px;
	border: 1px solid #e5e5e5;
	position: relative;
}
.new-slider_item span {
	color: #adadad;
	display: none;
	font-size: 17px;
	margin-top: -1px;
}
.new-slider_small {
	position: absolute;
	left: 0;
	padding: 3px 16px;
	color: #fff;
	background: #79b833;
	margin: -1px;
	font-size: 18px;
}
.new-slider_item img {
	width: 100.8%;
	height: 200px;
	padding-bottom: 25px;
	margin: -1px;
}
h6 {
	background: url(../img/h3-line.jpg) no-repeat top center;
	padding-top: 15px;
	font-size: 18px;
}
.new-slider_item:hover {
	border: 1px solid #f7d2a0;
}
.new-slider_item:hover span{
	display: block;
}
.new-slider_item:hover h6 {
	background: none;
	padding-top: 0;
	margin-top: -10px;
}
.news {
	padding: 70px 0 40px 0;
	background: #f2f2f2;
}
.news-slider {
	margin: 0 -15px 0 -10px;
}
.news-slider_item {
	background: #fff;
	margin: 20px 15px;
}
.news-slider_item img {
	width: 100%;
	max-height: 140px;
	
}
.news-slider_text {
	padding: 0 25px 0 25px;
	color: #737373;
}
.news-slider_item h3 {
	color: #fff;
	font-size: 18px;
	margin-top: -55px;
	padding-bottom: 25px;
	font-weight: normal;
}
.news-slider_detail {
	margin-top: -8px;
	padding-bottom: 8px;
}
.news-slider_more {
	color: #423d3d;
	text-decoration: none!important;
	border-bottom: 1px solid #cccccc;
	font-size: 16px;
}
.news-slider_more:hover {
	color: #ee9b3e;
	border-bottom: 1px solid #fcc9b5;
}
.profit {
	padding: 75px 0 75px 0;
}
.profit-catalog {
	display: flex;
	justify-content: center;
	margin: 150px -15px 40px -15px;
}
.profit-catalog a{
	color: #000;
	text-decoration: none!important;
}
.profit-catalog_item {
	width: 49%;
	margin: 20px 15px;
	padding: 20px 25px 10px 25px;
	text-align: center;
	background: #f2f2f2;
}
.profit-catalog_item img {
	margin-top: -50px;
	padding-bottom: 10px;
	width: 100%;
	height: 180px;
}
.profit-catalog_item h3 {font-size: 25px;}
.profit-more {
	display: flex;
	justify-content: center;
	margin: 0 -15px;
}
.profit-more_item {
	margin: 20px 15px;
	display: flex;
	align-items: center;
	padding: 40px 30px 30px 0;
	background: #f2f2f2;
	color: #6d6d6d;
}
.profit-more_item img {
	margin: -10px 45px 0 0;
	width: 69px;
	height: 69px;
}
.profit-more_item h4 {color: #000; padding-bottom: 10px;}
.profit-more_item p {font-size: 18px;}
.contacts {
	background: #f4f4f4;
	padding: 20px 0 15px 0;
}
.contacts .col-7 {padding: 0;}
.contacts-push_dat {margin: 30px 0 30px;}
.contacts-item {
	display: flex;
	align-items: center;
	padding: 10px 0 0 0;
}
.contacts-item img {margin: -10px 30px 0 0;}
.contacts-item h4 {padding-bottom: 10px;}
.contacts-item p {font-size: 18px;}
.contacts-list {
	margin: 0;
	padding-left: 20px;
	
}
.contacts-list li {
	padding-bottom: 24px;
	color: #ec8e12;
	
}
.contacts-list li a {
	color: #000000;
	border-bottom: 1px solid #c3c3c3;
	text-decoration: none!important;
}
.contacts-list li a:hover {
	color: #ee9b3e;
	border-bottom: 1px solid #fcc9b5;
}
.contacts-icons {margin-top: 1px;}
.contacts-icons i {
	color: #fff;
	background: #ec8e12;
	border-radius: 90px;
	padding: 5px;
	margin-right: 10px;
	font-size: 22px;
	border: 1px solid transparent;
}
.contacts-icons i:hover {
	color: #ec8e12;
	background: none;
	border: 1px solid #ec8e12;
}
.facebook i {padding: 5px 11px;}
.instagram i {padding: 5px 7px;}
.youtube i {padding: 5px 4px;}

footer {
	background: #262626;
	color: #fff;
	padding: 20px 0;
}
footer a {color: #fff!important;}
.footer-body {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/* Стили Слайдеров */

.slick-slide {
	outline: none;
}
.slider .slick-prev, .slider .slick-next {top: 48%;}
.slider .slick-prev {left: 120px; z-index: 3000;}
.slider .slick-next {right: 140px; z-index: 3000;}
.slider .slick-prev:before, .slider .slick-next:before {
    font-family: 'slick';
    font-size: 48px;
	font-weight: 100;
    line-height: 1;
    opacity: .75;
    color: hsl(0, 0%, 100%);
    -webkit-font-smoothing: antialiased;
}

.slick-prev, .slick-next {bottom: -7%; top: auto;}
.slick-prev {left: 36%; z-index: 3000;}
.slick-next {right: 38%; z-index: 3000;}
.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 48px;
	font-weight: 100;
    line-height: 1;
    opacity: .75;
    color: #ec8e12;
    -webkit-font-smoothing: antialiased;
}
.news-slider .slick-dots {
    position: absolute;
    bottom: -35px;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 18px;
    padding: 0;
    cursor: pointer;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 12px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .75;
    color: transparent;
	border: 1px solid #d0d0d0;
	border-radius: 99px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: hsl(34, 86%, 50%);
}