@media (max-width: 1260px) {
    body {
        overflow-x: hidden;
    }
    .nav-icon {
        display: block;
    }
    .nav-list.topnav {
        display: none;
    }
    .nav-list.topnav.responsive {
        display: block;
    }
    .header-item:first-child {
        display: none;
    }
    nav {
        position: static;
    }
    .nav-body {
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav-list {
        width: 100%;
        display: block;
        order: 1;
        text-align: center;
    }
    .services-title {
        margin-left: 20px;
    }
    .services-body .col-4 {
        display: none;
    }
    .services-body .col-8 {
        width: 100%;
    }
    .serv-list {
        justify-content: space-between;
        margin: 20px 0;
    }
    .numbers-list {
        flex-wrap: wrap;
    }
    .numbers-item {
        width: 45%;
        margin: 20px 10px;
    }
    .title-wrap {
        flex-wrap: wrap;
    }
    .portfolio-list {
        width: 100%;
    }
    .port-body {
        justify-content: center;
    }
    .port-item {
        margin: 10px;
    }
    .news-list {
        justify-content: center;
    }
    .news-item {
        width: 47%;
    }
    .footer-up {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-up .col-3 {
        width: 46%;
    }
    .footer-up .col-3:nth-child(2),
    .footer-up .col-3:nth-child(3) {
        display: none;
    }
    .port-body {
        margin: 20px 0;
    }
    .numbers-list {
        margin: 0;
    }
    .header-list {
        display: none;
    }
}
@media (max-width: 992px) {
    .up-body .col-6:first-child {
        display: none;
    }
    .up-body .col-6 {
        width: 100%;
    }
    .up-list {
        justify-content: center;
    }
    .promo {
        margin-bottom: 40px;
    }
    .promo .content {
        min-height: auto;
        padding-bottom: 50px;
    }
    .promo-down {
        position: static;
    }
    .port-nwimage {
        width: 100%;
        max-width: 350px;
        height: 180px;
    }
    .appl-body {
        flex-wrap: wrap;
    }
    .appl-body .col-6 {
        width: 100%;
    }
    .appl-image {
        width: 100%;
        min-height: auto;
    }
    .appl-item-buttons {
        text-align: center;
    }
    .news-item {
        width: 46%;
    }
    .footer-up .col-3 {
        width: 100%;
        text-align: center;
    }
    .footer-social {
        justify-content: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 768px) {
    .header-logo {
        width: 100%;
        margin-bottom: 40px;
    }
    .header-info {
        display: none;
    }
    .serv-item {
        width: 100%;
    }
    .portfolio-list {
        display: block;
        text-align: center;
    }
    .portfolio-item {
        padding: 5px;
        border-right: 0;
    }
    .whatare-body {
        flex-wrap: wrap;
    }
    .whatare-body .col-8,
    .whatare-body .col-4 {
        width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .news-item {
        width: 100%;
    }
    .footer-down_body .col-6:last-child {
        display: none;
    }
    .footer-down_body .col-6 {
        width: 100%;
        text-align: center;
    }
    .port-item {
        margin: 10px 0;
    }
    .port-nwimage {
        width: 100%;
        max-width: 100%;
        height: 100%;
    }
}
@media (max-width: 480px) {
    .up-item-mail {
        display: none;
    }
    .nav-get {
        margin-left: 0;
    }
    .promo .content {
        padding: 30px 15px 20px 15px;
    }
    h1 {
        font-size: 48px;
        margin-top: 20px;
    }
    h2 {
        font-size: 20px;
    }
    .promo-descr {
        letter-spacing: 1px;
        font-size: 22px;
    }
    .serv-item {
        display: block;
        margin: 10px 0;
    }
    .numbers-item {
        width: 100%;
    }
    .appl-title {
        display: none;
    }
    .appl-button {
        margin: 5px 0;
    }
}