/* Fonts */

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MrsSaintDelafield';
    src: url(../fonts/MrsSaintDelafield.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

.row{
    display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12{
    padding: 0 15px;
}

.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}
h2 {
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', sans-serif;
    padding: 12px 20px;
    margin-left: -20px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: -20px;
    background-image: url(../img/h2-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', sans-serif;
    padding: 0;
    margin: 0;
}

/* Main */

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat-Regular', sans-serif;
}
.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font-family: 'Montserrat-Bold', sans-serif;
}

/* Header */
header .content {
    position: relative;
}
.up {
    padding: 15px 0;
    background-color: #0f0f0f;
    color: #c7c7c7;
    font-size: 14px;
}
.up-site {
    color: #c7c7c7;
    text-decoration: none;
}
.up-yellow {
    color: #ffb300;
}
.up-site:hover,
.up-site:focus {
    color: #c7c7c7;
    text-decoration: underline;
}
.up-list {
    display: flex;
    justify-content: flex-end;
    margin: 0 -10px;
    align-items: center;
}
.up-item-mail {
    margin-right:15px;
}
.up-icon {
    margin: 0 10px -1px 10px;
}

header {
    background-color: #1c1c1c;
    padding: 40px 0 60px 0;
    color: #b7b7b7;
    font-size: 14px;
}
.header-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -30px;
}
.header-item {
    display: flex;
    align-items: center;
    margin: 10px 30px;
}
.header-text {
    margin-left: 20px;
    border-left: 2px solid #3d3d3d;
    padding-left: 20px;
}
.header-title {
    text-transform: uppercase;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.header-descr {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 5px;
    margin: 0;
}
.header-phone_link {
    color: #b7b7b7;
    text-decoration: none;
}
.header-phone_link:hover,
.header-phone_link:focus {
    text-decoration: underline;
}

/* Menu */

nav {
    position: absolute;
    bottom: -90px;
    width: 100%;
    font-family: 'Montserrat-Bold', sans-serif;
}
.nav-body {
    display: flex;
    align-items: center;
}
.nav-list {
    background-color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat-Bold', sans-serif;
    color: #000000;
    display: flex;
    align-items: center;
}
.nav-item {
    margin: 20px 25px;
}
.nav-link {
    color: #000000;
    text-decoration: none;
    padding-left: 8px;
    padding-top: 5px;
}
.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color: #ffb300;
    background-image: url(../img/nav-link.png);
    background-repeat: no-repeat;
    background-position: left top;
}
.search-button {
    width: 60px;
    height: 60px;
    background-color: #000000;
    color: #ffb300;
    text-align: center;
    border: 0;
    cursor: pointer;
}
.nav-get {
    height: 58px;
    background-color: #ffb300;
    color: #000000;
    padding: 0 40px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    border: 0;
    cursor: pointer;
    margin-left: 40px;
    font-family: 'Montserrat-Bold', sans-serif;
}
.nav-get:hover,
.nav-get:focus {
    background-color: #000000;
    color: #ffb300;
}

/* Sections */

.promo {
    background-color: #ffb300;
    color: #ffffff;
    background-image: url(../img/promo-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.promo .content {
    position: relative;
    min-height: 600px;
    padding: 100px 15px 0 15px;
}
h1 {
    display: inline-block;
    font-size: 58px;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 50px;
    background-image: url(../img/h1-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
}
.yellow {
    color: #ffb300;
}
.promo-descr {
    margin-top: 10px;
    font-size: 28px;
    letter-spacing: 10px;
    font-family: 'Montserrat-Bold', sans-serif;
}
.promo-more {
    margin: 50px 0;
}
.promo-more_link {
    background-color: #ffb300;
    color: #000000;
    padding: 20px 40px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Montserrat-Bold', sans-serif;
}
.promo-more_link:hover,
.promo-more_link:focus {
    background-color: #000000;
    color: #ffb300;
}
.promo-down {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}

.services-body {
    align-items: center;
}
.services-descr {
    font-size: 14px;
    margin: 5px 0;
    padding: 0;
    color: #666666;
}
.services-picture {
    min-width: 200px;
}
.services-image {
    width: 100%;
}
.serv-list {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}
.serv-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    width: 47%;
}
.serv-picture {
    background-color: #fafafa;
    padding: 15px;
    border: 1px solid #f3f3f3;
    text-align: center;
    height: 80px;
}
.serv-icon {
    width: 50px;
    margin-top: 15px;
}
.serv-text {
    border: 1px solid #f3f3f3;
    height: 80px;
    padding: 15px;
}
.serv-descr {
    padding: 0;
    margin: 5px 0 0 0;
    font-size: 14px;
}

.numbers {
    color: #ffffff;
    background-color: #3b3b3b;
    padding: 40px 0;
    margin: 40px 0;
    font-size: 18px;
    text-transform: uppercase;
}
.numbers-list {
    margin: 0 -20px;
    display: flex;
    justify-content: space-between;
}
.numbers-item {
    margin: 20px;
}
.numbers-num {
    font-size: 40px;
    font-family: 'Montserrat-Bold', sans-serif;
}
.numbers-descr {
    margin: 0;
    padding: 0;
}
.humbers-decor {
    background-color: #ffb300;
    height: 2px;
    width: 30px;
    border: 0;
}

.portfolio {
    margin: 40px 0;
}
.title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.portfolio-list {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.portfolio-item {
    padding: 0 20px;
    border-right: 1px solid #212121;
}
.portfolio-item:last-child {
    border-right: 0;
}
.portfolio-link {
    text-decoration: none;
    color: #000000;
}
.portfolio-link.active,
.portfolio-link:hover,
.portfolio-link:focus {
    color: #ffb300;
}
.port-nwimage {
    width: 100%;
    max-width: 385px;
    height: 240px;
}
.port-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px -20px;
}
.port-item {
    margin: 10px 0;
}
.port-more {
    margin-top: 40px;
}
.port-more_link {
    font-size: 16px;
    font-family: 'Montserrat-Bold', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #212121;
    background-color: #ffb300;
    padding: 15px 25px;
    border: 2px solid #ffb300;
}
.port-more_link:hover,
.port-more_link:focus {
    background-color: transparent;
    color: #ffb300;
}

.whatare {
    background-color: #000000;
    color: #ffffff;
    padding: 40px 0;
    margin: 40px 0;
    font-size: 18px;
}
.whatare-body {
    align-items: center;
}
.whatare-title {
    font-size: 30px;
    text-transform: initial;
}
.whatare-link {
    color: #ffb300;
    text-decoration: none;
}
.whatare-link:hover,
.whatare-link:focus {
    text-decoration: underline;
}

.appl {
    margin: 40px 0;
    padding: 40px 0;
}
.appl-body .col-6 {
    padding: 0;
    background-color: #fafafa;
}

.appl-picture {
    position: relative;
}
.appl-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 220px;
    color: #ffb300;
    font-size: 30px;
    font-family: 'Montserrat-Bold', sans-serif;
}
.appl-image {
    width: 100%;
    min-height: 490px;
}
.appl-form {
    padding: 20px;
}
.appl-field {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
}
.appl-button {
    cursor: pointer;
}
.appl-button-load {
    border: 2px solid #f1f1f1;
    background-color: transparent;
}

.news-list {
    margin: 40px -10px;
    display: flex;
    flex-wrap: wrap;
}
.news-item {
    background-color: #fafafa;
    margin: 10px;
    border: 2px solid #f4f4f4;
    display: flex;
    align-items: center;
    width: 31%;
}
.news-left {
    color: #ffb300;
    text-align: center;
    border-right: 2px solid #f4f4f4;
    padding: 20px;
}
.news-date {
    font-size: 26px;
    color: #ffb300;
    font-family: 'Montserrat-Bold', sans-serif;
}
.news-month {
    font-size: 12px;
    text-transform: uppercase;
}
.news-right {
    padding: 0 20px;
}
.news-title {
    font-size: 18px;
    color: #212121;
    text-transform: uppercase;
    font-family: 'Montserrat-Bold', sans-serif;
    margin-bottom: 5px;
}
.news-title a {
    color: #212121;
    text-decoration: none;
    width: 100%;
    display: block;
}
.news-cat {
    font-size: 14px;
}
.news-link {
    color: #ffb300;
    text-decoration: none;
    width: 100%;
    display: block;
}

/* Footer */

footer {
    padding-top: 40px;
    background-color: #333333;
    color: #ffffff;
    font-size: 13px;
    border-top: 3px solid #ffb300;
}
footer .content {
    position: relative;
}
.footer-begin {
    position: absolute;
    right: 30px;
    top: -40px;
    text-align: center;
    background-color: #ffb300;
    width: 40px;
    height: 40px;
}
.footer-begin_link {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}
.footer-author {
    font-family: 'MrsSaintDelafield', cursive;
    font-size: 40px;
}
.footer-social {
    display: flex;
    margin: 0 -10px;
}
.social-item {
    margin: 10px;
}
.social-link {
    background-color: #ffffff;
    display: block;
    text-align: center;
    width: 25px;
    height: 20px;
    padding-top: 5px;
}
.social-link.active,
.social-link:hover,
.social-link:focus {
    background-color: #ffb300;
}

.footer-title {
    margin-bottom: 20px;
}
.links-item {
    margin: 10px 0;
}
.links-item::before {
    content: url(../img/links-item.png);
    margin-right: 10px;
}
.links-link {
    color: #ffffff;
    text-decoration: none;
}
.links-link:hover,
.links-link:focus {
    text-decoration: underline;
}
.hours-item {
    display: flex;
    margin: 10px 0;
}
.hours-day {
    width: 100px;
}
.contact-item {
    margin: 10px 0;
}
.contact-item:nth-child(1)::before {
    content: url(../img/contact-icon1.png);
    margin-left: 3px;
    margin-right: 10px;
}
.contact-item:nth-child(2)::before {
    content: url(../img/contact-icon2.png);
    margin-right: 10px;
}
.contact-item:nth-child(3)::before {
    content: url(../img/contact-icon3.png);
    margin-right: 10px;
}
.contact-item:nth-child(4)::before {
    content: url(../img/contact-icon3.png);
    margin-right: 10px;
}
.contact-icon {
    width: 12px;
    height: 12px;
    margin-right: 10px;
}
.contact-link {
    margin: 10px 0;
    color: #ffffff;
    text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
    text-decoration: underline;
}
.footer-down {
    background-color: #000000;
    color: #999999;
}
.footer-down_body {
    align-items: center;
}
.footer-menu {
    display: flex;
    justify-content: flex-end;
    margin: 0 -10px;
}
.footer-menu_item {
    margin: 0 10px;
}
.footer-menu_link {
    color: #999999;
    text-decoration: none;
}
.footer-menu_link:hover,
.footer-menu_link:focus {
    text-decoration: underline;
}

/* Tabs */
