@font-face {
  font-family: 'Geometria';
  src: url(../fonts/Geometria.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url(../fonts/Geometria-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1200px) {
  .info-body {
    display: block;
  }
  .info-title {
    margin-bottom: 14px;
  }
  .info-picture {
    margin-bottom: 20px;
  }
  .info-more {
    margin-top: 25px;
  }
  .price-body {
    display: block;
  }
  .price-list {
    margin-left: -20px;
  }
  .price-left {
    margin-bottom: 20px;
  }
  .price-right {
    margin-bottom: 30px;
  }
  .place-list {
    margin: -45px -15px;
  }
  .place-item {
    margin: 45px 15px;
  }
  .place-text {
    padding-top: 30px;
  }
  .details-list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .details-item {
    width: 50% !important;
  }
}

@media (max-width: 992px) {
  .new {
    margin: 68px 0 68px 0;
  }
  .new-body {
    display: block;
  }
  .new-body .col-5,
  .new-body .col-7 {
    width: 100%;
  }
  .new-body .col-7 {
    margin-top: 50px;
  }
  .better-item {
    width: 50%;
  }
  .prefer-image {
    height: 230px;
  }
  .pure-text {
    margin-right: 20px;
  }
  .moving-row {
    display: block;
  }
  .moving-row .col-5,
  .moving-row .col-7 {
    width: 100%;
  }
  .moving-row .col-7 {
    margin-top: 50px;
  }
  .footer-top-body {
    display: block;
    text-align: center;
  }
  .footer-top-body .col-4 {
    width: 100%;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .header {
    min-height: auto;
    padding-bottom: 34px;
  }
  .header-arrow {
    display: none;
  }
  .round {
    width: 336px;
    height: 336px;
    left: 0;
    font-size: 13px;
  }
  .round-body {
    padding: 47px 70px 0 70px;
  }
  .round-logo {
    width: 110px;
    height: 34px;
    background-size: contain;
  }
  .round-decor {
    width: 156px;
    height: 156px;
    top: auto;
    bottom: -78px;
    right: -60px;
  }
  .round-decor-thue {
    width: 82px;
    height: 82px;
    top: -84px;
    right: 83px;
  }
  .round-title {
    font-size: 24px;
    margin: 15px 0 0 0;
  }
  .round-text {
    margin: 3px 0 13px 0;
    line-height: 1;
  }
  .round-more-link {
    font-size: 12px;
    width: 165px;
    height: 30px;
    padding: 7px 10px;
  }
  .place-picture {
    display: none;
  }
  .prefer-list {
    display: block;
    margin: 0;
  }
  .prefer-item {
    width: 100%;
    padding: 15px 0;
  }
  .live-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .live-row .col-5,
  .live-row .col-7 {
    width: 100%;
  }
  .live-row .col-7 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 40px;
  }
  .live-more {
    text-align: left;
  }
  .pure-body {
    height: auto;
    padding: 40px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .pure-text {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 560px) {
  .content {
    padding: 0 35px;
  }
  .round {
    left: -71px;
  }
  h2 {
    font-size: 24px;
  }
  .new {
    font-size: 15px;
    margin: 45px 0 45px 0;
  }
  .new-body .col-7 {
    margin-top: 30px;
  }
  .new-title {
    margin-bottom: 10px;
  }
  .discount-text {
    width: 100%;
    max-width: 445px;
  }
  .better {
    margin-bottom: 40px;
  }
  .better-title {
    color: #82B428;
    width: 60%;
  }
  .better-list {
    margin-top: 20px;
  }
  .better-item {
    width: 100%;
  }
  .better-subtitle {
    font-size: 18px;
  }
  .better-info {
    padding: 20px;
  }
  .better-image {
    border-radius: 20px;
  }
  .info {
    text-align: center;
    font-size: 13px;
    padding-bottom: 20px;
  }
  .info-title {
    font-size: 18px;
  }
  .info-text {
    padding-left: 40px;
    padding-right: 40px;
    color: #686A67;
  }
  .info-image {
    width: 100%;
    min-width: auto;
    max-width: initial;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px;
  }
  .info-more {
    display: none;
  }
  .info-buy-btn {
    font-size: 15px;
    width: auto;
    height: auto;
    padding: 9px 30px 11px 30px;
    background: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
    -webkit-box-shadow: 2.20881px 2.20881px 11.0441px rgba(0, 0, 0, 0.2);
            box-shadow: 2.20881px 2.20881px 11.0441px rgba(0, 0, 0, 0.2);
    border-radius: 36.8135px;
  }
  .place {
    padding-bottom: 0;
  }
  .place-body {
    padding-top: 0;
  }
  .place-list {
    margin: -45px -35px;
  }
  .place-item {
    background: #FFFFFF;
    border: 0.86524px solid #C5C5C5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 6.92192px 6.92192px 21.631px rgba(0, 0, 0, 0.25);
            box-shadow: 6.92192px 6.92192px 21.631px rgba(0, 0, 0, 0.25);
    border-radius: 13.9705px;
  }
  .place-wrap {
    display: block;
  }
  .price {
    padding: 0 40px;
  }
  .price-body {
    padding-top: 20px;
    border-top: 1px solid #cccccc;
  }
  .price-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    padding-bottom: 20px;
  }
  .price-pre {
    font-size: 13px;
  }
  .price-val {
    font-size: 17px;
  }
  .price-all {
    display: block;
  }
  .price-curr, .price-tild {
    display: none;
  }
  .price-or {
    font-weight: 100;
    font-family: 'Geometria', Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-top: 5px;
    font-size: 17px;
  }
  .price-left {
    margin-bottom: 10px;
    padding-left: 0;
  }
  .prefer {
    margin: 33px 0 20px 0;
  }
  .prefer-image {
    border-radius: 20px;
  }
  .prefer-subtitle {
    font-weight: 800;
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .prefer-info {
    border-radius: 0px 0px 20px 20px;
  }
  .pure-body {
    padding: 57px 20px 27px 20px;
    position: relative;
    border-radius: 20px;
    min-height: 613px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url(../img/pure-bg-mobile.jpg);
  }
  .pure-more {
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-top: 24px;
    bottom: 24px;
    left: 0;
  }
  .pure-more-btn {
    max-width: 250px;
    width: 100%;
    height: auto;
    padding: 13px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 18px;
    background: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
    -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
            box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
  }
  .details {
    padding: 45px 0 0 0;
  }
  .details-title {
    display: none;
  }
  .details-list {
    margin: -8px -35px 0 -35px;
  }
  .details-item {
    width: 100% !important;
    padding: 15px 0;
  }
  .details-image {
    height: auto;
    width: 100%;
    border-radius: 0;
  }
  .details-info {
    text-align: center;
  }
  .details-subtitle {
    width: 100%;
    font-weight: 800;
  }
  .details-more {
    display: none;
  }
  .discount {
    margin-top: 40px;
    padding: 40px 0;
    background-image: url(../img/discount-bg-mobile.jpg);
    background-position: bottom right;
    min-height: 639px;
  }
  .discount-text {
    font-size: 18px;
  }
  .discount-more {
    margin-top: 30px;
  }
  .discount-more-btn {
    font-size: 18px;
    width: auto;
    height: auto;
    padding: 8px 18px 10px 18px;
  }
  .moving {
    margin: 40px 0;
    font-size: 18px;
  }
  .moving-text {
    margin-top: 20px;
  }
  .moving-row {
    margin: 0 -35px;
  }
  .moving-row .col-5 {
    padding: 0 35px;
  }
  .moving-row .col-7 {
    margin-top: 0;
    padding: 0;
  }
  .live {
    font-size: 18px;
    padding: 84px 0 40px 0;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url(../img/live-bg-mobile.jpg);
  }
  .live:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 360px;
    background-image: url(../img/live-after.svg);
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .live-body {
    margin-top: 170px;
    position: relative;
    z-index: 2;
  }
  .live-field {
    height: 52px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-size: 18px;
    padding: 10px 16px;
  }
  .live-more-btn {
    width: auto;
    height: auto;
    padding: 8px 22px;
    font-size: 18px;
  }
  .footer-logo {
    width: 125px;
    height: 40px;
    background-size: contain;
  }
  .footer-tel-link {
    font-size: 14px;
  }
  .footer-bottom {
    font-size: 8px;
  }
  .social-item {
    margin: 6px;
  }
  .social-icon {
    width: 31px;
    height: 31px;
    background-size: contain;
  }
  .trest-icon {
    width: 125px;
    height: 38px;
    background-size: contain;
  }
}
/*# sourceMappingURL=media.css.map */