/* Fonts */
@font-face {
  font-family: 'Geometria';
  src: url(../fonts/Geometria.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria-Bold';
  src: url(../fonts/Geometria-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Geometria", Arial, Helvetica, sans-serif;
}

input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Geometria", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}

body {
  font-family: "Geometria", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-family: "Geometria-Bold", Arial, Helvetica, sans-serif;
}

h2 {
  font-weight: 800;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
}

body {
  color: #2B2422;
}

.green {
  color: #82B428;
}

.blue {
  color: #2DA3DC;
}

/* Header */
.header {
  min-height: 961px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/header-bg.jpg);
}

.header-body {
  padding: 126px 0 115px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-arrow {
  text-align: center;
}

.header-arrow-icon {
  display: inline-block;
  width: 50px;
  height: 30px;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-image: url(../img/header-arrow.svg);
}

.round {
  border-radius: 50%;
  width: 664px;
  height: 664px;
  background: linear-gradient(147.64deg, #FFFFFF 13.56%, #F1F1F1 85.54%);
  font-size: 24px;
  position: relative;
  left: -115px;
}

.round-body {
  padding-top: 95px;
  padding-left: 145px;
  padding-right: 145px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.round-logo {
  display: inline-block;
  width: 242px;
  height: 73px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/header-logo.svg);
  margin-top: 11px;
}

.round-title {
  padding: 0;
  margin: 25px 0 0 0;
  font-weight: 800;
  font-size: 48px;
  text-transform: uppercase;
  color: #82B428;
}

.round-text {
  margin: 17px 0 23px 0;
  line-height: 1.1;
}

.round-more-link {
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 275px;
  height: 51px;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(34.66deg, #BC1822 16.88%, #E53322 76%);
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.round-more-link:hover, .round-more-link:focus {
  background: linear-gradient(34.66deg, #9c1019 16.88%, #ca281a 76%);
}

.round-decor {
  display: inline-block;
  width: 268px;
  height: 268px;
  background: linear-gradient(147.64deg, #C5D210 13.56%, #82B428 85.54%);
  border-radius: 50%;
  position: absolute;
  top: -55px;
  right: -110px;
}

.round-decor-thue {
  display: inline-block;
  width: 105px;
  height: 105px;
  background: linear-gradient(147.64deg, #8DCEED 13.56%, #2DA3DC 85.54%);
  border-radius: 50%;
  position: absolute;
  top: 213px;
  right: -188px;
}

/* Sections */
.new {
  margin: 100px 0 68px 0;
  font-size: 24px;
}

.new-title {
  margin-bottom: 50px;
}

.new-image {
  border-radius: 10px;
}

.better {
  margin-bottom: 60px;
}

.better-list {
  margin-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
}

.better-item {
  width: 33.3333%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.better-wrap {
  position: relative;
}

.better-image {
  border-radius: 10px;
  width: 100%;
}

.better-info {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-blend-mode: multiply;
  border-radius: 0px 0px 10px 10px;
  height: 148px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #ffffff;
  padding: 32px 28px 25px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.better-subtitle {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  font-family: "Geometria", Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  line-height: 1;
}

.place {
  padding-top: 30px;
  padding-bottom: 50px;
}

.place-body {
  padding-top: 32px;
}

.place-list {
  margin: -45px;
}

.place-item {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #C5C5C5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.25);
          box-shadow: 8px 8px 25px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 45px;
}

.place-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.place-picture {
  width: 360px;
  min-width: 360px;
  margin-bottom: -1px;
}

.place-image {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: -1px -1px -1px -1px;
  width: 100%;
  height: 100%;
}

.place-text {
  padding-top: 70px;
}

.info {
  font-size: 17px;
  color: #000000;
  padding-bottom: 15px;
}

.info-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info-image {
  width: 100%;
  min-width: 375px;
  max-width: 375px;
}

.info-text {
  padding-left: 44px;
  padding-right: 44px;
}

.info-title {
  font-weight: 800;
  font-size: 24px;
  color: #2B2422;
  margin-top: 8px;
  margin-bottom: 44px;
  padding-top: 0;
}

.info-descr {
  line-height: 1.4;
}

.info-buy {
  margin-top: 25px;
}

.info-buy-btn {
  width: 241px;
  background: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
  color: #FFFFFF;
  font-size: 20px;
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding: 10px 10px 14px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.info-buy-btn:hover, .info-buy-btn:focus {
  background: linear-gradient(34.66deg, #6d9622 16.88%, #a9b410 76%);
}

.info-more {
  margin-top: 2px;
  padding-left: 40px;
  display: inline-block;
  font-style: italic;
  font-size: 17px;
}

.price {
  padding: 0 67px 0 30px;
}

.price-body {
  border-top: 0.5px solid #000000;
  padding-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price-left {
  padding-left: 10px;
}

.price-pre {
  font-size: 17px;
  color: #2B2422;
  display: inline-block;
}

.price-main {
  padding: 0;
  margin: 2px 0;
}

.price-val {
  display: inline-block;
  font-weight: 800;
  font-size: 22px;
  color: #2B2422;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -30px 0 0;
}

.price-item {
  margin: 0 30px;
}

.prefer {
  margin: 33px 0 50px 0;
}

.prefer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}

.prefer-item {
  width: 33.3333%;
  padding: 15px;
}

.prefer-wrap {
  position: relative;
}

.prefer-image {
  width: 100%;
  height: 280px;
  border-radius: 10px;
}

.prefer-info {
  width: 100%;
  height: 148px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(16.67%, rgba(100, 104, 101, 0)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(180deg, rgba(100, 104, 101, 0) 16.67%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: multiply;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 4px;
  left: 0;
  padding: 31px 28px 27px 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prefer-subtitle {
  font-family: "Geometria", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #FFFFFF;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0;
  padding: 0;
}

.pure {
  margin-top: 7px;
}

.pure-body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/details-bg.jpg);
  height: 350px;
  -webkit-filter: drop-shadow(3px 6px 7px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(3px 6px 7px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  text-align: right;
}

.pure-text {
  margin-top: 93px;
  margin-right: 57px;
  display: inline-block;
  width: 285px;
  text-align: left;
}

.pure-title {
  padding: 0;
  margin: 0;
  font-size: 36px;
  text-transform: uppercase;
  color: #646865;
}

.pure-more {
  margin-top: 24px;
}

.pure-more-btn {
  width: 254px;
  height: 51px;
  background: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 2px;
}

.pure-more-btn:hover, .pure-more-btn:focus {
  background: linear-gradient(34.66deg, #648823 16.88%, #9ea814 76%);
}

.details {
  padding: 45px 0;
}

.details-title {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
}

.details-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -8px -15px 0 -15px;
}

.details-item {
  width: 33.3333%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.details-item:nth-child(1) {
  width: 395px;
}

.details-item:nth-child(2) {
  width: 331px;
}

.details-item:nth-child(3) {
  width: 460px;
}

.details-item:nth-child(4) {
  width: 460px;
}

.details-item:nth-child(5) {
  width: 395px;
}

.details-item:nth-child(6) {
  width: 331px;
}

.details-item:nth-child(7) {
  width: 395px;
}

.details-item:nth-child(8) {
  width: 331px;
}

.details-item:nth-child(9) {
  width: 460px;
}

.details-wrap {
  position: relative;
}

.details-image {
  height: 276px;
  width: 100%;
  border-radius: 10px;
}

.details-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 148px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#000000));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  background-blend-mode: multiply;
  border-radius: 0px 0px 10px 10px;
  color: #ffffff;
  padding: 31px 27px 25px 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.1;
}

.details-subtitle {
  font-family: "Geometria", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  padding: 0;
  margin: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.details-more {
  font-size: 24px;
  text-align: center;
  color: #C5C5C5;
  margin-top: 18px;
}

.details-more-btn {
  font-size: 24px;
  font-weight: 800;
  color: #C5C5C5;
}

.discount {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../img/discount-bg.jpg);
  min-height: 473px;
  padding: 60px 0 69px 0;
  margin-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.discount-title {
  margin-bottom: 0;
}

.discount-text {
  width: 445px;
  font-size: 24px;
}

.discount-descr {
  margin-top: 20px;
}

.discount-more {
  margin-top: 34px;
}

.discount-more-btn {
  width: 213px;
  height: 51px;
  background: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding-bottom: 2px;
  font-size: 20px;
  color: #FFFFFF;
}

.discount-more-btn:hover, .discount-more-btn:focus {
  background: linear-gradient(34.66deg, #6e9625 16.88%, #abb617 76%);
}

.moving {
  margin: 100px 0 94px 0px;
  font-size: 24px;
}

.moving-text {
  margin-top: 47px;
  line-height: 1.3;
}

.moving-image {
  width: 100%;
}

.live {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  background-image: url(../img/live-bg.jpg);
  min-height: 388px;
  padding: 84px 0 67px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-size: 24px;
}

.live-title {
  margin-bottom: 18px;
}

.live-text {
  margin-top: 0;
  line-height: 1.1;
}

.live-list {
  margin-top: 19px;
}

.live-item {
  margin: 10px 0;
}

.live-field {
  width: 100%;
  height: 62px;
  padding: 18px 30px 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  font-size: 26px;
}

.live-field::-webkit-input-placeholder {
  color: #C4C4C4;
}

.live-field:-ms-input-placeholder {
  color: #C4C4C4;
}

.live-field::-ms-input-placeholder {
  color: #C4C4C4;
}

.live-field::placeholder {
  color: #C4C4C4;
}

.live-more {
  text-align: right;
  margin-top: 24px;
}

.live-more-btn {
  width: 275px;
  height: 51px;
  background: linear-gradient(34.66deg, #82B428 16.88%, #C5D210 76%);
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  padding-bottom: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  color: #FFFFFF;
}

.live-more-btn:hover, .live-more-btn:focus {
  background: linear-gradient(34.66deg, #71962c 16.88%, #b0bb15 76%);
}

/* Footer */
.footer {
  background-color: #2DA3DC;
  color: #ffffff;
  padding: 47px 0 40px 0;
}

.footer-logo {
  display: inline-block;
  width: 221px;
  height: 71px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/footer-logo.svg);
}

.footer-top-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-tel {
  margin-top: 0;
}

.footer-tel-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-tel-link:hover, .footer-tel-link:focus {
  border-bottom: 2px solid #ffffff;
}

.footer-bottom {
  text-align: center;
  margin-top: 24px;
  font-size: 12px;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-link:hover, .footer-link:focus {
  border-bottom: 1px solid #ffffff;
}

.footer-policy {
  margin-top: 28px;
  margin-bottom: 0;
}

.footer-policy-btn {
  padding: 0;
  font-size: 12px;
  color: #ffffff;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-policy-btn:hover, .footer-policy-btn:focus {
  border-bottom: 1px solid #ffffff;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -12px;
}

.social-item {
  margin: 12px;
}

.social-icon {
  display: inline-block;
  width: 46px;
  height: 46px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-icon-one {
  background-image: url(../img/social-icon-one.svg);
}

.social-icon-thue {
  background-image: url(../img/social-icon-thue.svg);
}

.social-icon-three {
  background-image: url(../img/social-icon-three.svg);
}

.trest {
  margin-top: 10px;
}

.trest-icon {
  display: inline-block;
  width: 270px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/trest-icon.svg);
}

/* Modals */
.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding: 50px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  text-align: center;
}

.modal.visible {
  display: block;
}

.modal-body {
  display: inline-block;
  width: 716px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 80px 70px 60px 70px;
  text-align: center;
  position: relative;
}

.modal-close {
  font-size: 24px;
  font-family: "Geometria-Bold", Arial, Helvetica, sans-serif;
  color: #2DA3DC;
  position: absolute;
  top: 45px;
  right: 45px;
  opacity: 0.75;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-close:hover, .modal-close:focus {
  opacity: 1;
}

.modal-title {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #2DA3DC;
  margin-top: 0;
  padding-top: 0;
}

.modal-item {
  margin: 10px 0;
}

.modal-field {
  width: 100%;
  height: 62px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  padding: 12px 25px;
  font-size: 26px;
}

.modal-field::-webkit-input-placeholder {
  color: #C4C4C4;
}

.modal-field:-ms-input-placeholder {
  color: #C4C4C4;
}

.modal-field::-ms-input-placeholder {
  color: #C4C4C4;
}

.modal-field::placeholder {
  color: #C4C4C4;
}

.modal-label {
  display: block;
  text-align: center;
  font-size: 19px;
  color: #2B2422;
  margin-top: 20px;
}

.modal-check {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  margin-right: 5px;
}

.modal-link {
  color: #2DA3DC;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-link:hover, .modal-link:focus {
  border-bottom: 1px solid #2DA3DC;
}

.modal-more {
  margin-top: 50px;
  text-align: right;
}

.modal-more-btn {
  width: 275px;
  height: 51px;
  background: linear-gradient(34.66deg, #2DA3DC 16.88%, #30D3DD 76%);
  -webkit-box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 2px;
}

.modal-more-btn:hover, .modal-more-btn:focus {
  background: linear-gradient(34.66deg, #2987b6 16.88%, #2db7be 76%);
}

/* Slider */
.slick-dots {
  bottom: -37px;
}

.slick-dots li button:before {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: #E5E5E5;
  border-radius: 50%;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.slick-dots li.slick-active button:before,
.slick-dots li:hover button:before,
.slick-dots li:focus button:before {
  background-color: #2DA3DC;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */