/* Fonts */
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(../fonts/OpenSans-ExtraBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-ExtraBold';
  src: url(../fonts/Raleway-ExtraBold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1300px;
}

body {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway-ExtraBold", Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 24px;
  color: #282c37;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Header */
.header {
  padding: 35px 0;
}

.header-mobile {
  display: none;
}

.header-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo-icon {
  display: inline-block;
  width: 93px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/header-logo-icon.png);
}

.header-info {
  font-size: 16px;
  color: #1970b1;
  padding-left: 15px;
  margin-left: 18px;
  margin-top: -7px;
  border-left: 1px solid #1970b1;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: -30px;
  font-size: 16px;
}

.nav-item {
  margin-left: 30px;
}

.nav-link {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #282c37;
  padding-bottom: 3px;
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
  border-bottom: 1px solid #2b8fda;
}

/* Sections */
.promo-body {
  background-color: #f7f9ff;
  padding: 0 46px 10px 46px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.promo-left {
  padding-top: 50px;
}

.promo-right {
  text-align: right;
}

.promo-list {
  overflow: hidden;
  position: relative;
}

.promo-subtitle {
  font-size: 31px;
  color: #1970b1;
}

.promo-sublist {
  color: #596f8b;
  font-size: 16px;
}

.promo-subitem {
  margin-bottom: 6px;
}

.promo-subitem::before {
  content: '-';
  display: inline-block;
  padding-right: 5px;
}

.promo-more {
  position: absolute;
  left: 0;
  bottom: 90px;
}

.promo-more-link {
  background-color: #282c37;
  color: #ffffff;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  padding: 16px 20px 16px 27px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-more-link:hover, .promo-more-link:focus {
  background-color: #5d6781;
}

.promo-more-icon {
  display: inline-block;
  min-width: 18px;
  width: 18px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-more-icon.png);
  padding-left: 6px;
  position: relative;
  top: 1px;
}

.promo-image {
  width: 100%;
  max-width: 444px;
}

.pagination {
  bottom: 40px !important;
  left: -4px !important;
  position: absolute;
  z-index: 1000;
}

.pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  background: #2b8fda;
  opacity: 0.7;
}

.pagination .swiper-pagination-bullet-active {
  opacity: 0.3;
}

.wedo {
  margin: 96px 0 93px 0;
}

.wedo-list {
  overflow: hidden;
  position: relative;
}

.wedo-wrapper {
  position: relative;
}

.wedo-image {
  width: 100%;
  height: 503px;
}

.wedo-descr {
  background-color: rgba(255, 255, 255, 0.92);
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px 30px 20px 25px;
}

.wedo-text {
  font-size: 16px;
}

.wedo-subtitle {
  margin-top: 10px;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 20px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.wedo-link {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: #0d3e62;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wedo-link:hover, .wedo-link:focus {
  border-bottom: 1px solid #0d3e62;
}

.navigation {
  position: absolute;
  z-index: 10;
  top: 30%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navigation-button {
  cursor: pointer;
  display: inline-block;
  width: 49px;
  height: 49px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.navigation-button-left {
  background-image: url(../img/slider-arrow-left.png);
  left: 19px;
}

.navigation-button-right {
  background-image: url(../img/slider-arrow-right.png);
  right: 19px;
}

.half-content {
  margin-bottom: 19px;
}

.half-content:last-child {
  margin-bottom: 0;
}

.half-list {
  overflow: hidden;
  position: relative;
}

.half-list .navigation {
  top: 27%;
}

.half-wrapper {
  position: relative;
  height: 242px;
  min-height: 242px;
}

.half-image {
  width: 100%;
  height: 242px;
  min-height: 242px;
}

.half-descr {
  background-color: rgba(255, 255, 255, 0.92);
  position: absolute;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 22px;
}

.half-subtitle {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 20px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.half-link {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: #0d3e62;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.half-link:hover, .half-link:focus {
  border-bottom: 1px solid #0d3e62;
}

.news {
  margin-bottom: 148px;
}

.news-title {
  margin-bottom: 25px;
}

.news-list {
  margin: 0 -15px;
  overflow: hidden;
}

.news-item {
  width: 100%;
}

.news-wrapper {
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.news-image {
  width: 100%;
  height: 208px;
}

.news-subtitle {
  font-size: 18px;
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  padding-bottom: 0;
  margin-bottom: 0;
}

.news-link {
  color: #1970b1;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.news-link:hover, .news-link:focus {
  border-bottom: 1px solid #1970b1;
}

.news-descr {
  padding-right: 5px;
}

.news-text {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 7px;
  padding-top: 0;
}

.news-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.news-more {
  margin-left: 15px;
  margin-top: 0;
}

.news-more-link {
  min-width: 180px;
}

.news-more-icon {
  padding-left: 13px;
}

.news-navigation {
  position: static;
  margin-left: 38px;
}

.news-arrow {
  margin: 0 8px;
  display: inline-block;
  width: 35px;
  height: 35px;
  position: static;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.news-arrow-left {
  background-image: url(../img/news-arrow-left.png);
}

.news-arrow-right {
  background-image: url(../img/news-arrow-right.png);
}

/* Footer */
.footer {
  font-size: 16px;
}

.footer-top {
  background-color: #282c37;
  color: #ffffff;
  padding: 35px 0 39px 0;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
}

.footer-logo-icon {
  display: inline-block;
  width: 93px;
  height: 21px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/footer-logo-icon.png);
}

.footer-info {
  font-size: 16px;
  color: #ffffff;
  padding-left: 15px;
  margin-left: 18px;
  margin-top: -6px;
  border-left: 1px solid #1970b1;
}

.footer-subtitle {
  font-size: 16px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  color: #ffffff;
  border-bottom: 1px solid #1970b1;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 3px;
  margin-top: 0;
  padding-top: 0;
  letter-spacing: 0.1px;
}

.footer-list {
  font-size: 14px;
  color: #ffffff;
}

.footer-item {
  margin-bottom: 4px;
}

.footer-link {
  border-bottom: 1px solid transparent;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-link:hover, .footer-link:focus {
  border-bottom: 1px solid #ffffff;
}

.footer-bottom {
  padding: 11px 0 11px 0;
  font-size: 12px;
  background-color: #1d212a;
  color: #b2b2b2;
}

.footer-copy {
  padding: 0;
  margin: 0;
}

.footer-copy-link {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #b2b2b2;
}

.footer-copy-link:hover, .footer-copy-link:focus {
  border-bottom: 1px solid #b2b2b2;
}
/*# sourceMappingURL=style.css.map */