/* Fonts */
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url(../fonts/OpenSans-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url(../fonts/OpenSans-ExtraBold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url(../fonts/Raleway-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url(../fonts/Montserrat-ExtraBold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

section {
  overflow: hidden;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1330px;
}

body {
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #212834;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
}

h2 {
  display: inline-block;
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Raleway-Bold", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #212834;
  letter-spacing: 0.4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Header */
.header {
  padding: 28px 0 60px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-item {
  margin-left: 50px;
}

.header-item:first-child {
  margin-left: 0;
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-link {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-link:hover, .header-link:focus {
  border-bottom: 1px solid #333333;
}

.header-tel {
  font-size: 15px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-tel:hover, .header-tel:focus {
  border-bottom: 1px solid #333333;
}

.header-icon {
  display: inline-block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 13px;
}

.header-icon-one {
  background-image: url(../img/header-icon-one.png);
}

.header-icon-thue {
  background-image: url(../img/header-icon-thue.png);
}

.header-btn {
  background-color: #ee4224;
  color: #ffffff;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 13px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-btn:hover, .header-btn:focus {
  background-color: #f7684e;
}

.header-btn-icon {
  display: inline-block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/header-btn-icon.png);
  margin-right: 10px;
}

/* Sections */
.promo {
  overflow: visible;
}

.promo-body {
  background-color: #0b255e;
  color: #ffffff;
  padding: 50px 50px 68px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.promo-body:before {
  content: '';
  display: inline-block;
  min-width: 469px;
  width: 469px;
  height: 152px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-bg.png);
  position: absolute;
  top: 5px;
  left: -3px;
}

.promo-decor {
  display: inline-block;
  min-width: 170px;
  width: 170px;
  height: 143px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.promo-decor-one {
  background-image: url(../img/promo-decor-one.png);
  bottom: 0px;
  left: -150px;
}

.promo-decor-thue {
  background-image: url(../img/promo-decor-thue.png);
  min-width: 119px;
  width: 119px;
  height: 148px;
  top: 2px;
  right: -150px;
  background-position: top;
}

.promo-title {
  font-size: 37px;
  font-family: "Montserrat-ExtraBold", Arial, Helvetica, sans-serif;
  color: #ffffff;
  margin-top: 21px;
  line-height: 1.37;
}

.promo-row {
  position: relative;
  z-index: 2;
}

.promo-image {
  width: 100%;
}

.promo-descr {
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #ffffff;
}

.promo-descr b {
  font-family: "OpenSans-ExtraBold", Arial, Helvetica, sans-serif;
}

.promo-list {
  margin-top: 50px;
  font-size: 14px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 58px;
}

.promo-item {
  margin-right: 20px;
}

.promo-item:last-child {
  margin-right: 0;
}

.promo-link {
  display: inline-block;
  border: 1px solid #ee4224;
  background-color: #ffffff;
  font-size: 14px;
  color: #666666;
  text-decoration: none;
  border-radius: 30px;
  padding: 10px 28px 12px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-link-icon {
  display: inline-block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-link-icon.png);
  margin-right: 10px;
  margin-bottom: -4px;
}

.promo-link:hover, .promo-link:focus {
  background-color: #ee4224;
  color: #ffffff;
}

.promo-btn {
  background-color: #ee4224;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 16px 33px 14px 33px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-btn:hover, .promo-btn:focus {
  background-color: #f7684e;
}

.promo-btn-icon {
  display: inline-block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-btn-icon.png);
  margin-left: 10px;
  position: relative;
  top: -1px;
}

.info {
  margin-top: 68px;
}

.info-body {
  background-color: #f3f6f8;
  padding: 40px 60px;
  font-size: 16px;
  color: #212834;
  line-height: 1.6;
}

.info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.info-item {
  margin-right: 60px;
}

.prime {
  margin: 100px 0;
}

.prime-body {
  font-size: 16px;
  color: #212834;
  text-align: center;
}

.prime-picture {
  text-align: center;
  position: relative;
  left: -55px;
  top: -10px;
}

.prime-image {
  margin: 0 auto;
}

.prime-text {
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.47;
}

.better {
  overflow: visible;
  margin-top: 120px;
}

.better-body {
  position: relative;
}

.better-decor {
  display: inline-block;
  min-width: 126px;
  width: 126px;
  height: 143px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

.better-decor-one {
  background-image: url(../img/better-decor-one.png);
  bottom: -40px;
  left: -132px;
}

.better-decor-thue {
  background-image: url(../img/better-decor-thue.png);
  min-width: 187px;
  width: 187px;
  height: 178px;
  right: 40px;
  top: 19px;
}

.better-title {
  border: 1px solid #ee4224;
  background-color: #ee4224;
  color: #ffffff;
  padding: 15px 35px;
}

.better-list {
  margin: 20px -15px 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.better-item {
  width: calc(33.3333% - 30px);
  margin: 15px;
  background-color: #fcfcfd;
  padding: 30px 26px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.better-item:nth-child(2) {
  background-color: #f5f6f9;
}

.better-item:nth-child(4) {
  background-color: #ee4224;
  color: #ffffff;
}

.better-item:nth-child(6) {
  background-color: #f5f6f9;
}

.better-item:nth-child(8) {
  background-color: #f5f6f9;
}

.better-icon {
  display: inline-block;
  min-width: 70px;
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.better-icon-one {
  background-image: url(../img/better-icon-one.png);
}

.better-icon-thue {
  background-image: url(../img/better-icon-thue.png);
}

.better-icon-three {
  background-image: url(../img/better-icon-three.png);
}

.better-icon-four {
  background-image: url(../img/better-icon-four.png);
}

.better-icon-five {
  background-image: url(../img/better-icon-five.png);
}

.better-icon-six {
  background-image: url(../img/better-icon-six.png);
}

.better-icon-seven {
  background-image: url(../img/better-icon-seven.png);
}

.better-icon-eight {
  background-image: url(../img/better-icon-eight.png);
}

.better-icon-nine {
  background-image: url(../img/better-icon-nine.png);
}

.better-subtitle {
  font-size: 18px;
  margin-bottom: 10px;
}

.better-text {
  margin-top: 14px;
  line-height: 1.47;
}

.watch {
  margin-top: 97px;
}

.watch-body {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/watch-body.jpg);
  background-size: cover;
  padding: 65px 78px 68px 78px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.52;
}

.watch-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watch b {
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
}

.watch-text {
  max-width: 80%;
}

.vids-body {
  position: relative;
  display: inline-block;
}

.vids-image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: -6px;
}

.vids-play {
  position: absolute;
  top: 40%;
  text-align: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
}

.vids-play-icon {
  display: inline-block;
  min-width: 93px;
  width: 93px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/vids-play-icon.png);
}

.catalog {
  margin-top: 95px;
  overflow: visible;
}

.catalog .content {
  position: relative;
}

.catalog-title {
  border: 1px solid #ee4224;
  background-color: #ee4224;
  color: #ffffff;
  padding: 15px 35px;
}

.catalog-body {
  overflow: hidden;
  padding: 0 23px;
  margin: 0 -25px;
}

.catalog-slider {
  margin-top: 17px;
  font-size: 14px;
  color: #000000;
  padding: 0 2px;
}

.catalog-wrapper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-width: 1px;
  border-color: #c6c6c6;
  border-style: dashed;
  background-color: white;
  -webkit-box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 5px 19px 0px rgba(0, 0, 0, 0.23);
  padding: 30px 40px 55px 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.catalog-picture {
  text-align: center;
  margin: 0 0 20px 0;
  min-height: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalog-list {
  line-height: 1.52;
}

.catalog-item {
  margin: 10px 0;
}

.catalog-subtitle {
  color: #1c2840;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 25px;
}

.catalog-name {
  display: block;
  font-size: 14px;
  font-family: "OpenSans-Bold", Arial, Helvetica, sans-serif;
  color: #000000;
}

.catalog-text {
  display: block;
}

.catalog-more {
  margin-top: 42px;
}

.catalog-more-btn {
  background-color: #ee4224;
  color: #ffffff;
  font-size: 15px;
  padding: 11px 17px 13px 17px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 30px;
}

.catalog-more-btn:hover, .catalog-more-btn:focus {
  background-color: #f7684e;
}

.catalog-arrows {
  position: absolute;
  top: 53.2%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.catalog-arrow {
  display: inline-block;
  min-width: 49px;
  width: 49px;
  height: 49px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  position: absolute;
  cursor: pointer;
}

.catalog-arrow-left {
  background-image: url(../img/catalog-arrow-left.png);
  left: -84px;
}

.catalog-arrow-right {
  background-image: url(../img/catalog-arrow-right.png);
  right: -49px;
}

.clients {
  margin-top: 85px;
}

.clients-body {
  padding: 0 50px;
  margin: 0 -50px;
  position: relative;
}

.clients-title {
  border: 1px solid #ee4224;
  background-color: #ee4224;
  color: #ffffff;
  padding: 15px 35px;
}

.clients-slider {
  margin: 35px 2px;
  position: relative;
  overflow: hidden;
}

.clients-item {
  width: 190px;
  height: 135px;
  border: 1px solid #d7e2e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-arrows {
  position: absolute;
  top: 31%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clients-arrow {
  display: inline-block;
  min-width: 49px;
  width: 49px;
  height: 49px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 100;
  position: absolute;
  cursor: pointer;
}

.clients-arrow-left {
  background-image: url(../img/catalog-arrow-left.png);
  left: -80px;
}

.clients-arrow-right {
  background-image: url(../img/catalog-arrow-right.png);
  right: 28px;
}

.feedback {
  margin-top: 78px;
}

.feedback-body {
  background-color: #0b255e;
  color: #ffffff;
  padding: 60px 210px 83px 210px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feedback-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-title {
  border: 1px solid #ee4224;
  padding: 15px 35px;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 21px;
}

.feedback-descr {
  margin-top: 15px;
  font-size: 16px;
  letter-spacing: 0.33px;
}

.feedback-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 10px -20px;
}

.feedback-item {
  margin: 10px 20px;
  width: calc(50% - 40px);
}

.feedback-field {
  border-width: 1px;
  border-color: #ee4224;
  border-style: solid;
  border-radius: 30px;
  background-color: white;
  padding: 13px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  width: 100%;
}

.feedback-field::-webkit-input-placeholder {
  color: #666666;
}

.feedback-field:-ms-input-placeholder {
  color: #666666;
}

.feedback-field::-ms-input-placeholder {
  color: #666666;
}

.feedback-field::placeholder {
  color: #666666;
}

.feedback-more {
  margin-top: 33px;
}

.feedback-btn {
  background-color: #ee4224;
  color: #ffffff;
  padding: 15px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  font-size: 14px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-btn:hover, .feedback-btn:focus {
  background-color: #f7684e;
}

.feedback-icon {
  display: inline-block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/feedback-icon.png);
  margin-left: 8px;
  position: relative;
  top: -1px;
}

.feedback-image {
  width: 100%;
  margin-left: 75px;
}

/* Footer */
.footer {
  margin: 54px 0;
  font-size: 16px;
  color: #666666;
}

.footer-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.footer-item {
  width: calc(30% - 50px);
  margin: 25px;
  position: relative;
  padding-top: 5px;
}

.footer-item:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 100px;
  background-color: #d9d9d9;
  position: absolute;
  right: -18px;
  top: 0px;
}

.footer-item:nth-child(1) {
  width: calc(26% - 30px);
}

.footer-item:nth-child(2) {
  width: calc(48% - 30px);
}

.footer-item:nth-child(2):after {
  right: -7px;
}

.footer-item:nth-child(3) {
  width: calc(26% - 30px);
}

.footer-item:last-child::after {
  content: none;
}

.footer-copy-link {
  color: #666666;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-copy-link:hover, .footer-copy-link:focus {
  border-bottom: 1px solid #666666;
}

.footer-sublist {
  font-family: "OpenSans-SemiBold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;
}

.footer-sublink {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-sublink:hover, .footer-sublink:focus {
  border-bottom: 1px solid #333333;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  text-align: center;
}

.modal.visible {
  display: block;
}

.modal-body {
  display: inline-block;
  background-color: #f9f9f9;
  width: 300px;
  -webkit-box-shadow: 9px 14px 23px 7px rgba(0, 0, 0, 0.09);
          box-shadow: 9px 14px 23px 7px rgba(0, 0, 0, 0.09);
  padding: 20px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.modal-close {
  position: absolute;
  right: -15px;
  top: -15px;
}

.modal-close-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/modal-close-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-title {
  text-align: center;
  color: #353866;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-item {
  margin: 10px 0;
}

.modal-field {
  font-size: 13px;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #dfe0e4;
  width: 100%;
}

.modal-field::-webkit-input-placeholder {
  color: #666666;
}

.modal-field:-ms-input-placeholder {
  color: #666666;
}

.modal-field::-ms-input-placeholder {
  color: #666666;
}

.modal-field::placeholder {
  color: #666666;
}

.modal-more {
  text-align: center;
  margin-top: 28px;
}

.modal-more-btn {
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #ee4224;
  padding: 12px 25px;
  border: 1px solid #ee4224;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-more-btn:hover, .modal-more-btn:focus {
  background-color: transparent;
  color: #ee4224;
}

.modal-subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
}

.modal-subtext {
  font-size: 16px;
  margin: 5px 0 0 0;
  color: #333333;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  color: #333333;
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  text-align: left;
}

.policy-icon {
  display: inline-block;
  width: 11px;
  height: 15px;
  min-width: 11px;
  background-image: url(../img/policy-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.policy-text {
  padding: 0;
  margin: 0;
}

.policy-link {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.policy-link:hover, .policy-link:focus {
  border-bottom: 1px solid transparent;
}
/*# sourceMappingURL=style.css.map */