/* Fonts 

font Golos
font Spaceland Bold
font Golos

*/
@font-face {
  font-family: 'GolosText-Regular';
  src: url(../fonts/GolosText-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GolosText-Bold';
  src: url(../fonts/GolosText-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Spaceland';
  src: url(../fonts/Spaceland-Ten.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "GolosText-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "GolosText-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1190px;
}

body {
  font-family: "GolosText-Regular", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #303030;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
}

h2 {
  font-style: italic;
  font-weight: 700;
  font-size: 72px;
  line-height: 70px;
  text-transform: uppercase;
  color: #303030;
}

.red {
  color: #CF1D20;
}

/* Header */
.header-left {
  height: 700px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(109.54deg, #CF1D20 -0.6%, #CD1D20 82.41%);
  color: #ffffff;
  position: relative;
  padding-bottom: 100px;
}

.header-left:before {
  content: '';
  display: inline-block;
  width: 4000px;
  height: 100%;
  background: linear-gradient(109.54deg, #CF1D20 -0.6%, #CD1D20 82.41%);
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
}

.header-left::after {
  content: '';
  display: inline-block;
  width: 4000px;
  height: 100%;
  background-position: center;
  background-repeat: repeat-x;
  background-image: url(../img/header-left-after.svg);
  position: absolute;
  top: 0;
  right: 0;
}

.header-top {
  position: relative;
  z-index: 1;
  margin: 36px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-icon {
  display: inline-block;
  min-width: 40px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/header-icon.svg);
  margin-right: 14px;
}

.header-text-name {
  display: inline-block;
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 10px;
  text-transform: uppercase;
}

.header-text-tran {
  display: block;
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  line-height: 10px;
  margin-top: 5px;
}

.header-descr {
  font-family: "GolosText-Regular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
  max-width: 260px;
  margin: 0 30px 0 60px;
}

.header-degree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 27px;
  margin-bottom: -27px;
}

.header-degree-olga {
  display: inline-block;
  min-width: 108px;
  width: 108px;
  height: 584px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/header-degree-olga.svg);
  margin-right: 20px;
}

.header-degree-tran {
  display: inline-block;
  min-width: 108px;
  width: 108px;
  height: 703px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/header-degree-tran.svg);
}

.lang-body {
  border: 1px solid #ffffff;
  border-radius: 30px;
  height: 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lang-link {
  font-family: "GolosText-Regular", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
  text-decoration: none;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin: 0 2px;
  opacity: 0.5;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.lang-link.active {
  background-color: #ffffff;
  color: #CF1D20;
  opacity: 1;
}

.lang-link:hover, .lang-link:focus {
  opacity: 1;
}

.intro {
  position: relative;
  z-index: 2;
}

.intro-title {
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 62px;
  line-height: 62px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0;
}

.intro-line {
  display: inline-block;
  position: relative;
}

.intro-line:before {
  content: '';
  display: inline-block;
  width: 554px;
  height: 23px;
  background: #303030;
  position: absolute;
  top: 23px;
  right: -23px;
  z-index: 1;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
}

.intro-line-text {
  position: relative;
  z-index: 2;
}

.intro-descr {
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #303030;
  margin-top: 0;
  margin-bottom: 15px;
  position: relative;
}

.intro-descr:before {
  content: '';
  display: inline-block;
  -webkit-transform: skewX(-10deg);
          transform: skewX(-10deg);
  width: 90%;
  height: 34px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 4px;
  z-index: 1;
}

.intro-descr-text {
  position: relative;
  z-index: 1;
}

.intro-text {
  font-family: "GolosText-Regular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 380px;
  padding-left: 28px;
  position: relative;
  margin: 0;
}

.intro-text:before {
  content: '';
  display: inline-block;
  min-width: 12px;
  width: 12px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/intro-text-before.svg);
  position: absolute;
  left: 0;
  top: 8px;
}

.intro-more {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-btn {
  font-family: "GolosText-Regular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #1C1507;
  background: #FFBD37;
  border-radius: 3px;
  padding: 17px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.intro-btn:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFBD37;
  position: absolute;
  left: 0;
  bottom: -7px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}

.intro-btn:hover, .intro-btn:focus {
  background-color: #ffc859;
  top: 5px;
}

.intro-btn:hover:after, .intro-btn:focus:after {
  bottom: -2px;
  opacity: 0;
}

.intro-time {
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 32px;
}

.intro-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-start:before {
  content: '';
  display: inline-block;
  min-width: 16px;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/intro-start-before.svg);
  margin-right: 4px;
}

.intro-date {
  font-size: 28px;
  line-height: 38px;
  display: block;
}

.intro-right {
  position: relative;
}

.intro-picture {
  position: absolute;
  bottom: -135px;
  right: -50px;
}

.intro-play {
  position: absolute;
  top: 240px;
  right: -35px;
  cursor: pointer;
}

.intro-play:hover .intro-round,
.intro-play:focus .intro-round {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

.intro-play:hover::after, .intro-play:focus::after {
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

.intro-play::before {
  content: '';
  display: inline-block;
  min-width: 94px;
  width: 94px;
  height: 94px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/intro-play-before.svg);
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 4px;
  -webkit-animation: rotate 12s linear infinite;
          animation: rotate 12s linear infinite;
}

.intro-play::after {
  content: '';
  display: inline-block;
  min-width: 18px;
  width: 18px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/intro-play-after.svg);
  position: absolute;
  z-index: 2;
  top: 41px;
  left: 43px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.intro-round {
  display: inline-block;
  border-radius: 50%;
  width: 102px;
  height: 102px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}

/* Sections */
.promo {
  margin-top: 70px;
}

.promo-title {
  margin-bottom: 30px;
}

.promo-left {
  position: relative;
  padding-bottom: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.promo-message {
  max-width: 500px;
}

.promo-message-img {
  width: 100%;
}

.promo-more {
  position: absolute;
  bottom: 40px;
  left: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 750px;
}

.promo-more-left {
  width: 50%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.promo-more-right {
  width: 50%;
  padding: 0 15px 0 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.promo-more-right::before {
  content: '';
  display: inline-block;
  min-width: 16px;
  width: 16px;
  height: 91px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-more-right-before.svg);
  position: absolute;
  left: -7px;
  top: 0;
}

.promo-more-right {
  color: #CF1D20;
  font-weight: 600;
}

.promo-image {
  width: 100%;
}

.about {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/about-bg.jpg);
  background-size: cover;
  min-height: 1000px;
  padding-top: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #303030;
  font-size: 18px;
  line-height: 1.65;
  font-weight: 400;
  position: relative;
}

.about-title {
  position: relative;
}

.about-title::after {
  content: '';
  display: inline-block;
  min-width: 170px;
  width: 170px;
  height: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/about-title-after.svg);
  position: absolute;
  bottom: -25px;
  right: -125px;
}

.about-subtitle {
  display: inline-block;
  color: #ce1d20;
  font-size: 14px;
  font-family: "GolosText-Bold", Arial, Helvetica, sans-serif;
  line-height: 0.95;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about-list {
  max-width: 500px;
}

.about-item {
  margin: 10px 0 10px 24px;
  position: relative;
}

.about-item::before {
  content: '';
  display: inline-block;
  min-width: 12px;
  width: 12px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/about-item.png);
  position: absolute;
  left: -25px;
  top: 10px;
}

.about-more-tran {
  display: inline-block;
  min-width: 704px;
  width: 704px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/about-more-tran.png);
  background-size: contain;
  position: absolute;
  bottom: 30px;
  left: -212px;
}

.about-more-olga {
  display: inline-block;
  min-width: 585px;
  width: 585px;
  height: 132px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/about-more-olga.png);
  background-size: contain;
  position: absolute;
  bottom: 30px;
  right: 22px;
}

.change {
  margin-top: 80px;
}

.change-title {
  max-width: 770px;
}

.change-list {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #303030;
  margin-left: 25px;
}

.change-item {
  margin: 16px 0;
  position: relative;
}

.change-item::after {
  content: '';
  display: inline-block;
  min-width: 12px;
  width: 12px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/change-item-after.svg);
  position: absolute;
  left: -25px;
  top: 8px;
}

.change-subtitle {
  font-weight: 800;
  font-size: 13px;
  line-height: 30px;
  text-transform: uppercase;
  color: #303030;
  display: inline-block;
  margin: 15px 0;
}

.change-sublist {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.02em;
  margin-left: 26px;
}

.change-subitem {
  margin: 16px 0;
  position: relative;
}

.change-subitem::after {
  content: '';
  display: inline-block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/change-subitem-after.svg);
  position: absolute;
  left: -30px;
  top: 4px;
}

.change-more {
  margin-top: 35px;
  margin-bottom: 35px;
}

.change-btn {
  font-family: "GolosText-Regular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #1C1507;
  background: #FFBD37;
  border-radius: 3px;
  padding: 17px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.change-btn:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFBD37;
  position: absolute;
  left: 0;
  bottom: -7px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}

.change-btn:hover, .change-btn:focus {
  background-color: #ffc859;
  top: 5px;
}

.change-btn:hover:after, .change-btn:focus:after {
  bottom: -2px;
  opacity: 0;
}

.change-body {
  position: relative;
  text-align: center;
}

.change-wrapper {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/change-wrapper.svg);
  background-size: contain;
}

.change-image {
  width: 80%;
  margin: 0 auto;
}

.change-arrows {
  position: absolute;
  top: 45%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.change-arrow {
  position: absolute;
  display: inline-block;
  width: 46px;
  height: 46px;
  background: #303030;
  border-radius: 50%;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.change-arrow:hover, .change-arrow:focus {
  background-image: none;
}

.change-arrow-left {
  background-image: url(../img/change-arrow-left.svg);
  left: 20px;
}

.change-arrow-right {
  background-image: url(../img/change-arrow-right.svg);
  right: 20px;
}

.women {
  margin-top: 40px;
  margin-bottom: 120px;
}

.women-body {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url(../img/women-bg.svg);
  padding: 110px 40px 60px 120px;
  margin: 0 auto;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.women-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.women-title {
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 52px;
  line-height: 56px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.women-image {
  width: 154px;
  height: 166px;
}

.women-image-thue {
  width: 146px;
  height: 93px;
  position: relative;
  left: -20px;
  top: -30px;
}

.need {
  background: #F3F5FB;
  padding: 50px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.need-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.need-top-image {
  width: 270px;
}

.need-title {
  max-width: 840px;
}

.need-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.need-item {
  margin: 5px 0;
  padding: 15px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 25%;
}

.need-item::after {
  content: '';
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}

.need-item:nth-child(1):after {
  min-width: 260px;
  width: 260px;
  height: 196px;
  background-image: url(../img/need-item1.svg);
  left: 10px;
  top: -10px;
}

.need-item:nth-child(2) {
  padding: 15px 30px;
  position: relative;
  left: -25px;
}

.need-item:nth-child(2):after {
  min-width: 300px;
  width: 300px;
  height: 196px;
  background-image: url(../img/need-item2.svg);
  left: 0;
  top: -10px;
}

.need-item:nth-child(2) .need-subtitle {
  color: #ffffff;
}

.need-item:nth-child(2) .need-red {
  color: #CF1D20;
}

.need-item:nth-child(3) {
  padding-left: 50px;
  position: relative;
  left: -38px;
}

.need-item:nth-child(3):after {
  min-width: 280px;
  width: 280px;
  height: 196px;
  background-image: url(../img/need-item3.svg);
  left: 17px;
  top: -10px;
}

.need-item:nth-child(3) .need-subtitle {
  color: #303030;
}

.need-item:nth-child(3) .need-red {
  color: #CF1D20;
}

.need-item:nth-child(4) {
  padding: 15px 40px 15px 40px;
  position: relative;
  left: -53px;
}

.need-item:nth-child(4):after {
  min-width: 270px;
  width: 270px;
  height: 196px;
  background-image: url(../img/need-item4.svg);
  left: 17px;
  top: -10px;
}

.need-item:nth-child(4) .need-subtitle {
  color: #303030;
}

.need-subtitle {
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 42px;
  line-height: 37px;
  text-transform: uppercase;
  color: #CF1D20;
  margin: 0 0 0 0;
  position: relative;
  z-index: 2;
}

.need-red {
  color: #CF1D20;
}

.need-descr {
  margin-top: 10px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.need-subtext {
  position: relative;
  z-index: 2;
}

.need-row {
  margin-top: 20px;
}

.need-picture {
  margin-top: -30px;
  position: relative;
  z-index: 3;
}

.need-image {
  width: 100%;
  margin-bottom: -6px;
}

.need-right {
  padding-top: 8px;
  position: relative;
  left: -81px;
}

.need-sublist {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #303030;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 12px;
}

.need-subitem {
  width: calc(50%);
  padding: 25px 30px 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.need-subitem::after {
  content: '';
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
}

.need-subitem:nth-child(1):after {
  min-width: 375px;
  width: 375px;
  height: 168px;
  left: 0;
  top: 0;
  background-image: url(../img/need-subitem1.svg);
}

.need-subitem:nth-child(1) .need-subtitle {
  color: #303030;
}

.need-subitem:nth-child(1) .need-red {
  color: #CF1D20;
}

.need-subitem:nth-child(2):after {
  min-width: 365px;
  width: 365px;
  height: 168px;
  left: -15px;
  top: 0;
  background-image: url(../img/need-subitem2.svg);
}

.need-subitem:nth-child(2) .need-subtitle {
  color: #ffffff;
}

.need-subitem:nth-child(2) .need-red {
  color: #CF1D20;
}

.need-subitem:nth-child(3):after {
  min-width: 365px;
  width: 365px;
  height: 168px;
  left: 0;
  top: 0;
  background-image: url(../img/need-subitem3.svg);
}

.need-subitem:nth-child(3) .need-subtitle {
  color: #303030;
}

.need-subitem:nth-child(3) .need-red {
  color: #CF1D20;
}

.need-subitem:nth-child(4) {
  padding-left: 10px;
  padding-right: 140px;
}

.need-subitem:nth-child(4):after {
  min-width: 385px;
  width: 385px;
  height: 168px;
  left: -35px;
  top: 0;
  background-image: url(../img/need-subitem4.svg);
}

.need-subitem:nth-child(4) .need-subtitle {
  color: #303030;
}

.need-now {
  margin-top: 3px;
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 72px;
  line-height: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/need-now.svg);
  background-size: cover;
  padding: 25px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aspects {
  margin-top: 100px;
}

.aspects-title {
  max-width: 520px;
  margin-bottom: 0;
}

.aspects-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #303030;
  margin: 15px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aspects-item {
  width: calc(33.3333% - 30px);
  margin: 15px;
  position: relative;
  padding: 40px 30px 70px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aspects-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aspects-item:nth-child(1)::after {
  background-image: url(../img/aspects-item-after1.svg);
}

.aspects-item:nth-child(2)::after {
  background-image: url(../img/aspects-item-after2.svg);
}

.aspects-item:nth-child(3)::after {
  background-image: url(../img/aspects-item-after3.svg);
}

.aspects-subtitle {
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 42px;
  line-height: 42px;
  text-transform: uppercase;
  color: #CF1D20;
  margin-bottom: 0;
}

.aspects-descr {
  font-family: "GolosText-Bold", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #303030;
  margin-bottom: 30px;
  width: 75%;
}

.aspects-sublist {
  margin-left: 21px;
}

.aspects-subitem {
  position: relative;
  margin: 10px 0;
}

.aspects-subitem::before {
  content: '';
  display: inline-block;
  min-width: 12px;
  width: 12px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/aspects-item-before.svg);
  position: absolute;
  left: -23px;
  top: 4px;
}

.aspects-black {
  color: #303030;
}

.how {
  background-position: center;
  background-image: url(../img/how-bg.jpg);
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #FFFFFF;
  padding-top: 120px;
  padding-bottom: 90px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.how .content {
  position: relative;
  z-index: 2;
}

.how::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/how-after.svg);
  background-size: cover;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

.how-title {
  margin-top: 0;
  color: #FFFFFF;
}

.how-subtitle {
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  text-transform: uppercase;
  color: #303030;
  display: inline-block;
  margin: 0;
  position: relative;
}

.how-subtitle::after {
  content: '';
  display: inline-block;
  width: 102%;
  height: 100%;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  -webkit-transform: skewX(-8deg);
          transform: skewX(-8deg);
  margin-left: 2px;
}

.how-subtitle-text {
  position: relative;
  z-index: 2;
  padding: 0 5px 0 3px;
}

.how .col-4:nth-child(1) {
  width: 66%;
}

.how .col-4:nth-child(1) .how-left {
  width: 65%;
  padding-top: 117px;
  padding-right: 40px;
}

.how .col-4:nth-child(1) .how-right {
  width: 35%;
}

.how .col-4:nth-child(2) {
  width: 23%;
}

.how .col-4:nth-child(2) .how-left {
  display: none;
}

.how .col-4:nth-child(3) {
  width: 23%;
}

.how .col-4:nth-child(3) .how-left {
  display: none;
}

.how-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how-list {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.how-subitem {
  border-bottom: 1px solid #2B2B2B;
  padding: 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.how-subitem:last-child {
  border-bottom: 0;
}

.how-bonus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.how-bonus-icon {
  display: inline-block;
  min-width: 44px;
  width: 44px;
  height: 23px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/how-bonus-icon.svg);
  margin-right: 18px;
}

.traning-body {
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 20px 20px 40px 20px;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.traning-body-one {
  background-image: url(../img/training-body-one.svg);
}

.traning-body-thue {
  background-image: url(../img/training-body-thue.svg);
}

.traning-body-three {
  background-image: url(../img/training-body-three.svg);
}

.traning-body-three .traning-title {
  margin-bottom: 31px;
}

.traning-title {
  color: #fafafa;
  font-size: 29px;
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 20px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.traning-list {
  position: relative;
  z-index: 3;
}

.traning-item {
  border-bottom: 1px solid #2B2B2B;
  padding: 15px 0 10px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.traning-item:nth-child(1) {
  padding: 32px 0 10px 0;
}

.traning-item:nth-child(2) {
  padding: 22px 0 18px 0;
}

.traning-item:nth-child(3) {
  padding: 15px 0 10px 0;
}

.traning-item:nth-child(4) {
  padding: 15px 0 10px 0;
}

.traning-item:nth-child(5) {
  padding: 14px 0 10px 0;
}

.traning-item:nth-child(6) {
  padding: 13px 0 10px 0;
}

.traning-item:nth-child(7) {
  padding: 6px 0 2px 0;
}

.traning-item:nth-child(8) {
  padding: 6px 0 2px 0;
}

.traning-item:nth-child(9) {
  padding: 13px 0 10px 0;
}

.traning-item:nth-child(10) {
  padding: 6px 0 2px 0;
}

.traning-item:nth-child(11) {
  padding: 6px 0 2px 0;
}

.traning-item:nth-child(12) {
  padding: 6px 0 2px 0;
}

.traning-item:nth-child(13) {
  padding: 15px 0 10px 0;
}

.traning-item:last-child {
  border-bottom: 0;
}

.traning-info {
  display: inline-block;
  color: #fafafa;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  opacity: 0.6;
  margin-top: 10px;
  position: absolute;
  top: 60px;
  left: 0px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 20px;
}

.traning-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.traning-icon-plus {
  background-image: url(../img/traning-icon-plus.svg);
}

.traning-icon-minus {
  background-image: url(../img/traning-icon-minus.svg);
}

.traning-lich {
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.traning-price {
  text-align: center;
}

.traning-price-value {
  font-family: "Spaceland", Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 46px;
  line-height: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.traning-more {
  margin-top: -30px;
  top: 60px;
  position: relative;
}

.traning-btn {
  font-family: "GolosText-Regular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #1C1507;
  background: #FFBD37;
  border-radius: 3px;
  padding: 17px 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.traning-btn:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFBD37;
  position: absolute;
  left: 0;
  bottom: -7px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}

.traning-btn:hover, .traning-btn:focus {
  background-color: #ffc859;
  top: 5px;
}

.traning-btn:hover:after, .traning-btn:focus:after {
  bottom: -2px;
  opacity: 0;
}

.reviews {
  margin-top: 125px;
}

.reviews-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-title {
  max-width: 670px;
  margin-top: 0;
}

.reviews-info {
  max-width: 340px;
}

.reviews-info-image {
  width: 156px;
  -o-object-fit: contain;
     object-fit: contain;
}

.reviews-info-text {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.reviews-slider {
  position: relative;
}

.reviews-arrows {
  position: absolute;
  top: 45%;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reviews-arrow {
  position: absolute;
  display: inline-block;
  width: 46px;
  height: 46px;
  background: #303030;
  border-radius: 50%;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

.reviews-arrow:hover, .reviews-arrow:focus {
  background-image: none;
}

.reviews-arrow-left {
  background-image: url(../img/change-arrow-left.svg);
  left: 20px;
}

.reviews-arrow-right {
  background-image: url(../img/change-arrow-right.svg);
  right: 20px;
}

.reviews .swiper-slide {
  display: none;
}

.glad {
  margin-top: 120px;
}

.glad-item {
  margin: 10px 0;
}

.glad-title {
  max-width: 800px;
}

.glad-btn {
  background: #F3F5FB;
  padding: 15px 70px 15px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "GolosText-Regular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  width: 100%;
}

.glad-drop {
  background: #F3F5FB;
  padding: 15px 70px 15px 35px;
  display: none;
}

.glad-drop.active {
  display: block;
}

/* Animation */
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
/*# sourceMappingURL=style.css.map */