/* Fonts 


Gilroy

*/
@font-face {
  font-family: 'Gilroy-Regular';
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Gilroy-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gilroy-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1190px;
}

body {
  font-family: "Gilroy-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gilroy-Bold", Arial, Helvetica, sans-serif;
}

.green {
  color: #22505D;
}

/* Header */
.header {
  padding: 24px 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-btn {
  border: 1px solid #D9B5A5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  padding: 12px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  height: 48px;
  font-size: 16px;
  -webkit-box-shadow: 0 0 12px 1px transparent;
          box-shadow: 0 0 12px 1px transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-btn:hover, .header-btn:focus {
  -webkit-box-shadow: 0 0 12px 1px rgba(217, 181, 165, 0.5);
          box-shadow: 0 0 12px 1px rgba(217, 181, 165, 0.5);
}

.header-btn-icon {
  padding-right: 10px;
  position: relative;
  top: 3px;
}

.header-btn-value {
  color: #D9B5A5;
  padding-left: 5px;
}

.nav-list {
  margin: 0 -28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  margin: 0 28px;
}

.nav-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus {
  border-bottom: 1px solid #ffffff;
}

/* Sections */
.promo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/promo-bg.jpg);
  min-height: 921px;
  color: #FFFFFF;
  padding-top: 100px;
}

.promo-prev {
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #D9B5A5;
  padding-top: 100px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
}

.promo-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-top: 0;
}

.promo-zinzino-icon {
  display: inline-block;
  min-width: 585px;
  width: 585px;
  height: 107px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-zinzino-icon.svg);
}

.promo-descr {
  font-family: "Gilroy-Regular", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #D9B5A5;
}

.promo-wrapper {
  position: relative;
}

.promo-slider {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #747474;
}

.promo-slider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}

.promo .swiper-slide.active {
  padding-top: 80px;
}

.promo .swiper-slide.active .promo-item {
  border-radius: 30px 0px 30px 30px;
}

.promo-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 51px 64px rgba(11, 30, 60, 0.16);
          box-shadow: 0px 51px 64px rgba(11, 30, 60, 0.16);
  border-radius: 0px 30px 30px 30px;
  padding: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin: 8px;
  width: 277px;
  height: 560px;
}

.promo-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #152E34;
  margin-top: 0;
}

.promo-info {
  margin: 0;
}

.promo-price {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #747474;
  margin: 15px 0;
}

.promo-btn {
  background: #22505D;
  border-radius: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  padding: 16px 32px;
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-btn:hover {
  background: #33606C;
}

.promo-btn:focus {
  background: #22505D;
}

.promo-btn-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-btn-icon.svg);
  margin-right: 10px;
}

.promo-btn-white {
  background-color: transparent;
  border: 1px solid #97B8B6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #22505D;
}

.promo-btn-white:hover {
  background: rgba(151, 184, 182, 0.4);
}

.promo-btn-white:focus {
  background: #97B8B6;
}

.promo-navigation {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.promo-pagination {
  margin-right: 30px;
}

.promo-pagination-bullet {
  display: inline-block;
  min-width: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #22505D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  margin: 8px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-pagination-bullet.active, .promo-pagination-bullet:hover, .promo-pagination-bullet:focus {
  background-color: #22505D;
}

.promo-arrow {
  display: inline-block;
  padding: 15px;
  position: static;
  min-width: 48px;
  width: 48px;
  height: 48px;
  border: 1px solid #22505D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 7px;
}

.promo-arrow svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-arrow:hover, .promo-arrow:focus {
  background: #22505D;
}

.promo-arrow:hover svg path,
.promo-arrow:focus svg path {
  stroke: #ffffff;
}

.promo-arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.formula {
  background-color: #fbf8f5;
  padding-bottom: 450px;
}

.formula-picture {
  position: relative;
  top: -150px;
  margin-bottom: -150px;
}

.formula-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: #152E34;
}

.formula-title::after {
  content: '';
  display: inline-block;
  min-width: 492px;
  width: 492px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/formula-title-after.svg);
  margin-top: 60px;
  margin-bottom: 0;
}

.formula-list {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.formula-item {
  margin: 15px 0 30px 0;
}

.formula-item:nth-child(2) {
  position: relative;
  left: -90px;
}

.formula-item:last-child {
  margin-bottom: 0;
}

.formula-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formula-icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  background: #D6DE9E;
  border-radius: 50%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 32px;
}

.formula-icon-one:after {
  content: '';
  display: inline-block;
  min-width: 35px;
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/formula-icon-one-after.svg);
  position: relative;
  top: 14px;
  right: -4px;
}

.formula-icon-thue {
  background: #84B5B2;
}

.formula-icon-thue:after {
  content: '';
  display: inline-block;
  min-width: 35px;
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/formula-icon-thue-after.svg);
  position: relative;
  top: 17px;
  right: 0;
}

.formula-subtitle {
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  color: #152E34;
}

.formula-text {
  margin: 0;
}

.analytics {
  background-color: #fbf8f5;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(../img/analytics-bg.jpg);
  background-size: 100%;
}

.analytics-row {
  position: relative;
  top: -400px;
  margin-bottom: -400px;
}

.analytics-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: #152E34;
}

.analytics-title::after {
  content: '';
  display: inline-block;
  min-width: 492px;
  width: 492px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/formula-title-after.svg);
  margin-top: 60px;
  margin-bottom: 0;
}

.analytics-descr {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #444444;
}

.analytics-more {
  text-align: right;
  margin-top: 74px;
}

.analytics-btn {
  padding: 16px 50px;
  height: 64px;
  border: 1px solid #97B8B6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #22505D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.analytics-btn-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 8px;
  position: relative;
  top: -2px;
}

.analytics-btn:hover {
  background: rgba(151, 184, 182, 0.4);
}

.analytics-btn:focus {
  background: #97B8B6;
  color: #ffffff;
}

.analytics-btn svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.analytics-btn:focus svg path {
  fill: #ffffff;
}
/*# sourceMappingURL=style.css.map */