/* Fonts */
@font-face {
  font-family: 'Gilroy-Regular';
  src: url(../fonts/Gilroy-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url(../fonts/Gilroy-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Gilroy-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Gilroy-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1190px;
}

body {
  font-family: "Gilroy-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #444444;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Gilroy-Bold", Arial, Helvetica, sans-serif;
}

.green {
  color: #22505D;
}

/* Header */
.header {
  padding: 24px 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-btn {
  border: 1px solid #D9B5A5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  padding: 12px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  height: 48px;
  font-size: 16px;
  -webkit-box-shadow: 0 0 12px 1px transparent;
          box-shadow: 0 0 12px 1px transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-btn:hover, .header-btn:focus {
  -webkit-box-shadow: 0 0 12px 1px rgba(217, 181, 165, 0.5);
          box-shadow: 0 0 12px 1px rgba(217, 181, 165, 0.5);
}

.header-btn-icon {
  padding-right: 10px;
  position: relative;
  top: 3px;
}

.header-btn-value {
  color: #D9B5A5;
  padding-left: 5px;
}

.nav-list {
  margin: 0 -28px;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  margin: 0 28px;
}

.nav-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  position: relative;
  top: 6px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus {
  border-bottom: 1px solid #ffffff;
}

/* Sections */
.promo {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/promo-bg.jpg);
  min-height: 921px;
  color: #FFFFFF;
  padding-top: 100px;
}

.promo-prev {
  font-weight: 600;
  font-size: 16px;
  line-height: 40px;
  color: #D9B5A5;
  padding-top: 100px;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 5px;
}

.promo-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 56px;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  margin-top: 0;
}

.promo-zinzino-icon {
  display: inline-block;
  min-width: 585px;
  width: 585px;
  height: 107px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-zinzino-icon.svg);
}

.promo-descr {
  font-family: "Gilroy-Regular", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #D9B5A5;
}

.promo-wrapper {
  position: relative;
}

.promo-slider {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #747474;
}

.promo-slider .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}

.promo .swiper-slide.active {
  padding-top: 80px;
}

.promo .swiper-slide.active .promo-item {
  border-radius: 30px 0px 30px 30px;
}

.promo-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 51px 64px rgba(11, 30, 60, 0.16);
          box-shadow: 0px 51px 64px rgba(11, 30, 60, 0.16);
  border-radius: 0px 30px 30px 30px;
  padding: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  margin: 8px;
  width: 277px;
  height: 560px;
}

.promo-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #152E34;
  margin-top: 0;
}

.promo-info {
  margin: 0;
}

.promo-price {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #747474;
  margin: 15px 0;
}

.promo-btn {
  background: #22505D;
  border-radius: 15px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  padding: 16px 32px;
  margin: 16px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-btn:hover {
  background: #33606C;
}

.promo-btn:focus {
  background: #22505D;
}

.promo-btn-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-btn-icon.svg);
  margin-right: 10px;
}

.promo-btn-white {
  background-color: transparent;
  border: 1px solid #97B8B6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #22505D;
}

.promo-btn-white:hover {
  background: rgba(151, 184, 182, 0.4);
}

.promo-btn-white:focus {
  background: #97B8B6;
}

.promo-navigation {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 0;
  bottom: 5px;
}

.promo-pagination {
  margin-right: 30px;
}

.promo-pagination-bullet {
  display: inline-block;
  min-width: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #22505D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  margin: 8px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-pagination-bullet.active, .promo-pagination-bullet:hover, .promo-pagination-bullet:focus {
  background-color: #22505D;
}

.promo-arrow {
  display: inline-block;
  padding: 15px;
  position: static;
  min-width: 48px;
  width: 48px;
  height: 48px;
  border: 1px solid #22505D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 7px;
}

.promo-arrow svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-arrow:hover, .promo-arrow:focus {
  background: #22505D;
}

.promo-arrow:hover svg path,
.promo-arrow:focus svg path {
  stroke: #ffffff;
}

.promo-arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.formula {
  background-color: #fbf8f5;
  padding-bottom: 450px;
}

.formula-picture {
  position: relative;
  top: -150px;
  margin-bottom: -150px;
}

.formula-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: #152E34;
}

.formula-title::after {
  content: '';
  display: inline-block;
  min-width: 492px;
  width: 492px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/formula-title-after.svg);
  margin-top: 60px;
  margin-bottom: 0;
}

.formula-list {
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.formula-item {
  margin: 15px 0 30px 0;
}

.formula-item:nth-child(2) {
  position: relative;
  left: -90px;
}

.formula-item:last-child {
  margin-bottom: 0;
}

.formula-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formula-icon {
  display: inline-block;
  width: 64px;
  height: 64px;
  background: #D6DE9E;
  border-radius: 50%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 32px;
}

.formula-icon-one:after {
  content: '';
  display: inline-block;
  min-width: 35px;
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/formula-icon-one-after.svg);
  position: relative;
  top: 14px;
  right: -4px;
}

.formula-icon-thue {
  background: #84B5B2;
}

.formula-icon-thue:after {
  content: '';
  display: inline-block;
  min-width: 35px;
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/formula-icon-thue-after.svg);
  position: relative;
  top: 17px;
  right: 0;
}

.formula-subtitle {
  font-size: 18px;
  line-height: 32px;
  margin: 0;
  color: #152E34;
}

.formula-text {
  margin: 0;
}

.analytics {
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(../img/analytics-bg.jpg);
  background-size: 100%;
}

.analytics-row {
  position: relative;
  top: -400px;
  margin-bottom: -400px;
}

.analytics-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: #152E34;
}

.analytics-title::after {
  content: '';
  display: inline-block;
  min-width: 492px;
  width: 492px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/formula-title-after.svg);
  margin-top: 60px;
  margin-bottom: 0;
}

.analytics-descr {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #444444;
}

.analytics-more {
  text-align: right;
  margin-top: 74px;
}

.analytics-btn {
  padding: 16px 50px;
  height: 64px;
  border: 1px solid #97B8B6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #22505D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.analytics-btn-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 8px;
  position: relative;
  top: -2px;
}

.analytics-btn:hover {
  background: rgba(151, 184, 182, 0.4);
}

.analytics-btn:focus {
  background: #97B8B6;
  color: #ffffff;
}

.analytics-btn svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.analytics-btn:focus svg path {
  fill: #ffffff;
}

.help-block {
  position: relative;
}

.help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 90px;
}

.help-item {
  width: calc(50% - 16px);
  padding: 48px 40px;
  left: 0px;
  top: 0px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0.01%, #FFFFFF), color-stop(100.01%, #FFFFFF));
  background: linear-gradient(360deg, #FFFFFF 0.01%, #FFFFFF 100.01%);
  -webkit-box-shadow: 0px 51px 64px rgba(11, 30, 60, 0.16);
          box-shadow: 0px 51px 64px rgba(11, 30, 60, 0.16);
  border-radius: 30px;
  margin: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.help-item:nth-child(2) {
  position: relative;
  top: 90px;
}

.help-item:nth-child(4) {
  position: relative;
  top: 90px;
}

.help-icon {
  display: inline-block;
  min-width: 40px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
}

.help-icon-one {
  background-image: url(../img/help-icon-one.svg);
}

.help-icon-thue {
  background-image: url(../img/help-icon-thue.svg);
}

.help-icon-three {
  background-image: url(../img/help-icon-three.svg);
}

.help-icon-four {
  background-image: url(../img/help-icon-four.svg);
}

.help-subtitle {
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  letter-spacing: -0.01em;
  color: #22505D;
  margin-top: 18px;
  margin-bottom: 16px;
  text-align: left;
}

.help-text {
  margin-bottom: 0;
}

.help-subpicture {
  margin-bottom: 100px;
}

.help-subimage {
  width: 100%;
  height: 344px;
  -o-object-fit: cover;
     object-fit: cover;
}

.help-subtext {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #747474;
}

.help-name {
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #152E34;
}

.help-price {
  text-align: center;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #747474;
}

.help-more {
  margin-top: 40px;
}

.help-more-btn {
  padding: 16px;
  width: 100%;
  height: 64px;
  background: #22505D;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help-more-btn:hover {
  background: #33606C;
}

.help-more-btn:focus {
  background: #22505D;
}

.help-more-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/help-more-icon.svg);
}

.help-navigation {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 45px;
  top: 365px;
}

.help-pagination {
  margin-right: 30px;
}

.help-pagination-bullet {
  display: inline-block;
  min-width: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #22505D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  margin: 8px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.help-pagination-bullet.active, .help-pagination-bullet:hover, .help-pagination-bullet:focus {
  background-color: #22505D;
}

.help-arrow {
  display: inline-block;
  padding: 15px;
  position: static;
  min-width: 48px;
  width: 48px;
  height: 48px;
  border: 1px solid #22505D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 7px;
}

.help-arrow svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.help-arrow:hover, .help-arrow:focus {
  background: #22505D;
}

.help-arrow:hover svg path,
.help-arrow:focus svg path {
  stroke: #ffffff;
}

.help-arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.balance {
  margin-top: 200px;
}

.balance-decor {
  content: '';
  display: block;
  min-width: 925px;
  width: 925px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/balance-row-after.svg);
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.balance-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.balance-picture {
  margin-right: 52px;
}

.balance-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: #22505D;
  margin: 0;
}

.balance-acid {
  border-left: 1px solid #97B8B6;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: #747474;
}

.balance-glad {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #747474;
}

.balance-more {
  margin-top: 80px;
}

.balance-more-btn {
  padding: 16px;
  position: static;
  width: 100%;
  height: 64px;
  background: #22505D;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.balance-more-btn:hover {
  background: #33606C;
}

.balance-more-btn:focus {
  background: #22505D;
}

.balance-more-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/balance-more-icon.svg);
  margin-right: 10px;
}

.ask {
  background-position: top;
  background-repeat: no-repeat;
  background-image: url(../img/ask-bg.png);
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 140px;
}

.ask-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 51px 64px rgba(11, 30, 60, 0.16);
          box-shadow: 0px 51px 64px rgba(11, 30, 60, 0.16);
  padding: 48px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(25% - 16px);
  margin: 8px;
  text-align: center;
}

.ask-image {
  width: 164px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.ask-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #747474;
  margin-top: 10px;
}

.ask-semi {
  color: #22505D;
}

.ask-subitem {
  color: #152E34;
}

.ask-price {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  text-align: center;
  color: #747474;
}

.ask-more {
  margin-top: 20px;
}

.ask-btn {
  padding: 16px;
  width: 100%;
  height: 64px;
  background: #22505D;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ask-btn:hover {
  background: #33606C;
}

.ask-btn:focus {
  background: #22505D;
}

.ask-btn-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/ask-btn-icon.svg);
  margin-right: 10px;
}

.ask-btn-white {
  margin-bottom: 0;
  padding: 8px 16px;
  height: 48px;
  border: 1px solid #97B8B6;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 32px;
  text-align: center;
  color: #22505D;
}

.ask-btn-white:hover {
  background: rgba(151, 184, 182, 0.4);
}

.ask-btn-white:focus {
  background: #97B8B6;
  color: #ffffff;
}

.ask-end {
  margin-top: 65px;
  margin-bottom: 80px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ask-decor {
  display: inline-block;
  min-width: 694px;
  width: 694px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/ask-decor.svg);
}

.ask-navigation {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  right: 0;
  top: -15px;
}

.ask-pagination {
  margin-right: 30px;
}

.ask-pagination-bullet {
  display: inline-block;
  min-width: 8px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #22505D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  margin: 8px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ask-pagination-bullet.active, .ask-pagination-bullet:hover, .ask-pagination-bullet:focus {
  background-color: #22505D;
}

.ask-arrow {
  display: inline-block;
  padding: 15px;
  position: static;
  min-width: 48px;
  width: 48px;
  height: 48px;
  border: 1px solid #22505D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 0 7px;
}

.ask-arrow svg path {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ask-arrow:hover, .ask-arrow:focus {
  background: #22505D;
}

.ask-arrow:hover svg path,
.ask-arrow:focus svg path {
  stroke: #ffffff;
}

.ask-arrow-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.ask-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 64px;
  letter-spacing: -0.01em;
  color: #22505D;
}

.ask-descr {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #444444;
}

.ask-subitem {
  margin: 30px 0;
}

.ask-field {
  padding: 16px 24px;
  width: 100%;
  height: 64px;
  border: 1px solid #97B8B6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.ask-field::-webkit-input-placeholder {
  color: #22505D;
}

.ask-field:-ms-input-placeholder {
  color: #22505D;
}

.ask-field::-ms-input-placeholder {
  color: #22505D;
}

.ask-field::placeholder {
  color: #22505D;
}

.ask-more {
  margin-top: 40px;
}

.ask-more-btn {
  padding: 16px;
  width: 100%;
  height: 64px;
  background: #22505D;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ask-more-btn:hover {
  background: #33606C;
}

.ask-more-btn:focus {
  background: #22505D;
}

.ask-more-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/ask-more-icon.svg);
  margin-right: 10px;
}

/* Footer */
.footer {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/foot-bg.jpg);
  background-size: cover;
  padding: 95px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  color: #97B8B6;
}

.footer-top {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-logo {
  display: inline-block;
  min-width: 180px;
  width: 180px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/footer-image.svg);
}

.footer-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #D9B5A5;
  margin: 7px 0 0 0;
}

.footer-list {
  font-weight: 600;
  font-size: 18px;
  line-height: 40px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -24px;
}

.footer-item {
  margin: 0 24px;
}

.footer-link {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-link:hover, .footer-link:focus {
  border-bottom: 1px solid #FFFFFF;
}

.footer-btn {
  border: 1px solid #D9B5A5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  padding: 12px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  height: 48px;
  font-size: 16px;
  -webkit-box-shadow: 0 0 12px 1px transparent;
          box-shadow: 0 0 12px 1px transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-btn:hover, .footer-btn:focus {
  -webkit-box-shadow: 0 0 12px 1px rgba(217, 181, 165, 0.5);
          box-shadow: 0 0 12px 1px rgba(217, 181, 165, 0.5);
}

.footer-btn-icon {
  padding-right: 10px;
  position: relative;
  top: 3px;
}

.footer-btn-value {
  color: #D9B5A5;
  padding-left: 5px;
}

.footer-down {
  margin-top: 40px;
}

.footer-down-left {
  padding-right: 50px;
}

.footer-down-right {
  padding-left: 50px;
}

.footer-sublist {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 30px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(21, 46, 52, 0.4);
  /* Black w/ opacity */
  text-align: center;
}

.modal.visible {
  display: block;
}

.modal-body {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 30px;
  width: 766px;
  -webkit-box-shadow: 9px 14px 26px 7px rgba(21, 46, 52, 0.4);
          box-shadow: 9px 14px 26px 7px rgba(21, 46, 52, 0.4);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-align: left;
  margin-bottom: 50px;
  padding: 40px 55px;
}

.modal-close {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border-radius: 12px;
  position: absolute;
  right: -54px;
  top: 0;
}

.modal-close-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/modal-close-icon.svg);
}

.modal-single {
  margin: 10px 0 20px 0;
  border-bottom: 1px solid #D2D2D2;
  padding-bottom: 34px;
}

.modal-single:last-child {
  margin-bottom: 0;
}

.modal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.modal-top:after {
  content: '';
  display: inline-block;
  background: #97B8B6;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 17px;
  z-index: 0;
}

.modal-top-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: left;
  color: #152E34;
  margin: 0;
  background-color: #ffffff;
  position: relative;
  z-index: 1;
  padding-right: 24px;
}

.modal-top-amount {
  color: #97B8B6;
  background-color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  text-align: right;
  position: relative;
  z-index: 1;
  padding-left: 24px;
}

.modal-image {
  width: 168px;
  height: 168px;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-manufacturing {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #D2D2D2;
  margin-top: 40px;
}

.modal-block {
  padding-right: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 280px;
  overflow-y: scroll;
}

.modal-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-name-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #152E34;
}

.modal-delete {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #D2D2D2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-delete-icon {
  display: inline-block;
  min-width: 16px;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/modal-delete-icon.svg);
  margin-right: 6px;
}

.modal-item {
  margin: 10px 0;
}

.modal-lbl {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #D2D2D2;
  margin: 8px 0;
}

.modal-field {
  width: 100%;
  height: 56px;
  border: 1px solid #D2D2D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  padding: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #747474;
}

.modal-add {
  margin: 40px 0 24px 0;
}

.modal-add-body {
  position: relative;
}

.modal-add-body:after {
  content: 'BALANCE OIL +';
  display: inline-block;
  position: absolute;
  top: -15px;
  right: 175px;
  color: rgba(21, 46, 52, 0.5);
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  z-index: 1;
}

.modal-add-btn {
  width: 100%;
  height: 48px;
  background: #22505D;
  -webkit-box-shadow: 0px -16px 34px #FFFFFF;
          box-shadow: 0px -16px 34px #FFFFFF;
  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  z-index: 2;
}

.modal-add-btn:hover {
  background: #33606C;
}

.modal-add-btn:focus {
  background: #22505D;
}

.modal-dop {
  border-top: 1px solid #D2D2D2;
  padding-top: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-dop-body {
  margin: 0 -4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dop-item {
  margin: 8px 4px;
  width: calc(50% - 4px);
}

.modal-dop-field {
  padding: 16px 24px;
  width: 100%;
  height: 64px;
  background: #FFFFFF;
  border: 1px solid #D2D2D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  color: #152E34;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  outline-color: #97B8B6;
  outline-width: 1px;
}

.modal-dop-field::-webkit-input-placeholder {
  color: #D2D2D2;
  font-weight: 500;
}

.modal-dop-field:-ms-input-placeholder {
  color: #D2D2D2;
  font-weight: 500;
}

.modal-dop-field::-ms-input-placeholder {
  color: #D2D2D2;
  font-weight: 500;
}

.modal-dop-field::placeholder {
  color: #D2D2D2;
  font-weight: 500;
}

.modal-end {
  margin-top: 0;
}

.modal-end-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 12px -12px 0 -12px;
}

.modal-end-item {
  margin: 0 12px;
}

.modal-end-item:last-child {
  text-align: right;
}

.modal-end-btn {
  padding: 16px 55px;
  height: 64px;
  background: #22505D;
  border-radius: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-end-btn:hover {
  background: #33606C;
}

.modal-end-btn:focus {
  background: #22505D;
}

.modal-end-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/modal-end-icon.svg);
  margin-right: 8px;
}

.modal-end-copy {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #747474;
}

.modal-end-link {
  text-decoration: none;
  border-bottom: 1px solid #33606C;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #33606C;
}

.modal-end-link:hover, .modal-end-link:focus {
  border-bottom: 1px solid transparent;
}

.modal-end-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #747474;
  display: inline-block;
  margin-bottom: 5px;
}

.modal-end-value {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  text-align: right;
  color: #22505D;
}

.plusmin-body {
  width: 100%;
  height: 56px;
  border: 1px solid #D2D2D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
}

.plusmin-btn {
  padding: 8px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border: 1px solid #D2D2D2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.plusmin-btn:hover, .plusmin-btn:focus {
  background: #22505D;
}

.plusmin-btn:hover svg path,
.plusmin-btn:focus svg path {
  fill: #ffffff;
}

.plusmin-field {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #22505D;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  outline: none;
}

.plusmin-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.plusmin-icon svg path {
  fill: #D2D2D2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.plusmin-icon-one {
  position: relative;
  top: -1px;
  left: -1px;
}

.plusmin-icon-thue {
  position: relative;
  top: -1px;
  left: -1px;
}

.plusmin-compound .plusmin-field {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #152E34;
}

.compound-picture {
  text-align: center;
}

.compound-title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #152E34;
  margin: 10px 0 10px 0;
}

.compound-right {
  padding-left: 45px;
}

.compound-descr {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #747474;
  text-align: center;
}

.compound-btn {
  padding: 16px;
  width: 100%;
  height: 64px;
  background: #22505D;
  border-radius: 15px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.compound-btn:hover {
  background: #33606C;
}

.compound-btn:focus {
  background: #22505D;
}

.compound-btn-icon {
  display: inline-block;
  min-width: 24px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/compound-btn-icon.svg);
  margin-right: 10px;
}

.compound-block {
  padding-right: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 440px;
  overflow-y: scroll;
}

.compound-subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  color: #152E34;
  margin-top: 15px;
  margin-bottom: 10px;
}

.compound-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #97B8B6;
  margin: 0;
}

.compound-volume {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #97B8B6;
  border-bottom: 1px solid #D2D2D2;
  margin-bottom: 5px;
  padding-bottom: 17px;
}

.compound-list {
  font-size: 16px;
  line-height: 24px;
  color: #152E34;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

.compound-item {
  margin: 10px;
  width: calc(50% - 20px);
}

.compound-day {
  color: #97B8B6;
  font-weight: bold;
  display: block;
}

.payment-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
}

.payment-top:after {
  content: '';
  display: inline-block;
  background: #97B8B6;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 18px;
  z-index: 0;
}

.payment-top-title {
  background-color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #152E34;
  margin: 0;
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-right: 24px;
}

.payment-list {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #747474;
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.payment-item {
  margin: 15px;
  width: calc(33.3333% - 30px);
}

.payment-item:last-child .payment-text {
  padding-right: 75px;
}

.payment-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #22505D;
  display: block;
  padding-right: 40px;
  margin-bottom: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.payment-days-value {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 40px;
  /* identical to box height, or 167% */
  letter-spacing: -0.01em;
  /* Strong_Black */
  color: #152E34;
}
/*# sourceMappingURL=style.css.map */