@media (max-width: 440px) {
    .start-val {
        font-size: 185px;
    }
}
@media (max-width: 375px) {
    .footer-item {
        margin: 10px;
    }
    .main-picture {
        margin-right: 15px;
    }
    .start-val {
        font-size: 145px;
    }
}