.container-fluid, .row {
    padding: 0;
    margin: 0;
}
.content {
    max-width: 1160px;
    margin: 0 auto;
}
h1 {
    text-transform: uppercase;
    color: #fff;
}

header {
    background: url(../img/header-bg.png) no-repeat;
    background-size: cover;
}
header .col-4 {
    padding-left: 0;
    padding-right: 0;
}
.header-up {
    padding: 15px 0;
    background: rgba(35, 96, 112, 0.75);
    border-bottom: 1px solid #c5d0d3;
}
.header-links {
    padding-top: 25px;
}
.header-links i {
    color: #2ed06f;
    font-size: 18px;
    margin: 0 5px 0 0;
    vertical-align: middle;
}
.header-link {
    color: #ffffff;
    text-decoration: underline;
    font-size: 18px;
}
.header-link:hover {
    color: #ffffff;
    text-decoration: none;
}
.header-login {
    display: flex;
    justify-content: flex-end;
    padding-top: 25px;
}
.header-login div {
    padding-left: 20px;
    color: #ffffff;
}
.header-buttons {
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}
.header-buttons:hover, .header-buttons-green {
    color: #2ed06f;
    border: 1px solid #2ed06f;
    text-decoration: none;
}
.header-login i {
    font-size: 18px;
    margin: 0 5px 0 0;
}

.navbar {
    justify-content: center;
    text-transform: uppercase;
    padding: 0;
    padding: 20px 0;
    border-bottom: 1px solid #c5d0d3;
}
.navbar-item {
    padding: 0 40px;
    border-left: 1px solid #45dd87;
    font-size: 16px;
    color: #45dd87;
}
.navbar-item:first-child {
    border-left: 0;
}
.navbar-item_dropdown {
    border-left: 0;
}
.navbar-link {
    padding: 0;
    margin: 0;
    color: #45dd87;
}
.navbar-link:hover {
    color: #45dd87;
}
.header-title {
    padding: 40px 0;
}
.top-navbar {
    position: relative; 
    margin-left: -100px;
}
.top-navbar_element {
    position: absolute;
    right: 110px; 
    top: 20px;
}

main {padding: 20px 0;}

.reviews-body {
    display: flex;
   
}
.reviews-item {
    box-shadow: 0px 5px 10px 1px #e1dddd;
    padding: 40px 0 20px 0;
}
.reviews-item:last-child {
    box-shadow: 0px 0 0 0 #ccc;
}
.reviews-item_img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-size: cover;
}
.reviews-item_text {
    margin-left: 40px;
    font-size: 17px;
    line-height: 1.2;
    color: #545454;
}
.reviews-item_quote {
    box-shadow: 0px 0px 2px 1px #ccc;
    padding: 10px 20px 5px 20px;
    border-radius: 10px;
}
h3.reviews-item_title {
    margin-bottom: 20px;
    color: #246171;
}
blockquote::before {
    font-family: "Font Awesome 5 Free"; 
    content: '\f10d';
    font-weight: 900;
    color: #d7e9f7;
    padding-right: 5px;
}
blockquote::after {
    font-family: "Font Awesome 5 Free"; 
    content: '\f10e';
    font-weight: 900;
    color: #d7e9f7;
    padding-left: 5px;
}
.reviews-item_buttons {
    display: flex;
    margin: 20px 0;
    align-items: center;
}
.reviews-item_btn {
    color: #2ecb73;
    padding: 10px 20px 10px 10px;
    box-shadow: 0 0 2px 1px #2ecb73;
    border-radius: 20px;
}
.reviews-item_btn:hover {
    color: #ffffff;
    text-decoration: none;
    background: #2ecb73;
}
.reviews-item_btn i {
    padding: 3px 7px 3px 8px;
    font-size: 18px;
    border-radius: 100%;
    border: 2px solid #ffffff;
}
.reviews-buttons_right {
    box-shadow: 0 0 2px 1px #d7d7d7;
    background: #f7feff;
    padding: 12px 10px;
    border-radius: 20px;
    margin-left: 20px;
}
.reviews-item_btn2 {
    padding: 12px 10px;
    border-right: 1px solid #e5ebec;
    color: #246171;
}
.reviews-item_btn2:hover {
    text-decoration: none;
    color: #2ecb73;
}
.reviews-item_btn2:last-child {
    border-right: 0;
}
.reviews-item_btn2 i {
    padding-right: 5px;
    font-size: 18px;
}

footer {
    background: #236b7d;
    color: #fff;
    font-size: 18px;
    padding: 40px 0;
}
footer .col-4 {padding-left: 0;}
footer .col-8 {padding-right: 0;}
.footer-callback {
    margin-top: 20px;
}
.footer-telegram {
    color: #2ed06f;
    font-size: 26px;
    vertical-align: bottom;
    padding-right: 5px;
}
.footer-text {
    line-height: 1.2;
}
.footer-text_link {
    color: #2ed06f;
    text-decoration: underline;
}
.footer-text_link:hover {
    color: #2ed06f;
    text-decoration: none;
}
.footer-down {
    margin-top: 20px;
}
.footer-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: #fff;
    display: flex;
}
.footer-list_item {
    margin-right: 20px;
}
.footer-link {
    color: #fff;
    text-decoration: underline;
}
.footer-link:hover {
    color: #fff;
    text-decoration: none;
}