@media (max-width: 1200px){
    .today-body_quad, 
    .today-body_quad2, 
    .today-body_quad3, 
    .today-body_quad4, 
    .today-body_quad5, 
    .today-body_quad6, 
    .today-body_quad7, 
    .today-body_quad8, 
    .today-body_quad9,
    .douthink {
        display: none;
    }
    .content {
        padding: 0 15px!important;
    }
    section {
        padding: 80px 0 40px 0;
    }
    header {
        background-size: none;
    }
    .header-logo, .header-menu {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
    }
    .navbar-toggler {
        right: 0;
        position: absolute;
        top: -60px;
        color: #3598d9;
        outline: none!important;
        font-size: 24px;
    }
    .navbar {
        display: block;
        text-align: center!important;
        margin: 0 auto;
    }
    .header-text {
        padding: 50px 0;
        text-align: center;
    }
    .header-text_left {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
    }
    .header-button {text-align: center;}
    .col-3, .col-4, .col-5, .col-6, .col-7, .col-8 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
        max-width: 100%;
    }
    h2 {
        text-align: center;
        background: url(../img/h2-bg.jpg) top center no-repeat;
    }
    .today-body_image, .most-little_image, .daughter-body_image, .most-little_image, .author-body_image, .price-body_image, .douthink-body_left,
    .how-body_image {
        position: relative;
        text-align: center!important;
        padding: 0;
    }
    .most-little_image, .price-body_image, .douthink-body_left {
        order: -1;
    }
    .author-programs, .author-screens {
        flex-wrap: wrap;
    }
    footer {
        text-align: center!important;
    }
    .footer-social {
        text-align: center!important;
        margin: 20px 0;
    }
    .garant-payback {text-align: center;}

    /* Стили картинок */
    .most-little, .daughter-body {
        margin-top: 0;
    }
    .price-body {
        padding-top: 0;
    }
    .most-little_image {
        margin-bottom: 20px;
    }
    .most-little_image2 {
        margin: 20px 0 0 0;
    }
    .price-body_image {margin: 20px 0;}
}
@media (max-width: 680px){
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 24px;
    }
    .header-logo img {
        width: 100%;
        max-width: 200px;
    }
    .navbar-toggler {
        top: -45px;
    }
    section {
        font-size: 16px!important;
    }
    .today-body { padding-bottom: 0;}
    .today-body_img {width: 100%;}
    .programm-accordeon_text {
        margin: 10px 0 0 0;
    }
    .promo-body_item {
        width: 98%;
    }
    .register {
        background: url(../img/register-bg.jpg) center no-repeat;
    }
    footer {
        text-align: center!important;
        font-size: 16px!important;
    }
}