/* 
    Coding by alienshooter 
    alienshootah.github.io
*/

/* Основные стили */
body {
    color: #313131;
}
.container-fluid, .row {
    padding: 0;
    margin: 0;
}
section {
    padding: 80px 0;
    font-size: 18px;
}
.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}
h1 {
    text-transform: uppercase;
    font-size: 48px;
}
h2 {
    background: url(../img/h2-bg.jpg) top left no-repeat;
    padding-top: 20px;
    font-size: 36px;
}
h2.author-spec_title {
    background: url(../img/h2-bg.jpg) top center no-repeat;
}
ul {
    list-style: none;
    padding: 0;
}
a, a:hover {
    color: #3695d7;
    transition: all 0.5s;
}
.form-control {
    border-radius: 0;
}

/* Шапка */
header {
    background: url(../img/header-bg.jpg) left no-repeat;
    background-size: cover;
    padding-top: 20px;
}
.navbar {
    font-size: 18px;
    justify-content: flex-end;
    margin-top: 20px;
}
.navbar-item {
    margin-left: 20px;
}
.navbar-link {
    color: #363837;
}
.navbar-link:hover, .navbar-link.active {
    color: #2c9ae7;
    text-decoration: none;
}
.header-text {padding: 150px 0;}
.header-text_blue {
    color: #3299dc;
}
.header-text_descrp {
    font-size: 21px;
    padding: 20px 0;
}
.header-text_small {
    font-size: 18px;
    padding: 0 0 20px 0;
}
.header-button {padding: 10px 0;}
.header-btn {
    color: #fff;
    background: #ff8500;
    padding: 10px 25px;
    text-transform: uppercase;
    border: 1px solid transparent;
}
.header-btn:hover {
    color: #ff8500;
    background: none;
    border: 1px solid #ff8500;
    text-decoration: none;
}

/* Стили секции */
.today {padding: 40px 0;}
.today-body {padding: 40px 0;}
.today-body .col-6 {
    padding: 0;
}
.today-body_text {
    font-size: 18px;
    margin: 40px 0;
}
.today-body_present {
    display: flex;
    align-items: center;
}
.today-body_present div {
    margin: 10px 10px 0 0;
}
.today-list {
    padding: 10px 0 0 20px;
    color: #3597d4;
    list-style-type: square;
}
.today-list li {
    padding: 5px 0;
}
.today-list_black {
    color: #000000;
}
.most {
    background: #fcfcfc;
}
.most-little {margin-top: 40px;}
.most-little_list {
    padding-left: 0;
}
.most-little_title {
    color: #ff8500;
}
.most-list {margin: 40px 0;}
.most-list_item {
    display: flex;
    margin: 20px 0;
}
.most-list_zz {
    margin: 0 20px 0 0;
}
.most-list_number {
    color: #ffffff;
    background: #ff8500;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
}
.daughter {
    background: #f4f4f6;
}
.daughter-body {
    margin-top: 60px;
}
.daughter-body_image {padding: 0;}
.daughter-body_text p {
    padding: 10px 0;
}
.programm-attention {
    margin: 40px 0;
}
.programm-accordeon_item {
    margin: 20px 0;
    background: #f4f4f6;
    padding: 30px 40px;
}
.programm-accordeon_text {
    margin: 10px 0 0 92px;
}
.programm-title {
    margin: 30px 0;
}
.programm-important {
    margin-top: 40px;
}
.study {
    background: #fcfcfc;
}
.author-small {
    margin-top: 40px;
}
.author-body {
    padding: 40px 0;
}
.author-body_image {padding: 0;}
.author-list_item {
    display: flex;
    margin: 10px 0 20px 0;
    align-items: center;
}
.author-list_z {
    margin-right: 20px;
}
.author-programs {
    margin-top: 40px;
}
.author-programs, .author-screens {
    display: flex;
    justify-content: center;
}
.author-programs_item, .author-programs_screen {
    margin: 10px 20px;
    width: 260px;
    text-align: center!important;
}
.author-image {
    margin-bottom: 20px;
}
.rewievs {
    background: #f4f4f6;
}
.rewievs-slider {margin-top: -40px;}
.rewievs-slider_item {
    text-align: center;
    margin-top: 60px;
    padding: 0 60px;
    outline: none;
}
.rewievs-slider_image {
    margin-top: 60px;
}
.rewievs-slider_item img {
    margin: 0 auto;
}
.register {
    background: url(../img/register-bg.jpg) right no-repeat;
    background-size: cover;
}
.register-tex {margin-top: 25px;}
.register-shy {
    margin-bottom: 10px;
}
.register-noactive {
    color: #bfbfbf;
    text-decoration: line-through;
}
.register-text {margin-top: 50px;}
.price {
    background: #fcfcfc;
}
.price-body {
    padding-top: 40px;
}
.price-body_text {
    padding: 0;
}
.price-list_number {
    background: #3598d9;
}
.price-body_text p {
    padding: 0 0 15px 0;
}
.answers-accordeon {
    margin-top: 80px;
}
.promo {
    background: #f4f4f6;
}
.promo-body_text {padding: 0;}
.promo-body_list {
    margin: 20px -10px;
    display: flex;
    flex-wrap: wrap;
}
.promo-body_item {
    display: flex;
    width: 45%;
    margin: 10px;
    align-items: center;
}
.promo-body_z {margin-right: 20px;}
.promo-detail {padding: 20px 0;}
.douthink {padding-bottom: 0;}
.douthink-body {
    background: url(../img/douthink-body_bg.jpg) center repeat-x;
}
.douthink-body .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.douthink-body_left {
    position: relative;
}
.douthink-body_right {
    padding-left: 0;
    font-size: 22px;
}
.douthink-quote {
    margin: -60px 0 10px 0;
}
.growup-body_text {
    padding: 0;
}
.how {
    background: #fcfcfc;
}
.how-body_image {
    padding: 0;
}
.how-title {
    font-size: 22px;
    margin: 40px 0;
}
.how-body {margin: 40px 0 0 0;}
footer {
    background: #eceefd;
    padding: 40px 0 20px 0;
    font-size: 18px;
}
footer a, footer a:hover {
    color: #333439;
    
}
.footer-logo_link {
    text-decoration: none!important;
    color: #fa8200;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 23px;
    line-height: 1;
}
.footer-logo_links {
    color: #0092fe;
    text-transform: lowercase;
    font-size: 28px;
    font-weight: normal;
}
.footer-tel_link {
    font-weight: bold;
}
.footer-social_link {
    font-size: 18px;
    background: #329ae3;
    padding: 10px 14px;
    border-radius: 90px;
    border: 1px solid transparent;
    color: #fff;
    margin-left: 10px;
}
.footer-facebook {
    padding: 10px 18px;
}
.footer-social_link:hover {
    background: none;
    color: #329ae3;
    border: 1px solid #329ae3;
}

/* Квадраты */
.today-body_image, .most-little_image, .daughter-body_image, .most-little_image, .author-body_image, .price-body_image, .douthink-body_left,
.how-body_image {
    position: relative;
}
.most-little_image, .growup-img {
    padding-right: 0;
}
.today-body_img {
    position: relative;
    top: 0;
}
.today-body_quad {
    background: #3598db;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: -15px;
    left: -15px;
}
.today-body_quad2 {
    width: 400px;
    height: 400px;
    position: absolute;
    top: -15px;
    right: -15px;
    border: 4px solid #ff8700;
}
.today-body_quad3 {
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: -5px;
    left: -15px;
    border: 4px solid #3598db;
}
.today-body_quad4 {
    width: 500px;
    height: 500px;
    position: absolute;
    top: -15px;
    right: -15px;
    background: #ff8700;
}
.today-body_quad5 {
    background: #3598db;
    width: 570px;
    height: 580px;
    position: absolute;
    bottom: 10px;
    right: -15px;
}
.today-body_quad6 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: -15px;
    right: -70px;
    border: 4px solid #ff8700;
}
.today-body_quad7 {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: -15px;
    background: #ff8700;
}
.today-body_quad8 {
    background: #3598db;
    width: 570px;
    height: 510px;
    position: absolute;
    bottom: -15px;
    right: -15px;
}
.today-body_quad9 {
    width: 330px;
    height: 330px;
    position: absolute;
    bottom: -15px;
    left: -15px;
    border: 4px solid #ff8700;
}

/* Стили слайдера */
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: hsla(0, 0%, 0%, 0);
    border: none;
    outline: none;
    background: hsla(0, 0%, 0%, 0);
    border-radius: 0;
}
.slick-prev:before, .slick-next:before {
    font-size: 22px;
    line-height: 1;
    opacity: .75;
    color: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 0;
    background: #d4d4d6;
    padding: 15px 20px;
}
.slick-prev:before {
    font-family: "Font Awesome 5 Free"; 
    content: '\f053';
    font-weight: 900;
}
.slick-next:before {
    font-family: "Font Awesome 5 Free"; 
    content: '\f054';
    font-weight: 900;
}
.slick-dots {bottom: -45px;}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #329ae3;
    font-size: 14px;
}
.slick-dots li button:before {
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900;
    font-size: 10px;
    content: '\f45c';
    opacity: .8;
    color: #ccc;
}
.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity: 1;
    background: #329ae3;
}