@media (max-width: 1280px) {
  .camp-image {
    width: 100%;
  }
  .hows {
    padding-bottom: 20px;
  }
  .hows-title {
    font-size: 96px;
  }
  .hows-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hows-left {
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
  .hows-right {
    width: 100%;
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .hows-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .perfom-item {
    width: 100%;
  }
  .perfom-item:before, .perfom-item:after {
    content: none !important;
  }
  .perfom-item-full {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    min-width: auto;
    font-size: 90.909px;
  }
  .curators-title {
    font-size: 94px;
  }
  .curators-item {
    padding: 40px 20px;
  }
  .progs-title {
    font-size: 94px;
  }
  .andweare-title {
    font-size: 94px;
  }
  .andweare-picture {
    width: 100%;
  }
  .andweare-text {
    font-size: 32px;
  }
  .revs-title {
    font-size: 94px;
  }
  .revs-subtitle {
    font-size: 36.3738px;
  }
  .revs-item {
    margin: 30px 0 0 0;
  }
  .revs-text {
    font-size: 21px;
  }
  .reasons-title {
    font-size: 94px;
  }
  .reasons-icon {
    min-width: 94px;
    width: 96px;
    height: 95px;
    background-size: contain;
  }
  .reasons-subtitle {
    font-size: 46px;
    margin: 15px 0;
  }
  .reasons-name {
    font-size: 24.5223px;
  }
  .modal-body {
    width: 920px;
  }
}

@media (max-width: 992px) {
  .header-link {
    font-size: 42.1331px;
  }
  .promos-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .promos-left {
    width: 100%;
  }
  .promos-title {
    font-size: 60.8199px;
  }
  .promos-right {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 80px;
  }
  .promos-picture {
    position: relative;
  }
  .promos-image {
    width: 100%;
  }
  .promos-arrow-icon {
    min-width: 95px;
    width: 95px;
    height: 95px;
    background-size: cover;
  }
  .camp-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .camp-left {
    width: 100%;
  }
  .camp-right {
    width: 100%;
  }
  .getready-more-link {
    font-size: 62px;
    padding: 60px 0;
  }
  .hows-title {
    font-size: 60px;
  }
  .hows-image {
    width: 100%;
  }
  .perfom-item-full {
    font-size: 60.909px;
  }
  .perfom-title {
    font-size: 28px;
  }
  .curators-title {
    font-size: 82px;
  }
  .curators-subtitle {
    font-size: 36.7121px;
  }
  .progs-item {
    width: 100%;
    border-right: 0 !important;
  }
  .andweare-list {
    font-size: 18px;
  }
  .andweare-item {
    padding: 40px 20px;
  }
  .andweare-title {
    font-size: 84px;
  }
  .andweare-picture {
    height: 125px;
  }
  .andweare-image {
    width: 123px;
    height: 123px;
  }
  .revs-list {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .revs-item {
    padding: 20px;
    margin: 0;
  }
  .revs-picture {
    padding-right: 20px;
  }
  .revs-image {
    width: 130px;
    height: 130px;
  }
  .revs-subtitle {
    font-size: 28px;
  }
  .revs-text {
    font-size: 16px;
  }
  .revs-drop {
    padding: 140px 45px 15px 45px;
  }
  .reasons-title {
    font-size: 70px;
    line-height: 75px;
  }
  .reasons-subtitle {
    font-size: 34px;
    margin: 0;
  }
  .reasons-name {
    font-size: 18.5223px;
  }
  .end-right {
    padding-left: 15px;
    padding-right: 15px;
  }
  .end-pre {
    font-size: 24px;
  }
  .end-tel-link {
    font-size: 36px;
  }
  .modal-body {
    width: 720px;
  }
}

@media (max-width: 750px) {
  .header-link {
    font-size: 28.1331px;
  }
  .header-tel {
    font-size: 20px;
  }
  .promos-block {
    padding: 25px 0;
  }
  .promos-title {
    font-size: 41.8199px;
    line-height: 48px;
  }
  .promos-descr {
    font-size: 21.6567px;
  }
  .camp-title {
    font-size: 30.815px;
    line-height: 37px;
  }
  .camp-item {
    font-size: 18px;
    line-height: 27px;
    margin: 5px 0;
  }
  .camp-price {
    font-size: 30px;
    line-height: 44px;
  }
  .getready-more-link {
    font-size: 40px;
    line-height: 25px;
  }
  .hows {
    font-size: 20px;
  }
  .hows-title {
    font-size: 40px;
    line-height: 33px;
  }
  .perfom-item {
    height: 127px;
    margin: 15px 0;
  }
  .perfom-item-full {
    font-size: 42.909px;
    height: auto;
    line-height: 56px;
  }
  .perfom-picture {
    height: 125px;
    margin-right: 12px;
  }
  .perfom-image {
    width: 123px;
    height: 123px;
  }
  .perfom-title {
    margin: 0;
  }
  .curators {
    padding-top: 30px;
  }
  .curators-title {
    font-size: 57px;
    line-height: 77px;
  }
  .progs-title {
    font-size: 64px;
  }
  .andweare-title {
    font-size: 60px;
    line-height: 70px;
  }
  .andweare-item {
    width: calc(100% - 30px);
    border: 0 !important;
    padding: 20px;
  }
  .andweare-picture {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .andweare-text {
    margin-left: 30px;
    margin-right: 0;
  }
  .revs-title {
    font-size: 64px;
    text-align: center;
    line-height: 80px;
  }
  .revs-btn {
    display: block;
    text-align: center;
    border-radius: 10px;
  }
  .revs-subtitle {
    text-align: center;
    font-size: 26px;
  }
  .revs-text {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
  }
  .revs-list {
    margin-bottom: 40px;
  }
  .revs-item-reverse .revs-btn {
    padding-left: 40px;
  }
  .revs-drop {
    font-size: 16px;
    border-radius: 0 0 10px 10px;
    padding: 140px 25px 15px 25px;
  }
  .reasons-title {
    font-size: 48px;
    line-height: 50px;
  }
  .reasons-icon {
    min-width: 50px;
    width: 50px;
    height: 50px;
    background-size: contain;
    margin-left: -4px;
    top: 7px;
  }
  .reasons-subtitle {
    font-size: 22px;
    line-height: 46px;
  }
  .reasons-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .reasons-item {
    width: 100%;
    text-align: center;
  }
  .end-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .end-left {
    width: 100%;
  }
  .end-right {
    width: 100%;
    border-left: 0;
  }
  .modal-body {
    width: 390px;
  }
  .modal-text {
    font-size: 18px;
    max-width: 150px;
    padding: 0px 20px;
  }
  .modal-list {
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .modal-field {
    font-size: 25px;
  }
  .modal-check-text {
    font-size: 14px;
    line-height: 21px;
  }
  .modal-lbl-end {
    padding: 0 10px;
  }
  .modal-more {
    margin-top: 30px;
    margin-bottom: 25px;
  }
  .modal-more-btn {
    font-size: 20.2564px;
  }
  .modal-check {
    min-width: 20px;
    width: 20px;
    height: 20px;
  }
  .modal-title {
    font-size: 35px;
    word-break: break-word;
  }
  .modal-row {
    display: block;
  }
  .modal-left {
    width: 100%;
    border-right: none;
  }
  .modal-right {
    width: 100%;
  }
  .modal-end-btn {
    min-width: 200px;
    font-size: 20.2564px;
  }
  .modal-sublist {
    padding-top: 25px;
  }
  .modal-subitem:first-child {
    margin-top: 0;
  }
  .modal-top-title {
    text-align: left;
    margin: 20px 0 0 0;
    font-size: 24.5645px;
    line-height: 30px;
  }
}

@media (max-width: 520px) {
  .header-link {
    font-size: 22.1331px;
    line-height: 40px;
  }
  .header-tel {
    font-size: 15px;
  }
  .promos-arrow {
    display: none;
  }
  .promos-more {
    text-align: center;
    width: 100%;
  }
  .promos-more-btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    border-radius: 50px;
  }
  .getready-more-link {
    font-size: 24px;
    line-height: 25px;
    padding: 40px 0;
  }
  .perfom-item-full {
    font-size: 33.909px;
    height: auto;
    line-height: 50px;
  }
  .perfom-title {
    font-size: 22px;
    line-height: 32px;
  }
  .curators-title {
    font-size: 42px;
    line-height: 56px;
  }
  .curators-item {
    text-align: center;
    height: auto;
  }
  .curators .swiper-slide {
    min-height: auto;
    border: 0 !important;
  }
  .curators-arrows {
    position: absolute;
    bottom: -54px;
  }
  .progs-title {
    font-size: 48px;
    line-height: 88px;
  }
  .progs-subitem {
    font-size: 18px;
  }
  .progs-fromto {
    min-width: 140px;
  }
  .andweare-title {
    font-size: 43px;
    line-height: 58px;
  }
  .reasons-title {
    font-size: 34px;
    line-height: 40px;
  }
  .reasons-subtitle {
    font-size: 18px;
    line-height: 35px;
  }
  .reasons-name {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .end-left {
    padding-top: 15px;
  }
  .end-right {
    padding-top: 0;
  }
  .end-more-btn {
    font-size: 25px;
    line-height: 64px;
    height: auto;
  }
}

@media (max-width: 415px) {
  .header-left {
    width: 40%;
  }
  .header-right {
    width: 60%;
  }
  .header-link {
    line-height: 35px;
  }
  .header-tel {
    font-size: 16px;
  }
  .promos-block {
    min-height: auto;
  }
  .promos-title {
    font-size: 34.8199px;
    line-height: 40px;
  }
  .promos-descr {
    font-size: 16.6567px;
  }
  .promos-left {
    text-align: center;
  }
  .promos-right {
    margin: 20px 0;
  }
  .promos-picture {
    position: static;
  }
  .promos-more {
    position: static;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 15px 0;
  }
  .promos-more-btn {
    min-width: auto;
    height: 70px;
  }
  .camp-title {
    font-size: 19.815px;
    line-height: 23px;
  }
  .camp-list {
    margin-left: 33px;
  }
  .camp-item {
    font-size: 18px;
    line-height: 21px;
  }
  .camp-item:before {
    left: -30px;
  }
  .camp-price {
    font-size: 21px;
    line-height: 32px;
  }
  .getready-more {
    margin: 27px 0 -1px 0;
  }
  .getready-more-link {
    padding: 25px 0;
  }
  .hows-title {
    font-size: 27px;
    line-height: 18px;
    margin-top: 12px;
  }
  .perfom-item-full {
    font-size: 27.909px;
    height: auto;
    line-height: 40px;
  }
  .perfom-title {
    font-size: 18px;
  }
  .curators-title {
    font-size: 31px;
    line-height: 38px;
    margin-bottom: 15px;
  }
  .curators-subtitle {
    font-size: 28.7121px;
    line-height: 49px;
    margin: 10px 0 0 0;
  }
  .curators-descr {
    font-size: 18px;
    line-height: 28px;
  }
  .curators-item {
    padding: 40px 20px 20px 20px;
  }
  .progs-title {
    font-size: 38px;
    line-height: 75px;
  }
  .progs-subtitle {
    font-size: 29.7121px;
    line-height: 34px;
  }
  .progs-list {
    line-height: 24px;
  }
  .progs-subitem {
    font-size: 16px;
  }
  .andweare-title {
    font-size: 35px;
    line-height: 48px;
  }
  .andweare-list {
    line-height: 25px;
  }
  .andweare-item {
    width: 100% !important;
  }
  .andweare-text {
    font-size: 23px;
    line-height: 34px;
  }
  .revs-title {
    font-size: 50px;
    line-height: 60px;
  }
  .revs-list {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .revs-item {
    padding: 0;
  }
  .revs-picture {
    padding-right: 0;
  }
  .revs-btn {
    padding: 20px;
  }
  .reasons-title {
    font-size: 26px;
    line-height: 35px;
  }
  .reasons-subtitle {
    font-size: 14px;
    line-height: 30px;
  }
  .end-pre {
    font-size: 20px;
    line-height: 40px;
  }
  .end-tel-link {
    font-size: 28px;
  }
  .modal-body {
    width: 290px;
  }
  .modal-image {
    width: 100%;
    height: auto;
  }
  .modal-top-title {
    font-size: 19.5645px;
    line-height: 25px;
  }
}
/*# sourceMappingURL=media.css.map */