@media (max-width: 1100px) {
  .header-left {
    width: 47%;
  }
  .header-center {
    width: 18%;
  }
  .header-right {
    width: 35%;
  }
  .header-item:first-child {
    display: none;
  }
}

@media (max-width: 992px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  .header-left {
    width: 33%;
  }
  .header-center {
    width: 24%;
  }
  .header-right {
    width: 43%;
  }
  .header-top {
    padding: 10px 0 10px 0;
  }
  .header-bottom {
    position: relative;
    display: none;
    background-color: #ffffff;
  }
  .header-bottom.show {
    display: block;
  }
  .header-bottom-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-bottom-left {
    width: 100%;
  }
  .header-bottom-right {
    width: 100%;
    position: relative;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .header-bottom-body {
    padding: 10px 0;
    border-bottom: 0;
  }
  .header-btn {
    display: block;
    margin-left: 5px;
    position: relative;
    top: 1px;
    right: -3px;
  }
  .header-bar {
    margin: 5px 0;
    display: block;
    min-width: 25px;
    width: 25px;
    height: 3px;
    background-color: #cfe1d1;
    border-radius: 10px;
  }
  .logo-right {
    margin-right: 0;
  }
  .logo-text {
    display: none;
  }
  .buys-btn {
    width: 125px;
  }
  .buys-icon {
    margin-right: 0;
  }
  .buys-text {
    line-height: 18px;
    width: 75px;
  }
  .nav {
    margin-top: 13px;
  }
  .nav.show {
    display: block;
  }
  .nav-list {
    display: block;
    text-align: center;
  }
  .nav-link {
    display: inline-block;
    width: 100%;
    border-bottom: none;
    padding: 5px 0;
  }
  .nav-link:hover, .nav-link:focus {
    border-bottom: none;
  }
  .find {
    display: block;
    width: 100%;
    margin-left: auto;
  }
  .bart-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .promo-text {
    font-size: 16px;
    top: 15px;
    left: 15px;
    right: 15px;
  }
  .new-end {
    display: block;
  }
  .new-end-right {
    margin-top: 10px;
  }
  .new-btn {
    width: 100%;
    text-align: center;
  }
  .special-end {
    display: block;
  }
  .special-end-right {
    margin-top: 10px;
  }
  .special-btn {
    width: 100%;
    text-align: center;
  }
  .info-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .info-left {
    width: 100%;
  }
  .info-right {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 748px) {
  h2 {
    font-size: 22px;
  }
  .header-center {
    display: none;
  }
  .header-left {
    width: 42%;
  }
  .header-right {
    width: 58%;
  }
  .bart-body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .bart-right {
    margin-left: 15px;
  }
  .buys-btn {
    width: auto;
  }
  .buys-text {
    display: none;
  }
  .lang {
    margin-top: 5px;
  }
  .promo {
    margin-top: 25px;
  }
  .promo-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .promo-left {
    width: 100%;
  }
  .promo-right {
    width: 100%;
  }
  .promo-list {
    margin-top: 14px;
  }
  .new {
    margin-top: 25px;
  }
  .new-top {
    padding: 15px 0;
    margin-bottom: 15px;
  }
  .new-all {
    min-width: 120px;
    top: 3px;
  }
  .new-item {
    width: calc(50% - 30px);
  }
  .special-item {
    width: calc(50% - 30px);
  }
  .info {
    margin-bottom: 75px;
  }
  .footer-row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .col-3 {
    width: 50%;
    margin: 10px 0;
  }
  .footer-bottom {
    margin-top: 15px;
  }
}

@media (max-width: 510px) {
  h2 {
    font-size: 19px;
  }
  .new-all {
    top: 3px;
  }
  .lang {
    display: none;
  }
}

@media (max-width: 410px) {
  .promo-list {
    margin-top: 7px;
  }
  .promo-item {
    width: calc(100% - 30px);
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .new-top {
    display: block;
    text-align: center;
  }
  .new-all-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .new-item {
    width: calc(100% - 30px);
  }
  .special {
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .special-item {
    width: calc(100% - 30px);
  }
  .info-title {
    font-size: 19px;
  }
  .footer {
    text-align: center;
  }
  .footer .col-3 {
    width: 100%;
  }
  .footer-item {
    margin: 0;
  }
  .footer-link {
    padding: 4px 0;
    display: block;
    border-bottom: none;
    -webkit-transition: none;
    transition: none;
  }
  .footer-link:hover, .footer-link:focus {
    border-bottom: none;
    background-color: #CEDBCF;
  }
  .social-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=media.css.map */