.container-fluid {
	padding: 0;
	background: url(../img/main-bg2.jpg) no-repeat bottom;
	background-size: cover;
}
.content {
	max-width: 1260px;
	padding: 0 10px;
	margin: 0 auto;
}
.row {margin: 0;}
a, a:hover {
	transition: all 0.7s;
}
.form-control {border-radius: 0;}

header {
	background: #fff;
	color: #373737;
	font-size: 19px;
}
header .col-5 {padding-top: 5px; padding-right: 0;}
.header-phone_item {
	display: flex;
	justify-content: flex-end;
	margin-top: -5px;
}
.header-phone_item div{ padding-left: 20px;}
.header-phone_item a {color: #373737;}
.header-phone_title {margin-top: 10px;}
.header-phone_button {padding: 0 5px;}
.header-phone_button a {
	text-transform: uppercase;
	font-size: 19px;
	background: #326bc5;
	color: #fff;
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 8px 0;
	margin: 5px 0;
	border: 1px solid #326bc5;
}
.header-phone_button a:hover {
	color: #326bc5;
	background: none;
}
.nav-back {display: none;}
nav {
	background: #ff8b00;
	padding: 7px 0;
}
.navbar a {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 3px solid transparent;
	padding: 10px 15px;
}
.navbar a:hover {
	border-bottom: 3px solid #fff;
}
.main .content {
	background: rgba(255, 255, 255, 0.8);
	padding-bottom: 85px;
}
.main-body {padding: 20px 10px;}
.main-body .col-9 {padding: 10px 0 10px 10px;}
.main-body .col-3 {padding: 10px 10px 10px 25px;}
.main-body_rel {position: relative;}
.main-body_rel img {max-height: 452px; width: 100%;}
.main-title {
	position: absolute;
	bottom: 0px;
	left: 0;
	padding: 10px 20px;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	color: #fff;
	margin: 0;
}
.main-body_rel:hover .main-title {
	background: rgba(0, 0, 0, 1);
}
.main-title {font-size: 20px;}
.main-form {
	background: #ff8b00;
	color: #fff;
	padding: 0 10px 20px 10px;
	font-size: 20px;
}
.main-form label {margin: 4px 0 0 0;}
.main-form_button {margin-top: 20px;}
.main-form button {
	background: #326bc5;
	color: #fff;
	border-radius: 0;
	font-size: 20px;
	text-transform: uppercase;
	border: 1px solid #326bc5;
	cursor: pointer;
	padding: 10px;
}
.main-form button:hover {
	color: #326bc5;
	background: #fff;
}
.main-navigation_body {padding: 0 20px;}
.main-navigation_title {
	background: url(../img/main-navigation_title.jpg) no-repeat left;
	background-size: cover;
	padding: 7px 10px 7px 35px;
}
.main-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-navigation a {
	display: block;
	width: 100%;
	padding: 10px 5px 10px 10px;
	background: #fff;
	color: #313131;
	margin: 4px 0;
	font-size: 18px;
	border: 1px solid #c9c9c9;
	text-decoration: none;
	text-transform: uppercase;
}
.main-navigation a:hover {
	background: #313131;
	color: #fff;
}
.main-navigation_dots {
	margin-top: 18px;
	border-top: 1px dotted #c9c9c9;
	padding-top: 9px;
}
.main-countries_body {
	padding: 0 7px 0 0;
}
.main-countries {
	display:flex;
	flex-wrap: wrap;
	margin: -5px -5px 0 0;
	justify-content: space-between;
}
.main-countries_item a {
	color: #000;
	text-decoration: none;
}
.main-countries_item {
	text-align: center;
	position: relative;
	margin: 5px 3px;
	width: 140px;
}
.main-countries_item p {font-size: 15px;}
.main-countries_hide {display: none;}
.main-countries_item a:hover .main-countries_hide {
	display: block;
	background: #ff8b00;
	color: #fff;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 15px 10px;
	text-align: left;
}
.main-countries_hide p {padding: 0; margin: 10px 0 -5px 0;}
.main-countries_show img {width: 100%;}
.main-countries_show {position: relative; margin-bottom: 10px;}
.main-countries_hide img {
	width: 50px;
	margin-right: 5px;
}
.main-news_body {padding: 0 20px;}
.main-news {
	color: #616a71;
}
.main-news_title {
	color: #306cc4;
	display: flex;
}
.main-news_title h5 {
	font-size: 16px;
	margin-top: 7px;
}
.main-news_date {
	text-align: center;
	font-size: 16px;
	margin: 0 10px 0 5px;
}
.main-news_date p {margin-top: -10px;}
.main-news_date strong {font-size: 26px;}
.main-news_text {
	margin-top: -15px;
	line-height: 1.1;
	font-size: 14px;
}
.main-news_button {padding: 10px; margin-bottom: 15px;}
.main-news_button a {
	text-transform: uppercase;
	background: #326bc5;
	color: #fff;
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 10px 0;
	margin: 5px 0;
	border: 1px solid #326bc5;
	text-align: center;
	font-size: 20px;
}
.main-news_button a:hover {
	background: #fff;
	color: #326bc5;
}

/* Подвал сайта */
footer {
	background: #326bc5;
	color: #fff;
	padding: 17px 0;
	font-size: 18px;
	text-transform: uppercase;
}
footer .content {padding-left: 30px;}

/* Модальные окна */
.modal-dialog {
	max-width: 382px;
}
.modal-content {
	border-radius: 0;
	padding: 15px 10px 10px 10px;
}
.modal-header, .modal-body, .modal-footer {
	border: 0;
	padding: 0;
	margin: 0;
}
.modal-header {align-items: center; justify-content: flex-start;}
.modal-header_descr {
	margin: 0 0 0 -30px; 
	font-size: 15px;
	margin-right: 50px;
}
.modal-footer {margin-top: 10px; justify-content: center; float: none;}
.modal-footer .btn {border-radius: 0; padding: 10px 30px;}
.modal h2 {font-weight: 100!important; padding-bottom: 10px;}
.modal label {
	margin: 0;
	color: #383838;
	font-size: 20px;
}
.modal-title {color: #326bc5; min-width: 200px;}
.modal-footer button {
	color: #fff;
	background: #326bc5;
	text-transform: uppercase;
	border: 1px solid #326bc5;
	cursor: pointer;
	font-size: 20px;
	padding: 10px;
}
.modal-footer button:hover {
	color: #326bc5;
	background: #fff;
}
.modal .form-control {
	border: 1px solid #e0e0e0;
	margin: 4px 0 0 0;
}
.modal textarea {
	min-height: 110px;
}
#myModal5 .modal-dialog {
	max-width: 620px;
}
#myModal5 .modal-footer {padding-top: 8px;}
.modal-body_zakaz {margin: 0 -10px;}
.modal-body .col-6 {
	padding: 0 10px;
}
.modal-tourist {
	display: flex;
	align-items: flex-end;
}
.modal-tourist_left {width: 70%;}
.modal-tourist_right {
	margin-left: 10px; 
	font-size: 14px; 
	width: 30%;
	
}