<!-- footer -->
<footer class="footer" role="contentinfo">
	<div class="container">
		<div class="footer__left">
			<div class="footer__copyright">2016 &copy; Выручалка<br> Все права защищены</div>
		</div>
		<div class="footer__middle">
			<div class="footer__about">
				<p>Здесь  родители могут найти и зарезервировать няню или бебиситтера, рекомендованные другими родителями. Ищете часовую няню, няню приходящую или срочную? Находите нянь по дате и времени, резервируйте время няни, договаривайтесь о собеседовании.</p>
			</div>
			
		</div>
		<div class="footer__right">
			<div class="footer__social">
				<div class="footer__social-title">Присоединяйтесь к нам</div>
				<ul class="footer__social-list">
					<li class="footer__social-list-item">
						<a href="#" class="icon-soc-vk footer__social-list-item-link"></a>
					</li>
					<li class="footer__social-list-item">
						<a href="#" class="icon-soc-fb footer__social-list-item-link"></a>
					</li>
					<li class="footer__social-list-item">
						<a href="#" class="icon-soc-tw footer__social-list-item-link"></a>
					</li>
					<li class="footer__social-list-item">
						<a href="#" class="icon-soc-inst footer__social-list-item-link"></a>
					</li>
					<li class="footer__social-list-item">
						<a href="#" class="icon-soc-odn footer__social-list-item-link"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__menu">
			<div class="row">
				<div class="col-sm-33 footer__menu-item">
					<ul class="footer__menu-list">
						<li class="footer__menu-list-item">
							<a href="#" class="footer__menu-link">О нашей компании</a>
						</li>
						<li class="footer__menu-list-item">
							<a href="#" class="footer__menu-link">Свяжитесь с нами</a>
						</li>
						<li class="footer__menu-list-item">
							<a href="#" class="footer__menu-link">Полезная информация</a>
						</li>
						<li class="footer__menu-list-item">
							<a href="#" class="footer__menu-link">Вопросы-ответы</a>
						</li>
						<li class="footer__menu-list-item">
							<a href="#" class="footer__menu-link">Правила</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-33 footer__menu-item">
					<ul class="footer__menu-list">
						<li class="footer__menu-list-item">
							<a href="#" class="footer__menu-link">Поиск нянь</a>
						</li>
						<li class="footer__menu-list-item">
							<a href="#" class="footer__menu-link">Поиск агентств</a>
						</li>
						<li class="footer__menu-list-item">
							<a href="#" class="footer__menu-link">Поиск вакансий</a>
						</li>
					</ul>
				</div>
				<div class="col-sm-33 footer__menu-item">
					<ul class="footer__menu-list">
						<li class="footer__menu-list-item">
							<a href="#" class="footer__menu-link">Регистрация для родителей</a>
						</li>
						<li class="footer__menu-list-item">
							<a href="#" class="footer__menu-link">Регистрация для нянь</a>
						</li>
						<li class="footer__menu-list-item">
							<a href="#" class="footer__menu-link">Регистрация для агентов</a>
						</li>
						<li class="footer__menu-list-item">
							<a href="#" class="footer__menu-link">Авторизация</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- footer end -->
