<!-- header -->
<header class="header" role="banner">
    <div class="container">
        <div class="header__left">
            <a href="#" class="header__logo">
                <img class="header__logo-img" src="img/logo.png" alt="">
            </a>
        </div>
        <div class="header__middle">
            @@include('template/layout/header-search.html')
        </div>
        <div class="header__right">
           <div class="header-nav">
                <ul class="header-nav__list">
                    <li class="header-nav__list-item">
                        <div class="drop drop--orders js-drop-hover-parent">
                            <div class="drop__head">
                                <a href="#" class="header-nav__link header-nav__link--orders">Заказы и вакансии <span class="header-nav__link-count">3</span></a>
                            </div>
                            <div class="drop__content-holder">
                                <div class="drop__content drop__content--header js-drop-hover-content">
                                    <ul class="drop__content-list">
                                        <li class="drop__content-list-item">
                                            <a href="#" class="drop__content-link drop__content-link--indent-right">Заказы <span class="drop__content-link-count">1</span></a>
                                        </li>
                                        <li class="drop__content-list-item">
                                            <a href="#" class="drop__content-link drop__content-link--indent-right">Вакансии <span class="drop__content-link-count">2</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="header-nav__list-item">
                        <div class="drop drop--notices js-drop-hover-parent">
                            <div class="drop__head">
                                <a href="#" class="header-nav__link header-nav__link--notices">Уведомления <span class="header-nav__link-count">2</span></a>
                            </div>
                            <div class="drop__content-holder">
                                <div class="drop__content drop__content--header js-drop-hover-content">
                                    <ul class="drop__content-list">
                                        <li class="drop__content-list-item">
                                            <a href="#" class="drop__content-link">Оповещения</a>
                                        </li>
                                        <li class="drop__content-list-item">
                                            <a href="#" class="drop__content-link drop__content-link--indent-right">Сообщения <span class="drop__content-link-count">2</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="header-nav__list-item">
                        <a href="#" class="header-nav__link header-nav__link--help">Помощь</a>
                    </li>
                    <li class="header-nav__list-item">
                        <div class="drop js-drop-hover-parent">
                            <div class="drop__head">
                                <a href="#" class="header-nav__link header-nav__link--user">Мария</a>
                            </div>
                            <div class="drop__content-holder">
                                <div class="drop__content drop__content--header js-drop-hover-content">
                                    <ul class="drop__content-list">
                                        <li class="drop__content-list-item">
                                            <a href="#" class="drop__content-link">Личный кабинет</a>
                                        </li>
                                        <li class="drop__content-list-item">
                                            <a href="#" class="drop__content-link">Редактировать анкету</a>
                                        </li>
                                        <li class="drop__content-list-item">
                                            <a href="#" class="drop__content-link">Рабочий календарь</a>
                                        </li>
                                        <li class="drop__content-list-item">
                                            <a href="#" class="drop__content-link drop__content-link--indent-right">Платежи <span class="drop__content-link-count drop__content-link-count--bold">!</span></a>
                                        </li>
                                        <li class="drop__content-list-item">
                                            <a href="#" class="drop__content-link">Выйти</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>  
</header>
<!-- header end -->
<div style="display: none">
     @@include('img/svg-sprite/symbol/svg/sprite.symbol.svg')
     @@include('img/svg-sprite/view/svg/sprite.view.svg')
</div>