@media (max-width: 1720px) {
  .promo {
    padding-bottom: 70px;
  }
  .promo-list .slick-prev, .promo-list .slick-next {
    top: auto;
    bottom: -90px;
  }
  .promo-list .slick-prev {
    left: 10px;
  }
  .promo-list .slick-next {
    right: 10px;
  }
  .promo-list .slick-dots {
    bottom: -65px;
  }
}

@media (max-width: 1520px) {
  .team-list {
    margin: 95px 0 0 0;
    width: 99%;
  }
  .promo-body .col-8 {
    width: 60%;
  }
  .promo-body .col-4 {
    width: 40%;
  }
  .promo-title {
    max-width: 100%;
  }
  .nav-link {
    padding: 15px 40px;
  }
  .diplom-list .slick-next {
    right: 0px;
  }
  .result-body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .result-body .col-5,
  .result-body .col-7 {
    margin: 15px 0;
    width: 100%;
  }
  .result-buttons {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 -5px;
  }
  .result-btn {
    margin: 0 5px;
  }
  .helper-item {
    width: 24%;
  }
  .helper-btn {
    font-size: 14px;
  }
}

@media (max-width: 1370px) {
  .header-calc-btn {
    font-size: 12px;
    padding: 10px;
    max-width: 160px;
  }
  .nav-callback {
    min-width: auto;
  }
  .nav-link {
    padding: 15px;
  }
  .promo-body {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
  .promo-body .col-8 {
    width: 50%;
  }
  .promo-body .col-4 {
    width: 50%;
  }
  .numbers-item {
    margin: 10px 5px;
    width: auto;
  }
  .team-list {
    margin: 95px 0 0 auto;
    width: 70%;
  }
  .team-info {
    right: -100px;
  }
  .diplom-list {
    width: 90%;
  }
  .helper-btn {
    height: 60px;
  }
  .live-list {
    width: 92%;
  }
  .footer-top-item:nth-child(1) {
    padding-right: 0;
  }
  .footer-top-item:nth-child(3) {
    width: 16.66666667%;
  }
  .footer-top-item:nth-child(5) {
    width: 25%;
  }
  .footer-logo {
    text-align: center;
  }
}

@media (max-width: 1120px) {
  .title {
    font-size: 30px;
    line-height: 38px;
  }
  .team-semi {
    font-size: inherit;
  }
  .free-title-big {
    font-size: 50px;
  }
  .free-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .free-item {
    width: 31%;
  }
  .free-item:nth-child(4), .free-item:nth-child(5) {
    width: 48%;
  }
  .useful-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .useful-item:first-child, .useful-item:last-child {
    width: 100%;
  }
  .moreus-btn {
    display: block;
  }
  .moreus-icon {
    margin-bottom: 10px;
  }
  .footer-logo-image {
    margin-left: 0;
  }
  .footer-logo-text {
    width: 200px;
    text-align: left;
  }
  .footer-social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-social .social-item {
    margin-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .header-item:nth-child(2) {
    display: none;
  }
  .header-logo {
    width: 172px;
  }
  .header-calc-btn {
    font-size: 12px;
    line-height: 14px;
    padding: 5px 10px;
  }
  .header-mail-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
  }
  .nav-link {
    font-size: 14px;
    line-height: 16px;
    padding: 15px 5px;
  }
  .nav-bars {
    top: 0;
  }
  .drop-columns {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .drop-list {
    margin: 10px 20px;
  }
  .promo-body {
    display: block;
  }
  .promo-body .col-8,
  .promo-body .col-4 {
    width: 100%;
  }
  .promo-body .col-8 {
    margin-bottom: 30px;
  }
  .promo-title {
    font-size: 40px;
  }
  .connect-body {
    padding: 30px;
  }
  .connect-title {
    text-align: center;
  }
  .connect-item {
    width: 47%;
  }
  .connect-item-full {
    width: 100%;
  }
  .connect-end {
    text-align: center;
  }
  .numbers-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .numbers-item {
    width: 48%;
  }
  .numbers-title {
    font-size: 24px;
    line-height: 28px;
  }
  .better-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .better-item {
    width: 33%;
  }
  .better-title:before {
    width: 120px;
    height: 8px;
    margin-right: 18px;
  }
  .team {
    margin-top: 0;
  }
  .team-body {
    display: block;
  }
  .team-body .col-6 {
    width: 100%;
  }
  .team-image {
    width: 100%;
  }
  .team-info {
    right: -15px;
  }
  .team-list {
    margin: 0 0 90px 0;
    width: 99%;
  }
  .diplom-list {
    width: 85%;
  }
  .wecan-item {
    width: 44%;
  }
  .moreus-btn {
    font-size: 16px;
    line-height: 24px;
  }
  .footer-logo {
    text-align: left;
  }
  .footer-logo-image, .footer-logo-text {
    display: none;
  }
  .footer-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0;
  }
  .footer-top .col-2,
  .footer-top .col-3 {
    width: 50%;
    padding-top: 30px;
    padding-bottom: 27px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }
  .footer-top-item:last-child {
    width: 100%;
    padding-bottom: 0;
    padding-left: 15px;
    border-bottom: none;
  }
  .adress-more {
    margin: 0;
  }
}
/*# sourceMappingURL=media.css.map */