/* Fonts */
@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.otf);
  font-weight: bold;
  font-style: bold;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1470px;
}

body {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  color: #2E394D;
}

.blue {
  color: #00A8EC;
}

/* Header */
.header-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-item {
  margin: 10px 0;
}

.header-mail {
  font-size: 16px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-mail-link {
  color: #2E394D;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}

.header-mail-link:hover, .header-mail-link:focus {
  color: #2E394D;
  border-bottom: 1px solid #2E394D;
}

.header-mail-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/header-mail-icon.png);
  margin-right: 10px;
  position: relative;
  top: -1px;
}

.header-calc-btn {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #C03292;
  border-radius: 4px;
  border: 2px solid #C03292;
  padding: 10px 20px;
  outline: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-calc-btn:hover, .header-calc-btn:focus {
  background-color: transparent;
  color: #C03292;
}

.header-number {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #2E394D;
}

.header-number-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/header-number-icon.png);
}

.header-number-link {
  color: #2E394D;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header-number-link:hover, .header-number-link:focus {
  text-decoration: none;
  border-bottom: 1px solid #2E394D;
}

.social-list {
  margin: 0 -7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-item {
  margin: 0 7px;
}

.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #00A8EC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  background-color: #ffffff;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.social-icon::after {
  width: 20px;
  height: 20px;
  top: 10px;
  left: 9px;
  position: absolute;
  content: '';
  display: inline-block;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center;
          mask-position: center;
  background-color: #00A8EC;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.social-icon-one::after {
  -webkit-mask-image: url(../img/social-icon-one.png);
          mask-image: url(../img/social-icon-one.png);
}

.social-icon-thue::after {
  -webkit-mask-image: url(../img/social-icon-thue.png);
          mask-image: url(../img/social-icon-thue.png);
  top: 9px;
  left: 8px;
}

.social-icon-three::after {
  -webkit-mask-image: url(../img/social-icon-three.png);
          mask-image: url(../img/social-icon-three.png);
}

.social-icon:hover, .social-icon:focus {
  background-color: #00A8EC;
  -webkit-box-shadow: 0px 15px 14px -3px rgba(0, 159, 223, 0.2);
          box-shadow: 0px 15px 14px -3px rgba(0, 159, 223, 0.2);
}

.social-icon:hover::after, .social-icon:focus::after {
  background-color: #ffffff;
}

/* Navigation */
.nav {
  background-color: #F2F4F5;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #2E394D;
}

.nav-bars {
  display: inline-block;
  width: 14px;
  position: relative;
  top: 3px;
  margin-right: 3px;
}

.nav-bars-item {
  display: block;
  width: 12px;
  height: 2px;
  margin-bottom: 3px;
  background-color: #2E394D;
  border-radius: 2px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.nav-link {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #2E394D;
  outline: none;
  text-decoration: none;
  padding: 15px 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus {
  background-color: #00A8EC;
  color: #ffffff;
}

.nav-callback {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  padding: 10px;
  background-color: #C03292;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 2px solid #C03292;
  min-width: 214px;
}

.nav-callback:hover, .nav-callback:focus {
  color: #C03292;
  background-color: transparent;
}

/* Dropdown */
.drop-body {
  display: none;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.25);
}

.drop-inner {
  font-size: 16px;
  line-height: 34px;
  padding: 10px 10px 10px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.drop-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.drop-list {
  list-style-type: disc;
  color: #00A8EC;
  margin: 10px 40px 10px 20px;
}

.drop-link {
  color: #2E394D;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.drop-link:hover, .drop-link:focus {
  color: #00A8EC;
}

/* Sections */
.promo {
  background-image: url(../img/promo-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 30px 0;
}

.promo-body {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-top {
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFBFB;
  margin-bottom: 10px;
}

.promo-top:before {
  content: '';
  display: inline-block;
  width: 155px;
  height: 8px;
  background-color: #ffffff;
  margin-right: 22px;
  position: relative;
  top: -1px;
}

.promo-title {
  font-size: 50px;
  line-height: 59px;
  color: #FFFFFF;
  max-width: 82%;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.promo-normal {
  font-weight: normal;
}

.promo-blue {
  color: #00A8EC;
}

.promo-more-link {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.promo-more-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 2px solid #00A8EC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  background-repeat: no-repeat;
  background-position: 27px;
  background-image: url(../img/promo-more-icon.png);
}

.promo-more-icon:after {
  content: '';
  display: inline-block;
  width: 64px;
  height: 64px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  background-color: #33C4FF;
  opacity: 0.2;
  position: absolute;
  top: 6px;
  left: 6px;
}

.promo-more-text {
  display: inline-block;
  position: relative;
  top: -7px;
  left: -34px;
}

.connect-body {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.connect-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.connect-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -10px;
}

.connect-item {
  position: relative;
  margin: 0 10px;
  width: 45%;
}

.connect-item-full {
  width: 100%;
}

.connect-field {
  background: #FFFFFF;
  border-radius: 4px;
  border: 0;
  margin: 10px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px 10px 40px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 26px;
}

.connect-field::-webkit-input-placeholder {
  color: #646A76;
}

.connect-field:-ms-input-placeholder {
  color: #646A76;
}

.connect-field::-ms-input-placeholder {
  color: #646A76;
}

.connect-field::placeholder {
  color: #646A76;
}

.connect-field-document {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.connect-document {
  display: inline-block;
  border-radius: 4px;
  border: 0;
  margin: 10px 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 10px 10px 40px;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.connect-icon {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 27px;
  left: 17px;
}

.connect-icon-one {
  background-image: url(../img/connect-icon-one.png);
}

.connect-icon-thue {
  background-image: url(../img/connect-icon-thue.png);
}

.connect-icon-three {
  background-image: url(../img/connect-icon-three.png);
}

.connect-icon-four {
  background-image: url(../img/connect-icon-four.png);
}

.connect-icon-five {
  background-image: url(../img/connect-icon-five.png);
}

.connect-end {
  margin-top: 8px;
}

.connect-btn {
  background-color: #00A8EC;
  border-radius: 4px;
  border: 2px solid #00A8EC;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: bold;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 15px 35px;
}

.connect-btn:hover, .connect-btn:focus {
  background-color: transparent;
}

.numbers {
  padding: 40px 0;
  font-size: 16px;
  line-height: 19px;
  color: #2E394D;
}

.numbers-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #2E394D;
  margin: 10px 0 0 0;
}

.numbers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 11px;
}

.numbers-item {
  margin: 10px 0;
  width: 20%;
}

.numbers-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.numbers-picture {
  position: relative;
}

.numbers-text {
  display: inline-block;
  font-weight: bold;
  font-size: 80px;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  line-height: 80px;
  color: transparent;
  -webkit-text-stroke: 1px #262F37;
  margin-right: 15px;
}

.numbers-text::before {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: -1;
  top: 17px;
  left: -9px;
  width: 64px;
  height: 64px;
  background-color: #F2F3F5;
  border-radius: 50%;
}

.numbers-text-one::before {
  left: -9px;
}

.numbers-text-thue::before {
  left: 9px;
}

.numbers-text-three::before {
  left: 27px;
}

.numbers-text-four::before {
  left: -11px;
}

.numbers-subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #2E394D;
  margin-bottom: 7px;
  margin-top: 8px;
}

.better {
  background-color: #F8F8F9;
  padding: 80px 0;
  font-size: 18px;
  line-height: 21px;
  color: #2E394D;
}

.better-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2E394D;
  margin: 20px 0;
}

.better-title:before {
  content: '';
  display: inline-block;
  width: 155px;
  height: 8px;
  background-color: #2E394D;
  margin-right: 25px;
}

.better-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.better-item {
  margin: 20px 0;
  width: 17%;
}

.better-picture {
  display: inline-block;
  width: 128px;
  height: 128px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 8px 34px rgba(43, 51, 79, 0.07);
          box-shadow: 0px 8px 34px rgba(43, 51, 79, 0.07);
  border-radius: 80px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

.better-picture:after {
  content: '';
  display: inline-block;
  width: 110px;
  height: 110px;
  border: 2px solid #F0F2F7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 55px;
  position: absolute;
  left: 9px;
  top: 9px;
}

.better-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #F7F7F7;
  border-radius: 55px;
  margin-top: 40px;
}

.better-icon:after {
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.better-icon-one::after {
  background-image: url(../img/better-icon-one.png);
}

.better-icon-thue::after {
  background-image: url(../img/better-icon-thue.png);
}

.better-icon-three::after {
  background-image: url(../img/better-icon-three.png);
}

.better-icon-four::after {
  background-image: url(../img/better-icon-four.png);
}

.better-icon-five::after {
  background-image: url(../img/better-icon-five.png);
}

.team {
  margin: 80px 0 100px 0;
}

.team-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2E394D;
  text-align: right;
  position: relative;
  top: 75px;
}

.team-title:before {
  content: '';
  display: inline-block;
  width: 155px;
  height: 8px;
  background: #2E394D;
  margin-right: 25px;
}

.team-semi {
  font-size: 80px;
}

.team-main {
  position: relative;
  z-index: -1;
}

.team-info {
  position: absolute;
  top: 125px;
  right: 20px;
}

.team-name {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #2E394D;
}

.team-work {
  font-size: 20px;
  line-height: 23px;
  color: #2E394D;
}

.team-list {
  margin: 95px -15px 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team-item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 8px 36px rgba(43, 51, 79, 0.1);
          box-shadow: 0px 8px 36px rgba(43, 51, 79, 0.1);
  border-radius: 10px;
  margin: 30px 15px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.team-img {
  width: 100%;
}

.team-descr {
  border: 2px solid #F0F2F6;
  border-top: 0;
  margin-top: -4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 20px;
}

.team-descr-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #2E394D;
}

.team-descr-work {
  font-size: 16px;
  line-height: 19px;
  color: #2E394D;
}

.diplom-body {
  position: relative;
}

.diplom-title {
  display: block;
  font-weight: bold;
  font-size: 70px;
  line-height: 47px;
  letter-spacing: 0.02em;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  position: absolute;
  left: -190px;
  top: 140px;
}

.diplom-small {
  font-size: 40px;
}

.diplom-list {
  margin: 40px 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 95%;
}

.online {
  background-color: #F8F8F9;
  padding: 80px 0;
}

.online-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2E394D;
  margin: 20px 0;
}

.online-title:before {
  content: '';
  display: inline-block;
  width: 158px;
  height: 8px;
  background-color: #2E394D;
  margin-right: 10px;
}

.online-form {
  margin: 40px 0 20px 0;
}

.online-radios {
  margin-bottom: 40px;
}

.online-subtitle {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #2E394D;
  margin: 10px 0;
}

.online-wrap {
  height: 140px;
  overflow-y: scroll;
}

.online-item {
  margin: 10px 0;
}

.online-label {
  font-size: 16px;
  line-height: 19px;
  color: #646A76;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.online-radio {
  width: 26px;
  height: 26px;
  min-width: 26px;
}

.online-radio:checked + .online-text {
  color: #2E394D;
}

.online-text {
  display: inline-block;
  margin-left: 14px;
}

.online-text-radio {
  position: relative;
  top: 2px;
}

.online-check {
  width: 26px;
  height: 26px;
  min-width: 26px;
}

.online-check:checked + .online-text {
  color: #2E394D;
}

.measure {
  font-size: 16px;
  line-height: 19px;
  color: #2E394D;
}

.measure-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-bottom: 20px;
}

.measure-item:first-child {
  text-align: left;
}

.measure-item:last-child {
  text-align: right;
}

.measure-line {
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #D6D8DD;
}

.measure-num {
  display: inline-block;
  margin-top: 5px;
  width: 100%;
}

.result {
  margin: 40px 0 10px 0;
}

.result-body {
  margin: 0 -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-price-pre {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #2E394D;
}

.result-price-num {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #00A8EC;
}

.result-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.result-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #C03292;
  border-radius: 4px;
  padding: 14px 25px;
  border: 1px solid #C03292;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.result-btn:hover, .result-btn:focus {
  background-color: transparent;
  color: #C03292;
}

.result-btn-white {
  background-color: transparent;
  color: #C03292;
}

.result-btn-white:hover, .result-btn-white:focus {
  color: #FFFFFF;
  background-color: #C03292;
}

.watch {
  margin: 80px 0;
}

.watch-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2E394D;
  text-align: right;
  margin: 20px 0;
}

.watch-title:before {
  content: '';
  display: inline-block;
  width: 155px;
  height: 8px;
  background-color: #2E394D;
  margin-right: 25px;
}

.watch-body {
  margin: 40px -15px;
}

.watch-small {
  position: relative;
}

.watch-subtitle {
  left: -172px;
  top: 140px;
}

.watch-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px -15px 15px auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #2E394D;
  width: 95%;
}

.watch-item {
  margin: 15px;
  width: 33%;
}

.watch-vid {
  border: 2px solid #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 18px 44px rgba(43, 51, 79, 0.23);
          box-shadow: 0px 18px 44px rgba(43, 51, 79, 0.23);
}

.watch-descr {
  margin-top: 15px;
}

.wecan {
  background-color: #F8F8F9;
  padding: 50px 0 80px 0;
  font-size: 18px;
  line-height: 24px;
  color: #2E394D;
}

.wecan-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #2E394D;
  margin: 20px 0;
}

.wecan-title:before {
  content: '';
  display: inline-block;
  width: 155px;
  height: 8px;
  background-color: #2E394D;
  margin-right: 25px;
}

.wecan-list {
  margin: 30px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin-top: 9px;
}

.wecan-item {
  width: 29%;
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wecan-picture {
  min-width: 110px;
  width: 110px;
  height: 110px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 8px 34px rgba(43, 51, 79, 0.07);
          box-shadow: 0px 8px 34px rgba(43, 51, 79, 0.07);
  border-radius: 10px;
  margin-right: 20px;
  position: relative;
}

.wecan-picture:after {
  position: absolute;
  top: 8px;
  left: 8px;
  content: '';
  display: inline-block;
  width: 94px;
  height: 94px;
  border: 2px solid #F0F2F7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 6px;
}

/* Range */
.range-wrap {
  position: relative;
  margin: 0 auto 3rem;
}

.range {
  width: 100%;
}

.bubble {
  background: red;
  color: white;
  padding: 4px 12px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: red;
  top: -1px;
  left: 50%;
}
/*# sourceMappingURL=style.css.map */