@media (min-width: 767px) {
    .navbar-expand-md .navbar-collapse {
        display: block!important;
    }
}
@media (max-width: 1320px) {
    .price-table {
        justify-content: center;
    }
    .ptable-item {
        width: 33%;
        padding: 0 10px;
    }
    .ptable-item:last-child {
        text-align: center;
        width: 100%;
    }
    .ptable-item:last-child .ptable-title {
        display: none;
    }
    .ptable-field {
        width: 100%;
        min-width: auto;
        max-width: 100%;
    }
    .editing-table th, 
    .editing-table td {
        padding: 5px;
    }
    .editing-field {
        min-width: 200px;
    }
    .editing-field-small {
        min-width: auto;
    }
}
@media (max-width: 1120px) {
    .main-nav {
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
    .main-info {
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
    .ptable-item {
        width: 50%;
    }
    .ptable-field-normal {
        width: 100%;
        max-width: 100%;
    }
    .ptable-checks_item {
        width: 100%;
        margin: 0 15px;
    }
    .order-item {
        display: block;
    }
    .order-picture,
    .order-info {
        width: 100%;
        margin: 10px 0;
    }
    .order-picture {
        text-align: center;
    }
    .order-image {
        width: 210px;
    }
}
@media (max-width: 992px) {
    .news-image {
        width: 190px;
    }
    .order-table-howuch th,
    .order-table-howuch td {
        display: block;
        text-align: center
    }
    .order-table-howuch th {
        border-bottom: 0;
    }
    .order-howuch {
        justify-content: center;
    }
    .order-edit_title {
        display: block;
        padding-top: 5px;
    }
    .order-sel {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .mobi-btn_left,
    .mobi-btn_right {
        display: block;
    }
    .main-nav {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 10px 0;
    }
    .main-info {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 10px 0;
    }
    .mobi-menu {
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
    }
    .header-descr {
        display: none;
    }
    .titles {
        margin: 0 -15px;
        padding: 0;
    }
    .mobi-title {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
    .new-text {
        padding: 10px 0;
        text-align: center;
    }
    .new-modal {
        text-align: center;
    }
    .new-modal_wrap {
        display: block; 
    }
    .new-modal_wrap div {
        margin: 10px 0;
    }
}
@media (max-width: 540px) {
    .news-image {
        width: 120px;
    }
    .info-text {
        padding: 10px 15px;
    }
    .news-prev {
        font-size: 14px;
    }
    .news-date {
        font-size: 13px;
    }
    .price-item {
        font-size: 13px;
    }
    .price-num {
        font-size: 16px;
        padding-right: 15px;
    }
    .ptable-item {
        width: 100%;
    }
    .video-text {
        padding: 5px;
    }
    .price-osn {
        padding: 5px;
    }
    .price-full {
        display: block;
        text-align: center;
        font-size: 13px;
    }
    .price-file_title {
        font-size: 16px;
    }
    .price-file_add {
        border: 0;
        padding: 0;
    }
    .price-file_text {
        display: none;
    }
    .ptable-checks_item {
        font-size: 14px;
    }
    .editing {
        padding: 10px;
    }
    .editing-search {
        max-width: 200px;
    }
    .editing-buttons_item {
        width: 100%;
    }
    .new-table {
        font-size: 12px;
    }
    .new-table_name {
        padding-left: 0;
        padding-right: 5px;
    }
    .new-table td {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .new-table_hot {
        margin-right: 5px;
    }
    .order-item {
        padding: 10px;
    }
    .order-skl {
        display: block;
    }
    .order-table {
        font-size: 12px;
    }
    .order-btn {
        padding: 0 3px;
    }
    .order-icon {
        margin-right: 0;
    }
    .order-btn span {
        display: none;
    }
    /*
    .order-table td,
    .order-table th {
        display: block;
        margin: 0 5px;
        text-align: center;
    }
    */
}
@media (max-width: 425px) {
    .news-image {
        width: 100px;
    }
    .news-title {
        font-size: 18px;
    }
}