@media (min-width: 767px) {
    .navbar-expand-md .navbar-collapse {
        display: block!important;
    }
}
@media (max-width: 1120px) {
    .main-nav {
        -ms-flex: 0 0 36%;
        flex: 0 0 36%;
        max-width: 36%;
    }
    .main-info {
        -ms-flex: 0 0 64%;
        flex: 0 0 64%;
        max-width: 64%;
    }
}
@media (max-width: 992px) {
    .news-image {
        width: 190px;
    }
}
@media (max-width: 767px) {
    .mobi-btn_left,
    .mobi-btn_right {
        display: block;
    }
    .main-nav {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 10px 0;
    }
    .main-info {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 10px 0;
    }
    .mobi-menu {
        background-color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
    }
    .header-descr {
        display: none;
    }
    .titles {
        margin: 0 -15px;
        padding: 0;
    }
    .mobi-title {
        font-size: 16px;
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 540px) {
    .news-image {
        width: 120px;
    }
    .info-text {
        padding: 10px 15px;
    }
    .news-prev {
        font-size: 14px;
    }
    .news-date {
        font-size: 13px;
    }
}
@media (max-width: 425px) {
    .news-image {
        width: 100px;
    }
    .news-title {
        font-size: 18px;
    }
}