@media (max-width: 1200px) {
    .news-list {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .news-item {
        width: 44%;
        display: flex;
        margin: 10px;
    }
}
@media (max-width: 1100px) {
    .categories-item {
        width: 32%;
    }
    .news-last_item {
        width: 48%;
    }
    .last_item-full {
        width: 48%;
        color: #000000;
        display: block;
        background-image: none;
    }
    .last_item-full h3 {
        font-size: 20px;
    }
    .last_item-full .last-image {
        width: 100%;
    }
    .last_item-full .last-text {
        width: 100%;
        order: 1;
        margin: 0;
        font-size: 18px;
    }
    .last_item-full .fa-caret-right {
        display: none;
    }
    .last_item-full .last-img {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
    .last_item-full .last-text {
        padding: 0;
    }
    .last_item-full .last-text a {color: #000000;}
    .last_item-full .last-date {
        color: #000000;
    }
}
@media (max-width: 880px) {
    .slider-item {
        margin-left: 150px;
    }
    .news-item {
        width: 100%;
    }
}
@media (max-width: 790px) {
    .header-menu {
        -ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
    }
    .header-logo {
        -ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
        order: -1;
        margin-bottom: 10px;
    }
    .header-search {
        -ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
    }
    .header-social {
        display: none;
    }
    .categories-item {
        width: 48%;
    }
    .header-slider {
        width: 98%;
        margin: 0 auto;
    }
    .slider-item {
        margin-left: 0;
    }
    .slider-img {
        max-width: 100%;
    }
    .slider-title {
        position: absolute;
        top: 25%;
        left: 30px;
        font-size: 40px;
        color: hsl(240, 5%, 11%);
    }
    .slider-desc {
        top: 45%;
        left: 30px;
        font-size: 14px;
    }
    .slider-more {
        bottom: 18px;
        left: 30px;
    }
    .last_item-full {
        width: 100%;
    }
    .news-last_item {
        width: 100%;
    }
    .footer-up, .footer-down {
        padding: 0;
    }
    .footer-up .col-6 {
        -ms-flex: 0 0 100%;
		flex: 0 0 100%;
        max-width: 100%;
        text-align: center!important;
        margin: 10px 0;
    }
    .footer-down .col-6 {
        -ms-flex: 0 0 100%;
		flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
        margin: 10px 0;
    }
    .footer-social {
        justify-content: center;
    }
    .footer-item {
        margin: 0 10px;
    }
}
@media (max-width: 680px) {
    .header-menu,
    .header-search {
        -ms-flex: 0 0 100%;
		flex: 0 0 100%;
        max-width: 100%;
        text-align: center!important;
    }
    .header-list {
        margin: 10px 0;
        justify-content: center;
    }
    .header-item-nav {
        display: block;
        position: absolute;
        left: 0;
    }
    .slider-desc {
        top: 50%;
    }
    .categories {
        margin-top: 60px;
    }
    .categories-nav {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .categories-items {
        width: 100%;
    }
}
@media (max-width: 560px) {
    .content {
        padding: 0 10px;
    }
    .header-search {
        display: none;
    }
    .slider-desc {
        display: none;
    }
    .slider-title {
        font-size: 20px;
        background-image: none;
    }
    .slider-link {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 0;
        font-size: 12px;
    }
    .trigonal {
        background-color: transparent;
        padding: 10px 20px;
        margin-left: 20px;
        color: hsl(0, 0%, 100%);
    }
    .categories-item {
        width: 100%;
    }
    .categories-image {
        height: auto;
    }
    .news-item {
        flex-wrap: wrap;
    }
    .news-item, .news-image {
        width: 100%;
    }
    .news-img {
        width: 100%;
        height: auto;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .news-text a {
        font-size: 16px;
    }
    .news-last h3 {
        font-size: 18px;
    }
}