/* 
    Coding by alienshooter 
    alienshootah.github.io
*/

html {
    scroll-behavior: smooth;
  }

/* Шрифты */
@font-face {
    font-family: 'PancettaProRegular';
    src: url(../fonts/Pancettaproregular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Основные стили */
body {
    font-family: 'PancettaProRegular', Arial, sans-serif;
    line-height: 1.2;
}
.container-fluid, .row {
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
}
.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
h2 {
    font-size: 50px;
    color: #2b0c06;
}
a {
    transition: all 0.5s;
}

/* Шапка */
header {
    background-color: #4d351c;
    color: #ffffff;
    padding: 5px 0;
}
.header-body {
    align-items: center;
}
.header-logo {padding: 0;}
.header-contacts {padding: 0;}
.header-heraldic {padding: 0;}
.contacts-list {
    list-style: none;
    padding: 0;
    margin: 0 0 0 50px;
    display: flex;
    justify-content: flex-end;
    font-size: 16px;
}
.contacts-item {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.contacts-icons {
    margin-right: 10px;
}
.contacts-link,
.contacts-link:hover,
.contacts-link:focus {
    color: #ffffff;
}

/* Навигация */
.navbar-mobile {display: none;}
.navbar-special {
    display: none;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
}
#navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 9999;
}
nav {
    background-color: rgba(163, 138, 110, 1); 
}
.nav-back {
    display: none;
}
.navbar {
    font-size: 18px;
    justify-content: center;
    margin: 0 -25px;
}
.navbar-item {
    margin: 0 25px;
}
.navbar-item a {
    color: #140b02;
}

/* Дымоходы и вентиляторы */
.promo {
    background-image: url(../img/promo-bg2.jpg);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 20px;
    margin-top: 120px;
}
.promo-body {
    margin-left: 75px;
}
.promo-body-second {
    margin-left: 0;
    margin-right: 55px;
    margin-top: 25px;
}
.promo-body .col-3 {
    padding: 0;
}
.promo-card2 {margin-top: 25px;}
.promo-title {
    color: #e8d6c2;
    font-size: 50px;
    line-height: 1;
}
.promo-title-two {
    color: #140b02;
}
.promo-down {
    margin-top: 20px;
}
.promo-down2 {
    margin-top: 10px;
}
.promo-image {
    margin: 25px 0 10px 0;
}
.promo-button {
    font-size: 20px;
    color: #000000;
    background-color: rgb(193, 165, 95);
    box-shadow: 5px 8.66px 8.37px 0.63px rgba(118, 59, 47, 0.15);
    padding: 10px 60px;
    border: 2px solid rgb(193, 165, 95);
}
.promo-button:hover,
.promo-button:focus {
    color: #000000;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #000000;
}
.promo-button-zwo {
    padding: 10px 20px;
}
.promo-list {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    color: #e8d6c2;
    display: flex;
    justify-content: flex-start;
    text-align: center;
    font-size: 19px;
    flex-wrap: wrap;
    line-height: 1.2;
}
.promo-list-two {
    color: #140b02;
    justify-content: flex-end;
    margin: 45px 25px 40px -30px;
    justify-content: flex-end;
}
.promo-item {
    width: 29%;
    margin: 0 10px;
}
.promo-item img {
    margin: 5px 0;
}
.promo-item2 {
    margin-top: -40px;
}
.promo-item3 {
    margin-top: 90px;
    margin-left: 30px;
}
.promo-item4 {
    margin-top: 50px;
    margin-left: 25px;
}
.promo-item5 {
    margin-top: 140px;
}
.promo-item6 {
    margin-top: 115px;
}
.promo-item8 {
    margin-top: -45px;
}

/* Гарантии */
.quality {
    padding: 15px 0 35px 0;
}
.quality-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
.quality-item {
    display: flex;
    width: 33%;
    margin: 0 25px;
}
.quality-icon {
    margin-right: 25px;
    width: 60px;
}
.quality-title {
    color: #460e02;
    font-size: 22px;
    margin-bottom: 10px;
}
.quality-text {
    margin-top: 10px;
}

/* Акции */
.actions {
    padding: 35px 0 55px 0;
    background-image: url(../img/actions-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.actions-slider {
    display: flex;
    justify-content: center;
    padding: 20px 0 20px 0;
    align-items: center!important;
    width: 85%;
    margin: 0 auto;
}
.actions-item {
    width: 50%;
    background-color: #ffffff;
    padding: 115px 60px 50px 60px;
    margin: 10px 30px;
    border: 2px solid #555555;
    font-size: 28px;
    position: relative;
    z-index: 1000;
    align-self: center;
    min-height: 450px;
}
.actions-item p {
    padding: 0;
    margin: 20px 0;
}
.actions-title {
    font-size: 36px;
    color: #460e02;
    font-weight: bold;
}
.actions-button {
    text-align: center;
    margin-top: 60px;
}

/* Стили слайдера */
.slick-track {padding-top: 0;}
.slick-prev:before, .slick-next:before 
{ font-family: "slick"; font-size: 60px; line-height: 1; color: #000; opacity: 1; 
    -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }   

.slick-prev:before { content: url(../img/actions-slider-prev.png); }
[dir="rtl"] .slick-prev:before { content: url(../img/actions-slider-next.png); }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto;}
.slick-next:before { content: url(../img/actions-slider-next.png); }
[dir="rtl"] .slick-next:before { content: url(../img/actions-slider-prev.png); }
.slick-prev, .slick-next {
    top: 47%;
}
.slick-prev {left: -55px; z-index: 100;}
.slick-next {right: -40px; z-index: 100;}

/* Пагинация слайдера */

.slick-dots {
    bottom: -7px;
    left: 0;
}
.slick-dots li {
    margin: 0 15px;
}
.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    color: hsla(0, 0%, 0%, 0);
    border: 0;
    outline: none;
    background: hsla(0, 0%, 0%, 0);
    border: 2px solid hsl(43, 50%, 61%);
    border-radius: 100%;
}
.slick-dots li button:before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 26px;
    line-height: 31px;
    width: 30px;
    height: 30px;
    content: '\f111';
    opacity: .8;
    color: hsl(31, 56%, 89%);
}
.slick-dots li.slick-active button {
    width: 35px;
    height: 35px;
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #ceb26b;
    box-shadow: 0 0 0pt 2pt #d3bca5;
    border-radius: 100%;
    margin: 2px;
}
.slick-dots li:hover button:before,
.slick-dots li:focus {
    opacity: 1;
    color: #ceb26b;
    box-shadow: 0 0 0pt 2pt #d3bca5;
    border-radius: 100%;
    margin: 2px;
    border: 0;
}
.slick-dots li.slick-active button,
.slick-dots li button:hover,
.slick-dots li button:focus {
    border: 0;
}

/* Консультация */
.consult {
    padding: 40px 0;
    font-size: 28px;
}
.consult h2 {
    margin-bottom: 20px;
}
.consult-button {margin-top: -10px;}
.consult-btn {
    font-size: 24px;
    padding: 10px 60px;
}

/* О нас */
.about {
    padding-top: 30px;
    background-image: url(../img/about-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-body {
    margin: 20px 0;
    font-size: 20px;
}
.about-text {
    padding-left: 0;
    padding-right: 60px;
}
.about-images {
    padding-top: 30px;
    padding-right: 0;
    padding-left: 30px;
}
.about-image {
    margin: 1px;
    border-width: 1px;
    border-color: rgb(77, 26, 15);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 8.66px 8.19px 0.81px rgba(91, 38, 27, 0.143);
}
.about-image2 {
    float: left;
    position: relative;
    z-index: 500;
    margin-top: -180px;
    left: -40px;
}
.about-image3 {
    position: relative;
    z-index: 1000;
    margin-top: -100px;
    margin-right: 40px;
    left: 0;
}

/* Список - экспорт */
.export {
    background-color: rgba(77, 47, 15, 0.82);
    color: #e8d6c2;
    padding: 30px 0 5px 0;
    margin-top: 40px;
}
.export-list {
    list-style: none;
    padding: 0;
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    text-align: center;
    align-items: top;
}
.export-item {
    margin: 10px;
}
.export-image {
    margin-bottom: 20px;
}

/* Каталог */
.catalog {
    padding: 30px 0 40px 0;
    background-image: url(../img/catalog-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.catalog-body {
    font-size: 22px;
    margin: 25px 0;
    padding: 20px 30px;
    background-color: rgb(246, 244, 244);
    box-shadow: 2.5px 4.33px 8.37px 0.63px rgba(91, 38, 27, 0.151);
}
.catalog-wents {
    margin-top: 20px;
}
.catalog-button_link {
    background-color: rgb(138, 126, 98);
    padding: 10px 35px;
    color: #000000;
    font-size: 24px;
}
.catalog-button_link:hover,
.catalog-button_link:focus,
.catalog-button_link.active {
    text-decoration: none;
    color: #000000;
    background-color: rgb(169, 157, 129);
    box-shadow: inset 2px 3.464px 8.64px 0.36px rgba(0, 1, 0, 0.31);
}
.catalog-header {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.catalog-types {
    padding: 0;
}
.catalog-power {
    padding-left: 0;
    padding-right: 80px;
}
.catalog-pressure {
    padding: 0;
}
.range-fields {
    width: 270px;
    padding: 0;
}
.range-fields2 {
    width: 280px;
}

.catalog-result {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.results-field {
    width: 60px;
    height: 30px;
    font-size: 14px;
}



.catalog-main {
    background-color: #8a7e62;
    padding: 10px;
    margin: 10px 0;
}
.catalog-results {
    display: flex;
    margin: 0;
}
.catalog-card {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    width: 49%;
    font-size: 18px;
}
.card-image {
    float: right;
    border: 1px solid #aeaeae;
    width: 188px;
    height: 188px;
}
.card-title {
    font-size: 24px;
}
.card-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.card-button {
    margin-top: 70px;
    margin-bottom: 10px;
}
.catalog-more {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Стили ренжей в каталоге */
input[type=range] {
    -webkit-appearance: none;
  
    margin: 13.8px 0;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: #cecccc;
    border-radius: 0;
    border: 0.2px solid #a2a2a2;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 20px;
    width: 10px;
    border-radius: 3px;
    background: #6c6400;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
      background: #6c6400;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #6c6400;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #6c6400;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
      background: #cecccc;
    border: 0.2px solid #a2a2a2;
    border-radius: 0;
  }
  input[type=range]::-ms-fill-upper {
    background: #cecccc;
    border: 0.2px solid #a2a2a2;
    border-radius: 0;
  }
  input[type=range]::-ms-thumb {
    border: 1px solid #a2a2a2;
    height: 36px;
    width: 16px;
    border-radius: 0px;
    background: #6c6400;
    cursor: pointer;
    height: 8.4px;
  }
  input[type=range]:focus::-ms-fill-lower {
      background: #cecccc;
  }
  input[type=range]:focus::-ms-fill-upper {
      background: #cecccc;
  }

/* Стили переключателя таблицы и карточек */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 22px;
        margin: 0 5px;
    }
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }
    .slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 22px;
        left: 8px;
        bottom: 0px;
        background-color: #9e9683;
        -webkit-transition: .4s;
        transition: .4s;
    }
    input:checked + .slider {
        background-color: #594e37;  
    }
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(23px);
        -ms-transform: translateX(23px);
        transform: translateX(23px);
    }
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    .slider.round:before {
        border-radius: 50%;
    }

.table-cat {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.table-cat thead {
    text-align: center;
}
.table-cat thead th {
    vertical-align: middle;
    position: relative;
    padding: 10px 6px 15px 6px;
}
.table-change {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Отзывы */
.parts {
    padding: 30px 0 60px 0;
    background-image: url(../img/parts-bg.jpg);
    background-size: cover;
    color: #e8d6c2;
}
.parts h2 {
    color: #e8d6c2;
}
.parts-descr {
    font-size: 30px;
}
.parts-list {
    list-style: none;
    padding: 0;
    margin: 50px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 22px;
}
.parts-item {
    width: 42%;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}
.parts-image {
    border: 3px solid #e8d6c2;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin-right: 20px;
}
.parts-item-left {
    padding-left: 100px;
    padding-top: 20px;
}
.parts-more {
    margin-top: 60px;
}
.parts-button {
    font-size: 24px;
    padding: 15px 20px;
}

/* Отзывы */
.reviews {
    padding: 25px 0 55px 0;
}
.reviews-slider {
    width: 79%;
    padding: 20px 0 30px 0;
    margin: 0 auto;
}
.reviews-item {
    font-size: 20px;
    border-width: 1px;
    border-color: rgb(186, 146, 102);
    border-style: solid;
    background-color: rgb(213, 203, 174);
    box-shadow: 5px 8.66px 8.19px 0.81px rgba(91, 38, 27, 0.143);

}
.reviews-body {
    display: flex;
}
.reviews-img {
    background-color: #ffffff;
}
.reviews-image {
    width: 100%; 
    width: 180px;
    height: 250px;
}
.reviews-title {
    font-size: 24px;
    color: #460e02;
}
.reviews-text {
    padding: 20px 30px;
}
.reviews p {
    margin: 0;
}
.reviews-slider .slick-dots {
    bottom: -25px;
    left: 0;
}
.reviews-slider .slick-prev, .reviews-slider .slick-next {
    top: 43%;
}
/* Задать вопрос */
.questions {
    padding: 25px 0 45px 0;
    background-image: url(../img/questions-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.questions-desc {
    font-size: 30px;
    margin-top: 15px;
}
.questions-body {
    padding: 30px 40px;
    width: 90%;
    margin: 50px auto;
    width: 84%;
    background-color: rgba(88, 69, 49, 0.851);
    box-shadow: 5px 8.66px 8.19px 0.81px rgba(91, 38, 27, 0.043);
}
.questions-more {
    margin: 40px 0 0 0;
}
.questions-button {
    font-size: 22px;
    padding: 10px 30px;
}
.questions-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
    font-style: italic!important;
}
.questions-form_small {
    width: 31%;
    margin: 10px 0;
}
.questions-form_big {
    width: 100%;
    margin: 20px 0 10px 0;
}
.questions-field {
    border-width: 1px;
    border-color: rgb(235, 210, 188);
    border-style: solid;
    background-color: rgb(254, 249, 243);
    padding: 10px;
    width: 100%;
    height: 50px;
}
.questions-field::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-style: italic!important;
    opacity: 1; /* Firefox */
}

.questions-field:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic!important;
}

.questions-field::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic!important;
}
.questions-field-sel {
    padding: 12.5px 10px;
    height: 50px;
    color: #75758a;
    font-style: italic!important;
}
textarea.questions-field {
    height: auto;
}

/* Гарантии */
.garanties {
    padding: 80px 0 100px 0;
    background-image: url(../img/garanties-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
}
.garanties-body {
    display: flex;
    justify-content: space-between;
}
.garanties-body_item {
    width: 33%;
}
.garanties-title {
    color: #e8d6c2;
    font-size: 48px;
}
.garanties-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-size: 20px;
}
.garanties-item {
    margin: 5px 0;
    padding-right: 100px;
}
.garanties-item span {
    color: #e8d6c2;
}

/* Карта */
.map {
    background-image: url(../img/map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.map-title {
    text-align: center;
    position: absolute;
    padding: 30px 0;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100%;
    top: 0;
    margin: 0;
    font-size: 50px;
    color: #460e02;
}
.map-wrap {
    width: 100%;
    height: 700px;
}
.map-card {
    position: absolute;
    top: 30%;
    left: 46%;
    background: #ffffff;
    padding: 50px 30px;
    color: #460e02;
    font-size: 18px;
    border-width: 1px;
    border-color: rgb(77, 53, 28);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    box-shadow: 3.5px 6.062px 8.19px 0.81px rgba(91, 38, 27, 0.051);
}
.map-card_title {
    font-size: 24px;

}
.map-link,
.map-link:hover,
.map-link:focus {
    color: #460e02;
}
.map-links {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}

.map-icon {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.map-icon-two {
    margin-left: 8px;
}

/* Подвал */
footer {
    background-color: #4d351c;
    color: #e8d6c2;
    padding: 40px 0;
    margin-top: -7px;
}
.footer-up .col-8,
.footer-down .col-8 {
    padding-right: 0;
}
footer a,
footer a:hover,
footer a:focus {
    color: #e8d6c2;
}
.footer-nav {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
}
.footer-item:last-child::after {
    content: none;
}
.footer-item::after {
    content: '/';
    padding: 0 22px;
}
.footer-down {
    margin-top: 5px;
    align-items: center;
}
.footer-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    font-size: 20px;
    justify-content: flex-end;
}
.icons-item i {
    border: 1px solid #e8d6c2;
    padding: 3px;
    margin: 5px;
    border-radius: 100%;
}
.icons-item i:hover,
.icons-item i:focus {
    background-color: #e8d6c2;
    color: #4d351c;
}
.icons-item .fa-instagram {
    padding: 3px 4px;
}
.icons-item .fa-facebook-f {
    padding: 3px 8px;
}
.icons-item .fa-vk {
    padding: 3px 2px;
}