@@include('template/layout/head.html')
<body ontouchstart>
@@include('template/layout/oldbrowser.html')


<!-- wrapper -->
<div class="wrapper-main">
	<div class="wrapper">
		@@include('template/layout/header-loginned.html') 

		<!-- content -->
		<div class="content" role="main">
			<div class="about">
				<div class="container container--small">
					<article class="about__article static-content">
						<h1>О нас</h1>
						<p>Наш сервис — это онлайн ресурс, где родители могут найти и зарезервировать няню или бебиситтера, рекомендованные еще другими родителями. Ищете часовую няню, няню приходящую или срочную? Находите своих нянь по дате и времени, резервируйте время няни, договаривайтесь о собеседовании с нянями – это быстро, легко и эффективно.</p>
						<p class="size-xlarge"><strong>На нашем сайте успешно работают более 64 000 нянь по всей территории СНГ. <br>Выбирайте свой город и начинайте поиск няни!</strong></p>
					</article>
				</div>
				<div class="container">
					<div class="statistics">
						<div class="statistics__list">
							<div class="statistics__list-row">
								<div class="statistics__list-row-item">
									<div class="statistics-item">
										<div class="statistics-item__holder">
											<img src="pic/about/photo-01.png" alt="About" class="statistics-item__image">
										</div>
										<span class="statistics-item__info">Родители  <span class="pink">150 000+</span></span>
									</div>
								</div>
								<div class="statistics__list-row-item">
									<div class="statistics-item">
										<div class="statistics-item__holder">
											<img src="pic/about/photo-02.png" alt="About" class="statistics-item__image">
										</div>
										<span class="statistics-item__info">Няни <span class="pink">64000+</span></span>
									</div>
								</div>
							</div>
							<div class="statistics__list-row">
								<div class="statistics__list-row-item">
									<div class="statistics-item">
										<div class="statistics-item__holder">
											<img src="pic/about/photo-03.png" alt="About" class="statistics-item__image">
										</div>
										<span class="statistics-item__info">Реальные отзывы <span class="pink">200 000+</span></span>
									</div>
								</div>
								<div class="statistics__list-row-item">
									<div class="statistics-item">
										<div class="statistics-item__holder">
											<img src="pic/about/photo-04.png" alt="About" class="statistics-item__image">
										</div>
										<span class="statistics-item__info">Страны <span class="pink">5</span></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="about-map">
					<div class="container">
						<h2 class="about-map__title">Доступные города <span class="pink">100+</span></h2>
					</div>
					<img src="img/about-map.png" alt="About map" class="about-map__image">
				</div>
			</div>

			<!-- content-bottom-search -->
			<div class="content-bottom-search content-bottom-search--gray">
				<div class="container">
					<h3 class="content-bottom-search__title">Не хватает свободного времени на важные дела? Найдите няню прямо сейчас!</h3>
					@@include('template/blocks/search.html')
				</div>
			</div>
			<!-- content-bottom-search end -->
		</div>
		<!-- content end -->
		
		<div class="footer-spacer"></div>
	</div>

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</div>
<!-- wrapper end -->
</body>
</html> 