@@include('template/layout/head.html')
<body ontouchstart>
@@include('template/layout/oldbrowser.html')


		@@include('template/layout/header-loginned.html')

		<!-- content -->
		<div class="content lk" role="main">
			<!-- lk aside -->
			@@include('template/blocks/lk-aside.html', {
				"calendar": "true"
			})
			<!-- lk aside end -->

			<!-- lk content -->
			<div class="lk-content">
				<div class="lk-content__position">
					<div class="lk-content__item js-section" id="lk-calendar">
						<div class="lk-content__top">
							<h2 class="lk-content__title">Рабочий календарь</h2>
						</div>
						<div class="lk-calendar">
							<p class="lk-content__text lk-content__text--medium">Рабочий календарь позволяет максимально эффективно использовать свое время, получать заказы только на приемлемое для Вас время и максимизировать свои доходы.</p>
							<p class="lk-content__text lk-content__text--medium">Для получения заказов (бронирований) от родителей Вам необходимо указать дни недели и время, в которое Вы готовы работать (например, с понедельника по пятницу с 9 утра до 6 вечера). Именно только внутри этого интервала клиенты смогут Вам предложить работу.</p>
							<p class="lk-content__text lk-content__text--medium">Также мы рекомендуем указать минимальный и максимальный срок заказа Ваших услуг, поскольку для некоторых нянь заказы на 1 день или неделю неприемлемы. </p>
							<p class="lk-content__text lk-content__text--medium">В рабочем календаре Вы можете отслеживать Ваш рабочий график, заказы (бронирования) от клиентов, оставлять заметки на определенные дни, а также более точно выбрать рабочие и нерабочие дни / часы, если у Вас нерегулярный режим работы.</p>
							<p class="lk-content__text lk-content__text--medium">Желаем успеха.</p>
							<h3 class="lk-title-h3">Быстрое распределение рабочего времени</h3>
							<p class="lk-content__text lk-content__text--medium">В какие дни недели и часы Вы готовы работать?</p>
							<div class="lk-calendar-table">
								<span class="lk-calendar-table__text">Кликните по дню недели для его<br> включения либо отключения</span>
								<ul class="lk-calendar-table__list">
									<li class="lk-calendar-table__list-item">
										<div class="lk-calendar-table__list-head">
											<label class="checkboxes-group-item">
												<input type="checkbox" class="checkboxes-group-item__check" checked="">
												<div class="checkboxes-group-item__decor">Пн</div>
											</label>
										</div>
										<div class="lk-calendar-table__list-body js-time-parent">
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="first">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="second">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
										</div>
									</li>
									<li class="lk-calendar-table__list-item">
										<div class="lk-calendar-table__list-head">
											<label class="checkboxes-group-item">
												<input type="checkbox" class="checkboxes-group-item__check" checked="">
												<div class="checkboxes-group-item__decor">Вт</div>
											</label>
										</div>
										<div class="lk-calendar-table__list-body js-time-parent">
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="first">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="second">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
										</div>
									</li>
									<li class="lk-calendar-table__list-item">
										<div class="lk-calendar-table__list-head">
											<label class="checkboxes-group-item">
												<input type="checkbox" class="checkboxes-group-item__check" checked="">
												<div class="checkboxes-group-item__decor">Ср</div>
											</label>
										</div>
										<div class="lk-calendar-table__list-body js-time-parent">
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="first">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="second">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
										</div>
									</li>
									<li class="lk-calendar-table__list-item">
										<div class="lk-calendar-table__list-head">
											<label class="checkboxes-group-item">
												<input type="checkbox" class="checkboxes-group-item__check" checked="">
												<div class="checkboxes-group-item__decor">Чт</div>
											</label>
										</div>
										<div class="lk-calendar-table__list-body js-time-parent">
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="first">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="second">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
										</div>
									</li>
									<li class="lk-calendar-table__list-item">
										<div class="lk-calendar-table__list-head">
											<label class="checkboxes-group-item">
												<input type="checkbox" class="checkboxes-group-item__check" checked="">
												<div class="checkboxes-group-item__decor">Пт</div>
											</label>
										</div>
										<div class="lk-calendar-table__list-body js-time-parent">
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="first">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="second">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
										</div>
									</li>
									<li class="lk-calendar-table__list-item">
										<div class="lk-calendar-table__list-head">
											<label class="checkboxes-group-item">
												<input type="checkbox" class="checkboxes-group-item__check">
												<div class="checkboxes-group-item__decor">Сб</div>
											</label>
										</div>
										<div class="lk-calendar-table__list-body js-time-parent">
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="first">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="second">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
										</div>
									</li>
									<li class="lk-calendar-table__list-item">
										<div class="lk-calendar-table__list-head">
											<label class="checkboxes-group-item">
												<input type="checkbox" class="checkboxes-group-item__check">
												<div class="checkboxes-group-item__decor">Вс</div>
											</label>
										</div>
										<div class="lk-calendar-table__list-body js-time-parent">
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="first">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
											<div class="lk-calendar-table__list-row">
												<select class="select select--small select--height-small js-select" data-time="second">
													<option value="1" selected="">09:00</option>
													<option value="2">08:00</option>
												</select>
											</div>
										</div>
									</li>
								</ul>
								<p class="lk-calendar-table__desc lk-content__text">Тонкие коррективы можно внести в календаре щелкнув по необходимой дате, выбрать диапазон дат, забронировать его либо разблокировать, указать период времени для работы. </p>
							</div>
							<h3 class="lk-title-h3">Настройки доступности</h3>
							<div class="lk-calendar-settings">
								<div class="lk-calendar-settings__item">
									<span class="lk-calendar-settings__title">Минимальный срок заказа:</span>
									<div class="lk-calendar-settings__box">
										<span class="work-input">
											<input type="number" class="work-input__input" value="5">
											<span class="work-input__desc">Дней</span>
										</span>
									</div>
								</div>
								<div class="lk-calendar-settings__item">
									<span class="lk-calendar-settings__title">Максимальный срок заказа:</span>
									<div class="lk-calendar-settings__box">
										<span class="work-input">
											<input type="number" class="work-input__input" value="90">
											<span class="work-input__desc">Дней</span>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- lk content end -->
		</div>
		<!-- content end -->



@@include('template/layout/lk-footer-head.html')
<script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
</body>
</html> 
 