@@include('template/layout/head.html')
<body ontouchstart>
@@include('template/layout/oldbrowser.html')


		@@include('template/layout/header-loginned.html')

		<!-- content -->
		<div class="content lk" role="main">
			<!-- lk aside -->
			@@include('template/blocks/lk-aside.html', {
				"reviews": "true"
			})
			<!-- lk aside end -->

			<!-- lk content -->
			<div class="lk-content">
				<div class="lk-content__position">
					<div class="lk-content__item js-section lk-reviews" id="lk-reviews">
						<div class="lk-content__top">
							<h2 class="lk-content__title">Отзывы о Вас</h2>
						</div>
						<p class="lk-content__text lk-content__text--medium">После завершения оказания услуг на нашем сайте пользователи (родители и няни) могут оставить отзыв друг о друге. <br>Мы рекомендуем именно так и поступать, поскольку родители доверяют больше няням с отзывами от других родителей, а сами няни охотнее работают с клиентами о которых есть информация от ранее нанимаемых ими нянь.</p>
						<p class="lk-content__text lk-content__text--medium">Репутация имеет большое значение на нашем сайте и значительно влияет на выбор сотрудника.</p>
						<p class="lk-content__text lk-content__text--medium">Полученые Вами отзывы отображаются в Вашей анкете.</p>
						<!-- comments -->
						<div class="comments lk-reviews__comments">
							<ul class="comments-list">
								<li class="comments-list__item">
									<div class="comment">
										<div class="comment__left">
											<div class="comment__image">
												<a href="#"><img src="pic/comment/comment-01.jpg" alt="" class="comment__image-img"></a>
											</div>
											<div class="comment__author"><a href="#">Анастасия</a></div>
										</div>
										<div class="comment__right">
											<div class="comment__right-top">
												<div class="comment__right-top-left">
													<div class="stars comment__right-top-left-stars">
														<div class="stars__inner" style="width:100%;"></div>
													</div>
												</div>
												<div class="comment__right-top-center">
													<div class="comment-false js-modal-comment-false-parent">
														<a href="#" class="comment-false__link js-modal-comment-false-open">
															<span class="comment-false__link-ico icon-info-blue"></span>
															<span class="comment-false__link-text">Сообщить о ложном отзыве</span>
														</a>
														<div class="comment-false__drop">
															
														</div>
													</div>
												</div>
												<div class="comment__right-top-right">
													<div class="comment__date">06 января 2016</div>
												</div>
											</div>
											<div class="comment__right-bottom">
												<ul class="comment-messages-list">
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--plus">Найти няню без посредников стало намного проще. На сервисе НашаНяня Вы найдете множество анкет квалифицированных и опытных нянь, проживающих в Вашем городе. </div>
													</li>
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--minus">Не обнаружено!</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="comments-list__item">
									<div class="comment">
										<div class="comment__left">
											<div class="comment__image">
												<a href="#"><img src="pic/comment/comment-01.jpg" alt="" class="comment__image-img"></a>
											</div>
											<div class="comment__author"><a href="#">Анастасия</a></div>
										</div>
										<div class="comment__right">
											<div class="comment__right-top">
												<div class="comment__right-top-left">
													<div class="stars comment__right-top-left-stars">
														<div class="stars__inner" style="width:100%;"></div>
													</div>
												</div>
												<div class="comment__right-top-center">
													<div class="comment-false js-modal-comment-false-parent">
														<a href="#" class="comment-false__link js-modal-comment-false-open">
															<span class="comment-false__link-ico icon-info-blue"></span>
															<span class="comment-false__link-text">Сообщить о ложном отзыве</span>
														</a>
														<div class="comment-false__drop">
															
														</div>
													</div>
												</div>
												<div class="comment__right-top-right">
													<div class="comment__date">06 января 2016</div>
												</div>
											</div>
											<div class="comment__right-bottom">
												<ul class="comment-messages-list">
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--plus">Найти няню без посредников стало намного проще. На сервисе НашаНяня Вы найдете множество анкет квалифицированных и опытных нянь, проживающих в Вашем городе. </div>
													</li>
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--minus">Не обнаружено!</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
								<li class="comments-list__item">
									<div class="comment">
										<div class="comment__left">
											<div class="comment__image">
												<a href="#"><img src="pic/comment/comment-01.jpg" alt="" class="comment__image-img"></a>
											</div>
											<div class="comment__author"><a href="#">Анастасия</a></div>
										</div>
										<div class="comment__right">
											<div class="comment__right-top">
												<div class="comment__right-top-left">
													<div class="stars comment__right-top-left-stars">
														<div class="stars__inner" style="width:50%;"></div>
													</div>
												</div>
												<div class="comment__right-top-center">
													<div class="comment-false js-modal-comment-false-parent">
														<a href="#" class="comment-false__link js-modal-comment-false-open">
															<span class="comment-false__link-ico icon-info-blue"></span>
															<span class="comment-false__link-text">Сообщить о ложном отзыве</span>
														</a>
														<div class="comment-false__drop">
															
														</div>
													</div>
												</div>
												<div class="comment__right-top-right">
													<div class="comment__date">06 января 2016</div>
												</div>
											</div>
											<div class="comment__right-bottom">
												<ul class="comment-messages-list">
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--plus">Найти няню без посредников стало намного проще. На сервисе НашаНяня Вы найдете множество анкет квалифицированных и опытных нянь, проживающих в Вашем городе. </div>
													</li>
													<li class="comment-messages-list__item">
														<div class="comment-message comment-message--minus">Не обнаружено!</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<!-- comments end -->
					</div>
					<div class="lk-content__item js-section lk-reviews" id="lk-my-reviews">
						<div class="lk-content__top">
							<h2 class="lk-content__title">Ваши отзывы</h2>
						</div>
						<p class="lk-content__text">После завершения сотрудничества с няней/родителем оставьте свой отзыв ою этом. Старайтесь быть объективным. Это поможет другим пользователям больше узнать о данном человеке. </p>
						<div class="lk-reviews__tab js-reviews-tab-parent">
							<div class="lk-reviews__tab-nav">
								<div class="checkboxes-group checkboxes-group--lk lk-reviews__checkboxes">
									<ul class="checkboxes-group__list">
										<li class="checkboxes-group__list-item">
											<label class="checkboxes-group-item">
												<input type="radio" class="checkboxes-group-item__check js-reviews-tab-link" name="radio50" checked="" value="1">
												<div class="checkboxes-group-item__decor">Отзывы, которые необходимо написать</div>
											</label>
										</li>
										<li class="checkboxes-group__list-item">
											<label class="checkboxes-group-item">
												<input type="radio" class="checkboxes-group-item__check js-reviews-tab-link" name="radio50" value="2">
												<div class="checkboxes-group-item__decor">Оставленные мною отзывы</div>
											</label>
										</li>
									</ul>                  
								</div>
							</div>
							<div class="lk-reviews__tab-cont">
								<ul class="lk-reviews__list js-reviews-tab-box" data-tab="1">
									<li class="lk-reviews__list-item">
										<div class="lk-reviews__list-image">
											<img class="lk-reviews__list-img" src="pic/comment/comment-01.jpg" alt="">
										</div>
										<div class="lk-reviews__list-desc">
											<a href="#" class="lk-reviews__list-name">Виктория</a>
											<span class="lk-reviews__list-info">Бронирование: 00123456 на 20 марта 2016 - 30 мая 2016</span>
										</div>
										<div class="lk-reviews__list-right js-modal-comment-form-parent">
											<a href="#" class="lk-reviews__list-btn btn btn-pink btn-pink--middle js-modal-comment-form-open">
												<span class="icon-comment-white lk-reviews__list-btn-ico"></span>
												<span class="lk-reviews__list-btn-text">Оставить отзыв</span>
											</a>
											<div class="js-modal-comment-form-cont lk-reviews__list-drop">
												
											</div>
										</div>
									</li>
									<li class="lk-reviews__list-item">
										<div class="lk-reviews__list-image">
											<img class="lk-reviews__list-img" src="pic/comment/comment-01.jpg" alt="">
										</div>
										<div class="lk-reviews__list-desc">
											<a href="#" class="lk-reviews__list-name">Виктория</a>
											<span class="lk-reviews__list-info">Бронирование: 00123456 на 20 марта 2016 - 30 мая 2016</span>
										</div>
										<div class="lk-reviews__list-right js-modal-comment-form-parent">
											<a href="#" class="lk-reviews__list-btn btn btn-pink btn-pink--middle js-modal-comment-form-open">
												<span class="icon-comment-white lk-reviews__list-btn-ico"></span>
												<span class="lk-reviews__list-btn-text">Оставить отзыв</span>
											</a>
											<div class="js-modal-comment-form-cont lk-reviews__list-drop">
												
											</div>
										</div>
									</li>
									<li class="lk-reviews__list-item">
										<div class="lk-reviews__list-image">
											<img class="lk-reviews__list-img" src="pic/comment/comment-01.jpg" alt="">
										</div>
										<div class="lk-reviews__list-desc">
											<a href="#" class="lk-reviews__list-name">Виктория</a>
											<span class="lk-reviews__list-info">Бронирование: 00123456 на 20 марта 2016 - 30 мая 2016</span>
										</div>
										<div class="lk-reviews__list-right js-modal-comment-form-parent">
											<a href="#" class="lk-reviews__list-btn btn btn-pink btn-pink--middle js-modal-comment-form-open">
												<span class="icon-comment-white lk-reviews__list-btn-ico"></span>
												<span class="lk-reviews__list-btn-text">Оставить отзыв</span>
											</a>
											<div class="js-modal-comment-form-cont lk-reviews__list-drop">
												
											</div>
										</div>
									</li>
								</ul>
								<!-- comments -->
								<div class="comments lk-reviews__comments js-reviews-tab-box" data-tab="2">
									<ul class="comments-list">
										<li class="comments-list__item">
											<div class="comment">
												<div class="comment__left">
													<div class="comment__image">
														<a href="#"><img src="pic/comment/comment-01.jpg" alt="" class="comment__image-img"></a>
													</div>
													<div class="comment__author"><a href="#">Анастасия</a></div>
												</div>
												<div class="comment__right">
													<div class="comment__right-top">
														<div class="comment__right-top-left">
															<div class="stars comment__right-top-left-stars">
																<div class="stars__inner" style="width:100%;"></div>
															</div>
														</div>
														<div class="comment__right-top-center">
															<div class="comment-false js-modal-comment-form-parent">
																<a href="#" class="comment-false__link js-modal-comment-form-open">
																	<svg class="comment-false__link-ico edit-ico">
																		<use xlink:href="#edit"></use>
																	</svg>
																	<span class="comment-false__link-text">Изменить отзыв</span>
																</a>
																<div class="js-modal-comment-form-cont lk-reviews__list-drop"></div> 
															</div>
														</div>
														<div class="comment__right-top-right">
															<div class="comment__date">06 января 2016</div>
														</div>
													</div>
													<div class="comment__right-bottom">
														<ul class="comment-messages-list">
															<li class="comment-messages-list__item">
																<div class="comment-message comment-message--plus">Найти няню без посредников стало намного проще. На сервисе НашаНяня Вы найдете множество анкет квалифицированных и опытных нянь, проживающих в Вашем городе. </div>
															</li>
															<li class="comment-messages-list__item">
																<div class="comment-message comment-message--minus">Не обнаружено!</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</li>
										<li class="comments-list__item">
											<div class="comment">
												<div class="comment__left">
													<div class="comment__image">
														<a href="#"><img src="pic/comment/comment-01.jpg" alt="" class="comment__image-img"></a>
													</div>
													<div class="comment__author"><a href="#">Анастасия</a></div>
												</div>
												<div class="comment__right">
													<div class="comment__right-top">
														<div class="comment__right-top-left">
															<div class="stars comment__right-top-left-stars">
																<div class="stars__inner" style="width:100%;"></div>
															</div>
														</div>
														<div class="comment__right-top-center">
															<div class="comment-false js-modal-comment-form-parent">
																<a href="#" class="comment-false__link js-modal-comment-form-open">
																	<svg class="comment-false__link-ico edit-ico">
																		<use xlink:href="#edit"></use>
																	</svg>
																	<span class="comment-false__link-text">Изменить отзыв</span>
																</a>
																<div class="js-modal-comment-form-cont lk-reviews__list-drop"></div> 
															</div>
														</div>
														<div class="comment__right-top-right">
															<div class="comment__date">06 января 2016</div>
														</div>
													</div>
													<div class="comment__right-bottom">
														<ul class="comment-messages-list">
															<li class="comment-messages-list__item">
																<div class="comment-message comment-message--plus">Найти няню без посредников стало намного проще. На сервисе НашаНяня Вы найдете множество анкет квалифицированных и опытных нянь, проживающих в Вашем городе. </div>
															</li>
															<li class="comment-messages-list__item">
																<div class="comment-message comment-message--minus">Не обнаружено!</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</li>
										<li class="comments-list__item">
											<div class="comment">
												<div class="comment__left">
													<div class="comment__image">
														<a href="#"><img src="pic/comment/comment-01.jpg" alt="" class="comment__image-img"></a>
													</div>
													<div class="comment__author"><a href="#">Анастасия</a></div>
												</div>
												<div class="comment__right">
													<div class="comment__right-top">
														<div class="comment__right-top-left">
															<div class="stars comment__right-top-left-stars">
																<div class="stars__inner" style="width:100%;"></div>
															</div>
														</div>
														<div class="comment__right-top-center">
															<div class="comment-false js-modal-comment-form-parent">
																<a href="#" class="comment-false__link js-modal-comment-form-open">
																	<svg class="comment-false__link-ico edit-ico">
																		<use xlink:href="#edit"></use>
																	</svg>
																	<span class="comment-false__link-text">Изменить отзыв</span>
																</a>
																<div class="js-modal-comment-form-cont lk-reviews__list-drop"></div> 
															</div>
														</div>
														<div class="comment__right-top-right">
															<div class="comment__date">06 января 2016</div>
														</div>
													</div>
													<div class="comment__right-bottom">
														<ul class="comment-messages-list">
															<li class="comment-messages-list__item">
																<div class="comment-message comment-message--plus">Найти няню без посредников стало намного проще. На сервисе НашаНяня Вы найдете множество анкет квалифицированных и опытных нянь, проживающих в Вашем городе. </div>
															</li>
															<li class="comment-messages-list__item">
																<div class="comment-message comment-message--minus">Не обнаружено!</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</li>
									</ul>
								</div>
								<!-- comments end -->
							</div>
						</div>
						<div class="pagination">
							<div class="pagination__title">Показано 1 - 20 заказов из 50</div>
							<ul class="pagination-list">
								<li class="pagination-list__item">
									<a href="#" class="pagination__link pagination__link--left"></a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link">1</a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link pagination__link--active">2</a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link">3</a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link">4</a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link pagination__link--all">...</a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link">80</a>
								</li>
								<li class="pagination-list__item">
									<a href="#" class="pagination__link pagination__link--right"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- lk content end -->
		</div>
		<!-- content end -->

                    

<!-- lk false comment popup -->
@@include('template/blocks/lk-popup-false-comment.html')
<!-- lk false comment popup end -->

<!-- lk comment popup -->
@@include('template/blocks/lk-popup-comment.html')
<!-- lk comment popup end -->

@@include('template/layout/lk-footer-head.html')

</body>
</html> 


