@@include('template/layout/head.html')
<body ontouchstart>
@@include('template/layout/oldbrowser.html')

<!-- wrapper -->
<div class="wrapper-main">
	<div class="wrapper">
		@@include('template/layout/header.html') 

		<!-- content -->
		<div class="content" role="main">
			<!-- questions -->
			<div class="questions">
				<div class="container">
					<div class="content-box js-fix-cont">
						<div class="content-box__left js-fix-block">
							<div class="side-menu side-menu--sm side-menu--questions">
								<ul class="side-menu__list">
									<li class="side-menu__list-item">
										<a href="#questions-tab-1" class="side-menu__list-item-link js-aside-tab-link">Самые частые вопросы</a>
									</li>
									<li class="side-menu__list-item">
										<a href="#questions-tab-2" class="side-menu__list-item-link js-aside-tab-link">Воросы по работе с сайтом</a>
									</li>
									<li class="side-menu__list-item">
										<a href="#questions-tab-3" class="side-menu__list-item-link js-aside-tab-link">Советы по подбору няни</a>
									</li>
									<li class="side-menu__list-item">
										<a href="#questions-tab-4" class="side-menu__list-item-link js-aside-tab-link">Вопросы по трудоустройству</a>
									</li>
									<li class="side-menu__list-item">
										<a href="#questions-tab-5" class="side-menu__list-item-link js-aside-tab-link">Вопросы по навигации</a>
									</li>
									<li class="side-menu__list-item">
										<a href="#questions-tab-6" class="side-menu__list-item-link js-aside-tab-link">Поддержка</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="content-box__right">
							<h1 class="questions__heading">Ответы на часто задаваемые вопросы</h1>
							<div class="questions__info">В данном разделе мы постарались собрать самые популярные вопросы и ответы на них</div>
							<div class="js-aside-tab-block" id="questions-tab-1">
								<h2 class="questions__title">Самые частые вопросы</h2>	
								<ul class="questions__list">
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как правильно заполнить анкету няни на сайте?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как получить хороший отзыв и оценку?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Поработав в семье, вы можете запросить у вашего Работодателя рекомендательное письмо или можете попросить его оставить отзыв о Вашей работе, а также оценить Ваши наилучшие качества и навыки. Более 96% Родителей ответили, что наличие положительных отзывов и рекомендаций о няне является главным приоритетом при выборе няни и оплате более высокой заработной платы.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как начать работу няней у вас на сайте?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне разместить объявление о поиске няни?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Есть ли у вас центр поддержки пользователей?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Сколько стоит подписка?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Какая география поиска сотрудников?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне найти няню?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне посмотреть контакты няни?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="js-aside-tab-block" id="questions-tab-2">
								<h2 class="questions__title">Вопросы по работе с сайтом</h2>	
								<ul class="questions__list">
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Есть ли у вас центр поддержки пользователей?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Сколько стоит подписка?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Какая география поиска сотрудников?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне найти няню?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне посмотреть контакты няни?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="js-aside-tab-block" id="questions-tab-3">
								<h2 class="questions__title">Советы по подбору няни</h2>	
								<ul class="questions__list">
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как правильно заполнить анкету няни на сайте?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как получить хороший отзыв и оценку?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Поработав в семье, вы можете запросить у вашего Работодателя рекомендательное письмо или можете попросить его оставить отзыв о Вашей работе, а также оценить Ваши наилучшие качества и навыки. Более 96% Родителей ответили, что наличие положительных отзывов и рекомендаций о няне является главным приоритетом при выборе няни и оплате более высокой заработной платы.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как начать работу няней у вас на сайте?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне разместить объявление о поиске няни?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Есть ли у вас центр поддержки пользователей?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Сколько стоит подписка?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Какая география поиска сотрудников?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне найти няню?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне посмотреть контакты няни?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="js-aside-tab-block" id="questions-tab-4">
								<h2 class="questions__title">Вопросы по трудоустройству</h2>	
								<ul class="questions__list">
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне найти няню?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне посмотреть контакты няни?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
							<div class="js-aside-tab-block" id="questions-tab-5">
								<h2 class="questions__title">Вопросы по навигации</h2>	
							</div>
							<div class="js-aside-tab-block" id="questions-tab-6">
								<h2 class="questions__title">Поддержка</h2>	
								<ul class="questions__list">
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как правильно заполнить анкету няни на сайте?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как получить хороший отзыв и оценку?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Поработав в семье, вы можете запросить у вашего Работодателя рекомендательное письмо или можете попросить его оставить отзыв о Вашей работе, а также оценить Ваши наилучшие качества и навыки. Более 96% Родителей ответили, что наличие положительных отзывов и рекомендаций о няне является главным приоритетом при выборе няни и оплате более высокой заработной платы.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как начать работу няней у вас на сайте?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне разместить объявление о поиске няни?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Есть ли у вас центр поддержки пользователей?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Сколько стоит подписка?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Какая география поиска сотрудников?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне найти няню?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
									<li class="questions__list-item">
										<div class="questions-item">
											<h3 class="questions-item__head js-questions-title"><span class="questions-item__head-hold">Как мне посмотреть контакты няни?</span></h3>
											<div class="questions-item__content js-questions-inner">
												<p class="questions-item__text">Анкету надо заполнить наиболее полно, если вы действительно хотите найти подходящую работу. <br>Указав больше информации о себе, ответив честно на все вопросы, четко обозначив для себя границы обязанностей, возраст детей за которыми вы готовы смотреть и заработную плату в соответствии со своим опытом, образованием и навыками.</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- questions end -->
		</div>
		<!-- content end -->
		
		<div class="footer-spacer"></div>
	</div>


<!-- popup-wrap -->
<div class="popup-wrap">
	<div class="popup-wrap__table">
		<div class="popup-wrap__table-cell">
			@@include('template/blocks/popup-login.html')
			@@include('template/blocks/popup-registration.html')
			@@include('template/blocks/popup-registration2.html')
			@@include('template/blocks/popup-restore-password.html')
			@@include('template/blocks/popup-restore-password-success.html')

			<div class="popup-wrap__overlay js-popup-close"></div>
		</div>
	</div>
</div>
<!-- popup-wrap end -->

@@include('template/layout/footer.html')
@@include('template/layout/footer-head.html')
</div>
<!-- wrapper end -->
<script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
</body>
</html> 
 