@@include('template/layout/head.html')
<body ontouchstart>
	@@include('template/layout/oldbrowser.html')

	<!-- wrapper -->
	<div class="wrapper-main">
		<div class="wrapper">
			@@include('template/layout/header-loginned-with-search.html') 

			<!-- content -->
			<div class="content" role="main">
				<!-- search-page -->
				<div class="search-page opacity-first-load">
					<!-- search-page__left -->
					<div class="search-page__left">
						<div class="search-page-form">
							<form action="#">
								<div class="search-page-form__item">
									<div class="search-page-form__item-inner">
										<h1 class="search-page__title">Поиск агентств нянь в 
											<div class="drop drop--towns drop--search-page-title drop--towns-search-page js-drop-parent">
												<div class="drop__head">
													<a href="#" class="drop-inline-blue-link js-drop-link">
														<span class="drop-inline-blue-link__text">Москве</span>
													</a>
												</div>
												<div class="drop__content js-drop-content">
													<div class="towns">
														<div class="towns__scrollpane">
															<div class="row towns__row">
																<div class="col-sm-50 towns__col">
																	<ul class="towns-list">
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor town-item__decor--strong">Москва</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Астрахань</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Барнаул</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Владивосток</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Волгоград</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Воронеж</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Екатеринбург</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Астрахань</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Барнаул</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Владивосток</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Волгоград</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Воронеж</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Екатеринбург</span>
																			</label>
																		</li>
																	</ul>
																</div>
																<div class="col-sm-50 towns__col">
																	<ul class="towns-list">
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor town-item__decor--strong">Санкт-Петербург</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Новоссибирск</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Омск</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Оренбург</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Пенза</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Пермь</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Ростов-на-Дону</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Новоссибирск</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Омск</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Оренбург</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Пенза</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Пермь</span>
																			</label>
																		</li>
																		<li class="towns-list__item">
																			<label class="town-item">
																				<input type="radio" class="town-item__radio" name="drop_search_town">
																				<span class="town-item__decor">Ростов-на-Дону</span>
																			</label>
																		</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</h1>
										<div class="search-page-form__row">
											<div class="search-page-form__row-left">
												<div class="label label--search-page-form">Наименование:</div>
											</div>
											<div class="search-page-form__row-right">
												<div class="input-item input-item--search input-item--search-button">
													<a href="#" class="icon-search-gray input-item-search__button"></a>
													<input type="text" class="input" name="search_page_fio_nanny">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="search-page-form__item js-search-page-form-item-parent">
									<div class="search-page-form__item-inner">
										<div class="search-page-form__item-toggle js-search-page-form-item-toggle"></div>
										<div class="search-page-form__row">
											<div class="search-page-form__row-left">
												<div class="label label--search-page-form">Район:</div>
											</div>
											<div class="search-page-form__row-right">
												<div class="row">
													<div class="col-sm-33">
														<ul class="checkboxes-list">
															<li class="checkboxes-list__item">
																<label class="checkbox">
																	<input type="checkbox" class="checkbox__check">
																	<span class="checkbox__icon">
																		<span class="checkbox__icon-image"></span>
																	</span>
																	<span class="checkbox__inner">
																	<span class="checkbox__text">Ленинский</span>
																	</span>
																</label>
															</li>
															<li class="checkboxes-list__item js-search-page-form-item-hidden">
																<label class="checkbox">
																	<input type="checkbox" class="checkbox__check">
																	<span class="checkbox__icon">
																		<span class="checkbox__icon-image"></span>
																	</span>
																	<span class="checkbox__inner">
																		<span class="checkbox__text">Ленинский</span>
																	</span>
																</label>
															</li>
														</ul>
													</div>
													<div class="col-sm-33">
														<ul class="checkboxes-list">
															<li class="checkboxes-list__item">
																<label class="checkbox">
																	<input type="checkbox" class="checkbox__check" checked>
																	<span class="checkbox__icon">
																		<span class="checkbox__icon-image"></span>
																	</span>
																	<span class="checkbox__inner">
																		<span class="checkbox__text">Центральный</span>
																	</span>
																</label>
															</li>
															<li class="checkboxes-list__item js-search-page-form-item-hidden">
																<label class="checkbox">
																	<input type="checkbox" class="checkbox__check">
																	<span class="checkbox__icon">
																		<span class="checkbox__icon-image"></span>
																	</span>
																	<span class="checkbox__inner">
																		<span class="checkbox__text">Ленинский</span>
																	</span>
																</label>
															</li>
														</ul>
													</div>
													<div class="col-sm-33">
														<ul class="checkboxes-list">
															<li class="checkboxes-list__item">
																<label class="checkbox">
																	<input type="checkbox" class="checkbox__check">
																	<span class="checkbox__icon">
																		<span class="checkbox__icon-image"></span>
																	</span>
																	<span class="checkbox__inner">
																		<span class="checkbox__text">Макеевский</span>
																	</span>
																</label>
															</li>
															<li class="checkboxes-list__item js-search-page-form-item-hidden">
																<label class="checkbox">
																	<input type="checkbox" class="checkbox__check">
																	<span class="checkbox__icon">
																		<span class="checkbox__icon-image"></span>
																	</span>
																	<span class="checkbox__inner">
																		<span class="checkbox__text">Ленинский</span>
																	</span>
																</label>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="search-page-form__item js-search-page-form-item-parent">
									<div class="search-page-form__item-inner">
										<div class="search-page-form__item-toggle js-search-page-form-item-toggle"></div>
										<div class="search-page-form__row">
											<div class="search-page-form__row-left">
												<div class="label label--search-page-form">Станция метро:</div>
											</div>
											<div class="search-page-form__row-right">
												<div class="row">
													<div class="col-sm-33">
														<ul class="checkboxes-list">
															<li class="checkboxes-list__item">
																<label class="checkbox">
																	<input type="checkbox" class="checkbox__check">
																	<span class="checkbox__icon">
																		<span class="checkbox__icon-image"></span>
																	</span>
																	<span class="checkbox__inner">
																		<span class="checkbox__round" style="background:#FF7994;">1</span>
																		<span class="checkbox__text">Сокольники</span>
																	</span>
																</label>
															</li>
															<li class="checkboxes-list__item js-search-page-form-item-hidden">
																<label class="checkbox">
																	<input type="checkbox" class="checkbox__check">
																	<span class="checkbox__icon">
																		<span class="checkbox__icon-image"></span>
																	</span>
																	<span class="checkbox__inner">
																		<span class="checkbox__round" style="background:#FF7994;">1</span>
																		<span class="checkbox__text">Сокольники</span>
																	</span>
																</label>
															</li>
														</ul>
													</div>
													<div class="col-sm-33">
														<ul class="checkboxes-list">
															<li class="checkboxes-list__item">
																<label class="checkbox">
																	<input type="checkbox" class="checkbox__check" checked>
																	<span class="checkbox__icon">
																		<span class="checkbox__icon-image"></span>
																	</span>
																	<span class="checkbox__inner">
																		<span class="checkbox__round" style="background:#77CA7D;">1</span>
																		<span class="checkbox__text">Водный стан</span>
																	</span>
																</label>
															</li>
															<li class="checkboxes-list__item js-search-page-form-item-hidden">
																<label class="checkbox">
																	<input type="checkbox" class="checkbox__check">
																	<span class="checkbox__icon">
																		<span class="checkbox__icon-image"></span>
																	</span>
																	<span class="checkbox__inner">
																		<span class="checkbox__round" style="background:#77CA7D;">2</span>
																		<span class="checkbox__text">Водный стан</span>
																	</span>
																</label>
															</li>
														</ul>
													</div>
													<div class="col-sm-33">
														<ul class="checkboxes-list">
															<li class="checkboxes-list__item">
																<label class="checkbox">
																	<input type="checkbox" class="checkbox__check">
																	<span class="checkbox__icon">
																		<span class="checkbox__icon-image"></span>
																	</span>
																	<span class="checkbox__inner">
																		<span class="checkbox__round" style="background:#77CA7D;">2</span>
																		<span class="checkbox__text">Войковская</span>
																	</span>
																</label>
															</li>
															<li class="checkboxes-list__item js-search-page-form-item-hidden">
																<label class="checkbox">
																	<input type="checkbox" class="checkbox__check">
																	<span class="checkbox__icon">
																		<span class="checkbox__icon-image"></span>
																	</span>
																	<span class="checkbox__inner">
																		<span class="checkbox__round" style="background:#77CA7D;">2</span>
																		<span class="checkbox__text">Войковская</span>
																	</span>
																</label>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="search-page-form__item">
									<div class="search-page-form__item-inner">
										<div class="search-page-form__row search-page-form__row--align-top">
											<div class="search-page-form__row-left">
												<div class="label label--search-page-form">Дополнительно:</div>
											</div>
											<div class="search-page-form__row-right">
												<ul class="checkboxes-list">
													<li class="checkboxes-list__item">
														<label class="checkbox">
															<input type="checkbox" class="checkbox__check" checked>
															<span class="checkbox__icon">
																<span class="checkbox__icon-image"></span>
															</span>
															<span class="checkbox__inner">
																<span class="checkbox__text">Бесплатно для нанимателей</span>
															</span>
														</label>
													</li>
													<li class="checkboxes-list__item">
														<label class="checkbox">
															<input type="checkbox" class="checkbox__check">
															<span class="checkbox__icon">
																<span class="checkbox__icon-image"></span>
															</span>
															<span class="checkbox__inner">
																<span class="checkbox__text">Бесплатно для работников</span>
															</span>
														</label>
													</li>
													<li class="checkboxes-list__item">
														<label class="checkbox">
															<input type="checkbox" class="checkbox__check">
															<span class="checkbox__icon">
																<span class="checkbox__icon-image"></span>
															</span>
															<span class="checkbox__inner">
																<span class="checkbox__text">English Profile</span>
															</span>
														</label>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="search-page-form__item">
									<div class="search-page-form__item-inner">
										<!-- search-page-form__buttons-actions -->
										<div class="search-page-form__buttons-actions search-page-form__buttons-actions--indent-top  search-page-form__buttons-actions--table">
											<div class="search-page-form__buttons-actions-left">
												<button type="reset" class="btn btn-border-violet search-page-form__buttons-actions-btn-reset">Сбросить фильтры</button>
											</div>
											<div class="search-page-form__buttons-actions-right">
												<div class="search-page-form__buttons-actions-founded">Найдено 50 агентств</div>
											</div>
										</div>
										<!-- search-page-form__buttons-actions end  -->

										<!-- search-results -->
										<div class="search-results search-results--search-agencies">
											<div class="search-results__top search-results__top--search-agencies">
												<div class="search-results__top-left">
													<div class="filterbox">
														<span class="filterbox__title">Отобразить:</span>
														<ul class="filterbox-list">
															<li class="filterbox-list__item">
																<a href="#" class="filterbox-link filterbox-link--active">Все</a>
															</li>
															<li class="filterbox-list__item">
																<a href="#" class="filterbox-link">Избраные</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="search-results__top-right">
													<div class="filterbox">
														<span class="filterbox__title">Упорядочить по:</span>
														<ul class="filterbox-list">
															<li class="filterbox-list__item">
																<a href="#" class="filterbox-link filterbox-link--active">новизне</a>
															</li>
															<li class="filterbox-list__item">
																<a href="#" class="filterbox-link">цене</a>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="search-results__middle">
												<ul class="agencies-list">
													<li class="agencies-list__item js-search-item">
														<div class="agency">
															<div class="agency__top">
																<div class="agency__left">
																	<div class="agency__left-inner">
																		<div class="agency__image">
																			<img src="pic/agency/agency-01.jpg" alt="" class="agency__image-img">
																		</div>

																		<div class="agency__left-inner-left">
																			<span class="tooltip tooltip--checked">
																				<span class="icon-checked-white tooltip__head"></span>
																				<span class="tooltip__content">Проверено www.microsoft.com</span>
																			</span>
																		</div>
																		<div class="agency__left-inner-right">
																			<span class="tooltip tooltip--fav">
																				<span class="icon-heart-white tooltip__head js-addfav" data-active="Убрать из избранного" data-disabled="Добавить в избранные"></span>
																				<span class="tooltip__content">Добавить в избранные</span>
																			</span>
																		</div>
																		<div class="agency__updated">Обновлено: 02.03.2016</div>
																	</div>
																</div>
																<div class="agency__right">
																	<div class="agency__right-head">
																		<div class="agency__right-head-left">
																			<h3 class="agency__title">Агентство “<a href="#">Усатый Нянь</a>”</h3>
																		</div>
																		<div class="agency__right-head-right">
																			<div class="agency__reviews-count">
																				<div class="stars agency__reviews-count-stars">
																					<div class="stars__inner" style="width:100%;"></div>
																				</div>
																				<a href="#" class="agency__reviews-count-text">6 отзывов</a>
																			</div>
																		</div>
																	</div>
																	<div class="agency__place">Москва, Центральный р-н., ул. Новокузнецкая 60<br>
																		м. Сокольники  <span class="round-item agency__place-round" style="background:#F8678B;">1</span></div>
																		<div class="agency__features">
																			<ul class="agency__features-list">
																				<li class="agency__features-list-item">Опыт работы: <span>4 года</span></li>
																				<li class="agency__features-list-item agency__features-list-item--member">Член ассоциации "няни России"</li>
																			</ul>
																		</div>
																		<div class="agency__right-buttons">
																			<a href="#" class="btn btn-pink agency__right-buttons-btn">Посмотреть<br> подробнее и заказать</a>
																		</div>
																	</div>
																</div>
																<div class="agency__bottom">
																	<div class="agency__desc">
																		<p>Агентство работает с 2007 года. Успешно закрываем самые сложные вакансии, удовлетворяем запросы самых сложных требовательных клиентов. В штате работают психологи, все кандидаты проходят собеседования с ними. Будем рады трудоустроить кандидатов с опытом в семьях...</p>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												</div>
												<div class="search-results__bottom">
													<div class="pagination">
														<div class="pagination__title">Показано 1 - 20 объявлений из 50</div>
														<ul class="pagination-list">
															<li class="pagination-list__item">
																<a href="#" class="pagination__link pagination__link--left"></a>
															</li>
															<li class="pagination-list__item">
																<a href="#" class="pagination__link">1</a>
															</li>
															<li class="pagination-list__item">
																<a href="#" class="pagination__link pagination__link--active">2</a>
															</li>
															<li class="pagination-list__item">
																<a href="#" class="pagination__link">3</a>
															</li>
															<li class="pagination-list__item">
																<a href="#" class="pagination__link">4</a>
															</li>
															<li class="pagination-list__item">
																<a href="#" class="pagination__link pagination__link--all">...</a>
															</li>
															<li class="pagination-list__item">
																<a href="#" class="pagination__link">80</a>
															</li>
															<li class="pagination-list__item">
																<a href="#" class="pagination__link pagination__link--right"></a>
															</li>
														</ul>
													</div>
												</div>
										</div>
										<!-- search-results end -->
										


											<!-- leave-request -->
											<div class="leave-request">
												<h2 class="leave-request__title">Нет времени просматривать анкеты?</h2>
												<div class="leave-request__desc">Бесплатно и быстро разместите свою заявку и выбирайте помощников среди откликнувшихся соискателей</div>
												<div class="leave-request__buttons">
													<a href="#" class="btn btn-border-pink btn-border-pink--medium btn-border-pink--color-gray leave-request__buttons-btn">Разместить заявку</a>
												</div>
											</div>
											<!-- leave-request end -->
										</div>


									</div>
								</form>	
							</div>
						</div>
						<!-- search-page__left end -->

						<!-- search-page__right -->
						<div class="search-page__right">
							<div class="search-page__right-map js-map-agencies" id="search-page-map"></div>
						</div>
						<!-- search-page__right end -->
					</div>
					<!-- search-page end -->
				</div>
				<!-- content end -->

				<div class="footer-spacer"></div>
		</div>
		

		@@include('template/layout/footer-head.html')
		</div>
		<!-- wrapper end -->
		<script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
	</body>
	</html> 