@media(max-width: 1920px) {
    .nav-left {
        width: 85%;
    }
    .nav-right {
        width: 15%;
    }
    .nav-link {
        padding: 5px 10px;
    }
    .slick-prev,
    .partners-list .slick-prev {
        left: -60px;
    }
    .slick-next,
    .partners-list .slick-next {
        right: -40px;
    }
}
@media(max-width: 1720px) {
    .nav-list {
        font-size: 20px;
    }
    .header-title {
        font-size: 185px;
    }
    .about {
        background-position: bottom center;
    }
    .menu {
        background-position: bottom center;
    }
    .gallery {
        background-position: top center;
    }
    .advan {
        background-position: top center;
    }
    .footer-top-text {
        font-size: 200px;
    }
    .slick-prev,
    .slick-next {
        display: none!important;
    }
    .gallery-list,
    .partners-list,
    .team-list,
    .req-list,
    .social-list {
        margin-left: 0;
        margin-right: 0;
    }
}
@media(max-width: 1520px) {
    .header-title {
        font-size: 170px;
    }
    .drive:after {
        height: 202px;
        background-position: bottom center;
    }
    .drive-text {
        padding-left: 100px;
    }
    .services:after {
        background-position: top center;
    }
    .menu {
        margin-top: -160px;
    }
    .advan {
        padding-bottom: 182px;
    }
    .team {
        padding-bottom: 250px;
    }
    .footer-top-text {
        font-size: 170px;
    }   
    .clients-list {
        margin: 0;
    } 
    .menu-title:before {
        font-size: 183px;
    }
}
@media(max-width: 1380px) {
    .nav {
        position: relative;
    }
    .header-right {
        position: relative;
    }
    .header-mobile {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 30px;
        &-icon {
            display: inline-block;
            width: 35px;
            height: 22px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/header-mobile.png);
        }
    }
    .header-title {
        font-size: 150px;
    }
    .header-wrap {
        margin-top: -30px;
        margin-left: 10px;
    }
    .header-body {
        margin-top: 75px;
        margin-bottom: 128px;
    }
    .header-bgs {
        min-height: 885px;
    }
    .nav-body {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-left {
        width: 100%;
        max-width: 320px;
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 73px;
        display: none;
        background-color: #2b2628;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: right;
        &.show {
            display: block;
        }
    }
    .nav-right {
        width: 100%;
        order: -1;
        text-align: left;
    }
    .nav-list {
        display: block;
        width: 100%;
    }
    h2 {
        font-size: 43px;
    }
    .advan-title {
        &:before {
            font-size: 155px;
            top: -179px;
        }
    }

    .menu-left {
        display: none;
    }
    .menu-right {
        width: 100%;
    }
    .clients-item {
        margin: 45px;
    }
    .req-decor {
        right: 0;
    }

    /* Sections */
    .about {
        background-position: bottom right;
        min-height: auto;
        padding-top: 300px;
        padding-bottom: 300px;
        &-body {
            display: block;
            background-color: rgba(255, 255, 255,0.75);
            padding: 40px 20px 20px 20px;
            width: 100%;
            margin: 0 auto;
            border-radius: 20px;
            border: 1px solid #333333;
            box-sizing: border-box;
            & .col-6 {
                width: 100%;
            }
        }
        &-title {
            &:before {
                display: none;
            }
        }
    }
    .drive-picture {
        right: 25px;
        bottom: -55px;
    }
    .drive-image {
        width: 600px;
    }
    .services-wrap {
        color: #252023!important;
    }
    .menu {
        background-position: bottom left;
        &-body {
            display: block;
            background-color: rgba(255, 255, 255,0.75);
            padding: 40px 20px 20px 20px;
            width: 100%;
            margin: 0 auto;
            border-radius: 20px;
            border: 1px solid #333333;
            box-sizing: border-box;
            & .col-8 {
                display: none;
            }
            & .col-4 {
                width: 100%;
            }
        }
        &-title {
            &:before {
                display: none;
            }
        }
    }
    .clients {
        padding-top: 280px;
        &-title {
            &::before {
                display: none;
            }
        }
    }
    .partners {
        padding-top: 233px;
        padding-bottom: 258px;
        &-title {
            &:before {
                display: none;
            }
        }
    }
    .advan {
        background-position: top left;
        &-body {
            display: block;
            background-color: rgba(255, 255, 255,0.75);
            padding: 40px 20px 20px 20px;
            width: 100%;
            margin: 0 auto;
            border-radius: 20px;
            border: 1px solid #333333;
            box-sizing: border-box;
            & .col-5 {
                display: none;
            }
            & .col-7 {
                width: 100%;
            }
        }
        &-title {
            &::before {
                display: none;
            }
        }
        &-list {
            margin-top: 20px;
        }
    }
    .team {
        padding-top: 207px;
        &-title:before {
            display: none;
        }
    }
    .req {
        padding-top: 250px;
        &-title:before {
            display: none;
        }
    }
    .footer {
        padding-top: 225px;
        &-top-text {
            font-size: 150px;
        }
        &-title:before {
            display: none;
        }
    }
}
@media(max-width: 1200px) {
    .header-left {
        width: 75%;
    }
    .header-right {
        width: 25%;
    }
    .header-title {
        font-size: 120px;
    }
    .services-item {
        width: 100%;
    }
    .drive-text {
        padding-left: 60px;
    }
    .drive-picture {
        right: 0;
    }
    .sublove {
        &-body {
            display: block;
        }
        &-item {
            margin-left: 0;
            margin-right: 35px;
            margin-top: 20px;
        }
    }
    .partners-info {
        padding: 20px 30px;
    }
    .links-body {
        display: block;
    }
    .links-right {
        margin-top: 40px;
    }
    .footer {
        & .social-item {
            margin: 0 20px 0 0;
        }
    }
    .adress-link-tel {
        font-size: 25px;
    }
    .footer-top-text {
        font-size: 120px;
    }
}
@media(max-width: 992px) {
    .nav {
        &-logo {
            &-mobile {
                position: relative;
                top: -10px;
            }
            &-link {
                display: none;
                &-mobile {
                    display: inline;
                }
            }
        }
    }
    .header-mobile {
        top: 10px;
    }
    .header-body {
        display: block;
        background-color: rgba(0, 0, 0, 0.75);
        padding: 40px 20px 20px 20px;
        width: 100%;
        margin: 10px auto 0 auto;
        border-radius: 20px;
        border: 1px solid #333333;
        box-sizing: border-box;
        & .col-8 {
            width: 100%;
        }
        & .col-4 {
            display: none;
        }
    }
    .header-bgs {
        min-height: 482px;
    }
    .header {
        padding: 0;
        & .social-list {
            margin-top: 50px;
        }
    }
    .about {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .drive:after {
        height: 50px;
    }
    .drive-image {
        width: 475px;
    }
    .menu {
        min-height: 760px;
        padding-top: 186px;
    }
    .gallery {
        padding-bottom: 175px;
    }
    .clients {
        padding-top: 250px;
    }
    .advan {
        padding-top: 229px;
        padding-bottom: 252px;
        &-item {
            width: 100%;
        }
    }
    .team {
        &-list {
            flex-wrap: wrap;
        }
        &-item {
            width: 45%;
        }
    }
    .req-item {
        width: 100%;
    }
    .footer {
        padding-bottom: 0;
        &-bottom-body {
            flex-wrap: wrap;
            & .col-3 {
                width: 50%;
                margin-bottom: 50px;
                &:last-child {
                    text-align: left;
                }
            }
        }
    }
    .footer-policy,
    .footer-copy {
        margin-left: 0;
    }
}
@media(max-width: 768px) {
    .header-body {
        margin-top: 50px;
    }
    .header-title {
        font-size: 75px;
        text-align: center;
    }
    .header-wrap {
        margin-top: -10px;
        margin-left: 0;
        text-align: center;
    }
    .header-descr {
        font-size: 28px;
    }
    .header-info {
        font-size: 20px;
        margin-top: 33px;
    }
    h2 {
        font-size: 28px;
    }
    .about {
        font-size: 20px;
    }
    .services {
        &-bgs {
            padding-top: 225px;
            padding-bottom: 50px;
            position: relative;
        }
        &-title:before {
            display: none;
        }
        &-wrap {
            height: auto;
            padding: 20px;
            box-sizing: border-box;
        }
        &-container {
            background-color: rgba(255, 255, 255, 0.5);
            padding: 90px 0 30px 75px;
        }
        &-subtitle {
            font-size: 37px;
        }
        &:after {
            display: none;
        }
    }
    .drive {
        &:after {
            display: none;
        }
        &-body {
            display: block;
        }
        &-picture {
            position: static;
        }
        &-title {
            font-size: 37px;
        }
    }
    .menu {
        margin-top: -70px;
        &-title {
            font-size: 28px;
        }
    }
    .gallery {
        padding-top: 133px;
        padding-bottom: 155px;
        &-title:before {
            display: none;
        }
        &-list {
            margin-top: 30px;
        }
    }
    .sublove {
        padding: 20px;
        font-size: 16px;
        &-name {
            font-size: 18px;
        }
        &-list {
            display: block;
        }
    }
    .slick-dots {
        bottom: -42px;
        left: auto;
        width: 100%;
    }
    .gallery-more {
        text-align: center;
        margin-top: 80px;
    }
    .partners {
        padding-top: 153px;
        padding-bottom: 158px;
        &-body {
            margin: 30px auto 0 auto;
        }
        &-info {
            padding: 20px;
            font-size: 16px;
        }
        &-name {
            font-size: 18px;
        }
        &-subitem {
            margin: 10px 0 15px 0;
        }
    }
    .advan {
        padding-bottom: 152px;
        min-height: auto;
        &-list {
            font-size: 18px;
        }
        &-item {
            margin: 10px 0 0 0;
        }
        &-subtitle {
            font-size: 24px;
        }
    }
    .team {
        padding-bottom: 150px;
        &-list {
            font-size: 16px;
        }
        &-item {
            width: 44%;
        }
        &-info {
            padding: 20px;
        }
        &-name {
            font-size: 20px;
        }
    }
    .req {
        padding-top: 225px;
        padding-bottom: 250px;
        &-name {
            font-size: 16px;
        }
        &-field {
            font-size: 16px;
        }
    }
    .footer {
        padding-top: 200px;
        &-top {
            &-body {
                display: block;
            }
            &-left {
                width: 100%;
            }
            &-right {
                width: 100%;
            }
            &-text {
                font-size: 90px;
            }
        }
        &-title {
            font-size: 33px;
        }
        &-logo {
            width: 150px;
        }
        &-policy, 
        &-copy {
            font-size: 18px;
        }
    }
    .adress {
        &-list {
            font-size: 18px;
        }
        &-link-tel {
            font-size: 18px;
        }
    }
    .links {
        &-list {
            font-size: 18px;
        }
    }
}
@media(max-width: 560px) {
    .header {
        &-bgs {
            padding-bottom: 0;
        }
        &-body {
            margin-top: 10px;
            padding: 40px 10px 20px 10px;
        }
        &-title {
            line-height: 1;
            margin-top: 0;
        }
        &-descr {
            font-size: 24px;
        }
        &-more {
            margin-top: 20px;
            &-link {
                font-size: 14px;
                padding: 15px 26px;
                border-radius: 10px;
                letter-spacing: 3px;
            }
        }
    }
    .about {
        font-size: 18px;
    }
    .about-body,
    .menu-body,
    .advan-body {
        padding: 40px 10px 20px 10px;
    }
    .services {
        &-bgs {
            padding-top: 175px;
        }
        &-container {
            padding: 46px 30px 30px 30px;
        }
        &-subtitle:before {
            font-size: 70px;
            top: -69px;
            left: -13px;
        }
        &-subtitle {
            font-size: 28px;
        }
        &-wrap {
            font-size: 16px;
        }
        &-special {
            display: block;
            font-size: 15px;
            margin-top: 20px;
        }
    }
    .drive {
        &-text {
            text-align: center;
            padding-left: 0;
            margin-bottom: 25px;
        }
        &-title {
            font-size: 28px;
            display: inline-block;
            &:before {
                font-size: 70px;
                top: -69px;
                left: -13px;
            }
        }
        &-image {
            width: 100%;
            max-width: 425px;
        }
        &-price {
            font-size: 16px;
        }
    }
    .clients {
        &-item {
            margin: 20px;
        }
        &-image {
            width: 100%;
        }
    }
    .menu {
        min-height: auto;
        padding-top: 135px;
        padding-bottom: 200px;
        &-list {
            font-size: 16px;
        }
        &-item {
            margin: 33px 0;
        }
        &-link {
            font-size: 14px;
            padding: 15px 15px;
        }
    }
    .team {
        padding-top: 300px;
        margin-top: -250px;
        &-list {
            margin: 20px 0 0 0;
        }
        &-item {
            width: 100%;
        }
    }
    .req {
        padding-bottom: 200px;
        &-label {
            margin: 10px 0;
        }
        &-decor {
            bottom: 125px;
            width: 150px;
            height: 150px;
            background-size: contain;
        }
        &-btn {
            margin-top: 10px;
        }
    }
    .partners-item {
        margin: 10px;
    }
    .gallery-list,
    .partners-list {
        display: block;
    }
    .gallery-more {
        margin-top: 60px;
        &-link {
            font-size: 15px;
            padding: 18px 35px;
        }
    }
    .advan {
        &-subtitle {
            font-size: 19px;
        }
    }
    .footer {
        padding-top: 175px;
        padding-bottom: 0px;
        &-bottom-body .col-3 {
            width: 100%;
            margin-bottom: 20px;
        }
        &-top-text {
            font-size: 52px;
            padding-left: 0;
            margin-top: 50px;
        }
        &-copy {
            margin-top: 20px;
        }
    }
    .links {
        &-body {
            display: flex;
        }
        &-right {
            margin-top: 2px;
        }
    }
}