@media(max-width: 1280px) {
    .promo {
        overflow: hidden;
        padding-bottom: 50px;
    }
    .whom {
        &-decor {
            right: 30px;
        }
    }
    .tall {
        overflow: hidden;
        &-list {
            margin-left: -15px;
            margin-right: -15px;
        }
        &-item {
            width: calc(33.3333% - 30px);
            margin-left: 15px;
            margin-right: 15px;
        }
    }
    .reviews {
        &-body {
            max-width: 100%;
        }
        &-arrows {
            display: none;
        }
    }
    .ask {
        overflow: hidden;
        &-list {
            margin: 0 -15px;
        }
        &-item {
            margin: 0 15px;
            &:nth-child(1) {
                width: calc(39% - 30px);
            }
            &:nth-child(2) {
                width: calc(39% - 30px);
            }
            &:nth-child(3) {
                width: calc(22% - 30px);
            }
        }
    }
    .footer {
        &-list {
            margin: 0 -15px;
        }
        &-item {
            margin: 0 15px;
        }
    }
}
@media(max-width: 1200px) {
    .promo-title {
        font-size: 30px;
    }
    .whom {
        &-body {
            padding: 40px;
        }
    }
    .ask {
        &-decor {
            &-one {
                left: 115px;
            }
            &-three {
                right: -86px;
            }
        }
    }
    .social {
        margin-left: 30px;
    }
}
@media(max-width: 992px) {
    .social {
        display: none;
    }
    .header {
        &-row {
            flex-wrap: wrap;
        }
    }
    .nav {
        &-list {
            margin: 0 -15px;
        }
        &-item {
            margin: 0 15px;
        }
    }
    .promo {
        &-image {
            width: 400px;
            position: relative;
            right: -170px;
        }
        &-num {
            font-size: 44px;
        }
        &-end {
            top: -80px;
            margin-bottom: -20px;
        }
    }
    .author {
        &-picture {
            left: -65px;
            top: 44px;
        }
        &-image {
            width: 100%;
        }
        &-decor {
            &-one {
                top: -7px;
                right: -123px;
            }
        }
    }
    .convinced {
        &-title {
            font-size: 30px;
            padding: 0 50px;
        }
        &-decor {
            &-three {
                top: -75px;
            }
        }
    }
    .reviews {
        margin-top: 100px;
        &-list {
            margin-top: 35px;
        }
    }
    .ask {
        &-list {
            flex-wrap: wrap;
        }
        &-item {
            width: calc(33% - 30px)!important;
        }
        &-decor {
            &-three {
                display: none;
            }
        }
        &-field {
            padding: 15px 20px;
        }
    }
    .footer {
        &-list {
            font-size: 13px;
        }
    }
}
@media(max-width: 768px) {
    
}