/* Fonts */
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

body {
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 43px;
  line-height: 150%;
  color: #244C77;
}

/* Header */
.header {
  background-color: #244C77;
  overflow: hidden;
}

.header-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left {
  text-align: center;
  background-color: #ffffff;
  position: relative;
}

.header-left::before {
  content: '';
  display: inline-block;
  position: relative;
  width: 1600px;
  height: 105px;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  right: 95px;
}

.header-logo {
  padding: 25px 0;
}

/* Navigation */
.nav-list {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  margin: 15px;
}

.nav-link {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus {
  border-bottom: 1px solid #FFFFFF;
}

/* Sections */
.promo-body {
  position: relative;
}

.promo-decor {
  position: absolute;
}

.promo-decor-one {
  display: inline-block;
  width: 200px;
  height: 300px;
  left: -500px;
  top: 30px;
  background: #DDEEFE;
}

.promo-decor-one:after {
  content: '';
  width: 300px;
  height: 300px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-decor-one.svg);
  position: absolute;
  top: 150px;
  right: -150px;
}

.promo-pre {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-top: 100px;
}

.promo-pre:before {
  content: '';
  display: inline-block;
  width: 65px;
  height: 1px;
  background-color: #333333;
  margin-left: 0;
  margin-right: 15px;
  position: relative;
  top: -5px;
}

.promo-title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 150%;
  text-transform: uppercase;
}

.promo-descr {
  font-size: 22px;
  line-height: 150%;
}

.promo-more {
  margin-top: 50px;
  margin-bottom: 50px;
}

.promo-more-btn {
  background: #244C77;
  -webkit-box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
          box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
  border-radius: 45px;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 27px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-more-btn:hover, .promo-more-btn:focus {
  background-color: #386ea8;
}

.promo-list {
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 40px;
}

.promo-item {
  position: relative;
}

.promo-item:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 93px;
  background-color: #333333;
  position: absolute;
  top: 18px;
  right: -45px;
}

.promo-item:last-child:after {
  content: none;
}

.promo-num {
  display: block;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 53px;
  line-height: 80px;
  text-transform: uppercase;
  color: #244C77;
}

.promo-picture {
  padding-left: 20px;
  position: relative;
}

.promo-picture:after {
  content: '';
  display: inline-block;
  width: 690px;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-picture-after.svg);
  position: absolute;
  z-index: -1;
  bottom: -350px;
  left: 150px;
}

.social {
  position: absolute;
  bottom: 190px;
  right: 0;
}

.social-item {
  margin: 40px 20px;
}

.social-icon {
  display: inline-block;
  min-width: 32px;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-icon-one {
  background-image: url(../img/social-icon-one.svg);
}

.social-icon-thue {
  background-image: url(../img/social-icon-thue.svg);
}

.social-icon-three {
  background-image: url(../img/social-icon-three.svg);
}

.why {
  padding-top: 150px;
}

.why-picture {
  position: relative;
}

.why-picture:after {
  content: '';
  position: absolute;
  width: 560px;
  height: 845px;
  left: -300px;
  top: -90px;
  z-index: -1;
  background: #DDEEFE;
}

.why-info {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 36px 47px -18px #DDEEFE;
          box-shadow: 0px 36px 47px -18px #DDEEFE;
  padding: 25px 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: -30px;
  left: -70px;
}

.why-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}

.why-text {
  margin-top: 10px;
  margin-bottom: 0;
}

.why-title {
  margin-top: 0;
}

.why-more {
  margin-top: 65px;
  margin-bottom: 50px;
}

.why-more-btn {
  background: #244C77;
  -webkit-box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
          box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
  border-radius: 45px;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 27px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.why-more-btn:hover, .why-more-btn:focus {
  background-color: #386ea8;
}

.services {
  padding-top: 150px;
}

.services-body {
  position: relative;
}

.services-body:after {
  content: '';
  display: inline-block;
  width: 1000px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/services-body-after.svg);
  position: absolute;
  z-index: -1;
  top: -100px;
  left: 50px;
}

.services-descr {
  font-size: 24px;
  line-height: 150%;
  color: #333333;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}

.services-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 36px 47px -18px #DDEEFE;
          box-shadow: 0px 36px 47px -18px #DDEEFE;
  padding: 40px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px;
  width: calc(50% - 30px);
}

.services-item:first-child {
  padding: 60px 0 0 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.services-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #244C77;
  margin-top: 0;
}

.services-more-btn {
  padding: 0;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  border-bottom: 1px solid #333333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services-more-btn:hover, .services-more-btn:focus {
  border-bottom: 1px solid transparent;
}

.services-price {
  margin-top: 3px;
}

.services-price-link {
  padding: 0;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  border-bottom: 1px solid #333333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

.services-price-link:hover, .services-price-link:focus {
  border-bottom: 1px solid transparent;
}

.propose {
  padding-top: 130px;
  padding-bottom: 130px;
}

.propose-body {
  position: relative;
}

.propose-title {
  text-align: right;
  margin-top: 0;
  position: absolute;
  top: 40px;
  right: 15px;
}

.propose-right {
  padding-top: 125px;
  padding-left: 30px;
  position: relative;
  font-size: 24px;
  line-height: 150%;
}

.propose-slider {
  position: relative;
}

.propose-arrows {
  position: absolute;
  top: 400px;
  right: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.propose-arrow {
  display: inline-block;
  min-width: 65px;
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.propose-arrow-left {
  background-image: url(../img/propose-arrow-left.svg);
}

.propose-arrow-right {
  top: 20px;
  background-image: url(../img/propose-arrow-right.svg);
}

.coupone {
  padding: 30px 96px;
  background: #DDEEFE;
  -webkit-box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
          box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.coupone-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #244C77;
}

.coupone-list {
  font-size: 18px;
  line-height: 150%;
}

.coupone-item {
  margin-bottom: 25px;
}

.coupone-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -25px;
}

.coupone-end-item {
  margin: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
}

.coupone-more-btn {
  padding: 0;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  text-align: left;
  text-decoration: underline;
}

.coupone-more-btn:hover, .coupone-more-btn:focus {
  text-decoration: none;
}

.coupone-buy {
  text-align: left;
}

.coupone-buy-link {
  padding: 0;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  text-decoration: underline;
}

.coupone-buy-link:hover, .coupone-buy-link:focus {
  text-decoration: none;
}

.about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  line-height: 150%;
}

.about-list {
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  position: relative;
  margin: 25px -15px 40px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-list:after {
  content: '';
  display: inline-block;
  width: 1213px;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/about-list-after.svg);
  position: absolute;
  top: -30px;
  left: -20px;
  z-index: -1;
}

.about-item {
  background: #DDEEFE;
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(25% - 30px);
  padding: 46px 25px;
  position: relative;
}

.about-num {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-size: 144px;
  color: #E8F3FE;
  position: absolute;
  top: 60px;
  right: 5px;
}

.about-text {
  position: relative;
  z-index: 1;
}

.about-more-link {
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  color: #333333;
  border-bottom: 1px solid #333333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about-more-link:hover, .about-more-link:focus {
  border-bottom: 1px solid transparent;
}

.about-picture {
  margin-top: 30px;
}

.about-image {
  width: 100%;
}

.about-end {
  margin-top: 60px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-end-btn {
  background: #244C77;
  -webkit-box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
          box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
  border-radius: 45px;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 27px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 285px;
}

.about-end-btn:hover, .about-end-btn:focus {
  background-color: #386ea8;
}
/*# sourceMappingURL=style.css.map */