/* Fonts */

$monserrat-reg: 'Montserrat-Regular', Arial, Helvetica, sans-serif;
$monserrat-bold: 'Montserrat-Bold', Arial, Helvetica, sans-serif;
$monserrat-italic: 'Montserrat-Italic', Arial, Helvetica, sans-serif;

@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat-Italic';
    src: url(../fonts/Montserrat-Italic.ttf);
    font-weight: normal;
    font-style: normal;
}

/* Grid */

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.row {
    display: flex;
    margin: 0 -15px;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    padding: 0 15px;
    box-sizing: border-box;
}
.col-12{width: 100%;}
.col-11{width: 91.66666667%;}
.col-10{width: 83.33333333%;}
.col-9 {width: 75%;}
.col-8 {width: 66.66666667%;}
.col-7 {width: 58.33333333%;}
.col-6 {width: 50%;}
.col-5 {width: 41.66666667%;}
.col-4 {width: 33.33333333%;}
.col-3 {width: 25%;}
.col-2 {width: 16.66666667%;}
.col-1 {width: 8.33333333%;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    font-family: $monserrat-reg;
}
input,
textarea {
    box-sizing: border-box;
    font-family: $monserrat-reg;
}

/* Main styles */

html {
    scroll-behavior: smooth;
}
.content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
}
body {
    font-family: $monserrat-reg;
    font-size: 18px;
    line-height: 150%;
    color: #333333;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $monserrat-bold;
}
h2 {
    font-weight: bold;
    font-size: 43px;
    line-height: 150%;
    color: #244C77;
}

/* Header */

.header {
    background-color: #244C77;
    overflow: hidden;
    &-row {
        align-items: center;
    }
    &-left {
        text-align: center;
        background-color: #ffffff;
        position: relative;
        &::before {
            content: '';
            display: inline-block;
            position: relative;
            width: 1600px;
            height: 105px;
            background-color: #ffffff;
            position: absolute;
            z-index: 1;
            right: 95px;
        }
    }
    &-logo {
        padding: 25px 0;
        position: relative;
        left: -10px;
        z-index: 5;
    }
}

/* Navigation */

.nav {
    padding-left: 38px;
    position: relative;
    top: -3px;
    &-list {
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
    }
    &-item {
        margin: 15px;
    }
    &-link {
        color: #FFFFFF;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #FFFFFF;
        }
    }
}

/* Sections */

.promo {
    &-body {
        position: relative;
    }
    &-decor {
        position: absolute;
        &-one {
            display: inline-block;
            width: 200px;
            height: 300px;
            left: -500px;
            top: 30px;
            background: #DDEEFE;
            &:after {
                content: '';
                width: 300px;
                height: 300px;
                display: inline-block;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../img/promo-decor-one.svg);
                position: absolute;
                top: 150px;
                right: -150px;
            }
        }
    }
    &-pre {
        display: inline-block;
        font-size: 16px;
        line-height: 20px;
        margin-top: 100px;
        &:before {
            content: '';
            display: inline-block;
            width: 65px;
            height: 1px;
            background-color: #333333;
            margin-left: 0;
            margin-right: 30px;
            position: relative;
            top: -5px;
        }
    }
    &-title {
        font-family: $monserrat-bold;
        font-weight: 800;
        font-size: 36px;
        line-height: 150%;
        text-transform: uppercase;
        margin-top: 38px;
        letter-spacing: 1.2px;
    }
    &-descr {
        font-size: 22px;
        line-height: 150%;
        margin-top: 59px;
        letter-spacing: 1.2px;
    }
    &-more {
        margin-top: 82px;
        margin-bottom: 50px;
        &-btn {
            background: #244C77;
            box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
            border-radius: 45px;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF;
            padding: 27px 42px;
            box-sizing: border-box;
            transition: all 0.5s;
            &:hover,
            &:focus {
                background-color: #386ea8;
            }
        }
    }
    &-list {
        font-size: 18px;
        line-height: 150%;
        color: #333333;
        display: flex;
        justify-content: space-between;
        margin-top: 117px;
        margin-bottom: 40px;
    }
    &-item {
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 93px;
            background-color: #333333;
            position: absolute;
            top: 18px;
            right: -45px;
        }
        &:last-child {
            &:after {
                content: none;
            }
        }
    }
    &-num {
        display: block;
        font-family: $monserrat-bold;
        font-weight: 800;
        font-size: 53px;
        line-height: 80px;
        text-transform: uppercase;
        color: #244C77;
    }
    &-picture {
        padding-left: 20px;
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            width: 690px;
            height: 700px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/promo-picture-after.svg);
            position: absolute;
            z-index: -1;
            bottom: -248px;
            left: 121px;
        }
    }
}
.social {
    position: absolute;
    bottom: 70px;
    right: 9px;
    &-item {
        margin: 50px 20px;
    }
    &-icon {
        display: inline-block;
        min-width: 32px;
        width: 32px;
        height: 32px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        transition: 0.5s;
        &-one {
            background-image: url(../img/social-icon-one.svg);
        }
        &-thue {
            background-image: url(../img/social-icon-thue.svg);
        }
        &-three {
            background-image: url(../img/social-icon-three.svg);
        }
        &:hover,
        &:focus{
            opacity: 0.75;
        }
    }
}
.why {
    padding-top: 156px;
    &-picture {
        position: relative;
        &:after {
            content: '';
            position: absolute;
            width: 560px;
            height: 845px;
            left: -300px;
            top:-90px;
            z-index: -1;
            background: #DDEEFE;
        }
    }
    &-info {
        background: #FFFFFF;
        box-shadow: 0px 36px 47px -18px #DDEEFE;
        padding: 25px 34px;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        bottom: -30px;
        left: -70px;
    }
    &-name {
        font-weight: bold;
        font-size: 18px;
        line-height: 150%;
        color: #333333;
    }
    &-text {
        margin-top: 10px;
        margin-bottom: 0;
    }
    &-title {
        margin-top: 0;
    }
    &-more {
        margin-top: 65px;
        margin-bottom: 50px;
        &-btn {
            background: #244C77;
            box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
            border-radius: 45px;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF;
            padding: 27px 42px;
            box-sizing: border-box;
            transition: all 0.5s;
            &:hover,
            &:focus {
                background-color: #386ea8;
            }
        }
    }
}
.services {
    padding-top: 195px;
    &-body {
        position: relative;
        &:after {
            content: '';
            display: inline-block;
            width: 1000px;
            height: 600px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/services-body-after.svg);
            position: absolute;
            z-index: -1;
            top: -46px;
            left: -144px;
        }
    }
    &-title {
        margin-top: 7px;
    }
    &-descr {
        font-size: 24px;
        line-height: 150%;
        color: #333333;
    }
    &-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        font-size: 18px;
        line-height: 150%;
        color: #333333;
    }
    &-item {
        background: #FFFFFF;
        box-shadow: 0px 36px 47px -18px #DDEEFE;
        padding: 40px 50px;
        box-sizing: border-box;
        margin: 15px;
        width: calc(50% - 30px);
        &:first-child {
            padding: 60px 0 0 0;
            background: transparent;
            box-shadow: none;
        }
    }
    &-subtitle {
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        color: #244C77;
        margin-top: 0;
    }
    &-more {
        margin-top: 36px;
        &-btn {
            padding: 0;
            font-size: 18px;
            line-height: 150%;
            color: #333333;
            border-bottom: 1px solid #333333;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
    &-price {
        margin-top: 3px;
        &-link {
            padding: 0;
            font-size: 18px;
            line-height: 150%;
            color: #333333;
            border-bottom: 1px solid #333333;
            transition: all 0.5s;
            text-decoration: none;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
}
.propose {
    padding-top: 130px;
    padding-bottom: 65px;
    &-body {
        position: relative;
        overflow: hidden;
        padding-left: 40px;
        margin-left: -40px;
        width: 101.5%;
    }
    &-title {
        text-align: right;
        margin-top: 0;
        position: absolute;
        top: 40px;
        right: 15px;
    }
    &-right {
        padding-top: 125px;
        padding-left: 30px;
        position: relative;
        font-size: 24px;
        line-height: 150%;
    }
    &-slider {
        position: relative;
        
        padding-bottom: 80px;
    }
    &-arrows {
        position: absolute;
        z-index: 10;
        top: 400px;
        right: 30px;
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 60px;
        box-sizing: border-box;
    }
    &-arrow {
        display: inline-block;
        min-width: 65px;
        width: 65px;
        height: 65px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        &-left {
            background-image: url(../img/propose-arrow-left.svg);
        }
        &-right {
            top: 20px;
            background-image: url(../img/propose-arrow-right.svg);
        }
    }
}
.coupone {
    padding: 7px 96px;
    background: #DDEEFE;
    box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
    box-sizing: border-box;
    &-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        color: #244C77;
    }
    &-list {
        font-size: 18px;
        line-height: 150%;
    }
    &-item {
        margin-bottom: 25px;
    }
    &-end {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 -25px;
        &-item {
            margin: 25px;
            box-sizing: border-box;
            width: 30%;
        }
    }
    &-more {
        &-btn {
            padding: 0;
            font-size: 18px;
            line-height: 150%;
            color: #333333;
            text-align: left;
            text-decoration: underline;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
    &-buy {
        text-align: left;
        &-link {
            padding: 0;
            font-family: $monserrat-bold;
            font-weight: bold;
            font-size: 18px;
            line-height: 150%;
            color: #333333;
            text-decoration: underline;
            &:hover,
            &:focus {
                text-decoration: none;
            }
        }
    }
}
.about {
    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 24px;
        line-height: 150%;
    }
    &-list {
        font-size: 18px;
        line-height: 150%;
        color: #333333;
        position: relative;
        margin: 25px -15px 40px -15px;
        display: flex;
        &:after {
            content: '';
            display: inline-block;
            width: 1213px;
            height: 240px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/about-list-after.svg);
            position: absolute;
            top: -30px;
            left: -20px;
            z-index: -1;
        }
    }
    &-item {
        background: #DDEEFE;
        margin: 15px;
        box-sizing: border-box;
        width: calc(25% - 30px);
        padding: 46px 25px;
        position: relative;
    }
    &-num {
        font-family: $monserrat-bold;
        font-size: 144px;
        color: #E8F3FE;
        position: absolute;
        top: 60px;
        right: 5px;
    }
    &-text {
        position: relative;
        z-index: 1;
    }
    &-more {
        margin-top: 30px;
        &-link {
            font-size: 18px;
            line-height: 150%;
            text-decoration: none;
            color: #333333;
            border-bottom: 1px solid #333333;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid transparent;
            }
        }
    }
    &-picture {
        margin-top: 30px;
    }
    &-image {
        width: 100%;
    }
    &-end {
        margin-top: 51px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-btn {
            background: #244C77;
            box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
            border-radius: 45px;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF;
            padding: 27px 42px;
            box-sizing: border-box;
            transition: all 0.5s;
            min-width: 285px;
            &:hover,
            &:focus {
                background-color: #386ea8;
            }
        }
    }
}
.clinik {
    padding-top: 52px;
    padding-bottom: 50px;
    &-body {
        position: relative;
        padding-left: 0;
        &:after {
            content: '';
            display: inline-block;
            background: #E8F3FE;
            width: 55%;
            height: 82%;
            box-sizing: border-box;
            position: absolute;
            top: 35px;
            right: -58px;
            z-index: -1;
        }
        &:before {
            content: '';
            display: inline-block;
            width: 535px;
            height: 565px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/clinik-right-before.svg);
            position: absolute;
            bottom: 24px;
            right: -151px;
            z-index: -2;
        }
    }
    &-list {
        position: relative;
        overflow: hidden;

    }
    &-item {
        padding: 100px 0;
    }
    &-title {
        margin-top: -60px;
        margin-bottom: 49px;
    }
    &-descr {
        font-size: 18px;
        line-height: 150%;
        width: 82%;
    }
    &-more {
        margin-top: 35px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-btn {
            background: #244C77;
            box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
            border-radius: 45px;
            font-size: 18px;
            line-height: 150%;
            color: #FFFFFF;
            padding: 22px 35px;
            box-sizing: border-box;
            transition: all 0.5s;
            &:hover,
            &:focus {
                background-color: #386ea8;
            }
        }
    }
    &-center {
        padding: 0;
        width: 22%;
    }
    &-right {
        width: 36.33333333%;
    }
    &-arrows {
        position: absolute;
        z-index: 10;
        bottom: 150px;
        left: 0;
        width: 37%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        box-sizing: border-box;
    }
    &-arrow {
        display: inline-block;
        min-width: 65px;
        width: 65px;
        height: 65px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        &-left {
            background-image: url(../img/propose-arrow-left.svg);
        }
        &-right {
            top: 20px;
            background-image: url(../img/propose-arrow-right.svg);
        }
    }
}
.useful {
    padding-top: 0;
    padding-bottom: 200px;
    overflow: hidden;
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        line-height: 150%;
        &-left {
            width: 60%;
        }
    }
    &-body {
        position: relative;
        margin-top: 10px;
    }
    &-list {
        position: relative;
        max-width: 730px;
        padding-top: 87px;
        margin-right: auto;
        &:after {
            content: '';
            display: inline-block;
            width: 1138px;
            height: 600px;
            background: #E8F3FE;
            position: absolute;
            top: 25px;
            left: -200px;
            right: 0;
            z-index: 0;
        }
        &::before {
            content: '';
            display: inline-block;
            width: 712px;
            height: 565px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/useful-list-before.svg);
            position: absolute;
            right: -549px;
            bottom: -199px;
            z-index: -2;
        }
    }
    & .swiper-slide {
       background-color: #ffffff;
        & .useful-item {
            opacity: 0.5;
        }
        &-active {
            & .useful-item {
                opacity: 1;
            }
       }
    }
    &-item {
        display: flex;
        background-color: #ffffff;
        position: relative;
        z-index: 2;
    }
    &-picture {
        min-width: 270px;
    }
    &-image {
        margin-bottom: -8px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &-text {
        padding: 25px 22px 25px 42px;
        box-sizing: border-box;
        border: 2px solid #DDEEFE;
    }
    &-subtitle {
        margin-bottom: 31px;
    }
    &-arrows {
        position: absolute;
        z-index: 3;
        bottom: -85px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        box-sizing: border-box;
    }
    &-arrow {
        display: inline-block;
        min-width: 65px;
        width: 65px;
        height: 65px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        position: relative;
        &-left {
            background-image: url(../img/propose-arrow-left.svg);
        }
        &-right {
            top: 8px;
            background-image: url(../img/propose-arrow-right.svg);
        }
    }
}
.confidence {
    padding-top: 101px;
    padding-bottom: 53px;
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        line-height: 150%;
    }
    &-body {
        display: flex;
        position: relative;
        margin-top: 60px;
        &:after {
            content: '';
            display: inline-block;
            width: 264px;
            height: 265px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/confidence-list-after.svg);
            position: absolute;
            z-index: -1;
            left: 95px;
            top: 58px;
        }
    }
    &-list {
        max-width: 740px;
        min-width: 740px;
        font-size: 18px;
        line-height: 150%;
        padding-left: 90px;
        padding-top: 90px;
        padding-bottom: 90px;
        padding-right: 90px;
        margin-left: -90px;
        margin-bottom: -90px;
        overflow: hidden;
        position: relative;
        left: 170px;
        top: -90px;
    }
    &-item {
        background: #E8F3FE;
        box-shadow: 0px 36px 47px -18px #DDEEFE;
        display: flex;
        align-items: center;
        padding: 64px 60px 70px 0px;
        box-sizing: border-box;
    }
    &-picture {
        position: relative;
        left: -80px;
        top: 7px;
    }
    &-image {
        width: 160px;
        width: 160px;
        object-fit: cover;
    }
    &-subtop {
        justify-content: space-between;
        display: flex;
        align-items: center;
        margin-bottom: 27px;
    }
    &-subtitle {
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        color: #333333;
    }
    &-stars {
        &-icon {
            display: inline-block;
            width: 162px;
            height: 25px;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(../img/confidence-start-icon.svg);
        }
    }
    &-arrows {
        position: relative;
        z-index: 3;
        left: 141px;
        top: -33px;
        width: 100%;
        display: block;
        text-align: right;
        padding-left: 0;
        box-sizing: border-box;
        margin-top: 150px;
    }
    &-arrow {
        display: block;
        min-width: 65px;
        width: 65px;
        height: 65px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        &-left {
            background-image: url(../img/propose-arrow-left.svg);
            margin-top: 9px;
        }
        &-right {
            top: 20px;
            background-image: url(../img/propose-arrow-right.svg);
        }
    }
}
.pagin {
    width: 75px;
    text-align: center;
    margin-left: 0;
    position: relative;
    top: -41px;
    left: -9px;
    &-list {
        font-size: 24px;
        line-height: 200%;
        text-transform: uppercase;
    }
    &-num {
        display: block;
        &-active {
            font-family: $monserrat-bold;
            font-weight: 800;
            font-size: 53px;
            line-height: 150%;
            text-transform: uppercase;
            color: #244C77;
            &:after {
                content: '';
                display: block;
                width: 1px;
                height: 116px;
                background-color: #333333;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    & .swiper-pagination-bullet {
        display: block;
        background: transparent;
        opacity: 1;
        font-size: 24px;
        width: auto;
        height: auto;
        min-width: 80px;
        margin: 20px 0;
        &:before {
            height: 0;
            transition: all 1s;
        }
        &:after {
            height: 0;
            transition: all 1s;
        }
        &:first-child {
            &::before {
                height: 0;
            }
            &:after {
                height: 116px;
                margin-top: 15px;
                margin-bottom: 28px;
            }
        }
        &:last-child {
            &:before {
                height: 116px;
                margin-top: 15px;
            }
            &:after {
                height: 0;
            }
        }
        &-active {
            font-family: $monserrat-bold;
            font-weight: 800;
            font-size: 53px;
            line-height: 150%;
            text-transform: uppercase;
            color: #244C77;
            &:before {
                content: '';
                display: block;
                width: 1px;
                height: 40px;
                background-color: #333333;
                margin-left: auto;
                margin-right: auto;
            }
            &:after {
                content: '';
                display: block;
                width: 1px;
                height: 76px;
                background-color: #333333;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
.map {
    position: relative;
    &-image {
        width: 100%;
        min-height: 1017px;
        object-fit: cover;
        margin-bottom: -12px;
    }
    &-body {
        top: 166px;
        position: absolute;
    }
    &-wrap {
        max-width: 460px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
        padding: 63px;
        box-sizing: border-box;
    }
    &-title {
        margin-top: 0;
        margin-bottom: 20px;
    }
    &-block {
        margin-top: 27px;
    }
    &-subtitle {
        font-size: 24px;
        line-height: 150%;
        margin-bottom: 10px;
        &-normal {
            font-weight: normal;
            font-family: $monserrat-reg;
        }
    }
    &-link {
        color: #333333;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;
        &:hover,
        &:focus {
            border-bottom: 1px solid #333333;
        }
    }
}

/* Footer */

.footer {
    background: #244C77;
    color: #ffffff;
    padding: 37px 0 31px 0;
    line-height: 1.3;
    letter-spacing: 0.1px;
    font-size: 16px;
    font-style: italic;
    font-family: $monserrat-italic;
}

/* Modal */

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    text-align: center;
    &.visible {
        display: block;
    }
    &-body {
        display: inline-block;
        background-color: #f9f9f9;
        width: 750px;
        box-shadow: 9px 14px 26px 7px rgba(0, 0, 0, 0.35);
        padding: 90px 65px;
        box-sizing: border-box;
        position: relative;
        text-align: left;
        overflow: hidden;
        &:before {
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url(../img/modal-body-bg.jpg);
            position: absolute;
            box-sizing: border-box;
            left: 0;
            top: 0;
            opacity: 0.6;
            z-index: 1;
        }
    }
    &-wrap {
        position: relative;
        z-index: 2;
    }
    &-close {
        position: absolute;
        z-index: 2;
        right: 30px;
        top: 34px;
        &-icon {
            display: inline-block;
            width: 48px;
            height: 48px;
            background-image: url(../img/modal-close-icon.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    &-title {
        font-size: 42px;
        line-height: 150%;
        color: #244C77;
        margin-top: 0;
    }
    &-list {
        margin-top: 71px;
    }
    &-item {
        margin: 40px 0;
    }
    &-field {
        background: #FFFFFF;
        border: 1px solid #E8F3FE;
        box-sizing: border-box;
        box-shadow: 0px 36px 47px -18px #DDEEFE;
        border-radius: 55px;
        height: 90px;
        width: 100%;
        padding: 32px 56px;
        font-size: 18px;
        line-height: 150%;
        color: #333333;
        &::placeholder {
            color: #333333;
        }
    }
    &-btn {
        margin-top: 20px;
        color: #FFFFFF;
        background: #244C77;
        box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
        border-radius: 57px;
        height: 90px;
        padding: 32px 56px;
        font-size: 18px;
        line-height: 150%;
        box-sizing: border-box;
        transition: all 0.5s;
        &:hover,
        &:focus {
            background-color: #386ea8;
        }
    }
    &-copy {
        font-size: 18px;
        line-height: 150%;
        color: #333333;
        margin-top: 81px;
        &-link {
            color: #244C77;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: all 0.5s;
            &:hover,
            &:focus {
                border-bottom: 1px solid #244C77;
            }
        }
    }
}