/* Fonts */
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat-Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url(../fonts/Montserrat-Italic.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1140px;
}

body {
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 43px;
  line-height: 150%;
  color: #244C77;
}

/* Header */
.header {
  background-color: #244C77;
  overflow: hidden;
}

.header-mobile {
  display: none;
}

.header-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-left {
  text-align: center;
  background-color: #ffffff;
  position: relative;
}

.header-left::before {
  content: '';
  display: inline-block;
  position: relative;
  width: 1600px;
  height: 105px;
  background-color: #ffffff;
  position: absolute;
  z-index: 1;
  right: 95px;
}

.header-logo {
  padding: 25px 0;
  position: relative;
  left: -10px;
  z-index: 5;
}

.header-image-mobile {
  display: none;
}

/* Navigation */
.nav {
  padding-left: 38px;
  position: relative;
  top: -3px;
}

.nav-list {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  margin: 15px;
}

.nav-link {
  color: #FFFFFF;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus {
  border-bottom: 1px solid #FFFFFF;
}

/* Sections */
.promo-body {
  position: relative;
}

.promo-decor {
  position: absolute;
}

.promo-decor-one {
  display: inline-block;
  width: 200px;
  height: 300px;
  left: -500px;
  top: 30px;
  background: #DDEEFE;
}

.promo-decor-one:after {
  content: '';
  width: 300px;
  height: 300px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-decor-one.svg);
  position: absolute;
  top: 150px;
  right: -150px;
}

.promo-pre {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  margin-top: 100px;
}

.promo-pre:before {
  content: '';
  display: inline-block;
  width: 65px;
  height: 1px;
  background-color: #333333;
  margin-left: 0;
  margin-right: 30px;
  position: relative;
  top: -5px;
}

.promo-title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 150%;
  text-transform: uppercase;
  margin-top: 38px;
  letter-spacing: 1.2px;
}

.promo-descr {
  font-size: 22px;
  line-height: 150%;
  margin-top: 59px;
  letter-spacing: 1.2px;
}

.promo-more {
  margin-top: 82px;
  margin-bottom: 50px;
}

.promo-more-btn {
  background: #244C77;
  -webkit-box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
          box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
  border-radius: 45px;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 27px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.promo-more-btn:hover, .promo-more-btn:focus {
  background-color: #386ea8;
}

.promo-list {
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 117px;
  margin-bottom: 40px;
  max-width: 94%;
}

.promo-item {
  position: relative;
}

.promo-item:after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 93px;
  background-color: #333333;
  position: absolute;
  top: 18px;
  right: -35px;
}

.promo-item:last-child:after {
  content: none;
}

.promo-num {
  display: block;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 53px;
  line-height: 80px;
  text-transform: uppercase;
  color: #244C77;
}

.promo-picture {
  padding-left: 20px;
  position: relative;
}

.promo-picture:after {
  content: '';
  display: inline-block;
  width: 690px;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-picture-after.svg);
  position: absolute;
  z-index: -1;
  bottom: -248px;
  left: 121px;
}

.social {
  position: absolute;
  bottom: 70px;
  right: 9px;
}

.social-item {
  margin: 50px 20px;
}

.social-icon {
  display: inline-block;
  min-width: 32px;
  width: 32px;
  height: 32px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social-icon-one {
  background-image: url(../img/social-icon-one.svg);
}

.social-icon-thue {
  background-image: url(../img/social-icon-thue.svg);
}

.social-icon-three {
  background-image: url(../img/social-icon-three.svg);
}

.social-icon:hover, .social-icon:focus {
  opacity: 0.75;
}

.why {
  padding-top: 156px;
}

.why-mobile {
  display: none;
}

.why-row {
  position: relative;
  left: 66px;
  top: 38px;
}

.why-right {
  position: relative;
  top: -41px;
  left: -29px;
  padding-right: 60px;
}

.why-right p {
  margin: 15px 0 26px 0;
}

.why-picture {
  position: relative;
}

.why-picture:after {
  content: '';
  position: absolute;
  width: 560px;
  height: 845px;
  left: -276px;
  top: -90px;
  z-index: -1;
  background: #DDEEFE;
}

.why-info {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 36px 47px -18px #DDEEFE;
          box-shadow: 0px 36px 47px -18px #DDEEFE;
  padding: 25px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  width: 100%;
  bottom: -34px;
  left: -64px;
}

.why-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}

.why-text {
  margin-top: 10px;
  margin-bottom: 0;
}

.why-title {
  margin-top: 0;
  margin-bottom: 51px;
}

.why-more {
  margin-top: 71px;
  margin-bottom: 50px;
}

.why-more-btn {
  background: #244C77;
  -webkit-box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
          box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
  border-radius: 45px;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 27px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.why-more-btn:hover, .why-more-btn:focus {
  background-color: #386ea8;
}

.services {
  padding-top: 140px;
  padding-bottom: 42px;
}

.services-body {
  position: relative;
}

.services-body:after {
  content: '';
  display: inline-block;
  width: 1000px;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/services-body-after.svg);
  position: absolute;
  z-index: -1;
  top: -46px;
  left: -144px;
}

.services-title {
  margin-top: 7px;
}

.services-descr {
  font-size: 24px;
  line-height: 150%;
  color: #333333;
}

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}

.services-item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 36px 47px -18px #DDEEFE;
          box-shadow: 0px 36px 47px -18px #DDEEFE;
  padding: 23px 34px 38px 34px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 15px 15px 30px 15px;
  width: calc(50% - 30px);
}

.services-item:first-child {
  padding: 60px 0 0 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.services-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #244C77;
  margin-top: 0;
  margin-bottom: 29px;
}

.services-more {
  margin-top: 35px;
}

.services-more-btn {
  padding: 0;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  border-bottom: 1px solid #333333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.services-more-btn:hover, .services-more-btn:focus {
  border-bottom: 1px solid transparent;
}

.services-price {
  margin-top: -1px;
}

.services-price-link {
  padding: 0;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  border-bottom: 1px solid #333333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
}

.services-price-link:hover, .services-price-link:focus {
  border-bottom: 1px solid transparent;
}

.propose {
  padding-top: 60px;
  padding-bottom: 65px;
}

.propose-body {
  position: relative;
  overflow: hidden;
  padding-left: 40px;
  margin-left: -40px;
  width: 101.5%;
}

.propose-slider {
  position: relative;
  padding-bottom: 80px;
}

.propose-right {
  padding-top: 50px;
  padding-left: 36px;
  position: relative;
  font-size: 24px;
  line-height: 150%;
}

.propose-title {
  text-align: right;
  margin-top: 0;
  margin-bottom: 42px;
  position: static;
  padding-right: 46px;
}

.propose-arrows {
  position: absolute;
  z-index: 10;
  top: 404px;
  right: 43px;
  width: 49%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.propose-arrow {
  display: inline-block;
  min-width: 65px;
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.propose-arrow-left {
  background-image: url(../img/propose-arrow-left.svg);
}

.propose-arrow-right {
  top: 20px;
  background-image: url(../img/propose-arrow-right.svg);
}

.coupone {
  padding: 7px 96px 22px 96px;
  background: #DDEEFE;
  -webkit-box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
          box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.coupone-slider {
  overflow: hidden;
}

.coupone-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #244C77;
}

.coupone-list {
  font-size: 18px;
  line-height: 150%;
}

.coupone-item {
  margin-bottom: 33px;
}

.coupone-item:last-child {
  margin-bottom: 0;
}

.coupone-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -25px;
}

.coupone-end-item {
  margin: 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30%;
}

.coupone-end-item:last-child {
  position: relative;
  left: -20px;
}

.coupone-more-btn {
  padding: 0;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  text-align: left;
  text-decoration: underline;
}

.coupone-more-btn:hover, .coupone-more-btn:focus {
  text-decoration: none;
}

.coupone-buy {
  text-align: left;
}

.coupone-buy-link {
  padding: 0;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  text-decoration: underline;
}

.coupone-buy-link:hover, .coupone-buy-link:focus {
  text-decoration: none;
}

.about-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  line-height: 150%;
}

.about-title {
  position: relative;
  left: -32px;
  top: -9px;
}

.about-list {
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  position: relative;
  margin: 25px -15px 40px -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.about-list:after {
  content: '';
  display: inline-block;
  width: 1213px;
  height: 240px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/about-list-after.svg);
  position: absolute;
  top: -33px;
  left: -19px;
  z-index: -1;
}

.about-item {
  background: #DDEEFE;
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(25% - 30px);
  padding: 46px 25px;
  position: relative;
}

.about-num {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-size: 144px;
  color: #E8F3FE;
  position: absolute;
  top: 60px;
  right: 5px;
}

.about-text {
  position: relative;
  z-index: 1;
}

.about-left p {
  margin: 25px 0;
}

.about-right {
  padding-right: 30px;
}

.about-more {
  margin-top: 30px;
}

.about-more-link {
  font-size: 18px;
  line-height: 150%;
  text-decoration: none;
  color: #333333;
  border-bottom: 1px solid #333333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.about-more-link:hover, .about-more-link:focus {
  border-bottom: 1px solid transparent;
}

.about-picture {
  margin-top: 30px;
  position: relative;
  left: -15px;
}

.about-image {
  width: 100%;
}

.about-end {
  width: 97%;
  margin-top: 51px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-end-btn {
  background: #244C77;
  -webkit-box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
          box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
  border-radius: 45px;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 27px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 285px;
}

.about-end-btn:hover, .about-end-btn:focus {
  background-color: #386ea8;
}

.clinik {
  padding-top: 52px;
  padding-bottom: 0px;
}

.clinik-title {
  position: relative;
  top: 4px;
}

.clinik-body {
  position: relative;
  padding-left: 0;
}

.clinik-body:after {
  content: '';
  display: inline-block;
  background: #E8F3FE;
  width: 49%;
  height: 76%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  top: 37px;
  right: 39px;
  z-index: -1;
}

.clinik-body:before {
  content: '';
  display: inline-block;
  width: 535px;
  height: 565px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/clinik-right-before.svg);
  position: absolute;
  bottom: 86px;
  right: -51px;
  z-index: -2;
}

.clinik-list {
  position: relative;
  overflow: hidden;
}

.clinik-item {
  padding: 100px 0 81px 0;
}

.clinik-title {
  margin-top: -60px;
  margin-bottom: 49px;
}

.clinik-descr {
  font-size: 18px;
  line-height: 150%;
  width: 82%;
}

.clinik-more {
  margin-top: 10px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clinik-more-btn {
  background: #244C77;
  -webkit-box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
          box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
  border-radius: 45px;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 22px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.clinik-more-btn:hover, .clinik-more-btn:focus {
  background-color: #386ea8;
}

.clinik-left {
  width: 39%;
}

.clinik-midd {
  padding-left: 0;
}

.clinik-picture {
  position: relative;
  top: -19px;
}

.clinik-arrows {
  position: absolute;
  z-index: 10;
  bottom: 215px;
  left: 0;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clinik-arrow {
  display: inline-block;
  min-width: 65px;
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.clinik-arrow-left {
  background-image: url(../img/propose-arrow-left.svg);
}

.clinik-arrow-right {
  top: 20px;
  background-image: url(../img/propose-arrow-right.svg);
}

.midd-slider {
  overflow: hidden;
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
  top: -20px;
  left: -26px;
}

.midd-row {
  margin: 0;
  padding-left: 30px;
}

.midd-center {
  padding: 0;
}

.midd-right {
  position: relative;
  top: -15px;
  left: 30px;
  padding-right: 45px;
}

.midd-right p {
  margin: 20px 0;
}

.useful {
  padding-top: 0;
  padding-bottom: 200px;
  overflow: hidden;
}

.useful-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 150%;
}

.useful-top-left {
  width: 60%;
}

.useful-top-uplink {
  display: block;
}

.useful-title {
  position: relative;
  left: -31px;
  top: 3px;
}

.useful-body {
  position: relative;
  margin-top: 15px;
}

.useful-list {
  position: relative;
  max-width: 730px;
  padding-top: 87px;
  margin-right: auto;
}

.useful-list:after {
  content: '';
  display: inline-block;
  width: 1138px;
  height: 600px;
  background: #E8F3FE;
  position: absolute;
  top: 25px;
  left: -189px;
  right: 0;
  z-index: 0;
}

.useful-list::before {
  content: '';
  display: inline-block;
  width: 712px;
  height: 565px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/useful-list-before.svg);
  position: absolute;
  right: -557px;
  bottom: -210px;
  z-index: -2;
}

.useful .swiper-slide {
  background-color: #ffffff;
}

.useful .swiper-slide .useful-item {
  opacity: 0.5;
}

.useful .swiper-slide-active .useful-item {
  opacity: 1;
}

.useful-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
}

.useful-picture {
  min-width: 255px;
}

.useful-image {
  margin-bottom: -8px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.useful-text {
  padding: 25px 22px 14px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #DDEEFE;
}

.useful-subtitle {
  margin-top: 10px;
  margin-bottom: 27px;
  font-size: 24px;
  line-height: 1.4;
  width: 80%;
}

.useful-arrows {
  position: absolute;
  z-index: 3;
  bottom: -95px;
  left: 0;
  width: 97%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.useful-arrow {
  display: inline-block;
  min-width: 65px;
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: relative;
}

.useful-arrow-left {
  background-image: url(../img/propose-arrow-left.svg);
}

.useful-arrow-right {
  top: 3px;
  background-image: url(../img/propose-arrow-right.svg);
}

.confidence {
  padding-top: 101px;
  padding-bottom: 53px;
}

.confidence-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 150%;
}

.confidence-descr {
  position: relative;
  left: -18px;
}

.confidence-descr-uplink {
  display: block;
}

.confidence-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-top: 60px;
}

.confidence-body:after {
  content: '';
  display: inline-block;
  width: 264px;
  height: 265px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/confidence-list-after.svg);
  position: absolute;
  z-index: -1;
  left: 95px;
  top: 58px;
}

.confidence-list {
  max-width: 740px;
  min-width: 740px;
  font-size: 18px;
  line-height: 150%;
  padding-left: 90px;
  padding-top: 90px;
  padding-bottom: 90px;
  padding-right: 90px;
  margin-left: -90px;
  margin-bottom: -90px;
  overflow: hidden;
  position: relative;
  left: 146px;
  top: -91px;
}

.confidence-item {
  background: #E8F3FE;
  -webkit-box-shadow: 0px 36px 47px -18px #DDEEFE;
          box-shadow: 0px 36px 47px -18px #DDEEFE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 60px 70px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.confidence-picture {
  position: relative;
  left: -80px;
  top: 7px;
}

.confidence-image {
  width: 160px;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

.confidence-subtop {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
  width: 98%;
}

.confidence-subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  color: #333333;
}

.confidence-stars {
  position: relative;
  top: 5px;
}

.confidence-stars-icon {
  display: inline-block;
  width: 162px;
  height: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/confidence-start-icon.svg);
}

.confidence-arrows {
  position: relative;
  z-index: 3;
  left: 141px;
  top: -33px;
  width: 100%;
  display: block;
  text-align: right;
  padding-left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 150px;
}

.confidence-arrow {
  display: block;
  min-width: 65px;
  width: 65px;
  height: 65px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.confidence-arrow-left {
  background-image: url(../img/propose-arrow-left.svg);
  margin-top: 9px;
}

.confidence-arrow-right {
  top: 20px;
  background-image: url(../img/propose-arrow-right.svg);
}

.pagin {
  width: 75px;
  text-align: center;
  margin-left: 0;
  position: relative;
  top: -41px;
  left: -9px;
}

.pagin-list {
  font-size: 24px;
  line-height: 200%;
  text-transform: uppercase;
}

.pagin-num {
  display: block;
}

.pagin-num-active {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 53px;
  line-height: 150%;
  text-transform: uppercase;
  color: #244C77;
}

.pagin-num-active:after {
  content: '';
  display: block;
  width: 1px;
  height: 116px;
  background-color: #333333;
  margin-left: auto;
  margin-right: auto;
}

.pagin .swiper-pagination-bullet {
  display: block;
  background: transparent;
  opacity: 1;
  font-size: 24px;
  width: auto;
  height: auto;
  min-width: 80px;
  margin: 20px 0;
}

.pagin .swiper-pagination-bullet:before {
  height: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.pagin .swiper-pagination-bullet:after {
  height: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.pagin .swiper-pagination-bullet:first-child::before {
  height: 0;
}

.pagin .swiper-pagination-bullet:first-child:after {
  height: 116px;
  margin-top: 15px;
  margin-bottom: 28px;
}

.pagin .swiper-pagination-bullet:last-child:before {
  height: 116px;
  margin-top: 15px;
}

.pagin .swiper-pagination-bullet:last-child:after {
  height: 0;
}

.pagin .swiper-pagination-bullet-active {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 53px;
  line-height: 150%;
  text-transform: uppercase;
  color: #244C77;
}

.pagin .swiper-pagination-bullet-active:before {
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  background-color: #333333;
  margin-left: auto;
  margin-right: auto;
}

.pagin .swiper-pagination-bullet-active:after {
  content: '';
  display: block;
  width: 1px;
  height: 76px;
  background-color: #333333;
  margin-left: auto;
  margin-right: auto;
}

.map {
  position: relative;
}

.map-image {
  width: 100%;
  min-height: 1017px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: -12px;
}

.map-image-mobile {
  display: none;
}

.map-body {
  top: 166px;
  position: absolute;
}

.map-wrap {
  max-width: 460px;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
          box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
  padding: 63px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.map-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.map-block {
  margin-top: 27px;
}

.map-subtitle {
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 10px;
}

.map-subtitle-normal {
  font-weight: normal;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
}

.map-link {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.map-link:hover, .map-link:focus {
  border-bottom: 1px solid #333333;
}

/* Footer */
.footer {
  background: #244C77;
  color: #ffffff;
  padding: 37px 0 31px 0;
  line-height: 1.3;
  letter-spacing: 0.1px;
  font-size: 16px;
  font-style: italic;
  font-family: "Montserrat-Italic", Arial, Helvetica, sans-serif;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 30px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
  text-align: center;
}

.modal.visible {
  display: block;
}

.modal-body {
  display: inline-block;
  background-color: #f9f9f9;
  width: 750px;
  -webkit-box-shadow: 9px 14px 26px 7px rgba(0, 0, 0, 0.35);
          box-shadow: 9px 14px 26px 7px rgba(0, 0, 0, 0.35);
  padding: 90px 65px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-align: left;
  overflow: hidden;
}

.modal-body:before {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/modal-body-bg.jpg);
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: 0;
  top: 0;
  opacity: 0.6;
  z-index: 1;
}

.modal-wrap {
  position: relative;
  z-index: 2;
}

.modal-close {
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 34px;
}

.modal-close-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url(../img/modal-close-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-title {
  font-size: 42px;
  line-height: 150%;
  color: #244C77;
  margin-top: 0;
}

.modal-list {
  margin-top: 71px;
}

.modal-item {
  margin: 40px 0;
}

.modal-field {
  background: #FFFFFF;
  border: 1px solid #E8F3FE;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 36px 47px -18px #DDEEFE;
          box-shadow: 0px 36px 47px -18px #DDEEFE;
  border-radius: 55px;
  height: 90px;
  width: 100%;
  padding: 32px 56px;
  font-size: 18px;
  line-height: 150%;
  color: #333333;
}

.modal-field::-webkit-input-placeholder {
  color: #333333;
}

.modal-field:-ms-input-placeholder {
  color: #333333;
}

.modal-field::-ms-input-placeholder {
  color: #333333;
}

.modal-field::placeholder {
  color: #333333;
}

.modal-btn {
  margin-top: 20px;
  color: #FFFFFF;
  background: #244C77;
  -webkit-box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
          box-shadow: 0px 36px 47px -18px rgba(36, 76, 119, 0.65);
  border-radius: 57px;
  height: 90px;
  padding: 32px 56px;
  font-size: 18px;
  line-height: 150%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-btn:hover, .modal-btn:focus {
  background-color: #386ea8;
}

.modal-copy {
  font-size: 18px;
  line-height: 150%;
  color: #333333;
  margin-top: 81px;
}

.modal-copy-link {
  color: #244C77;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-copy-link:hover, .modal-copy-link:focus {
  border-bottom: 1px solid #244C77;
}
/*# sourceMappingURL=style.css.map */