/* Fonts */
@font-face {
  font-family: 'Lato-Regular';
  src: url(../fonts/Lato-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Black';
  src: url(../fonts/Lato-Black.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Main styles */
body {
  margin: 0;
  overflow-x: hidden;
}

.content {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Section */
.logist {
  font-family: "Lato-Regular", Arial, Helvetica, sans-serif;
}

.logist-body {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/logist-bg.jpg);
  background-size: cover;
  min-height: 1056px;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logist-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logist-left {
  width: 50%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logist-right {
  width: 50%;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logist-title {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 66px;
  font-family: "Lato-Black", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 1;
}

.logist-decor {
  display: inline-block;
  min-width: 823px;
  width: 823px;
  height: 831px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/logistic-decor.png);
}

.logist-round {
  min-width: 794px;
  width: 794px;
  height: 669px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/logist-round.png);
  position: relative;
}

.logist-round-body {
  width: 340px;
  font-size: 17px;
  text-align: right;
  letter-spacing: 0.3px;
  position: absolute;
  bottom: 147px;
  right: 239px;
}

.logist-descr {
  color: #72c9fd;
  font-size: 25px;
}

.logist-end {
  max-width: 1100px;
  margin: 30px auto 0 auto;
}

.logist-subtitle {
  color: #ffffff;
  font-size: 38px;
  font-family: "Lato-Black", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.logist-list {
  margin: 0 -25px;
  padding: 0;
  list-style-type: none;
  color: #555555;
  font-size: 12px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logist-item {
  background-color: #ffffff;
  margin: 25px;
  width: calc(25% - 50px);
}

.logist-item:nth-child(2), .logist-item:nth-child(4) {
  background-color: #043e9e;
  color: #ffffff;
}

.logist-wrapper {
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.logist-picture {
  width: 25%;
}

.logist-icon {
  display: inline-block;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
}

.logist-icon-one {
  background-image: url(../img/logist-icon-one.png);
}

.logist-icon-thue {
  background-image: url(../img/logist-icon-thue.png);
}

.logist-icon-three {
  background-image: url(../img/logist-icon-three.png);
}

.logist-icon-four {
  background-image: url(../img/logist-icon-four.png);
}

.logist-words {
  width: 75%;
}
/*# sourceMappingURL=style.css.map */