/* Fonts */
@font-face {
  font-family: 'Roboto-Regular';
  src: url(../fonts/Roboto-Regular.ttf);
  font-weight: bold;
  font-style: bold;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(../fonts/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: bold;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}

input, textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 800px;
}

body {
  font-family: "Roboto-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #374A5E;
  background: #F9F9F9;
  line-height: 131.02%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
}

/* Header */
.header {
  text-align: center;
  padding: 22px 0;
}

/* Sections */
.hello {
  text-align: center;
}

.hello-slider {
  overflow: hidden;
}

.hello-slider .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  margin: 0 7px !important;
  opacity: 1;
  background-color: #CECFCF;
}

.hello-slider .swiper-pagination-bullet-active {
  background-color: #374A5E;
}

.hello-subtitle {
  font-size: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.hello-picture {
  margin-top: 50px;
  margin-bottom: 150px;
}

.hello-more-btn {
  display: inline-block;
  width: 275px;
  height: 46px;
  background: #374A5E;
  border-radius: 15px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  padding: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.hello-more-btn:hover, .hello-more-btn:focus {
  background: #556f8a;
}

.hello-more-link {
  display: none;
}

/* Footer */
.footer {
  background-color: #F9F9F9;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-more {
  text-align: center;
}

.footer-more-btn {
  display: inline-block;
  width: 275px;
  height: 46px;
  background: #374A5E;
  border-radius: 15px;
  font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  padding: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-more-btn:hover, .footer-more-btn:focus {
  background: #556f8a;
}

.footer-more-link {
  display: none;
}
/*# sourceMappingURL=style.css.map */