/* Fonts */
@font-face {
  font-family: 'Nostra';
  src: url(../fonts/Nostra.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: Helvetica, Arial, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

section {
  overflow: hidden;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1920px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h2 {
  font-weight: normal;
  font-size: 70px;
  line-height: 157px;
  text-align: center;
  letter-spacing: 1.0px;
  text-transform: uppercase;
  color: #000000;
}

.letter {
  font-family: "Nostra", Helvetica, Arial, sans-serif;
  text-transform: lowercase;
}

/* Header */
.nav {
  margin: 18px 0;
}

.nav-list {
  font-size: 22px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.nav-item::after {
  content: '/';
  margin: 0 27px 0 23px;
}

.nav-item:last-child::after {
  content: none;
}

.nav-link {
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus {
  border-bottom: 1px solid #000000;
}

/* Sections */
.mobile {
  display: none;
}

.promo-logo {
  margin-top: 13px;
  margin-bottom: 13px;
}

.promo-image {
  width: 100%;
}

.promo-descr {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.75px;
}

.promo-text-up {
  display: inline-block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/promo-text-up.svg);
  margin-left: 14px;
}

.promo-more {
  margin-top: 16px;
}

.promo-more-link {
  background-image: linear-gradient(268deg, #FFE0E0 8%, #E0FFEE 91.14%);
  border-radius: 60.93px 60.9259px 60.9259px 60.9259px;
  font-size: 32px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.314503px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  padding: 34px 41px;
  -webkit-transition: background-image 0.5s;
  transition: background-image 0.5s;
  min-width: 445px;
}

.promo-more-link:hover, .promo-more-link:focus {
  background-image: linear-gradient(268deg, #ffeded 8%, #c9fadf 91.14%);
}

.wecan .content {
  padding: 0;
}

.wecan-title {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 160px;
  line-height: 132px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 25px;
  margin-bottom: 100px;
}

.wecan-top {
  display: block;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  padding: 30px 0 30px 0;
}

.wecan-bottom {
  display: block;
  border-bottom: 1px solid #000000;
  padding: 9px 0 36px 0;
  letter-spacing: 2.75px;
}

.wecan-decor {
  display: inline-block;
  min-width: 273px;
  width: 273px;
  height: 112px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/wecan-decor.svg);
  margin-left: 22px;
  margin-right: -10px;
}

.wecan-arrow {
  display: inline-block;
  min-width: 150px;
  width: 150px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/wecan-arrow.svg);
  position: relative;
  top: 25px;
}

.decision {
  margin-top: 55px;
}

.decision .content {
  padding: 0;
}

.decision-title {
  margin: 0;
  line-height: 100px;
}

.decision-list {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-top: 6px;
}

.decision-item {
  width: calc(50% - 1px);
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.decision-item:hover, .decision-item:focus {
  background-color: #E0ECFF;
}

.decision-item:first-child {
  border-right: 1px solid #000000;
}

.decision-item:first-child .decision-picture {
  margin-bottom: 74px;
}

.decision-subtitle {
  font-size: 70px;
  letter-spacing: 2.64232px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 30px;
  margin-bottom: 57px;
}

.decision-subtitle-link {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.decision-subtitle-link:hover, .decision-subtitle-link:focus {
  border-bottom: 1px solid #000000;
}

.decision-descr {
  font-size: 38px;
  line-height: 67px;
  margin-top: 48px;
  margin-bottom: 30px;
  letter-spacing: 0.7px;
}

.decision-descr-link {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.decision-descr-link:hover, .decision-descr-link:focus {
  border-bottom: 1px solid #000000;
}

.where-title {
  font-size: 156px;
  line-height: 160px;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 16px;
}

.where-row {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  font-size: 38px;
  line-height: 47px;
}

.where-left {
  border-right: 1px solid #000000;
}

.where-decor {
  width: 415px;
  height: 156px;
  border: 1px solid #000000;
  margin-top: 50px;
  margin-bottom: 84px;
  margin-left: 98px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.where-picture {
  position: relative;
  left: -71px;
  top: -3px;
}

.where-round {
  position: relative;
  right: -71px;
  top: -3px;
}

.where-image {
  width: 162px;
  height: 162px;
  border-radius: 50%;
}

.where-subtitle {
  font-size: 70px;
  line-height: 77px;
  letter-spacing: 1.34214px;
  text-transform: uppercase;
  color: #000000;
  margin-left: 29px;
}

.where-subtitle:last-child {
  margin-bottom: 40px;
}

.where-more {
  margin: 35px 0;
}

.where-more-link {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-image: linear-gradient(268deg, #FFE0E0 8%, #E0FFEE 91.14%);
  border-radius: 260px;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 120px;
  line-height: 67px;
  letter-spacing: 1.34214px;
  text-transform: uppercase;
  color: #000000;
  padding: 160px 0;
}

.where-more-link:hover, .where-more-link:focus {
  background-image: linear-gradient(268deg, #ffeded 8%, #c9fadf 91.14%);
}

.where-text {
  margin-top: 26px;
  letter-spacing: 0.75px;
}

.projects .content {
  padding: 0;
}

.projects-top {
  border-top: 1px solid #000000;
}

.projects-title {
  font-size: 155px;
  line-height: 160px;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
  margin-top: 14px;
  margin-bottom: 32px;
  padding-top: 21px;
  width: 60%;
}

.projects-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  border-top: 1px solid #000000;
}

.projects-item {
  width: calc(50% - 1px);
  padding: 50px 40px 66px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-item:nth-child(2n) {
  border-right: none;
}

.projects-item:last-child {
  border-bottom: none;
}

.projects-item:hover, .projects-item:focus {
  background-color: #E0ECFF;
}

.projects-name {
  font-size: 38px;
  line-height: 34px;
  text-align: center;
  color: #000000;
  display: block;
  margin-bottom: 35px;
}

.projects-picture {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.projects-more {
  margin-top: 14px;
}

.projects-more-link {
  font-size: 30px;
  line-height: 34px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.projects-more-link:hover .projects-more-text,
.projects-more-link:focus .projects-more-text {
  border-bottom: 1px solid #000000;
}

.projects-more-text {
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.projects-more-decor {
  display: inline-block;
  min-width: 20px;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/projects-more-decor.svg);
  margin-left: 8px;
  position: relative;
  top: -1px;
}

.feedback {
  margin: 45px 0 1px 0;
  overflow: visible;
  position: relative;
  z-index: 20;
}

.feedback-title {
  font-size: 155px;
  line-height: 129px;
  letter-spacing: 2.64232px;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
  margin: 0;
}

.feedback-row {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-top: 37px;
}

.feedback-left {
  border-right: 1px solid #000000;
}

.feedback-right {
  padding-top: 210px;
  padding-left: 232px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.feedback-picture {
  margin-top: 137px;
}

.feedback-image {
  width: 172px;
  height: 172px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.feedback-descr {
  font-size: 38px;
  line-height: 47px;
  margin-bottom: 23px;
}

.feedback-name {
  font-size: 38px;
  line-height: 34px;
  color: #000000;
}

.feedback-list {
  margin-top: 50px;
  position: relative;
  z-index: 10;
}

.feedback-item {
  margin: 18px 0 10px 0;
}

.feedback-link {
  font-size: 61px;
  line-height: 34px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.feedback-link:hover, .feedback-link:focus {
  border-bottom: 1px solid #000000;
}

/* Footer */
.footer {
  font-size: 26px;
  line-height: 34px;
  color: #000000;
  padding: 20px 0 30px 0;
  position: relative;
}

.footer .content {
  position: relative;
  z-index: 10;
}

.footer-logo {
  margin-right: 43px;
}

.footer-decor {
  display: inline-block;
  min-width: 848px;
  width: 848px;
  height: 258px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/footer-decor.svg);
  position: absolute;
  bottom: -30px;
  left: 26%;
  z-index: -1;
}

.footer-copy-text {
  position: relative;
  top: -7px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 20px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  text-align: center;
}

.modal.visible {
  display: block;
}

.modal-body {
  display: inline-block;
  background: #FFFFFF;
  width: 1047px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  text-align: left;
  font-size: 16px;
}

.modal-close {
  position: absolute;
  right: -15px;
  top: -15px;
  z-index: 10;
}

.modal-close-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/modal-close-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-list {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin-top: 80px;
  margin-bottom: 30px;
}

.modal-lbl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-lbl-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.modal-item:first-child {
  border-bottom: 1px solid #000000;
}

.modal-text {
  font-size: 58.3112px;
  line-height: 56px;
  letter-spacing: 1.14983px;
  text-transform: uppercase;
  color: #000000;
  display: inline-block;
  max-width: 336px;
  width: 100%;
  border-right: 1px solid #000000;
  padding: 15px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal-field {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  font-size: 58.3112px;
}

.modal-check {
  min-width: 25px;
  width: 25px;
  height: 25px;
  position: relative;
  top: -1px;
  margin-right: 10px;
}

.modal-check-text {
  font-size: 18px;
  line-height: 34px;
  color: #000000;
}

.modal-more {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}

.modal-more-btn {
  background: linear-gradient(268deg, #FFE0E0 8%, #E0FFEE 91.14%);
  border-radius: 98.3333px;
  font-size: 30.2564px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.507602px;
  text-transform: uppercase;
  color: #000000;
  padding: 22px 60px;
}

.modal-more-btn:hover, .modal-more-btn:focus {
  background-image: linear-gradient(268deg, #ffeded 8%, #c9fadf 91.14%);
}

.modal-row {
  margin: 0;
  padding: 0 3px;
  border-bottom: 1px solid #000000;
}

.modal-row:last-child {
  border-bottom: none;
}

.modal-left {
  border-right: 1px solid #000000;
}

.modal-title {
  margin: 10px 0 0 0;
  padding: 0 20px 7px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #000000;
  font-size: 60px;
  line-height: 50px;
  font-weight: normal;
  text-transform: uppercase;
}

.modal-subitem {
  margin: 10px 0;
}

.modal-images {
  text-align: center;
}

.modal-picture {
  text-align: center;
  margin: 15px 10px;
  display: inline-block;
}

.modal-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.modal-image-big {
  width: 100%;
}

.modal-end {
  margin-top: 25px;
  margin-bottom: 80px;
}

.modal-end-btn {
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 98.3333px;
  font-size: 30.2564px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.507602px;
  text-transform: uppercase;
  color: #000000;
  min-width: 387px;
  padding: 15px 20px;
  box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-end-btn:hover, .modal-end-btn:focus {
  background: #d4d4d4;
}

/* Pages */
.single {
  margin-top: 22px;
  margin-left: -15px;
  margin-right: -15px;
  overflow: visible;
}

.single-row {
  position: relative;
}

.single-left {
  width: 100%;
  padding-left: 0;
}

.single-right {
  position: absolute;
  top: -75px;
  right: 15px;
}

.single-prev {
  font-size: 26px;
  line-height: 34px;
  padding-left: 27px;
  display: inline-block;
  margin-top: 15px;
}

.single-title {
  font-size: 200px;
  line-height: 200px;
  letter-spacing: 2.64232px;
  text-transform: uppercase;
  margin: 25px 0 0 0;
  padding-left: 14px;
}

.single-title-text {
  display: block;
  border-bottom: 1px solid #000000;
}

.single-decor {
  display: inline-block;
  min-width: 107px;
  width: 107px;
  height: 107px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/single-decor.svg);
  position: relative;
  left: -20px;
}

.ways-title {
  font-size: 73px;
  line-height: 87px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
  margin: 0;
  padding: 32px 0 28px 30px;
}

.ways-item:last-child {
  border-bottom: none;
}

.ways-item:last-child .ways-btn {
  border-bottom: none;
}

.ways-item:last-child .ways-btn.active {
  border-bottom: 1px solid #000000;
}

.ways-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 73px;
  line-height: 87px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
  padding: 22px 155px 22px 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  position: relative;
  letter-spacing: 2.75px;
}

.ways-btn.active {
  background: #E4FCED;
}

.ways-btn.active .ways-arrow {
  display: inline-block;
}

.ways-image {
  min-width: 126px;
  width: 126px;
  height: 126px;
  border-radius: 50%;
  margin: 0 39px 0 35px;
}

.ways-arrow {
  display: none;
  min-width: 126px;
  width: 126px;
  height: 126px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/ways-arrow.svg);
  position: absolute;
  right: 40px;
  top: 25px;
}

.ways-list {
  font-size: 26px;
  line-height: 34px;
  color: #000000;
}

.ways-left {
  border-right: 1px solid #000000;
  padding-left: 49px;
}

.ways-right {
  padding-left: 0;
}

.ways-picture {
  margin-top: 75px;
  margin-bottom: 40px;
}

.ways-picture-image {
  max-width: 651px;
  width: 100%;
}

.ways-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
  border-bottom: 1px solid #000000;
  padding-bottom: 40px;
}

.ways-photos-item {
  margin: 10px 15px;
}

.ways-photo {
  max-width: 328px;
  width: 100%;
  max-height: 328px;
  height: 100%;
  border-radius: 50%;
}

.ways-subtitle {
  font-weight: bold;
  font-size: 29.83px;
  line-height: 19px;
  text-transform: uppercase;
  padding-left: 33px;
  padding-right: 15px;
}

.ways-sublist {
  font-size: 24.1794px;
  line-height: 26px;
  list-style-type: disc;
  margin-left: 30px;
  max-width: 70%;
  padding-left: 15px;
  padding-right: 15px;
}

.ways-subitem {
  margin: 27px 0;
}

.ways-more {
  border-top: 1px solid #000000;
  padding-left: 15px;
  padding-right: 15px;
}

.ways-more-btn {
  background: #EFE0FF;
  border-radius: 260px;
  font-size: 30px;
  line-height: 67px;
  letter-spacing: 1.34214px;
  text-transform: uppercase;
  color: #000000;
  padding: 32px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 27px 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.ways-more-btn:hover, .ways-more-btn:focus {
  background: #e4ccff;
}

.ways-drop {
  display: none;
  background: #E4FCED;
  border-bottom: 1px solid #000000;
}

.ways-wraps {
  padding-left: 25px;
}

.also {
  background-color: #030704;
  color: #ffffff;
  padding-top: 245px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.also-row {
  position: relative;
}

.also-left {
  width: 100%;
  position: relative;
  z-index: 10;
}

.also-right {
  position: absolute;
  right: 0;
}

.also-info {
  font-size: 31.11px;
  line-height: 44px;
  letter-spacing: 0.710596px;
  text-transform: uppercase;
}

.also-title {
  font-size: 127px;
  line-height: 140px;
  letter-spacing: 2.64232px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: left;
  margin: 0 0 35px 0;
}

.also-title-link {
  color: #ffffff;
  text-decoration: none;
}

.also-end {
  border-top: 1px solid #FFFFFF;
  padding: 15px 0 15px 0px;
}

.also-end-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.also-logo {
  margin-right: 30px;
}

.also-copy {
  font-size: 18px;
  line-height: 34px;
  margin: 0;
}

.also-list {
  font-size: 33px;
  line-height: 34px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.also-item {
  margin-left: 10px;
}

.also-link {
  color: #ffffff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.also-link:hover, .also-link:focus {
  border-bottom: 1px solid #ffffff;
}

.brand {
  border-top: 1px solid #000000;
  padding: 20px 0;
  margin-top: 50px;
  position: relative;
  text-align: center;
  min-height: 160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.brand-second {
  margin-left: -15px;
  margin-right: -15px;
}

.brand-body {
  display: inline-block;
  width: 336px;
  height: 162px;
  text-align: center;
  -webkit-transform: rotate(11.28deg);
          transform: rotate(11.28deg);
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/brand-body.svg);
  background-size: contain;
  padding: 35px 40px 35px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -50px;
}

.brand-body-thue {
  margin-top: -85px;
  width: 351px;
  height: 170px;
  background-image: url(../img/brand-body-thue.svg);
  -webkit-transform: rotate(-9.12deg);
          transform: rotate(-9.12deg);
  padding: 0px 40px 35px 40px;
}

.brand-body-thue .brand-image {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.brand-image {
  width: 100%;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.anti {
  overflow: hidden;
  padding-bottom: 350px;
}

.anti .single-title {
  font-size: 370.34px;
  line-height: 344px;
}

.anti-body {
  position: relative;
}

.anti-decor {
  display: inline-block;
  width: 939px;
  height: 939px;
  background: #C7B9FE;
  border-radius: 479.5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

.anti-decor-thue {
  display: inline-block;
  width: 939px;
  height: 939px;
  background: #C7B9FE;
  border-radius: 479.5px;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
}

.anti-decor-three {
  display: inline-block;
  width: 1536.04px;
  height: 1036.72px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/anti-decor-three.svg);
  background-size: contain;
  position: absolute;
  top: 0;
  right: 0;
}

.anti-descr {
  font-size: 30px;
  line-height: 38px;
}

.anti-bayan {
  display: inline-block;
  width: 1040px;
  height: 635px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../img/anti-bayan.png);
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: -300px;
}

.mono {
  padding-left: 15px;
  font-size: 22px;
  line-height: 30px;
  background-position: center;
  background-size: cover;
  min-height: 680px;
  overflow: hidden;
  background-color: #ffffff;
}

.mono-one {
  background-image: url(../img/mono-one.jpg);
}

.mono-thue {
  background-image: url(../img/mono-thue.jpg);
}

.mono-three {
  background-image: url(../img/mono-three.jpg);
}

.mono-four {
  background-image: url(../img/mono-four.jpg);
}

.mono-five {
  background-image: url(../img/mono-five.jpg);
}

.mono-six {
  background-image: url(../img/mono-six.jpg);
}

.mono-seven {
  background-image: url(../img/mono-seven.jpg);
}

.mono-eight {
  background-image: url(../img/mono-eight.jpg);
}

.mono-nine {
  background-image: url(../img/mono-nine.jpg);
}

.mono-ten {
  background-image: url(../img/mono-ten.jpg);
}

.mono-eleven {
  background-image: url(../img/mono-eleven.jpg);
}

.mono-top {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 0 0;
}

.mono-title {
  margin: 0;
}

.mono-link {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.mono-link:hover, .mono-link:focus {
  border-bottom: 1px solid transparent;
}

.mono-special {
  position: relative;
}

.mono-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 30px;
  line-height: 51px;
  letter-spacing: 0.993268px;
  text-transform: uppercase;
}

.mono-item {
  width: calc(25% - 8px);
  border: 1px solid #000000;
}

.mono-item-title {
  border-bottom: 1px solid #000000;
  font-size: 55px;
  padding: 5px;
}

.mono-text {
  margin: 0;
  padding: 10px 5px;
}
/*# sourceMappingURL=style.css.map */