@media(max-width: 1260px) {
    .header {
        &-left {
            width: 15%;
        }
        &-center {
            width: 42%;
        }
        &-right {
            width: 43%;
        }
        &-promo {
            display: none;
        }
    }
}
@media(max-width: 992px) {
    .header {
        &-left {
            width: 20%;
        }
        &-center {
            width: 50%;
        }
        &-right {
            width: 30%;
        }
    }
    .info {
        &-right {
            display: none;
        }
    }
    .phone {
        &-body {
            margin-right: 0;
        }
    }
}
@media(max-width: 768px) {
    .header {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #ffffff;
        padding: 15px 0 10px 0;
        box-shadow: 0px 6px 40px 0px rgba(0, 0, 0, 0.17);
        &.show {
            & .header-center,
            & .header-right {
                display: block;
            }
        }
        &-mobile {
            display: block;
            position: absolute;
            right: 15px;
            top: 15px;
            &-icon {
                display: inline-block;
                min-width: 30px;
                width: 30px;
                height: 22px;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url(../img/header-mobile-icon.png);
            }
        }
        &-row {
            flex-wrap: wrap;
        }
        &-left {
            width: 100%;
        }
        &-image {
            display: none;
            &-mobile {
                display: block;
            }
        }
        &-center {
            margin-top: 20px;
            width: 100%;
            display: none;
        }
        &-right {
            width: 100%;
            margin-bottom: 20px;
            display: none;
        }
    }
    .nav {
        &-list {
            display: block;
            text-align: center;
        }
        &-item {
            margin: 10px 0;
        }
    }
    .info {
        &-body {
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
        }
        &-left {
            width: 100%;
        }
        &-right {
            display: block;
            width: 100%;
        }
    }
    .phone {
        &-body {
            justify-content: center;
            margin: 15px 0 20px 0;
        }
    }
    .promo {
        &-body {
            min-height: 364px;
            color: #ffffff;
            padding: 70px 27px;
        }
    }
    .consult {
        &-row {
            display: block;
        }
        &-left {
            width: 100%;
        }
        &-right {
            width: 100%;
            text-align: left;
            margin-top: 20px;
        }
    }
    .footer {
        padding-bottom: 30px;
        &-row {
            flex-wrap: wrap;
            & .col-5 {
                width: 100%;
            }
            & .col-3 {
                width: 50%;
            }
            & .col-4 {
                width: 50%;
            }
        }
    }
}
@media(max-width: 540px) {
    .promo {
        &-body {
            margin: 0 -15px;
            background-image: url(../img/promo-body-mobile.jpg);
            background-position: bottom;
            min-height: 451px;
            text-align: center;
            padding: 50px 15px;
        }
        &-title {
            font-size: 24px;
        }
        &-name {
            font-size: 33px;
            text-transform: inherit;
            margin-left: 0;
        }
        &-date {
            margin-top: 30px;
        }
        &-end {
            margin: 40px 0;
            font-size: 16px;
        }
    }
    .products {
        &-list {
            margin: 15px -15px;
        }
        &-image {
            width: 150px;
            height: 150px;
        }
    }
    .consult {
        margin-top: 25px;
        &-body {
            margin: 0 -15px;
            padding: 30px 15px;
            text-align: center;
        }
        &-right {
            text-align: center;
        }
    }
    .footer {
        text-align: center;
        &-descr {
            max-width: initial;
        }
    }
}
@media(max-width: 425px) {
    .products {
        &-image {
            width: 125px;
            height: 125px;
        }
    }
    .consult {
        &-info {
            display: block;
        }
        &-icon {
            margin-right: 0;
            margin-bottom: 20px;
        }
    }
    .footer {
        padding: 10px 0;
        & .col-3 {
            width: 100%;
        }
        & .col-4 {
            width: 100%;
        }
    }
    .adress {
        &-wrapper {
            display: block;
        }
        &-icon {
            margin-right: 0;
        }
    }
}