/* Fonts */
@font-face {
  font-family: 'OpenSans-Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Light';
  src: url(../fonts/Raleway-Light.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url(../fonts/Raleway-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url(../fonts/Raleway-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url(../fonts/Raleway-Thin.ttf);
  font-weight: normal;
  font-style: normal;
}

/* Grid */
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
}

input,
textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
}

/* Main styles */
html {
  scroll-behavior: smooth;
}

.content {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1300px;
}

body {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #353866;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
}

/* Header */
.header {
  padding: 30px 0 40px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-image-mobile {
  display: none;
}

.header-mobile {
  display: none;
}

.header-promo {
  display: inline-block;
  margin-left: 40px;
}

.header-promo-text {
  font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  margin: 0 -6px;
}

.nav-item {
  margin: 6px;
}

.nav-link {
  color: #353866;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
  border-bottom: 1px solid #cba6c3;
}

.info-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.phone-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  margin-right: 35px;
}

.phone-left {
  margin-right: 10px;
}

.phone-right {
  text-align: center;
}

.phone-icon {
  display: inline-block;
  min-width: 31px;
  width: 31px;
  height: 31px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/phone-icon.png);
  position: relative;
  top: 2px;
}

.phone-num-link {
  color: #353866;
  font-size: 16px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.phone-num-link:hover, .phone-num-link:focus {
  border-bottom: 1px solid #353866;
}

.phone-mail {
  margin-top: 2px;
}

.phone-mail-link {
  color: #aaabd3;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.phone-mail-link:hover, .phone-mail-link:focus {
  border-bottom: 1px solid #aaabd3;
}

.phone-btn {
  background-color: #cba6c3;
  color: #ffffff;
  text-transform: uppercase;
  padding: 12px 15px;
  font-size: 13px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.phone-btn:hover, .phone-btn:focus {
  background-color: #d3b7cd;
}

/* Sections */
.promo-body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/promo-body-bg.jpg);
  min-height: 564px;
  color: #ffffff;
  padding: 170px 67px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.promo-title {
  margin-top: 0;
  font-size: 36px;
  font-family: "Raleway-Thin", Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 1.5px;
}

.promo-name {
  display: inline-block;
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  margin-left: 6px;
}

.promo-date {
  margin-top: 65px;
  margin-left: 6px;
  font-size: 14px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.promo-end {
  margin: 109px auto 66px auto;
  font-size: 20px;
  text-align: center;
  max-width: 940px;
  line-height: 1.95;
}

.products-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/title-bg.png);
  margin: 0;
  padding: 25px 0;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 45px -15px;
}

.products-item {
  width: calc(16.6666666667% -30px);
  margin: 15px;
}

.products-image {
  width: 189px;
  height: 189px;
  border: 1px solid #aaabd3;
}

.consult {
  margin-top: 125px;
  margin-bottom: 26px;
}

.consult-body {
  background-color: #353866;
  color: #ffffff;
  padding: 32px 40px;
}

.consult-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consult-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.consult-title {
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: -0.2px;
  margin: -3px 0 0 0;
}

.consult-icon {
  display: inline-block;
  min-width: 50px;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/consult-icon.png);
  margin-right: 20px;
}

.consult-text {
  margin: 5px 0 0 1px;
}

.consult-btn {
  background-color: #f7f7f7;
  color: #000000;
  font-size: 13px;
  text-transform: uppercase;
  padding: 14px 19px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.consult-btn:hover, .consult-btn:focus {
  background-color: #ffffff;
}

.preview {
  margin-top: 34px;
}

.preview-body {
  background-color: #f5edf3;
  padding: 45px 35px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preview-image {
  width: 100%;
  height: 174px;
}

.preview-title {
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.preview-descr {
  font-size: 14px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  color: #353866;
  max-width: 620px;
  margin-bottom: 0;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px 20px -5px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #999999;
}

.breadcrumbs-item {
  margin: 5px;
}

.breadcrumbs-item::before {
  content: '-';
  display: inline-block;
}

.breadcrumbs-item:first-child::before {
  content: none;
}

.breadcrumbs-link {
  color: #999999;
  text-decoration: none;
  border-bottom: 1px solid #999999;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.breadcrumbs-link:hover, .breadcrumbs-link:focus {
  border-bottom: 1px solid transparent;
}

.buy {
  margin-top: 73px;
}

.buy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.buy-item {
  width: calc(50% - 30px);
  margin: 15px;
}

.buy-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buy-picture {
  margin-right: 35px;
}

.buy-image {
  max-width: 300px;
  width: 100%;
  height: 168px;
}

.buy-title {
  font-size: 23px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  color: #353866;
  line-height: 1.4;
  margin-top: -8px;
}

.buy-semi {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  display: block;
}

.buy-more {
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.buy-more-link {
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px solid #353866;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #353866;
}

.buy-more-link:hover, .buy-more-link:focus {
  border-bottom: 1px solid transparent;
}

.care {
  margin-top: 65px;
  margin-bottom: 140px;
}

.care-list {
  line-height: 1.6;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.care-item {
  margin: 10px 0;
}

.care-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.care-picture {
  margin-right: 37px;
}

.care-icon {
  display: inline-block;
  min-width: 62px;
  width: 62px;
  height: 62px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 7px;
}

.care-icon-one {
  background-image: url(../img/care-icon-one.png);
}

.care-icon-thue {
  background-image: url(../img/care-icon-thue.png);
}

.care-icon-three {
  background-image: url(../img/care-icon-three.png);
}

.care-icon-four {
  background-image: url(../img/care-icon-four.png);
}

.care-subtitle {
  font-size: 17px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #1b1e46;
  margin-top: -1px;
  margin-bottom: 5px;
  letter-spacing: 0.2px;
}

.care-subtitle:after {
  margin-top: 3px;
  content: '';
  display: block;
  height: 1px;
  width: 187px;
  background-color: #cba6c3;
}

.care-text {
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 1.75;
  letter-spacing: 0.2px;
  max-width: 950px;
}

.contacts {
  margin-top: 100px;
}

.contacts-title {
  font-size: 26px;
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  color: #353866;
  text-transform: uppercase;
}

.contacts-map {
  width: 100%;
  height: 500px;
}

.contacts-list {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-item {
  margin-right: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contacts-item:last-child {
  margin-right: 0;
}

.contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts-picture {
  margin-right: 15px;
}

.contacts-icon {
  display: inline-block;
  min-width: 26px;
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts-icon-one {
  background-image: url(../img/contacts-icon-one.png);
}

.contacts-icon-thue {
  background-image: url(../img/contacts-icon-thue.png);
}

.contacts-text {
  margin: 0;
  line-height: 1.75;
}

.contacts-tel {
  margin: 0;
  font-size: 16px;
}

.contacts-tel-link {
  color: #353866;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contacts-tel-link:hover, .contacts-tel-link:focus {
  border-bottom: 1px solid #353866;
}

.contacts-mail {
  margin: 5px 0 0 0;
}

.contacts-mail-link {
  color: #353866;
  text-decoration: none;
  border-bottom: 1px solid #9a9bb2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contacts-mail-link:hover, .contacts-mail-link:focus {
  border-bottom: 1px solid transparent;
}

.feedback {
  margin-top: 60px;
}

.feedback-title {
  font-size: 26px;
  font-family: "Raleway-Medium", Arial, Helvetica, sans-serif;
  color: #353866;
  text-transform: uppercase;
}

.feedback-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px -18px;
}

.feedback-item {
  width: calc(50% - 36px);
  margin: 10px 18px;
}

.feedback-item-full {
  width: 100%;
}

.feedback-field {
  border-width: 1px;
  border-color: #cba6c3;
  border-style: solid;
  background-color: white;
  width: 100%;
  height: 37px;
  padding: 13px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
}

.feedback-field-area {
  min-height: 85px;
}

.feedback-field::-webkit-input-placeholder {
  color: #a5a5a5;
}

.feedback-field:-ms-input-placeholder {
  color: #a5a5a5;
}

.feedback-field::-ms-input-placeholder {
  color: #a5a5a5;
}

.feedback-field::placeholder {
  color: #a5a5a5;
}

.feedback-btn {
  background-color: #353866;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Raleway-Light", Arial, Helvetica, sans-serif;
  padding: 12px 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.feedback-btn:hover, .feedback-btn:focus {
  background-color: #4a4e86;
}

.feedback-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback .policy {
  width: 270px;
  color: #999999;
  margin-left: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.feedback .policy-icon {
  background-image: url(../img/feedback-policy-icon.png);
}

.feedback .policy-link {
  color: #999999;
}

/* Footer */
.footer {
  padding-top: 30px;
  padding-bottom: 57px;
}

.footer-image {
  margin-bottom: 22px;
}

.footer-descr {
  max-width: 365px;
  line-height: 1.4;
}

.footer-title {
  font-size: 16px;
  font-family: "Raleway-Regular", Arial, Helvetica, sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  margin-top: 12px;
  margin-bottom: 24px;
}

.footer-item {
  margin: 8px 0;
}

.footer-link {
  color: #353866;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer-link:hover, .footer-link:focus {
  border-bottom: 1px solid #353866;
}

.footer-bottom {
  color: #aaabd3;
  font-size: 13px;
  line-height: 1.3;
}

.footer-copy {
  max-width: 400px;
}

.adress {
  line-height: 1.6;
  margin-left: -5px;
}

.adress-item {
  margin-bottom: 17px;
}

.adress-item:last-child {
  margin-bottom: 0;
}

.adress-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.adress-icon {
  display: inline-block;
  min-width: 26px;
  width: 26px;
  height: 26px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 11px;
}

.adress-icon-one {
  background-image: url(../img/footer-icon-one.png);
}

.adress-icon-thue {
  background-image: url(../img/footer-icon-thue.png);
}

.adress-text {
  padding: 0;
  margin: 0;
}

.adress-phone {
  margin: 0;
  padding: 0;
  font-size: 17px;
}

.adress-phone-link {
  color: #353866;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.adress-phone-link:hover, .adress-phone-link:focus {
  border-bottom: 1px solid #9a9bb2;
}

.adress-mail {
  padding: 0;
  margin: 0;
}

.adress-mail-link {
  color: #353866;
  text-decoration: none;
  border-bottom: 1px solid #9a9bb2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.adress-mail-link:hover, .adress-mail-link:focus {
  border-bottom: 1px solid transparent;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  /* Stay in place */
  z-index: 1000;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  text-align: center;
}

.modal.visible {
  display: block;
}

.modal-body {
  display: inline-block;
  background-color: #f9f9f9;
  width: 300px;
  -webkit-box-shadow: 9px 14px 23px 7px rgba(0, 0, 0, 0.09);
          box-shadow: 9px 14px 23px 7px rgba(0, 0, 0, 0.09);
  padding: 20px 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.modal-close {
  position: absolute;
  right: -15px;
  top: -15px;
}

.modal-close-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url(../img/modal-close-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}

.modal-title {
  text-align: center;
  color: #353866;
  font-size: 18px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-item {
  margin: 10px 0;
}

.modal-field {
  font-size: 13px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  padding: 10px 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #dfe0e4;
  width: 100%;
}

.modal-field::-webkit-input-placeholder {
  color: #666666;
}

.modal-field:-ms-input-placeholder {
  color: #666666;
}

.modal-field::-ms-input-placeholder {
  color: #666666;
}

.modal-field::placeholder {
  color: #666666;
}

.modal-more {
  text-align: center;
  margin-top: 28px;
}

.modal-more-btn {
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #cba6c3;
  padding: 12px 25px;
  border: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.modal-more-btn:hover, .modal-more-btn:focus {
  background-color: #d3b7cd;
}

.modal-subtitle {
  margin: 0;
  font-size: 16px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #333333;
}

.modal-subtext {
  font-size: 16px;
  margin: 5px 0 0 0;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  color: #333333;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
  font-family: "OpenSans-Regular", Arial, Helvetica, sans-serif;
  color: #333333;
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  text-align: left;
}

.policy-icon {
  display: inline-block;
  width: 11px;
  height: 15px;
  min-width: 11px;
  background-image: url(../img/policy-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}

.policy-text {
  padding: 0;
  margin: 0;
}

.policy-link {
  color: #333333;
  text-decoration: none;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.policy-link:hover, .policy-link:focus {
  border-bottom: 1px solid transparent;
}
/*# sourceMappingURL=style.css.map */