@media (max-width: 1880px) {
  h2 {
    font-size: 50px;
    line-height: 157px;
    letter-spacing: 2.64232px;
    text-transform: uppercase;
    color: #000000;
  }
  .nav-list {
    font-size: 19px;
  }
  .promo-descr {
    font-size: 30.6501px;
    line-height: 42px;
    color: #000000;
    margin-top: 5px;
  }
  .promo-more {
    margin-top: -6px;
  }
  .promo-more-link {
    font-size: 19px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.314503px;
    text-transform: uppercase;
    color: #000000;
    min-width: 329px;
    padding: 26px 83px;
  }
  .promo-text-up {
    margin-left: 1px;
  }
  .wecan-top {
    padding: 18px 0 18px 20px;
  }
  .wecan-title {
    font-size: 110.432px;
    line-height: 132px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 166px;
  }
  .wecan-decor {
    position: relative;
    top: 16px;
  }
  .wecan-arrow {
    min-width: 105px;
    width: 105px;
    height: 105px;
    background-size: contain;
    top: 11px;
  }
  .wecan-bottom {
    padding: 14px 0 8px 14px;
    letter-spacing: 1.25px;
  }
  .decision {
    margin-top: 37px;
  }
  .decision-item {
    padding: 23px 23px 39px 23px;
  }
  .decision-item:first-child {
    background: #E0ECFF;
  }
  .decision-subtitle {
    font-size: 50px;
    line-height: 157px;
    letter-spacing: 2.64232px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .decision-descr {
    font-size: 24px;
    line-height: 67px;
    text-align: center;
    letter-spacing: 2.64232px;
    color: #000000;
    margin-top: 15px;
  }
  .decision-item:first-child .decision-picture {
    margin-bottom: 23px;
  }
  .where-title {
    font-size: 134px;
    line-height: 160px;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 27px;
  }
  .where-text {
    font-size: 26px;
    line-height: 34px;
    color: #000000;
    padding-left: 12px;
  }
  .where-image {
    width: 130px;
    height: 130px;
  }
  .where-decor {
    width: 310px;
    height: 125px;
    margin-top: 29px;
    margin-left: 88px;
    margin-bottom: 70px;
  }
  .where-subtitle {
    margin-left: 25px;
    font-size: 50px;
    line-height: 67px;
    letter-spacing: 1.34214px;
    text-transform: uppercase;
  }
  .where-subtitle:last-child {
    margin-top: 65px;
    margin-bottom: 6px;
  }
  .where-more {
    margin: 40px 0;
  }
  .where-more-link {
    font-size: 80px;
    line-height: 67px;
    letter-spacing: 1.34214px;
    text-transform: uppercase;
    padding: 112px 0;
  }
  .projects-title {
    font-size: 134px;
    line-height: 140px;
    text-transform: uppercase;
    margin-bottom: 22px;
  }
  .projects-item {
    padding: 50px 40px 39px 40px;
  }
  .projects-item:first-child {
    background: #E0ECFF;
  }
  .projects-name {
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #000000;
  }
  .projects-picture {
    height: 250px;
  }
  .projects-image {
    width: 46%;
  }
  .projects-more-link {
    font-size: 21px;
    line-height: 34px;
  }
  .feedback-title {
    font-size: 134px;
    line-height: 129px;
    letter-spacing: 2.64232px;
  }
  .feedback-descr {
    font-size: 26px;
    line-height: 34px;
    color: #000000;
    padding-bottom: 0;
  }
  .feedback-right {
    padding-left: 100px;
  }
  .feedback-name {
    font-size: 26px;
    line-height: 34px;
  }
  .feedback-item {
    margin: 5px 0 10px 0;
  }
  .feedback-link {
    font-size: 51px;
    line-height: 34px;
  }
  .footer {
    padding: 20px 0 15px 0;
    overflow: hidden;
  }
  .footer-decor {
    bottom: -110px;
    left: 14%;
  }
  .footer-logo {
    max-width: 320px;
    width: 100%;
    margin-right: 19px;
  }
  .footer-copy {
    margin-top: 18px;
  }
  .footer-copy-text {
    font-size: 14px;
    line-height: 34px;
    top: -2px;
  }
}

@media (max-width: 1420px) {
  h2 {
    font-size: 35px;
    line-height: 157px;
    letter-spacing: 2.64232px;
  }
  .promo-descr {
    font-size: 21.65px;
    line-height: 42px;
    margin-top: 13px;
    letter-spacing: 0.33px;
  }
  .promo-text-up {
    min-width: 20px;
    width: 20px;
    height: 20px;
    background-size: contain;
    top: 5px;
    position: relative;
  }
  .promo-more {
    margin-top: 0px;
  }
  .wecan-top {
    padding-top: 0;
    padding-bottom: 0;
  }
  .wecan-decor {
    min-width: 213px;
    width: 213px;
    height: 87px;
    background-size: contain;
    margin-left: 0;
    margin-right: 0px;
  }
  .wecan-title {
    font-size: 74px;
    line-height: 113px;
    margin-top: 164px;
    margin-bottom: 33px;
  }
  .wecan-arrow {
    min-width: 84px;
    width: 84px;
    height: 84px;
    top: 18px;
    margin-left: 36px;
  }
  .wecan-bottom {
    padding-top: 6px;
    padding-bottom: 7px;
  }
  .decision-title {
    margin: 5px 0 0px 0;
    line-height: 68px;
  }
  .decision-subtitle {
    font-size: 40px;
    line-height: 24px;
    letter-spacing: 2.64232px;
    margin-bottom: 116px;
  }
  .decision-picture {
    margin-bottom: 64px;
  }
  .decision-image {
    width: 250px;
  }
  .decision-descr {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2.64232px;
  }
  .decision-item {
    padding: 23px 23px 22px 23px;
  }
  .decision-item:first-child .decision-picture {
    margin-bottom: 61px;
  }
  .where-title {
    font-size: 74px;
    line-height: 90px;
    padding-bottom: 11px;
    width: 60%;
  }
  .where-text {
    font-size: 20px;
    line-height: 27px;
  }
  .where-decor {
    width: 280px;
    margin-top: 22px;
    margin-left: 75px;
    margin-bottom: 73px;
  }
  .where-subtitle {
    font-size: 38px;
    line-height: 54px;
    letter-spacing: 1.34214px;
    margin-left: 12px;
  }
  .where-subtitle:last-child {
    margin-top: 54px;
    margin-bottom: 10px;
  }
  .where-more {
    margin: 19px 0;
  }
  .where-more-link {
    font-size: 50px;
    line-height: 67px;
    letter-spacing: 1.34214px;
    padding: 56px 0;
  }
  .projects-title {
    font-size: 74px;
    line-height: 90px;
    margin-top: 17px;
    margin-bottom: 12px;
    padding-top: 0;
  }
  .projects-item {
    padding: 32px 20px;
  }
  .projects-name {
    font-size: 20px;
    line-height: 34px;
  }
  .projects-image {
    width: 70%;
  }
  .projects-more-decor {
    top: 4px;
  }
  .projects-more-text {
    font-size: 16px;
    line-height: 34px;
  }
  .feedback-title {
    font-size: 74px;
    line-height: 39px;
    letter-spacing: 4.2px;
  }
  .feedback-picture {
    margin-top: 64px;
    margin-bottom: 45px;
    text-align: center;
  }
  .feedback-descr {
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 15px;
  }
  .feedback-right {
    padding-left: 84px;
    padding-top: 150px;
  }
  .feedback-list {
    margin-top: 17px;
  }
  .feedback-name {
    font-size: 20px;
    line-height: 34px;
  }
  .feedback-link {
    font-size: 40px;
    line-height: 34px;
  }
  .footer {
    padding: 20px 0 0 0;
  }
  .footer-logo {
    width: 290px;
  }
  .footer-decor {
    left: -14%;
  }
}
/*# sourceMappingURL=media.css.map */