@media(max-width: 1880px) {
    h2 {
        font-size: 50px;
        line-height: 157px;
        letter-spacing: 2.64232px;
        text-transform: uppercase;
        color: #000000;
    }
    .nav {
        &-list {
            font-size: 19px;
        }
    }
    .promo {
        &-descr {
            font-size: 30.6501px;
            line-height: 42px;
            color: #000000;
            margin-top: 5px;
        }
        &-more {
            margin-top: -6px;
            &-link {
                font-size: 19px;
                line-height: 15px;
                text-align: center;
                letter-spacing: 0.314503px;
                text-transform: uppercase;
                color: #000000;
                min-width: 329px;
                padding: 26px 83px;
            }
        }
        &-text {
            &-up {
                margin-left: 1px;
            }
        }
    }
    .wecan {
        &-top {
            padding: 18px 0 18px 20px;
        }
        &-title {
            font-size: 110.432px;
            line-height: 132px;
            text-transform: uppercase;
            color: #000000;
            margin-top: 166px;
        }
        &-decor {
            position: relative;
            top: 16px;
        }
        &-arrow {
            min-width: 105px;
            width: 105px;
            height: 105px;
            background-size: contain;
            top: 11px;
        }
        &-bottom {
            padding: 14px 0 8px 14px;
            letter-spacing: 1.25px;
        }
    }
    .decision {
        margin-top: 37px;
        &-item {
            padding: 23px 23px 39px 23px;
            &:first-child {
                background: #E0ECFF;
            }
        }
        &-subtitle {
            font-size: 50px;
            line-height: 157px;
            letter-spacing: 2.64232px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        &-descr {
            font-size: 24px;
            line-height: 67px;
            text-align: center;
            letter-spacing: 2.64232px;
            color: #000000;
            margin-top: 15px;
        }
        &-item {
            &:first-child .decision-picture {
                margin-bottom: 23px;
            }
        }
    }
    .where {
        &-title {
            font-size: 134px;
            line-height: 160px;
            text-transform: uppercase;
            color: #000000;
            padding-bottom: 27px;
        }
        &-text {
            font-size: 26px;
            line-height: 34px;
            color: #000000;
            padding-left: 12px;
        }
        &-image {
            width: 130px;
            height: 130px;
        }
        &-decor {
            width: 310px;
            height: 125px;
            margin-top: 29px;
            margin-left: 88px;
            margin-bottom: 70px;
        }
        &-subtitle {
            margin-left: 25px;
            font-size: 50px;
            line-height: 67px;
            letter-spacing: 1.34214px;
            text-transform: uppercase;
            &:last-child {
                margin-top: 65px;
                margin-bottom: 6px;
            }
        }
        &-more {
            margin: 40px 0;
            &-link {
                font-size: 80px;
                line-height: 67px;
                letter-spacing: 1.34214px;
                text-transform: uppercase;
                padding: 112px 0;
            }
        }
    }
    .projects {
        &-title {
            font-size: 134px;
            line-height: 140px;
            text-transform: uppercase;
            margin-bottom: 22px;
        }
        &-item {
            padding: 50px 40px 39px 40px;
            &:first-child {
                background: #E0ECFF;
            }
        }
        &-name {
            font-size: 26px;
            line-height: 34px;
            text-align: center;
            color: #000000;
        }
        &-picture {
            height: 250px;
        }
        &-image {
            width: 46%;
        }
        &-more {
            &-link {
                font-size: 21px;
                line-height: 34px;
            }
        }
    }
    .feedback {
        &-title {
            font-size: 134px;
            line-height: 129px;
            letter-spacing: 2.64232px;
        }
        &-descr {
            font-size: 26px;
            line-height: 34px;
            color: #000000;
            padding-bottom: 0;
        }
        &-right {
            padding-left: 100px;
        }
        &-name {
            font-size: 26px;
            line-height: 34px;
        }
        &-item {
            margin: 5px 0 10px 0;
        }
        &-link {
            font-size: 51px;
            line-height: 34px;
        }
    }
    .footer {
        padding: 20px 0 15px 0;
        overflow: hidden;
        &-decor {
            bottom: -110px;
            left: 14%;
        }
        &-logo {
            max-width: 320px;
            width: 100%;
            margin-right: 19px;
        }
        &-copy {
            margin-top: 18px;
            &-text {
                font-size: 14px;
                line-height: 34px;
                top: -2px;
            }
        }
    }
}
@media(max-width: 1420px) {
    h2 {
        font-size: 35px;
        line-height: 157px;
        letter-spacing: 2.64232px;
    }
    .promo {
        &-descr {
            font-size: 21.65px;
            line-height: 42px;
            margin-top: 13px;
            letter-spacing: 0.33px;
        }
        &-text {
            &-up {
                min-width: 20px;
                width: 20px;
                height: 20px;
                background-size: contain;
                top: 5px;
                position: relative;
            }
        }
        &-more {
            margin-top: 0px;
        }
    }
    .wecan {
        &-top {
            padding-top: 0;
            padding-bottom: 0;
        }
        &-decor {
            min-width: 213px;
            width: 213px;
            height: 87px;
            background-size: contain;
            margin-left: 0;
            margin-right: 0px;
        }
        &-title {
            font-size: 74px;
            line-height: 113px;
            margin-top: 164px;
            margin-bottom: 33px;
        }
        &-arrow {
            min-width: 84px;
            width: 84px;
            height: 84px;
            top: 18px;
            margin-left: 36px;
        }
        &-bottom {
            padding-top: 6px;
            padding-bottom: 7px;
        }
    }
    .decision {
        &-title {
            margin: 5px 0 0px 0;
            line-height: 68px;
        }
        &-subtitle {
            font-size: 40px;
            line-height: 24px;
            letter-spacing: 2.64232px;
            margin-bottom: 116px;
        }
        &-picture {
            margin-bottom: 64px;
        }
        &-image {
            width: 250px;
        }
        &-descr {
            font-size: 16px;
            line-height: 27px;
            text-align: center;
            letter-spacing: 2.64232px;
        }
        &-item {
            padding: 23px 23px 22px 23px;
            &:first-child .decision-picture {
                margin-bottom: 61px;
            }
        }
    }
    .where {
        &-title {
            font-size: 74px;
            line-height: 90px;
            padding-bottom: 11px;
            width: 60%;
        }
        &-text {
            font-size: 20px;
            line-height: 27px;
        }
        &-decor {
            width: 280px;
            margin-top: 22px;
            margin-left: 75px;
            margin-bottom: 73px;
        }
        &-subtitle {
            font-size: 38px;
            line-height: 54px;
            letter-spacing: 1.34214px;
            margin-left: 12px;
            &:last-child {
                margin-top: 54px;
                margin-bottom: 10px;
            }
        }
        &-more {
            margin: 19px 0;
            &-link {
                font-size: 50px;
                line-height: 67px;
                letter-spacing: 1.34214px;
                padding: 56px 0;
            }
        }
    }
    .projects {
        &-title {
            font-size: 74px;
            line-height: 90px;
            margin-top: 17px;
            margin-bottom: 12px;
            padding-top: 0;
        }
        &-item {
            padding: 32px 20px;
        }
        &-name {
            font-size: 20px;
            line-height: 34px;
        }
        &-image {
            width: 70%;
        }
        &-more {
            &-decor {
                top: 4px;
            }
            &-text {
                font-size: 16px;
                line-height: 34px;
            }
        }
    }
    .feedback {
        &-title {
            font-size: 74px;
            line-height: 39px;
            letter-spacing: 4.2px;
        }
        &-picture {
            margin-top: 64px;
            margin-bottom: 45px;
            text-align: center;
        }
        &-descr {
            font-size: 20px;
            line-height: 27px;
            color: #000000;
            margin-bottom: 15px;
        }
        &-right {
            padding-left: 84px;
            padding-top: 150px;
        }
        &-list {
            margin-top: 17px;
        }
        &-name {
            font-size: 20px;
            line-height: 34px;
        }
        &-link {
            font-size: 40px;
            line-height: 34px;
        }
    }
    .footer {
        padding: 20px 0 0 0;
        &-logo {
            width: 290px;
        }
        &-decor {
            left: -14%;
        }
    }
}
@media(max-width: 992px) {

}